[2017-01-16 15:08] AndyScherzinger commented on #542
No worries @mario, happy to answer any questions and help out with whatever I can 👍

[2017-01-16 15:09] AndyScherzinger commented on #543
Sounds great! :)
As I mentioned Tobias is probably he best to talk to since he implemented the first iteration.

[2017-01-16 15:16] michalmiddleton commented on #110
@AndyScherzinger I too can confirm that HDR pretty much breaks the upload. My Nexus 6P is set to Auto for both the Flash and HDR. Pretty much every time I take a picture indoors, the phone chooses HDR over Flash and the picture never gets uploaded. I had to switch to upload via Google Photos and mount my GDrive via NC external storage :-(

[2017-01-16 15:47] AndyScherzinger commented on #110
@michalmiddleton yeah I also suffer from the HDR issue with my Nexus5X but haven't found the time to further investigate how to properly handle this Google post-processing magic and what happens on the file system...

[2017-01-16 18:14] tobiasKaminsky commented on #543
@mario thank you for your help and finding this bug.
With "working on search this meek" you mean filtering the file list? Search, at least in our term, is searching across all folders for a specific query.

[2017-01-16 18:24] mario commented on #543
@tobiasKaminsky search doesn't seem to work that way at the moment (aka it only filters current directory, and it doesn't even do a good job at that (several instances of the same file are shown). I am working on making it:

a) perform better, as it's really slow right now since on every char it re-queries
b) actually perform the search across all directories
c) various other search improvements

[2017-01-16 23:34] xraMsamohT commented on #539
This is only interesting for admins. No user needs this. This should be developed in a separate app.

[2017-01-17 01:22] eleith commented on #110
my camera defaults to HDR. I can switch it to non HDR, but the default can't be changed.

however, I do still find that some non HDR photos also don't back up. I've tried to reproduce, but it seems very inconsistent. perhaps the camera still post process the photos every now and then.

I'll wait till logging is enabled on non beta builds to further debug. but for now, I will resort to manually bac

[2017-01-17 03:30] Ertain commented on #533
I have found this behavior, too. I'm also using the NextCloud app version 1.4.0 on Android 6.0.1 (on a Nexus 7 tablet), and I can't delete the local files, either.

[2017-01-17 05:36] AndyScherzinger commented on #533
Does this also happen with 1.4.1 RCs?

[2017-01-17 06:09] Ertain commented on #533
I tried a recent version (a daily build) and it did work. FYI, the build was from January 11.

[2017-01-17 09:36] AndyScherzinger commented on #533
@Ertain daily build as in ```master``` branch or the ```beta``` ?

[2017-01-17 10:32] AndyScherzinger commented on #527
Yes, I can confirm this, looking into the app's log it shows like suggested, the app doesn't like the 302 and runs into an endless loop:
[code]

[2017-01-17 14:15] jancborchardt commented on #542
You’re added, welcome @mario! :) After accepting the invite, also make sure to set your visibility from Private to Public at https://github.com/orgs/nextcloud/people

[2017-01-17 14:15] #542 closed

[2017-01-17 14:16] mario commented on #542
So kind of you @jancborchardt! :)

[2017-01-17 14:17] jancborchardt opened #546 "Loading spinner shown when viewing photo and rotating landscape/portrait"
Open a photo and then rotate your phone. Instead of a smooth rotation, there is a black screen with a loading spinner.

Can we do this more elegantly by just doing a nice quick rotation animation like the default Gallery app?

[2017-01-17 14:47] jancborchardt commented on #542
@mario well, awesome to have you on board! :rocket:

[2017-01-17 15:09] Ertain commented on #533
I think it's `beta`; I got it off of F-Droid, and the app was marked as `beta`.

[2017-01-17 16:24] AndyScherzinger commented on #533
Ah. Well the beta is a second app sharing the same code basis but includes all feature complete changes (in review, not fully tested, etc.) and can be installed in parallel. So the info can't give a hint if the 1.4.1 RC fix for deletions is working since other changes might have fixed it for you ;)
As I said, you could also install the stable/RC too right next to it (should activate instant upload

[2017-01-17 16:53] gibbon-joel commented on #462
Reinstalling the app and deleting all data does not help either. The camera DCIM folder is watched correctly but not uploaded. ALL other selected folders are.

[2017-01-17 17:37] Ertain commented on #533
I can try that, though where can I get it, exactly?

[2017-01-17 17:57] joseandroidengineer commented on #532
I've worked with adding fingerprint features so I'll give it a whirl!

[2017-01-17 19:08] boden commented on #462
Can confirm the issue on Android 7.1.1, Nexcloud App 1.4.0, and Nextcloud Server 11.0.0.

[2017-01-17 21:53] AndyScherzinger commented on #533
Also on f-droid :)
https://f-droid.org/repository/browse/?fdfilter=Nextcloud&fdid=com.nextcloud.client

[2017-01-17 21:54] AndyScherzinger commented on #532
Sounds awesome @joseandroidengineer!

[2017-01-17 22:02] AndyScherzinger commented on #462
There is an issue and it seems to depend on the camera app. :(
On my Nexus 5X I see the same issues but haven't found the source as in what the camera app does on a file system level that prevents the implementation to work proper. Two issues I see are taking pictures very fast or activating HDR processing. Both lead to photos not being detected.

[2017-01-17 22:28] elpraga commented on #533
It didn't install in my case. It just ended up with a message "application not installed". It was going to update the 1.4.0 from play store, but it didn't go through

Unfortunately I don't have time today to uninstall the app and regenerate all the application codes..

[2017-01-17 23:13] AndyScherzinger commented on #533
@elpraga you can alternatively join the beta program on Google Play which unlocks the RCs and is not linked to "real"  beta!

[2017-01-17 23:27] Ertain commented on #533
As I mentioned, I used the `beta` version on F-Droid, and that version worked for me.

[2017-01-18 00:03] elpraga commented on #533
@AndyScherzinger , just joined the beta program on Google play, and I can confirm that on 1.4.1 RC3 deletes files correctly as expected.

Do I understand it correctly that the beta program on Google play receives RCs? In your opinion is it reliable enough for everyday use or would you rather recommend going back to the stable?

[2017-01-18 00:03] #533 closed

[2017-01-18 00:23] elpraga opened #548 "Idea for enhancement: add native tag manipulation"
Native tagging system could be much more useful if tags could be searched and edited from the phone app. It would be great especially for managing photos as currently gallery cannot use tags and the previews in list view are really small. Even more so, one could use spare idle times like riding on a bus to organize all photos (especially with beta app and it's great previews)

It could also be the

[2017-01-18 00:26] elpraga commented on #540
@FalcoSK the beta app (downloadable [here](https://github.com/nextcloud/android/tree/beta/apks) ) already has this functionality and it works great. You can even pinch zoom to change the thumbnail sizes..

[2017-01-18 05:38] eleith commented on #110
as a workaround, I am able to confirm that FolderSync on Android properly auto uploads all photos including HDR photos (at least for my test of three photos)

fyi: their instant sync option is only available on their pro version.

the nextcloud UI is much more intuitive but FolderSync does seem to work and has a few neat features that are worth exploring.

[2017-01-18 10:16] AndyScherzinger commented on #533
@elpraga yes, the Google beta program just ships stable and RCs.
Usually I'd say the RCs are rather stable but the RCs give us the opportunity to tackle the fragmentation is as in number of different devices/Android-versions/Server-versions/setups which we can't test ourselves. Sometimes there are issues like we had in RC1 and also in early RCs of 1.4.0. Postive thing is that if the stable has bug

[2017-01-18 10:22] AndyScherzinger commented on #540
Like @elpraga mentioned it is available in the beta version, implementation is covered by #69 which still has some issue regarding thumbnail proportions coming from the server side.

[2017-01-18 10:22] #540 closed

[2017-01-18 10:47] elpraga commented on #533
Thank you for explaining Andy! I'll try to stay in beta program and help some of the bugs squeeze.

[2017-01-18 11:42] xadox-1st opened #549 "Upload missing Videos & Photos if WLAN near."
### Actual behaviour
-Actually uploading is only enabled while in WLAN for me. Pictures taking without WLAN will never be uploaded.

### Expected behaviour
-Some kind of sync. So all not already uploaded photos will be uploaded when again in WLAN.

### Environment data
Android version: 6.0 EMUI 4.1.1
Device model: Huawei P9 Lite
Nextcloud app version: 1.4.0
Nextcloud server version: 10.?

[2017-01-18 20:03] AndyScherzinger opened #551 "Ham"
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]

[2017-01-18 20:15] #551 closed

[2017-01-18 21:01] mabkenar commented on #53
@jancborchardt

Let's make this happen step by step, since this important UX issue is not fixed after a long time.

**What does not work:**
- It seems that making a list of providers and selecting 3 top ones is too complicated; there are too many things to consider for selecting the top 3, and at the end some providers will always be angry.
- The welcome screen (as it stands [right now](https://gi

[2017-01-18 21:16] mabkenar opened #552 "In the welcome screen "multi account" is overkill for a new user"
### Actual behaviour
-In the welcome screen (the screen that shows up the first time user runs Nextcloud client) there is a slide for "Multi account: Connect all your clouds", here:
![934e1d90-b1cc-11e6-8d56-df271352b9c3](https://cloud.githubusercontent.com/assets/3006332/22083118/f2b48fe2-ddca-11e6-82a7-78808da0ee0f.png)

### Expected behaviour
- This is supposed to be an introduction for someone

[2017-01-18 21:22] przybylski commented on #552
Welcome screen is suppose to introduce to the app, not the nextcloud as a whole.

[2017-01-18 21:27] przybylski commented on #520
This is inherited from owncloud and "by design", I had my concerns when this was introduces so maybe it is a good idea to go and change this

[2017-01-18 21:28] mabkenar commented on #552
Oh I see. That's a good point, since you also plan to use the welcome screen to notify the user when a new important feature is added to the client.
Still, multi user is not one of the first things a new user should learn, in my opinion. This silde could be simply removed, or be replaces with something else, like a hint for the user to find (or set up) a server (see [here](https://github.com/nextc

[2017-01-18 23:23] jancborchardt commented on #53
@mabkenar great idea! :+1: The only thing I would change is adjust the button label and maybe place it elsewhere because otherwise it seems like a »locate server« button which is an action on the server address you put in.

How about saying in the footer:

That’s similar to how other proprietary apps do it. cc @AndyScherzinger @tobiasKaminsky @jospoortvliet what do you think? It’s way better than

[2017-01-18 23:29] jancborchardt commented on #552
This is actually a really good point. While for us multi-account is pretty useful, the majority of people will mainly have one account.

@tobiasKaminsky @AndyScherzinger @eppfel what do you think? 3 slides:
1. A safe home for all your data
2. Instant upload
3. Log in

Quick and no frills

[2017-01-18 23:32] jancborchardt opened #553 "Future vision for instant upload"
When we look at iOS with iPhoto and iCloud for example, it becomes very clear that instant upload is basically a hack to one-way push the photos from your mobile phone onto your computer.

But what happens if you modify them on the computer?

What you really want is simple two-way-sync. Hook up the pictures once and then it’s just all synced. How can we achieve that @nextcloud/android? Anything wi

[2017-01-18 23:49] eppfel commented on #53
This is a quick win and should be done, before we discuss anything more complex.

[2017-01-19 00:15] AndyScherzinger commented on #553
No implementation done yet, but two way sync is part of the auto upload Roadmap #285

[2017-01-19 05:07] MorrisJobke commented on #411
I also run into this and I can verify that 1.4.0 is broken and the 1.4.1 RC3 fixes this. 👍

[2017-01-19 08:04] przybylski commented on #552
How about:
1. A safe home for all your data
2. Auto upload
3. Deep system integration
?

[2017-01-19 08:46] eppfel commented on #552
I am not too attached to this one...

But I feel 3 intro slides is just about right and the login is not an intro slide, it's mandatory. ..and the "skip" button exists for a reason.

If there are new features we want to promote in the next version, I am happy to make new slides and then we can replace multi account first.

Another thing @nextcloud/android : Can we trigger these slides after an upd

[2017-01-19 08:49] mario commented on #552
In my opinion, the best way would be if NC could expose a simple endpoint which would return few lines of changelog (including the images), and we could pull those automatically once the NC on the server is updated.

As for the welcome screen itself on the first run - it has its benefits, but maybe in a form different than what it is now.

@eppfel as for your last question - if I remember correctl

[2017-01-19 08:54] eppfel commented on #553
So, you want to sync the photos back into the Android file system (outside of the internal Nextcloud folder storage)? I think your Apple use case does not apply to Android, because for editing, Apple provides software on both ends, iOS and maOS, and mirror the editing capabilities.

I would be furios, if my "originals" would be overwritten, but we have to think about "new" edited photos placed in

[2017-01-19 09:07] eppfel commented on #552
Changelog was discussed before and we decided against it (and I would argue against it again) Anyone has the issue number?

The Whats new/intro screen, is really for the arbitrary non-technical user, so he does not have to dive deep into the app to discover new functionality or we want to inform changes in the workflow of the app to ease the transition, e.g. moving the "on your device" to a filter

[2017-01-19 09:12] mario commented on #552
@eppfel changelog endpoint would allow us to create the what's new/intro slides dynamically rather than changing the code every time we have to update them - but if you've already talked about it and decided against it, then I apologize.

Maybe an intro screen would show a way how to achieve most common operations rather than show features themselves? Can still be a image/text combo, but with some

[2017-01-19 09:23] przybylski commented on #552
That's the way I wrote it :)

[2017-01-19 09:28] przybylski commented on #552
I feel this discussion is beyond the scope of this issue

[2017-01-19 10:06] eppfel commented on #552
No need to apologize. This should not sound harsh :sweat_smile: Just wanted to mention it. Maybe you have something new to add. Just did not want to repeat it.

I am absolutely with you on this one. 👍 That's what I aimed at (but not completely succeeded) with the redesign: to mimic the actual UI.

[2017-01-19 10:38] mario opened #554 "User information screen"
I would like to implement the read-only user information (phone, email, etc) screen. (as far as I understand, there's no way to update most of the data via API, but please let me know if I'm wrong).

My suggestion for changes:

- Under Manage account remove "Reconnect" (or the key icon, this option is not straightforward btw) and the trash icon
- Once you click the name of the account, you get a u

[2017-01-19 10:44] mario opened #555 "Dynamic menu items"
Capabilities API would expose menu items to be added to the sidebar. The menu items would simply open a web page, and the API would expose title and the URL - but @MorrisJobke probably knows a bit more about this than I do.

While I will have an issue regarding sidebar menu redesign, in the current design the links would probably go between uploads and settings.

Involving @nextcloud/designers tea

[2017-01-19 10:51] mario opened #556 "Sidebar menu redesign"
I am aware of the ongoing discussion regarding the menu redesign, and I'm opening this issue to both get an understanding of the current state of things, as well as clarify the new features I need to implement so we can all see how it'd work together.

My suggestion:
- Remove All files and On device from the sidebar menu
- Add a footer on the page with a filter icon in the left corner which would

[2017-01-19 10:51] mabkenar commented on #552
I would say the most non-trivial aspect of Nextcloud for a non-technical user is that the Android client is server-agnostic; That they need to find a server before they can use the app.

@eppfel

I think so too.

My suggestion is:
1. A safe home for all your data
2. **Your data, your rule: Choose from many Nextcloud providers, or use your own server**
3. Instant upload

[2017-01-19 10:56] mario opened #557 "Activity stream"
Basic activity stream implementation should be done without actually linking to files and such in the first iteration - but will include previews.

According to @nickvergessen API for this should be available in v12.

I'd appreciate all input from the @nextcloud/designers team on how the actual screen and items should look like.

@tobiasKaminsky and @AndyScherzinger - you're more than welcome to c

[2017-01-19 10:58] mario opened #558 "File search"
Implement file search which would be similar to what the server frontend does. I'd definitely like to know more about this so involving @MorrisJobke, @tobiasKaminsky and @AndyScherzinger. Feel free to suggest whoever you think can clarify more on the API (endpoints, data to send, returned data) and the requirements of this task.

@nextcloud/designers - I'd appreciate your input and mockups on how

[2017-01-19 11:02] mario opened #559 "Notifications"
Notifications are an important part of a workflow, so I want to implementation notifications screen.
Pulling would be every 5 minutes if there are apps that can generate notifications otherwise we can pull every 2 hours or so. This can, of course, be tweaked later on.

Since we want the user to receive notifications even when app is inactive, I assume we need a service implementation, but @tobiasK

[2017-01-19 11:14] mario commented on #455
@jancborchardt if you have a screenshot of this and a way to reproduce I'd appreciate it! :)

[2017-01-19 12:34] eppfel commented on #552
Could be a bit long. If someone makes the changes and screenshots, I can give feedback. Still low priority to me...

[2017-01-19 12:41] eppfel commented on #554
Yes, I think the account switching duplication came up before somewhere. I totally are for removing this 👍

What was the reconnect option (key) for...? What are the use cases for that? @AndyScherzinger @tobiasKaminsky ?

[2017-01-19 14:13] mabkenar commented on #552
The suggested text is slightly *shorter* than what we already have for the first slide. Compare this:
**A safe home for all your data**
**Access, share & protect your files at home and in your enterprise**
With this:
**Your data, your rule**
**Choose from many Nextcloud providers, or use your own server**

I can happily make a pull request right away, but I don't have resources to build the app an

[2017-01-19 14:14] mabkenar commented on #552
Another thing is graphics. Can you think of a graphics that best represents the idea behind such a slide? I just made a very crude sketch right away [here](https://iffcloud.fz-juelich.de/index.php/s/GbACyTsSYOECxTq) but please don't look at it before you think of your own!

[2017-01-19 14:22] jancborchardt commented on #556
Gooood stuff! :)

So I don’t think this is as radical as you describe it:

- »Home« will just be like the old »All files«. And I’d prefer if we call it »All files« just like we do in the web interface
- Activities, Notifications and Uploads should be one and the same view. The mistake to split them up was made in the desktop client and it’s sooo confusing to have so many views for the same thing:

[2017-01-19 14:23] jancborchardt commented on #554
@mario @eppfel yes, I brought up before that the whole »Manage accounts« flow can be done exclusively in the sidebar. We have two ways in the sidebar alone for switching: 1) clicking the avatars and 2) using the dropdown directly below. In that dropdown list we can also have a settings icon to get to the connection settings and the user profile info.

[2017-01-19 14:26] jancborchardt commented on #552
@mario we decided against a changelog since the small changes are less important. This is a basic one-time intro. No need to implement a big server API part for it just to have it fancy and dynamic if we don’t really need to do it.

@eppfel many apps have the »log in« as part of the intro, basically being the third slide. That’s like 1-2-3, otherwise it’s a fourth step.

[2017-01-19 14:27] jancborchardt commented on #559
It should look exactly like the Activity app on the server. :) That’s your live mockup basically.

[2017-01-19 14:28] mario commented on #556
@jancborchardt hehe. So will "All files" revert to webdav root anyway (because if it is, it's not the same way as currently)? I'm all for having one view for activities, notifications and uploads - but I'd appreciate a mockup of how this should look before I actually start working on this.

Shared - do you have any knowledge about the server side of this? (API and stuff) Maybe @MorrisJobke can she

[2017-01-19 14:28] jancborchardt commented on #558
Regarding interaction design, it should be the same as the search we do right now. But instead of only filtering the current folder (which should of course be prioritized to be very quick) other folders should be searched too. Basically exactly like we do on the server.

[2017-01-19 14:28] mario commented on #559
@jancborchardt understood. The other issue mentions merging uploads, notifications and activities though. (And even on the server, notifications & activities are different)

[2017-01-19 14:31] jancborchardt commented on #559
Basically notifications are a more urgent and often interactive version of an activity. Like someone calls you, you have to pick up. Or an app needs to be updated etc, someone shares a file with you etc.

They are all chronological information. If you need to act upon it (upload error, sync error, you need to accept a share, you need to update something, or pick up a call) they should be shown on

[2017-01-19 14:32] mario commented on #559
@jancborchardt understood. Thanks for the clarification.

[2017-01-19 14:48] nickvergessen commented on #559
Notifications have nothing to do with activities, please ignore that.
Notifications are not chronicle but always urgent and they should also be shown as android notifications. Not hidden in any view (also thinking about multiple accounts on one device), that can be done additionally, but not primarily. Notifications spec matches the HTML notifications spec for exactly this reason. So they can be d

[2017-01-19 16:07] tobiasKaminsky commented on #554
I guess if you want to change your password.

[2017-01-19 16:12] tobiasKaminsky commented on #554
As far as I remember the problem is/was that this list of accounts is from android predefined and cannot be changed. And it is just only a plain list which cannot (easy) be expanded to show all those ideas you have. That was the reason to have the separate account management screen.
(@AndyScherzinger please confirm?)

[2017-01-19 16:13] tobiasKaminsky commented on #554
Is there a API to get the user details?

[2017-01-19 16:21] tobiasKaminsky commented on #558
@jancborchardt two more questions:
- filtering is immediately, but searching should have either a) some delay or b) require user interaction as it is data intensive and maybe not wanted by the user?
- should search also be in the navigation drawer (I think yes, as it promotes this feature).

The search results should show a list with
- name
- folder name
- when clicking on it it should directly op

[2017-01-19 16:23] tobiasKaminsky commented on #558
For server tracking: https://github.com/nextcloud/server/issues/676

[2017-01-19 16:25] tobiasKaminsky commented on #34
Closing in favour of #588

[2017-01-19 16:25] #34 closed

[2017-01-19 16:29] tobiasKaminsky commented on #556
We should rethink this as in the current uploads view you have options like "retry failed", "delete failed", "delete successful", "remove all".
This will conflict with activities/notifications.

[2017-01-19 16:33] tobiasKaminsky commented on #556
the footer of the navigation drawer/sidebar is currently used for displaying the quota (if available)
![screenshot_20170119-173055](https://cloud.githubusercontent.com/assets/5836855/22115463/5bbf61c2-de6d-11e6-88c0-eb387917a1fe.png)

[2017-01-19 16:35] mario commented on #556
@tobiasKaminsky I meant the main screen, not sidebar.

[2017-01-19 16:36] tobiasKaminsky commented on #556
This is an overview issue which should only target the restructure of the navigation drawer. Any questions/ideas regarding the "content" like "Shared" or "Photos" should be taken into a new issue which is then linked to this one

[2017-01-19 16:38] tobiasKaminsky commented on #556
I would not take away space to add a footer. Instead I would put it in the overflow menu (three dots in the upper right corner) as it is an option related to the file list

[2017-01-19 16:39] mario commented on #556
@tobiasKaminsky we can definitely discuss this - I think the menu is becoming overwhelming as-is anyway, and you need somewhere to show how is the list being filtered (and footer is a good place to put it).

[2017-01-19 16:44] tobiasKaminsky commented on #455
Steps to reproduce:
- create a 0byte text file and name it "corrupt.jpg"
- download the file and view it

![screenshot_20170119-174254](https://cloud.githubusercontent.com/assets/5836855/22115844/d752f4e2-de6e-11e6-993a-ea3db935e7d0.png)

[2017-01-19 16:45] tobiasKaminsky commented on #555
What menu entries would be added?
We need to make sure that only important and not too many entries are shown.

[2017-01-19 16:46] mario commented on #555
The user would be able to add the entries on the server side. Including @karlitschek so he can tell us more about this.

[2017-01-19 16:51] tobiasKaminsky commented on #543
This can be closed as we have #558 and your pull request #550 and we can discuss over there.

[2017-01-19 16:51] #543 closed

[2017-01-19 16:56] eppfel commented on #552
So:
first install: 2 + login
Update: max. 3 depending on changes
?

[2017-01-19 17:24] MorrisJobke commented on #555
It's not the user, but the admin. Stuff like "more information about our service" (can be found on the web page and therefore an URL is used here and open the browser from within the app).

The entries can be fully defined by the admin of the instance and should be placed on a fixed position (as in hardcode the position within the Android code) but not at the very end. Maybe after "Uploads" and be

[2017-01-19 17:29] MorrisJobke commented on #556
Correct. 👍

We have an OCS API for all incoming/outgoing shares of an user: https://docs.nextcloud.com/server/12/developer_manual/core/ocs-share-api.html

Yes. I would also like to keep them separate. Uploads is really only relevant for this device and has very little to do with the other activities on the server.

[2017-01-19 17:36] MorrisJobke commented on #554
@schiessle @ChristophWurst  Is there an OCS api for updating this information? Is this documented?

[2017-01-19 17:39] ChristophWurst commented on #554
I don't know, but I can take a look at this if you want :-)

[2017-01-19 18:10] mario commented on #554
@ChristophWurst any and all info is more than appreciated :)

@tobiasKaminsky OCS api docs mention something like /v1/person/self for getting the data.

[2017-01-19 18:16] przybylski commented on #456
But isn't this widely accepted way of presenting png with transparency ? What if I have image with only black shapes on transparent background ?

[2017-01-19 18:35] tobiasKaminsky commented on #456
@jancborchardt means the background if the image is not full sized like here: https://github.com/nextcloud/android/pull/560#issuecomment-273851857

[2017-01-19 20:18] tobiasKaminsky commented on #554
Do we want to update it? I thought this is "just" about showing the infos?

[2017-01-19 20:22] tobiasKaminsky commented on #556
Upload view should stay separate.
But maybe we can combine notification and activity view?

So we need extra issues for
- photo view
- share view

[2017-01-19 20:30] tobiasKaminsky commented on #555
Oh, great stuff.
Is every "self defined" entry just a link, which should be opened as a webview in the app?
Where can I (as an admin) adjust this? (for testing purpose)

[2017-01-19 21:00] MorrisJobke commented on #555
Yes. It's defined as "name and URL". This needs to be developed ;)

[2017-01-19 21:00] MorrisJobke commented on #556
Photo view is basically what we already have: the grid view of photos.

[2017-01-19 21:01] MorrisJobke commented on #554
The current user settings also allow to update them and it seems that the API supports this, but I need to check if this should be updatable.

[2017-01-19 21:02] mario commented on #554
Cool, let me know.

[2017-01-19 21:14] AndyScherzinger commented on #554
Yes, I can confirm that the drawer menu items are Android menu items by Google design/api and thus single action.
To actually change that one would have to implement a completely custom view part for user listing in the drawer which is possible AFAIK.

The key icon is for changing the password.

[2017-01-19 21:18] AndyScherzinger commented on #553
I think a new issue would be best :)

[2017-01-19 21:23] AndyScherzinger commented on #555
Sounds rather easy :)

We already do this for the account menu list, so basically define a menu item group which you populate dynamically based on the server response. While for bandwidth savings there should be some caching though.

[2017-01-19 22:11] przybylski commented on #537
There might be a couple of reasons for this. Most probable is that there isn't enough space on the sd card.
Can you provide device logs for this issue ?

[2017-01-19 22:31] przybylski commented on #518
There are few way to optimize it.
1) In grid adapter, for each cell, include information on whether or not the image is currently downloaded. If it is, then stop the downloading task and start a new one.
2) Do downloading task cleanup when leaving folder
3) Set priority on HttpClient

small discussion:

1 & 2 might work to optimize user experiance but stopping download task will increase network t

[2017-01-19 22:44] ruvashev commented on #537
hi Bartosz,

thanks for looking into that!

please find logs attached.
I have enough space (128GB sd card).
![_20170119_174246 jpg](https://cloud.githubusercontent.com/assets/952468/22128490/d938b26a-de6e-11e6-9943-f1a85fc1e298.jpeg)
[currentLog.txt](https://github.com/nextcloud/android/files/717969/currentLog.txt)

Is there anything i can enable/do to trace the application (debug traces?)?

Great

[2017-01-19 22:55] przybylski commented on #537
Hi Ruslan,

Those are logs from server. In order to understands whats going on I would need device logs. Are you able to provide those?

[2017-01-19 22:57] przybylski commented on #537
You can get logs by using logcat tool
https://developer.android.com/studio/command-line/logcat.html

[2017-01-20 08:35] eppfel commented on #559
@nickvergessen Although notifications have to be handled differently, than activities, it is questionable to give them their own View in the app or even a sidebar item.
In #556 we discuss to combine the notifications into the activity stream. I actually think, when we integrate the notifications in Android natively, is there still the need to show them in any view? inside the App? Choosing to act

[2017-01-20 08:37] eppfel commented on #556
In #559 I propose to ditch a notifications from any view inside the app.

[2017-01-20 08:59] eppfel commented on #558
Actually, when I open files, there is a nice search icon beside the three dot menu. This is most prominent. IMO no need for cluttering the sidebar with another option.

---

@mario in #556 :

I would rather introduce a second bar on the top, than a footer for this. And we have to think about the amount of filters, because I fear we won't fit them horizontally anyway.

Do we need a dedicated issue

[2017-01-20 09:03] eppfel commented on #556
The Android sidebar is not similar to the files sidebar in the web application (Participate, Activity, dynamic menu item, ...) . All the option in the files web app will/should be filters, inside "All files". Therefore I think we should call it, just "Files".

[2017-01-20 09:27] mario commented on #542
@jancborchardt @LukasReschke doesn't look like I can push still.

[2017-01-20 09:35] AndyScherzinger commented on #542
You should be able, since you are am member. 0_o
Do you push to a branch? (because master is protected and pushes are prohibited to master)

[2017-01-20 09:38] mario commented on #542
@AndyScherzinger

git push --set-upstream origin bugfix-454
remote: Permission to nextcloud/android.git denied to mario.
fatal: unable to access 'https://github.com/nextcloud/android.git/': The requested URL returned error: 403

As far as I'm aware, this should push the branch.

[2017-01-20 09:41] AndyScherzinger commented on #542
Hmmm, I just checked the settings:

So since you are a member of the organization, you should be able to?!

[2017-01-20 10:15] mario commented on #542
@AndyScherzinger I'll double check, maybe I've just done something silly.

[2017-01-20 11:19] nickvergessen commented on #559
Yeah, that's what I ment. It should be in the notification itself, and then you don't need to combine it with anything. I just wanted to point out, that the current desktop implementation is a very bad example.

[2017-01-20 11:41] heyiswas commented on #549
Same here (same device and version). Nextcloud Server is v11.

[2017-01-20 11:44] jcgruenhage commented on #303
I just read a bit more about this, if I understand [this](https://medium.com/google-developers/building-a-documentsprovider-f7f2fb38e86a#.csijwrxin) correctly, then these steps are still needed:

- [ ] Supporting writing to files that are opened with `openDocument(..)`, this requires:
  - [ ] Changing the parcel file descriptor mode from read only to read/write.
  - [ ] Implementing a listener, th

[2017-01-20 12:08] tobiasKaminsky commented on #558
Yes please!
Please always only one topic per issue (and later also only one issue per PR).

[2017-01-20 12:17] tobiasKaminsky commented on #559
As an example "Incoming call: open spreed.me". Does the notification has all the informations that our app can handle the notification correctly? Or do we have to "parse" every notification and handle them individually?

[2017-01-20 12:20] tobiasKaminsky commented on #303
Those will change if it is necessary.

Not planned currently.

[2017-01-20 12:24] jcgruenhage commented on #303
Okay, thanks for the info ^^

[2017-01-20 12:26] eppfel opened #563 "Add filter functionality and UI"
As discussed in the sidebar menu redesign: #556 and the search #558 , we need to implement a powerful filter into the Android App.
The following filters came up, so far:

- [ ] "on your device" (to get rid of the menu item/view and integrate as a filter)
- [ ] By Media / file format
  - [ ] photos for a starter

We have to come up with a plan how to integrate filters in the UI.

[2017-01-20 12:26] eppfel commented on #563
The straightforward solution would be the 3-dot menu, but that is too hidden.

@mario proposed a footer  #556 :

I would rather introduce a second bar on the top, than a footer for this. And we have to think about the amount of filters, because I fear we won't fit them horizontally anyway.

[2017-01-20 12:26] eppfel commented on #563
And maybe this needs a stronger integration into the search functionality.

[2017-01-20 12:29] eppfel commented on #563
Discussion on sort is in #340

[2017-01-20 12:32] mario commented on #559
What worries me is ... since we have to pull, things like incoming call won't really work as expected (worst case, you'll get notification 5 minutes after someone called you).

[2017-01-20 12:32] eppfel commented on #563
UI consideration have to include landscape mode (#38)

[2017-01-20 12:34] mario commented on #563
@eppfel search api on the server should definitely include all the filtering options we want in the app.

[2017-01-20 12:36] eppfel commented on #563
Yes, sry. I meant "integration" from UI point of view....

[2017-01-20 12:54] mario commented on #542
Nevermind, for some reason HTTPS pushes don't work so I've switched to to SSH ones.

[2017-01-20 13:20] nickvergessen commented on #559
Yeah don't be worried, we are discussing this atm.

[2017-01-20 14:03] AndyScherzinger commented on #542
Glad to hear it is working not, weird though since I always do HTTPS.

[2017-01-20 15:37] tobiasKaminsky opened #567 "Photo view"
As mentioned here (https://github.com/nextcloud/android/issues/556#issuecomment-273897162) I want to clarify the photo view.
This is how I understood it:
Directly show a grid view with only photos

my open questions are:
- the hierarchy of the folders is still visible? So photos and folders are shown
- what about videos?
- is the grid view hard wired? or can the user switch back to list view? (I a

[2017-01-20 15:49] tobiasKaminsky commented on #518
Workflow of creating thumbnail is:
- is it in cache and not modified? -> display
 - is file downloaded? create thumbnail locally and add to cache
 - else download via thumbnail api and store it in cache

Thumbnails are generated only for the visible items. If you scroll fast while generating/downloading thumbnails the process will be killed

what do you mean with 2?

for 3: we have somewhere somet

[2017-01-20 17:40] AndyScherzinger commented on #556
I agree with @eppfel's idea to simply call it "Files" 👍

[2017-01-20 17:45] AndyScherzinger commented on #303
Which means yes, but there are some dependencies regarding Continuous Integration which block compile and lib updates at the moment.

[2017-01-20 18:54] Spartachetto commented on #539
It is true that server statistics are only interesting for admins.
Yet I think that a synthesis of user's data could be really a useful addition. In this server issue I proposed one of the possibilities: [visualize useful synthetic information when user clicks 'Tags'](https://github.com/nextcloud/server/issues/2143).
Having something like that also on mobile would be really cool!!!

[2017-01-20 21:27] przybylski commented on #303
Ok, since I wrote DocumentProvider in nextcloud and owncloud I feel like I can answer this question.

If you want to implement openDocument() you need to return a `ParcelFileDescriptor`, which isn't that hard to do, you just download (or update) file an give it to the user.
But the problem occurs when user ends file editing. To the best of my knowledge, app is not notified when file is modified or

[2017-01-20 21:32] przybylski commented on #303
And about `ACTION_OPEN_DOCUMENT_TREE` i don't remember exactly why I haven't implemented it. It seems easy.

[2017-01-20 21:47] mabkenar commented on #552
I would say

* First install: 3 ("A safe home for all your data", "Your data, your rule", "Instant upload") + login
* Update: max. 3 depending on changes

Also, there is an [Oxford comma](https://en.wikipedia.org/wiki/Serial_comma) missing in the first slide:
**Access, share & protect** ---> **Access, share, & protect**

[2017-01-21 08:16] Olangu opened #568 "Auto upload of non media folders?"
### Actual behaviour
-When choosing auto upload tab a list of media (picture) directories are listed and selectable for auto upload.

### Expected behaviour
-Some option to select non media or hidden media (.nomedia) foldes shall exist.

### Steps to reproduce
1. Open auto upload
2. No way to select non media folders
3.

### Environment data
Android version:
CM-13

Device model:
SM-G850F

Stock or

[2017-01-21 09:56] jcgruenhage commented on #303
Quote from the blog post linked above:

This listener is what we need, and you have to specify a handler from which the listener is called, so we can specify the context (using the handler) too.

The point where I am stuck at the moment is how to create new files, and sync old ones that were changed. I think I need to call the UploadRequester, but these methods require two additional parameters, a

[2017-01-21 11:16] ldmpub commented on #340
Hi,

In Nextcloud Android app, Alphabetical sort order (A - Z) does not work:
http://dl.free.fr/mSJbHjaLG

[2017-01-21 13:41] AndyScherzinger commented on #568
Hi @Olangu this is on out auto upload agend, see #285

[2017-01-21 13:41] #568 closed

[2017-01-21 13:56] AndyScherzinger commented on #340
@ldmpub which Version are you running, I just checked the latest master and it is working like a charm

@mario any objection for implementing the order ascending/descending issue before April?

[2017-01-21 14:07] mario commented on #340
@AndyScherzinger absolutely none - let me know how you want it to look UI-wise and I can make it happen if you want.

[2017-01-21 14:09] AndyScherzinger commented on #340
@mario I would have gone for the solution Amaze chose: https://github.com/nextcloud/android/issues/340#issuecomment-254164569

any comments/input @eppfel ?

[2017-01-21 14:35] #541 closed

[2017-01-21 14:42] AndyScherzinger commented on #461
I'd say we postpone this (maybe for a 1.4.2) until we have some feedback (https://github.com/nextcloud/android/pull/523#issuecomment-274196716) from @przybylski

[2017-01-21 17:11] przybylski commented on #461
I'll have a look later today :)

[2017-01-21 17:23] przybylski commented on #303
those two parameters are easy to put. Account can be set while constructing and set `createdBy` to `UploadFileOperation.CREATED_BY_USER`. But you have to be extra careful when you will extend `ParcelFileDescriptor` to allow duplicating descriptor and pass all data to it, including handler, account, and `createdBy` (which is a bad name btw ;) )

[2017-01-21 17:37] bostikf21 opened #569 "Unable to refresh"
When i login the app (android) isnt able to update THE listing. Old files remains in listing.
Unable to add/delete files with app

How2 fix
1. Open nextcloud in web browser
2. Add/delete files
3.

### Environment data
Android version: 6.0

Device model: oneplus2

Stock or customized system:

Nextcloud app version: pro and beta

Nextcloud server version: 11.0

### Logs
#### Web server error log
[co

[2017-01-21 17:37] #569 closed

[2017-01-21 17:41] bostikf21 opened #570 "No logout or exit"
### Actual behaviour
Missing logout / exit

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]

[2017-01-21 17:41] #570 closed

[2017-01-21 18:03] eppfel commented on #340
If it not hurts too much, that it might be redone with filter in aprils, go for it! Like it.

@ldmpub Looks very weird. Best would be to open a new issue with more specifics.

[2017-01-21 20:24] AndyScherzinger commented on #340
Great, then let's go for it! This will add to the usability part :)

[2017-01-21 20:26] AndyScherzinger commented on #340
@mario preference wise it might already be available but the UI part to set Ascending / descending is missing

[2017-01-21 20:53] przybylski commented on #461
Ok I remember now, I was playing around with contacts synchronization and some feature required this. It is not needed for data storage. Sorry for putting that there :)

It can be removed

[2017-01-21 21:52] AndyScherzinger opened #571 "Process Update"
Hi everyone,

@tobiasKaminsky and I had a short discussion today how we could further fine tune the development process we have and came up with the following changes.

* If a PR is considered done (reviewed, tested and labeled to release) it shall be merged
* No upfront release planing (anymore), if a considerable amount of PRs has made it to master (5+) consider doing a release
* Issues and PRs

[2017-01-21 22:43] ldmpub opened #572 "Sort order is not effective"
Switching from one sort order to an other has no effect.

See video where I wanted to sort Alphabetical (order A - Z):
http://dl.free.fr/mSJbHjaLG

Android version: 6.0.1
Nextcloud app version: 1.4.1 RC4

[2017-01-21 22:48] ldmpub commented on #340
New issue opened, see #572.

[2017-01-21 23:13] smichel17 commented on #466
I found one thing that was wrong: with my hosting provider, I had added a redirect from `.well-known/carddav/` to `remote.php/carddav/`, the way it was done on oc 8, when now I need to redirect to `remote.php/dav`.

That fixed the error that was preventing davdroid from connecting. However, the nextcloud app is still unable to connect.

[2017-01-22 02:54] smichel17 commented on #466
I upgraded to 11.0.1 via the manual upgrade process, so this was either an issue with 11.0.0 or with the php installer. Seeing as I don't want to reinstall to recreate this bug, I'm going to close this issue.

[2017-01-22 02:54] #466 closed

[2017-01-22 05:02] jrullo commented on #405
After installing the Andoid NextCloud app, I only see Auto Upload. I don't see any label "Instant Upload". However, on the server, the app tries to upload to a folder called Instant Upload. I want what I see on the app which is to upload to the directory I set in the app.

The Auto Upload section has as the first option the ability to set a directory where to upload files.
This does not work at al

[2017-01-22 07:51] jancborchardt commented on #340
@Andyscherzinger in the original post up top and the discussions we decided to not do the ascend/descend since it's quite confusing and Z->A or Oldest->Newest doesn't really make sense, does it?

[2017-01-22 07:53] jancborchardt commented on #571
Sounds good, loose like in other apps. One question: how long will the master be frozen?

[2017-01-22 07:55] jancborchardt commented on #567
I'd say it defaults to a flat (no folders) grid view of photos+videos, sorted by most recent first.

We could do something

Switching to list view we can leave out in the beginning and then see if needed

[2017-01-22 09:30] tobiasKaminsky commented on #340
@jancborchardt what if you have 1000 files and want to see the oldest file?
As we do not have a "fast scroll", with which you then could just scroll to bottom nearly immediately, we should support this.
It is only one more button in the sorting options ;-)

[2017-01-22 09:32] tobiasKaminsky commented on #571
Master will be frozen from first release candidate (RC1) till final release of the version.
Every RC will be 2 weeks in test phase, with ~300 beta testers, and if no big bug occurs, it will be the final, if not we will have to publish a new RC, again with ~2 weeks delay.

[2017-01-22 09:33] tobiasKaminsky commented on #571
But meanwhile the master is frozen we can of course implement new features (creating new PRs), but just cannot merge them into master.

[2017-01-22 09:35] tobiasKaminsky commented on #567
Then we should develop "fast scroll" #47 in parallel.
Otherwise the user does not have a fast way to scroll to "last week" when there are 100 photos.

[2017-01-22 09:48] eppfel commented on #340
The longer the list, the more relevant this use case gets.
But now that I think about it, this adds a tap to the process. Is it possible to introduce ascending /descending as tabs, which changes the options. Therefore we add a tap only to switch and it would be easier to discover what does what.

[2017-01-22 10:23] AndyScherzinger commented on #571
Exactly.

If devs agree the two weeks can be shortened for higher RCs, eg with 1.4.1 RC4, we are probably fine with ~1 week if nothing comes up.

As for the freeze, in case a freeze blocks integrations, we still have the beta to test drive new features during that time, or open up an integration branch. The benefit is that the freeze is a natural prioritization of the hardening of the upcoming rel

[2017-01-22 10:26] AndyScherzinger commented on #466
Hi @smichel17
happy to hear it is working for with the latest server update :)

[2017-01-22 10:31] AndyScherzinger commented on #340
@eppfel what do you mean by a ascending, descending tab? And where? Wireframe?

[2017-01-22 10:38] AndyScherzinger commented on #405
@jrullo what is your Android version and device model?

@tobiasKaminsky we should then also exclude .0 as a file extension. As for the folder issue, what do you think @tobiasKaminsky regarding the folder issue? We always add the local folder so activating several local media folders get their own folder automatically.

[2017-01-22 10:49] AndyScherzinger commented on #567
Well, it probably is a separate view in the beginning,we which needs to be a recyclerview with a grid layout manager, like the auto upload view, anything else will kill mid range phones for memory reasons.

I can implement the UI part also as a first step for the general implementation later used in different places and this one can then also be used in c combination with fast scroll (for my accou

[2017-01-22 11:04] AndyScherzinger commented on #567
One thing to be aware of here is that we can only go through the file tree we know, so if another client adds images to a subfolder on the server our client won't know about it before the user has explicitly navigated to it again.
So if consistency with the server is important we would need to have an API to ask the server for a list of all images and videos!

[2017-01-22 11:18] tobiasKaminsky commented on #567
I am not sure if this is scaling for >1000 files in one view, as currently the list is entirely fetched before rendering the images.

[2017-01-22 11:30] AndyScherzinger commented on #567
The list probably isn't the issue but the thumbnail for all images being pushed into RAM, which would be solved be recyclerview.
Other than that I think >1000 is probably normal, for me that means all uploaded photos taken over the last years via cellphone and digi cam...

[2017-01-22 11:41] eppfel commented on #340
Very rough, but that should be understandable. Other options beside name should have small indications (Oldest -> Newest / Newest ->), too.

It was just an idea. I have no idea, if this is easy to implement...

![slice2](https://cloud.githubusercontent.com/assets/1899308/22182201/abd10466-e09f-11e6-89c6-95af2ae01c3b.png)

**Tap on descending:**

![slice1](https://cloud.githubusercontent.com/assets

[2017-01-22 12:04] jcgruenhage commented on #303
@przybylski My problem is not how to put them into the new upload, my problem is where to get them from. I found that the storage manager has a reference to the account I can use, but where do I get the `createdBy` int from? And what does it do? I can not find any documentation about that.

This is the method I am trying to use, from  `com.owncloud.android.files.services.FileUploader.UploadRequest

[2017-01-22 12:34] tobiasKaminsky commented on #571
Please no integration branch.
We should keep the process as simple as possible :-)

[2017-01-22 12:36] ldmpub commented on #340
Hi,

I personally find tabs and terms Ascending / Descending very hard to use (double tap) and to understand (is date x ascending compared to date y?).

From my / end-user point of view a simple list is more effective:
- Last Modified - Older first
- Last Modified - Newer first
- Name - A -> Z
- Name - Z ->A
 - and so on...

[2017-01-22 12:42] ldmpub commented on #340
An other solution is to create this kind of UI (extract from ES File Exporer), same as above but more rich because each 'list' entry has its own icon:
![sort suggestion for nexcloud android app](https://cloud.githubusercontent.com/assets/1452146/22182561/5ff57a46-e0a8-11e6-8be8-5511b9371863.png)

[2017-01-22 12:47] eppfel commented on #340
Yeah, I would prefer icons as well. I think the idea was to introduce the capability with a small change. I could come up with a more detailed mock-up, but I don't if it is worth it at this point...

[2017-01-22 13:41] AndyScherzinger commented on #571
Yes, totally!
I wouldn't put integration branches in the regular process but wanted to at least mention them here as some kind of a last resort,decided on demand, in case we have a freeze but 10 very active contributors. Highly theoretical at the moment ;)

[2017-01-22 13:46] AndyScherzinger commented on #340
Uuuuuh, I like @ldmpub's solution with icons :)
This would mean a custom pop up but isn't to hard to implement and the currently active could just be tinted NC blue when opened and a simply click on the icon would close the pop up and set the new order. I think that would still be doable in an okay amount of time and with the tinting would support theming out of the box whenever we start with that

[2017-01-22 13:51] AndyScherzinger commented on #340
I can start to put up a prototype some time later today based on the icon idea :)

[2017-01-22 13:51] eppfel commented on #340
I would still change the axis of @ldmpub's screenshot...

[2017-01-22 13:52] eppfel commented on #340
Description left, two icons on the right. Doable?

[2017-01-22 14:24] AndyScherzinger commented on #340
@eppfel absolutely :+1:

[2017-01-22 15:47] jcgruenhage commented on #303
I have committed what I have done until now to my repo: https://github.com/jcgruenhage/nextcloud-android/commit/41bd045fcce23397b525052cfa00639201b2b1ab.

I tried uploading something, and it got stuck in a loop while apparently trying to download a folder:
[code]
Checking the path mentioned in the log, there is a text file, containing this:
[code]

Without downloading the folder, getting it's loca

[2017-01-22 18:32] tobiasKaminsky opened #573 "Search inside text files: toggle through results"
When searching inside a textfile all query occurrences are highlighted.
But there should also be the possibility to toggle through the results with "up" and "down".

[2017-01-22 20:13] jcgruenhage commented on #303
Sorry for spamming this thread, I promise this is the last post for today :D
Creating remote folders works now, but it throws a null pointer exception. Shouldn't this work?

[code]
[code]

[2017-01-22 20:36] AndyScherzinger commented on #573
Where and how should "up" and "down" be visualized? @eppfel any suggestions? :)

[2017-01-22 20:39] mario commented on #573
I'd go for a simpler approach. Every click on the search/enter button on the keyboard is another hop down the drain - much much simpler, and doesn't need an additional UI element. (also, I'd paint focused word in red)

[2017-01-22 20:53] ruvashev commented on #537
Hi Bartosz,

thanks a lot! it took me sometime to collect logs - i have not used that tool before.
please find logs attached.
action done:
lunch app
tap ///
tap settings
tap storage path
tap /storage/sdcard1
<get error>
tap storage path
tap default
<nothing happens>
tap storage path
tap /storage/sdcard1
<get error>

what else can i do?
[logcat_traces_before_app_lunch.txt](https://github.com/nextcl

[2017-01-22 21:02] eppfel commented on #573
@mario That was actually, what I had in mind! 😆 Awesome work guys 👍

[2017-01-22 21:10] mario commented on #573
@eppfel reading minds is one of my specialties :D

[2017-01-22 21:12] ldmpub opened #574 "Weird forum link in Participate page"
Hi,

The english value for translation key 'participate_contribute_forum_text' is incorrect and does not display anything is the app: Menu > Participate.

It's true for all languages because english source is wrong and has been declined in other languages.

The value is currently set to:
Help others on the &lt;a href="%1$s>forum&lt;/a>

=> at least is misses a " and maybe more ;-(.

[2017-01-22 21:21] mario commented on #571
Greetings maestros of the valley!

My suggestions (where I suggested nothing, I agree 100%):

- no upfront release planning except for major NC releases where we should aim to make a release in sync with the server release

- limit feature releases to once every two months even if we merged bunch of PRs (we can always backport stability/bugfixes and release a bugfix release) - reason for this is s

[2017-01-22 21:26] mario commented on #567
@AndyScherzinger search is the key here - the server search would return us the list of images. Voila! :) Also recyclerview + some magical loading changes (if paging is possible, both on up & down) would definitely make the app web-scale, or app-scale in this case.

[2017-01-22 21:35] mario commented on #531
@tobiasKaminsky suggestion, have a share button and edit the list of available shares to add Nextcloud as a first option. That way one menu, one way to do something.

Will see what I can talk @jancborchardt into drawing :P

[2017-01-22 21:37] mario commented on #534
What about adding search? Would that solve your problem? :)

[2017-01-22 21:38] mario commented on #490
@tobiasKaminsky videos should still have a filename underneath them imho.

[2017-01-22 23:09] AndyScherzinger commented on #574
Thanks for pointing this out @ldmpub

@ all --> https://github.com/nextcloud/android/blob/master/res/values/strings.xml#L523

[2017-01-22 23:12] AndyScherzinger commented on #567
@mario having server side search via an API would be great! :)

[2017-01-22 23:44] OlivierS1 commented on #534
I am not sure a search would be realistic in this instance.
The purpose of the log, as far I understand, at least on the phone side, it so be able to extract meaningful information related to Nextcloud behavior.
It should be possible to extract such information while on a PC, but on the phone it is not realistic.

Let's take the following scenario:
- I want to take a photo and I have Autoupload en

[2017-01-22 23:49] eleith commented on #110
after using FolderSync for a few days now, I can confirm that while it generally works better than 1.4.1RC2 (RC3 and RC4 rarely work for me), it still hasn't completely "solved" the issue.

the filewatching apis must be tricky.

not only does HDR prove to sometimes cause photos to be missed but just taking multiple photos at once.

however, FolderSync provides the option to do a manual one-way and

[2017-01-23 08:29] AndyScherzinger commented on #110
Hi @eleith

thanks for the update/follow-up 👍

Yes, as mentioned in #285 we will have to go beyond the file watching API and probably start with a one-way sync to make sure everything finds its way to the server even if it isn't instantaneously.

[2017-01-23 10:10] mario commented on #559
Keep in mind that even if we don't have a Notifications view per-se, we will need to create one that will be triggered by the notification click on Android 4.0 since it does not supports notification action buttons as far as I remember. Obviously, it's not a menu item in that case :)

[2017-01-23 10:15] eppfel commented on #559
Is there something like an redirect view?

[2017-01-23 10:18] mario commented on #559
@eppfel redirect view? Clicking on the notification will launch a view/activity that we define and create. It should have a text field and a place where we can put an arbitrary number of buttons depending on the data.

@nickvergessen I assume the number of actions that could be attached to an action can be more than 2 (examples mention only 2)?

[2017-01-23 11:02] nickvergessen commented on #559
Yeah, there is no hardcoded limit, current known implementations only use 0, 1 or 2, but in theory there is no limit

[2017-01-23 11:03] eppfel commented on #559
@mario Ah, ok. You are right.

[2017-01-23 14:00] nickvergessen opened #577 "Share icon in the file list should be grey and have some information"
My wife and me always get confused by the black share icon. I always try to click it to get information from whom the file was shared or expect it to allow me to share it.
But it just opens the file/folder.

If you only want to indicate that the file is shared, the icon should be gray scaled and not black

[2017-01-23 16:07] AndyScherzinger commented on #577
I am on it :)

[2017-01-23 16:19] AndyScherzinger commented on #577
PR has been opened for design discussion: #578

[2017-01-23 16:50] mario commented on #555
@MorrisJobke  do you know if this is going to be available for 12, as I need it in the app?

Poking @karlitschek so he doesn't forget about the need for this :P

[2017-01-23 17:52] AndyScherzinger commented on #340
For any further discussion, please see/go-to the corresponding PR #575

[2017-01-23 18:03] przybylski commented on #303
`createdBy` is just an indicator for internal use to where from the intent was send, since user is modifying the file it is clearly from the user so please use `UploadFileOperation.CREATED_BY_USER` constant.

you should not download the entire directory, instead create a virtual structure which mimics the internally stored database and give it to the user. Download files if needed.

it depends, is

[2017-01-23 18:24] jcgruenhage commented on #303
Ahh I thought createdBy is about which user created the file, in case there are multiple accounts, thanks :D Now that makes sense.

I meant to "download" the folder itself, not all elements contained in there, or to more specifically, have that the OCFile representing the folder, does not return null when `getStoragePath()` is called, but the path to a usable folder on the local storage.

I would

[2017-01-23 19:03] MorrisJobke commented on #555
Sure :) I guess we also will bring this to an older version. We are currently settling on an API. I will keep you posted.

[2017-01-23 20:04] przybylski commented on #303
Let's move this discussion to IRC, i am using nickname aqu or przybylski on #nexcloud-mobile channel.

[2017-01-23 20:13] jcgruenhage commented on #303
I am on freenode, channel #nextcloud-mobile

[2017-01-24 11:01] jancborchardt commented on #556
Here’s what @mario and I talked about for the sidebar:

- **All files**: Always shows the root of all files when clicked. Important to name it »all« because the other entries like favorites etc. are also files.
- **Activity**: Merged Activity & notifications etc, much like the unified timeline in the sidebar of files https://github.com/nextcloud/server/issues/658. Most of these entries will at som

[2017-01-24 11:10] jancborchardt opened #579 "File actions in the list"
Currently it’s very cumbersome to do any action on a file. You have to go through long-press, then the multiselect menu, and then choose the action.

Instead we should do it obviously, like in the mobile web interface:
![capture du 2017-01-24 12-06-42](https://cloud.githubusercontent.com/assets/925062/22244940/d4a10924-e22d-11e6-958d-4be6e8d91043.png)
- A 3-dot-menu for every folder/file. Very obv

[2017-01-24 11:13] jancborchardt opened #580 "Make file actions the same in all views"
Currently when you are in the list and act on a file through multiselect, there are more actions than when you for example view that image and use the 3-dot-menu from the detail view.

- This list should clearly be the same.
- Also we should decide if there’s anything we don’t really need or should consolidate.
- We need to think about the sorting, for example »Delete« (should be called that, not

[2017-01-24 11:19] jancborchardt commented on #557
Here’s the mockup of the activity stream merged with notifications as @mario and I talked about:
![img_20170124_113357](https://cloud.githubusercontent.com/assets/925062/22245246/47e67ea4-e22f-11e6-99ba-a2d21fc4ae3b.jpg)

From the writeup in the sidebar issue: https://github.com/nextcloud/android/issues/556#issuecomment-274772899

[2017-01-24 11:23] jancborchardt commented on #559
Mario and I discussed about this, see https://github.com/nextcloud/android/issues/557#issuecomment-274776899

In the desktop client the mistake was made to do a separation between 3 chronological streams (server activity, uploads, and errors) which are basically the same, or contain the same items.

This is similar for notifications, as many of them (like accepted shares, or comments you could rep

[2017-01-24 11:46] AndyScherzinger commented on #579
Sounds good to me and is doable.
Only thing I am not sure if it is better to
1. always show a share icon (in grey) and paint it black if the file is actually shared
2. only add the share icon if the file is actually shared, else don't

[2017-01-24 11:58] AndyScherzinger commented on #556
Unfortunately no....day job....

Two questions though:
* Favorites: At the moment the thing (on the Android client) that looks like favorites is actually "available offline" which marks files to be kept in sync with the server, while the server side favorites are more like bookmarks. My question is: Should we keep it this way because we decide that a user who wants to have a file as a favorite als

[2017-01-24 12:22] jancborchardt commented on #579
@AndyScherzinger cool! :) As said I’m also not entirely sure, but then maybe let’s go with

This is consistent with the web interface, makes it easy to share, and doesn’t require us to change the menu.

Yep, that’s the idea! :)

[2017-01-24 12:25] jancborchardt commented on #556
I totally agree with that. I was always against separating this because it introduces another layer of complexity and it resulted in us still not having the simple synced favorites.

This would be a flat list of links directly in the sidebar, as I understand from @MorrisJobke @mario. I guess we can make it collapsible, right? Again, this is mainly for a customer and will not be part of a default i

[2017-01-24 12:26] mario commented on #556
@jancborchardt since this is a client requirement I'd say just put the links there without the "collapse" action - if they're silly enough to put 10 links in there, let them be. Collapsing in a sidebar is a bit no-no for me.

[2017-01-24 12:27] mario commented on #579
Glad we all agree :P

[2017-01-24 12:34] jancborchardt commented on #556
Btw @AndyScherzinger the specific issue is https://github.com/nextcloud/android/issues/555

@mario agreed :)

[2017-01-24 12:43] mario commented on #554
@MorrisJobke can you please confirm the endpoint for getting this information?

[2017-01-24 12:50] mario commented on #554
Including @schiessle because it looks like he needs to do an endpoint for this.

[2017-01-24 16:28] AndyScherzinger commented on #556
@jancborchardt sounds good :+1:

[2017-01-24 19:12] MorrisJobke commented on #554
I guess that's what @schiessle is working on: #3232

[2017-01-24 19:15] MorrisJobke commented on #556
Yes. As already stated: flat list (only title and url), no collapsing and will be provided via an OCS api endpoint (and a capability flag) by an dedicated app.

[2017-01-24 20:10] tobiasKaminsky commented on #580
Then someone maybe can collect all views, so we can discuss this.
(I can do it Wednesday afternoon)

[2017-01-24 20:14] tobiasKaminsky commented on #579
Just a "little" concern about space: have you checked it on low end devices, which have a low-res display? Your idea might lead to a nearly unreadable filename...
This is something we should check with a "mockup" prior developing it.

[2017-01-24 21:38] mario commented on #554
Yup :)

On Tue, 24 Jan 2017 at 20:12, Morris Jobke <notifications@github.com> wrote:

[2017-01-25 14:28] jancborchardt commented on #579
Yes, I mean you can quite easily check with the web interface and checking it in responsive design view of the browser or making it very narrow. The mobile web interface is the living mockup :)

If there are space constraints then I’d say we can do without the dedicated favorite and share action, but we definitely need the 3-dot-menu. In there we can then have the fav/share also. But it’s not idea

[2017-01-25 15:12] AndyScherzinger commented on #579
As for the three-dot menu, should we then have the (non-Android-like) schaschlik 3-dot menu icon or the typical Dönerspieß 3-dot icon?
Other than that one thing that is different for the Android UI: We do have the multi selection functionality, which gives you the toolbar menu (which also dynamically changes its content for single/multi file selection) which we should keep imho, since that is how

[2017-01-25 15:54] eppfel commented on #579
Came here to say this. I would actually use fav on landscape width only. Long Filenames are the most important. Just look at example you posted 😉

@AndyScherzinger Ein Android Dönerspieß Bitte! 😂
I feel, people won't even notice and it works better when there is less space IMO

[2017-01-25 17:56] tobiasKaminsky commented on #579
schaschlick 3-dot, dönerspieß? What are you talking about? Oo

[2017-01-25 18:02] AndyScherzinger commented on #579
schaschlick = 3 dot horizontal (see web interface)
dönerspieß = 3 dot vertical (see Android toolbar overflow menu icon)

[2017-01-25 18:04] AndyScherzinger commented on #579
While initially my mistake was to call is doener since that one is actually a different icon symbolizing filtering ;D

[2017-01-25 21:13] gitbensons opened #581 "Uploading a picture twice fails"
### Actual behaviour
- After sucessfully uploading a picture from the camera to a folder, when ever I try to upload the same picture again to another folder it fails with "Hochladen fehlgeschlagen"

### Expected behaviour
- Upload should succeed

### Steps to reproduce
1. Create folder "Folder1"
2. Open "Folder1" and upload a camera picture eg. "Picture1", upload succeeds
3. Create another folder

[2017-01-26 02:16] DanielYWoo commented on #532
Today I setup my own nextcloud and give it a try, it looks cool, but this feature is missing ;-)
It will be very convenient on iPhone.

[2017-01-26 02:35] jshatch commented on #532
The owncloud app has had this request in for a year and nothing was done.  I'm excited to see how this progresses here.

[2017-01-26 02:37] DanielYWoo commented on #532
@jshatch That's exactly why I dumped ownCloud!

[2017-01-26 04:59] pahy opened #582 "Manual Auto upload button (e.g. for forcing on mobile even when set to wifi only)"
Featurerequest:

Menuentry or button to force autoupload manually. So everything starts even when wifi only is selected.

By the way: Good work!

[2017-01-26 05:01] pahy opened #583 "Autoupload Option for upload when not in roaming"
Featurerequest:

Option to autoupload the media by lte/gsm when not in roaming mode.

Thank you!

[2017-01-26 06:31] kvoit commented on #288
I am also experiencing this problem again on my Oneplus 3. Nextcloud 11, App beta updated from F-Droid yesterday.

This is the the smallest possible log I can create for one failed reupload (Delete log - restart failed upload - go back to log - send)

[code]

[2017-01-26 08:10] AndyScherzinger opened #584 "Update gradle build to Java 8"
At the moment the Nextcloud app's build uses Java 7 while Android now support Java 8 (and JACK).

So I'd vote for moving on to Java 8 while this might also impact our Drone CI Android build docker container.

[2017-01-26 10:57] jancborchardt commented on #579
Yup, let's go for the strawberries on a stick covered in chocolate … I mean Dönerspieß!

And sure, the multiselect menu should stay, even also for single files (in case you deselect everything else).

We simply also need the probably most used way of just doing something with a single file. ;)

[2017-01-26 14:38] mabkenar commented on #552
@tobiasKaminsky @AndyScherzinger Could you please build and make a screenshot for the above pull request? Of course it won't be final before a proper slide image is made, just to get an idea how it looks.

[2017-01-26 17:15] AndyScherzinger commented on #583
Hi @pathy,

not sure if I understand your request correctly. If you do want the auto upload to push your stuff to the server while being on a cellular network, then I think you are all set with not checking "wifi only" in the auto upload preferences.
Roaming shouldn't be an issue imho since that should be handled by Android itself.

[2017-01-26 17:22] gsantner commented on #583
@AndyScherzinger
It does make sense to enable roaming for browsing e.g. a website to get some infos when you are in holidays. But you maybe don't want to upload (which will cost more $$$) pictures automatically.

[2017-01-26 17:25] AndyScherzinger commented on #288
Any one having th etime to further analyze this? @mario @tobiasKaminsky
The probably important log statement is:
[code]

[2017-01-26 20:18] kvoit opened #587 "[Feature Request / Support] Distinction between video and photo in photo upload?"
I recently hit the auto-upload overhaul in the F-Droid Nextcloud app beta. While it looks pretty nice and more general than the old camera upload feature, I seem to miss an important feature, the distinction between video and photo upload on mobile and wifi connection.
While I can afford uploading photos immediately, even my pretty generous 6GB LTE volume does not allow to push 4k videos without w

[2017-01-26 22:04] mario commented on #288
@tobiasKaminsky probably knows a lot more than I do about the upload code at the moment.

[2017-01-27 02:08] pahy commented on #583
Hi @AndyScherzinger, hi @gsantner,

@gsantner you hit the idea precisely :-)
Let me clearify my situation. My contract includes an unlimited lte transfer. Therefore i do not need an alternative transfer by wifi in my home country. But i got a limited transfer volumina for roaming in my contract. As it is expensive to buy respectively to reorder, data intensive transfers in roaming situations are n

[2017-01-27 06:33] supportreq commented on #558
@mario @tobiasKaminsky on the android app we already have a filter which will search only in the opened directories. for the time being can we have a way in which we can atleast filter in all folders and not just the folders which are opened by the user.. This is an important feature which is pending since years and with filter the major searching file pain is resolved.. please share your thoughts

[2017-01-27 08:43] mario commented on #558
@supportreq I've implemented the feature you requested as a playground, but really the best way to go forward with this is proper search based on the server API so that's the only thing that will go in the app. I'm hoping we can have this in for 1.5, but no promises. Once the actual search works, I am sure you will be more than happy with it.

[2017-01-27 09:49] elpraga opened #588 "Nextcloud RC app: thumbnails disappear"
### Actual behaviour
Enter a folder with many photos. Wait until all thumbnails are loaded. Leave the folder and enter again. The oldest thumbnails will be missing. (Tried on a folder with 1500 photos)

### Expected behaviour
Once thumnails are loaded, they do not disappear.

@AndyScherzinger do you think this might be just an issue of low cache set in the app? I don't have this problem in the Bet

[2017-01-27 11:18] mario opened #589 "Butterknife"
So I want to introduce Butterknife as in PR #585 - Butterknife is a well known and respected library, and will help us write less code and eat more pancakes.

Please vote yes - thank you!

[2017-01-27 11:37] AndyScherzinger commented on #589
I am fine with using butterknife 👍

[2017-01-27 11:48] AndyScherzinger commented on #588
@elpraga I sounds like it is related to the cache size, yes. Caching/Thumbnailing has been done by @tobiasKaminsky - what do you think?

[2017-01-27 14:58] AndyScherzinger commented on #583
@pahy @gsantner to further clarify, that would mean you would cutoff the app completely or just the upload part? Because there would also be browsing the folder structures, retrieving image/video thumbnails, manually downloading/uploading files and "available offline" as in keeping files in sync.

cc: @eppfel @jancborchardt @mario @tobiasKaminsky

[2017-01-27 15:19] #53 closed

[2017-01-27 15:20] AndyScherzinger commented on #461
@gryphius2 scheduled for 1.4.2

[2017-01-27 15:30] #577 closed

[2017-01-27 16:08] pahy commented on #583
@AndyScherzinger i am just thinking about a little setting withing the autoupload options saying "upload when roaming"
![roaming](https://cloud.githubusercontent.com/assets/20403536/22377653/13ae4244-e4b3-11e6-980c-9ee641114c99.png)

[2017-01-27 16:15] AndyScherzinger commented on #572
#575 might solve this even though I couldn't reproduce this issue on an Emulator running Android 6 :(

[2017-01-27 16:51] AndyScherzinger commented on #583
But you then still would have to do this for every activated auto upload!

[2017-01-27 16:58] pahy commented on #583
You are right. A global setting for it would be great. But setting it individually for each autoupload might also be fine, because i have e.g. an images folder for telegram images. I do not need telegram images or videos uploaded when roaming, but my camera pictures or maybe screenshots.

[2017-01-27 21:31] tobiasKaminsky opened #591 "User info: show groups"
#554 by @mario adds the user info screen which is really cool!
As an addition I think it is nice to also see the groups in which the user is part of.
This is also displayed on the web-UI and so the app would be even more consistent to it.

[2017-01-27 21:34] mario opened #592 "Avatars refresh issue"
When you have multiple accounts, sometimes all the avatars have the same picture. Rotating the phone (or closing/reopening the app) fixes that as the activity is killed and recreated. Race condition somewhere?

[2017-01-27 21:35] tobiasKaminsky commented on #589
👍 go for it

[2017-01-27 21:35] #589 closed

[2017-01-27 21:38] tobiasKaminsky commented on #588
@elpraga you can see it for yourself: go to app settings -> nextcloud -> storage -> cache size
The cache size is currently set to 10Mb.

[2017-01-27 21:50] tobiasKaminsky commented on #558
@supportreq a "deep filter" like you suggest is not working as e.g. the sub-sub-folder might already have changed on the server and the app is not in sync with it, or imagine that someone is sharing a folder with you. In both cases the app will only "know" once you have entered these folders.
So the only valid solution is to use a real server-wide search like on the webUI.

[2017-01-27 22:05] tobiasKaminsky commented on #574
It is working for me in the latest master version on english?

[2017-01-27 22:19] tobiasKaminsky commented on #532
@joseandroidengineer if I can assist you while building this feature, please just ping me here or on irc.

[2017-01-28 03:31] OlivierS1 commented on #288
Could it be related to Quota on the server side?
When I set Quota on one of my server account, it caused some accounts to not being able to upload any files anymore.
I couldn't get any logs from the phone runinng 1.4.0 I think, and it would return unknown error.
If you have access to the logs in the server, it will tell you if quota is the issue.
Increasing the quota resolved the issue.
This could

[2017-01-28 05:20] keithzg commented on #230
@AndyScherzinger This was true as of September, but I finally got around to re-checking this today, and at some point in the intervening days this has changed! I finally have an actual error message to report:

[code]

(Some line breaks added for readability.)

[2017-01-28 09:24] tobiasKaminsky commented on #288
Can I maybe have a test account where I can upload a bunch of images, in order to see (maybe) more while debugging the app?

[2017-01-28 09:34] kvoit commented on #288
Of course. I haven't seen a possibility for private messages in GitHUB. Are you the IAT guy and can I send the credentials to the institute email?

[2017-01-28 09:55] Sanookmakmak opened #593 "Feature request: tablet view"
Wasted space at the moment
![tablet](https://cloud.githubusercontent.com/assets/24833757/22395774/100c0762-e548-11e6-904b-5d268292e4d5.png)
Should use the whole space for picture thumbnails.

[2017-01-28 10:22] JSoko opened #594 "It's possible to create a account with wrong username capitalisation"
see https://github.com/nextcloud/server/issues/3305

### Actual behaviour
If you have a user testuser you con connect with NextcloudAndroid entering the username Testuser
While uploading files you get a warning
### Expected behaviour
No problems or don't connect because of the wrong capitalisation (T instead of t)

### Steps to reproduce
see https://github.com/nextcloud/server/issues/3305

[2017-01-28 11:04] tobiasKaminsky commented on #288
Just send it to "android @ nextcloud . com" with a link to this issue.
(But yes I am, I just want to keep both separate)

[2017-01-28 11:55] elpraga commented on #588
But this is possible only in the beta app, and I know about it and I did set it higher there.

I have this problem in the RC from Google play, where this setting is not present @tobiasKaminsky

[2017-01-28 12:51] tobiasKaminsky commented on #588
I meant that you can see if the cache limit (in RC hardcoded to 10mb) is exceeded.
The cache size can, for every app, being seen in android -> preferences -> apps -> nextcloud -> cache.

It is only to verify if the small cache limit is the problem or if you experience another issue.

[2017-01-28 13:03] elpraga commented on #588
Thank you for clarifying! I just checked it, and indeed it is the case.  BTW my beta app is using 28 MB of cache.

Is there a reason for the cache to be so small? Could it be raised in the official app as well? (Or maybe could the option from the beta app be added to set the cache size freely?)

[2017-01-28 13:21] tobiasKaminsky commented on #594
cc @LukasReschke what is the desired behaviour?

[2017-01-28 13:24] elpraga commented on #588
Thank you for clarifying! I just checked it, and indeed it is the case.  BTW my beta app is using 28 MB of cache.

Is there a reason for the cache to be so small? Could it be raised in the official app as well? (Or maybe could the option from the beta app be added to set the cache size freely?)

[2017-01-28 15:35] tobiasKaminsky commented on #587
This is similar to the issue created by me #486
If you think this is the same, we can close this one and discuss in #486

[2017-01-28 18:46] tobiasKaminsky commented on #552
We can close this issue here and move the discussion to #586 or?

[2017-01-28 18:46] #552 closed

[2017-01-28 18:48] tobiasKaminsky commented on #588
Then this is no issue, but just an unwanted behaviour.
I will open a new issue regarding cache size.

[2017-01-28 18:48] #588 closed

[2017-01-28 18:53] tobiasKaminsky opened #596 "Cache size"
The current cache size is 10Mb which is way to small for any larger photo collection.
There is a PR (#144) which allows to manually resize the cache. I think this is not the best idea as the user has to do it manually, so this might be there as a fallback.

In https://github.com/nextcloud/android/issues/177#issuecomment-236945762 this was proposed:
-  \>=40% of the total storage available: set cac

[2017-01-28 18:53] tobiasKaminsky commented on #588
Then this is no issue, but just an unwanted behaviour.
I will open a new issue regarding cache size: #596

[2017-01-28 18:59] tobiasKaminsky commented on #177
I have a new idea:
Initial sync: Based on the timestamp of folder (and its content) we can go from new to old and download all thumbnails. This can stop when cache limit is reached. So we make sure that the most recent images have a thumbnail.

Regular sync: Based on the same logic of above we can do a regular sync. As we have a "least recently used" cache policy all new thumbnails and most often

[2017-01-28 19:02] elpraga commented on #588
Ok. Thank you for the help.

[2017-01-28 19:48] elpraga commented on #476
Beta20170122 still fails to download files correctly. Were you able to identify why @tobiasKaminsky?

[2017-01-28 20:51] bjoernv opened #597 "Can not change storage directory to external SD card"
### Actual behaviour
- the apps stops, if the user attempts to change storage path to external SD

### Expected behaviour
- change storage path to external SD

### Steps to reproduce
1. Storage path in preferences is shown as "unknown"
2. click on "Storage path", two directories are shown now
  a) /storage/emulated/0/Android/0/data/com.nextcloud.client/files
  b) /storage/756C-1905/Android/0/data/

[2017-01-28 21:33] jaj08 commented on #462
I have never had luck no matter the version of Nextcloud with auto upload working. Previous posts suggested upgrading to the beta app would fix my problems, but I am running the 20170122 and continue to have issues

LG V20, Android 7.0, using the default camera app nothing auto uploads.  Just tested with a 3rd party camera app, and the photo immediately auto uploaded.   Server version 11.0.1.

[2017-01-28 21:44] strugee commented on #177
@tobiasKaminsky that sounds like a wonderful idea. We should still implement the previously discussed behavior though, when actively browsing to a folder.

[2017-01-29 04:03] mario opened #598 "Change to support issues 25.x"
This requires changes to the docker image as described here https://github.com/nextcloud/android/pull/585#issuecomment-275491606

[2017-01-29 13:48] kvoit commented on #587
Yes, I agree that we can proceed there.

[2017-01-29 13:51] kvoit commented on #486
As I suggested and motivated in #587, I think the current possibilities are insufficient. I understand that the new auto upload feature is meant to be more general and I don't think we need complex rules. However, a size threshold for mobile upload would be help a lot: If file >10MB, wait for Wifi to upload. I don't think this would make it too complicated.

[2017-01-29 14:15] tobiasKaminsky commented on #476
Sorry currently I do not have a device with an external sdcard.
@mario do you have such a device?

[2017-01-29 14:16] tobiasKaminsky commented on #597
@przybylski can you have a look here?
Many thanks!

[2017-01-29 14:18] tobiasKaminsky commented on #462
@jaj08 so for you it is the same as with @AndyScherzinger:
the stock camera app causes trouble, but a 3rd party camera app works?
So the "basic" auto upload is working. Now we have to figure out why the stock cameras cause trouble..

[2017-01-29 14:31] #587 closed

[2017-01-29 15:36] elpraga commented on #476
@tobiasKaminsky the issue seems to be that when the SD card is selected as storage, the BETA app still creates the tmp directory in the main storage. I assume that is en error, and then the app searches for the tmp file on the SD card and doesn't find it. Hance it reports an error.

If you were willing just like look into this behavior, I'll be willing to test it then..

[2017-01-29 15:45] mario commented on #476
@tobiasKaminsky I'll take a look cc @elpraga, I do have such a device.

[2017-01-29 16:43] AndyScherzinger commented on #581
Could reproduce it, thanks @gitbensons

Other scenario, have auto upload activated, take a picture have it uploaded by the auto upload and then afterwards manually upload it to a (different) folder. Will also directly fail.

[2017-01-29 16:57] tobiasKaminsky commented on #581
Is there an error message?

[2017-01-29 17:02] AndyScherzinger commented on #581
not in the UI, I didn't check this issue with ADB connected :(

[2017-01-29 17:09] AndyScherzinger opened #600 "Release 1.4.2"
- [x] Bump version name and version code in AndroidManifest #740
- [x] Update CHANGELOG.md adding new features

**RC4**
- [x] Verify that the new version number is shown in settings
- [x] tag new version as rc-1.4.2-04
- [x] Build and release to Play Store as beta release and :shipit:
- [x] ~~Publish it on f-droid as optional release: edit metadata and open new merge request on gitlab~~
- [x] ~~Ve

[2017-01-29 17:28] #461 closed

[2017-01-29 17:58] MightyCreak opened #601 "Timeout too short"
### Actual behaviour
- I can't connect to my Nextcloud server with the Android app because of a timeout

### Expected behaviour
- I should be able to connect, my instance is slow for unknown reasons (investigations in progress), but I can connect to it using either the desktop or the web client because the timeout is longer.

### Steps to reproduce
1. Have a Nextcloud instance with a user with 30G

[2017-01-29 18:16] przybylski commented on #597
@bjoernv can you provide more details and/or device logs?

[2017-01-29 20:51] przybylski commented on #537
Hi,
sorry for such late response.
Is this log taken after the migration process? I can't see anything related with it in this log.

One more thing to check. Is the SD card in RW mode ? could you try to make `/storage/sdcard1/nextcloud` directory with rwxrwxrwx premissions?
you can create the directory using:

    mkdir -p /storage/sdcard1/nextcloud

set permissions using this command

    chmod 77

[2017-01-29 21:06] bjoernv commented on #597
@przybylski could you tell me, how to activate logging into nextcloud.log?

I only have the Logcat logs. During the described steps (last step: click on the second directory (external SD card)) I see three exceptions:

[code]

[2017-01-29 21:23] AndyScherzinger commented on #601
@mario @tobiasKaminsky what do you think, afaik the timeout is 10 seconds at the moment. We could raise this though. Does anyone know the timeout value of the other clients?

[2017-01-29 21:29] MightyCreak commented on #601
On the web client, it takes up to 30 seconds to connect.

On a different subject, I honestly think there's a connection problem, at least with 11.0.1, since my server isn't the most powerful, but it's not **that** bad:

- 4 cores, Intel(R) Atom(TM) CPU N2800 @ 1.86GHz
- 4 GB RAM
- no important other stuff on it (a few static websites and a few crons a day)

[2017-01-29 21:30] AndyScherzinger commented on #601
Could you have some nginx/redirecting issue?

[2017-01-29 21:31] mlsxlist opened #603 "🔑 Support for client certificates"
### Actual behaviour
In order to secure Nextcloud on TLS level, it would be good if the app could support client certificates. If the client certificate is not sent on handshake, the server prevents access to Nextcloud logon page. This would provide a second line of defense.

### Expected behaviour
Nextcloud app should support client certificates as other apps like caldav sync and carddav sync alr

[2017-01-29 21:32] MightyCreak commented on #601
It's plain nginx, no redirection.

But it's Debian 8.7 which doesn't have PHP 7 yet :(

[2017-01-30 03:04] ruvashev commented on #537
hi,

thanks for reply.

Yes those logs include migration.

But actually about changing permission... Once i created the folder i can see that app can migrate but since folder has 770 permission app cannot write in there. I tried to change permission but that does not work...

[code]

so regardless what i do i cannot change it to anything than 770...

Do you know what could be the reason?

Thanks.

[2017-01-30 08:18] AndyScherzinger commented on #504
f-droid has published 1.4.1 🎉

[2017-01-30 08:18] #504 closed

[2017-01-30 08:20] AndyScherzinger commented on #574
it might work depending on the Android version I guess. We should fix it nevertheless :)

[2017-01-30 08:21] AndyScherzinger commented on #574
@mario do you have the time to fix the strings? :)

[2017-01-30 13:16] mario commented on #574
@AndyScherzinger PR ready.

[2017-01-30 13:40] mario commented on #539
Unfortunately, I don't think we'll put this in the NC app, but we'd be more than happy to support you in creating a separate app doing this! :)

[2017-01-30 13:40] #539 closed

[2017-01-30 16:12] przybylski commented on #537
I am not sure how rooting changes the access to the external directory but my guess is that the app process is not a part of sdcard_r group which diallows it from writing to that directory.

[2017-01-30 16:13] #574 closed

[2017-01-30 16:14] przybylski commented on #597
The logcat you provided are very useful :) thanks @bjoernv i'll have a deeper look on what's going on

[2017-01-30 18:25] AndyScherzinger commented on #581
@tobiasKaminsky only thing I see in the log file:
[code]

Weird thing, I can even upload a file in one folder, then delete it and then try to upload it again.... It'll fail (!)

[2017-01-30 18:26] AndyScherzinger commented on #581
Also calling @mario to the rescue. 🚒

[2017-01-30 18:43] tobiasKaminsky commented on #601
30seconds is way too long.
I suggest to ask in forum/ server-github/irc for some help to get this faster.
My v-server has much less power and is connecting < 1 sec.
Extending the timeout is not a solution but would just "hide" the real cause of the problem.
(if the first connection will take 30s, every following new connection will maybe also take this time, rendering the app unusable)

[2017-01-30 20:37] tobiasKaminsky commented on #581
I used app with latest master and I cannot reproduce it on NC11 or NC-master...

[2017-01-30 20:42] tobiasKaminsky commented on #581
Now tested it also with the 1.4.0 as thread starter...
Maybe it depends on file size? I used a rather small (40kb) "test" image.

[2017-01-30 20:49] tobiasKaminsky commented on #581
Indeed, it happens to me if I upload a much larger (4mb) file.

[2017-01-30 20:57] tobiasKaminsky commented on #581
okay. :/
I now that it is my fault, I have implemented #159 in a not correct way.
I will fix it tomorrow.

[2017-01-30 21:04] github-user-1 opened #606 "Support for local proxy - e.g. for Orbot (Tor)"
### Actual behaviour
-Tell us what happens
The nextcloud app can't connect to .onion nextcloud-servers

### Expected behaviour
-Tell us what should happen
There should be an option (like many other apps do have, e.g. Privacy Browser, Davdroid, ...) do route traffic through a local proxy (e.g. localhost:8118). Orbot is one of the android proxies that enables access to Tor.

### Steps to reproduce
1

[2017-01-30 21:20] mario commented on #606
You should be able to configure Android to use proxy.

Connect to WIFI network (e.g. 'Mario')
Settings->WIFI
Long tap on connected network's name (e.g. on 'Mario')
Modify network config-> Show advanced options
Set proxy settings

Would that work? :)

[2017-01-30 21:34] github-user-1 commented on #606
That's a well known option, however, doesn't help since this must be at an app-level and the option mentioned is affecting the whole connection. Google themselves and several other companies don't like to get traffic from specific routers and they block the account in that case. Therefore it must be on an app-level and this is why quite some sensible apps include this feature in the meantime.

[2017-01-30 21:41] riesnerd commented on #603
Hello mlsxlist,

if this is of any use to the case, there is an open issue about this over at the owncloud github site:

https://github.com/owncloud/android/issues/163

Best wishes
riesnerd

[2017-01-31 00:59] MightyCreak commented on #601
I agree. But I don't see what's the problem with my installation, it's almost vanilla. I tried to post a message on the helpdesk, but the answers aren't very useful.

Anyway I think the timeout in the android app is something like 5 sec today, maybe it's possible to crank it up a bit. It won't change the UX on instances that don't have my problem, but it will improve my situation.

Also, once I co

[2017-01-31 08:21] #597 closed

[2017-01-31 08:26] mario commented on #606
Thank you for the explanation of the use-case. We will consider your request.

Keep in mind this would probably be an app-level setting, rather than a per-account setting - is that ok? :)

[2017-01-31 08:32] github-user-1 commented on #606
Yes, absolutely. The idea for quite some people is to have some kind of traffic (like e.g. davdroid, ...) to be routed differently.

Just btw - another argument against using the Wifi setting in that case is when moving/travelling and switching between connection methods, e.g. switching between different WLANs and 3G/4G networks.

[2017-01-31 08:52] mario commented on #579
@jancborchardt @AndyScherzinger @tobiasKaminsky do we have the three dot icon in the correct sizes?

Also, since this menu could grow and real estate is limited, I'd still vote for opening a bottom sheet style menu for this - but @jancborchardt is the boss, so please think about it once again :P

[2017-01-31 09:25] AndyScherzinger commented on #579
@mario I can add the three dot icon in the right sizes and coloring, just need to know the branch :)

[2017-01-31 09:26] mario commented on #579
@AndyScherzinger mario AT nextcloud DOT com is the branch :P

[2017-01-31 09:30] AndyScherzinger commented on #579
@mario you got 📬

[2017-01-31 10:26] mario commented on #606
@github-user-1 would you be so kind to post a screenshot of where these tools hide the proxy settings? I would like to avoid putting it in the login procedure.

[2017-01-31 10:32] AndyScherzinger commented on #606
Davdroid is GPL3 -> https://gitlab.com/bitfireAT/davdroid and we also integrated the login process to some extends so we can talk to them if there are fine with taking a peek there and incorporate the code for the proxy part to also support this. cc @rfc2822 from bitfire :)

[2017-01-31 10:33] mario commented on #606
@AndyScherzinger true, but it's still possible that some users don't have davdroid and want proxy.

[2017-01-31 10:34] mario commented on #606
(If you meant getting the proxy settings directly from the davdroid app)

[2017-01-31 10:59] github-user-1 commented on #606
Here you go (screenshots of Davdroid and Privacy Browser):

![screenshot_2017-01-31-11-54-01](https://cloud.githubusercontent.com/assets/6796538/22462207/457c2004-e7a4-11e6-9691-0ff8475476e4.png)

![screenshot_2017-01-31-11-54-46](https://cloud.githubusercontent.com/assets/6796538/22462210/48afac14-e7a4-11e6-9372-8bb62795920b.png)

[2017-01-31 11:01] mario commented on #606
While I do not understand this "weird" language, I understand the intention. Thank you very much @github-user-1 - I can't promise when will this be implemented, but it will be done - I'm hoping 1.6.x since for 1.5.x we're already quite at full capacity :(

[2017-01-31 11:30] github-user-1 commented on #606
Same screenshots in English :-)

![screenshot_2017-01-31-12-24-27](https://cloud.githubusercontent.com/assets/6796538/22463240/a809a47c-e7a8-11e6-9f9d-13475cb6f9eb.png)

![screenshot_2017-01-31-12-24-56](https://cloud.githubusercontent.com/assets/6796538/22463248/b0dfed18-e7a8-11e6-848d-37003e4b01ab.png)

[2017-01-31 16:42] Keepco opened #611 "Autoupload includes incomplete downloads"
### Actual behaviour
The autoupload  function includes temporary download files generated by chrome with the file extension `.crdownload`

### Expected behaviour
Nextcloud should ignore files with the `.crdownload` file extension

### Steps to reproduce
1. Enable autoupload for a directory to which chrome downloads files
3. Download a picture via chrome

### Environment data
Android version:
7.0

[2017-01-31 16:45] AndyScherzinger commented on #611
@tobiasKaminsky @mario can you take over this issue? My 2 cents would be to just exclude any "hidden" files as in ignore any .* files.

[2017-01-31 17:18] mario commented on #611
@AndyScherzinger but what if I want my dot configuration files included? :) Let me think about this!

[2017-01-31 17:42] jamfx opened #612 "Autoupload not working in Andorid 7"
### Actual behaviour
-Take a Photo. Wait for upload. Die...

### Expected behaviour
-Take a Photo. Looking how it loads up. Be happy. :)

### Steps to reproduce
1. Install NextCloud App (even with Beta)
2. Take a Photo.
3. Wait for upload, which never happens... :(

### Environment data
Android version:
Android 7.0 Patchlevel, 1. December 2016

Device model:
Honor 8, no root.

Stock or customized

[2017-01-31 18:33] jancborchardt commented on #579
It should have pretty much exactly the items we have in the web interface. Which are 5, not that much. :) We need to consolidate.

[2017-01-31 18:36] mario commented on #579
@jancborchardt on a small phone, sure - that's too much. Also, if you open menu at one of the items near the end of the list - issue :D

[2017-01-31 18:42] AndyScherzinger commented on #579
As long as we use Android's standard menu mechanisms like the pop up menu, there isn't an issue I think :)

[2017-01-31 19:04] mario commented on #601
@MightyCreak what's the memory limit you have set for PHP? Also nginx timeouts?

Post config of both php and nginx please.

Also, please post output of iptables -L.

[2017-01-31 20:12] tobiasKaminsky commented on #603
I would vote this "medium" to get this done when we (@mario or me) have time.
Everything that enhances the security of the app/nextcloud should have priority.
cc @mario ?

[2017-01-31 20:25] tobiasKaminsky commented on #579
Is there somehow a screenshot which shows this kind of popup?

[2017-01-31 20:28] tobiasKaminsky commented on #612
Have you configured AutoUpload the right way?
Can you test a 3rd party camera app? (there are some vendors that cause some problems with their stock camera)

[2017-01-31 20:41] jamfx commented on #612
Yes, I configured it right away. I double checked now. Everything as I think it should.
I tried the following Cam Apps:
a) Build-In Camera
b) Google Camera (Extra App from Google-Play Store)
c) Perfectly Clear App

None of these triggered an upload. :(

[2017-01-31 20:43] AndyScherzinger commented on #579
I can post one tomorrow or next week, or if you have seriesguide installed, he implemented it. The look and feel is basically the one from the toolbar overflow menu.

[2017-01-31 21:03] tobiasKaminsky commented on #579
Thanks for the tip, @AndyScherzinger

Here is a screenshot for "Lucifer" pressed
![screenshot_20170131-215950](https://cloud.githubusercontent.com/assets/5836855/22484235/b6da01ce-e800-11e6-9fd0-8e267a80b68b.png)

And here for "Sherlock"
![screenshot_20170131-215956](https://cloud.githubusercontent.com/assets/5836855/22484249/d3353636-e800-11e6-8676-a987228cc54d.png)

Both looks really nice and, I

[2017-01-31 23:18] MightyCreak commented on #601
@mario it's all very common I think: `memory_limit = 128M`
But I don't know what are nginx timeouts though :S

php.ini (fpm): https://framabin.org/?e358d81c083079cc#DhrP9HYdm0PKQ7Add999uU2VO2KCnnoMLrbYOLV+oGo=
nginx.conf: https://framabin.org/?9b4ab38dc3526b1b#ClLCcjfYVaIReC1a/GfVY7ywIF9eekXD6aK5oYOxoX8=
sites-enabled/nextcloud: https://framabin.org/?9a28a87f8b1f72e6#9WPEHscwvgbM6EBTtnHQu1e7AgEtTG

[2017-02-01 06:27] chichin79 commented on #287
Latest nextcloud app, problem Still exists on Huawei mate 9 pro

[2017-02-01 09:14] bekl101 commented on #612
Same problem with Galaxy S7 7.0.
No upload action after taking a picture, neither taking a screenshot.
upload is only working when i copy a picture manually to "/storage/emulated/0/DCIM/Screenshots with a file-manager.
there is also no action when the build in camera-app uses the SD-CARD as storage.

[2017-02-01 09:59] jamfx commented on #612
Nice points! I have my pictues on the SD-Card, too! Screenshots have never been uploaded. Also, the upload is not triggered, if I copy the image somewhere. Upload just never starts.

[2017-02-01 13:55] KekcuHa commented on #612
Confirm that, no autoupload at nextcloud android app beta 20170130 at SGS7.

[2017-02-01 14:00] KekcuHa commented on #612
Seems to be double of #498 ([link](https://github.com/nextcloud/android/issues/498))

[2017-02-01 16:52] janvonde commented on #287
and one 1+3 for me as well...

[2017-02-01 17:56] jaj08 commented on #462
I continue to test this out, my built in camera will not upload, but when I go under auto upload settings I see all the most recent thumbnail images.

But when I use a 3rd party app, that stores the photo in a different location, it continues to auto upload them no problem.

[2017-02-01 20:25] riesnerd commented on #603
Okay thanks! In some way this also enhances security. ;)

[2017-02-01 20:38] mario commented on #603
@tobiasKaminsky let me think about it, and I'll come back to you - we need to focus on fixing current issues first to make the app (more) usable than it is now - thought definitely this is something we want to do in the future.

[2017-02-01 21:04] razzildinho commented on #462
I'm encountering the same issue. Can confirm that a third party camera saved somewhere other than DCIM/Camera/ uploads successfully. However, when I set the save directory to DCIM/Camera/ on the third party camera it didn't work. From the logs it looks like the `SyncedFolderObserver` event is not being fired when DCIM/Camera contents changes but is being fired for other directories.

[2017-02-01 21:36] mario commented on #612
@KekcuHa SGS7 has only Android 6 though, right?

[2017-02-01 21:47] fredddii opened #613 "Can not add folders to auto upload (like my app data backup folder)"
Not much to explain really. I backup certain application data with oandbackup and it ends up in a directory called oandbackup.

I would like to add this as an auto upload folder to keep my backups backed up on Nextcloud.

Using Nextcloud 1.4.1 on Android 7.1.1.

![r0wr8vk](https://cloud.githubusercontent.com/assets/15217150/22527689/61cee6b0-e8d0-11e6-81d7-2ae827a5c4e1.png)

[2017-02-01 22:30] witteschnitte commented on #462
for me it is also not working with Screenshots. I also tried other folders but nothing happens.

My systeminfo you will find in previous posts.

[2017-02-01 23:31] mario commented on #571
Thinking a bit further after developing for a bit of time

- master freeze is a silly idea
- once we're ready for a new feature release, tag (say 1.4.0) and create 1.4.x branch out of it
- use master for further development
- backport new fixes to 1.4.x branch and release 1.4.x releases from that

This is proven to work, doesn't impose artificial freeze and will allow us to develop and merge faste

[2017-02-01 23:38] mario commented on #601
Just as a test, can you try to disable the bruteforce protection and let me know if that helps?

'auth.bruteforce.protection.enabled' => false,

[2017-02-01 23:42] mario commented on #601
@AndyScherzinger I would avoid raising timeouts - that does not solve a problem.

[2017-02-02 01:29] MightyCreak commented on #601
@mario nope, it doesn't fix the problem with the new line in the config file.

I think the slowness problem is more widespread than we imagined: https://help.nextcloud.com/t/why-is-my-nextcloud-so-slow/8288

[2017-02-02 04:42] bekl101 commented on #612
@mario
No, since last week 7.0 is rolled out by Vodafone on SGS7

[2017-02-02 05:18] MightyCreak commented on #601
There seems to be a problem with Nextcloud 11 (https://github.com/nextcloud/server/issues/3134#issuecomment-276870163). We'll see if the bug happens on more and more instances as Nextcloud 11 spreads out.

[2017-02-02 05:59] LEDfan commented on #601
@MightyCreak the problem described in nextcloud/server#2272 is caused by loading CSS and JS files, and I'm almost sure this can't cause timeouts in the Android app (since it doesn't use CSS or JS files)

You can test the performance of the PHP request with curl: (http://www.shellhacks.com/en/Check-a-Website-Response-Time-from-the-Linux-Command-Line)
[code]
This is the result on my instance:
[code]

[2017-02-02 06:20] MightyCreak commented on #601
@LEDfan My problem isn't the connection to the server (which is indeed quite fast), but the connection of a user to its Nextcloud account (i.e. what happens once you clicked on the button "Connect" -- it's different in French, but I guess the button should look like that).

[2017-02-02 08:01] KekcuHa commented on #612
@mario, no, SGS7 now on Android 7.0 as been already pointed by @bekl101
The same situation (no autoupload at beta client) at LG G Pro2 running on Android 5.0.1.

[2017-02-02 08:02] mario commented on #612
Thanks for letting me know - there is SGS7 among my phones, but no Android 7 yet on it. Anyway, I'm looking into the issues. As for now, AutoUpload is only on 7 (we hope to bring it to 5 and 6), and 4,5,6 use InstantUpload (older version).

That being said, AutoUpload does have it's issues that I'm currently correcting.

[2017-02-02 08:42] bekl101 commented on #612
is there a temporary workaround to sync photos taken on my mobile with the nextcloud server until the Autoupload problem is fixed?
@mario
if you need logs from the beta let me know.

[2017-02-02 10:40] kubjo commented on #612
Same issue with LG G5 Android 7.0   Nextcloud Beta 20170130

[2017-02-02 11:04] mario commented on #613
After looking into everything, this feature is not there on purpose - we first have to make sure auto upload works for regular images/videos taken, and after that we'll implement this request of yours!

Thanks for taking the time to write a bug report!

[2017-02-02 11:05] mario commented on #612
Hello,

it looks like I've determined the root cause of the problem, but I have to figure out how/if it's easy to fix or not.

Thank you for your patience!

[2017-02-02 14:06] daymr commented on #612
Can confirm.. verizon galaxy s7 android 7.0 beta 2 Nov 22 build.. autoupload is ENTIRELY broken and does not function with any camera app or storage location. Please fix. Thanks for the awesome dev work!

[2017-02-02 20:46] mario commented on #612
So it seems that the problem is bigger than we thought - some phones (Galaxy ones in particular) just don't emit the right information that we need to make autoupload work. As such, we need to rethink how we're gonna handle uploads in the future and pave a way to true two-way sync.

[2017-02-02 21:04] jamfx commented on #612
Hi Mario,
for my Side, I don't need a two-way-sync on my phone. I just would love to have a Picture Upload. Maybe this can be reviewed in a first way?
If I can help for this somehow, let me know.

[2017-02-02 22:52] mario commented on #612
I have strong reasons to believe the Auto upload will be fixed soon as I am working on rewriting our upload service, and will be brought to Android 5.x and 6.x as well. 4.x can be expected, but I do now know when - until then, Instant upload can be used there (when it works(.

[2017-02-02 23:26] mario commented on #611
We are currently going to exclude all DOT files just like @AndyScherzinger suggested. Thank you for this bug report.

[2017-02-02 23:34] mario commented on #612
Fix ready (https://github.com/nextcloud/android/pull/615), we'll hopefully have it in beta soon!

[2017-02-03 04:58] OlivierS1 commented on #498
Beta version 20170202 doesn't have a fix for the Auto upload feature.

Here is the content of the log:

2017/02/02 20:50:48
com.owncloud.android.files.InstantUploadBroadcastReceiver : Received: android.hardware.action.NEW_PICTURE

2017/02/02 20:50:48
com.owncloud.android.files.InstantUploadBroadcastReceiver : New photo received

2017/02/02 20:50:48
com.owncloud.android.files.InstantUploadBroadcast

[2017-02-03 05:06] OlivierS1 opened #616 "Need feedback on server connection state"
### Actual behaviour
-Tell us what happens

I use "Brute force attack" prevention on the server running Nextcloud 11 and sometime it is triggered after several unsuccessful logins.
When Android app is running, it is not possible to tell whether the connection to the server is active.
I usually find those event by loging with the web interface, but it is not convenient.

### Expected behaviour
-Tel

[2017-02-03 05:25] OlivierS1 opened #617 "Nextcloud beta 20170130 unrecoverable crash"
### Actual behaviour
-Tell us what happens
Trying to get access to "Settings" caused the dispplay to turn black, but some of the phone overlay such as network, time and others were still visible.
Nextcloud app would then return to the "passcode" page.
Once passcode entered, the "error" log would appear and upon deleting the log, the app would crash again.
I was able to send the log with my normal

[2017-02-03 05:41] OlivierS1 opened #618 "Nextcloud beta 20170202: Passcode key fills entire screen"
### Actual behaviour
-Tell us what happens
The new passcode window has much bigger keypad that it used to. On my phone, it almost occupies the entire display.
It seems I can get the smaller keypad version if I select the Back-softkey... button.
I think if keypad layout be chosen, I would rather give it a "Settings" option.
As of now, the bigger keypad is the default size presented but it is not pe

[2017-02-03 05:56] OlivierS1 opened #619 "Sharing files: request for improvement"
### Actual behaviour
-Tell us what happens
When selecting a file for sharing, the application will present a popup window where user can be entered.
Once the user has been selected, there is an option to clear the keyword used in the search bar, so that another user can be added. This is fine.
However, the only way around to exiting this popup window is to press the back key on my phone.
This requ

[2017-02-03 10:34] riesnerd commented on #603
Okay thanks in advance!

[2017-02-03 15:27] tobiasKaminsky commented on #619
Thank you for taking the time to report this enhancement.
cc @jancborchardt @eppfel (our designers/UX experts)

Searching for an user
![screenshot_1486135507](https://cloud.githubusercontent.com/assets/5836855/22596832/6cc3a444-ea2d-11e6-84cd-b5f888c02ec3.png)

Selected an user
![screenshot_1486135522](https://cloud.githubusercontent.com/assets/5836855/22596830/6c1cff0e-ea2d-11e6-8207-78942f7cc7fc

[2017-02-03 15:33] tobiasKaminsky commented on #616
@jancborchardt I think I remember that someone wanted to show a little hint on top of the file list if there is no connection.
Do you think this should also be used for this case?

[2017-02-03 15:48] tobiasKaminsky commented on #498
InstantUploadBroadcastReceiver:61 on Beta is

On my emulator with Nougat it still goes into the if branch, although if I manually execute Build.VERSION.SDK_INT < Build.VERSION_CODES.LOLLIPOP on the breakpoint it says "false". Which is the expected behaviour.
This seems to be the reason why here the output of the BroadcastReceiver is shown, even if the AutoUpload is used.

[2017-02-03 15:49] tobiasKaminsky commented on #498
@OlivierS1 tomorrow there will be a new beta with a significant change on autoupload, maybe you want to give it a try?

[2017-02-03 15:54] tobiasKaminsky commented on #611
Fine for me.
If too many users want to sync their hidden files, we will have to think about it again.

[2017-02-03 15:54] #611 closed

[2017-02-03 15:57] tobiasKaminsky commented on #613
There is a (long-term) roadmap for AutoUpload/sync: #285
And there we already included this idea.

[2017-02-03 15:57] #613 closed

[2017-02-03 16:08] tobiasKaminsky commented on #490
With our new #567 Photo view we can have both, I think:
- just thumbnails in Photo view
- in FileList if you switch to grid view show FileName for videos

cc @eppfel @jancborchardt

[2017-02-03 16:10] tobiasKaminsky commented on #531
I do not understand your idea :/
Can you make me a mockup or find an app that is similar to the way you want to have it?

[2017-02-03 16:22] tobiasKaminsky commented on #573
And how do I get one result back? Nearly every search I saw (not on mobile) has previous and next.
Also it would be really nice to have a result count.

[2017-02-03 16:23] tobiasKaminsky commented on #573
https://stackoverflow.com/questions/32337495/how-to-add-buttons-to-search-view-in-android-toolbar

[2017-02-03 16:24] tobiasKaminsky commented on #549
@mario as you are now also familiar with upload.
Do you have an idea? This seems to be instantUpload as it is Android 6...?

[2017-02-03 16:27] tobiasKaminsky commented on #549
@xadox-1st @heyiswas do you see the upload as pending in the upload view?

[2017-02-03 16:31] heyiswas commented on #549
No pending upload. It's like nothing happens at all. Also it makes no difference, if the Nextcloud app is running or not.

[2017-02-03 16:37] mario commented on #549
@tobiasKaminsky yes, this is instant upload - folks, will you be able to test our new beta build tomorrow? We enabled an improved AutoUpload for Android 6 as well, so that should help with this problem.

You should be able to download it from this link (but tomorrow please) - https://github.com/nextcloud/android/raw/beta/apks/latest.apk

(Let me know if I'm wrong on the link @tobiasKaminsky)

[2017-02-03 16:41] heyiswas commented on #549
@mario thanks, I'll test it.

[2017-02-03 16:46] mario commented on #618
Thank you for your report. We'll definitely investigate - this is something we're still discussing if it's worth having.

[2017-02-03 18:50] OlivierS1 commented on #616
I think that would be just fine as long as it is not based only on Wifi connection alone.
In the current state of the app, when the active page is being refreshed (swiping down), the top portion of the screen shows some activity bar indicating something is happening, but this is not enough to know if the communication with the server is taking place.
A hint, such as a specific icon can be used and

[2017-02-03 21:01] jacksgt commented on #527
I just upgraded my Nextcloud instance to 11.0.1 and the app to 1.4.1, however the issue still persists...

Is there anyway I can assists debugging this problem?

[2017-02-04 03:50] OlivierS1 commented on #498
Can't wait to get my hand on it.

[2017-02-04 04:30] OlivierS1 commented on #498
I just checked the update as I am in Western Canada. It turns out the update is available.
Here are my first feedbacks:

- Downloaded the APK via the app, but APK coudn't install. It happened also last night when trying to install 20170202.

-Installed APK 20170204:
- Made sure normal Nextcloud app doesn't have auto upload enabled.
- Went back onto Nextcloud Beta 20170204 and setup camera folder l

[2017-02-04 04:32] OlivierS1 commented on #498
So far I am happy with the result but I need to explore Nextcloud beta 20170204 in more depth, especially with both local and external SD support.

[2017-02-04 04:53] OlivierS1 opened #622 "Autoupload "Remote folder" setup improvement"
### Actual behaviour
-Tell us what happens
Under Nexctloud app beta (20170204 and prior), setting up individual Autoupload "Remote folder" is a great idea.
However, I am not happy with the default "InstantUpload" as the primary folder. The reason is that I do share this folder with other people and it does appear under "InstantUpload(2)" and so forth. Thus is not very personal. So to alleviate thi

[2017-02-04 05:17] OlivierS1 commented on #498
More feedback:

I have remapped my "Remote folder: location to "InstantUpload_Olivier".
Now I have the following issues:

Nextcloud app 20170204 doesn't want to stop uploading:
In the upload folder I have now 2 different folders in the list (I don't know if it is the source or the destination folders):
1: "InstantUpload/Camera"
2: "InstantUpload_Olivier/2017/02"

Closing Nextcloud app then startin

[2017-02-04 07:01] mario commented on #498
@OlivierS1 uploading the same image twice fails due to another bug that we're working on https://github.com/nextcloud/android-library/pull/33. I would assume though that there should be only one upload though :) @tobiasKaminsky?

[2017-02-04 08:33] tobiasKaminsky commented on #549
As an a alternative you can get it also from f-droid, but as they have an one day delay only try it tomorrow.

[2017-02-04 08:37] tobiasKaminsky commented on #618
The new behaviour is introduced by #497 for beta (and #620 for master).
So we enhance this PR prior to merging it.

[2017-02-04 08:46] tobiasKaminsky commented on #618
After testing it myself (I do not use the passcode feature) the best in my opinion is that the app just remembers the state of the virtual keyboard, as @OlivierS1 said.

The remaining design question is how to switch back from "small" to "big" keyboard.

![screenshot_1486197894](https://cloud.githubusercontent.com/assets/5836855/22617184/b6a177ee-eabe-11e6-85a4-922eaa00b123.png)
![screenshot_14861

[2017-02-04 08:47] tobiasKaminsky commented on #527
@LukasReschke @MorrisJobke do you have an idea?

[2017-02-04 09:42] tobiasKaminsky commented on #616
My idea was something like that:
When the app figures out that there is no internet connection or it is banned due to brute force protection it should show a warning similar to this picture, but in red.

The warning will disappear if a later connection works (either if the user pull to refresh or changes a folder).

![screenshot_1486201171](https://cloud.githubusercontent.com/assets/5836855/226174

[2017-02-04 09:42] tobiasKaminsky commented on #616
@jancborchardt @eppfel

[2017-02-04 12:24] heyiswas commented on #549
The auto upload with the beta app (over radio) works fine. Thanks for your work!

[2017-02-04 19:20] OlivierS1 commented on #616
@tobiasKaminsky I do not understand what you are trying to show on the screen capture. Where is the warning you are referring to. Also, are you thinking of changing the color of the app entirely during a no connect event? If so would it be confused with Theming color them?

[2017-02-04 19:23] mario commented on #616
@OlivierS1 he would change the message "Showing first 100 results." to something like "No connection" :)

[2017-02-04 20:44] OlivierS1 opened #623 ""No files in here..." request for clarity."
### Actual behaviour
-Tell us what happens
When entering a folder which has not been synced yet, the following message will first pop-up:
"No files in here..."
However as soon as the request to the server is underway, the "Loading" animation will appear.

Upon completion of the request, the display will be either ""No files in here..." in the event there really is no files, or the content of the f

[2017-02-04 22:11] Flole998 commented on #532
That pull request should add that feature.

[2017-02-04 23:07] rigrig opened #625 "Feature request: try app passwords in uppercase"
### Actual behaviour
- user creates app password: ABCDE-FGHIJ-KLMNO-PQRST (which is good, because uppercase is easier to read)
- user attempts to log in with abcde-fghij-klmop-pqrst
- login attempt fails

### Expected behaviour
- The client should detect the provided password matches /[a-z]{5}-[a-z]{5}-[a-z]{5}-[a-z]{5}/ , retry to login with strtoupper($password), and (on success) remember the up

[2017-02-04 23:57] MorrisJobke commented on #527
@tobiaskamimsky I'm a bit puzzled about what actually happens. The default page is forwarded to the /login page and from there again to /login in an endless loop?

Or what is the problem here?

[2017-02-05 00:16] mario commented on #612
Few issues with the fix, working on it!

[2017-02-05 00:16] mario commented on #549
@heyiswas aware of the issue. Working on it ;)

[2017-02-05 03:14] daymr commented on #612
************ CAUSE OF ERROR ************

java.lang.IllegalStateException: Apps may not schedule more than 100 distinct jobs
	at android.os.Parcel.readException(Parcel.java:1701)
	at android.os.Parcel.readException(Parcel.java:1646)
	at android.app.job.IJobScheduler$Stub$Proxy.schedule(IJobScheduler.java:158)
	at android.app.JobSchedulerImpl.schedule(JobSchedulerImpl.java:42)
	at com.owncloud.andr

[2017-02-05 04:02] daymr commented on #612
Unrecoverable crash screen appears every 10 seconds! Even on reboot.. guess clear program data?

[2017-02-05 06:04] OlivierS1 commented on #498
@mario I can't stop the failed uploads. Even though I have cleared them from the "upload" menu, they reappear.

Here is some part of the log I have edited which shows activity of one of the uploaded files.
I don't know if it is related to the issue you mentioned.
The following repeats many times and seems to be triggered when the app is opened or accessing the content of the "Upload" menu.

2017/0

[2017-02-05 08:01] mario commented on #498
@OlivierS1 thanks, working on it - found the issue.

[2017-02-05 08:55] tobiasKaminsky commented on #616
@mario exactly, and red 👍

[2017-02-05 08:57] tobiasKaminsky commented on #623
I think this is a great idea

@jancborchardt further improvements?

[2017-02-05 09:00] tobiasKaminsky commented on #625
I think the password is case-sensitive because it adds more complexity to possible password combinations. So I think it should sty the way.

[2017-02-05 11:18] mario commented on #612
Working on a new beta. Hopefully Tuesday.

On Sun, 5 Feb 2017 at 05:02, daymr <notifications@github.com> wrote:

[2017-02-05 15:45] mid1221213 commented on #438
Hi @sasoiliev, @AndyScherzinger,

I have the same problem of syncing my music to a place where the Music app (from my Z3) will scan it.

While waiting for this, I just had to get the source from git and change the line 68 in DataStorageProvider.java to use the method getExternalMediaDirs() instead of getExternalFilesDirs(null).

Of course, I've made this only for myself and installed the app with

[2017-02-05 16:21] rigrig commented on #625
I didn't mean to make passwords case-insensitive.
I meant the specific case of app passwords:
These are already generated in all caps, in the pattern ABCDE-FGHIJ-KLMNO-PQRST.
If you then type this into your phone but forget about using uppercase, it would be nice if the app detects that the entered password looks like a lowercase app password and also tries it in uppercase.

This wouldn't affect t

[2017-02-05 18:26] AndyScherzinger commented on #618
cc @zmatsuo

[2017-02-05 19:29] mario commented on #625
@rigrig that goes against all logic. I'm sorry, but this is not something we will do.

[2017-02-05 19:29] #625 closed

[2017-02-05 22:58] MorrisJobke commented on #557
Keep in mind that there should be an option to filter the activities by "recently added", "recently modified" and "shared files".

[2017-02-05 23:10] AndyScherzinger commented on #611
@mario why is this issue closed? At this moment we do not exclude all DOT files, so we need an issue and a code change for that, also since it got reported here: https://help.nextcloud.com/t/android-client-instant-uploading-exo-etc-files-when-i-told-it-not-to/8394

[2017-02-05 23:11] mario commented on #611
@AndyScherzinger @tobiasKaminsky closed it I guess? :) But there's a code change in my PR for that :)

[2017-02-05 23:12] AndyScherzinger commented on #611
And that one excludes all "hidden files" ?

[2017-02-05 23:13] mario commented on #611
It excludes DOT files, yes.

[2017-02-05 23:19] mario commented on #557
@MorrisJobke you mean Files themselves, not activities?

[2017-02-05 23:27] MorrisJobke commented on #557
Didn't we want to put this into the activities, because there is no other API where we can get the "recently added"/... stuff from?

[2017-02-05 23:28] mario commented on #557
I can get shared files I believe in a flat list, right @icewind1991? As for the rest, I can read modification/creation date?

[2017-02-05 23:51] AndyScherzinger commented on #528
@OlivierS1 I'll close this issue since @tobiasKaminsky has automated this now

[2017-02-05 23:51] #528 closed

[2017-02-05 23:57] MorrisJobke opened #626 "Make DAVDroid integration more seamless"
* clicking the "setup sync" button it should:
   * automatically generate an app password and doesn't ask the user to type in the password in DAVDroid again
   * automatically set the users email address instead of asking the user for it (even if prefilled)
   * by default sync all calendars and address books and don't require the user to tick all those items manually

@tobiasKaminsky @AndyScherzi

[2017-02-05 23:57] MorrisJobke commented on #626
cc @oparoz

[2017-02-06 05:33] MorrisJobke commented on #557
But not across all files. The modified date can only be read for the listed files.

[2017-02-06 07:38] jancborchardt commented on #626
Is it even possible to trigger the download more automatically if you don't have it? Like not redirect to the Play store but automatically show the popover to accept? Just a thought.

Otherwise totally agree with Morris! :+1:

[2017-02-06 08:33] mario commented on #557
@icewind1991 should be able to get me a flat list of recently modified (say modified in the last three days) via new webdav search, right? :)

[2017-02-06 09:01] mario opened #627 "Delete ALL relevant local files once account is removed"
Currently when you remove an account all files stay on your phone.

This is, IMHO, a very big security problem and should be remedied for 1.5.0.

Todo:
Show a warning with the options OK and Cancel, but don't provide the option "Remove account but keep data locally".

[2017-02-06 09:07] tobiasKaminsky commented on #627
I think there was a discussion about it, either here or back then on ownCloud repo...
But I do not remember the conclusion of it...

When removing the account the user should get a warning "all files will be deleted from your phone and stay on server" to make sure the user knows what it is doing.
I think it should be a question and the user can choose to keep the files (as it is his/her phone and

[2017-02-06 09:08] mario commented on #627
Less options, more defaults - since the files stay on the server no harm done.

But @jancborchardt is our UX guy, so let's just wait for him...

[2017-02-06 09:09] tobiasKaminsky commented on #627
(label 1.-4. are only for PRs, Issue should only have these labels "none", "approved", "pr exists").

[2017-02-06 09:17] mrvanes opened #628 "Autoupload account not pin'able"
### Actual behaviour
-Tell us what happens
I have two NextCloud servers and configured two NextCloud accounts.
I have AutoUpload enabled and have it pointed to photos/upload.
I want the pictures to be uploaded to server 1.
When I take a picture, the auto-upload process uploads the picture to the server that was last accessed in the NextCloud app.
Then, trying to manually upload the same picture to

[2017-02-06 09:23] AndyScherzinger opened #629 "Improve web dav URL calculation"
### Actual behaviour
-  #401 fixed the web dav URL to be calculated as: ```/remote.php/dav``` but in a hard coded way

### Expected behaviour
- we should  use ```AccountUtils.getWebdavPath(AccountUtils.getServerVersion(account)``` while this one should then return ```/remote.php/dav``` instead of ```/remote.php/webdav``` for server versions >= 9
- This way the path works of Nc but still supports o

[2017-02-06 09:26] mario commented on #628
Hello, thank you for the report.

Manual upload fail is a known issue and we're working on it. cc @tobiasKaminsky

As for uploads to the wrong server - I've heard of this issue, but unfortunately never had the time to properly test it out - I attempt to look into it for 1.4.2, but if not will be fixed in 1.5.0 for sure.

[2017-02-06 09:28] AndyScherzinger commented on #627
I'd also say there should then be a warning that the files will be removed from the device but like Mario argues for the default also say that if the user chooses to remove the account the files will be deleted but never kept on the device.

Else just don't remove the account. ;)

[2017-02-06 09:29] mario commented on #627
@AndyScherzinger some bugs in your answer maybe? :D

[2017-02-06 09:30] AndyScherzinger commented on #626
That is (technically/API-wise) not possible, we can only redirect to the store itself

[2017-02-06 09:33] AndyScherzinger commented on #627
I edited the comment, tl;dr:

Show a warning with the options OK and Cancel, but don't provide the option "Remove account but keep data locally).

[2017-02-06 09:34] mario commented on #627
I can live with that, even though I'm always a fan of less warnings, especially with things that are easily revertable (like removing an account from an app is). :)

[2017-02-06 09:35] AndyScherzinger commented on #627
It is not about the part of re-adding the account but of possibly re-downloading all the files ;)

[2017-02-06 09:47] AndyScherzinger commented on #571
I had another discussion on this with @mario yesterday proposing a slight change to his proposal where I think it can help us with speed but will keep the focus on bugfix releases rather than feature releases and won't need master freezes.

* Once we start working on a new feature release we create a branch based on master, e.g. 1.5.x (which includes 1.5.0!)
* bugfixes for the actual stable (e.g.

[2017-02-06 09:52] JSoko commented on #612
I have also that crashscreen on SGS 7 nougat with beta 170204:
[code]

[2017-02-06 09:54] mario commented on #612
170206 should fix it.

[2017-02-06 09:59] mario commented on #626
Installing the package SHOULD be possible starting from Lollipop (DEVICE OWNER permission @AndyScherzinger), but since Davdroid is a paid app that becomes an issue.

[2017-02-06 10:04] mario commented on #571
@AndyScherzinger ok, it's a bit clearer now.

While I'm not a (big) fan of the suggested approach (I dislike rebases for no good reason, but I understand the chronology reasoning), I think it's better than what we have now, so if this is a compromise, let's do it! :)

[2017-02-06 10:43] jasonbayton opened #630 "New autoupload not respecting custom directories & errors"
### Actual behaviour
- When a photo is automatically uploaded, it creates a default instantupload folder in NC root and populates files within that folder (and respective subfolders it creates)

### Expected behaviour
- As I've selected custom folders for device folders to upload to, I expect it to respect those.

### Environment data
Android version: 6.0.1

Device model: Vodafone VFD 900

Stock o

[2017-02-06 10:44] jasonbayton commented on #630
cc @mario

[2017-02-06 10:44] mario commented on #630
Thank you @jasonbayton :)

[2017-02-06 10:54] jasonbayton commented on #630
To add, it's also uploading from other folders where autoupload is disabled. Camera for example is currently backed up by the non-beta and doesn't need to be done twice, which is exactly what it's doing in a different folder structure to how I set it up!

[2017-02-06 11:04] mario commented on #630
@jasonbayton right, so you have camera auto-upload enabled on the non-beta app, but not on beta?

Unsure if the behaviour you describe is something that can be avoided at the moment :-/

[2017-02-06 11:14] jasonbayton commented on #630
Let's ignore the non-beta app. So:

Currently camera upload is disabled through the autoupload menu, it has a line through the cloud icon so I know it shouldn't work, and yet it's uploading to a directory I didn't specify anyway.

[2017-02-06 11:14] bekl101 commented on #612
crashscreen after installing 170206 with a previous app version (170204).
after removing 170204 and installing 170206 no crashscreen.
autoupload tested with a few new piktures seems to work as expected.

[2017-02-06 11:44] mario commented on #630
Ok, I've isolated the issue of not uploading to the proper directory, but can't reproduce the issue where it uploads stuff even if that folder is disabled for autouploads :-/

[2017-02-06 12:02] jasonbayton commented on #630
Even if it's the camera folder? Is there anything special about the camera folder historically that may attempt to upload even if disabled?

I've got a new camera folder created this morning to a folder directory I've never had (as it's all custom locations) and over a gig of camera files uploaded so far...

Unless because it _hasn't_ been working, it's been queuing it all up? I imagine the camera

[2017-02-06 12:12] jasonbayton commented on #630
Mario I think there's been a queue forming, with the locations of files to be backed up stored against the files in the queue. It's now switched to uploading them where they should be going (therefore respecting the settings against each directory).

Literally seconds after installing this update it started uploading and with the error on the upload screen I pasted I've been having trouble seeing

[2017-02-06 12:15] mario commented on #630
@jasonbayton I'm investigating - sorry about the trouble, and thank you for helping me investigate this!

[2017-02-06 12:21] jasonbayton commented on #630
Besides the error in the upload area, it looks like it's behaving as it should be actually. I wasn't aware it was queuing all this time (I've had the non-working beta on the device for several months) so it's caught me by surprise. I blame @tobiasKaminsky :)

[2017-02-06 12:22] bekl101 commented on #360
similar problem with beta 20170206
download is started , but file isn´t stored on sd-card. Error looks like permission denied.
when i select internal storage as target, everything works as expected.
With stable version both target are exepted (internal and sd-card)

[2017-02-06 12:33] przybylski commented on #360
@bekl101 what is your android version ? is the phone rooted?

[2017-02-06 12:46] bekl101 commented on #476
still the same problem in beta 20170206. App logs in directory "nextcloudbeta" and the temporary file resides in "nextcloud" at internal storage. No file can be stored in the selected directory at the SD-Card

[2017-02-06 17:07] bekl101 commented on #360
Its a Galaxy S7 Android 7 no root

[2017-02-06 17:13] AndyScherzinger commented on #626
So that is a no then, right?

[2017-02-06 17:30] mario commented on #626
Indeed @AndyScherzinger :)

[2017-02-06 18:19] jamfx commented on #612
I tried Nextcloud 20170206 beta and still have no auto upload on my Phone. I didn't had crashes in earlier versions... Just no Auto Upload at all.

[2017-02-06 18:20] mario commented on #612
That sounds strange @jamfx - have you configured this in the Auto Upload screen?

[2017-02-06 18:34] jamfx commented on #612
Yes, where else could this be configured?

[2017-02-06 18:39] bekl101 commented on #612
really strange, after successfull testing a few hours ago. Now i took a pikture and nothing happens. Nothing changed. Mobile rebooted an now AutoUpload works again, like nothing went wrong before.
Maby a powersafe problem in Nougat?

[2017-02-06 18:47] tobiasKaminsky commented on #438
@przybylski as you have programmed it, can you have a look if the mentioned function is better?

[2017-02-06 18:54] jamfx commented on #612
Hmm, shouldn't it start uploading when I get back to the Nextcloud App? I will have a look at the power savings. And will get back to you.

[2017-02-06 19:00] tobiasKaminsky commented on #612
No, it uses the doze mode. So the upload is "registered" to the android job scheduler. And if android decides to execute the job the file will be uploaded.

[2017-02-06 19:07] bekl101 commented on #612
@tobiasKaminsky
thanks for the explanation. Mh, maybe i didn´t wait long enough. I will test it tomorrow morning again and give you a response if it works or not

[2017-02-06 19:10] bekl101 commented on #612
i´m not in a hurry. I´m happy that this feature will work again.
great work

[2017-02-06 19:17] jamfx commented on #612
Even if I wait about 5 Minutes it doesn't start. Although the picture is shown in the auto upload preview, where I can select the folders.
I double checked the Battery Saving Settings and the app is not on the "close" list.

[2017-02-06 23:55] MorrisJobke commented on #557
Oh - didn't know that one :)

[2017-02-07 04:54] bekl101 commented on #612
Tested again, without changing anything. works as expected.

[2017-02-07 06:34] jamfx commented on #612
@bekl101 I did the following:
Downloaded the latest version (20170207) this morning. Just switched on Auto Upload. Took a Picture, waited. Nothing happened. BUT after a about 10 seconds the upload started! So it worked somehow. I will try to confiugure my other settings (i.e. default Path of App, subfolders on auto upload...) and will leave another comment here. A BIG THANKS FOR YOUR WORK! <3 :1st

[2017-02-07 06:42] jamfx commented on #612
Okay, hold on once more. I found another bug in this Version. It starts uploading the picture TWICE! So first upload goes through, but second upload fails. The App just recognizes the picture twice and tries to upload both pictures with the same name. So second upload fails.

[2017-02-07 07:12] mario commented on #557
No, I was telling him to implement it :P

[2017-02-07 07:14] mario commented on #612
Hello, there will be another version tomorrow with bugfixes. Once it's out, please delete the current beta and install the new one :)

[2017-02-07 07:16] jamfx commented on #612
@mario Nice! Just drop me a line to test it again! So far I will use the "buggy" App. I prefere to use this and delete the "double" upload, than having none... :)

[2017-02-07 07:16] mario commented on #612
Yea, well ... the "other" upload of the same image won't work anyway due to a different bug :p cc @tobiasKaminsky

[2017-02-07 08:00] bekl101 commented on #612
clean installed 20170207 upload works. but possible onother bug.
first i used the default place to store picture uploads (SoforUpload/Camera) it work correct (exept known double upload).
Afterwards i changed the destination to another folder on my NC, took a picture and it was transfered to the default place again.
Uninstalled and new installed, i changed the path before taking a picture, than cha

[2017-02-07 08:22] JSoko commented on #612
At sgs7 nougat with 20170207 instant upload now works to the SofortUpload folder :-)

[2017-02-07 08:23] mario commented on #612
@bekl101 known bug, will hopefully be fixed by the time 20170208 lands :)

[2017-02-07 08:26] bekl101 commented on #612
ok, if you know it .
@mario sorry for OT
do you know something about the problem saving files for offline use to sd-card on a SGS7?

[2017-02-07 12:47] bes1002t commented on #553
@eppfel why not let the user decide what he want? I think every user should configure which sync type he prefers.

[2017-02-07 12:49] mario commented on #630
@jasonbayton can I please ask you to open a separate issue for that? Reason being I probably won't be able to fix this particular issue for 1.4.2 (no time :()

[2017-02-07 12:51] mario commented on #612
@bekl101 what issue number? I can test this directly since I have that phone :)

[2017-02-07 12:51] mario commented on #612
Folks, new build coming up tomorrow!

[2017-02-07 12:51] mario commented on #628
Should be fixed in a build that will land tomorrow.

[2017-02-07 12:54] jasonbayton commented on #630
Sure, I'll do that shortly.
I think I've probably mentioned about 3 issues on this ticket, shall I break out the error message into its own as well?

[2017-02-07 12:59] mario commented on #630
@jasonbayton no, everything else should be fixed in a build tomorrow :)

[2017-02-07 13:15] jasonbayton opened #631 "Autoupload implementation doesn't sort older images into correct directories."
From #630

What I have noticed is it's not respecting the date of the whatsapp media. There are images from 03/2016 being uploaded to 02/2017 for example. Is it not set to interrogate image data on non-camera images?

![96305f8c-ec69-11e6-9de5-fa248bbf6503](https://cloud.githubusercontent.com/assets/3178412/22692491/44625dbc-ed37-11e6-8a5d-db90a2f7e300.png)

Is this simply a case of it finding the

[2017-02-07 13:36] bekl101 commented on #612
@mario
#612
You can see that the file is downloadet to a temp directoy but no move to card afterwards.

[2017-02-07 13:44] jasonbayton commented on #408
@mario could this be something for you also?

[2017-02-07 13:45] mario commented on #408
@jasonbayton assign it to me and I can eventually take a look. :)

Glad you're willing to help!

[2017-02-07 13:47] mario commented on #67
This will have to work only on filenames, but I can look into it - thanks :)

[2017-02-07 13:50] jasonbayton commented on #408
@mario I have a particular set of skills, but no coding experience to make any meaningful impact on this or any other project unfortunately. The environment(s) is there whenever you, Andy or anyone else want to take a look :)

[2017-02-07 13:51] ctodobom opened #632 "Continuous errors uploading files from unselected folders"
### Actual behaviour
-After recent update from f-droid, many files was placed on upload queue, even files from folders that aren't activated on autoupload settings.

### Expected behaviour
-Correct upload of selected folders

### Steps to reproduce
1. Have a lot of files on Downloads and other folders that are disabled on autoupload
2. wait for the errors

### Environment data
Android version: 7.0

[2017-02-07 13:53] mario commented on #632
Hello,

thanks for the report, we're aware of the issue - this should be fixed in a (our) beta APK tomorrow, or the day after that in F-Droid.

Cheers!

[2017-02-07 13:55] mario commented on #408
That and your willingness to test is all I need ... unless you want to bribe me with pancakes and a good wine :D

Also, you're always more than invited to try and contribute code-wise - I'd be happy to teach you basic coding skills.

[2017-02-07 14:10] AndyScherzinger commented on #230
Hi @keithzg
is still issue still present for your device(s)?

[2017-02-07 14:14] AndyScherzinger commented on #572
@ldmpub is the actual beta working for you? -> https://f-droid.org/repository/browse/?fdfilter=Nextcloud&fdid=com.nextcloud.android.beta

[2017-02-07 14:20] AndyScherzinger commented on #405
@jancborchardt @eppfel any comment here UX wise? For the auto upload we always add the local folder to the chosen path, so each activated image folder will result in exactly the same folder on the server side within the folder a user has chosen. The discussion here is the user's whish to not do this.

Both solutions, automagically adding a folder and never adding a folder, seem not optimal in my o

[2017-02-07 14:24] AndyScherzinger commented on #626
@MorrisJobke at the moment we fill username/server-url, where should th eemail be placed and where would I find the tick boxes? None of this can be done atm sine it would require a change on the DAVDroid side first, so cc @rfc2822

[2017-02-07 14:26] AndyScherzinger commented on #582
@jancborchardt @eppfel any comments on this UX wise? I get the motivation behind it, but it also seems unintuitive to me and adding complexity to the app/code-base.

cc @mario @tobiasKaminsky for dev-side-of-life

[2017-02-07 15:31] zmatsuo commented on #618
@tobiasKaminsky
Push back button (◁key or ↵key)
to close small(soft)keyboard and switch "big" keyboard

I will add codes to save state of keyboard or/and change the size of the keyboard.

[2017-02-07 16:00] eppfel commented on #618
Looking at #497  I am not convinced to introduce a new pin keyboard, just because the softkeyboard is hidden sometimes. That's not a fix, but a new feature and we should think about it that way.
And this issue and the question of switching from one to the other shows we force complexity onto the user instead of delivering an awesome product.

If we decide to introduce it, we have to design it prop

[2017-02-07 16:11] eppfel commented on #582
I totally understand the idea, had it with other apps before. But you UX is problem and I would give this minimal priority. It is possible to deactivate wifi-only temporarily anyway, right?

[2017-02-07 16:14] mario commented on #582
@eppfel yes, but I don't think existing jobs queued would change, at least not automatically. Dunno.

[2017-02-07 16:16] eppfel commented on #405
Can't we let the user decide in the dialog where he selects the folder?

It's hard to wrap my head around the flow. Do not use the feature myself.

[2017-02-07 16:17] eppfel commented on #582
But we could implement this. And I would rather go for that, than an extra button/option/etc.

[2017-02-07 16:20] mario commented on #582
So what you're asking for is:

Be on a mobile network. Have wifi-only set. Take some pictures. Queue jobs. Disable wifi-only (manually). Run all jobs. Turn on wifi-only (manually).

Right?

[2017-02-07 16:25] eppfel commented on #582
I think that is what user would might do, but maybe I'm wrong here. Maybe a force upload per item could also be an option, but I can't imagine it, yet.

[2017-02-07 16:58] icewind1991 commented on #557
The api should support that yes

[2017-02-07 17:16] MorrisJobke commented on #626
The email input appears on the next page (when you click "login") and the tick boxes aren't visible there. The app then closes and goes back to the nextcloud app with a little notification "Sync successfully set up" (or something like this). But it isn't - you need to open DAVDroid again. Go into the account and check the calendars and address books you want to sync.

[2017-02-07 17:52] eppfel commented on #616
I would be careful with red, it should be clearly visible, but red could conflict, when we introduce theming later on. if the message slides out to grab attention this would suffice IMO.

[2017-02-07 17:54] mario commented on #110
This is now being actively worked on. You should be able to test it tomorrow via the following link:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-07 18:12] eppfel commented on #490
mh, videos are not as easy to discover than images, because they have 3 dimensions and a thumb only 2. So i think it is a good idea to add the video filename. But I don't know of a visually appealing solution for that.

A gif preview would be awesome 😍

[2017-02-07 18:27] eppfel commented on #619
Good suggestions, here my Usability Review:

1. the search for users should be intragrate into the share dialog. The button add user could add an search input into the list of users
2. everytime you select a user it gets added to the list and the searchbar is cleared and the cursor sits there.
3. Add simple done button to the end, so you don't require the the back button.
4. Deselect the file as @

[2017-02-07 18:35] eppfel opened #633 "Agenda Rhein-Main Nextcloud Meetup 15.02."
#486

[2017-02-07 18:38] eppfel commented on #583
Are we anyhow making use of the Android system setting "automatically sync data", when I was at FOSDEM these days, I activated roaming, but deactivated this option. I am always for giving users options, but this might solve the problem anyway.

[2017-02-07 19:58] ldmpub commented on #572
@AndyScherzinger: yes sort order is ok with the new sort design "I proposed :-) ;-)".

Just one more question: why the new screen is in english and I see no strings in Transifex to translate?

[2017-02-07 20:16] AndyScherzinger commented on #572
They will become available in transifex the day after this gets merged to master :)

[2017-02-07 20:23] mario commented on #618
Can we copy Passcode? :P

[2017-02-07 20:46] mario commented on #633
What kind of meetup?

[2017-02-07 21:04] mario commented on #557
@MorrisJobke so? We're putting it in the sidebar as a Files "filter"/view, right? Rather than activity filter?

[2017-02-07 21:13] MorrisJobke commented on #557
Yes.

[2017-02-07 22:20] ChrisDeath opened #634 "AutoUpload Fails due to too many jobs"
### Actual behaviour
Activated Camara Autoupload after it finally works since 1.4.1. But then App throws exception:

[code]

### Expected behaviour
(new) Photos gets uploaded.

### Steps to reproduce
0. have more then 100 photos in camara folder (me has 374)
1. open autoupload settings
2. don't change anything
3. press save
4. Exception shown

App is restarting then and uploads the first 100 Image

[2017-02-07 22:58] AndyScherzinger commented on #634
Hi @ChrisDeath
this should be fixed with the next beta release via #615 - 20170208 Beta.

Please reopen, report back if it isn't solved for you (which it should)

cc @mario

[2017-02-07 22:58] #634 closed

[2017-02-07 23:09] AndyScherzinger commented on #633
Nextcloud Meetup Rhein-Main 🌮

[2017-02-07 23:11] AndyScherzinger commented on #633
--> https://www.meetup.com/de-DE/nextcloud-rhein-main/events/236699096/

[2017-02-08 02:22] pahy commented on #583
Where do i find this option? I got here Android 7 with changes from Huawei (EMUI) and i can't find this option.
As i do not know this option, would it let me sync my calendar (with low data consumption) and stop syncing nextcloud (with high data consumption) when on roaming?

[2017-02-08 06:53] bekl101 commented on #612
tested 20170208 after clean install.
Autoupload seems to work , no doble uploads like yesterday.
but i didn´t find a log file, neither in the app, nor on filesystem.

[2017-02-08 07:23] bekl101 commented on #476
tested with beta 20170208, same behavior as described above. (SGS7 Android 7.0 VD2)

[2017-02-08 08:11] jamfx commented on #612
This Version (20170208) works for me! No double Uploads and Uploads start quite quickly. Nice! Thanks a lot!

[2017-02-08 08:39] bekl101 commented on #612
@jamfx
do you see the log within the app?
sync seems to be stable

[2017-02-08 08:50] jamfx commented on #612
As far as I can see, nope... sorry, no logs.

[2017-02-08 10:01] mario commented on #612
@bekl101 what does "Nextcloud beta wird wiederholt beendet App schließen" means?

[2017-02-08 10:03] mario commented on #612
@bekl101 I just noticed you linked me to this issue, instead of the one relevant for SD card? :)

[2017-02-08 10:04] bekl101 commented on #612
That means, there comes a popup which told you that the application stops working several times and will be closed

[2017-02-08 10:04] mario commented on #612
Niiice! :) Will investigate.

[2017-02-08 10:09] jamfx opened #635 "Icons of Account not loaded - Only Letter shown"
### Actual behaviour
If you log in in your App with the account you have online, the Icon is not showing up. Only the first Letter.

### Expected behaviour
-The letter should be replaced by the Icon from Account.

### Steps to reproduce
1. Create an account in your nextcloud and attach a personal photo or Icon attached to it.
2. If you log in on your server, your icon / logo is shown in nextcloud

[2017-02-08 10:10] mario commented on #612
As for logs ... dunno, my code shouldn't affect logs at all.

[2017-02-08 10:11] bekl101 commented on #612
you´re right #476 is the right issue.
sorry for confusing you :)

[2017-02-08 10:12] mario commented on #476
@bekl101 I didn't touch this part and it's unlikely I'll be able to touch it for 1.4.2 :( Maybe later - sorry!

[2017-02-08 10:14] mario commented on #635
If you rotate your phone, does it appear? :)

[2017-02-08 10:17] jamfx commented on #635
Sorry, close this. It just loaded. No rotation needed. Ah, sorry for disturbing... :(

[2017-02-08 10:17] #635 closed

[2017-02-08 10:18] mario commented on #635
:)

[2017-02-08 10:26] zmbcgn opened #636 "TOTP Integration for Android APP"
### Actual behaviour
- I just installed the TOTP App from (https://apps.nextcloud.com/apps/twofactor_totp). Unfortunately I noticed that this feature is not supported by the Android App. Apps says "wrong login credentials"

### Expected behaviour
- Login with password and another popup with the required OTP submit prompt.

### Steps to reproduce
<opsolete>

### Environment data
Android version: 5.

[2017-02-08 10:33] mario commented on #636
Thank you for your bug report. Due to technical limitations, this cannot be implemented now - maybe later :)

For now you have to generate app codes inside settings to be able to login via mobile apps.

[2017-02-08 10:37] AndyScherzinger commented on #635
😀 Yeah they are loaded asynchronously 🚀

[2017-02-08 10:39] jamfx commented on #635
Sorry, i just made a mistake. After renewing my NC I forgot to check if the icon is there. It was gone. So I just uploaded the Pic and it appeared immediately.  Stupid me. Sorry for bothering :)

[2017-02-08 10:43] zmbcgn commented on #636
Thats what I did. I generated 10 codes within my personal settings. when i'm inside the mobile app i use my username and one of the codes as password. That is not working..

[2017-02-08 10:47] zmbcgn commented on #636
Oh. Sorry. I confused TOTP backup codes with app codes.

[2017-02-08 10:52] mario commented on #636
:)

[2017-02-08 11:15] bekl101 commented on #476
@mario
doesn´t matter.
i wonder because this function  was ok in the stable release.

[2017-02-08 11:16] mario commented on #476
Well, that is strange then ... @AndyScherzinger any more insights since you last wrote here? :)

[2017-02-08 12:09] elpraga commented on #476
@mario I can confirm that it is working in the stable release. In my opinion, it is a mishap with the paths where temp files are created. The Beta app most likely creates the tmp file somewhere and looks for it somewhere else.

I guess it should be very easy to fix just by checking where the tmp file is created when SD card is selected as storage (it should be created on the SD card, not in the ma

[2017-02-08 12:12] mario commented on #596
Easy - every time you open the app. :)

[2017-02-08 12:13] mario commented on #476
@elpraga I wonder if the issue is specific to the beta app ... maybe once we release this'll automagically work :)

But ok, I'll try to check.

[2017-02-08 12:20] eppfel commented on #583
Oh, so maybe this is deprecate or a Sony thing. It basically stops all background syncing: calendar, etc. And you are right, this is different to Auto Upload.

I'd go for the global `pause auto upload`(later: pasue `sync`) and not stop anything else.

[2017-02-08 12:21] mario commented on #583
It's significantly easier to add a NO ROAMING option since the job system supports this :)

[2017-02-08 12:30] bekl101 commented on #476
i agree with elpraga
it seems not to be an issue which is specific for an android version becaus he uses 6.0 and my mobile has 7.0.
Maybe only typo or little mismatch.
in my opinion its ab big restriction for me too.

[2017-02-08 12:44] zmbcgn commented on #636
Works like a charm.

[2017-02-08 12:44] #636 closed

[2017-02-08 13:22] mario commented on #630
This should be fixed. Confirm please? :)

[2017-02-08 13:58] jasonbayton commented on #630
Storage path was reset back to "unknown" for the first time in several upgrades and all previously selected autoupload folders have been deselected (nothing will autoupload by default).

The error is certainly gone on the uploads status screen and it's uploading perfectly moments after I receive a new image via WhatsApp (my test folder).

Looking good!

[2017-02-08 14:13] jasonbayton commented on #630
It has stopped trying to upload everything as soon as I open it, which is excellent.
It's not trying to upload the same new files repeatedly, just the once.
Custom folders are respected.

When I intentionally try to manually upload the same file a second time, it doesn't prompt me, just uploads it as file(2).jpg - so there's no duplicate detection prompting happening yet.

The larger folders such

[2017-02-08 14:15] mario commented on #630
Yes, the prompts will take a bit of time to implement - dunno when I can come to that.

Ok. thanks for testing. I would appreciate if you'd do the same round of testing tomorrow :)

[2017-02-08 14:16] jasonbayton commented on #630
Sure, just ping me when it's ready :)

[2017-02-08 14:18] mario commented on #630
Btw. the slow loading and scrolling is also a problem with the implementation. Will be fixed eventually - fix is known, just takes time.

[2017-02-08 14:23] JSoko commented on #612
Hello,
on sgs7 nougat 20170208 works for me. Autouploads are working an no double uploads...
Thank You! 👍

The logs window in the app is empty, but the currentLog.txt has 143 kb

[2017-02-08 14:39] jasonbayton opened #637 "Feature request: Select all (particularly in search)"
It would be useful to, on searching for a selection of files by a certain criteria, select the 3 dots menu and tap "Select all". Currently the requirement to long tap + tap each file to be selected is not a quick and simple process, particularly when dealing with a large number of files.

PR: #1196

[2017-02-08 15:16] mario commented on #637
Like the idea. I'll do that once I start working on search. (1.5.0).

@AndyScherzinger @tobiasKaminsky confirm please.

[2017-02-08 15:17] mario commented on #630
I'm going to close this issue since it's solved, but let me know if it pops up again as I re-arrange the code :)

[2017-02-08 15:18] mario commented on #628
This should be fixed in the beta build.

Please try:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:19] mario commented on #622
You should be able to remap whatsapp to your_remote_folder/Whatsapp thought? Or have I misunderstood the problem? :)

[2017-02-08 15:19] mario commented on #617
Can you reproduce this with newest beta?

[2017-02-08 15:21] mario commented on #612
Glad this is working, thanks folks!

There will be some changes tomorrow to auto-upload so please test it as well.

I will close this ticket now, but please feel free to re-open it if issues crop up again.

[2017-02-08 15:21] #612 closed

[2017-02-08 15:24] mario commented on #591
@schiessle could you please add a list of groups to both endpoints? Also, please a backport to 11.0.2 is more than welcome. Once done, please gimme the object name so I can add support for this to the library.

Thanks!

[2017-02-08 15:27] mario commented on #549
Can you please try the newest beta?

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-08 15:28] mario commented on #594
Seems to be a server issue - so closing it here.

[2017-02-08 15:29] mario commented on #546
This should in general work already? @AndyScherzinger

[2017-02-08 15:30] mario commented on #522
Is this still the case with the newest beta app?

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

@ferdiga we're working on improving error messages.

[2017-02-08 15:31] mario commented on #511
Can this be considered solved and closed?

[2017-02-08 15:32] mario commented on #503
How to reproduce this?

[2017-02-08 15:32] mario commented on #484
Please try the newest beta and revert to us with results.

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-08 15:34] mario commented on #464
Closed since @sjash gave you a solution :)

[2017-02-08 15:34] #464 closed

[2017-02-08 15:35] mario commented on #462
Hi,

please try newest beta.

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:36] mario commented on #446
Try the newest beta.

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:39] heyiswas commented on #549
@mario I'll check it out later. :)

[2017-02-08 15:39] mario commented on #430
Please try newest beta.

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:39] mario commented on #549
Thanks! :)

On Wed, Feb 8, 2017 at 4:39 PM, Andrej <notifications@github.com> wrote:

[2017-02-08 15:41] mario commented on #381
Tobias, this should already work, right? Can it be closed?

[2017-02-08 15:41] mario commented on #363
Please try newest beta:

[2017-02-08 15:42] mario commented on #325
Please try newest beta if you're running Android 5+:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:43] mario commented on #291
This needs oAuth2 server (or similar), so can't be done currently.

[2017-02-08 15:44] mario commented on #243
Since we can't reliably reproduce, closing for now. Let me know if you experience it again!

[2017-02-08 15:44] #243 closed

[2017-02-08 15:45] mario commented on #147
Issue solved xD

[2017-02-08 15:45] #147 closed

[2017-02-08 15:46] mario commented on #118
Please try newest beta:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Thanks!

[2017-02-08 15:52] chichin79 commented on #484
Hello Mario, thanks, the beta version works with autoupload om Huawei mate
9 pro😀

Regards

Stefan

Den 8 feb. 2017 4:33 em skrev "Mario Đanić" <notifications@github.com>:

[2017-02-08 16:10] gibbon-joel commented on #462
Hey and thanks Mario. I tried your newest beta.

It takes about 10-30s or so but the app does pick up new photos in the camera folder now (where the original app does not help)

Testing procedure:

- Install BETA app
- Add nextCloud account
- Go to auto-upload settings
- mark cloud icon at "Camera" folder
- change to camera app
- take picture
- change to home screen
- wait a short while

You seem

[2017-02-08 16:12] mario commented on #484
Thanks for testing ;)

[2017-02-08 16:12] #484 closed

[2017-02-08 16:14] mario commented on #462
New beta (out tomorrow) might even a take bit more to start uploading, but the important thing is that it works - thank you for testing! :)

[2017-02-08 16:14] #462 closed

[2017-02-08 16:15] mario commented on #462
(Btw. folks if it's not working for you, feel free to re-open the issue, and if it does - cool!)

[2017-02-08 16:56] razzildinho commented on #462
Can confirm that the issue is fixed on the beta.

[2017-02-08 18:24] witteschnitte commented on #462
I also confirm.  it works with the latest beta on my galaxy s6.  I can sync all folders including camera!
very nice work nextcloud Team!!!

[2017-02-08 18:43] mario commented on #462
Thanks for testing folks and for being this awesome! :)

[2017-02-08 18:53] tobiasKaminsky commented on #118
I think pointing to Fdroid is also important as (hopefully) some user already use it or do not want to install apk files directly.

[2017-02-08 19:00] tobiasKaminsky commented on #381
if it is also working with the/your new upload system? But your code should not affect this as in this issue only existing jobs are queried, where your code improves the way to create new jobs.
So...if you have tested it with your latest autoUpload branch and it is working you can close it.

[2017-02-08 19:04] tobiasKaminsky commented on #546
For me it is also working *after* the picture was displayed initially (this indeed takes some time on larger images)

@jancborchardt do you have the newest app version? ;-)

[2017-02-08 19:06] tobiasKaminsky commented on #637
Good idea.
Select all (and deselect all) is already implemented in the upload view (where you can upload local files stored on the device), so this should be really simple 👍

[2017-02-08 19:10] mario commented on #381
OK. I slightly improved how jobs are shown, but that's about it - thanks!

[2017-02-08 19:10] #381 closed

[2017-02-08 19:11] tobiasKaminsky commented on #616
But then we still need a color? Or should it be black font on white background? Then it might be confused with a regular list entry.

[2017-02-08 20:04] jaj08 commented on #462
So while it is now triggering an upload, I seem to be having some new issues. So far in troubleshooting I have cleared out app data, uninstalled, rebooted phone.

Problem is I have configured a custom upload location several sub folders deep. Yet when I now take a photo, it is trying to upload to both my custom location, and the default Instantupload/camera folder.  It has gone back and forth on w

[2017-02-08 20:06] mario commented on #462
Will try to reproduce.

On Wed, 8 Feb 2017 at 21:04, jaj08 <notifications@github.com> wrote:

[2017-02-08 21:00] ferdiga commented on #522
currently I do not have issues with android 1.4.1 and nextcloud 10.0.2

[2017-02-08 22:35] AndyScherzinger opened #638 "Show map in user info Activity on phone in landscape"
#585 implements the new user information screen. In case an address is present the app should show the address on a map view when device is rotated to landscape.

Imho a phone only feature since tablets would be in landscape by default.

[2017-02-08 22:36] mario commented on #638
@tobiasKaminsky if you're ok with the feature, I'll mark it as approved.

[2017-02-08 22:37] AndyScherzinger opened #639 "make user info clickable"
#585 implements the new user info screen. It displays things like email, address, phone, twitter, website.

All these info blocks should be clickable launching the correspnding action, like URL in browser, mail client, twitter/browser, phone-call.

[2017-02-08 22:38] mario commented on #639
Also @tobiasKaminsky - please confirm and I'll mark is as approved.

[2017-02-08 22:59] AndyScherzinger commented on #616
Why not go with grey but add a exclamationmark or info sign in a circle in front of the warning? This way this info would get displayed but is not so "in your face". In the end this is not an error from an app perspective it just means no internet connection, but nothing got broken, corrupted or whatever

[2017-02-08 23:01] AndyScherzinger commented on #291
@mario you can talk to @ChristophWurst he is the 2FA expert on the server side and we already talked about this on the last conference and according to him we should be able to implement it and that the server side capabilities are already there :)

[2017-02-08 23:03] mario commented on #291
@ChristophWurst chime on this, please.

[2017-02-08 23:15] eppfel commented on #616
This.

 @AndyScherzinger becoming a designer step by step :joy:

It just needs to look different enough to be recognized.

[2017-02-08 23:17] mario commented on #616
To me that sounds more like an info than a warning then.

[2017-02-08 23:32] AndyScherzinger commented on #616
Yeah, I also think it is rather an info. :+1:

[2017-02-09 00:34] strugee commented on #553
@bes1002t adding new options isn't always the answer. It'd be better if we could figure out a solution for everyone without adding more settings.

Not saying that's the right way here, just that the knee-jerk "make it configurable" isn't always the best.

[2017-02-09 07:30] ChristophWurst commented on #291
Basically, we need a mechanism to obtain a new app password from the server which then is used to authenticated. I worked on a browser-based approach months ago in https://github.com/owncloud/core/pull/24835. It would let the user log into their Nextcloud account and confirm the connection, while the client application (in this case the Android app) will get the new password in the background. Thi

[2017-02-09 07:32] ChristophWurst commented on #291
In the meantime, we should also detect when logins in the app fail due to activated 2FA and inform users that they have to generate the app password manually in their personal settings.

[2017-02-09 07:32] mario commented on #291
Well, if there's an error message for that... :)

[2017-02-09 07:35] ChristophWurst commented on #291
We could do it [like GitHub](https://developer.github.com/v3/auth/#working-with-two-factor-authentication) and reply with a special header, like `X-Nextcloud-2FA: required`

[2017-02-09 07:36] mario commented on #291
We could, yes. Just need to backport it to at least 11. Maybe in time for 11.0.2? :)

[2017-02-09 07:54] ChristophWurst commented on #291
Sure, I can work on this next week!

[2017-02-09 08:07] mario commented on #291
You are awesome!

On Thu, 9 Feb 2017 at 08:54, Christoph Wurst <notifications@github.com>
wrote:

[2017-02-09 09:03] nickvergessen commented on #594
No the server can not handle this. You can get the correct user id casing from:
The `cloud/user` endpoint gives you the correct spelling in the `<id>` element:
[code]

however not sure if that works with ldap, so I'd just use that if `lower(id) === lower(provided id)`

[2017-02-09 10:16] jacksgt commented on #527
@MorrisJobke Yes, that seems to be the problem, although this happens on any Nextcloud instance

(also your metion @tobiasKaminsky is not working)

[2017-02-09 10:17] heyiswas commented on #549
Hey @mario everything seems to be fine now. I've tested the following scenarios:

1. Configured one local folder for the auto upload over WIFI, while I was not connected to my WIFI. After adding one new picture to my local folder and connecting to my WIFI, there was one pending upload, but nothing happend. Then I just configured a second folder for auto upload over WIFI, added a file to this folde

[2017-02-09 10:31] Drag0nFly opened #640 "Extremely slow upload speed when using Android app (1.4.1), with latest Nextcloud (11.0.1) release"
### Actual behaviour
All uploads performed from within the Android app are insanely slow when compared to doing the exact same operation from within a browser (also on Android, from the same network and using the same file)

Typically it takes around 10 minutes to upload a 5Gb file from our company network into the recently-established Nextcloud instance. From the Android app, however, this was le

[2017-02-09 14:35] JSoko opened #641 "beta20170209 can't connect"
### Actual behaviour
-deinstall beta 20170208
- install beta 20170209
- enter NC-URl
- enter credentials
Can't connect to server
The server needs to long for an answer (Der Server braucht zu lange für eine Antwort)

revert to 20170208 and it works as expected...

### Expected behaviour
-should connect to nextcloud

### Steps to reproduce
see above

### Environment data
Android version: 7.0

Device

[2017-02-09 14:48] mario commented on #641
The problem is nobody touched this part of code :(

@AndyScherzinger @tobiasKaminsky ?

[2017-02-09 14:50] mario commented on #640
WIll be fixed in 1.5, sorry about that :(

[2017-02-09 14:53] Drag0nFly commented on #640
@mario: ok - thanks for the acknowledgement. Hopefully 1.5 is not far away!

[2017-02-09 14:55] mario commented on #640
@Drag0nFly first comes 1.4.2, and then 1.5.0. If it becomes too much wait, we'll release 1.4.3 :)

[2017-02-09 15:05] JSoko commented on #641
I was astonished about that and so I tried twice before reporting...
deinstalling 0209 and reinstalling 0208 fixes...

[2017-02-09 15:22] AndyScherzinger commented on #641
@mario no clue to be honest and no, we did not change anything there... ?!

[2017-02-09 15:24] JSoko commented on #641
Tried again and can reproduce it, **BUT** it seems to have something to do with my local Network. If I try it over umts, it works...
...will test a little bit more and come back here.

[2017-02-09 15:26] schiessle commented on #591
see: https://github.com/nextcloud/server/pull/3418

[2017-02-09 15:27] AndyScherzinger commented on #640
@mario see also https://github.com/nextcloud/android/issues/348 and https://github.com/nextcloud/android/issues/329

[2017-02-09 16:15] JSoko commented on #641
mirical:
In local W-Lan i could connect to my nextcloud with 20170208, browser, caldav-sync, card-dav-sync and OwncloudNewsreader, but not with the 20170209...

Switched off ipv6 and restarted routers, now it works...

[2017-02-09 16:15] #641 closed

[2017-02-09 16:17] MorrisJobke commented on #527
Yep - typo 🙈

[2017-02-09 16:18] AndyScherzinger commented on #637
Yes, ggod idea 👍

[2017-02-09 16:20] MorrisJobke commented on #527
This also looks wrong.

[2017-02-09 16:45] AndyScherzinger commented on #641
Ah, yes. The client is not IPv6 ready :(

[2017-02-09 16:47] mario commented on #641
@AndyScherzinger what needs going?

[2017-02-09 16:48] AndyScherzinger commented on #546
This might be a performance issue, since I also see the spinner when I rotate the phone but just for a short moment. So it might be that on low/mid end phones this might take longer.
So yes there is an issue I guess.

[2017-02-09 16:49] AndyScherzinger commented on #641
To be honest, I don't know because I never investigated what we would need to do to implement IPv6 and I also don't know if this might also be related to the used http client...
So the first thing would be researching the root cause / steps that need to be taken...

[2017-02-09 17:41] zmatsuo commented on #618
I think that the goal of UI is simple. (in my opinion is that galaxy's keyboard is not simple.)

![1h](https://cloud.githubusercontent.com/assets/6488847/22795107/cd4b2462-ef38-11e6-8db4-e6fbe34955c6.png)
sumsung Japanese Keyboard(docomo Galaxy S4 preinstall IME)

![2h](https://cloud.githubusercontent.com/assets/6488847/22795155/fbc2f8d8-ef38-11e6-9f86-92400de83894.png)
google japanese imput

![3h

[2017-02-09 17:48] mario commented on #618
You can create a nice animated image view @zmatsuo :)

[2017-02-09 19:06] tobiasKaminsky commented on #572
@ldmpub glad you like the/your new feature 👍

[2017-02-09 19:06] #572 closed

[2017-02-09 19:10] tobiasKaminsky commented on #526
@marmeladema you can try our latest beta app on fdroid or https://github.com/nextcloud/android/blob/beta/apks/latest.apk

Both bugs should be fixed in it.

[2017-02-09 19:18] tobiasKaminsky commented on #631
Yes. Currently the upload date is the date which is used for subfolders.
But there is #451 which should solve this and use the creation date instead of the upload date.

[2017-02-09 19:28] tobiasKaminsky commented on #640
@mario do you have a good idea how to improve this?
(also we decided not to assign milestones)

[2017-02-09 19:30] mario commented on #631
You mean last_modified, not creation date, right @tobiasKaminsky ? :)

[2017-02-09 19:30] tobiasKaminsky commented on #638
As mentioned in the related issue I do not see the real benefit of showing his/her own address, even if it is the company address, the user should know where it is.
This feature makes more sense on "unknown" addresses like contacts in adressbooks..?

[2017-02-09 19:31] mario commented on #640
Removing milestone. I need our policy in writing :P But first you need to comment on the process issue :)

Yup, I have a pretty good idea - we'll see if it works :D

[2017-02-09 19:32] mario commented on #638
We need to show all the profile info, and I think this is a good enchantment.

[2017-02-09 19:33] tobiasKaminsky commented on #631
I am uncertain what the user would expect, if he takes an image on 31.1.2017, modifies it on 3.2.2017 (like cropping) and uploads it on 05.02.2017 via autoupload.
I personally would expect that is in january 2017 as it is the date where the image was taken.

[2017-02-09 19:34] mario commented on #639
Maybe not, but this might be used for showing info for other users. As for copy ... maybe long click on the field?

[2017-02-09 19:35] mario commented on #631
I don't think you can get creation date on Android, except from metadata, and again only JPGs will have that. So usually, last_modified date is used. (also, if auto upload is enabled on 5.2., images created/modified before that won't be uploaded).

[2017-02-09 19:39] tobiasKaminsky commented on #631
Then, yes. This is also the way it is done in the PR on library https://github.com/nextcloud/android-library/pull/36

(in my scenario autoupload was enabled all the time, but only at 5.2. the file was uploaded via wlan; I know it is a strange scenario, but just wanted to create an artificial delay)

[2017-02-09 19:52] tobiasKaminsky commented on #640
I guess it is better for time/coding trade-off to first discuss the idea.

[2017-02-09 19:54] bes1002t commented on #18
Is this a reproducable bug and is this still a problem?

[2017-02-09 19:54] tobiasKaminsky commented on #639
You mean like "hey wanna see my twitter account, I just open my nc app and click on my twitter info"? ;-)
I still not really see the use case of it... ;-)

[2017-02-09 20:03] mario commented on #639
No, I mean ... eventually I might be able to see your profile inside the app :P

[2017-02-09 20:04] tobiasKaminsky opened #642 "Make User info editable"
Just had a nice chat with @AndyScherzinger and we came up with the idea that the user info should be editable in the app, so that the new values are stored on the server.

[2017-02-09 20:04] mario commented on #642
That's all good, but maybe for one of the future versions. :)

[2017-02-09 20:05] tobiasKaminsky commented on #642
Of course. Just as a reminder that we do not forget it :)

[2017-02-09 20:07] tobiasKaminsky commented on #639
If/when this should be possible then we should enhance the user info view in the way @AndyScherzinger proposed, but for now...?

[2017-02-09 20:13] tobiasKaminsky commented on #616
To sum up
- if a connection fails show the corresponding warning message
  - too many unsucessfull attempts
  - no internet connection
  - ...
- the warning will stay there as long as a upcoming request to the server is valid
- the warning is grey with an exclamation mark or info sign in a circle in front of the warning and shown directly beneath the header as seen https://github.com/nextcloud/and

[2017-02-09 20:15] tobiasKaminsky commented on #227
@tribb333 is the error still valid for the latest version?

[2017-02-09 20:35] mr-bolle commented on #363
Hi, now I try the  the  branch 2017-02-09.
And i can say the instant upload function works.

For the test I use the internal and external storage, and after few seconds the upload starts. And success finishes as well.

Many thanks

[2017-02-09 21:13] AndyScherzinger commented on #572
It is not merged yet since it is scheduled for 1.5.0

[2017-02-09 21:13] AndyScherzinger commented on #642
👍

[2017-02-09 21:14] jasonbayton commented on #285
Do version numbers and milestones need to be adjusted here?

[2017-02-09 21:15] AndyScherzinger commented on #639
I am fine with leaving it as is for now and enhance when the corresponding service is available.

[2017-02-09 21:16] jasonbayton commented on #630
Oh god it's uploading everything again.

I moved all the unique (non-duplicate) files out of the February folder (2017/02) as only a tiny percentage of them are for Feb, the bulk being 2016.

Now it has seemingly noticed and is uploading every file in my watched WhatsApp folder all over again.

[2017-02-09 21:17] mario commented on #630
What did you move where? Can you clarify please?

[2017-02-09 21:18] AndyScherzinger commented on #285
Yes, removed since this is a long term roadmap

[2017-02-09 21:18] mario commented on #630
Aka, please give me a list of steps so I can reproduce.

[2017-02-09 21:22] jasonbayton commented on #630
On the server, I deleted all the duplicates from the all-day upload session 2 days ago, then all of the unique remaining files that were uploaded to the 2017/02 folder (because it organises by month uploaded, not month of file modified) I moved around into organised folders by date.

So:

On the server I moved every file that isn't 2017/02 to other respective folders (2017/01, 2016/04, etc) leavin

[2017-02-09 21:23] mario commented on #630
Cool, I wasn't even aware I implemented that :D Should I just extend it to support 2-way sync? xD

Thanks, will try to debug!

[2017-02-09 21:23] mario commented on #630
Question: did it only upload the missing files, or did you get duplicates again?

[2017-02-09 21:27] jasonbayton commented on #630
You're half way there, why not?

Here's a scenario to consider as well. In a week or so I'll be swapping phones, at which point media from WhatsApp will be automatically restored to the new phone as part of setup. If this happens in a different month I fear it'll consider those all new files in a new month and duplicate them all again.

No duplicates - it literally just finished now: 624 files @ 1

[2017-02-09 21:31] mario commented on #630
Yes, it will consider them as new files, there's no way to do MD5/SHA256/whatever and check if files are the same. Ah.

[2017-02-09 21:32] mario commented on #630
Thank you, I will look into this all.

[2017-02-09 21:40] AndyScherzinger commented on #18
not reported in actual 1.4.1 stable, thus closing it.

[2017-02-09 21:40] #18 closed

[2017-02-09 22:06] mario commented on #630
I believe it is easier to implement full 2 way sync  than it is to fix
existing problems, but time constraints ... eh :)

One day, one day - I now have a fairly good idea how the perfect 2 way sync
should look like.

On Thu, 9 Feb 2017 at 22:27, Jason Bayton <notifications@github.com> wrote:

[2017-02-09 22:08] jasonbayton commented on #630
Can't you not write a flag to uploaded files in the app database to not look at them if they've been uploaded already?

If the fix for this isn't feasible, how's the fix for organising files based on modified/filename instead? One of these needs to be fixed I guess before it leaves beta.

[2017-02-09 22:11] mario commented on #630
Its a bit more complicated - we shouldnt store every updated file in the DB.

And there will be a fix for directories based on date available in beta
soon.

On Thu, 9 Feb 2017 at 23:08, Jason Bayton <notifications@github.com> wrote:

[2017-02-09 22:13] jasonbayton commented on #630
#soon  :)

Directory organisation will sort it I guess, whether it's used or not by the end-user the app will then see the files either without organisation or with on the server and will be able to compare accordingly.

[2017-02-10 09:10] mario commented on #631
@jasonbayton try the newest beta please.

[2017-02-10 09:37] mario commented on #630
How do I reproduce?
On Fri, 10 Feb 2017 at 10:36, Jason Bayton <notifications@github.com> wrote:

[2017-02-10 09:38] jasonbayton commented on #630
My environment hasn't changed throughout this issue:

- Select a folder for backup (add a custom directory if you want to be complete)
- Wait for an image to hit that directory
- Watch it duplicated 23 times on the server

[2017-02-10 09:39] mario commented on #630
Thanks
On Fri, 10 Feb 2017 at 10:38, Jason Bayton <notifications@github.com> wrote:

[2017-02-10 09:41] jasonbayton commented on #631
Oh do we have a possible implementation? 🥇
Downloading now.

[2017-02-10 10:13] tobiasKaminsky commented on #639
Why is this approved @eppfel when @AndyScherzinger and me vote to add this only if other profiles are visible?
Or do you refer to "clickable" as "copyable"?

[2017-02-10 10:15] tobiasKaminsky commented on #631
There is no new beta from 10.02 as the build was not working due to a wrong library merge, do not know who merged). So the latest ist 20170209, thus @jasonbayton you should not be able to see any difference ;-)

@mario do you have an idea why the settings are not stored / reset for @jasonbayton ?

[2017-02-10 10:22] jasonbayton commented on #631
Indeed I didn't see anything different.

[2017-02-10 10:27] mario commented on #631
What settings tobias?

On Fri, 10 Feb 2017 at 11:15, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-10 10:34] tobiasKaminsky commented on #631
In https://github.com/nextcloud/android/issues/631#issuecomment-278899808 @jasonbayton wrote:

[2017-02-10 11:06] mario commented on #631
Yes, I think I fixed that bug :)

On Fri, Feb 10, 2017 at 11:34 AM, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-10 11:07] jasonbayton commented on #631
Sorry @mario @tobiasKaminsky I have a habit of editing and naturally these aren't resent to inboxes :)

[2017-02-10 11:19] mario commented on #631
Ah, so custom locations indeed reset? :-/

On Fri, Feb 10, 2017 at 12:07 PM, Jason Bayton <notifications@github.com>
wrote:

[2017-02-10 11:20] mario commented on #631
Also, do images upload for deselected folders?

On Fri, Feb 10, 2017 at 12:19 PM, Mario Đanić <mario.danic@gmail.com> wrote:

[2017-02-10 11:24] jasonbayton commented on #631
On every update recently, yup.

No, I haven't seen that as yet.

[2017-02-10 14:57] mario commented on #631
Did you, by any chance, remove the previous beta before installing the new one?
Or do you just install the new one over the old one?

[2017-02-10 14:57] tobiasKaminsky commented on #571
With this approach we loose the opportunity to have the strings translated as early as possible (if we would merge a PR directly to master). So when will the strings be translated?

[2017-02-10 15:01] jasonbayton commented on #631
I generally only ever update directly over the previous version. That shouldn't cause issues though.

[2017-02-10 15:03] mario commented on #631
The implementation uses preferences entry in order to check if it should clean "old" auto upload entries. If you remove the app, that preferences entry disappears too, so it would clean again.

But this doesn't look like to be the case with you :)

[2017-02-10 15:04] tobiasKaminsky commented on #571
I have found (yet another oO) approach: https://barro.github.io/2016/02/a-succesful-git-branching-model-considered-harmful/

https://barro.github.io/2016/02/a-succesful-git-branching-model-considered-harmful/cactus-model-100.png

For me it looks better as we merge a feature directly on master (and thus it can get directly translated)
At a certain point we branch off a release branch, in which only

[2017-02-10 15:31] tobiasKaminsky commented on #363
Glad to hear @mr-bolle

[2017-02-10 15:31] #363 closed

[2017-02-10 15:49] tobiasKaminsky commented on #511
I do not remember any fix regarding this issue?

[2017-02-10 15:50] mario commented on #631
OK, I just saw that my changes regarding this (and duplicate uploads) didn't go in the build. Should be there tomorrow.

[2017-02-10 15:54] tobiasKaminsky commented on #476
@przybylski can you shed us some light here? :)

[2017-02-10 15:58] tobiasKaminsky commented on #583
This is respected only for a full sync of all folders (fetching all folder and file names), as far as I know.

[2017-02-10 16:00] jasonbayton commented on #631
I'll pick it up in the morning, thank you :)

[2017-02-10 16:03] tobiasKaminsky commented on #582
As this will be data consumptive I suggest to put this only on a per item base, via long click?
But I do not know how to show/present this to the user.

[2017-02-10 16:09] tobiasKaminsky commented on #538
Seems to be a duplicate of #47
Please confirm @OlivierS1 and then close.

[2017-02-10 16:10] tobiasKaminsky commented on #433
@tulamidan if it also does not work with a desktop client, then it seems more related to the server.

[2017-02-10 16:13] tobiasKaminsky commented on #175
Glad to hear what was the cause of the problem @kollix
So closing for now.

[2017-02-10 16:13] #175 closed

[2017-02-10 16:15] tobiasKaminsky commented on #269
We have #285 where we describe how to improve the current system to a real 2way sync.

[2017-02-10 16:17] tobiasKaminsky commented on #337
Indeed this this already working when the file is set to "offline available".

[2017-02-10 16:17] #337 closed

[2017-02-10 16:18] tobiasKaminsky commented on #85
In our latest beta app @mario did real great enhancements to the autoupload.
Please try it either via fdroid or install it https://github.com/nextcloud/android/blob/beta/apks/latest.apk manually.

[2017-02-10 16:24] tobiasKaminsky commented on #475
@meras1894 thank you for taking the time to report your problem.
Is this still valid in the latest version?
Is the shared image somehow "restricted", e.g. not available by other apps?

[2017-02-10 16:29] gsantner opened #643 "Autoupload does not work"
### Actual behaviour
- Autoupload doesn't work at all

### Expected behaviour
- Autoupload should work

### Steps to reproduce
1. Enable autoupload for any picture folder
2. Create / add photos to folder
3. See that app didn't upload anything

I enabled the settings below for pretty much every picture directory, e.g. Screenshots, Camera/DCIM, 9GAG. But neither of them are working. Doesn't matter i

[2017-02-10 16:30] mario commented on #643
Can you try the f-droid beta please? :)

[2017-02-10 16:36] gsantner commented on #643
@mario
Tried Nextcloud beta some weeks ago, but there were the same issue.
Trying now new beta.

[2017-02-10 16:37] #643 closed

[2017-02-10 16:41] mario commented on #643
Thanks:)

[2017-02-10 17:10] mario commented on #630
Btw. if you're doing backup from old phone & restore to another phone operations starting next beta (whenever that is), you won't (shouldn't) get duplicated uploads :)

[2017-02-10 17:16] gsantner commented on #643
Thank you! ;)

[2017-02-10 17:17] mario commented on #643
So it works? :)

[2017-02-10 18:55] jmhunter commented on #110
Do these APKs make it to the Google Play store under the 'Beta' tester scheme? I am one of those affected (auto upload not working for me since my phone upgraded to Android 7) and would love to test any new/updated versions.
I have signed up using the link in the app (Good idea, guys, BTW!) but there don't seem to be any beta versions on the Play store to test?

[2017-02-10 19:21] mario commented on #110
Hey, Play store only gets Release candidates under 'Beta' tester scheme for now - we'll work on doing it automatically eventually, but maybe under the alpha scheme for daily builds as we sometimes make trouble :)

You can either use the link I provided or Fdroid which has a delay of 24 hours, but still publishes beta daily and allows automatic update - https://f-droid.org/repository/browse/?fdfilt

[2017-02-10 20:41] OlivierS1 commented on #538
@tobiasKaminsky #47 seems to be a better implementation of my idea, but would it work well with folder containing photos which all start with DSC_NNNN or 2017_NNNN (Talking about the alphabetical indexing )?
The fruit example in the link http://androidopentutorials.com/android-listview-fastscroll/ doesn't have the same requirements as having photo folders where thousands of files use the same pref

[2017-02-10 21:08] OlivierS1 commented on #511
I have experienced some issues with the last two beta APK's. Not sure if it is application specific. But I can tell that "Auto upload" does seem to work on a new install of 20170209.APK.

I still suspect there are latencies related to server communication causing delays in the thumbnail preview generation when accessing over the internet.
Accessing the server locally over wifi doesn't exhibit any

[2017-02-11 02:49] aronovgj opened #644 "Auto-Upload tries to upload several times although successful"
### Actual behaviour
- Creates 2 upload instances when autouploading
- Succeeds uploading one of them
- Tries to upload the second instance of the screenshot that was uploaded and calls it `filename (2).jpg`
- Fails trying to upload the copy

### Expected behaviour
- Just upload the screenshot

### Steps to reproduce
1. Fresh setup
2. Activate autoupload and change upload folder to /pics/
3. Take

[2017-02-11 04:20] supportreq commented on #558
@mario with the server api now live are we having an integration soon?

[2017-02-11 07:06] mario commented on #558
Will be done for 1.5.0
On Sat, 11 Feb 2017 at 05:20, supportreq <notifications@github.com> wrote:

[2017-02-11 07:06] mario commented on #644
Thanks for the report. New beta, once out, should fix this.

On Sat, 11 Feb 2017 at 03:49, aronovgj <notifications@github.com> wrote:

[2017-02-11 07:40] mario commented on #571
@tobiasKaminsky so, here are my comments assuming I've read this correctly:

- I already suggested release branches, but @AndyScherzinger mentioned he want master to be a release history - cc @AndyScherzinger
- we can't really commit directly to master, and should probably avoid especially since we need reviews - but we can use fast-forward merges instead of merge commits for sure

Thoughts on the

[2017-02-11 07:47] tobiasKaminsky opened #645 "PR reject by one should lead to a complete rejection"
If any of our devs reject one PR via PullAprove it should not be possible that this is being overriden by two other 👍 .
This can be done with: http://docs.pullapprove.com/groups/reject_value/
"A single rejection rejects the PR".

This way we make sure that all participating devs are fine with the PR.

@mario @AndyScherzinger

[2017-02-11 07:50] mario commented on #571
Also, just fyi, but not of real significance:

"Another drawback is that we cannot release a e.g. 1.4.x which only contains bugfix as we (maybe) already have merged new features."

Sure we can. Branch off of the tag, release, merge back to master.

[2017-02-11 07:57] tobiasKaminsky commented on #571
Right. Cactus model seems not to be our way.

[2017-02-11 08:42] eppfel commented on #618
Please look next URL.
https://guides.codepath.com/android/Working-with-the-EditText#adding-character-counting
How do you think, @eppfel?

Sry, what is the question here?

Please wait a little more 😅

I'll wait then.

Only thing I have to add: This will be shown a lot to users that use the passcode feature. Therefore we should make it super fast i.e. the fourth number already sends the code, so we

[2017-02-11 08:42] eppfel commented on #618
Ah, wait. Is it 4 numbers or can it be more?

[2017-02-11 08:46] eppfel commented on #639
Ah, sorry. I guess I misinterpreted approved then. I thought approved does not have a time/release implication, but just means will be added at some point....

[2017-02-11 08:54] ldmpub opened #646 "Bad image/text combo in "Participate" screen"
### Actual behaviour
A phrase is incomplet, it ends by "or" and nothing => see screenshot.

### Expected behaviour
A full sentence.
Need to correct the code or maybe the original english string then all translations based on this eroneous string.
String reference (sorry in french): https://www.transifex.com/nextcloud/nextcloud/translate/#fr/$/96734968

### Environment data
Android version:
6.0.1

[2017-02-11 09:01] mario commented on #646
Or is followed by the F-droid icon ...

On Sat, 11 Feb 2017 at 09:54, Nam <notifications@github.com> wrote:

[2017-02-11 09:14] ldmpub commented on #646
Thanks for your extra quick answer.

Strange layout but why not ;-).

[2017-02-11 09:15] strugee commented on #646
@mario it's still kinda unclear... would be better with a regular link or maybe a `:` at the end

[2017-02-11 09:15] mario commented on #646
I know :( let me think how to approach it better
On Sat, 11 Feb 2017 at 10:14, Nam <notifications@github.com> wrote:

[2017-02-11 09:18] strugee commented on #646
:thumbsup:

[2017-02-11 09:32] strugee commented on #626
@AndyScherzinger I'm not 100% sure but I _believe_ in the case where the app is installed via F-Droid, you should be able to download the F-Droid APK and prompt the user to install it, and F-Droid will install upgrades in the future because it has an F-Droid signature. That might be too much complexity, though, since I'm guessing Google Play downloads account for the majority.

[2017-02-11 09:36] strugee commented on #606
Probably the best way to do this would be to add a toggle for using Tor and display it only when Orbot is detected on the device. I don't really see a usecase for an app-specific proxy for anything but Tor.

Thoughts?

[2017-02-11 10:08] strugee commented on #571
Not going to comment on the proposed branching model here since I don't know enough about the motivations, but a quick note on milestone names: don't rename milestones every time you release. When I switched pump-io/pump.io to a time-based release schedule, I started off thinking I'd do it that way too, but doing it that way usually means that you always end up going and modifying a bunch of issue

[2017-02-11 13:03] tobiasKaminsky commented on #631
Beta is now up to date: https://github.com/nextcloud/android/blob/beta/apks/latest.apk

[2017-02-11 13:12] tobiasKaminsky commented on #626
Although I would love to have a more seamless way, I guess it is currently not that easy to implement and it is a one-time setup as this does not change...

[2017-02-11 13:15] tobiasKaminsky commented on #646
In english it is a "bit" more clear as it is "download the apk file or [get it on f-droid]" where the latest part is on the button.
What about adding a similar button for APK download? With this we can use a more generic sentence "get it here:" and show "apk button" and "frdoid button".

[2017-02-11 13:21] JSoko opened #648 "20170211 app crash on Configuration"
### Actual behaviour
- deinstall 20170209
- install 20170211
- enter credentials
- chose configuration (Einstellungen) in the menue
- app crashes (Nexcloud beta angehalten)

### Expected behaviour
- the configuration menue should open

### Steps to reproduce
see above

### Environment data
Android version:
7.0
Device model:
sgs7

Stock or customized system:
stock
Nextcloud app version:
20170211
Ne

[2017-02-11 13:26] tobiasKaminsky commented on #639
@eppfel yes, this is what approved means.
But do we already have a conclusion? Andy proposed that clicking leads to the function, e.g. call. I proposed that a click leads to copy. Andys last comment was to leave it the way it is.
And you approved it...but what is approved? ;-)

I would add a copy on long-press. This way the user can at least use the text.
And, in a new issue, if it is possible to

[2017-02-11 13:31] tobiasKaminsky commented on #618
I think it is hard set to 4 numbers.

[2017-02-11 13:31] tobiasKaminsky commented on #644
Latest beta is out: https://github.com/nextcloud/android/blob/beta/apks/latest.apk