[2017-05-03 11:55] tobiasKaminsky commented on #932
I fixed it in #896

[2017-05-03 11:55] #932 closed

[2017-05-03 11:56] tobiasKaminsky commented on #917
This is working in #896

[2017-05-03 11:56] #917 closed

[2017-05-03 11:57] tobiasKaminsky commented on #809
Is fixed

[2017-05-03 11:57] #809 closed

[2017-05-03 12:05] tobiasKaminsky commented on #899
Postponing this as it is in direct affect to #912 and I do not want to do work twice.

[2017-05-03 12:06] tobiasKaminsky commented on #839
@mario Can we replace InstantUpload on all android versions (back to SDK14)?
Then we can close this as it is working already in AutoUpload.

[2017-05-03 12:07] mario commented on #839
@tobiasKaminsky yes, this will be done for 1.5

[2017-05-03 12:09] mario commented on #596
I am unsure what the current status is, but eventually:

- cache will be on either internal or external storage, depending on what has more space
- it will always and forever be automatic
- setting cache size manually is close to suicide and should not be offered as an option
- how the automatic cache purge will work is subject to discussion, but losing a thumbnail or two is definitely not an issu

[2017-05-03 12:10] mario commented on #943
@AndyScherzinger you can create emulators with custom resolution / aspect ratio.

[2017-05-03 12:15] tobiasKaminsky commented on #929
Can you try it again with latest master? I cannot confirm this.

[2017-05-03 12:26] tobiasKaminsky commented on #931
Also working for me on latest master.

[2017-05-03 12:29] mario commented on #943
We actually already have an issue for this: #799
Anyway, I believe this needs to be done for 1.5 so marking it as such.

[2017-05-03 12:37] #287 closed

[2017-05-03 12:38] tobiasKaminsky commented on #360
Is this bug still valid?

[2017-05-03 12:38] #373 closed

[2017-05-03 12:39] tobiasKaminsky commented on #397
Is this bug still valid?

[2017-05-03 12:40] AndyScherzinger commented on #943
Argh, missed that issue, sorry for the duplicate. Closing #799 in favor of this one.

[2017-05-03 12:40] AndyScherzinger commented on #799
handled via #943

[2017-05-03 12:40] #799 closed

[2017-05-03 12:41] tobiasKaminsky commented on #140
Closing as InstantUpload will be replaced by AutoUpload on all devices.

[2017-05-03 12:41] #140 closed

[2017-05-03 12:42] #839 closed

[2017-05-03 12:46] tobiasKaminsky commented on #735
This is fixed in current master and will be available in 1.5.0.
Please feel free to reopen if it happens again.

[2017-05-03 12:46] #735 closed

[2017-05-03 12:49] tobiasKaminsky commented on #251
I have no clue :-/

[2017-05-03 12:56] AndyScherzinger commented on #397
@tobiasKaminsky according to the responses on the Android tracker https://issuetracker.google.com/issues/37117304 users are still experiencing this on Android 7.1.1 so I'd say, still valid :(

[2017-05-03 13:09] tobiasKaminsky commented on #596
Neither master nor dev have any cache related settings at the moment as nobody developed it ;-)

[2017-05-03 13:34] tobiasKaminsky opened #946 "S5 Neo: no start"
I wanted to debug some stuff with external sdcard on Samsung s5 Neo.
But I even cannot launch it...
Does anybody have any idea?

` FATAL EXCEPTION: main
                                                                      Process: com.nextcloud.client, PID: 27929
                                                                      java.lang.RuntimeException: Unable to start activity ComponentInf

[2017-05-03 13:54] mario commented on #946
Sounds like missing some string?

[2017-05-03 14:20] tobiasKaminsky commented on #360
I created an enhancement which will be in next dev version, if you want to test.

[2017-05-03 14:27] tobiasKaminsky commented on #808
I have updated dev version.
Do you have time to try it? It is either on fdroid (might be 1-2 days delay) or https://download.nextcloud.com/android/nightly/latest.apk

[2017-05-03 15:04] aleister09 commented on #931
It is happening after the first login and I'm sure that it is the latest master =)

![ezgif com-video-to-gif 5](https://cloud.githubusercontent.com/assets/25756086/25666976/ad9de3b2-2fe7-11e7-9e29-45ff62eaaf3c.gif)

[2017-05-03 15:34] AndyScherzinger commented on #946
Either WhatsNewActivity isn't defined as an activity in the manifest or you can also try a rebuild. Else I don't see a reason for this stack trace...

[2017-05-03 15:43] AndyScherzinger commented on #596
@tobiasKaminsky well, as you mentioned in the initial post there is #144 (currently closed) which added a setting to set a cache size which has been integrated in the beta before the rebuild of the beta. ;)

[2017-05-03 15:43] aleister09 commented on #929
Sure, It's happening in the latest master
![ezgif com-video-to-gif 6](https://cloud.githubusercontent.com/assets/25756086/25668790/4ee44cfc-2fed-11e7-845d-b57f803eed20.gif)

[2017-05-03 16:56] simonspa commented on #833
I'm on a OnePlus X with Cyanogenmod 14 and I'm facing the same issues.

[2017-05-03 19:34] elpraga commented on #596
Well, what I wanted to express was that working thumbnails are an essential part of a user experience when using the app. Especially when the app offers __automatic upload__ or instant upload of the photos. The obvious use case of this feature is to store your photos on the Nextcloud server and have them at hand without having to have them all downloaded on the phone. Something that is impossible

[2017-05-03 20:25] mario commented on #596
@elpraga I more than appreciate your reports and testing, and I will do my best to make sure the issue you're currently experiencing is fixed one way or another.

[2017-05-03 20:51] mario commented on #751
Unfortunately closing :( All my investigations lead me to believe this is really a problem with 3rd party apps that we cannot workaround.

[2017-05-03 21:07] mario commented on #745
Built and handed off to @LukasReschke- so closing.

[2017-05-03 21:07] #745 closed

[2017-05-03 21:18] mario commented on #717
This should work now really.

[2017-05-03 21:18] #717 closed

[2017-05-03 21:27] elpraga commented on #596
Thank you @mario , I appreciate your response a lot. And I think it is not
only about me and my case, everybody who starts using instant upload as a
primary photo backup option (instead of giving all his/hers photos to
Google) will sooner or later run into this problem. I might just happen to
be the first one :smile:.

El 3 may. 2017 10:25 p. m., "Mario Đanić" <notifications@github.com>
escribió:

[2017-05-04 00:03] eppfel commented on #880
Sry, but for what else are the settings good then? A backup is something for the background or do you expect users to use this feature on a weekly basis???

And the drawer is already pretty crammed... I don't object it generally, I just give my thoughts.

[2017-05-04 00:11] eppfel commented on #912
mh, I guess we need a proper Tablet design audit to make sophisticated proposals.

Just a quick response to @tobiasKaminsky: I highly recommend against different interactions in the same app. With Android 7 the layout could switch from one to the other on the same device...

[2017-05-04 00:43] kehugter commented on #833
Also broken here on

Samsung i9305
LineageOS 14.1 20170503
microG stack

but working on

Samsung GT-I8160
Custom Android 4.4.4
microG stack

Let me know if I can be of any help, @mario

[2017-05-04 06:10] Netti93 commented on #808
It seems that the option "deleted" still isn't working, but "moved to app folder" is.
Also the moved files are shown in gallery now.

[2017-05-04 08:55] tobiasKaminsky commented on #946
It is exactly the same code rev which is working on emulator.
(of course it get recompiled and installed via adb, but this is all handled by AndroidStudio).

[2017-05-04 09:17] #820 closed

[2017-05-04 09:19] AndyScherzinger commented on #946
The WhatsNewActivity.java:134 line seems to want to set a String that isn't available?!

[2017-05-04 09:31] tobiasKaminsky commented on #946
It seems so. But why does this is wanted on a real phone, but not on my emulator?

[2017-05-04 11:39] tobiasKaminsky commented on #931
Indeed, if the app is started fresh, I could reproduce it 100%, during regular runtime not always.
I created a PR for it.

[2017-05-04 12:19] tobiasKaminsky commented on #929
Now it shall working

[2017-05-04 12:56] AndyScherzinger commented on #931
merged to master to be shipped with 1.5.0

[2017-05-04 12:56] #931 closed

[2017-05-04 12:56] AndyScherzinger commented on #929
merged to master to be shipped with 1.5.0

[2017-05-04 12:56] #929 closed

[2017-05-04 15:44] Hanzei commented on #102
I think the overflow-menu is already quite overloaded. At the moment it contains 10 items. I propose to add a select-all icon to the top bar, if one file or folder got selected. We can use the standart material design icon for select-all ![icon](https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_select_all_black_24px.svg)

[2017-05-04 15:46] timtierney opened #955 "App stuck in Loading spinner while thumbnails are being generated"
### Actual behaviour
When the android app is generating/loading thumbnails, I click on an image (even one with a thumbnail already generated).  When the download progress bar completes, the app shows a Loading spinner and gets stuck loading.

If I Force Close and restart the app and navigate to the same folder and stay in a section where all the thumbnails are already generated, pictures load just

[2017-05-04 15:46] AndyScherzinger commented on #102
@Hanzei the Designers decided that all menu items have to be in the overflow menu and are never displayed as icons in the toolbar.

[2017-05-04 15:47] mario commented on #102
I'd prefer a select-all icon as well, but oh well...

[2017-05-04 15:49] Hanzei commented on #109
#116 already fixed the main point of the issue. Can we close this issue? If we consider an undo option, we can open a new issue.

[2017-05-04 15:50] AndyScherzinger commented on #102
Well, we had this exact logic (even with icon animation) and it is implemented like that for contacts at the moment. I'd say we could show it since it is not the "normal" selection action not an action triggered for the selected items ;)

What do you think @jancborchardt @eppfel

[2017-05-04 15:51] #109 closed

[2017-05-04 16:08] Hanzei commented on #38
A tablet and chromebook friendly UI is being discussed at #912

[2017-05-04 16:08] #38 closed

[2017-05-04 16:20] Hanzei commented on #170
Seems to be fixed on 1.4.2. Do you still encounter this issue @tobiasKaminsky ?

[2017-05-04 16:23] AndyScherzinger commented on #170
Yes, I also have this with the master, well the mediaStoreAutoUpload branch.

[2017-05-04 16:25] Hanzei commented on #121
We could add more links to other apps under Settings -> More. So people didn't had to search for a app to sync tasks.

[2017-05-04 21:47] eppfel commented on #743
mh, I am undecided. the only real issue is password protect, because sending the link before setting a password, is a threat (altough very very small).

But then it's true, that it feels weird that you are presented with the options only afterwards...

Maybe two actions `share directly` and `share options`? But not good UX either...

I think we have to keep in mind, that sharing a file/folder is T

[2017-05-04 22:13] #807 closed

[2017-05-05 07:02] tobiasKaminsky commented on #102
In ContactList this is because it is the one and only option, which makes an overflow menu useless I think.

[2017-05-05 07:07] tobiasKaminsky commented on #170
It is working for me, but as @AndyScherzinger still has problems.
Do you do additional steps?

[2017-05-05 07:25] AndyScherzinger commented on #170
My mistake, the thumbnails work for auto upload and for manual upload in general.
Only thing still present is:

* activate auto upload
* take a picture and wait for it to be uploaded
* open app again and go to uploads view: you see the fallback image icon
* open another view like all files
* open uploads view again: thumbnail is shown

[2017-05-05 07:31] AndyScherzinger commented on #743
I'd also vote for the solution described by @90er since on that screen you can do all kinds of share related stuff and when you activate the link (hit the switch element) a share popup comes up because the link has been generated right away and fired an event to process it. So to me you are doing all your work for sharing via link and you may or may not do additional configurations for the link. T

[2017-05-05 21:28] OlivierS1 commented on #596
Under the Beta version, there was the ability of scrolling through the pictures (scrolling through thumbnails) and if left long enough on the photo, it would be updated with the final image. This was really neat and handling the app was definitely more user friendly and efficient. It had the cache parameter updatable, but I couldn't figure out what was the benefit or the limitation of setting it a

[2017-05-05 21:36] elpraga commented on #596
You're describing the preview feature in the old beta @OlivierS1 , and it was indeed awesome :+1: .
The good news is that according to @tobiasKaminsky  this feature should be back soon (see https://github.com/nextcloud/android/issues/734#issuecomment-298886784)

[2017-05-05 22:51] aleister09 opened #959 "Crash After Rotation"
### Actual behaviour
The app is crashing after rotate many times when quota is enable

### Steps to reproduce
1. Open App
2. Open DrawerMenu
3. Rotate many times

### Environment data
Android version:7.1.2

Device model: Nexus 5X

Nextcloud app version:Master

Nextcloud server version:12

### Logs

[code]

[2017-05-06 09:49] tobiasKaminsky commented on #938
@mario @AndyScherzinger
explained idea a bit more, please confirm if you agree.

[2017-05-06 10:27] tobiasKaminsky commented on #959
Thank you very much for finding this issue 👍

[2017-05-06 10:29] AndyScherzinger commented on #938
:+1: Agreed

[2017-05-07 06:41] tobiasKaminsky opened #961 "On device has "Nextcloud" as title?"
Ref: https://github.com/nextcloud/android/pull/896#issuecomment-299630019

When switching to show only the downloaded files the title should show "on device".
Similar to this should the "all files" view also called "all files"?
Then we would have the app name not shown anymore.

[2017-05-07 07:13] gmx-git commented on #228
Hi guys,
Have you had a breakthrough on this?
I experience the same issue. (using Android 7.0)

[2017-05-07 08:09] tobiasKaminsky commented on #891
Please test with latest https://github.com/nextcloud/android/pull/896

[2017-05-07 08:09] tobiasKaminsky commented on #905
Please test with latest https://github.com/nextcloud/android/pull/896

[2017-05-07 08:11] tobiasKaminsky opened #962 "Empty view appears before it even started loading the data"
Ref: https://github.com/nextcloud/android/pull/896#issuecomment-299439110
Empty view appears before it even started loading the data - this should not happen (everywhere)

Can you describe me when this happens? On the very very first app start?
Or is this related to e.g. favorites?

[2017-05-07 08:12] tobiasKaminsky commented on #962
Forgot to mention @mario  ;-)

[2017-05-07 08:14] tobiasKaminsky opened #963 "Rotate while show favorites"
Ref: https://github.com/nextcloud/android/pull/896#issuecomment-299439110
When in favorites, and you rotate I get both favorites and non-favorites (and also issues with UI?). This could happen in other "search" parts as well

Can you retest this please @mario? I have only 6 favs and I get only these ones.

[2017-05-07 08:16] tobiasKaminsky opened #964 "Photos: weird loading"
Click photos, it starts loading, show's there's nothing, and then loads grid view with photos few seconds later
Same applies for rotating.

[2017-05-07 09:06] tobiasKaminsky commented on #938
Additional we can add this one: https://github.com/tir38/android-lint-entropy-reducer
It is a script which fail if new errors/warnings arise.
With this we can omit the upper approach, but still fix errors/warnings from time to time.

[2017-05-07 09:34] tobiasKaminsky opened #966 "Findbugs not working"
./gradlew findbugs errors

[2017-05-07 18:35] Endogen opened #967 "Feature request: Auto-Upload only for specific file types"
When i record videos on my phone then they end up in the same folder as my pictures. I have Auto-Upload active for this folder but i don't want to upload videos since they are to big. Currently there doesn't seem to be the possibility to select which file types inside a folder should be uploaded.

[2017-05-08 11:23] eperezv commented on #914
+1. It would be a great feature!

[2017-05-08 12:59] ghost opened #968 ""Error during migration" move to SD card"
### Actual behaviour
Error message: "Error during migration" when changing storage path to SD card.
Fails to use the SD card as default storage

### Expected behaviour
When selecting storage to external it should use the SD card as storage path

### Steps to reproduce
1. Download Nextcloud android app on android 4.4.4
2. change storage path to SD card
3. Error during migration

### Environment dat

[2017-05-08 15:02] aleister09 commented on #891
I think the issue was fixed but the app is crashing after rotation
[code]

[2017-05-08 15:05] eppfel commented on #102
The dogma to put everything without exception into the overflow should have this limit, but the exception has to be well thought through. I question that select-all is used often enough to justify this much prominence, but I the overflow menu is becoming crammed indeed.

[2017-05-08 20:06] #446 closed

[2017-05-08 20:47] octo777 commented on #729
Coolest thing happened today, Mario  saw me complaining about this bug in the Nexcloud mobile IRC room :) ,Hes like, if you install Android studio and some other stuff, ill debug it for you.  Thankfully he didn't get pissed about my first attempt to let him into my win7 VM that was slower than crap and wasn't passing USB through correctly or something. Eventually I rebooted and gave him 4 cores an

[2017-05-08 20:55] AndyScherzinger commented on #729
Awesome work @mario!
Any corresponding PR that needs review? :)

[2017-05-09 06:48] mario commented on #729
@AndyScherzinger nah. As soon as F-Droid starts building again it should work. Wasn't that complex :D

[2017-05-09 17:01] krt16s opened #969 "[dev] don't delete tags"
### Actual behaviour
Building old development snapshots fails because tags seem to get removed.

### Expected behaviour
- I expect to build development snapshots from tags even some time has passed.

### Steps to reproduce
1. Try to build from old dev- tag.
2. Tag is gone.
3. Build fails.

[2017-05-09 17:54] #959 closed

[2017-05-09 21:47] MorrisJobke opened #970 "Name contacts backup folder ".Contacts-Backup" to hide it by default"
cc @mario @tobiasKaminsky

Or maybe @aleister09 can have a look at this as well.

[2017-05-09 22:14] aleister09 commented on #970
Sure!  =)

[2017-05-09 22:38] MorrisJobke opened #971 "Allow to click the entries in Activity to show them in the app"
* refinement to the existing activity view
* maybe also show the preview of the files

cc @nextcloud/designers @oparoz @mario @aleister09 @tobiasKaminsky @AndyScherzinger

[2017-05-09 23:13] MorrisJobke opened #973 "Setting folder as favourite not possible"
* open android app
* select a folder
* expected: allow to set it as favourite
* actual: no way to set as favourite (but for files this is possible)

cc @mario @tobiasKaminsky @AndyScherzinger

[2017-05-09 23:28] MorrisJobke opened #974 "Show indicator for notifications in sidebar"
* show a little indicator in the sidebar that there are new notifications (like the little red dot in our web UI)

<img width="185" alt="bildschirmfoto 2017-05-09 um 18 28 01" src="https://cloud.githubusercontent.com/assets/245432/25876812/4155ff66-34e5-11e7-9548-e8ff8fb202a4.png">

cc @nextcloud/designers

[2017-05-09 23:33] MorrisJobke opened #975 "Showing deleted files"
It should be possible in the Android app to restore deleted files from the trashbin. For this a public API on the server is needed.

cc @schiessle @rullzer for the server - I would like to have then in the DAV interface

cc @nextcloud/designers

[2017-05-09 23:40] MorrisJobke opened #976 "Uploads sidebar entry should have indicator"
* if there is a failed upload there should be an indicator that the user has to do something here

Does that makes sense @nextcloud/designers ?

[2017-05-10 05:14] mario commented on #967
You will be able to differentiate between images and videos in 1.5.

[2017-05-10 07:53] clriis commented on #754
Thanks. It now seems to be working

[2017-05-10 07:53] #754 closed

[2017-05-10 07:55] mario commented on #754
@clriis what apk did you use? The "fix-issue-with-wifi" one?

[2017-05-10 11:17] alecbl commented on #606
What usecase does Tor have that I2P doesn't? And maybe other options now, or in the future.

[2017-05-10 16:13] aleister09 commented on #971
But what about when the activity entry has more than one file?
Like this
![more files](https://cloud.githubusercontent.com/assets/25756086/25909071/9ef1653e-3571-11e7-8b99-c8849bdb6794.png)

[2017-05-10 16:42] MorrisJobke commented on #971
Of course the file name itself should be clickable.

Ultimate goal is to have something like this on Android as well:

<img width="502" alt="bildschirmfoto 2017-05-10 um 11 41 20" src="https://cloud.githubusercontent.com/assets/245432/25910343/a64ed682-3575-11e7-8beb-35f2cf3845db.png">

[2017-05-10 18:00] mario commented on #966
I just tried ./gradlew findbugs and it worked?

[2017-05-10 18:01] mario commented on #962
It happens in every view ... on app start, favorites, shared, etc.

[2017-05-10 18:01] mario commented on #963
Retested, same happens...

[2017-05-10 19:53] GregSutcliffe commented on #833
I'll add a +1 here - my trusty old Samsung Galaxy S2 (i9100) was uploading newly-taken photos justfine on CyanogenMod 13 (Android 6) but after upgrading to LineageOS 14 (Android 7) last night, auto-upload seems to do nothing.

There's no entries in the "Uploads" page at all, not even failed ones. I can see it's detecting new photos (the photo preview in the auto-upload configuration page goes from

[2017-05-10 20:21] mario commented on #974
Not sure when can this be done atm. We'd have to store things in the database and compare to that + change the way we fetch notifications. Push shows a notification in the mobile notification area.

[2017-05-10 21:28] clriis commented on #754
I did install the "fix-issue-with-wifi" but also the other one and it did not make a difference. To me the difference seemed to show after an Xperia system update on April 10th.

[2017-05-10 21:54] kehugter commented on #833
Another one:

OnePlus 3
OxigenOS 4.1.1 (Android 7.1.1), stock
GAPPS
Nextcloud client, stable from Play Store

Stopped auto-uploading around 1-2 months ago, but the owner didn't notice.

[2017-05-11 00:24] dan-nkl commented on #110
Seems to work now
Running 1.4.2

[2017-05-11 06:44] tobiasKaminsky commented on #969
I am removing them to not clutter the tags as there is nearly daily a new "dev" tag and it is not really useful to build an old rev...
Is this related to fdroid?

[2017-05-11 07:14] tobiasKaminsky commented on #891
Thank you, I have added another check.
Please re-test.

[2017-05-11 07:28] tobiasKaminsky commented on #976
There is already a notification "upload failed" in the dropdown bar of android.
If you click on it, upload view is opened.

[2017-05-11 07:34] tobiasKaminsky commented on #966
Right, now it works...Do not know what I did ;-)

[2017-05-11 07:34] #966 closed

[2017-05-11 07:47] tobiasKaminsky commented on #963
Strange that I cannot reproduce it...
What I did:
- rotate while loading
- rotate, refresh, rotate
- refresh in both landscape and portrait

Both on emulator and real device (nexus 4)

[2017-05-11 07:50] hechi opened #979 "Upload Files from Autoupload are duplicated"
Hey,

first thanks for your hard work :) and improving the nextcloud android app :+1:

### Actual behaviour
- Created an Autoupload for instant messaging app folder
- everytime i receive an image form the messaging app, it should be uploaded to my cloud
- if i install a new dev version, he starts to upload all images again (>700)
- if i reboot my device, he starts to upload all images again
- it c

[2017-05-11 08:27] tobiasKaminsky commented on #962
This is an even more general problem:
If you load a folder with very large content, you will also see the wrong "empty message".
Ref: #224

As this might require some more changes I want to do that not in "searchView" branch, but later for 1.5 in a new PR/branch. Are you fine with this @mario?

[2017-05-11 08:30] tobiasKaminsky commented on #964
This is very closely related to #962 and is a problem in the whole app, e.g. you can trigger it also if you have a large folder content to show or a very very poor internet connection.

[2017-05-11 08:31] tobiasKaminsky commented on #905
@mario @AndyScherzinger friendly reminder for testing with latest #896

[2017-05-11 08:32] tobiasKaminsky commented on #892
@aleister09 can you confirm that this is solved?

[2017-05-11 08:36] #857 closed

[2017-05-11 08:48] tobiasKaminsky commented on #230
@Adi3000 is this working with a fresh account?

[2017-05-11 09:24] tobiasKaminsky commented on #808
@Netti93 do you store the content on an external sdcard?

[2017-05-11 09:32] #970 closed

[2017-05-11 09:37] mario commented on #962
Ok, but please make sure this is done for 1.5.

[2017-05-11 09:46] #923 closed

[2017-05-11 09:53] #973 closed

[2017-05-11 11:20] AndyScherzinger commented on #110
I'd say we than close this issue 👍
Since there are also new issues with deal with bugs and optimizations to the new auto upload implementation. Please re-open if anyone thinks it is still helpful to keep it open.

[2017-05-11 11:20] #110 closed

[2017-05-11 11:25] tobiasKaminsky commented on #962
Right after seach view is merged I will try to fix it.

[2017-05-11 15:41] aleister09 commented on #891
Is still happen in the branch searchViewWrongFiles

[code]

[2017-05-11 15:47] aleister09 commented on #892
Now is working fine =)

[2017-05-11 17:54] tobiasKaminsky opened #983 "On device: show only folders containing downloaded files"
Suggestion via email: Show only those folders that contain downloaded files.

~~This can be a little tricky if you have something like root -> folder a (no files) -> folder b (with files) then you would have to show folder a.
Currently we would have to scan this manually as we do not store something like that in the database.~~

[2017-05-11 18:00] tobiasKaminsky commented on #892
Thank you :-)

[2017-05-11 18:00] #892 closed

[2017-05-11 18:04] rullzer commented on #975
Yes should be in DAV. Agreed.

[2017-05-11 18:13] tobiasKaminsky commented on #880
I vote also for putting it into settings and then have an account chooser (multi select) in contacts backup settings. We wanted to do it this way for instant upload, so I guess it is also a good approach for this case.

[2017-05-11 19:13] Netti93 commented on #808
@tobiasKaminsky  Yes, I do

[2017-05-11 19:53] mario commented on #801
Should be solved.

[2017-05-11 19:53] #801 closed

[2017-05-11 21:36] strugee opened #984 "Audio starts playing on device rotation"
STR:

1. Open an audio file
2. Wait for it to start playing
3. Pause
4. Rotate device
5. Audio starts playing, even though it shouldn't

Nexus 6P, CyanogenMod 13, dev version 20170430.

[2017-05-12 06:07] tobiasKaminsky commented on #808
@Netti93 @Bertel3
can you both give us some more infos about your device? android and device version?

[2017-05-12 06:24] Netti93 commented on #808
@tobiasKaminsky You can find that information in my first post. Android Version 7.0 on a Samsung Galaxy S7 Edge (SM-G935F) and a Galaxy S7. Also I've updated Nextcloud Android App to Dev Version 20170504 and Nextcloud Server to 11.0.3. What else do you need to know?

[2017-05-12 06:50] tobiasKaminsky commented on #984
Thank you for your bug report!
This also applies to the regular version, thus removing dev label.
It will be soon in the dev version.
If you have time, please try it and report if it working.

[2017-05-12 07:18] hechi commented on #979
With nightly 20170509 the storage problem is gone :) nice thx for your hard work :+1:

[2017-05-12 07:49] tobiasKaminsky commented on #808
@mario @AndyScherzinger
As of Android 5 the access to external/removable storage has been changed.
https://developer.android.com/training/permissions/requesting.html

I checked if we have the write_external_storage permission on UploadFileOperation:449 and
[code]

[2017-05-12 07:55] tobiasKaminsky commented on #891
Sorry, I have not pushed it, stupid mistake.
https://github.com/nextcloud/android/pull/896/commits/399ff5802fbc93625e4075a6d5526e7e9af37355

Please re-test it

[2017-05-12 08:53] waybackrider commented on #833
Can also confirm it's not working on:
Samsung S4 (I9505 / jfltexx) and Lineage 14.1 (Android 7.1.2)

[2017-05-12 08:58] #814 closed

[2017-05-12 09:02] #341 closed

[2017-05-12 09:03] #329 closed

[2017-05-12 09:08] #457 closed

[2017-05-12 09:10] #448 closed

[2017-05-12 09:11] #657 closed

[2017-05-12 09:14] tobiasKaminsky commented on #351
Verified, not happening anylonger.

[2017-05-12 09:14] #351 closed

[2017-05-12 09:14] #888 closed

[2017-05-12 09:16] tobiasKaminsky commented on #684
@elpraga if this is happening again, please reopen with the exact filename.

[2017-05-12 09:16] #684 closed

[2017-05-12 09:18] tobiasKaminsky commented on #81
As we will sooner or later switch to RecyclerView with its on GridView I am closing this right now.

[2017-05-12 09:18] #81 closed

[2017-05-12 09:18] tobiasKaminsky commented on #96
Without more context, I am closing this :/

[2017-05-12 09:18] #96 closed

[2017-05-12 09:19] #105 closed

[2017-05-12 09:21] tobiasKaminsky commented on #491
@AndyScherzinger is this happening after the big rewrite of auto upload?

[2017-05-12 09:23] tobiasKaminsky commented on #665
As we want to do cache sizing with a better approach and not setting it manually, I am closing this one.

[2017-05-12 09:23] #665 closed

[2017-05-12 09:24] tobiasKaminsky commented on #342
@unalignedcoder can you write to android at nextcloud dot com and give us your server address with a dummy test account?

[2017-05-12 09:25] tobiasKaminsky commented on #685
Same as #684 , please reopen if it happens again and then post the filename.

[2017-05-12 09:28] AndyScherzinger commented on #979
Hi Andreas,

are both issues fixed with 20170509 or just the later one? Logs should be shown if not it might be related to storage (as in on device vs. SD cards, etc.) where @tobiasKaminsky might be the best to take a look :)

[2017-05-12 09:32] AndyScherzinger commented on #297
@tobiasKaminsky this might still be an issue in some way, see #979 :/

[2017-05-12 09:36] AndyScherzinger commented on #105
@tobiasKaminsky when/where did we fix this?

[2017-05-12 10:22] tobiasKaminsky commented on #105
Missed the comment :/
I cannot reproduce it, therefore closing :/

[2017-05-12 10:35] strugee commented on #984
Sure thing @tobiasKaminsky :)

By "soon" I'm assuming you mean "in the next release"? Happy to test this whenever a fix gets merged.

[2017-05-12 10:51] tobiasKaminsky commented on #984
"soon" depends on fdroid.
Here you can find it without delay: https://download.nextcloud.com/android/nightly/

[2017-05-12 11:11] tobiasKaminsky commented on #391
maybe some storage / disk usage problem.
Closing as we cannot reproduce it.

[2017-05-12 11:11] #391 closed

[2017-05-12 11:12] tobiasKaminsky commented on #526
Please re-open if it happens again.

[2017-05-12 11:12] #526 closed

[2017-05-12 11:14] tobiasKaminsky commented on #938
Implemented the second way in #982

[2017-05-12 11:14] #938 closed

[2017-05-12 11:20] squadramunter commented on #984
Hi I got a bug on my android phone. I have Cyanogenmod installed on it but when i open the app the video resolution is not correct. when rotating the screen it's not fitted full screen. may a feature for the next release to add support for aspect ratio. I have a samsung galaxy s5.

[2017-05-12 11:21] tobiasKaminsky commented on #880
@jancborchardt @eppfel we want to get this in 1.5.0 which is soon to be released.
What do you think needs to be changed UI/UV wise?
Please see and answer to the bullet points above.

[2017-05-12 11:21] squadramunter opened #988 "Aspect ratio not correct on cyanogenmod galaxy s5"
Hi I got a bug on my android phone. I have Cyanogenmod installed on it but when i open the app the video resolution is not correct. when rotating the screen it's not fitted full screen. may a feature for the next release to add support for aspect ratio. I have a samsung galaxy s5.

[2017-05-12 11:51] AndyScherzinger commented on #905
@tobiasKaminsky i can confirm that the original issue is fixed by #896 now 👍 Issue I found though it that a screen rotation triggers a new search which imho it shouldn't. Should I open another issue for that or is this fixed by another PR already? cc @mario

[2017-05-12 11:51] #905 closed

[2017-05-12 11:51] AndyScherzinger commented on #905
fixed by #896

[2017-05-12 12:29] tobiasKaminsky opened #989 "Enhance maintenance recognition"
With #502 we have a recognition of maintenance mode for
- create, rename, move, delete of files/folders
- upload new files

But you can still browse the file list and refresh the folder listing without any knowledge that the server is currently in maintenance mode.

@jancborchardt @eppfel please give us an hint how to show it to the user.

[2017-05-12 12:31] AndyScherzinger commented on #989
@tobiasKaminsky I'd say the same way we will show client being offline (no connection) 😄

[2017-05-12 12:33] tobiasKaminsky commented on #989
Maybe you want to assign it to yourself?

[2017-05-12 12:34] AndyScherzinger commented on #989
Initially, yeah. At least for the mockup

[2017-05-12 13:47] AndyScherzinger commented on #730
fixed for release 1.5.0

[2017-05-12 13:47] #730 closed

[2017-05-12 14:50] hechi commented on #297
Hey still no logs for me :(
Nextcloud Android App: 20170509
![screenshot_20170512-164745](https://cloud.githubusercontent.com/assets/3808354/26003481/12aedc50-3733-11e7-9385-5eeacfe3c99f.png)

[2017-05-12 15:18] hechi commented on #979
probably its fixed ^^ i close the issue, i will reopen it if it pops up again.

[2017-05-12 15:52] aleister09 commented on #891
Now is working fine 👍

[2017-05-12 16:38] AndyScherzinger commented on #891
Nice :tada:

[2017-05-12 23:48] strugee commented on #984
I can still reproduce with the 20170511 build.

[2017-05-13 04:27] asreimer commented on #601
Just wanted to comment here saying that I encountered this same issue on the Android client.

This issue was fixed by deleting rows from the `oc_bruteforce_attempts` table in the nextcloud database.

Cheers!

[2017-05-13 04:29] asreimer commented on #601
@grigi, I am also running this on an RPi on my local LAN.

Try increasing the timeout in your apache or nginx server config on the Pi. For me, the apache timeout was default 5 seconds.

[2017-05-13 06:55] tobiasKaminsky commented on #297
Then I was too fast...
@hechi can you give me some more details? Do you use an external sdcard? which device?

[2017-05-13 06:56] #891 closed

[2017-05-13 07:23] tobiasKaminsky opened #991 "Auto Upload: add month name"
If you have multiple months, you will see "02" , "05" in gallery app.
To distinguish this from other random/temporary folder names I suggest to add " - monthname" to it:
"01 - january"
"02 - february"
...
To avoid more options this should be "just" changed.

[2017-05-13 07:26] tobiasKaminsky commented on #984
Sorry, used the wrong label for the PR and thus it was not merged automatically.
This is now merged into "dev version" and you can download it this night.

[2017-05-13 07:35] tobiasKaminsky opened #992 "Handling bugs"
To have a better overview about our outstanding bugs, I would like to enhance our bug processing like this:
- new bug is reported
- at least one other needs to be able to reproduce it -> "approved"
- if not, then ask for steps -> "needs info"
- if bug is fixed -> "pr exists"

Bugs that have "needs info" and no response after 1 month can be closed.

[2017-05-13 09:24] AndyScherzinger commented on #991
In general I am fine with it since it doesn't make a difference to the functionality, but who is creating random, temporary folders within our upload folder structure?!

[2017-05-13 09:28] AndyScherzinger commented on #992
Sounds good to me 👍

[2017-05-13 09:32] j-ed opened #994 "Opening a folder on an external share shows "no data available""
### Actual behaviour
If I open a folder which resides on an external WebDAV share, its content is not displayed but "no data available". Surprisingly this behavior does not happen on all folders but most of them. I've not yet found a template which justifies the different handling of the folders.
The content itself is viewable using the normal Web-GUI or using an alternative app like e.g. ES File

[2017-05-13 09:55] AndyScherzinger commented on #994
@mario @tobiasKaminsky do we have a setup anywhere to reproduce, debug this behavior?

[2017-05-13 10:09] hechi commented on #979
Hey @AndyScherzinger
sry it appeared again :( after connecting at my home wifi he started to sync over 1400 images :(
![screenshot_20170512-225828](https://cloud.githubusercontent.com/assets/3808354/26024596/c69e82be-37d4-11e7-9bd2-869aee7b2f0f.png)

[2017-05-13 10:12] hechi commented on #297
Hey @tobiasKaminsky
Android version: 6.0.1
Device model: Moto 4G
Stock or customized system: Stock + Root
Nextcloud app version: 20170509
Nextcloud server version: 11.0.3
Storage ist now **/storage/emulated/0** before updating to 20170509 it was unknown

[2017-05-13 10:34] AndyScherzinger commented on #979
Calling @mario to the rescue :)

[2017-05-13 10:50] mario commented on #991
I am against this. It complicates folder naming for no real reason.

On Sat, 13 May 2017 at 11:24, Andy Scherzinger <notifications@github.com>
wrote:

[2017-05-13 10:52] AndyScherzinger commented on #991
@tobiasKaminsky @mario If we find the cuase for the random/temp folders created within our auto upload structure (don't have an idea who/what should do that) there wouldn't be a reason anymore for a fix since there is no issue anymore 😆

[2017-05-13 11:06] mario commented on #991
I think it's more about seeing folders named "02" in gallery, and you can see various other folders in gallery too (which is an external app). But meh ...

[2017-05-13 15:10] MightyCreak commented on #601
I just install LineageOS on my phone and re-experienced the timeout issue.
I've tried 5, maybe 6 times, on Wi-Fi without success. As soon as I tried on the phone network, it worked instantly.

I don't see the obvious link here, but I wanted to share this experience.

[2017-05-13 15:42] JSoko commented on #601
@MightyCreak
Check if there is the ip of your phone in the local network in the bruteforcetable. Delete those entries...

[2017-05-13 16:34] j-ed commented on #994
I think it would be nice to have a kind of trace log function in the Nextcloud app to be able to track the requests and answers to/from the server. This would allow to provide more detailed feedback on such kind of communication issues.

[2017-05-13 18:04] MightyCreak commented on #601
I have some entries (with my uid) but it's not the same IP: starts with `192.` in `oc_bruteforce_attempts` while my current IP on the Wi-Fi starts with `72.`.

But my IP may have changed until last time I was trying.

What is this bruteforce table anyway? seems like the cache of the browsers where the most common solution is "clean your cache" :D

[2017-05-13 18:50] MightyCreak commented on #601
I've removed all the entries in that table (which might be part of the reason NC is so slow EVERYWHERE).

As soon as I launched the Android app, my IP was stored in that table... I don't understand what the rules are for bruteforce detection. If simply using the app is considered a bruteforce attempt, that's going to be hard to maintain this table.

Anyway, I asked the question on help: https://he

[2017-05-13 21:00] mario commented on #979
All will be fixed :P

[2017-05-14 19:49] snicke commented on #804
Can confirm the same problem as OP: Only a part of the newly taken photos are uploaded automatically. Some days no photos at all are uploaded. Some days all. Some days o few of them.

Android version:
7.0

Device model:
Samsung Galaxy S7 Edge

Stock or customized system:
Stock

Nextcloud app version:
1.4.2

Nextcloud server version:
11.0.3

Upload settings:
Only on WIFI: yes
Only when charging: ye

[2017-05-14 19:54] snicke commented on #746
Can confirm this issue. On may Galaxy S7 Edge with Android 7.0 the system is always warning about one app draining the battery and ask if I want to put it in "sleep mode". The app: Nextcloud 1.4.2.

[2017-05-14 20:07] snicke commented on #780
Same issue. Samsung Galaxy S7 Edge with Android 7.0. The samsung system is identifying Nextcloud every day as the only app draining the battery and ask me if I want to put it in sleep mode.

[2017-05-14 20:10] snicke commented on #833
Confirm the issue with Galaxy S7 Edge with Android 7.0. Battery drain and only part of the newly taken photos are uploaded. No old photos are ever uploaded.

[2017-05-14 23:56] krt16s commented on #969
Yes, this is somewhat related to F-Droid: I had to crunch through quite a lot error messages when I tried to setup my own buildserver to verify official binaries. It's not a big deal.. iirc we store the commit hash anyway, just need to expose it... Sorry for the noise :)

[2017-05-14 23:56] #969 closed

[2017-05-15 07:09] Yajo opened #996 "Support direct rendering from server to Chromecast"
Let me tell you a story 😊

Mrs. Peabody wants to display pictures to her parents. She currently uses Google Photos. Opens the app, turns on the TV+Chromecast, presses the cast button, and pictures & videos show on the TV as she swipes on them in her phone. She has some 60fps videos from her last snowboarding holidays and the video renders perfectly smooth in TV (a little low-res at the beginning u

[2017-05-15 07:30] tobiasKaminsky commented on #992
@mario?

[2017-05-15 07:34] tobiasKaminsky commented on #991
The random folder names are/can be created by the user, e.g. /sdcard/02 or such.
This will then "conflict" with our /InstantUpload/2017/02/ as the gallery app only shows the parent folder name, in both cases "02".
For seeing the foldername in gallery app something like "2017 - 02 - February" would be the best, but then it is redundant to our folder structure...

[2017-05-15 07:46] AndyScherzinger commented on #991
Wouldn't it then be better in general to change this in the gallery app itself since we would then just be working around the display logic of the gallery app instead of changing the gallery app?

What do you think @oparoz ?

[2017-05-15 08:30] tobiasKaminsky commented on #991
We are talking about the gallery app in android, the default app to view pictures.

[2017-05-15 08:46] tobiasKaminsky commented on #601
@MightyCreak you have some else apps that try to access the nextcloud server, e.g. Davdroid?

[2017-05-15 08:47] AndyScherzinger opened #998 "Transifex: 'quote' character should be escaped for Android String resource"
[code]
can't be translated on transifex with the error:
[code]

any idea @tobiasKaminsky , since you made the last config changes to transifex :)
Alternatively we could go for
[code]
and add the hyperlink via string formatting in code...

[2017-05-15 08:49] tobiasKaminsky commented on #969
Ok, but if you still need them, just ping me here.

[2017-05-15 08:52] AndyScherzinger commented on #991
Ah, okay. I thought we are talking about the server side app...

[2017-05-15 08:56] tobiasKaminsky commented on #998
I have enabled a check that verifies that exery UTF8-char from source is also translated into destination string.
The check is described as "Content of placeholder delimiters &...;  is preserved in the translation."

Your idea to extarct the hyperlink to code is cleaner as then the url in setup.xml can be used.

[2017-05-15 08:58] AndyScherzinger commented on #998
Right, didn't think about ```setup.xml``` but that is nicer and more flexible too 👍

[2017-05-15 09:02] tobiasKaminsky opened #1000 "Celebration"
This is #1000 since our fork and we (I hope I am allowed to speak also for @mario and @AndyScherzinger) want to thank all of you to support the app by reporting bugs, contributing translations, contributing PR, and many more.
Together we will make the app even better

Thank you Community, you rock :tada:!

[2017-05-15 09:31] nickvergessen commented on #1000
Yeah, let me join in here. I like it that the Android app replaces more and more of my usages of the web UI on my phone.
Once activity and notifications are there, I don't need the UI anymore on my phone! Good work!

[2017-05-15 09:33] AndyScherzinger commented on #1000
also joining in.... Thanks everyone who participates in the Nextcloud development and especially in the Android client!

Happy to be a part of the 🥇 community! 🚀

[2017-05-15 09:44] tobiasKaminsky commented on #998
I read it completely wrong: it is not about utf8-chars but about " (quote sign) which is suggested to be quoted.
Anyway, a PR is here: #1001

[2017-05-15 09:50] tobiasKaminsky commented on #837
@AndyScherzinger maybe you can do this? :-D

[2017-05-15 09:52] tobiasKaminsky commented on #841
@mario do you have an idea regarding upload? Could this be as android is cancelling long running background jobs if the device is idle?

[2017-05-15 09:53] tobiasKaminsky commented on #842
If/when I have time I resume work on #69 and then it will be again first be available on dev.

[2017-05-15 09:53] #842 closed

[2017-05-15 09:54] AndyScherzinger commented on #837
@tobiasKaminsky maybe, yes. Need to find the time to do so... But I can have a look

[2017-05-15 10:34] #297 closed

[2017-05-15 10:43] tobiasKaminsky commented on #297
@hechi this will be in the next dev version.
Please give it a try and report back :+1:

[2017-05-15 10:58] mario commented on #841
@tobiasKaminsky it shouldn't even start uploading while recording is in progress - this was tested on number of phones and it worked quite ok :-/

@jasonbayton can you confirm?

[2017-05-15 11:00] mario commented on #1000
:)

Let's do next celebration once we have 0 issues :P

[2017-05-15 12:23] tobiasKaminsky commented on #360
@bekl101 can you give the latest dev version a try?

[2017-05-15 12:31] tobiasKaminsky commented on #452
@OlivierS1 @ncyclon can you try the latest dev version? This bug should be solved, but just to verify it.

[2017-05-15 12:33] tobiasKaminsky commented on #57
@Elukir @c0fe is this happening with latest server (nextcloud ;-) ) and app version?
If so, please reopen.

[2017-05-15 12:48] jasonbayton commented on #841
On your recommendation I switched from Dev. I'll have a look in a bit and get back to you

[2017-05-15 12:49] tobiasKaminsky commented on #186
I have tested this and set one file "as available offline" and changed the text file externally and it worked.
@childnode can you confirm that you still have the problem?

(android 7)

[2017-05-15 12:56] tobiasKaminsky commented on #95
This is so old and I have no idea how to reproduce it, thus I think we have to close this and hope that a) it never happens again or b) we get a proper description.

[2017-05-15 12:56] #95 closed

[2017-05-15 13:01] tobiasKaminsky commented on #222
True, we have no download queue like we have for upload.
Mainly because uploads should not start immediately, but instead have some restrictions (like wifi, charging or doze mode), whereas a download should start immediately as the user wants to have the file *now*.

While I see the benefit of having this, implementing this will be currently too much work for too little benefit, I think.
@mario @A

[2017-05-15 13:06] tobiasKaminsky commented on #113
@josh4trunks can you send us also credentials for a test account to android at nextcloud dot com?
Then I can have a look, but as oC also does not have a solution, I am unsure if we can do it...

[2017-05-15 13:09] c0fe commented on #57
I have a server running with 64GB of memory and this happens with a folder of 300GB or more with files that are 400MB or larger.

[2017-05-15 13:24] tobiasKaminsky commented on #671
I cannot reliable reproduce it...So I do not have any idea how to fit it.

[2017-05-15 13:28] tobiasKaminsky commented on #198
I did those steps except with "data on/off" as I am using an emulator, but cannot reproduce it :/

[2017-05-15 13:31] tobiasKaminsky opened #1004 "No thumbnails in upload view"
- disable data
- take some pictures
- open upload view
- no thumbnails

[2017-05-15 13:31] tobiasKaminsky opened #1005 "AutoUpload tries to upload although mobile data is turned off"
- turn off mobile data
- take some photos
- wait > 30s
- auto upload tries to upload pictures and fails with "connection error"

There was a PR for the "old" auto upload.
This issue remains open to check this if it is working after rewite by mario.

[2017-05-15 13:34] tobiasKaminsky commented on #640
@mario are you still up on this?

[2017-05-15 13:34] mario commented on #640
@tobiasKaminsky yes, but it depends on my time if it'll be in 1.5 or not.

[2017-05-15 14:10] tobiasKaminsky commented on #57
@c0fe can you maybe give us a test account where this is reproducable? Maybe you have some dummy files that are not that much private...
(email: android at nextcloud dot com)

[2017-05-15 14:10] tobiasKaminsky commented on #640
Just asked as you have unassigned you.

[2017-05-15 14:38] johnwmail commented on #113
@tobiasKaminsky  I would also setup test account (with Transfer-Encoding = chunked) for this.
But I do not want to post login/password here, would you send email to me?

johnw.mail at gmail dot com

Thanks.

[2017-05-15 14:52] childnode commented on #186
No I can't. For me this bug is obsolete and quiently fixed :)

[2017-05-15 15:36] c0fe commented on #57
I will have to generate the account and get back to you.

[2017-05-15 16:01] josh4trunks commented on #113
@tobiasKaminsky I already fixed this in my production environment. See https://github.com/nextcloud/android/issues/113#issuecomment-288131898

Did you still want an account on my working Nextcloud install?

[2017-05-15 16:18] injesus-k opened #1007 "How to refresh the list without synchronising? Or how to do it with syncing? Full manual needed also!"
Hi

In a folder after clicking refresh account nothing happens. The list of files and folders stays the same. What to do?

Where is the main manual online to explain all the colors and behavior? Who can explain to me? I am quite disappointed not to find this online?

Sincere,
Klaus

[2017-05-15 18:20] subesokun opened #1008 "Improve offline support"
### Actual behaviour
- NextCloud server is not reachable (offline) and mobile is connected to WIFI. Now when trying to use the app to open an image that has been marked as "offline available" and that has this green check mark it takes quite some time (several seconds) to open the image. Overall the app becomes very unresponsive especially if you're in the image preview mode.

### Expected behavio

[2017-05-15 20:02] AndyScherzinger commented on #186
@ all I'll close the issue then (while not being able to assign it to a former release).

Please re-open if anyone is experiencing this behavior again.

[2017-05-15 20:02] #186 closed

[2017-05-15 20:03] AndyScherzinger commented on #186
Thanks for the feedback @childnode :)

[2017-05-15 20:26] AndyScherzinger commented on #198
Couldn't reproduce it anymore with the latest master, so closing it for now for 1.5.0. Let's see if it will get reported for 1.5.0 after the release and then re-open.

[2017-05-15 20:26] #198 closed

[2017-05-15 20:30] subesokun opened #1009 "Send not working"
### Actual behaviour
- When trying to share an image (*.JPG) via the "send" function to a WhatsApp contact then the error "unsupported file format" gets thrown within WhatsApp. Also other messaging applications are failing to send the image.
- If I direct access the nextcloud data folder with some other file browser app I can successfully send the image so the image itself is ok.

### Expected beh

[2017-05-15 23:26] MightyCreak commented on #601
Yep, apparently it was my GNOME Online Account that was still connecting using my old ownCloud credential. Someone answered me on nextcloud help, so now I know that it's a connection failure that triggers an entry in the bruteforce attempts table.

So I would say that this issue is closed, but Nextcloud "core" needs to do something about the bruteforce attempts table that keeps growing up and slow

[2017-05-16 00:57] OlivierS1 commented on #841
With Nextcloud dev version 20170515 the issue still remain.
I have tried the various scenario:
5 minute recording leads to about 1GB video file.

Nextcloud storage on internal SD with both video recorder internal or on the external SD card.
Nextcloud storage on external SD with both video recorder internal or on the external SD card.

Both solutions (4 different configuration) fail.
Transfer seems

[2017-05-16 06:43] tobiasKaminsky commented on #893
As the real solution via a proper server timeout will take some time (NC 13, https://github.com/nextcloud/server/issues/4510#issuecomment-301591234) I suggest to just enhance the timeout to > 30s, probably 45s. This way all "blocked" users will connect again and the other have to wait just a little bit longer to get the "connection timed out" message.
@mario @AndyScherzinger

[2017-05-16 06:51] tobiasKaminsky commented on #113
Ahh, I overread that you have solved it and that is (more or less) a server/environment side problem.
So I will close this.

[2017-05-16 07:14] mario commented on #113
Please re-open. This has to be solved client side as well.

On Tue, 16 May 2017 at 08:51, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-05-16 07:58] tobiasKaminsky commented on #1009
This is happening if the file suffix is "JPG" and not "jpg".
I will fix it.

[2017-05-16 08:16] tobiasKaminsky commented on #1009
I tried it with an identical image, once with ".jpg", the other with ".JPG":
JPG:
mimetype: image/jpeg
uri: content://org.nextcloud.files/external_files/emulated/0/nextcloud/tobi%40tobi-laptop%252Fnc/allTypes/image.JPG

jpg:
mimetype: image/jpeg
uri: content://org.nextcloud.files/external_files/emulated/0/nextcloud/tobi%40tobi-laptop%252Fnc/allTypes/image.jpg

"jpg" is working fine. This seems to

[2017-05-16 08:21] tobiasKaminsky commented on #601
As far as I understood:
- the bruteforce is only limiting the very first login, if you have logged in and then e.g. download a file it should be as farst as always
- a specific ip remains for 24 hours in bruteforce table, but if your gnome online account uses wrong credentials you will be blocked immediately after 24h / ip change.
@LukasReschke

(I cc to the server master guy and will close this,

[2017-05-16 08:21] #601 closed

[2017-05-16 08:21] mario commented on #1009
If the file is on SD card, then we can lowercase the file extension.
Otherwise that is not safe.

On Tue, 16 May 2017 at 10:16, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-05-16 08:23] tobiasKaminsky commented on #841
You can try to delete the log, reproduce it and then send the log.
(if the log file is > 1 mb android cannot handle it).

[2017-05-16 08:50] tobiasKaminsky commented on #1009
I am against changing the original file...
(where is the difference if the file is on sdcard or not?)

[2017-05-16 09:07] mario commented on #1009
I'm not for changing the original file, just passing in the lowercase extension to other apps where needed :)

The difference is that SDCards are usually formatted with case-insensitive filesystems, while internal storages are mostoften formatted with case-sensitive filesystems.

[2017-05-16 09:21] tobiasKaminsky commented on #1009
This is handled via Uri and ContentResolver, I am unsure if we can change it to lower case.
Additionally, the reporter of this issue is using a nexus 5x without sdcard

[2017-05-16 09:29] AndyScherzinger commented on #998
@comradekingu the last remaining en_GB string will be translatable tomorrow. Thanks for the hint 👍

[2017-05-16 09:29] #998 closed

[2017-05-16 09:43] AndyScherzinger commented on #893
Sounds good to me 👍

[2017-05-16 09:58] tobiasKaminsky commented on #592
I cannot reproduce it and have never seen it, neither on emulator nor on real device.
@AndyScherzinger what about you?

[2017-05-16 10:04] AndyScherzinger commented on #592
@mario can you still reproduce this issue since I also never experienced this behavior nor was I able to enforce it somehow :/

[2017-05-16 10:34] ncyclon commented on #452
@tobiasKaminsky
Can't check, the version by this link https://download.nextcloud.com/android/dev/latest.apk crashing on my Samsung Galaxy S6 Edge (Android 7.0)

[2017-05-16 11:08] tobiasKaminsky commented on #82
Sorry for coming back so late.
I think the initial file scan is for favorited files which are kept in sync. As the system does not know which files are favorited, it must scan the whole file tree.

With our new approach (thanks @mario) we can now search directly for favorites and thus omit the inital file scan.
Or is there something I miss?
@mario @AndyScherzinger @przybylski

[2017-05-16 11:56] jasonbayton commented on #841
Nextcloud dev immediately quits on my Motorola(s) so I can't do any testing :(

[2017-05-16 12:01] johnwmail commented on #113
@mario agree, this should be solved client side as well.
I tried talk to OpenBSD people,

http://marc.info/?l=openbsd-misc&m=149422158413997&w=2

They quoted RFC7230

"A recipient MUST be able to parse and decode the chunked transfer coding."

I would like to setup nextcloud AC with "chunked transfer coding" enabled.

Email me, if people who want/need the AC to debug/testing

johnw dot mail at gma

[2017-05-16 12:05] johnwmail commented on #113
https://tools.ietf.org/html/rfc7230#section-4.1

[2017-05-16 12:31] tobiasKaminsky commented on #654
@jasonbayton can you test if it is working now as expected?

[2017-05-16 12:38] jasonbayton commented on #654
Afraid not, just grabbed the latest.apk again and still crashing.

[2017-05-16 13:17] tobiasKaminsky commented on #654
So...Now really there is a new version.

[2017-05-16 13:18] tobiasKaminsky commented on #452
@ncyclon now there is a new version.
Sorry for the trouble, but can you test it again? :-)

[2017-05-16 13:24] tobiasKaminsky commented on #841
Same here, a new version is now available.

[2017-05-16 14:44] jasonbayton commented on #991
As long as it doesn't impact serverside, I've got 5 years worth of pictures organised beautifully in NC's default YYYY/MM structure and I really don't want that to change :)

Indifferent on the gallery side, doesn't particularly bother me.

[2017-05-16 14:45] jasonbayton commented on #841
![image](https://cloud.githubusercontent.com/assets/3178412/26111982/89885ed2-3a4e-11e7-8cd2-1e0fa02df3d5.png)

Absolutely no issue at all. Moto G Play, Moto Z & Zyro.

[2017-05-16 14:47] jasonbayton commented on #654
Well, I've done some uploads and whatnot, it's not showing anything in logs at the moment.

[2017-05-16 16:05] OlivierS1 commented on #841
No success with version 20170516.
Is it possible the update process has left some remnant files or corrupted some files which are causing those issues?
What is the location of the log files?  I found some old ones which I deleted, but I haven't seen new ones created. The Nextcloud_log folder seem to be created but are empty.
Could it be something to do with having migrated the location of the data

[2017-05-16 17:04] gsantner commented on #683
I'm closing this and switch back to manual backing up pictures
Delay on Nougat: Yeah, sometime shortly, sometimes never; I setted up everything some time ago and thought it's working good. Now checked my nextcloud folder and noticed that  roughly 3/4 pictures never got uploaded. Seems like the app didn't even try, because the Upload log has not very much entries (but in general manual download/upl

[2017-05-16 17:05] #683 closed

[2017-05-16 18:57] wollir72 opened #1013 "Auto-Upload does not work"
### Actual behaviour
-Tell us what happens
Autoupload hangs

### Expected behaviour
-Tell us what should happen
Upload files after w-lan is on

### Steps to reproduce
1. Take a picture
2. Connect to W-LAN
3. In the upload list, images are listen, but nothing happens.
On each item is a message: "Warten auf das Hochladen"

But sometimes after several minutes, some pictures was successfully uploaded

[2017-05-16 20:11] AndyScherzinger commented on #82
I do think so @tobiasKaminsky, we should be able to gather that info via the search, yes :)

[2017-05-16 20:57] mario commented on #82
Only on NC12+.

[2017-05-17 09:36] tobiasKaminsky commented on #991
Well, it would affect all new uploaded files and thus all new folders.
This should either be an option (oO not an option, I hear Jan yelling ;-) ) or we just leave it this way.

[2017-05-17 09:36] mario commented on #991
We leave it the current way.

[2017-05-17 09:38] tobiasKaminsky commented on #991
Ok :+1:

[2017-05-17 09:38] #991 closed

[2017-05-17 09:53] ncyclon commented on #452
Everything works fine, thx)

[2017-05-17 11:12] tobiasKaminsky commented on #452
Glad to hear.

[2017-05-17 11:12] #452 closed

[2017-05-17 11:22] AndyScherzinger commented on #991
👍

[2017-05-17 13:21] tobiasKaminsky commented on #654
@jasonbayton https://kaminsky.me/nc-nightly/latest.apk here is a new dev version

[2017-05-17 13:23] tobiasKaminsky commented on #841
@OlivierS1 there was some time ago a bug with upload, but this affects only files that were already uploaded: it failed on every second try.

The log folder is: /data/user/0/com.nextcloud.android.beta/files/log
It is in the private folder of the app to ensure that log files can be written without any permission to external files / files at all.

Upload should be independent from storage location.

[2017-05-17 14:13] jancborchardt commented on #880
Agree it should be in the settings with an account chooser.

A confusion which arises from the current screeshot above is: What’s the difference between checking the »Contacts backup« radio control to on, and clicking »Back up now«?

[2017-05-17 14:34] jasonbayton commented on #841
I really liked that bug, I could upload the whole contents of a folder and be sure it'd only upload those that aren't already there 👍

[2017-05-17 14:36] jasonbayton commented on #654
Logs work with that version 👍

[2017-05-17 14:48] tobiasKaminsky commented on #880
Contacts backup is a periodic (once a day) job which automatically backups the contacts.

[2017-05-17 14:57] tobiasKaminsky commented on #841
Never thought of abusing the bug in this way :-D

[2017-05-17 14:57] tobiasKaminsky commented on #654
Finally :-)
Thank you!

[2017-05-17 14:57] #654 closed

[2017-05-17 15:06] jancborchardt commented on #880
Ok, then the wording should be »Automatic backup«. »Contacts backup« is already in the header.

And the buttons below could be in one row (if possible), left »Back up now« and right »Restore from date«. Only »Back up now« should be a primary/colored button. No need for the extra »Restore« header cause it should be part of the button label. :)

[2017-05-17 16:35] jasonbayton commented on #841
I think I mentioned to @AndyScherzinger it was one of my favourite _features_ ;)

[2017-05-17 18:31] OlivierS1 commented on #841
Hi,

Updated with your latest APK, not doing a fresh install. Log is now available again.
I am still experiencing video file corruption but I have the log this time.
Is there a better way to send you the content of the log, other than posting it on the forum?

[2017-05-17 19:29] mario commented on #841
Mario@ nextcloud Dot com :)
On Wed, 17 May 2017 at 20:31, OlivierS1 <notifications@github.com> wrote:

[2017-05-17 21:24] imjarp opened #1017 "Contact backup first time crashes"
### Actual behaviour
- Select backup contacts for the _first time_ ( press button back up now ) application crashes

### Expected behaviour
- Contact backup file uploads to server.

If it helps the problem is that the method `expireFiles` tries to get the folder `/.Contacts-Backup/` before it´s creation in the `CreateFolderOperation`

### Steps to reproduce
1. Open app
2. Select back up contacts m

[2017-05-17 22:12] imjarp opened #1018 "Contacts restore option in newer phone not available"
### Actual behaviour
-The user with device "X" select the option backup contacts, then the same user with the same account opens the app in device 'Y', the restore option is not showing

### Expected behaviour
-When a user moves from device X to Y expects to restore contacts.
*Maybe the option `Last backup` its ok to see it as `never` because this configuration belongs to the current device.
**Edi

[2017-05-18 02:13] OlivierS1 commented on #841
log sent via email.

[2017-05-18 04:02] mario commented on #841
Never got it...

[2017-05-18 05:59] tobiasKaminsky commented on #1017
Thank you for your bug report!
This is fixed in #1019

[2017-05-18 06:01] eppfel commented on #880
How easy would it be to give some info, about the existing backups.
"last backup 13:25"
"oldest backup 01.04.17"

?

[2017-05-18 06:05] tobiasKaminsky commented on #880
You will see this if you click "restore": then a date picker opens with the all available dates marked.

[2017-05-18 08:06] tobiasKaminsky commented on #1018
Good finding!
I have enhanced it in the way, that always a refresh of this folder is done.
Additionally if you select a file that is not downloaded, this will also handled correctly.

[2017-05-18 13:31] tobiasKaminsky opened #1022 "Speed up up drone by disabling emulator as no tests are run"
Currently we do not run any test on the emulator or did I overlooked something?
Therefore we now could disable the whole emulator stuff and "just" build?

[2017-05-19 08:22] tobiasKaminsky commented on #57
While thinking about it, I think this might be related to the new battery saving mechanism (doze).
Android will just kill long-running background processes if the device is idle.

@c0fe does this happen to you only if the device is idle/ screen is turned off?

[2017-05-19 09:42] tobiasKaminsky opened #1026 "Switch to new dav / enhance chunked uploading"
Currently we are storing successful uploaded chunks client side.
This can now be enhanced to reduce client code:

- use new dav:  /dav/uploads/userx/<YOURRANDOMID>/
- list shows already uploaded chunks
  - iterate over them and check file size, if chunk is completely uploaded
- upload (remaining) chunks
- move from /dav/uploads/userx/<YOURRANDOMID>/.file to /dav/files/userx/<PATH>

[2017-05-19 09:43] rullzer commented on #1026
:+1:
I would suggest first that you move to the new webdav endpoint for all file related stuff. And then start with this.

[2017-05-19 10:36] tobiasKaminsky commented on #880
![filexjwcxy](https://cloud.githubusercontent.com/assets/5836855/26244409/c7a6498e-3c8f-11e7-8814-4670c9bdeb0d.png)

[2017-05-19 10:38] tobiasKaminsky commented on #880
@jancborchardt @eppfel any idea (UI) how and where to do the account switcher?
Should it be an switcher (only one account) or should upload to multiple accounts be possible (not yet implemented)?

It will only be shown if >1 account is set.

[2017-05-19 10:50] tobiasKaminsky commented on #880
![fileiu96tz](https://cloud.githubusercontent.com/assets/5836855/26244782/a520840e-3c91-11e7-953a-5e14b4f077c4.png)

This is customizable and will only be shown if it not in the drawer, and vice vera.

[2017-05-19 11:17] tobiasKaminsky commented on #880
I would like to remove the idea to change the target folder, @jancborchardt ?

[2017-05-19 12:40] c0fe commented on #57
It happens with screen off

[2017-05-19 20:07] GnaXi opened #1028 "Cannot authenticate to this server"
### Actual behaviour
When I try to connect to my server I get the following error: "Cannot authenticate to this server"

### Expected behaviour
It should connect to the server

### Steps to reproduce
1. Open the application
2. Enter the URL to the Nextcloud instance

### Environment data
Android version: 7.1.1

Device model: OnePlus 3T

Stock or customized system: Stock

Nextcloud app version: 1.4

[2017-05-20 11:42] prilly commented on #968
So.. i cant belive iam the only one that has this issue, i hope anybody can get it fixed

[2017-05-20 11:46] prilly commented on #537
I have the same problem:

https://github.com/nextcloud/android/issues/968

Is there a fix for this?

[2017-05-20 13:27] elpraga commented on #596
@mario , I have an outrageous question. Is there a real reason to set a limit to a cache size? If I understand it correctly, it doesn't effect people who don't need larger cache, and those who do need it will very likely enjoy having it larger (like me).

The reason is that there is one more issue I haven't mentioned earlier. When so many thumbnails are missing, the app constantly tries to downloa

[2017-05-20 20:36] OlivierS1 commented on #968
This was fixed I believe.
Try rebooting your phone.

[2017-05-20 21:40] AndyScherzinger commented on #968
Afaik @tobiasKaminsky did some changes for the upcoming release, so you can also give the dev version (can be installed in parallel) and check if that one resolves the issue for you and would be sure that 1.5.0 will fix it for you. It an be found here: https://f-droid.org/repository/browse/?fdfilter=Nextcloud&fdid=com.nextcloud.android.beta

[2017-05-21 02:37] HardRevo opened #1029 "Feature Request?? Where is the option to view images without downloading??"
Last year I installed the developer app because It had the capability to see the images without downloading. Now  it looks like it has been removed.
I Think being able to see images on the app without having to wait 1-5 seconds or more (depending on the internet connection)  it's one of the key features that the Android App should have.

[2017-05-21 10:41] AndyScherzinger commented on #1029
Hi @HardRevo,

the developer app version has been re-created from scratch and the feature you are referring to is #69 and has been implemented by @tobiasKaminsky. Due to the recent, massive changes for the upcoming stable release we haven't found the time yet to integrate it back into the new developer version but that is on our agenda. Be be assured that we haven't "removed" it the new and rebuil

[2017-05-21 10:56] GnaXi commented on #1028
I've now tried with 3 separate versions.
 - The default version from Google Play
 - The beta version from Google Play
 - The dev build from https://download.nextcloud.com/android/dev/latest.apk

Issue remains the same on all three.

[2017-05-21 14:28] JSoko commented on #1028
It works with NC12...

Please have a look at your bruteforce-table.
You can do that with phpmyadmin or in the terminal:
DON'T FORGET TO MAKE A DATABASE BACKUP!

mysql
USE nextcloud;
SHOW tables;
SELECT * FROM oc_bruteforce_attempts;

Lists the bruteforce entries
For removing rows:

DELETE FROM oc_bruteforce_attempts WHERE IP="nnn.nnn.nnn.nnn.";
SELECT * FROM oc_bruteforce_attempts;
exit

https://g

[2017-05-21 15:24] GnaXi commented on #1028
The oc_bruteforce_attempts table is empty.
Could it have something to do with the migration from ownCloud 10 to Nextcloud 12?

[2017-05-21 18:24] bitcube commented on #1028
I have the same problem when I upgrade (using git) from v12.0.0beta4 to for example v12.0.0RC1.

[2017-05-21 19:28] AndyScherzinger commented on #1028
calling server folks to the rescue. @LukasReschke do you have any idea why this might be happening assuming the only changes variable is a server upgrade?

[2017-05-22 06:02] tobiasKaminsky commented on #968
Additionally the dev version has logging (of course only non-private data) enabled which could help to trace down the problem.

[2017-05-22 06:10] tobiasKaminsky commented on #596
Until we have a better solution, I would like to change the cache size to at least 100Mb for the next release.
As @elpraga said this should not affect people. Even on very low space devices cache can be cleaned very easy, so it is no real drawback.
@mario @AndyScherzinger

[2017-05-22 06:19] tobiasKaminsky commented on #1029
Currently we are doing bugfixes for the next release (1.5).
After that this is my no.1 priority.

[2017-05-22 06:28] KekcuHa commented on #1028
I have the same issue after upgrade from 11.0.3 to 12.0.0 beta 3.

[2017-05-22 06:38] AndyScherzinger commented on #596
@tobiasKaminsky agreed 👍 Being a file / cloud storage app...a 100Mb cache size seems legit with the outlook tha we plan to move to a more dynamic caching size calculation anyways in a future release.

[2017-05-22 06:52] JSoko commented on #1028
Don't have that issue on NC 12.0.0.28 with dev 20170521

[2017-05-22 07:00] tobiasKaminsky commented on #1028
@GnaXi @KekcuHa can you both send an email with your server url to android at nextcloud dot com?
If it happens during login, is it possible to create a test account and send those credentials too?

[2017-05-22 07:02] GnaXi commented on #1028
@tobiasKaminsky I've sent the link via mail as requested.
It happens before login, so an account should not be required.

[2017-05-22 08:51] garrett commented on #1028
I have the same issue with the Android client and Nextcloud 12. The app was working fine previously on Nextcloud 10 (on a different system — I changed to a completely different machine and installed Nextcloud 12 rc2 over the weekend and upgraded to 12.0.0 stable today).

So, at least in my case, it didn't have to do with upgrading.

Possibly related: I have Nextcloud in a `/nextcloud/` subdirector

[2017-05-22 08:56] garrett commented on #1028
I realized I could just look at the logs, so here's the result of `tail -f /var/log/httpd/*` when I tried to connect with the Android client:

[code]

My guess above isn't correct (about this being similar to the other issue).

[2017-05-22 10:23] aSpeX2009 commented on #1028
Hey,
same error 401 here.
Nextcloud 12, system wasn't changed.

Apache2 Access-Log:
[code]

[2017-05-22 12:25] AndyScherzinger commented on #1028
Just tested: I upgraded my server from 11.0.3 to 12.0.0.29 and have no issues, so it doesn't seem to be a general issue

[2017-05-22 12:55] nickvergessen commented on #1028
1. Are your installations in the root of the domain or a subfolder?
2. Did you enable pretty URLs (without index.php)?
3. Please post the output of `occ config:list system`

[2017-05-22 12:55] pongraczi commented on #1028
Same issue with NC 12.0.0.
Upgaded from OC 10.0, following the migration (upgrade) steps described on NC website.
NC desktop client is working as expected, but android NC client failed.
Android client installed from Play market (what a silly name for an app store).
The server has valid let'sencrypt SSL certificate.

[2017-05-22 13:07] GnaXi commented on #1028
@nickvergessen
1. Subdomain.
2. No.
3. https://note.gnax.io/?ae70c0449d644136#mqUsa3eIfLsU5rGVLFI8bH0MrlrJ5RGTrCkPgHyuGZ4=

[2017-05-22 13:12] pongraczi commented on #1028
Update:
PHP version: 7.1.4, using php-fpm

[2017-05-22 15:01] KekcuHa commented on #1028
@nickvergessen
1. root
2. No, nothing changed
3.
`{
    "system": {
        "instanceid": "ocy7luydbtro",
        "passwordsalt": "***REMOVED SENSITIVE VALUE***",
        "secret": "***REMOVED SENSITIVE VALUE***",
        "trusted_domains": [
            "127.0.0.1",
            "oc.t-rosta.com"
        ],
        "version": "12.0.0.28",
        "datadirectory": "\/mnt\/raid\/owncloud\/data",

[2017-05-22 15:16] AndyScherzinger commented on #1028
Not sure if it helps @nickvergessen @tobiasKaminsky... I checked @GnaXi's server and (anonimzed) this is the logcat I see using the actual master (doesn't matter though):
[code]

[2017-05-22 15:21] LukasReschke commented on #1028
Can you folks check if the hot fix from https://github.com/nextcloud/android/pull/1032 helps? This is caused by the combination of Nextcloud 12 supporting OAuth and the Android app having an old code path that pretends to support OAuth 🙈

[2017-05-22 15:23] tobiasKaminsky opened #1034 "New login in NC12"
Server is now sending both auth methodes:
`< WWW-Authenticate: Basic realm="Nextcloud"
< WWW-Authenticate: Bearer realm="Nextcloud"`

Currently android only uses only the latest string.
Oauth/Bearer is not working on android client.
To have a real fix, the client needs to parse both methodes and check if any says "basic".

Another way @nickvergessen just found out is to use /dav instead of /webdav

[2017-05-22 16:32] jancborchardt commented on #880
Nice!

- The blue header text "Backup" can be removed as its duplicate
- Wording on the entry and in the heading and in the button needs to be "Back up" with a space as it's the verb form and two separate words. "Backup" is the noun form. :) a backup / to back up
- Account switcher can be on the top in that view.

What do you mean with "I would like to remove the idea to change the target folder"?

[2017-05-22 17:34] tobiasKaminsky commented on #1028
This is already in play store.

[2017-05-22 17:38] aSpeX2009 commented on #1028
Play Store Version works, thank you!

[2017-05-22 17:39] #1028 closed

[2017-05-22 17:39] tobiasKaminsky commented on #1028
Glad to hear :-)

[2017-05-22 18:21] pongraczi commented on #1028
Confirmed, updating from play store it is working, thank you! :)

[2017-05-22 18:25] AndyScherzinger commented on #1028
Your very welcome, glad to hear we could resolve this matter for you quickly :)

[2017-05-22 18:38] GnaXi commented on #1028
Thank you guys for resolving this issue so quickly! One of the many reasons choosing you over ownCloud! :)

[2017-05-22 22:08] Savro commented on #1013
Same issue here with the Samsung Galaxy S7 Edge on Android  7.0 G935F

[2017-05-23 08:03] nickvergessen commented on #1034
No, misunderstanding. On /dav you get both too, but in a different order:
[code]

However Lukas just told me, that header order might be arbitrary, since there is enterprise software which automatically sorts headers alphabetically.
So decent parsing and looking for one "basic" sounds like the correct approach.

[2017-05-23 08:15] tobiasKaminsky commented on #1034
Thanks for clarifying Joas!
Then I'll do it this way :-)

[2017-05-23 08:34] garrett commented on #1028
Awesome! Thanks for the quick fix! It's working here too.

[2017-05-23 09:30] jancborchardt commented on #912
As an example, Dropbox shows the left sidebar by default on tablet:
![](https://lh3.googleusercontent.com/Jwef0acZpcPHlbRn90csGJj4uFZeWQEMfF2fhjzUNbXXQ-OcJXpkzVh9Al8sOyK7aQ=h900)
On iOS they do it like we do though: https://itunes.apple.com/us/app/dropbox/id327630330?mt=8

Google drive just does whole-screen of thumbnail view:
![](https://lh3.googleusercontent.com/wykzPWwa8_R-Mzq2jvtlO1Kk8K4FvMBPP

[2017-05-23 09:39] p0se commented on #1013
Same issue here

Android version: 7.1.1

Device model: One Plus 3

Stock or customized system: Stock

Nextcloud app version: 1.4.3

Nextcloud server version: 11.0.3 (stable)

[2017-05-23 11:35] JSoko opened #1036 "FR: Deck integration"
Feature request:
IMHO Deck https://github.com/nextcloud/deck seams to become a great peace of software.
AFAIK, the developer is integrating an api at the moment...
...especialy if you could handle your decks offline.

So will there be a chance in future to integrate deck into the Nextcloud-App?

Would be a great feature...

[2017-05-23 14:56] HardRevo commented on #1029
Thanks for clarifying this and letting us know.
With so many changes coming up it's quite hard to keep up with whats happening.
Thanks can wait.

[2017-05-23 15:13] henningoschwald opened #1037 "unnecessary and confusing content-descriptions in file activity"
### Actual behaviour
In the main file and folder activity, every file or folder name has a contend description set which prepends the layout type to the file name. For example if you have a file named testfile.txt in your Nextcloud, the contend-description for this entry is "LinearLayout-testfile..txt".

The purpose of content-descriptions is to add text descriptions for graphical UI elements such

[2017-05-23 16:01] tobiasKaminsky opened #1038 "Music player: more playback options"
Wished via mail:
During audio playback show an option to play the whole folder.
For saving data plan this should be limited to already downloaded files.
This can be done like in VLC:
- repeat current
- play whole directory
- loop directory
- shuffle

[2017-05-23 23:00] mario commented on #1018
Should be solved.

[2017-05-23 23:00] #1018 closed

[2017-05-23 23:00] #984 closed

[2017-05-23 23:00] #946 closed

[2017-05-24 06:53] strugee commented on #984
Whoops, sorry - totally forgot about this issue! I can confirm that this is fixed :)

Thanks for working on this <3

[2017-05-24 07:15] AndyScherzinger commented on #1022
:+1: Agreed :)

[2017-05-24 07:49] aronovgj commented on #1038
Why not let the user choose?

[2017-05-24 07:54] tobiasKaminsky commented on #1038
I thought this would clutter the playback UI.
And if you really want to have all files in a folder, you can easily click on this folder and choose "synchronize".

But I am not the design expert: @jancborchardt @eppfel

[2017-05-24 08:29] AndyScherzinger opened #1040 "Fix lint config for drone CI builds"
At the moment drone doesn't pick up a lint config:

[2017-05-24 09:25] tobiasKaminsky commented on #1040
Yes, it just uses the default one, which is fine enough.
You probably only need a custom lint.xml if you want to disable specif tests.

[2017-05-24 09:31] tobiasKaminsky commented on #1040
there was once upon a time a lint.xml in https://github.com/nextcloud/android/blob/f1465210f01482304141f57d0bb88a0336630679/lint.xml which was empty...

[2017-05-24 09:35] mario commented on #1040
The issue is that build fails without it...

On Wed, 24 May 2017 at 11:31, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-05-24 09:37] tobiasKaminsky commented on #1040
When and where?
https://drone.nextcloud.com/nextcloud/android/4634/3 has the warning about missing lint.xml, but drone built fine.

[2017-05-24 10:02] supportreq commented on #558
@mario I am on the Android Dev Build from F-droid... i m not sure if search entire server is implemented on that build [server version is 12 final release].. can you confirm..

[2017-05-24 10:03] mario commented on #558
It should be working in v12. Is it not? What's the issue?

[2017-05-24 10:18] supportreq commented on #558
@mario somehow it didnt work on wifi but on mobile data it is working.. taking some time to get the list though

[2017-05-24 10:32] mario commented on #558
That sounds strange @supportreq ? Why would it not work on wifi, but work on mobile?

[2017-05-24 10:36] supportreq commented on #558
Uploading files is also returning with connection error on wifi [using browser it is working]

mobile data it works fine..

[2017-05-24 10:41] mario commented on #558
o.o

Do you have a special wifi connection? Capture portal or something?

[2017-05-24 10:44] Savro commented on #1013
Any updates?

[2017-05-24 10:45] mario commented on #1013
We're working on this, and it'll be fixed in the next stable release.

[2017-05-24 14:40] henningoschwald commented on #1037
I've now installed the development build 20170524 and found the weird contend-descriptions in file and folder names are gone, so there is almost no reason to keep this issue open. Additionally now also the file size is shown, which is really cool! The only odd description I found so far is the one set in src/main/res/layout/files.xml, that one should also be removed.

Looking forward to the stable

[2017-05-25 04:00] GitHubGeek commented on #746
Confirmed this issue occurs on OnePlus One internal storage (virtual SD card). App's CPU usage is a constant 4-8%.

Suggest to watch for filesystem changes using an event-based mechanism, then scan/poll every 1 hour to catch any missing files. (All event based systems occasionally miss files)

[2017-05-25 04:18] GitHubGeek commented on #1038
Workaround: Use a music playback app that support custom music files locations, and then point it to `Android/data/com.nextcloud.client/files/...` 😄

[2017-05-25 20:12] roger-whittaker commented on #801
It still happens with Android app version 1.4.3 and Nextcloud 12 server.

[2017-05-25 20:15] mario commented on #801
This is solved in the master, and will be in 1.5 release. 1.4.2 was just about fixing login for V12.

[2017-05-26 09:12] duckulaj opened #1044 "This image cannot be shown"
### Actual behaviour
Clicking on a photo displays black screen with warning triangle with caption This image cannot be shown

### Expected behaviour
Display the photograph

### Steps to reproduce
1. Click on an image to view
2.
3.

### Environment data
Android version:
7.0
Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error

[2017-05-26 09:15] duckulaj opened #1045 "This image cannot be shown"
### Actual behaviour
Clicking on a photo displays black screen with warning triangle with caption This image cannot be shown

### Expected behaviour
Display the photograph

### Steps to reproduce
1. Click on an image to view
2.
3.

### Environment data
Android version:
7.0
Device model:
Galaxy S7
Stock or customized system:
Stock
Nextcloud app version:
1.4.3
Nextcloud server version:
11.0.3
### Lo

[2017-05-26 09:46] AndyScherzinger commented on #1044
closed as duplicate of #1045

[2017-05-26 09:46] #1044 closed

[2017-05-26 12:57] tobiasKaminsky commented on #1045
Is there something special with this image? What kind of image it this? jpg? tiff? png?

[2017-05-26 13:35] j-ed commented on #994
The following lines are written to the log right after I've pressed the Install button:
[code]

[2017-05-26 14:07] j-ed commented on #994
**Upgraded to:**
Nextcloud app version: v1.4.3
Nextcloud server version: 12.0.0

The problem still persists with the Nextcloud app. As a cross-check I've tried to
access Nextcloud from the ES File Explorer app on Android usind WebDAV and
the Owncloud app on IOS. Both are displaying the files properly.
I've also deleted and reinstalled the whole Nextcloud app and its data but
without getting any im

[2017-05-26 18:40] duckulaj commented on #1045
It's a jpeg. Also noticed it seems to be all images since 7th May

[2017-05-27 06:07] tobiasKaminsky commented on #1045
And they are uploaded correctly? You can see them with the web browser or with your synced pc/laptop?

[2017-05-27 07:00] rockcoolt commented on #1028
Hello i need your help :'(.
Nextcloud server 12 with nginx.
Nextcloud android client v1.4.3,  Android 7.0, Galaxy s8+.
I try To connect on Android i get "Cannot authenticate to this server".
Web access and Windows client works.

[2017-05-27 07:06] bitcube commented on #1028
I have almost the same combination and works for me.
Nextcloud Server v12.0.0
Nextcloud Android Client v1.4.3, Android 7.0, Sony Xperia Z5.

A problem I had before is that the IP of my client got in the bruteforce table.
Check the table "oc_bruteforce_attempts" in your database if there are any entries for your client in there.

[2017-05-27 08:25] rockcoolt commented on #1028
oc_bruteforce_attempt table is empty :(

[2017-05-27 08:25] rockcoolt commented on #1028
maybe my nginx configuration

[2017-05-27 08:47] duckulaj commented on #1045
I can see the images fine using the website.

[2017-05-27 08:47] duckulaj commented on #1045
Meant to type WEBUI

[2017-05-27 09:27] bitcube commented on #1028
You can see my (anonymized) nginx configuration here: https://pastebin.com/cXDfMwQa

I think it's mainly copy / paste from the Nextcloud documentation (https://docs.nextcloud.com/server/11/admin_manual/installation/nginx_nextcloud_9x.html).

[2017-05-27 13:59] rockcoolt commented on #1028
I have exactly the same configuration.  (with my domain ^^)
My question is WHY windows client working ?
--
The android app does not work for me !
I will use the web application on my phone.
@bitcube thank you for your help :)

[2017-05-27 19:32] elforesto commented on #427
This issue also exists in the OwnCloud Android client (fails to connect when IPv6 is enabled). I'm guessing it has carried over from there.

[2017-05-27 19:53] AndyScherzinger commented on #427
@elforesto correct, the webdav library in use can't yet handle IPv6 :/

[2017-05-27 20:49] kevinkk525 opened #1046 "IDN-domains not displayed correctly"
### Actual behaviour
-IDN-domains (https://www.denic.de/en/know-how/idn-domains/) do work but in the account name they are displayed in their ACE string instead of IDN version.
Of course this is no bug, just a visual improvement.

### Expected behaviour
-Display IDN-domains correctly

### Steps to reproduce
1. Get an IDN-domain
2. Log in
3. check account name

### Environment data
Android version:

[2017-05-27 22:28] AndyScherzinger commented on #1046
Hi @kevinkk525, thanks for the input! And yes, while it is technically not a but I agree that this doesn't look very nice and see below, I also think this be fixed (even though it might be helpful if you could provide us with a test account so we can test the code change once it is done, waiting for the other folks approval first though).

@mario @tobiasKaminsky sounds good to me, a quick search r

[2017-05-27 22:30] AndyScherzinger commented on #1046
@kevinkk525 Or if you are willing to test we can first deploy it to the dev builds :) ...which might be easier!

[2017-05-27 22:37] kevinkk525 commented on #1046
You can deploy it to dev builds as I'm using those already anyways. I will gladly test it.
Additionally I can still create a test account for you if needed.
Am 28.05.17, 00:30, Andy Scherzinger <notifications@github.com> schrieb:
@kevinkk525 Or if you are willing to test we can first deploy it to the dev builds :) ...which might be easier!

—You are receiving this because you were mentioned.Reply

[2017-05-28 03:18] timtierney commented on #955
Still an issue in 20170527 on tablet and phone.

[2017-05-28 13:46] jospoortvliet commented on #531
I don't understand it either... Is what I proposed not possible?

[2017-05-28 23:03] loxK commented on #761
The instant upload is totally unreliable. My yesterday's mother day photos didn't upload. If I take a photo now it uploads leaving a gap of not uploaded photos. Galaxy S7, stock, unrooted.

[2017-05-29 02:11] OlivierS1 opened #1047 "Nextcloud Dev: 20170528: Some folders do not appear in the list."
### Actual behaviour
-Tell us what happens

It would seem that some folders are not listed in the list. I can't seem to find any trace of a particular one.
In the log, I have the following details:
`
2017/05/28 18:54:56
Brand : lge

2017/05/28 18:54:56
Product : g3_bell_ca

2017/05/28 18:54:56
Device : g3

2017/05/28 18:54:56
Version-Codename : REL

2017/05/28 18:54:56
Version-Release : 6.0

2017/

[2017-05-29 07:38] seuffert commented on #761
same for me. took a bunch of photos yesterday - some are missing even NC app says all is fine and uploaded :(

[2017-05-29 09:35] ghost opened #1048 "Nextcloud android app does not move or delete original files"
### Actual behaviour
I setup Nextcloud android app to auto upload my photos to server and the original files to be moved to app folder. Instead, the original files are kept in the original folder.
The exact same behaviour happens with the setting "Original file will be..." - deleted.
Also, the same behaviour happens when I manually upload a file to the server and select Move or Delete.

### Expect

[2017-05-29 09:42] georgefl commented on #1048
One more detail I'd like to add, the app data of Nextcloud is stored on a 64GB SanDisk microSD card mounted as "Portable storage" (there is no other way in my Samsung dumbphone).

[2017-05-29 09:56] eppfel commented on #1038
I consider this an edge-case. Nextcoud should not become a music player app. The discussion about sync and ux shows how this complicates things.

Preview to "check" a file seems enough...

[2017-05-29 14:24] Bullnados opened #1049 "German translation (just German descreption inside)"
In Transifex finde ich eine Übersetzung nicht, die ich gerne ändern würde.
Es geht um "Wiederholung fehlgeschlagen" in der Uploadliste. Diese sollte besser "Wiederholung Fehlgeschlagene" oder "Fehlgeschlagene wiederholen" heißen.
@AndyScherzinger

[2017-05-29 17:15] andrewoficial opened #1051 "Mobile app make many duplicate files"
### Actual behaviour
App create copy of photo.
Name like: %originalName%(2) (2) (2)...
### Expected behaviour
Just upload to server.

### Steps to reproduce
1. Login in account
2. Crate new picture (camera or download)
3. Wait for automatic started upload (3G/WiFi)
4. See the trouble

### Environment data
Android :
6.0.1

Device model:
Sony z3-comapt
Stock or customized system:
Stock
Nextcloud app

[2017-05-29 19:11] nifunifatralara commented on #1028
Having the same issue with NextCloud android app version 1.4.1 installed from F-droid

With the version from play store it does work though

Can you guys please update the F-droid version?

Thanks!

[2017-05-29 19:18] rockcoolt commented on #1028
Try update your app to => 1.4.3

[2017-05-29 19:19] nifunifatralara commented on #1028
yes with 1.4.3 from play store it works but not with the version that f-droid has (1.4.1) - I'd rather avoid play store though

[2017-05-29 19:33] GnaXi commented on #1028
If you'd like to avoid Google Play Store, just download the dev build:
https://download.nextcloud.com/android/dev/latest.apk

[2017-05-29 19:36] nifunifatralara commented on #1028
ah thanks! didn't know we had that option (just started using nextcloud today :)

[2017-05-29 20:20] #427 closed

[2017-05-29 22:12] Jonathan-92 opened #1052 "Is there a version that works on android 2.2?"
### Actual behaviour
- App incompatible with my phone which has android 2.2

### Expected behaviour
- I don't really expect it but it would be nice if there was a version that works on android 2.2

### Steps to reproduce
1.
2.
3.

### Environment data
Android version: 2.2

Device model: HTC Gratia

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web se

[2017-05-30 00:07] OlivierS1 commented on #1047
Doing side by side comparison between Nextcloud 1.4.3 and Nextcloud Dev 20170528, I found I am missing about 25 top level folders.
Content from 1.4.3 matches what I have on the web interface.
The missing folders seem to be the one that are shared, but not all of them it seems.

[2017-05-30 05:06] JSoko commented on #1049
@Bullnados
Steht in Transifex seit einem Monat auf "Fehlgeschlagene erneut versuchen"
https://www.transifex.com/nextcloud/nextcloud/translate/#de_DE/$/91098383?qt=fehlgeschlagene

[2017-05-30 06:03] tobiasKaminsky opened #1053 "Re-sharing a file leads to logout"
I know that there is/was an issue about this, but I currently cannot find it and thus do not know the state.

### Actual behaviour
- error is displayed and login screen is shown

### Expected behaviour
- correctly reshared file

### Steps to reproduce
1. share a file with user a
2. share the same file with user b
3.

### Environment data
Android version:

Device model:

Stock or customized system:

[2017-05-30 06:37] AndyScherzinger commented on #1049
Den aktuellen Stand der Übersetzungen siehst du am Besten in der Dev Variante der App: https://f-droid.org/repository/browse/?fdfilter=Nextcloud&fdid=com.nextcloud.android.beta

[2017-05-30 06:37] #1049 closed

[2017-05-30 06:37] #1034 closed

[2017-05-30 06:45] AndyScherzinger commented on #1053
@tobiasKaminsky you probably mean #730 which has been fixed via #986 and would then be fixed for 1.5.0 :)

[2017-05-30 06:46] AndyScherzinger commented on #1047
@tobiasKaminsky @mario do you have the time to take a look at this?

[2017-05-30 07:06] mario commented on #1047
Sure l, but I would need reproduction steps :-/
On Tue, 30 May 2017 at 08:46, Andy Scherzinger <notifications@github.com>
wrote:

[2017-05-30 10:45] AndyScherzinger commented on #1052
Hi @Jonathan-92,

I'm sorry to disappoint you but like you guess correctly the Nextcloud client (and all other third-party apps I am aware of) doesn't support 2.2 and requires at least 4.0.x. So you are limited to the use of the web app via a browser..

[2017-05-30 10:45] #1052 closed

[2017-05-30 11:26] j-ed commented on #1047
I think the issues https://github.com/nextcloud/android/issues/994, https://github.com/nextcloud/android/issues/468 are related to this issue. Wouldn't it be possible to add a kind of debug trace function to the app which can be enabled on a request so that you're able to narrow down the root cause of the problem?

[2017-05-30 12:40] Bullnados commented on #1049
Danke für die Info, dachte nur, da eine neue Version im Playstore erschienen ist, dass auch gleihc die aktuellste Übersetzung genommen wurde

[2017-05-30 12:42] AndyScherzinger commented on #1047
@j-ed @OlivierS1 are the folders that are missing any different from the ones you see? From what I understand for @OlivierS1 it seems to be happening for shared ones only but not all shared folders, so where do they differ? (any certain kind of sharing config? any certain kind of storage used for these folders?)

[2017-05-30 13:37] AndyScherzinger commented on #1049
Die 1.4.3 ist lediglich ein Hotfix wegen der Login-Änderungen in Nc12. Normallerweise wäre das so ja. In diesem Fall jedoch nicht, da der Master bereits auf Entwicklungsstand 1.5.0 ist aber noch nicht entsprechend stabil, dass man damit ein 1.5.0er Release hätte vorziehen können/sollen. So gesehen richtig gedacht, aber 1.4.3 ist eine Ausnahme gewesen.

[2017-05-30 14:29] j-ed commented on #1047
The folders on my server are all WebDAV shares, which have been configured using the personal settings of my user. They're not shared nor is any "*special*" the configuration used.
[code]

[2017-05-30 16:54] aleister09 opened #1054 "NavigationBar Title"
### Actual behaviour
NavigationBar doesn't show the current Directory Name and the back button

### Steps to reproduce
1. Open App
2. Open a Directory

### Environment data
Android version:7.1.2

Device model: Nexus 5X

Nextcloud app version:Master

### Logs
![device-2017-05-30-114905](https://cloud.githubusercontent.com/assets/25756086/26594743/72e65e1e-452e-11e7-9d6b-bbd4f01113d4.png)

[2017-05-30 18:55] OlivierS1 commented on #1047
@AndyScherzinger, difficult to isolate the root cause.
Only one folder from a SMB share, the rest are regular folders within my Nextcloud dataset.
I have been trying to change a few things on one particular folder named "Recettes" and I have noticed the following:

From the Web interface:

- Changing or removing shares didn't affect the outcome.
- When renaming the folder, it will appear with the

[2017-05-30 19:18] OlivierS1 commented on #1047
Because I was able to restored "Recettes" from the mobile Dev app, I decided to uninstall the app and do a fresh install.
Now, it seems some of the previously missing folders are now visible. I don't know yet if all of them are visible yet.
I am wondering if any of the following could be the culprit:

- Thumbnail folder.
- Using more than one account on the Dev app.
- Nextcloud folder was moved to

[2017-05-30 20:09] OlivierS1 opened #1055 "Nextcloud Dev: Is there a way to export account settings in order to make a clean install and reload those settings back."
### Actual behaviour
-Tell us what happens
I am using Nextcloud Dev app on a daily basis and I try to report bugs I find.
The last bug I found may have been caused by the introduction of one or more updates, or simply have occurred during normal usage.
It seems performing a clean install, rather than an update has solve that particular issue, maybe something to do with the Thumbnail cache.
I am us

[2017-05-30 21:37] AndyScherzinger commented on #1047
@mario @tobiasKaminsky any idea what could be or could have been causing this. Since 1.4.3 is fine and dev seems to have gotten "better" after re-install I don't have any idea. Only thing I did the last couple of weeks/month were UI implementations so I can't tell if we changes anything regarding fetching/storing of the remote file tree... :/

@OlivierS1 thanks a lot for the debug / testing effort

[2017-05-31 00:46] aleister09 opened #1056 "Upload error"
### Actual behaviour
Can't upload files higher than 1 MB, the app shows multiples files with size 0

@AndyScherzinger
I think the problem is the ChunkedUploadRemoteFileOperation but I'm not sure

### Steps to reproduce
1. Open App
2. Upload a File

### Environment data
Android version: 7.1.2

Device model: Nexus 5X

Nextcloud app version:Master

Nextcloud server version:12

![device-2017-05-30-193

[2017-05-31 05:21] ShaunCurrier commented on #623
+1 Came here to create an issue like this.

[2017-05-31 08:17] AndyScherzinger commented on #1056
@aleister09 I'd say most likely yes, since afaik 1MB is the actual chunk size at the moment.

@tobiasKaminsky can you have a look, since you originally developed this mechanism? :)

[2017-05-31 14:44] foosinn opened #1057 "F-Droid version is Outdated"
F-Droid version cant connect to Nextcloud 12. Play Store version can.

https://f-droid.org/repository/browse/?fdfilter=com.nextcloud&fdid=com.nextcloud.client

Please Update. Thanks!

[2017-05-31 17:59] imjarp commented on #1056
@AndyScherzinger i found the issue  in the [android-library](https://github.com/nextcloud/android-library/commit/2b72d2b4c404b028409d40ceabf643288cd98b5b)

[2017-05-31 19:26] AndyScherzinger commented on #971
implemented and merged

[2017-05-31 19:26] #971 closed

[2017-05-31 19:47] AndyScherzinger commented on #1056
Awesome work @imjarp merged to lib and to app master

resolved via #1058

[2017-05-31 19:47] #1056 closed

[2017-05-31 20:26] imjarp commented on #1056
Any time :)

On Wed, May 31, 2017 at 2:47 PM, Andy Scherzinger <notifications@github.com>
wrote:

--
Con cordiales saludos

J.A.R.P.

[2017-05-31 20:38] mario commented on #1057
Hi,

please use this for now:

https://f-droid.org/repository/browse/?fdfilter=com.nextcloud&fdid=com.nextcloud.android.beta

Once 1.5 is out, they'll start building our stable releases once again.

Thanks for using the app!

[2017-05-31 20:38] #1057 closed

[2017-05-31 21:02] AndyScherzinger opened #1059 "Notifications broken"
At the moment notifications isn't working anymore. Tested with the credentials you gave me @mario .

On the webUI I see notifications while the Android client (even after refreshes) keeps telling "No Notifications"

[2017-05-31 23:37] OlivierS1 opened #1060 "Nextcloud 1.5 vs Nextcloud Dev"
### Actual behaviour
-Tell us what happens

This is just a query for information.
It seems Nextcloud 1.5 is in the work and I am wondering about the following:
- Is Nextcloud Dev going to become Nextcloud 1.5? As far as I understand, Nextcloud Dev is a different beast altogether and may not have the same features as 1.5, right?

- Nextcloud Dev is currently being tested but is not a Release Candid

[2017-06-01 00:20] OlivierS1 opened #1061 "Nextcloud Dev 20170529: "Favorites" and "Shared" menu not working."
### Actual behaviour
-Tell us what happens
I don't know if the following status are still work i progress or simply not working due to bugs:

- "Favorites"
- "Shared"

Right now, when I access the "Favorites" menu, I get a short message that looks like:
"Nothing Favorited yet" (improper English I believe) then follows the spinning "Loading" semi-circle, and ends with "No files here- Upload some co

[2017-06-01 00:33] OlivierS1 opened #1062 ""On device" content display behavior should be improved."
### Actual behaviour
-Tell us what happens
Under both version of Nextcloud 1.4.3 and Nextcloud Dev 20170529, I find the "On device" feature to be pretty much useless.
The reason is that the folders are always displayed, even though their content may have not been downloaded yet.
I think it would be more informative to only show folders which have been synchronized and containing files. If the fold

[2017-06-01 03:47] mario commented on #1061
I think I fixed this.

We will see once new dev build is there.

On Thu, 1 Jun 2017 at 02:20, OlivierS1 <notifications@github.com> wrote:

[2017-06-01 04:19] mario commented on #1060
Nextcloud dev ideally should have everything the next release will have + a few more things that might or might never go into ANY release.

In the real world, unfortunately, we sometimes don't merge everything to dev but this is improving with every passing day...

NC 1.5 will be available as RC (which is basically a beta) under Play Store beta mechanism once ready. Do you need instructions on how

[2017-06-01 04:21] mario commented on #1061
P.s. actually showing the list is relatively slow, we know - this is a problem, but not sure if it can be solved for 1.5.

But you should see the loading all the time while it's loading, instead of the "No files here" or whatever.

[2017-06-01 05:01] mario commented on #1059
This works for me on both 11 and 12 :-/

[2017-06-01 05:09] mario commented on #1053
This is working, so closing.

[2017-06-01 05:09] #1053 closed

[2017-06-01 07:43] AndyScherzinger commented on #1061
#1023 removes "Favorites" from the menu for pre-NC12 since the needed server API isn't available before NC12.

[2017-06-01 07:55] mario commented on #1061
Ah NC11. You are right :D Shared should work though, but there's the potential that it's slow ...

[2017-06-01 09:54] mario commented on #1059
@AndyScherzinger can you please confirm? :p

[2017-06-01 10:09] jasonbayton commented on #408
Bringing this back into the spotlight,

Here's an example of what I can do with Gmail:

![image](https://cloud.githubusercontent.com/assets/3178412/26674493/a182b4b2-46b8-11e7-8af5-9decb6db7aed.png)

And by contrast, Nextcloud:

![image](https://cloud.githubusercontent.com/assets/3178412/26674519/acbbd32c-46b8-11e7-85b3-25c336854007.png)

(No configuration at all)

When a theoretical implementatio

[2017-06-01 15:32] OlivierS1 commented on #1060
Hi Mario,

I am already setup as Beta on Google play store. I just haven't seen 1.5 yet.
Can't wait to test it out, though.

[2017-06-01 16:45] mario commented on #1060
It'll come as soon as we feel it's ready :)

Thanks for the patience! :)

[2017-06-01 23:46] schnappijedi opened #1063 "Cannot use SSLCipherSuite HIGH with Apache"
Using Nextcloud 12 (issue was present in Nextcloud 11 as well) the Android client ( 1.4.3 ) will not connect when using OpenSSL cipher suite HIGH on Apache. MEDIUM or LOW must be specified in order for the Android client to connect. Device used for test is Samsung Galaxy Tab 3.

Can someone test with ciphers in HIGH list on another device to ascertain if it is the device (Samsung Galaxy Tab 3) dev

[2017-06-02 08:16] rexxmagnus opened #1064 "FR: Notification of pending uploads ala dropbox"
Feature request:
Would it be possible to get a notification of pending uploads in the android notification area, similar to the way in which dropbox handles it?
eg. with dropbox, if a file is modified it shows at the top with a notification to say that an upload is pending.

The only reason I suggest this is because when files are changed on android it's not always obvious that anything is going t

[2017-06-02 12:08] rexxmagnus opened #1065 "Will only sync offline file when navigating to folder"
### Actual behaviour
Offline file will not synchronise until you navigate to the folder in the nextcloud app containing that file with the network connected (even if the accounts > nextcloud > files is set to on)

### Expected behaviour
Updated files should synchronise as soon as network connection is established, rather than requiring navigation to the folder.

### Steps to reproduce
1. Mark a fi

[2017-06-02 12:39] jancborchardt commented on #623
@AndyScherzinger @tobiasKaminsky @mario any news here? This is still very disconcerting and confusing for a split second every time you open a folder where you _know_ files are in there and you think they are gone. ;)

[2017-06-02 12:45] mario commented on #623
This is fixed in master.

[2017-06-02 12:45] #623 closed

[2017-06-02 13:23] rexxmagnus commented on #1065
Note, this may be a duplicate of #757

[2017-06-03 10:51] leoauri commented on #21
+1, my number one feature request for nextcloud android client :)

[2017-06-03 16:32] daemonkeeper commented on #802
This is more or less a duplicate of #429 and I can't emphasize enough how important this change is. The inability to choose a folder on a sdcard renders the nextcloud client more or less unusable to me, because the default location is protected by .nomedia as you mentioned. This way I cannot keep my data synchronized _and_ accessible through the Android media scanner API.

I would highly appreciat

[2017-06-03 22:05] OlivierS1 opened #1066 "Uploading pictures with "Google Photos" via share doesn't work."
### Actual behaviour
-Tell us what happens
I just installed "Google Photos" app on my cellphone to debug issues my friend is having.
This new issue targets both Nextcloud 1.4.3 and Nextcloud Dev 20170602, but the Dev version doesn't work at all.

Issue with Nextcloud 1.4.3:

With a few pictures available in "Google Photos", I select a few of them, then click the "Share" logo.
I am given a choice o

[2017-06-03 22:44] Oratorian opened #1067 "Can't connect to Server"
### Actual behaviour
Installed the App, entered my details. When entering my URL cloud.svr33nfun.de it tries to connect. After a few seconds it shows
"Couldn't establish connection"

### Environment data
Android version: 7.0

Device model: Samsung Galaxy S7 edge ( SM-G935F )

Stock or customized system: Stock

Nextcloud app version:1.4.3

Nextcloud server version:12.0.0

[2017-06-03 22:45] Oratorian commented on #1067
My URL is cloud.scr33nfun.de not cloud.svr33nfun.de

[2017-06-03 22:49] jancborchardt commented on #623
Thanks a lot! :)

[2017-06-04 14:30] propyless commented on #287
Hello,

I don't wanna be the bearer of bad news. But this chunking issue still seems to be affecting me on the One Plus 3 with 7.x~ android.

While uploading I see a lot of error logs with this message.
[code]

Running 1.4.3 version of the nextcloud android app.

[2017-06-04 14:35] JSoko commented on #1067
Please have a look in your bruteforce-table and switch off ipV6 on your router if possible...

[2017-06-04 15:13] propyless commented on #833
Same issue for me, One plus 3.

@mario can set up a teamviewer session with you this week if you are available.  CEST timezone.

[2017-06-04 15:14] mario commented on #833
@propyless appreciate the offer. We're working on a redesigned auto upload, so can I catch you about this offer in a few weeks if it's not an issue? We should be the same timezone :)

[2017-06-04 15:18] propyless commented on #833
@mario sure thats no problem. Just remember to ping me :).
Also the issue is not just for auto uploading of files. It fails to upload files selected manually as well..

[2017-06-04 15:32] mario commented on #833
That is a whole other issue...

Nc12? Got logs?
On Sun, 4 Jun 2017 at 17:18, Takeshi <notifications@github.com> wrote:

[2017-06-04 16:06] atd85 opened #1068 "High cellular data usage even when wifi upload only selected"
### Actual behaviour
Very high cellular data usage even when upload via wifi only option is selected and no other file transfers are done over cellular data.  I'm 3 weeks into my billing cycle and Nextcloud has used 1.19GB of data.

### Expected behaviour
Very little or no cellular data should be used if uploads are done over wifi only and no manual transfers are ever done.

### Steps to reproduce

[2017-06-04 18:53] jancborchardt commented on #531
I understand what @jospoortvliet means, I think. Basically, that there is not »Share« and »Send« but only »Share«. And tapping that opens the list of apps/options which are shown when you would tap »Send« – with Nextcloud / »Share via Nextcloud« being the first one. And tapping that would open what right now is visible under »Share«.

I agree this simplifies the flow because it combines two option

[2017-06-04 18:55] jancborchardt commented on #1038
Yeah – while music files are also important, we should focus on images and videos which are a much bigger use-case. :)

[2017-06-04 19:53] propyless commented on #833
@mario https://github.com/nextcloud/android/issues/287#issuecomment-306043457
last comment, error logs from nginx

[2017-06-04 20:13] jancborchardt opened #1069 "Open links to Nextcloud files in the app"
When you get a link to a file it's opened in the browser. When it's a local link or file you have access to on a server you know, it could be opened in the Android app, right?

Much like for example Youtube has a hook to open Youtube links from emails in the Youtube app. The tricky part of course is that the domains are variable since Nextcloud is self-hosted. Is there a way to register the domain

[2017-06-04 20:16] AndyScherzinger commented on #1069
Unfortunately no :(
Link-patterns need to be "hardcoded" into the app's definition at build time (this is what we did for the login-URLs). So if it is a standard http/https URL we can detect its possible relevance for Nextcloud :(

Sorry 😿

[2017-06-04 20:17] jancborchardt commented on #508
The name and icon distinguishes the app properly and very visible in the switcher. Adding other things would change the experience too much from the normal app, which also hinders testing. :/

[2017-06-04 20:17] #508 closed

[2017-06-04 21:29] AndyScherzinger commented on #1068
Oh dear, that shouldn't happen except for two situation I can think of where this might be an issue. Do you:

* upload very large files which might have started uploading while being on a wifi connection and then left the network so the device switched over to cellular?
* have a fresh install on the device and the account on the server has a massive amounts of files and folders?

cc @tobiasKaminsk

[2017-06-04 22:53] jancborchardt commented on #1069
Damn :( that will then be a major drawback. I gjess it's also not possible with wildcards like saying all cloud.*.* domains could work?

Also not possible on iOS @marinofaggiana?

[2017-06-04 22:54] woodscode commented on #1013
Auto upload from my S8+ seems to be missing a lot. I am using the beta version

[2017-06-04 22:57] woodscode commented on #1013
Version 1.4.3
Server running via cloudron on NC 12
Stock Rom

I would feel better if the app checked to ensure the folder selected for auto upload was current with the server. If there is something missing it should upload it automatically.

[2017-06-05 00:36] atd85 commented on #1068
If I drop wifi connectivity while uploading, the transfer errors and it never resumes, even when reconnected to wifi.  It's one of a few bugs with the auto upload that many have reported (including myself), so I don't think thats an issue.  Even if I uploaded every picture/video I take with my phone over cellular data, I'm not sure if it would be much over a gigabyte in the ~3 week time frame.

I'

[2017-06-05 02:59] OlivierS1 commented on #1066
With Nextcloud Dev, I was able to upload about 2 or 3 pictures after uninstalling my other accounts on the app.
Doing more testing on Samsung Note 5, I was able to uploads about 5 files.

[2017-06-05 03:47] mario commented on #1069
This is actually possible but needs to be done on the server side first. If user-agent is ours, just rewrite all links inside NC instance to point to something like nc://serverpath/filepath and we can do it :P

[2017-06-05 10:25] jospoortvliet commented on #531
@jancborchardt you're exactly right.

[2017-06-05 10:29] e-alfred opened #1070 "Selecting "Automatic Uploads" crashes app instantly"
### Actual behaviour
If I click on "Automatic Uploads" the app crashes instantly.

### Expected behaviour
"Automatic Uploads" pane should show up.

### Steps to reproduce
1. Install Nextcloud Android App  stable 1.4.3 or dev 20170602 and set up a Nextcloud server in it.
2. Try opening up "Automatic uploads" where the app crashes immediately

### Environment data
Android version: 6.0.1

Device mode

[2017-06-05 15:36] MorrisJobke commented on #1054
@tobiasKaminsky @AndyScherzinger any news on this?

[2017-06-05 15:37] MorrisJobke commented on #1054
cc @oparoz @mario

[2017-06-05 19:40] AndyScherzinger commented on #1069
@mario how can this be achieved? :)

[2017-06-05 19:41] AndyScherzinger commented on #1069
Ah well, yeah, custom protocol work and are already in place, but that wouldn't be a classic http/https hyperlink...

[2017-06-05 19:57] AndyScherzinger commented on #1054
@MorrisJobke afaik still an open issue, I am not aware that anyone had a look into it and created a patch yet. Correct me if I am wrong @mario.

[2017-06-05 19:59] AndyScherzinger commented on #531
Imho we need to then go for the same wording as used by iOS since the two menu items do different OS calls (one asking for applications to which a file can be shared, e.g. messenger apps and one OS call asking for applications that can open/edit the file+type)

[2017-06-05 20:01] AndyScherzinger commented on #1070
@e-alfred can you provide a logcat of the crash or send a crash report (in case the 1.4.3 is installed via Google Play with a comment hinting at the github issue)? Just asking since this is the very first report/occurrence of this issue and all versions are working fine at least on my device and emulators.

[2017-06-05 20:03] AndyScherzinger commented on #1066
We need to investigate this one @mario @tobiasKaminsky. I don't know if there is a OS based limit on the amount of files (which would then be strange if Google let's you select 200 files to share though)

[2017-06-05 20:07] AndyScherzinger commented on #1068
@atd85 do you see any (strange) behavior in the server log files which would hint to the Android client accessing the server in a massive way?

@mario @tobiasKaminsky do you have an idea about why this might happen or what might be happening?

[2017-06-05 20:08] mario commented on #1069
@AndyScherzinger sure, but why does it has to be? The general idea is to get this feature. This is how it can be done. Server:

- detect mobile browser
- rewrite links
- done

[2017-06-05 20:10] AndyScherzinger commented on #1013
@woodscode this is on our agenda, see #285 increment 5 - but might still be some time until we get there :/

[2017-06-05 20:28] AndyScherzinger commented on #1069
@mario that depends on the source, from what I understood:

that would mean it is either a Nc generated mail which would then need to put in a "web-URL" and an "app-URL". Then of course it could work. Furthermore if you would browse the webUI with your mobile device we can't detect if the app is installed so if it is not installed the user would still need to get http/https links to be able to nav

[2017-06-05 20:46] OlivierS1 commented on #1066
@AndyScherzinger The limit is imposed on "Google Photos" side. Files over 200 need to use the link, but then it is limited to 2000.
The reason I selected the maximum available number of pictures to upload is to investigate the behavior over a certain amount of files and over time in order to search for a pattern.
What I found, is that I was having the same problem if instead of sharing via Nextclo

[2017-06-06 03:58] mario commented on #1054
I'll look into this today if I can fix all other things that need to be done today...

[2017-06-06 04:02] MorrisJobke commented on #1054
This is already fixed by @aleister09 😉

[2017-06-06 04:02] MorrisJobke commented on #1054
Only the PR against our repo is missing.

[2017-06-06 04:06] mario commented on #1054
Ah, ok, I'll wait for it and review it then! ;)

[2017-06-06 06:08] jeffsf commented on #751
@mario I would definitely like to know what problems you've found with app permissions to be the root cause of this. I have been experiencing problems with _pwsafe_ not being able to open files except in read-only mode. The program needs to be able to read, write, and create files (backups) in the directory in which the data file exists.

If it is a problem with the app, being able to guide the de

[2017-06-06 07:37] hechi commented on #297
Hey @tobiasKaminsky logs are now working :+1: if the problem appears again i will report it back with more logs :)

[2017-06-06 08:34] kangaroo72 commented on #751
That's what I wonder ... I'm still not satisfied in this direction. I don't use it often, so I can live with it. But in my eyes it's not (only) an 3rd-party problem. But I'm sorry - I'm only (advanced-)user.
-Tom-

[2017-06-06 09:41] e-alfred commented on #1070
I sent the logs with the Google Play version and attached this Github issue number.

[2017-06-06 09:47] jancborchardt commented on #1069
Aaah I think I understand what @mario means. The web app knows if it's an instance you have access to and could offer an »Open in app« link. :)

[2017-06-06 10:18] AndyScherzinger commented on #1069
@jancborchardt that would work of course :+1:

[2017-06-06 11:25] CroneKorkN commented on #780
Autoupload drains my battery, too. Stock 7.0 on Galaxy S6.

[2017-06-06 11:36] yamajo commented on #751
I finally found a text editor that can open and write files: QuickEdit Pro.
Also it works with Keepass2Android.

[2017-06-06 11:55] Oratorian commented on #1067
It doesn't seem to be Brutforce. I deactivated IPV6 and it worked. Will there be a fix? Cause all my servers run on IPV6.

[2017-06-06 12:38] tiggerfan commented on #751
i'm not a android developer but as a linux admin i do know something about file permissions. i also know how to do research into issues and look for possible resolutions.  Android seems to limit apps to use only their data.  so netcloud client has no problem access the files it has copied locally.  The issue seems to be when another app wants to access files that are "owned" by netcloud.  This see

[2017-06-06 12:43] AndyScherzinger commented on #1067
@Oratorian not in the very near future since the used OSS library implementing the webDAV communication doesn't support IPv6

[2017-06-06 13:32] jeffsf commented on #751
It's not just file permissions, but also SELinux security contexts. To the benefit of app developers, it isn't a wildly unreasonable assumption that your "working directory" is something that you have rwx privileges for, not some other user/app. That's the working assumption for just about every `nix program out there that accesses the file system, be it physical storage or device access.

The "fi

[2017-06-06 13:36] mario commented on #751
There is something called "FLAG_GRANT_WRITE_URI_PERMISSION" through which you give third-party apps temporary access to your files. We use that (just like every other sane app), and it works for some applications, while (as of recently) it stopped working for some others.

We are looking into all issues, and have looked into this one as well. All debugging efforts hit a brick wall, and all help is

[2017-06-06 15:25] AndyScherzinger commented on #1059
retested and it works, so closing (not sure why it didn't at some point when I tested it before ?!)

[2017-06-06 15:25] #1059 closed

[2017-06-06 16:23] jeffsf commented on #751
I examined the source for passwdsafe app and found that it was looking for .isWritable() which should return "true"

The version I was running off FDroid was very outdated. Current Play store version works as expected, allowing write, at least of the primary file (the one in the context passed from NextCloud to the "opener" app). At least in this case, the problem was with the app itself.

I haven

[2017-06-06 17:48] mario commented on #751
@jeffsf ;)

[2017-06-06 19:57] khartahk commented on #453
Does anybody know if this will be added? Is it that hard to add an option to allow manual selection of where the storage folder should be? This would help quite a bit. As right now the only way this works as expected is if I install the old version where the data folder was nextcloud and then upgrade to the new version and don't select the folder in the settings. I'm not an android developer but i

[2017-06-06 20:30] #964 closed

[2017-06-06 20:31] #963 closed

[2017-06-06 20:41] AndyScherzinger commented on #910
I created a branch, so fix this collaboratively

[2017-06-06 20:41] AndyScherzinger commented on #910
https://github.com/nextcloud/android/tree/910_dialogRotation

[2017-06-06 21:18] kosli commented on #453
+1

[2017-06-06 23:43] tiggerfan commented on #751
this issue is marked as closed, i think it should be reopened since this is still being investigated.

[2017-06-07 02:31] mario commented on #751
I still think this is an issue with 3rd party apps. If you find it otherwise, I'm happy to re-open.

[2017-06-07 04:52] jeffsf commented on #751
The version from FDroid is identified as 5.2.0 by Titanium Backup and FDroid shows "Added on 2/11/15"

The version from Play is identified as 6.8.1 by Titanium Backup.

I don't immediately see a difference between the two in the code that determines the UI reflecting the ability to edit the target file. Both call `uri.isWritable()` in similar ways (though class and variable names have changed).

I

[2017-06-07 05:04] mario commented on #751
Yes, I was just checking that.

If the app that tries to open the file from NC has a lower build/target sdk
it will open them read only.

Thanks for the testing!

On Wed, 7 Jun 2017 at 06:53, Jeff Kletsky <notifications@github.com> wrote:

[2017-06-07 06:49] #1054 closed

[2017-06-07 06:54] #1040 closed

[2017-06-07 07:39] AndyScherzinger commented on #1060
Since imho all questions have been answered I'll close the issue. Feel free to further discuss :)

[2017-06-07 07:39] #1060 closed

[2017-06-07 07:39] AndyScherzinger commented on #1067
Closed since IPv6 is a known issue

[2017-06-07 10:49] Krautmaster commented on #1028
I face the same issue. In bowser https is fine, as well as my setup. My Andorid app tells me "SSL Init failed"

Ideas?

root@nextcloud:/var/www/nextcloud# sudo -u www-data php ./occ config:list system
{
    "system": {
        "passwordsalt": "***REMOVED SENSITIVE VALUE***",
        "secret": "***REMOVED SENSITIVE VALUE***",
        "trusted_domains": [
            "localhost",
            "192.16

[2017-06-07 13:34] GnaXi commented on #1028
You should probably create a new issue, as the error message isn't the same, this issue was resolved and closed a while ago.

[2017-06-07 16:17] AndyScherzinger commented on #1028
The cipher issue is covered in the issue #228

[2017-06-07 20:59] AndyScherzinger commented on #962
@mario @tobiasKaminsky is this still an issue?

[2017-06-08 02:14] mario commented on #962
I fixed this already

On Wed, 7 Jun 2017 at 22:59, Andy Scherzinger <notifications@github.com>
wrote:

[2017-06-08 02:30] #962 closed

[2017-06-08 06:33] jospoortvliet commented on #531
@AndyScherzinger makes sense. Then at least it is really 'share' and 'open in', right now it is confusing...

[2017-06-08 19:53] OlivierS1 opened #1074 "Scrolling through "Activities" crashes app."
### Actual behaviour
-Tell us what happens
Selecting "Activities", the page will be refreshed with the list of recent activities.
When I try to scroll toward the bottom of the list, the application will display the following error message before it quits:

"Unfortunately, Nextcloud dev has stopped"

### Expected behaviour
-Tell us what should happen
No crash.

### Steps to reproduce
1. Select "Act

[2017-06-08 23:33] atd85 commented on #1068
I don't see anything obvious, but maybe I'm missing it.  What specifically should I be looking for?

[2017-06-09 08:33] AndyScherzinger commented on #1074
Hi @OlivierS1 do you see any StackTraces in the log file of the app?

[2017-06-09 08:59] AndyScherzinger commented on #1061
@OlivierS1 is the issue still present for you?

[2017-06-09 12:41] sf-janz commented on #1063
I'm using the following Protocols and Ciphersuites with the Android App 1.4.3 on LineageOS
[code]
with no issues. Will test the HIGH-Alias

[2017-06-09 12:50] sf-janz commented on #1063
@schnappijedi I can't reproduce this on my OnePlus One (LineageOS 14.1-20170529).
Here's the Apache site configuration I used: https://gist.github.com/sf-janz/ea55d1b31808b38533276a95032061fa

[2017-06-09 12:55] Slevin90 opened #1075 "Android App: Auto upload Video, missing leading slash in subfolders year+month"
Steps to reproduce

In Android App for Nextlcloud, under settings, activate direct Upload for Video + usage of Subfolders based on Year/month
Same upload folder (incl use for subfolders based on year+month) for Fotos
Expected behaviour

Tell us what should happen
in folder /Uploads you should see subfolders per Year and month
Both Video and Foto are in the same folder if they are uploaded in the s

[2017-06-09 13:14] mario commented on #1075
Instant upload disappears with 1.5 (next stable), so this is considered fixed.

[2017-06-09 14:45] jancborchardt commented on #678
Great point @eppfel :) Also I agree that since account switching is so straightforward in our app, things should be separated.

[2017-06-09 15:34] OlivierS1 commented on #1074
@AndyScherzinger , if you want to search for the word "StackTraces" in the logs, then, no. I have not found any instances of it.
As far what I see in the log, nothing obvious indicating this is Nextcloud server related.
I just suspect some memory leaks or pointer issue in the scrolling of the app page.
Also, when updating the app (now running dev 20170609), the "Activities" page remain blank. The

[2017-06-09 15:48] OlivierS1 commented on #1061
@AndyScherzinger , As I have upgraded to NC12, I do not have this issue anymore. However, it does take some time to update its content. I think the "Loading" arrow keeps on running until the content id finally loaded.
This behavior makes me think whether the operation is still in progress or the app as actually crashed. It is disconcerting.
I think the info should be logged so it can be used offli

[2017-06-09 16:30] WebSpider commented on #761
Same issue with me, Android 7.1.1, OnePlus 3, let me know what you need to debug, i got time for screensharing session as well

[2017-06-09 17:35] mario commented on #1061
@OlivierS1 this is how it'll work in 1.6, but not for 1.5 - sorry. Just not enough time in a day :(

[2017-06-09 17:35] #1061 closed

[2017-06-09 18:39] AndyScherzinger commented on #1074
@mario any idea, seems to be related to the Json processing

@OlivierS1 the "exception" lines are what we call a stack trace in Java :) So what you posted is what I was hoping for :+1:

[2017-06-09 21:43] strenker commented on #979
Hi,
the Nextcloud App (1.4.3) for Android is really good overall. Much better than the Owncloud App I used before I migrated from Owncloud Server to Nextcloud Server. Many thanks! But this bug is really annoying. Each reboot of my Android phone causes a reload of all my automatically uploaded images (>1000).
Kind regards, Stefan

[2017-06-10 01:56] OlivierS1 commented on #1061
@mario , how so, aren't you working on Centaurian time, standard thirty-seven hour day?

[2017-06-10 02:10] OlivierS1 opened #1076 "Sending log issue"
### Actual behaviour
-Tell us what happens
Under Nextcloud Dev 20160609, after requesting the log to be sent and pressing the "Upload" button, upon returning to the log page and pressing the "elete history", if the app is still in the process of seting up transfer, then the content of the log will be cleared.

### Expected behaviour
-Tell us what should happen
I think there should be a mechanism t

[2017-06-10 02:24] OlivierS1 commented on #1047
@AndyScherzinger , The issue has reoccurred.
I am running Nextcloud Dev 20170609.
I don't know what caused it and if it is caused by any of the updates.

[2017-06-10 05:10] mario commented on #979
I know. Sorry about that - very annoying platform bug that we need to
workaround :(

I'll fix it for 1.5.

On Fri, Jun 9, 2017 at 11:43 PM, strenker <notifications@github.com> wrote:

[2017-06-10 05:17] mario commented on #1061
I am. But still not enough.

[2017-06-10 14:20] jancborchardt opened #1077 "Strange animations when switching sections"
When switching sections like Notifications, Activity, Files etc, the main content slides in from down including the header – it doesn’t really make a lot of sense. :)

Let’s have no animation there, just directly change the main content when tapping a different navigation entry.

[2017-06-10 14:22] jancborchardt opened #1078 "Empty content screen icon colors"
The empty content screen icons are partly a bit off, for example the icon for favorites as well as uploads is blue, which both looks a bit strange.

- Every empty content icon should be 50% grey
- Except favorites which should be the yellow star
- And Folders/files which should be Nextcloud blue

Just like on the server. :)

[2017-06-10 14:28] jancborchardt opened #1079 "Quicker and more pleasant picture download/view flow"
Opening an image, every time it shows the Loading view + bar, then flashes to this:
![screenshot_2017-06-10-16-14-19](https://user-images.githubusercontent.com/925062/27003567-87eb4940-4df9-11e7-8d37-2665ed6e4d40.png)
And only then shows the actual image.

Instead for a much smoother flow:
1. As the downloading view, show the thumbnail (which is already there) in big, and a loading spinner overlay

[2017-06-10 14:29] jancborchardt opened #1080 "»Nextcloud is running« extra notification"
Every time I upload files, I get this notification:
![img_20170610_162503](https://user-images.githubusercontent.com/925062/27003590-f06da92c-4df9-11e7-8e79-39c6eee9e6b1.jpg)

Can we remove that notification? It’s an additional one which is not really needed, plus the icon is not properly shown.

[2017-06-10 16:25] mario commented on #1080
Sorry, but this is not a bug. We have to show that here if we want to have any chance of guarantee that the upload will finish.

There's a way around it of course (using jobs for uploads, instead of a service), but it'll be many moons before this is done.

[2017-06-10 16:26] mario commented on #1077
This is significantly more than a starter issue. Initially, there were no "animations" as you called them, but the implementation had a few bugs.

Following that, @tobiasKaminsky wrote the current implementation that requires "animation" as you call it :)

So this requires quite a lot work to "fix" and a deep understanding of how the app works.

[2017-06-10 16:26] #1075 closed

[2017-06-10 17:13] jancborchardt commented on #1080
Ah ok. Can we then make the notification nicer? Like use the actual Nextcloud icon in place of the square, maybe even with blue background color?

Also, is it possible to set a more descriptive title like »Nextcloud is transferring data" for example?

_Sent from my Motorola XT1039 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-10 17:15] mario commented on #1080
We *might* be able to set the notification icon - it should already be there, dunno why it's not working.

Unfortunately, we cannot change the title.

[2017-06-10 17:23] jancborchardt commented on #1080
I'm guessing it uses the app icon monochrome version - which in mlst cases is a rounded square. ;) Should be juat the white logo, would be cool if you can check.

[2017-06-10 17:26] jancborchardt commented on #626
Any update here @AndyScherzinger @mario @tobiasKaminsky? Would really be cool to have better integration here. :)

[2017-06-10 17:27] jancborchardt commented on #400
If "last used folder" means "folder where you currently are" as @strugee and @andyscherzinger said I agree. :) Because that gives the best context.

[2017-06-10 17:29] mario commented on #400
Sure, but 1.6 please - this is far too complicated (because we have other things to do) for 1.5.

[2017-06-10 17:29] jancborchardt commented on #655
Totally agree. We should have the wording consistent, and it is "Delete" on the server too.

Can we make sure it is "Delete" everywhere? Also cc @marinofaggiana for the iOS app.

[2017-06-10 21:48] jancborchardt commented on #405
I think naming the folders automatically makes sense. And with the new Autoupload this issue is a bit outdated, no?

[2017-06-10 21:51] jancborchardt commented on #490
Yeah … videos should ideally not have a name either, it's mostly as useless as the names of photos.

Only a "video" icon on them (check how Instagram does it, you can use the video.svg icon from the server), and ideally an animated preview of 3 or 5 frames of different sections of the video.

[2017-06-10 21:55] jancborchardt commented on #619
Agree with everything @eppfel said. Additionally of course sharing and all the actions should - as said many times before ;) be reachable through a 3-dot menu on the right of each entry, just like in the mobile view of the web interface.

Long-press select is for multiselect and only that. :) If we abolish that for this single-file workflow, this problem is also solved.

[2017-06-10 21:59] jancborchardt commented on #177
Good call! So the previously mentioned logic should be used, preferring the generation of previews for recently modified files. :)

[2017-06-11 09:26] j-ed commented on #994
Today I've installed the latest Nextcloud desktop sync to investigate if the described behavior is a general one or a Nextcloud Android app specific one. Against my expectation I was able to synchronize all folders to my desktop without any problem which are not shown in the Android app.

[2017-06-11 12:16] AndyScherzinger commented on #1078
That is how it has been implemented actually but the theming PR by @tobiasKaminsky changed the coloring. Since no colors all empty content icons on the fly using the primary color...

[2017-06-11 12:27] mario commented on #1078
Maybe it shouldn't do that? :)

On Sun, Jun 11, 2017 at 2:16 PM, Andy Scherzinger <notifications@github.com>
wrote:

[2017-06-11 12:54] AndyScherzinger commented on #1078
It should do it for the light blue icons only.

[2017-06-11 13:12] mario commented on #1078
Yup
On Sun, 11 Jun 2017 at 14:54, Andy Scherzinger <notifications@github.com>
wrote:

[2017-06-11 15:27] jancborchardt opened #1081 "Screenshots/release notes for Fdroid & Google Play"
F-Droid has a new release upcoming with a design overhaul: https://f-droid.org/posts/a-new-ux-6-years-in-the-making/

They allow adding screenshots and a teaser image, all info at https://eighthave.gitlab.io/fdroid-website/docs/All_About_Descriptions_Graphics_and_Screenshots/

We should add our usual screenshots. As teaser/background image we can use our standard background: https://github.com/nex

[2017-06-11 22:02] llucax opened #1082 "Music files downloaded via Nextcloud app are not show in music players"
### Actual behaviour
Music files downloaded from the Nextcloud app are not show in the Android media library (not detected by any music player)

### Expected behaviour
When downloding files with owncloud that contains music, they should appear in the Android media library and be playable by any music player.

### Steps to reproduce
1. Download a music file (mp3 for example)
2. Go to the music app

[2017-06-11 22:03] llucax commented on #1082
BTW, I switched Nextcloud to store files in the external SD card. Maybe that's relevant too.

Previously to use the Nextcloud app, I copied the same audio files to the same SD and never had any issues with songs not showing in media players, only when I removed all the files and did a sync via Nextcloud, the files stopped showing in music players.

[2017-06-12 03:20] eqyiel commented on #342
This is happening to me too, AFAICT these are the relevant lines from logcat:

[code]

[2017-06-12 07:12] tomasulo commented on #833
Same issue on Galaxy S6 Edge with Android 7.

[2017-06-12 09:17] tobiasKaminsky commented on #1045
Can you try demo.nextcloud.com to see if it is working with another server?

[2017-06-12 09:43] tobiasKaminsky commented on #1051
@icewind1991 maybe you as our server master can help us here?

[2017-06-12 10:01] tobiasKaminsky commented on #1062
Showing only those folders that (even in subfolders) contain a downloaded file should be rather easy:
- open up the file path on the device and compare all sever-side folder entries with the local existing ones
 - if a folder exists locally display it as it has a content (even if it only a subfolder with content)
 - otherwise hide the entry
- show all downloaded files

[2017-06-12 10:02] mario commented on #1062
"On device" menu entry will be completely eliminated in the upcoming version, so closing this.

[2017-06-12 10:02] #1062 closed

[2017-06-12 10:26] juliushaertl commented on #232
duplicate of https://github.com/nextcloud/android/issues/556

[2017-06-12 10:26] #232 closed

[2017-06-12 11:23] AndyScherzinger commented on #1081
Probably something for you @tobiasKaminsky since you are handling all things f-droid usually?

I can cover anything media related 👍

[2017-06-12 13:12] AndyScherzinger commented on #405
exactly, 1.5 or 1.5+ rather will render this issue more or less obsolete. While we will still have auto naming in place, which is what we decided on after several discussions. ...and yes that is a trade off for comfort/90%-usecase over flexibility ;)

[2017-06-12 13:15] AndyScherzinger commented on #400
@mario no worries, except for the fixes and the auto upload rewrite/fix 1.5 is basically feature frozen

[2017-06-12 13:16] AndyScherzinger commented on #626
No yet, nobody started working on this, simply a capacity matter that will prevent any work on this topic.

[2017-06-12 13:17] mario commented on #626
Also we now have contacts backup that is tightly integrated into the app.

On Mon, Jun 12, 2017 at 3:16 PM, Andy Scherzinger <notifications@github.com>
wrote:

[2017-06-12 14:38] jancborchardt commented on #1078
Yeah, empty content icons / grey icons should not be touched. :) Except the folder which is blue of course.

[2017-06-12 15:58] OlivierS1 commented on #1055
@tobiasKaminsky , Fair enough.
However, is there no way at all the configuration file if it exist can be accessed with phone file manager/explorer in order to save in another folder then uninstall the app and restore the configuration file after app has been reinstalled?

[2017-06-12 16:14] sheyll commented on #1045
I have the same problem...

[2017-06-12 18:19] duckulaj commented on #1045
Worked fine. Demo image and one I uploaded.

Not able to recreate problem reliably, but still exists.

Next time it happens I will try to track down any debug information.

[2017-06-12 20:45] schnappijedi commented on #1063
Thanks.

It is almost certainly the device (Samsung Galaxy Tab 3) that is requiring use of a "medium" OpenSSL cipher.

[2017-06-12 20:45] #1063 closed

[2017-06-12 21:30] AndyScherzinger commented on #1078
@mario @tobiasKaminsky please see #1083

[2017-06-12 21:32] AndyScherzinger opened #1084 "empty folder - create folder empty message missing"
on master - create an empty folder and open it:

- loading icon keeps being shown instead of showing the empty message + icon

![device-2017-06-12-233146](https://user-images.githubusercontent.com/1315170/27056188-647e8498-4fc7-11e7-8d70-f7e94247378e.png)

[2017-06-12 21:35] AndyScherzinger opened #1085 "share with Nextcloud app - empty folder doesn't show the no empty message for create folder"
on master - share a file with Nextcloud and navigate to an empty folder:

- shows empty screen while it should show the empty message "create folder/upload" + create folder icon

![device-2017-06-12-233432](https://user-images.githubusercontent.com/1315170/27056281-c19b0dcc-4fc7-11e7-8cf4-ee6741f9f506.png)

[2017-06-12 21:58] j-ed commented on #1045
@duckulaj / @sheyll Where are the images stored on a local file system or on an external share?

[2017-06-12 23:34] OlivierS1 commented on #1045
Just a thought here:
- Trying to download an image when Wifi connection is diabled will cause the dark Warning triangle to appear with "Download failed" message.

Could this be a case when images have been corrupted during download?
Is it possible the cache is conflicting with the downloaded files causing the phone to load the wrong player?

[2017-06-13 00:52] sheyll commented on #1045
@j-ed The images are stored on the builtin flash drive AND on the external SD card that I added. I get a grey triangle and the message "Dieses Bild kann nicht angezeigt werden".

But hey, count me out. I will not invest more energy into diagnosing the problem until I have settled on nextcloud. I will try to find better alternatives first, because
until now nextcloud did not leave the best impressi

[2017-06-13 00:59] sheyll commented on #1068
I have had issues with data usage, too.

[2017-06-13 04:26] mario commented on #1084
This I know. Assigning it to myself.

[2017-06-13 04:28] mario commented on #1085
Create folder icon? Do we have that? o.O can you show me how it usually looks when it works? (Maybe by checking out 1.4.3 and screenshot?)

[2017-06-13 05:39] tobiasKaminsky opened #1086 "Add contacts popover to other apps"
Opened by @jancborchardt at https://github.com/nextcloud/server/issues/4532

Detailed description and (maybe) mockup is needed

[2017-06-13 05:40] duckulaj commented on #1045
My files are stored on external USB drive.

[2017-06-13 06:04] AndyScherzinger commented on #1085
Hmmm, doesn't work in 1.4.3 either, while this is the method that seems to not get called anymore

https://github.com/nextcloud/android/blob/master/src/main/java/com/owncloud/android/ui/activity/FolderPickerActivity.java#L174

Icon is ```ic_list_empty_create_folder```

cc also @tobiasKaminsky

[2017-06-13 06:11] AndyScherzinger commented on #1085
@mario @tobiasKaminsky see here:
https://github.com/nextcloud/android/pull/449#issuecomment-266788320

[2017-06-13 06:23] AndyScherzinger commented on #222
I agree on the capacity issue we have right now as in "not enough time/people to also tackle this", else I think it is a valid enhancement which might also come into play for "available offline" by simply having an upload and download queue where the client makes sure up/downloads happen over time when connection losses or whatever happens.
It is not a really visible feature in the end but will im

[2017-06-13 06:30] AndyScherzinger commented on #1086
👍 and which actions need to be made available in the popover in which context...

[2017-06-13 11:44] tobiasKaminsky commented on #1055
I heard that titanum backup can do something like that.
But the account for instance is saved in the android account manager and this is removed when uninstalling the app.

[2017-06-13 11:47] tobiasKaminsky commented on #880
To get this done, how shall we handle multiple accounts?
In auto upload this is done "invisible", e.g. when you enable a folder the current active account will be used for every upload, no matter what account you are currently using.
I want to do the same for this? The enabled/disabled state will be reflected to the current account:
- enable on account a
- switch to account b: turned off

[2017-06-13 11:56] AndyScherzinger commented on #880
If done the same way, it would still have to work even when you switch to account b, while still uploading to account a simply because when activated it is tied to the account that is has been active during the time of activation and will stay active until deactivated, so account switching shouldn't have any effect.

[2017-06-13 12:49] tobiasKaminsky commented on #880
Correct :+1: Just the same as in auto upload, right? :-)

[2017-06-13 13:10] AndyScherzinger commented on #880
exactly 👍

[2017-06-13 14:55] jancborchardt commented on #1086
For a mockup, basically look at the mobile web interface of the server. :) It should be a list of contacts, with a search box, and relevant actions like mailing, calling (especially useful on smartphones) etc.

[2017-06-13 14:58] jancborchardt opened #1088 ""Storage path" setting is too technical"
Right now the storage path has values like "/data/emulated/0" which is suuper technical.

Instead the choice should be for "Data storage" and the choices could be "Internal storage", "SD card" and if there are multiple cards also "SD card 2" etc, each saying how much free space there is on them.

[2017-06-13 15:48] j-ed commented on #994
Another update: Today I've tested to access my Nextcloud files with the latest ownCloud iOS v3.6.2 app. The app worked like a charm and all available files and folders were displayed without any problems.

[2017-06-14 05:54] tobiasKaminsky commented on #1088
:+1:

[2017-06-14 07:20] tobiasKaminsky commented on #1086
Action can be:
- phone number: dial directly
- address: open in maps
- email: compose email
- twitter: open in twitter app or in browser

But where do I see those contacts? In WebUI it is easy as you can see the sharee in the side menu, but in android this is done already as a popup.

[2017-06-14 09:06] jancborchardt commented on #1086
Yeah, any place where users are shown. Is it a problem that the share menu is already a popup? Couldn't a click of their name/avatar open a menu popover like on the server?

[2017-06-14 09:09] sf-janz commented on #1082
Is there, by chance, a ``.nomedia`` file in the path hierarchy?

[2017-06-14 09:11] AndyScherzinger commented on #1086
Popovers could be implemented, though that'll be some work and we would be stacking quite some UI elements then. The search within a popover seems a bit unorthodox since I can't recall any Android app using popovers for functionality but rather to display information (while a click action should be fine) and not containing any UI elements with which you can "interact" (except for the click of cour

[2017-06-14 09:12] AndyScherzinger commented on #1088
👍

[2017-06-14 09:13] jancborchardt commented on #1086
Then maybe we should move away from the popover for sharing? Maybe even model it more like the web app with a sidebar sliding in from the right?

[2017-06-14 09:17] AndyScherzinger commented on #1086
We should move away from the popover for sharing, definitely! It is actually an activity (full screen UI) which uses a special theme/style to make it look like a popup. A sliding sidebar from the right also would be non-Android style. Like I said I need to think about it a little more. In case we move away from the popup theming it'll get better UI element stacking wise and the contacts popover co

[2017-06-14 12:32] tobiasKaminsky commented on #1079
The spinner wheel is only shown while the image is scaled down to fit on the screen, it is independent of downloading.
Try it with a much smaller image or with a faster device and you will notice a shorter/ none loading spinner.

[2017-06-14 12:58] leandro-lucarella-sociomantic commented on #1082
I checked for that, but I double-checked and yes, I found one in `SD/Android/data` and this is where the nextcloud app put their files. I think removing that `.nomedia` will be troublesome, as it will affect all other android apps. Is there a way to mark the nextcloud directory as `.yesmedia` or something? This is not normally something the user should be messing with.

[2017-06-14 13:12] tobiasKaminsky commented on #1081
There are two ways:
- put it directly in fdroid repo
- put it in our repo

which one do we want to do?

[2017-06-14 13:15] AndyScherzinger commented on #1081
I'd say our repo 🎫

[2017-06-14 13:16] sf-janz commented on #1082
Then I believe your issue is a duplicate of #429
There's a comment from @AndyScherzinger stating:

https://github.com/nextcloud/android/issues/429#issuecomment-283983452

As for a workaround:
You could try MediaMonkey for Android, you can specify certain folders to be scanned there.

[2017-06-14 13:23] leandro-lucarella-sociomantic commented on #1082
Yes, it looks like a duplicate. Thanks.

[2017-06-14 13:26] leandro-lucarella-sociomantic commented on #1082
Yeah, VLC too, any media player that can access files through the filesystem directly work, but it's not the ideal.

[2017-06-14 14:13] jancborchardt commented on #1081
Yup, our repo cause then we have the sources centrally. :)

[2017-06-14 15:04] tobiasKaminsky commented on #490
We have this already. If the server supports video preview we have an image with a "play" icon on it.

[2017-06-14 15:10] phatair opened #1089 "Sharing with "password rule" enabled is not working"
### Actual behaviour
if you enter a password for a link share and this password is too short, you will be redirected to the login windows and a message appears "a error appears during the sharing of a folder or file".

### Expected behaviour
if you enter a password for a link share and this password is too short, e message should notify you about this.

### Steps to reproduce
1. enforce password p

[2017-06-14 15:15] AndyScherzinger commented on #1081
excatly my reason behind voring our repo :)

[2017-06-14 16:12] p5n opened #1090 "IncompatibleClassChangeError on android 4.0.4"
### Actual behaviour
Nextcloud app crashes after some time without any user action. I've googled and found this solution:

https://stackoverflow.com/questions/10797551/incompatibleclasschangeerror-interface-not-implemented

They say that you need to add android-support-v4.jar to libs. I did not test it yet because of it need application build from sources as I understand

Previous version (1.4.1 f

[2017-06-14 19:56] #1078 closed

[2017-06-14 22:06] MorrisJobke opened #1091 "Hide "notifications" menu entry if no notification is available"
* just like we do in the web UI
* otherwise users are confused what this is for if there is nothing in that panel

cc @mario @tobiasKaminsky @AndyScherzinger @przybylski @nextcloud/designers @aleister09 @imjarp

[2017-06-15 04:12] mario commented on #1090
Thanks for your report. This will be fixed in the follow-up stable release.

[2017-06-15 04:14] mario commented on #1091
This makes no sense to me.

a) We'd have to check if there are notifications on every activity start, which makes it a pain (BW issues)
b) Notifications entry will completely disappear in 1.6

[2017-06-15 04:14] #1091 closed

[2017-06-15 04:57] AndyScherzinger commented on #1091
I agree with @mario. :+1:

[2017-06-15 05:21] contribguy opened #1092 "Notification when upload finished"
Hi!

This issue is rather a suggestion of extending functionality of the app than it's an issue. The suggestion applies also to the iOS project.

### Actual behaviour
After I have selected say 15 photos for upload via the share-button in the android gallery app and upload finished, it will finish without notification.

### Suggestion
I would like to get a notification telling me something like "Fi

[2017-06-15 05:24] contribguy commented on #1092
Nextcloud/ios#273

[2017-06-15 10:04] jancborchardt commented on #1091
Yeah, we should add an indicator though if there are unseen notifications.

[2017-06-15 10:04] jancborchardt commented on #1078
Thanks! :)

[2017-06-15 10:06] jancborchardt commented on #490
So on Nextcloud 11+ (or which version) this issue does not occur? Cause I just saw the issue was reported with 8.2 which is pretty outdated.

[2017-06-15 10:15] AndyScherzinger commented on #1078
Always a pleasure :D

[2017-06-15 10:27] mario commented on #1091
Same issue. We'd have to pool on every screen open, and we don't currently track if you've seen (or haven't seen) the notification.

That's why we have push :D

[2017-06-15 17:35] AugustinVoiMa commented on #1089
Hi
I'm new on this project.

In `om.owncloud.android.ui.activity.FileActivity` on call of `onRemoteOperationFinish(...)`:
If I'm not wrong, it comes from a confusion (we have `result.getCode() == ResultCode.UNAUTHORIZED`) which shall means in this case that the password is wrong.
then calling `requestCredentialsUpdate(...)` forces to ask for new creditentials to the user and the auth view appears.

[2017-06-15 19:11] mario commented on #1089
@AugustinVoiMa feel free to try :)

[2017-06-15 19:26] mario commented on #1089
@AugustinVoiMa, for now, feel free to fork the project, and target master with your branch - later on, I can give you access to our repository to create branches.

[2017-06-16 01:27] jancborchardt commented on #1079
Ok, then I'll adjust point 1 ;)

The key is that it needs to be one smooth flow. Tap the image in the list -> get to see it. :)

[2017-06-16 06:49] tobiasKaminsky commented on #1089
Cool @AugustinVoiMa that you want to help us.
If you have any questions just ping us.

[2017-06-16 06:51] tobiasKaminsky commented on #490
It depends if the server supports video previews as we rely on their preview API.

[2017-06-16 09:15] jancborchardt commented on #490
So maybe enabling previews for video files is something for the "Tips & tricks" section of the server? cc @rullzer @icewind1991

[2017-06-16 10:03] phatair commented on #1089
Hi,
so thats a bug in the android app, right? I tested it on two other devices and its the same behavior.
Thanks your your help AugustinVoiMa.

I'm not a coder but it sounds like you find the problem. If i enter the password and it has less characters as set in the password policy, i redirected to the login page. That sounds like "requestCredentialsUpdate(...)"

[2017-06-16 12:18] AugustinVoiMa commented on #1089
Yes that's it. I made a correction yesterday night but I haven't published it for now.
I will push this correction when I have the time to verify it doesn't bring new issues, but it seems to be resolved.
This issue must happen on all devices because there is a source-code confusion, not a compatibility failure.

[2017-06-16 13:40] tobiasKaminsky commented on #880
This is already done as backupSwitch.setChecked(arbitraryDataProvider.getBooleanValue(account, PREFERENCE_CONTACTS_AUTOMATIC_BACKUP)); is account specific.

[2017-06-16 14:16] tobiasKaminsky commented on #71
After leaving this thing some time alone, I think we want to achieve too many things on the same time and therefore the UI (and even talking about UI) is too complicated.

So this is (again) an idea to have far simpler:
Assumptions:
- users do not want to download the whole image, instead just like streaming have only a resized version
- if an user wants to have many images in original quality, he

[2017-06-16 14:28] tobiasKaminsky commented on #1082
The external storage path will be /SD/Android/media and not "/SD/Android/data" to allow other apps to access the download files.
This will be part of the next version.

[2017-06-16 14:28] #1082 closed

[2017-06-16 14:28] tobiasKaminsky commented on #429
The external storage path will be /SD/Android/media and not "/SD/Android/data" to allow other apps to access the download files.
This will be part of the next version.

[2017-06-16 14:29] #429 closed

[2017-06-16 14:30] tobiasKaminsky commented on #802
The external storage path will be /SD/Android/media and not "/SD/Android/data" to allow other apps to access the download files.
This will be part of the next version.

[2017-06-16 14:42] tobiasKaminsky commented on #1081
Currently testing it on dev.
As far as I understand it, fdroid will automatically use the icon / description if the folder structure is correct *finger-cross*

[2017-06-16 21:21] jancborchardt commented on #71
Ok, let's go with that for now. :)

Just one thing: Instead of the setting, I would say that specific syncing (via the menu) should also download the full quality.

[2017-06-16 22:26] daemonkeeper commented on #802
Personally that's fine with me as it solves the underlying problem for me. Thank you!

[2017-06-17 13:50] DaveBurkhardt opened #1093 "android 6.0.1 with 1.4.3 client unreliable sync (unusable)"
### Actual behaviour
App missing media
90% of my media is not sync'd after being created

### Expected behaviour
App should work, this is a cloud sync with this not working it's a fatal flaw.  Show stopper.

### Steps to reproduce
1.  use the app on a Samsung S5 in 6.0.1 android
2.  take pics/movies to SD card (64GB) or local storage
3.  most of them will not attempt sync or show even show in the

[2017-06-17 13:56] DaveBurkhardt commented on #1093
My post seems to be a DUP of

https://github.com/nextcloud/android/issues/804

And that's not good as it's old.

Guys, I can help real-time debug this.  This is a critical error.  Let me know what you need.  All of my phones are S5's in my house.  We have no sync going on....

[2017-06-17 13:57] DaveBurkhardt commented on #804
Same issue going on here with multiple devices.  Same versions slightly different settings.

[2017-06-17 23:37] elpraga commented on #685
Ok @tobiasKaminsky , I ran into this issue again. I have to note that i cannot reproduce it using the dev client, only the __1.4.3__ version.

My settings:
storage on SD card.
Steps to reproduce:
* upload a file containing a ":" in the name.
* try to download it using the 1.4.3 version of the client.
Download will fail.

[2017-06-18 02:07] evilantishad0w opened #1094 ""server took too long to respond" odd edge case"
### Actual behaviour
Client refuses to log on to one server, reports "The server took too long to respond" - but logs on to a different server with no problem

### Expected behaviour
Should connect fine, no problem with two other Android devices or PC/web connections

### Steps to reproduce
1. I'd prefer not to disclose my private server address, contact for testing...  Note that it's running on H

[2017-06-18 04:18] elpraga commented on #685
P.S. There is no way for me to reopen the issue, but please check if you can reproduce it.

[2017-06-19 06:36] tobiasKaminsky commented on #802
Then closing.
It is always a good idea to have as less "techy" settings as possible.

[2017-06-19 06:36] #802 closed

[2017-06-19 07:20] tobiasKaminsky opened #1095 "Make DocumentsProvider accept files"
- open documents app
- select a file and "copy to" -> no nextcloud as target

[2017-06-19 08:24] AndyScherzinger commented on #802
This will be part of the next version.

Not an arbitrary one, no but we should in the end offer both /data and /media because now we are reverting back to pre 1.4 so users that wanted to block media indexing will get mad. So the best would be to offer both with the hint for (SD card - media indexed / SD card - not media indexed).

[2017-06-19 10:50] AndyScherzinger commented on #1093
I hope @mario's auto upload changes for the upcoming release will fix this.

[2017-06-19 12:45] elpraga commented on #685
Were you able to reproduce the error @tobiasKaminsky ? I know you mentioned earlier that you were not able to reproduce the behavior..

[2017-06-19 12:48] elpraga commented on #596
Has the cache size been changed already in the dev app @tobiasKaminsky ? My application still hovers around 12 MB with many thumbnails missing..

[2017-06-19 13:31] tobiasKaminsky commented on #1088
What do you think?

Ref: https://github.com/nextcloud/android/issues/802#issuecomment-309372150

![fileqqc6ml](https://user-images.githubusercontent.com/5836855/27287508-360f6c98-5504-11e7-917c-edb2d535327d.png)

[2017-06-19 13:39] jancborchardt commented on #1088
Even as slightly technical user, I don't understand what "media indexed" means. Does it mean "Don't show data in other apps, like Gallery"?

If so, we could put that as a toggle in the bottom of that popup (off by default). But right now this is equally as confusing.

[2017-06-19 13:48] AndyScherzinger commented on #1088
Exactly and yes it is not easy to understand, a switch seems to be the nicer way to handle it 👍
@tobiasKaminsky that might make this a bit more complicated since you need to have a custom dialog then due to the fact that is is not a simple array chooser anymore.

[2017-06-19 14:51] tobiasKaminsky commented on #596
@elpraga I have adjusted it to 200mb for now.
It will be available the next days on fdroid.

[2017-06-19 15:53] elpraga commented on #596
ok. That's great to hear! Will it be available via the usual method from within the app?

[2017-06-19 15:56] elpraga commented on #685
That's what I thought as well, but I can work just fine with the same file using the dev app. Might it be an issue of in internal storage instead? Doesn't the 1.4.3 download the file first to internal storage and then to the SDcard?

[2017-06-19 18:05] Spiritdude commented on #804
Same here: Android 5.1.1 with 1.4.3. InstantUpload misses files, don't know how rescan photos? There has be to a failsafe sync between camera folder(s) and the InstantUpload folder.

[2017-06-20 05:59] tobiasKaminsky commented on #596
Yes :+1:

[2017-06-20 06:02] tobiasKaminsky commented on #685
As far as I know we did not change the download process, but I will have a look.

[2017-06-20 07:53] elpraga commented on #685
One of the apps has to behave like this, because I get a folder called __nextcloud__ created in my internal storage even though I have the SDCard selected as the place to store files in the app.

[2017-06-20 08:09] tobiasKaminsky commented on #685
The initial storage is always internal, so on your very first start there will be a nextcloud folder created.

[2017-06-20 08:21] tobiasKaminsky commented on #71
Syncing/Download menu entry will always download the full image.
The resized version will only be shown if you click directly on the image.

[2017-06-20 10:00] LukasReschke opened #1097 "Keep session cookies"
### Actual behaviour
- Session cookie is not sent

### Expected behaviour
- Session cookie is sent

### Steps to reproduce
1. Connect to a Nextcloud
2. Sniff the traffic of the Nextcloud Android app
3. Cookies are not sent

### Environment data
Android version: 7.0

Device model: EVA-L09

Stock or customized system: No idea

Nextcloud app version: Newest from playstore

Nextcloud server version: 1

[2017-06-20 10:01] LukasReschke commented on #1097
cc @tobiasKaminsky @mario The reason why brute-force protection is throttling all requests :)

[2017-06-20 10:07] LukasReschke commented on #1097
Also this will massively affect LDAP servers and also the server load since it has to bcrypt every request 🙈

[2017-06-20 10:47] tobiasKaminsky commented on #1097
I am on my way :-)

[2017-06-20 11:37] elpraga commented on #685
Yes, I guessed so. So I deleted it after setting the SDCard as the storage
device.

It got created again after the SD Card was selected.

El 20 jun. 2017 10:09 a. m., "Tobias Kaminsky" <notifications@github.com>
escribió:

[2017-06-20 15:19] CordlessWool opened #1098 "Sometimes Pictures are not uploaded"
### Actual behaviour
- Some itmes pictures are not uploaded, they are shown in "Auto Upload"-Settings but not in Uploads. My flatmate has the same problem on her older phone

### Environment data
Android version:
7.1.2 (newest Lineage) (Nexus 5)
6.x.x (some Samsung)

Device model:
Nexus 5
Samsung XXX (Model for Indian Market)

Stock or customized system:
Lineage on Nexus 5

Nextcloud app version:

[2017-06-20 15:20] jancborchardt commented on #71
Great, then we agree. :)

[2017-06-20 16:36] evilantishad0w commented on #1094
Update: Added "/index.php" to URL, connected successfully. (?)

[2017-06-20 18:49] neteler commented on #1017
Is fix already included in the current nextcloud-dev version on Fdroid?

[2017-06-20 21:46] sebastianklein96 commented on #746
Can confirm on OnePlus One running LineageOS based on Android 7.1.2 and app version 1.4.3.

Had the phone on standby for most of the day and about 55% battery left in the evening. Nextcloud used 14% battery over that day compared to only 12% for the display and minor percentages for the other apps.

[2017-06-21 05:41] tobiasKaminsky commented on #1094
Index.php should not be necessary.
We are currently working on a way to prevent this "timeout message", which is occurring if bruteforce is enabled.
But glad that it is working now for you.

[2017-06-21 05:44] tobiasKaminsky commented on #1017
Yes it is.

[2017-06-21 06:42] jasonbayton commented on #1098
To verify, are you saying they hang in the uploads area, or are never detected?

[2017-06-21 06:47] jasonbayton commented on #1088
Not defending this behaviour but it's a pretty common thing to see. Few apps mask the underlying paths that I've seen.

[2017-06-21 10:32] AndyScherzinger commented on #1089
Hi @phatair, via this issue it is a known issue now, yes and also @AugustinVoiMa provided a fix already which we need to look at (build fails probably due to repo-issues). So yeah, it will be fixed in the official app.

[2017-06-21 10:35] despens opened #1100 "AutoUpload view crashes app"
### Actual behaviour
- Switching to instant view upload crashes the app.
- No files are ever auto-uploaded

### Expected behaviour
- Switching to instant upload view should show instant upload view.
- Files should be auto-uploaded as configured

### Steps to reproduce
1. Start nextcloud app
2. Select Instant Upload view
3. 💥

### Environment data
Android version: 6.0.1

Device model: STV100-1 (Bla

[2017-06-21 11:05] neteler commented on #1017
Unfortunately it still crashes when selecting "backup contacts" for the first time (Menu entry "Backup contacts"). I am using a newly installed Nextcloud 12 installation on Debian and the current nextcloud-dev from Fdroid (version 20170615). E.g. photo upload works ok.

[2017-06-21 11:22] tobiasKaminsky commented on #1100
Is this really "instantupload" and not "AutoUpload" as you are using Android 6?
Can you provide us with a logcat?

[2017-06-21 12:18] phatair commented on #1089
Great - thanks Andy!

[2017-06-21 12:21] tobiasKaminsky commented on #1090
https://github.com/evernote/android-job/issues/182

According to this it can be changed with using 1.1.10.
I did a small test on my very old phone and it works.

@mario do you see any with enhancing the version?

[2017-06-21 12:23] mario commented on #1090
@tobiasKaminsky I'm going to update it in the media branch, so don't bother with this for now.

[2017-06-21 12:38] tobiasKaminsky commented on #671
I tried it again:
- clear cache to have no thumbnails
- turn on flight mode
- access "auto upload"
- see that pictures are generated
This was tested on emulator and on s5 neo with android 6.0.1

[2017-06-21 13:02] tobiasKaminsky commented on #511
I tried it with emulator, there you can set the network type and signal strength. I set it to "gsm" and "poor" and did a full account sync. While this I accessed "auto upload view" and all thumbnails were generated really fast.

[2017-06-21 13:17] tobiasKaminsky commented on #671
Order of execution:
Starting with HONEYCOMB, tasks are executed on a single thread to avoid common application errors caused by parallel execution.

So if any other async task is blocking it will also block the generation of the thumbnails.
With this I finally could reproduce it :tada:

- enable bruteforce and force it to a delay of 30s
- update a folder to get some async tasks in queue
- open aut

[2017-06-21 13:27] tobiasKaminsky commented on #671
The solution I see is to cancel all async tasks once we exit an activity, eg. switch from FileDisplayActivity to FolderSyncActivity.

@mario @AndyScherzinger

[2017-06-21 13:30] tobiasKaminsky commented on #1009
@subesokun please open this issue on the receiving apps as this is not the fault of the sending app.
You can of course link to this issue and if there is a chance we can help solving this, just let us know.

[2017-06-21 13:30] #1009 closed

[2017-06-21 13:49] tobiasKaminsky commented on #113
A quick search if our http library jackrabbit (http://jackrabbit.apache.org/jcr/components/jackrabbit-webdav-library.html) is supporting this does not yield anything...
So if you can give me a starting point I will give it a try.

[2017-06-21 14:06] tobiasKaminsky commented on #1070
@AndyScherzinger I tried to find this in google dev console, but not succeeded.
Can you give me a hand here?

[2017-06-21 14:07] tobiasKaminsky commented on #1022
@mario also d'accord?

[2017-06-21 14:08] tobiasKaminsky commented on #592
Closing, but please re-open if the problem occurs again.

[2017-06-21 14:08] #592 closed

[2017-06-21 14:12] tobiasKaminsky commented on #360
If this problem occurs again, please re-open.

[2017-06-21 14:12] #360 closed

[2017-06-21 14:18] tobiasKaminsky commented on #1090
I thought to upgrade this in dev version manually to have a an extended test of the library?

[2017-06-21 14:22] tobiasKaminsky commented on #899
Not happening.

[2017-06-21 14:22] #899 closed

[2017-06-21 14:23] tobiasKaminsky commented on #1004
Strongly related to #671

[2017-06-21 14:41] tobiasKaminsky commented on #1017
I am sorry, I fixed only a similar bug, but omitted this one.
I have fixed this in the #1027 branch and it will be soon in fdroid.

[2017-06-21 18:40] CordlessWool commented on #1098
It is not shown in the uploads area (there are not shown as uploaded, failed or something else), but in the area I can configurate uploads I see the pictures. So the app can show the pictures but do not upload them or show them in the uploads/upload stream and also not upload them

[2017-06-21 19:30] jasonbayton commented on #1098
@mario this is what I mentioned a while back. Sometimes it just doesn't detect a picture to add to uploads

[2017-06-22 05:43] tobiasKaminsky commented on #738
Sorry for coming back so late.
Thank you for your logs, but they do not contain any app specific output, so I cannot see how and where this crashes.
Therefore I am closing it.
If you experience this again, please reopen with steps to reproduce.

[2017-06-22 05:43] #738 closed

[2017-06-22 06:38] despens commented on #1100
Yes it is indeed "AutoUpload", just the directory on my nextcloud is called "InstantUpload". I don't know what a logcat is, if you let me know I will try to provide.

[2017-06-22 07:38] tobiasKaminsky commented on #1090
I bumped the version on dev.
For master we still need to change this.
@p5n if you want to can test this in the next days with a new dev version.

[2017-06-22 07:39] mario commented on #1022
Well .... do it.

[2017-06-22 08:05] tobiasKaminsky commented on #1085
Creating a new folder is done via the option menu. Do we want to have a FAB for this? Then we should open a new issue as it is not a bug but an enhancement.

Not showing "empty message" is maybe the same as #1084, so assigning to @mario.

[2017-06-22 08:11] tobiasKaminsky commented on #230
@keithzg @Adi3000 is this still happening with a fresh account?
If so do you want to create a test account and mail it to android at nextcloud dot com with reference to this issue?

[2017-06-22 08:14] tobiasKaminsky commented on #244
As the upload is a background job I do not know how we can get this dialog to work. @mario any idea?

But the certification dialog should open right after entering the app so it seems to me a very rare corner case.

[2017-06-22 08:20] tobiasKaminsky commented on #397
We made a few enhancements
- wait at least 10s
- verify if file exists otherwise fail silently

@AndyScherzinger the issue you linked is something we cannot fix, but I hope we can bypass it with the enhancements above.
--> @lauhayden can you test this with the latest dev version?

[2017-06-22 08:24] tobiasKaminsky commented on #415
@daveh86 @droidmahn can you email us a test account to android at nextcloud dot com with reference to this issue?

[2017-06-22 08:39] tobiasKaminsky commented on #445
I never experienced the opaque background during multi select.
Dynamically trim file names is nearly impossible ...
So closing

[2017-06-22 08:39] #445 closed

[2017-06-22 08:43] tobiasKaminsky commented on #491
This NPE should be fixed with
https://github.com/nextcloud/android/commit/1219844d58b5bdeb670f00b06340d6369dd7b860 as it first checks if upload1 or upload2 is null.

[2017-06-22 08:43] #491 closed

[2017-06-22 09:11] p5n commented on #1090
https://download.nextcloud.com/android/dev/nextcloud-dev-20170622.apk still fails

[2017-06-22 09:50] tobiasKaminsky commented on #1090
Well... I did this 2 hours ago and the build is from this night ;-)
You can try it next day.

[2017-06-22 10:00] tobiasKaminsky commented on #594
I tried it with my current NC and current android app and used "Tobi" instead of "tobi" and it is working without any issue. I tried both auto upload and manually upload.

[2017-06-22 10:00] #594 closed

[2017-06-22 10:23] tobiasKaminsky commented on #685
I tried it with several devices, this is my conclusion:
- internal storage --> no problems
- sdcard mounted/formatted as internal storage -> no problems
- sdcard mounted/formatted as portable storage --> download error

Can you verify with a file explorer where the file (when it is working) gets downloaded? And how the sdcard is formatted/mounted?

[2017-06-22 10:38] tobiasKaminsky commented on #808
I have added some debug code, can you please test the dev version of tomorrow:
- go to settings -> logs
- clear logs
- set auto upload to delete
- take a picture
- open logs and search for "Deletion of": this will only be shown if it fails, but with (hopefully) an exception message

[2017-06-22 11:24] tobiasKaminsky commented on #912
As I want to solve #924 and it is somehow related, what is the idea here?
Big thumbnails like google drive does it, are only useful for images as otherwise you will just see a big e.g. zip-archive icon.

[2017-06-22 11:59] tobiasKaminsky opened #1104 "AutoUploadJob does not remember restrictions after failure"
### Actual behaviour
- Upload starts while not connected to wlan

### Expected behaviour
- Remember "upload only on wlan"

### Steps to reproduce
1. set auto upload to "upload only with wlan"
2. let auto upload start
3. disable wlan -> all jobs will fail
4. click on a job

We can debate if this is a desired behaviour as the user "enforces" this by clicking on the upload item and thus wants to have

[2017-06-22 12:12] tobiasKaminsky opened #1105 "AutoUploadJob continues when leaving wifi area"
### Actual behaviour
- upload continues

### Expected behaviour
- upload should stop

### Steps to reproduce
1. enable auto upload with "only on wifi"
2. take some pictures, wait for upload to start
3. leave wifi area

Idea to solve:
Manually check if the requirements are met, although this should be the job of evernote.

I could not reproduce this with my onePlus3 and 7.1.2, but reported via mail

[2017-06-22 12:24] tobiasKaminsky commented on #23
We are doing it the @schiessle proposed: every new code done by us is GPL3+

[2017-06-22 12:24] #23 closed

[2017-06-22 12:26] tobiasKaminsky commented on #63
@thalman  Is this still happening?

[2017-06-22 12:29] #70 closed

[2017-06-22 12:33] tobiasKaminsky commented on #71
Closing this discussion as I integrated the result in #69

[2017-06-22 12:33] #71 closed

[2017-06-22 12:38] tobiasKaminsky commented on #101
@fhempeter sorry for coming back so late, is this issue still a problem?

[2017-06-22 12:40] tobiasKaminsky commented on #115
@pcause is this still a problem? If so, can you give us a test account and sent the details to android at nextcloud dot com?

[2017-06-22 12:42] tobiasKaminsky commented on #112
@ser We extended the upload on latest (tomorrow build) dev version, so could you give it a try?

[2017-06-22 12:43] tobiasKaminsky commented on #108
Could this be related to ipv6?

[2017-06-22 12:44] tobiasKaminsky commented on #118
Does it work now for you @GregSutcliffe

[2017-06-22 12:55] tobiasKaminsky commented on #170
I cannot reproduce this, but #1004 and #671 will remain open.

[2017-06-22 12:55] #170 closed

[2017-06-22 12:56] tobiasKaminsky commented on #121
This is a very promising idea: https://github.com/David-Development/ownCloud-Account-Importer/issues/3

[2017-06-22 13:00] GregSutcliffe commented on #118
I think this issue can be closed, yes. I've been testing auto-upload with stable & dev clients due to #833 and I've not seen this File Not Found error in quite a while. Thanks!

[2017-06-22 13:14] tobiasKaminsky commented on #173
As we remove InstantUpload and replace it with AutoUpload and I have no idea what I meant, I will close this.

[2017-06-22 13:14] #173 closed

[2017-06-22 13:18] tobiasKaminsky commented on #189
The sync interval will be chosen by the new doze mode of android so we cannot adjust this :-/

[2017-06-22 13:18] #189 closed

[2017-06-22 13:23] tobiasKaminsky commented on #266
With https://github.com/David-Development/ownCloud-Account-Importer/issues/3 we plan to have this app as the central authenticator for all nextcloud related apps, so you have only login once in our app.
I think this is the best way as the common workflow will be 1) install NC app 2) install other apps and not the other way around.

[2017-06-22 13:23] #266 closed

[2017-06-22 13:27] tobiasKaminsky commented on #118
Glad to hear.

[2017-06-22 13:27] #118 closed

[2017-06-22 13:44] agilob opened #1106 "Autoupload doesn't upload until device is rebooted"
### Actual behaviour
- Add some folder to autoupload (nextcloud-dev from fdroid)

### Expected behaviour
-Autoupload on new files

### Steps to reproduce
1. take a picture
2. connect device to wifi
3. tada! nothing is being uploaded, there is no way to manually start upload of 'autoupload' folders

### Environment data
Android version: 6.0.1

Device model:

Stock or customized system: stock

Nextc

[2017-06-22 13:46] agilob opened #1107 "Crash on start when trying to open new account on device"
### Actual behaviour
- app crashes when I try to create new account

### Expected behaviour
- I woudl like to login...

### Steps to reproduce
1. install nextcloud from fdroid
2. start app on brand new device
3. app crashes
4. I can see login form and 'application stopped' popup

### Environment data
Android version: 6.0.1

Stock or customized system: stock

Nextcloud app version: 1.4.2

Nextcloud

[2017-06-22 13:56] agilob opened #1108 "New autoupload feature uploads taken pictures to different location than old feature, breaks user experience"
When I'm unable to login on nextcloud using 'old' app, and I used '-dev' from fdroid I added and setup autoupload for picture from `DCIM/`, previously I could set 'autoupload taken images'. New system instead uploading images, it watches for new files in a folder and uploads them [folders] to `InstantUpload/.` When I use subfolders, the new system uploads pictures to:

* /InstantUpload/DCIM/2017/0

[2017-06-22 16:49] mario commented on #1105
While this is an ideal situation, Job Scheduler (and all other backends, but also Android Job) only checks for requirements on start, rather than during the execution.

[2017-06-22 18:37] mhzawadi commented on #1098
Evening, I get the same issue. Picture taken and visible in auto upload config screen, but not picked up to upload.

One plus 3T
android 7.1.1
Android app 1.4.3
Nextcloud server 12

[2017-06-22 19:00] mario commented on #1098
I know. It will all be fixed in 1.5.

[2017-06-22 19:49] elpraga commented on #596
Great! I can see all my thumbnails again! How I missed them!

Is this change going to get to the official client as well?

[2017-06-22 19:52] elpraga commented on #685
I can confirm, internal storaga -> no problem
SD card -> download error in both 1.4.3 and the dev app (the last update of the dev app changed the storage to internal again, and that's why I didn't noticed it)

SD Card:
Storage type: USER_EXTERNAL
DEVICE:  /dev/fuse

That's what I got form FX File manager. Does it help?

[2017-06-23 02:01] OlivierS1 commented on #1098
@mario , if it is going to be fixed in 1.5, shouldn't this be part of the Dev version as well?

[2017-06-23 02:11] mario commented on #1098
It will be as soon as I write relevant code

On Fri, 23 Jun 2017 at 04:01, OlivierS1 <notifications@github.com> wrote:

[2017-06-23 03:16] OlivierS1 commented on #1098
@mario No need to have it soon on Dev version. I thought Dev was supposed to get it before Release!
Doesn't make much sense at the moment I guess.

[2017-06-23 05:11] jasonbayton commented on #1098
Dev will get it before release, but that requires the code is written, added to Dev, validated and then pushed the release.. so it's not just going to magically be there :p

[2017-06-23 05:22] tobiasKaminsky commented on #1106
What kind of device do you use and is the nextcloud or camera storage set to an external sdcard?

[2017-06-23 05:25] tobiasKaminsky commented on #1107
Is this working when you create a demo cloud on demo.nextcloud.com and try to connect to it?

[2017-06-23 05:27] tobiasKaminsky commented on #1108
You can click on the "remote folder" and set it to any folder you like, so you can have all images in the same directory.

[2017-06-23 05:30] tobiasKaminsky commented on #596
For the official client we want to intregrate a more intelligent cache sizing policy and not hardcode a value.
But then the cache size will always be more than 10 Mb ;-)

[2017-06-23 05:35] tobiasKaminsky commented on #685
Thank you for your infos.
A quick search leads me to the impression that the external sdcard is forrmatted as vfat which cannot handle ":" as filename.
I am really sorry but I doubt that we can do anything here. If you really need to have these filenames you will have to use the internal storage, or wait for an android update that allows you to format your sdcard as internal storage.
If you agree,

[2017-06-23 06:08] Netti93 commented on #808
I tested this with the Dev version 20170623 but neither is the picture deleted or copied nor can I see any entry in the logs

[2017-06-23 07:28] elpraga commented on #685
Ok. Thank you for investigating the issue!

[2017-06-23 07:28] #685 closed

[2017-06-23 07:37] #249 closed

[2017-06-23 07:40] tobiasKaminsky commented on #267
Due to limited dev capacities we cannot include all apps, especially when there are decent apps that will do it better than we can.
So we want to go the way to provide the nextcloud app as a central authenticator for every NC related app so it will be much easier to setup the other apps.

[2017-06-23 07:40] #267 closed

[2017-06-23 07:41] tobiasKaminsky commented on #325
@brjhaverkamp any new infos regarding your issue?

[2017-06-23 07:43] tobiasKaminsky commented on #296
@AndyScherzinger what do you say to my answer?
Updating the file list is a rather small data transfer so it seems fine to me.

[2017-06-23 07:44] tobiasKaminsky commented on #270
If someone wants to do this please discuss it first with us as I am currently unsure how to handle this.
(though the initial request is made by me, the real idea was sent via mail)

[2017-06-23 07:49] tobiasKaminsky commented on #271
While we surely can improve the sync the main reason for the battery drain is the giant sync folder.

[2017-06-23 07:49] #271 closed

[2017-06-23 07:50] tobiasKaminsky commented on #288
@kvoit is this bug still present?

[2017-06-23 08:37] agilob commented on #1107
The crash happens before I even can type user/pass/domain.

1. Tap on nextcloud icon
2. (milliseconds delay) form shows
3. (milliseconds delay) application crashed popup shows
4. Underlying form becomes white

I'll try to get stacktrace over the weekend.

[2017-06-23 08:38] agilob commented on #1106
Motorola G4

both on device. Don't have sd card there.

[2017-06-23 09:14] tobiasKaminsky commented on #1106
But it is important to know that the taken pictures are detected and queued to the upload.
Now we need to find out why they are not processed...

What kind of settings do you use? only during charging? only on wifi?

[2017-06-23 09:17] agilob commented on #1106
Only on wifi.

Just checked and if I take picture while device is connected to wifi, it's uploaded immediately. In scenario from top comment, it's uploaded only after reboot.

[2017-06-23 12:13] nordic-style commented on #1106
I am not sure if its related, but i my app does not upload all images, but just some. They are all in the same directory on my mobile and there are no failed uploads. It seems that the app does not track all uploads. A reboot did not help.

Using Galaxy S8 with Android 7 on nextcloud 12 and 1.4.3 app version from play store.

[2017-06-23 12:16] tobiasKaminsky commented on #289
As in other issues also requested we will change the sd storage path to ".../media/..." to allow other apps to access to the downloaded files.

[2017-06-23 12:16] #289 closed

[2017-06-23 13:45] tobiasKaminsky commented on #490
So what to do now?

[2017-06-23 14:06] brjhaverkamp commented on #325
Not really. I can confirm that upload is still not always smooth. On my wife's phone I could not get the upload of older failed uploads to restart, while newer photos uploaded automatically fine. In the end I used,USB to get the photos uploaded manually.
Some better error messages might help getting more and better info.

Kind regards,

Bert

On 23 June 2017 09:41:07 GMT+02:00, Tobias Kaminsky <no

[2017-06-23 15:28] p5n commented on #1090
https://download.nextcloud.com/android/dev/nextcloud-dev-20170623.apk works slightly better. I was able to set up account, but it failed when I tap "settings"
[code]

[2017-06-23 17:23] OlivierS1 opened #1123 "Nextcloud Dev 20170623 crashes on start."
### Actual behaviour
-Tell us what happens
After updating from Nextcloud Dev 20170622 to 20170623, the app crashes with the following message:
"Unfortunately, Nextcloud dev has stopped."

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1. Update to Nextcloud Dev 20170623
2. Start the app.
3. app crashes.

### Environment data
Android version:
6.0
Device model:
LG-G3 852

[2017-06-23 18:07] ArtyV commented on #682
It's a Router/Network Issue

[2017-06-23 18:07] #682 closed

[2017-06-23 19:36] bl4ckOut commented on #682
I still don't think this is a router problem.
Where do you get the information from?

[2017-06-23 19:45] ArtyV commented on #682
I adjusted my router to forward all traffic to that Public url to the internal IP. It is most definitely a networking issue, not a nextcloud issue

[2017-06-23 20:46] elpraga commented on #596
OK. but please, keep in mind
* when thumbnails are being downloaded, other parts of the app don't work (even downloaded pictures are not shown, for example)
* downloading thumbnails from the server is __much__ slower in the app than in the web interface (my experience using the same account)
* there is no real benefit of doing so, because people with few pictures will not be affected by (I dare to

[2017-06-24 01:34] OlivierS1 commented on #1123
I couldn't access my files as the app would crash.
However, Autoupload was monitoring camera pictures.
I took some pictures today and saw the failed upload notification. Clicking on the notification would open up the app and give me access to upload folder. I couldn't retransmit the pictures due to connection errors.
I was able to access the settings and tried to send the log but upon selecting a

[2017-06-24 11:45] thalman commented on #63
Yes, It is still there. Tested yesterday.

[2017-06-24 17:12] godfuture opened #1124 "Nextcloud app opens and closes new Android notification entries for every synced file"
### Actual behaviour
Many android notifications are opened and closed during sync. I looks like my phone goes crazy. Nextcloud is the first app that opens and closes this many notifications in short time.

### Expected behaviour
There is one notification entry being updated with all the changes that occur during sync. No hundreds of notifications opened and closed.

### Steps to reproduce
1. Creat

[2017-06-25 08:39] eqyiel commented on #342
@tobiasKaminsky sent

[2017-06-25 09:47] tobiasKaminsky opened #1130 "Android 4.x: crash on settings"
This is introduced by https://github.com/nextcloud/android/commit/b530d38b07586c60d5a257087c934e83e37fbd63

```Caused by: java.lang.ClassCastException: com.owncloud.android.ui.CheckBoxPreferenceWithLongTitle cannot be cast to android.preference.SwitchPreference```

[2017-06-25 09:50] tobiasKaminsky commented on #63
Strange behaviour...
You say the account disappears on "list of accounts", but can you still login within the app?

[2017-06-25 09:54] tobiasKaminsky commented on #1124
We talked already in some issues about enhancing/changing the way of notifications. Unfortunately I cannot find the issues right now.
There were two opposite ideas
- show no notification, but instead have an upload view or include it in activity
- keep notification, but enhance it and show e.g. [02/10] filename "20% @ 1.2Mb/s".

[2017-06-25 11:56] Quix0r opened #1131 "Synchronize images/videos to proper Android folders"
### Actual behaviour
Currently, for example all images are being downloaded somewhere outside the "gallery" app's folder and they are not showing up there. If you want to make them visible, you have manually copy them from that hidden directory (Android/data/com.nextcloud.app or so?) to the gallery which duplicates storage usage.

### Expected behaviour
They should be "accessible by the default "G

[2017-06-25 12:53] mario commented on #1130
Pretty sure this is fixed actually? Can you reproduce it?

[2017-06-25 16:55] Adi3000 commented on #230
It solved my problem : indeed, my profile was stuffed with some symlinks which may have broken listing over my folder.

A new profile was fully functionnal over my phone.
Also deleting symlinks resolved my problem thank to that note : https://github.com/owncloud/documentation/issues/2493
My Wife Phone didn't use symlinks within her account on her phone so she wasn't impacted.

[2017-06-25 19:25] Fensterbank commented on #1131
I had exactly the same issue on my phone, while my new installation on my tablet works like you want.

When I synchronize a folder with my nextcloud on my tablet and this folder contains images or videos, it will be shown in the gallery! On my smartphone this wasn't the case.

I realized a new installation created a folder like `sdcard\nextcloud\user@hostname`, which will be indexed by your androi

[2017-06-25 21:41] Quix0r commented on #1131
Okay, will test it.

[2017-06-25 22:14] philipflohr commented on #1028
This issue seems to be fixed in the play store version but not in the fdroid Version.

[2017-06-26 05:38] tobiasKaminsky commented on #1130
Yes, it is on master, but I'll fit it :-)

[2017-06-26 05:53] tobiasKaminsky commented on #230
@Adi3000 glad to hear :-)
@keithzg if the problem still occur, just answer and re-open this issue.

[2017-06-26 05:53] #230 closed

[2017-06-26 05:56] tobiasKaminsky commented on #1131
I am not sure if this is 1.4.3 but it will be in next version. There it will be again in "/sdcard/media.../" to allow indexing.

[2017-06-26 06:06] tobiasKaminsky opened #1132 "Upload pane: click on thumbnail opens image"
The thumbnails in the upload pane are too small to recognize the images very well.
A click on the thumbnail should open it in fullscreen as in the regular file display, but swiping left/right is not needed.

[2017-06-26 06:37] neteler commented on #1017
In the latest nextcould-dev version on fdroid the "Contacts backup" menu entry is gone entirely...

[2017-06-26 07:26] tobiasKaminsky commented on #1017
@neteler it is now moved to settings as our designers said it is to prominent on the drawer and it better fits beneath "caldav integration".

[2017-06-26 07:42] tobiasKaminsky commented on #1123
Strange, the upgrade work without any problems. Especially as we did not changed that much between the latest versions.
But glad that it is working.

[2017-06-26 08:00] tobiasKaminsky commented on #377
This is done via https://github.com/David-Development/ownCloud-Account-Importer/issues/3

[2017-06-26 08:00] #377 closed

[2017-06-26 08:04] tobiasKaminsky commented on #403
We "now" wait at least 10s before starting auto upload.

[2017-06-26 08:04] #403 closed

[2017-06-26 08:06] tobiasKaminsky commented on #404
This will also solve #1080 I guess

[2017-06-26 08:09] tobiasKaminsky commented on #423
We need to figure out why other cloud clients are shown there.

[2017-06-26 08:15] tobiasKaminsky commented on #433
In the latest dev version there is already https://github.com/nextcloud/android/pull/1099 which will make the login work again.
Please test it and if it is not working, re-open issue.

[2017-06-26 08:15] #433 closed

[2017-06-26 08:16] tobiasKaminsky commented on #430
@SaittamW does it work for you now?

[2017-06-26 08:19] mario commented on #1106
Well, that's not entirely correct but I understand why you think so :D

It'll fixed in 1.5.

[2017-06-26 08:23] tobiasKaminsky commented on #437
Can you retry this? I did a test with the new auto upload system and after leaving wifi it stopped all other upload jobs.

[2017-06-26 08:28] tobiasKaminsky commented on #438
This is changed already: in the next version the files downloaded on the external sdcard will be accessible again by other apps.

[2017-06-26 08:28] #438 closed

[2017-06-26 08:30] tobiasKaminsky commented on #1100
Unfortunately there is no easy way to get a proper error message/logcat: https://wiki.lineageos.org/logcat.html

[2017-06-26 08:43] tobiasKaminsky commented on #1076
As logs are only enabled in the dev version I think it is a corner case and as we lack a little bit of men power this is something that can be included if someone will help us.

[2017-06-26 08:45] #1055 closed

[2017-06-26 08:46] despens commented on #1100
Find my logcat here: https://nc.1x-upon.com/s/GA5u0VDJ155hLvT
I hope it is useful.

[2017-06-26 08:47] tobiasKaminsky commented on #1048
@georgefl on some other issues we discussed the same.
With my tests it is working if you set the sdcard to "internal storage", which is not working on any samsung phone.
So the best way to stop confusing users it so disable this option on sdcards where we cannot delete/move the files...

[2017-06-26 08:52] tobiasKaminsky commented on #525
This is done already in dev and master and will be in text version.

[2017-06-26 08:52] #525 closed

[2017-06-26 08:53] tobiasKaminsky commented on #519
Nextcloud and dev version are using the same folder.

[2017-06-26 08:53] #519 closed

[2017-06-26 09:04] tobiasKaminsky commented on #1080
This is a screenshot of samsung s5 neo and master branch.
![filehkuwjs](https://user-images.githubusercontent.com/5836855/27532019-19d42fae-5a5f-11e7-915a-cb9bf16748c3.png)

[2017-06-26 09:05] OdinsAuge opened #1136 "Nextcloud as source for Instagram does not work"
### Actual behaviour
-When I upload pictures on Instagram, I choose Gallery --> Misc and then I can choose different sources on this screen:
![screenshot_20170612-182942](https://user-images.githubusercontent.com/1121917/27531705-ee12b364-5a5d-11e7-9d62-18709ad8aff7.png)
Nextcloud is selectable but no images/folder tree get loaded.

### Expected behaviour
-In earlier versions, selecting Nextcloud

[2017-06-26 09:11] tobiasKaminsky commented on #1100
Thanks for the logcat, but I cannot see anything related to nextcloud. Please try it again and open autoupload view / nextcloud 2-3 times and verify that in the logcat is something with "nextcloud" and "crash" or similar.

[2017-06-26 09:12] tobiasKaminsky commented on #1136
The external storage path will be in next version set again to "sdcard/media..'/" so other apps can access the files again.

[2017-06-26 09:12] #1136 closed

[2017-06-26 09:45] Tioborto opened #1137 "Autoupload doesn't upload"
### Actual behaviour
Currently, for example all images are not being downloaded in a precisely folder.
For example :
    I take a picture in the current folder of camera (/storage/emulated/0/Download)
    The autoupload enable to remote folder (/Picture/Asus Download/)
    But there is noothing in the remote folder..

### Expected behaviour
My phone pictures are synchronized

### Steps to reproduc

[2017-06-26 10:00] georgefl commented on #1048
Hi Tobias,
I appreciate your effort for checking this. As I am sure Samsung won't change the policy on using the SD cards and I won't change my phone just because of this, I hope in future you will be able to implement this functionality for all users.
Cheers!

[2017-06-26 10:00] neteler commented on #1017
@tobiasKaminsky ok thanks. However, in this new version nextcould-dev crashes when clicking on "Settings" so that I couldn't test again the "Contacts backup"