[2017-02-11 13:34] tobiasKaminsky commented on #538
This will be very difficult in all implementations, or?
Image you have DSC_0001-DSC_1000 and IMG_201701xx...It would be very hard to guess the right prefix and strip this off.
If you have such inconsistent names I would sort the folder by date and then the fast scroll should show the dates.

[2017-02-11 13:45] mario commented on #646
Honestly, I also find it weird in english :)

On Sat, 11 Feb 2017 at 14:15, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-11 13:53] aronovgj commented on #644
Now it uploads both screenshots. The original and the copy.

[2017-02-11 13:57] mario commented on #644
Can you please uninstall, install it again and see if duplicates still
appear?
On Sat, 11 Feb 2017 at 14:53, aronovgj <notifications@github.com> wrote:

[2017-02-11 13:59] aronovgj commented on #644
I already reinstalled it and I am not able to reproduce it consistently

![screenshot_20170211-145555](https://cloud.githubusercontent.com/assets/10271770/22854261/95c2d7d2-f06a-11e6-85b5-74d32ce9c640.png)

[2017-02-11 14:06] aronovgj commented on #644
On yet another reinstall I see this:

![screenshot_20170211-150304](https://cloud.githubusercontent.com/assets/10271770/22854298/9fe41c7a-f06b-11e6-9239-6caf00355f2d.png)

and then this:

![screenshot_20170211-150314 2](https://cloud.githubusercontent.com/assets/10271770/22854300/a873a0d6-f06b-11e6-97f1-f06e33788098.png)

[2017-02-11 14:07] mario commented on #644
Strange, this was fixed. I will investigate - thanks
On Sat, 11 Feb 2017 at 15:06, aronovgj <notifications@github.com> wrote:

[2017-02-11 14:12] aronovgj commented on #644
Also the settings menu crashes since the new beta

[2017-02-11 14:23] mario commented on #644
Andy, Tobias,

Any idea what changed with settings?
On Sat, 11 Feb 2017 at 15:12, aronovgj <notifications@github.com> wrote:

[2017-02-11 15:03] tobiasKaminsky commented on #648
This was a mistake made by a wrong merge by me :/
Please download the updated file again: https://github.com/nextcloud/android/blob/beta/apks/latest.apk

[2017-02-11 15:04] tobiasKaminsky commented on #644
I updated all branches in the beta app and did a merge wrong :/
You can re-download https://github.com/nextcloud/android/blob/beta/apks/latest.apk as I updated it.

[2017-02-11 15:05] JSoko commented on #648
@tobiasKaminsky
Thank You!
It's fixed...

[2017-02-11 15:05] #648 closed

[2017-02-11 15:05] tobiasKaminsky commented on #646
And my new idea?

[2017-02-11 15:08] JSoko commented on #532
Fingerprint lock works an SGS7 nougat with beta 20170211 👍

[2017-02-11 15:08] tobiasKaminsky commented on #110
Beta tester on Play store is for Release Candidates of new major releases.
Alpha testing on Play store is currently not included, and I am uncertain if we should open daily builds to such a big audience or leave it for more tech-affine users on fdroid.

[2017-02-11 15:12] tobiasKaminsky commented on #415
It seems to work for all? So closing.
(Feel free to re-open if needed)

[2017-02-11 15:13] tobiasKaminsky commented on #390
@michalmiddleton can you install latest beta and try it as @mario has rewritten parts of auto upload.

[2017-02-11 15:22] aronovgj commented on #644
Yep settings now work again, double uploads still happen though.

[2017-02-11 15:49] mario commented on #644
That sounds strange :( I will check on Monday
On Sat, 11 Feb 2017 at 16:22, aronovgj <notifications@github.com> wrote:

[2017-02-11 16:01] mario commented on #646
I would maybe prefer just text links.

[2017-02-11 16:08] mario commented on #645
Sure. Keep in mind this needs to have valid reasoning behind it anyway.

[2017-02-11 17:03] jasonbayton commented on #631
I've had it installed most of today.

- Backup folders remained selected
- App path has remained
- No wild uploads so far

Is there anything else I need to look out for?

[2017-02-11 17:25] mario commented on #631
upload based on date?
On Sat, 11 Feb 2017 at 18:03, Jason Bayton <notifications@github.com> wrote:

[2017-02-11 17:27] jasonbayton commented on #631
How does it work, scan and upload a folder and all its contents or just new files?

[2017-02-11 17:51] tobiasKaminsky commented on #631
Upload based on date means that not the current upload date is used but the date when the file was last modified, e.g. you take an image on 31.01. and it gets uploaded on 01.02. Prior to the latest change it would be uploaded to 2017/02 as this was the upload date, but now it will get uploaded to 2017/01 as this is the creation date of the image (assuming you have enabled "use subfolder").

[2017-02-11 17:52] tobiasKaminsky commented on #631
Rescanning an upload folder and upload the files that are missing is another feature which is wished, but not yet implemented.

[2017-02-11 18:09] jasonbayton commented on #631
Perfect, just so I know what to expect. This sounds perfect :)

[2017-02-11 19:20] mario commented on #631
I can do this easily, but that is one way sync - do we want that right niw?
On Sat, 11 Feb 2017 at 18:52, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-11 20:03] baldurmen commented on #112
I can confirm too. Using the `v.1.41` app or the `20170209` beta version on Android 7 wields the same error. I have no problem whatsoever on networks with on IPv4.

This is pretty serious since IPv6 is the future and will be enable more and more, especially in business environments.

[2017-02-11 20:19] Marcwa19197 commented on #112
I can fix this by executing the following on my server which hosts the nextcloud:

ip -6 addr add <IPv6 address>/64 dev eth0
ip -6 route add default via fe80::1 dev eth0

this sets the correct ipv6 settings for my server.

[2017-02-12 06:38] Bugsbane commented on #147
So... We have all the contributors we could ever want to the Android app then?

[2017-02-12 06:40] mario commented on #147
Of course not, we always welcome and invite new contributors :)

On Sun, 12 Feb 2017 at 07:38, Bugsbane <notifications@github.com> wrote:

[2017-02-12 09:28] tobiasKaminsky commented on #147
We also plan to participate on Google Summer of Code, but yes there are still some ideas in this issue that are not done.
But as this is a long-torm "issue" / plan I think we can keep it in mind, but leave this one closed.
Of cource @Bugsbane if you have a great idea, please tell us 👍

[2017-02-12 09:41] tobiasKaminsky commented on #448
PR is #649 by @carstendev

[2017-02-12 09:46] strugee commented on #147
@tobiasKaminsky congrats on GSoC! That should be a great help; I'm glad this app is in such good hands 🎉

[2017-02-12 09:55] tobiasKaminsky commented on #631
I vote to keep the autoUpload as simple as possible and implement a real 2way sync soon, which then can also be limited by the user to a 1way sync (at least how I imagine it ;-) )

[2017-02-12 10:04] Bugsbane commented on #147
No disrespect meant. Just poking a little fun. My background is in marketing though, so I'd be happy to chat about some ideas, if you like. In general though, the pattern is to figure out who you're after (presumably Android devs interested in open source?), where they're hanging out  (XDA devs? Linux action show? Hacker News? You guys are more the experts here), what they care about and how they

[2017-02-12 10:14] jasonbayton commented on #631
I'm ok with that also.

[2017-02-12 10:42] jasonbayton commented on #631
OK small update - it just tried to upload my entire watched folder, again, to the 2017/02 directory on the server. Luckily another recurring issue "App was terminated" stopped it.

So
- it's still trying to push everything to this month's folder [1]
- it's still trying to upload duplicates of files that exist [1]
- whenever a new single file drops into the watched folder, it attempts to upload it

[2017-02-12 10:54] mario commented on #631
You're free to delete the logs now - I have them. Gotta see what's happening, as I can't reproduce this with my branch atm :((

[2017-02-12 10:58] mario commented on #631
Also, @tobiasKaminsky this sounds strange - didn't the timestamp fix fix the uploading to proper folders issue? Seems like not...

[2017-02-12 11:17] jasonbayton commented on #631
If I can force it to generate logs I'll happily supply more.

[2017-02-12 12:38] tobiasKaminsky commented on #631
How do you do this?
The timestamp fix is not for auto upload :/ I had it wrongly remembered. This fix "just" sets the upload date on the server to the last modification date and not to the current one.
Respecting and using the last modification date for "use subfolder" is something new :/
Sorry, my fault, I had a knot in my brain.
@mario I can develop this tomorrow if you like.

[2017-02-12 12:39] mario commented on #631
Sure @tobiasKaminsky, but please do it in this branch.

[2017-02-12 12:42] jasonbayton commented on #631
All I've done is set a directory to be uploaded via auto upload and chosen a custom directory. Everything else happening it's doing by itself.

[2017-02-12 12:58] tobiasKaminsky commented on #631
But this does not led to uploading already uploaded files, or? (maybe I am just a little bit confused)

[2017-02-12 12:58] tobiasKaminsky commented on #631
@mario ok, I'll do it :)

[2017-02-12 12:58] mario commented on #631
No it does not
On Sun, 12 Feb 2017 at 13:58, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-12 13:00] tobiasKaminsky commented on #631
But on https://github.com/nextcloud/android/issues/631#issuecomment-279209877 it seems as if there lots of lots of old images trying to be uploaded? (that is my confusion)

[2017-02-12 13:02] mario commented on #631
That issue is unrelated. Please ignore and make sure uploads happen to the directory based on date modified. :)

[2017-02-12 13:51] zenlord commented on #287
I have experienced this chunking-issue as well, from the moment I started experimenting with OwnCloud 8 and still after yesterday's migration to Nextcloud 11.0.1. My smartphone is a Sony Xperia Z5 compact, and it seems that the issue is gone now that I switched to the 'Open Camera'-app on Android instead of the stock 'Sony Camera'-app. I don't want to cheer to early though, because the chunking is

[2017-02-12 14:03] mario commented on #287
@zenlord is this with auto upload only? cc @chichin79  @janvonde @joekerna

[2017-02-12 14:07] zenlord commented on #287
I'm using the Android client v1.4.1 from Google's Playstore. If I understand correctly what's been said in this thread, my Android client doesn't use 'Autoupload', but is still on 'InstantUpload' (whiche seems to be confirmed because I don't have the 'Autoupload'-button in my client's menu. FWIW: My Z5compact has not yet received the OTA update to Android 7.

[2017-02-12 15:21] michalmiddleton commented on #390
Actually I'm not going to be able to test it. After many years on Android, I switched back to Apple. Thanks for all your work!

[2017-02-12 17:13] mario commented on #287
@zenlord you're right - gimme a few days to fix some bugs in the beta APK, and I'll let you know to install it - that one should have Auto upload ready for you even on Android 6 ;)

[2017-02-12 18:22] jasonbayton commented on #631
Oops, I've crossed issues.
The other one should probably be reopened.

[2017-02-12 19:15] jasonbayton commented on #630
It's currently doing an upload again, I'm up to 17 duplicates per file in the watched folder tday (of up to 600 files)

[2017-02-12 19:52] AndyScherzinger commented on #645
Sounds good to me, taking into account the necessary reasoning mentioned by @mario

[2017-02-12 19:55] AndyScherzinger commented on #538
Imho having just a simple fast scroll for starters would improve the UI.

[2017-02-12 19:57] AndyScherzinger commented on #626
True, nevertheless the original request is not about making installation more seamless but the setup of DAVDroid, so let's focus on that part first :)

[2017-02-12 19:59] AndyScherzinger commented on #112
Original request already has the main requirement: support ip6 since the app only supports v4 at the moment.

[2017-02-12 20:05] AndyScherzinger commented on #618
It is 4 numeric digits. Just an idea and meant as an inspiration, why don't we mimic the Android pin login like this implementation does? https://material.uplabs.com/posts/homesecurityui

[2017-02-12 20:48] RogerSik commented on #612
Sorry for re-opening. When we can count with Version 1.4.2?

[2017-02-13 01:41] kangaroo72 opened #651 "resized-Image-Feature?"
Hi,

I've seen, the presentation from Tobias ...
[https://conf.nextcloud.com/conference/NextcloudConference2016/program/proposal/10](url)

Cool ...

@tobiasKaminsky ... my english isn't that perfect to understand everything. But am I wright, that I heard, you want to make it possible for a - let me say - "quick dia show over cache"? So we don't have to transfer the full picture-size?? Are these pi

[2017-02-13 07:53] tobiasKaminsky commented on #390
How sad to hear this ;-)
If you ever come back, you can always use our app (and report bugs).
For now closing it as you were the only one reporting this issue.

[2017-02-13 07:53] #390 closed

[2017-02-13 08:01] tobiasKaminsky commented on #645
Yes of course, a negative pullApproval must always have a correct reason.
Then I will do a PR for our both Repos.

[2017-02-13 08:04] tobiasKaminsky commented on #645
https://github.com/nextcloud/android/pull/652

[2017-02-13 08:08] tobiasKaminsky commented on #626
Then we should discuss this with DAVdroid guys, right? Or can we do from our app-side something?

[2017-02-13 08:18] tobiasKaminsky commented on #651
This is correct. It is currently in our Beta version, available on Fdroid or here
https://github.com/nextcloud/android/blob/beta/apks/latest.apk if you might wanna try it.
We do not have an ETA, but I hope that we can integrate it soon as most of the code is already written by me.

[2017-02-13 08:18] mario commented on #630
@jasonbayton just built a new beta, please try.

[2017-02-13 08:19] mario commented on #646
@jancborchardt @eppfel thoughts?

[2017-02-13 08:19] mario commented on #644
Please try the latest beta build in a link given by @tobiasKaminsky .

[2017-02-13 08:20] mario commented on #632
Try this apk please:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-13 08:20] mario commented on #628
There's a new beta on the same URL - please try.

[2017-02-13 08:21] mario commented on #581
This should work in beta:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-13 08:22] mario commented on #287
Folks, you can try this out and let me know if this is better:

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

Keep in mind you'll have to configure Auto upload first :)

[2017-02-13 08:29] mario commented on #612
@RogerSik RC1 soon hopefully :)

[2017-02-13 08:30] mario commented on #496
@OlivierS1 @elpraga is this working with the newest beta?

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-13 08:31] mario commented on #612
@bekl101 new beta!!

https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-13 08:58] jasonbayton commented on #630
Thank you - installed during another upload session and the update appears to have stopped it for now.
Still no logs past the 6th I'm afraid!

[2017-02-13 09:08] mario commented on #630
@jasonbayton another build coming in 10 minutes - tiny changes to auto upload + it should upload to proper directories based on date modified.

[2017-02-13 09:10] jasonbayton commented on #630
Bugs or not, this is super fast development of an incredibly useful feature. Thank you :)

[2017-02-13 09:11] mario commented on #630
@jasonbayton that's what you get when you have a super-receptive audience that tests your every failure and celebrates every success :)

[2017-02-13 09:25] elpraga commented on #496
@mario Although I did not use the link you provided, I believe that I am using the same version, because I updated to the latest version using the app. Beta20170213 still creates the tmp file in the main storage and downloads fail. It is not working yet.

[2017-02-13 09:28] mario commented on #496
@elpraga thanks. Gonna investigate right away mate :)

[2017-02-13 09:30] elpraga commented on #496
Thanks for the swift answer and your help pal! :wink:

[2017-02-13 09:35] AndyScherzinger commented on #626
That is why I mentioned @rfc2822 :)

[2017-02-13 09:35] mrvanes commented on #628
I think it works as I expected now, but it took me a while to understand the new interface ;)
It's cool we can now differntiate not only per account, but also per local folder. Great job!!

[2017-02-13 09:37] AndyScherzinger commented on #628
@mrvanes be aware though that the new auto upload has only been activated for Android 7 in the stable releases and will be activated for Android 5 & 6 in an upcoming feature release, most likely 1.5.0

[2017-02-13 09:42] mrvanes commented on #628
One small remark: From a UXP point of view, there is little to no difference (other than a bit of whitespace) between the "Auto upload" widget and Setting but there's a world of difference since "Auto upload" is account specific and Settings is Global. Maybe a more visible divider or other visual clue may help out here...

[2017-02-13 09:44] mario commented on #496
I just tried this and it works :-/ Will be hard to debug...

[2017-02-13 09:45] AndyScherzinger commented on #628
@jancborchardt  @eppfel what do you think about the divider remark?

[2017-02-13 09:52] mario commented on #496
Can you please clarify "downloads fail"? What downloads? Do you mean uploads?

[2017-02-13 09:54] elpraga commented on #496
Wow.
Stupid question, do you have SDcard selected as the storage?

And where is the tmp file created? On the SD card or in the main storage?

How can I help to debug?

[2017-02-13 09:55] mario commented on #496
Hehe, yes I do have SD card selected as the storage. Can you screenshot your storage settings? I'd have to check where the tmp file is created.

[2017-02-13 09:59] elpraga commented on #496
No. I mean downloads. Uploads work fine for me, even automatic photo uploads.

The problem is when I try to download a file. The app creates a tmp file in the main storage (the official app doesn't, it creates the tmp file on the SD card). The file gets downloaded to the tmp folder correctly, but the app fails to copy it to its final destination, and an error stating download failed appears.

Did

[2017-02-13 10:01] mario commented on #496
Ok, so this is a wholeeee separate issue :D Can you open a new issue, and copy/paste the error logs if you have them? :)

[2017-02-13 10:03] mario commented on #630
Alert alert, new build ready :D

[2017-02-13 10:10] elpraga commented on #496
I'm so sorry! My bad!

I have already opened an issue for it a month ago: [Beta20161224: files don't get downloaded properly when SD card storage is selected](https://github.com/nextcloud/android/issues/476), and you said you'd have a look at it.

As you mentioned my name, I thought were referring to that issue.

I'm really sorry :angel:

[2017-02-13 10:11] mario commented on #496
No worries, it's just complicated to track everything :D

[2017-02-13 10:38] mario commented on #476
@tobiasKaminsky I fixed this. The issue was only in beta because some things weren't merged properly ages ago. Whenever we build new beta (tomorrow?) this will be fixed! Thank you @bekl101 and @elpraga for the patience!

[2017-02-13 10:38] #476 closed

[2017-02-13 10:47] #645 closed

[2017-02-13 10:47] elpraga commented on #476
That would be great news @mario ! Thank you so much! I will confirm that it is working as soon as you release a new beta.

[2017-02-13 11:20] bekl101 commented on #476
@mario
i agree with elpraga. Good news. I will test it too.

[2017-02-13 11:29] mario commented on #476
@bekl101 @elpraga should be here: https://github.com/nextcloud/android/raw/beta/apks/latest.apk

[2017-02-13 12:17] ctodobom commented on #632
I'm using f-droid version. I managed to stop the error removing and reinstalling. Version 20170211 looks that it is working well for me, but I can't tell if the original problem was solved. Hope anyone else with same issue that hasn't removed the app and reinstalled can check this.

[2017-02-13 12:19] bekl101 commented on #476
Only a short review. Download latest.apk, fresh install.
Selected files were transfered correct fom NC to SD-Card on my phone.
No error or other issues i can see for now.
Very good work. thanks

[2017-02-13 12:20] elpraga commented on #476
Great @mario ! The second Beta20170213 is working again! Files can be downloaded! Thanks a lot mate! :smile: :+1:

[2017-02-13 12:20] mario commented on #476
Glad it's working for you folks! ;)

[2017-02-13 12:27] bekl101 commented on #612
@mario
shot question to Autoupload.
Is it correct that when i activate "delete file after upload" the taken picture is stored on my NC, in the folder on my local SD-Card and the original file in DCIM is deleted?
If yes maby i have a small issue. Everything works but the file is not deleted.

[2017-02-13 15:29] jasonbayton commented on #630
I'm not sure if I pulled the apk down too soon before your announcement or not, but I just did once more to be sure - I'll let you know!

- Keeping storage path
- Keeping selected backup folders selected

Looking good so far!

[2017-02-13 15:32] tobiasKaminsky commented on #612
@bekl101 if you choose "delete file after upload" there should be no file left on the device after a successful upload. It is the same as uploading it and then delete the local copy AND the original file.

[2017-02-13 15:48] jancborchardt commented on #639
In the future, you will of course also be able to see the profiles of other people on click of their name/avatar. To have a consistency and learnability of functionality here, we should make tap do the action, and long-press copy the content.

Ok?

[2017-02-13 16:07] jancborchardt commented on #557
We can have the views »Activity« and »Recent«. The latter could basically be a shortcut to the file list but sorted by most recently modified (which includes recently added).

Uploads and modifications are part of activity too of course.

[2017-02-13 16:10] jancborchardt commented on #646
Isn’t the beta also available via Google Play?

I’d actually say the reverse. Images are always quicker to recognize. It’s a sea of text at the moment already and we should reduce that.

[2017-02-13 16:19] jancborchardt commented on #623
For sure agree with @OlivierS1.

»No files in here« should _only ever_ show when there are 100% positively absolutely no files at all in the folder. Otherwise it seems like files are gone. So the loader should be shown. :)

[2017-02-13 16:20] jancborchardt commented on #623
Also tagging as bug because it’s a glitch and seems like an error in the UX.

[2017-02-13 16:26] tobiasKaminsky commented on #639
Fine for me 👍

[2017-02-13 16:30] tobiasKaminsky commented on #623
Labels "1." to "4." are only for PRs.
for issues we have approved, which has to be confirmed by 2 devs if it as a feature or by 1 dev if it is a bug.

[2017-02-13 16:33] tobiasKaminsky commented on #581
As this is merged in #nextcloud/android-library/#33 I close this issue.

[2017-02-13 16:33] #581 closed

[2017-02-13 16:34] tobiasKaminsky commented on #628
please open a separate issue for this.
Closing this one as @mrvanes confirmed that it is working as expected.
Great job @mario

[2017-02-13 16:34] #628 closed

[2017-02-13 17:01] AndyScherzinger commented on #646
No, just release candidates. Also would recommend not to since the "beta feedback" on google play is handled via their dev console so we would have to copy paste everything to the issue tracker while the beta users from f-droid are happily opening issues here :)

I second that - especially since since I am also rather a visual type of person.

[2017-02-13 18:21] mario commented on #630
@jasonbayton no duplicate uploads yet?

[2017-02-13 18:49] jasonbayton commented on #630
Nothing as yet. Two things though.

1. It's occasionally confusing months 09 file in 10 folder?)
2. The app continues to terminate and not restart (I'll open another issue)

![screenshot_20170213-184603](https://cloud.githubusercontent.com/assets/3178412/22897802/fd1fd6e2-f21c-11e6-8039-a0e6a227cb12.png)

[2017-02-13 18:58] mario commented on #630
@jasonbayton do you have a file explorer of sorts on Android? Check what it says for last modified?

[2017-02-13 19:09] jasonbayton commented on #630
Yes, here's an example file uploaded to 2016/10 with a modified date of 2016/09.

![screenshot_20170213-190651](https://cloud.githubusercontent.com/assets/3178412/22898582/bbfc03a4-f21f-11e6-8b49-81e89a90c4ac.png)

How come you've opted for last modified instead of filename?

[2017-02-13 19:10] mario commented on #630
Because filenames are tricky - you have infinite variations of how a file can be called :)

[2017-02-13 19:12] mario commented on #630
@tobiasKaminsky since you've changed this code -> any idea why this would happen? :)

[2017-02-13 19:15] jasonbayton commented on #630
Understood. I can envision mis-organised files when 2 way sync comes in on full folder uploads (if a picture in 2015 was modified or - more likely - has its metadata stripped through being moved between systems or programs that don't respect it) but obviously no problem for new files immediately uploaded.

Too bad android can't work with date created.

[2017-02-13 19:28] mario commented on #630
@tobiasKaminsky I have attempted a fix, so @jasonbayton can test it tomorrow ;)

[2017-02-13 19:29] mario commented on #630
@jasonbayton let me know when you open the "app was terminated" and how to reproduce.

[2017-02-13 19:37] kangaroo72 commented on #651
Hi Tobias.
I can confirm the installation of the app. And I tried the slideshow via cache. Amazing ...
Great feature - also the new gui. Very nice.
Are you on the meeting in Frankfurt this week?

[2017-02-13 19:59] mario commented on #630
@jasonbayton starting tomorrow, we use exif tag date created where available, or as a fallback last modified from android.

[2017-02-13 20:03] mario commented on #612
@tobiasKaminsky it doesn't do that. Can you look into it tomorrow please, if you have the time?

[2017-02-13 20:14] afrish commented on #415
It's not working for me. On the latest 1.4.1. release, Nexus 5, I get error "Unknown error occurred"

[2017-02-13 20:39] aronovgj commented on #644
Issue seems to be gone. Thanks!

[2017-02-13 20:40] mario commented on #644
Thanks @aronovgj! :)

[2017-02-13 20:40] #644 closed

[2017-02-13 20:44] aronovgj commented on #85
Seems to be obsolete now.

[2017-02-13 20:44] #85 closed

[2017-02-13 20:51] aronovgj commented on #82
Oh it is back again. New finding: it only syncs for hours when freshly installed. I was testing the beta lately which involved a lot of reinstalling the app. So to avoid the issue: install the app, open it, force stop it, reopen it. And now it does not sync forever anymore. Could not see any other issues after aborting the filetree scan (if that is what it really does).

[2017-02-13 21:00] jasonbayton opened #653 "App was terminated error"
I see this on both the beta and production versions of the NC app,

This is not reproducible by myself, it happens randomly despite the apps being excluded from Android's battery optimisations.

Typically it'll look something like this:

- Take lots of photos, or upload lots of files in one go
- Leave the app (home/app switch buttons, not back usually - so the app is "open" still)
- The notificati

[2017-02-13 21:01] jasonbayton commented on #653
I've discussed this previously with @AndyScherzinger so perhaps he can also add a voice to the issue. Thanks @mario!

[2017-02-13 21:16] AndyScherzinger commented on #653
@tobiasKaminsky if I remember correctly this is due to the fact that we do not have a auto resume or restart implemented yet.

[2017-02-13 21:23] AndyScherzinger commented on #651
He can't make it, but I will be there and probably @eppfel.
Beware though that we changed the location to Die Zentrale Coworking :)

[2017-02-13 21:24] AndyScherzinger commented on #651
And @juliushaertl

[2017-02-13 21:48] kangaroo72 commented on #651
I'll try - depends on my health ... same time - 19h?

[2017-02-13 21:56] AndyScherzinger commented on #651
Yes 19:00 :)

[2017-02-13 21:56] kangaroo72 commented on #651
Just looked on the map ... the location before was nearly borderline for me (by train & bus from Wiesbaden). Berger Str. 175 is now to far for me :-( ...
Or someone coming by car from Wiesbaden / Mainz?

[2017-02-13 22:03] AndyScherzinger commented on #651
Not that I know of but you can ask in the Meetup. Pity though but well next time then. The original, usual location is closed for renovation. :(
Might have to cancel March since @eppfel and I won't be able to make it.

[2017-02-13 22:05] kangaroo72 commented on #651
Possible to buy a NC-Shirt there? :-)))

[2017-02-13 22:29] AndyScherzinger commented on #651
Unfortunately no, Felix and I got ours at the conference last year, but you can ping @jospoortvliet

[2017-02-13 22:31] kangaroo72 commented on #651
;-) thanks - I'm very interested in the meeting - maybe I'll make it possible .. we'll see ...
If so, are there signs where to go in?

[2017-02-13 22:36] AndyScherzinger commented on #651
Unfortunately no, but it is the door to the left right in front of the main entrance to the Berger Cinema, but you can also ping me on twitter, same username :)
(not wanting to post my cellphone number in public...)

[2017-02-13 22:40] kangaroo72 commented on #651
hmmm ... don't have twitter ...
there's a temporary mail, if you want to send it - thanks
l2420567@mvrht.com

[2017-02-13 23:21] AndyScherzinger commented on #651
Sent you my number

[2017-02-13 23:22] AndyScherzinger commented on #651
Bounced, or ping me on the forum. :)

[2017-02-14 00:09] jasonbayton commented on #630
Duplicates are going again.

![img-20170213-wa0001](https://cloud.githubusercontent.com/assets/3178412/22909054/ba0c476e-f249-11e6-99aa-48d473454d81.jpg)

[2017-02-14 01:30] ReinForce-II commented on #228
BTW, no chipher is supported while using an ECC certificate.

[2017-02-14 05:21] bekl101 commented on #612
ok, also it wasn´t my fault.
Same problem if you choose "move file to app folder"

[2017-02-14 06:51] tobiasKaminsky commented on #415
@afrish can you email us an test account to android AT nextcloud DO com ?
Then I will try to login and see what the problem is.

[2017-02-14 06:54] tobiasKaminsky commented on #82
As far as I know there is a once a complete server sync (metadata, not file content) directly after installation. Depending on your account size it might take a while.

[2017-02-14 06:56] tobiasKaminsky commented on #653
You can say "retry failed" which is a manual auto resume.
But the real question is: why is the app terminated? Auto resume is nice to have, but it never should happen that the app terminates in such a way.
@jasonbayton can you provide us with some logs? This would be really helpful

[2017-02-14 07:08] tobiasKaminsky commented on #612
Is the source file on an external storage? I remember that this can lead to problems where the file cannot be deleted and fails silently. This would explain why both is not working as the file needs to be deleted in both cases.

[2017-02-14 07:22] mario commented on #653
I'll look into this if I can, but auto-resume will probably be there only for 1.5. Dunno, have to think about it - since it's easy to implement, maybe I'll add it - thoughts @AndyScherzinger @tobiasKaminsky ?

[2017-02-14 07:53] tobiasKaminsky commented on #653
I vote for keeping the current auto-upload-branch/fix as small as possible and include new functionality in a later version. This way we can release it quicker.
(if we want to discuss this further we should open a new issue "auto resume/ retry" as this issue is about sudden app termination, which is a bug and, if we have the time and know the cause, should be fixed in 1.4.2.

[2017-02-14 08:29] bekl101 commented on #612
Yes, source is an external storage (sd-card). Later i can test with pictures seved to internal storage.

[2017-02-14 09:07] tobiasKaminsky commented on #653
There is already such an issue: #282, so please any further discussion and implementation in this issue.

[2017-02-14 09:09] jasonbayton commented on #653
Unfortunately the logs in the app are from 06/02 and only that day. I could try to get logcat but that'd require piping them to a file for _however long_ before the issue presents itself.

When logging in the app works again I can provide as often as you like.

[2017-02-14 09:10] tobiasKaminsky commented on #219
Is this still happening? I remember that there was a bug in the beta version that lead to download the remote/resized images instead of displaying the local one.

[2017-02-14 09:11] aronovgj commented on #82
Yes, I understand. My question is why this is done in the first place if I don't need to let it finish syncing and everything works anyway. Why is this needed? Even the folder sizes are displayed somewhat correctly without  finishing the sync

[2017-02-14 09:13] tobiasKaminsky commented on #21
Although we made great progress with the latest beta, as I understand we still need a custom folder for auto upload. @AndyScherzinger this is something you have on your roadmap, right?

[2017-02-14 09:16] tobiasKaminsky commented on #653
Regarding the logs in beta, I assume, can you please open a new issue? I am on train and cannot verify it.

[2017-02-14 09:24] rfc2822 commented on #626
Would be cool if you could create a thread in our DAVdroid forums, because I rarely check my Github account.

Maybe it would be possible that after DAVdroid account creation, the DAVdroid account activity is launched (either by DAVdroid or NextCloud app), so that users can edit their subscriptions and settings.

[2017-02-14 09:34] jasonbayton opened #654 "Beta (gh) logging not working"
### Actual behaviour
- In the log, I'm only seeing entries for 06/02 (2017) and have done for several days. Trying to delete them looks like it works, but they're back when I return to the log page.

### Expected behaviour
- Up to date logs

### Environment data
Android version: Everything presumably from build 06022017

Device model: Vodafone VFD 900

Stock or customized system: Stock

Nextcloud

[2017-02-14 09:36] jasonbayton commented on #631
I'd say this _basically_ works now. Perhaps with the build today it'll stop confusing some images with the months they should be organised into, but for the most part it's working. I'll test the new build when it drops

[2017-02-14 09:37] jasonbayton commented on #654
@tobiasKaminsky

[2017-02-14 09:40] afrish commented on #415
@tobiasKaminsky I've sent email with details

[2017-02-14 10:08] mario commented on #631
@jasonbayton if I understood our auto-build system properly, this should already be there so please try it :)

[2017-02-14 10:49] jasonbayton commented on #630
It's weird in how it's doing this - almost like it's not checking the server for existing files first.
I've just pulled down the latest apk and will see what it does today.

[2017-02-14 10:51] mario commented on #630
@jasonbayton it does, but it decided to create a new file anyway (that's by design currently, since we can't know if it's the same file). The bigger issue is why it decides to create two jobs for the same file...

[2017-02-14 10:52] mario commented on #630
Today's beta should fix the date created (from EXIF), and not this - working on this today if I can find the real cause.

[2017-02-14 10:56] jasonbayton commented on #630
Did you answer your question? It should know what it's uploaded shouldn't it? Isn't there a local db in the app to keep track of these things, or MD5, or .. something else that lets the app know what it's dealing with?

[2017-02-14 10:58] mario commented on #630
We could use hashing algorithm for local files, but can't compare them to remote files because we don't have hashes of remote files (and we can't have them). While in theory one could get uploaded files from jobs issued, you can also clear jobs and what then?

[2017-02-14 12:00] mario commented on #630
New beta in 10 minutes, hopefully fixing this :P

[2017-02-14 12:00] mario commented on #653
I think I found the issue, but dunno where/why it's happening - investigating! :)

[2017-02-14 12:08] jasonbayton commented on #630
I guess it'd again be good to see how Google Photos handles it, but then their implementation is different as it's a manual backup on request (backup all now) and wouldn't compare to a real two-way sync like clients such as bittorrent (resilio) sync do.

[2017-02-14 12:32] jasonbayton commented on #653
You're a machine @mario

[2017-02-14 12:51] mario commented on #653
@jasonbayton please try the new apk :)

[2017-02-14 12:53] mario commented on #653
Keep in mind that on Android, one can never GUARANTEE that something won't die - but newest changes reduced the chances of that to a minimum.

[2017-02-14 13:27] jasonbayton commented on #653
Oh no, not a persistent notification :p
(If that's what it takes, so be it..)

[2017-02-14 13:28] mario commented on #653
@jasonbayton you'll tell me if it helps.

[2017-02-14 13:30] jancborchardt commented on #623
Ah ok. I assumed "to develop" is basically "approved" since by definition if a PR exists it is "2. Developing". ;)

[2017-02-14 13:31] jasonbayton commented on #653
I'll let you know

[2017-02-14 14:37] jancborchardt commented on #618
We should use the system default keyboard (number pad) always instead of inventing our own. Or what issue did we want to solve with it?

It will just lead to look and feel inconsistencies otherwise. We don't want to maintain that.

Also, the inputs should be 4 separated ones like now to make clear it's 4 numbers. :) We could change to empty/filled circles for a nicer look maybe but not if it's too

[2017-02-14 14:39] jancborchardt commented on #147
@Bugsbane good points! Do you have ideas how to improve the "Participate" screen in the app? :)

[2017-02-14 15:31] gyoda commented on #632
Can you link to the fix for this issue? Seeing this as well. Interested in how it is resolved.

[2017-02-14 15:52] jancborchardt commented on #571
@strugee we do that in the server and it's ok. It makes it clear what is planned for which version, roughly. If something falls off the current version, it can be postponed or even mass-reassigned.

[2017-02-14 15:53] bes1002t commented on #553
@strugee yes you're totally right, it's not the solution to every problem. But everybody prefers a different  way to sync their information. I think it's not userfriendly to say "do it like we want!"

[2017-02-14 16:05] mario commented on #632
@gyoda https://github.com/nextcloud/android/raw/beta/apks/latest.apk - if you want to try it out. Just to be sure, remove the app and install this then.

[2017-02-14 16:05] #632 closed

[2017-02-14 16:09] gyoda commented on #632
@mario Thanks for the link, and sorry for the confusion. I was interested in the code fix for this issue. Wondering how you got around a framework error like that one. Could you link to the checkin where this was fixed?

[2017-02-14 16:10] mario commented on #632
We actually don't - this issue happened because of a bug in the code that created 100+ jobs in the first place.

[2017-02-14 18:03] smichel17 opened #655 "Rename "remove" to "delete""
"Delete" is a standard word to describe this action and I know what it does already. "Remove" is something new that I have to think about what it does.

I suspect this wording was used so that "remove from server" and "remove from device" can be options in the dialog, but I think "Delete from device" is just as clear.

As an added benefit, "Delete" is a lot more visually recognizable in the menu c

[2017-02-14 18:33] taaem opened #656 "Socket timeout exception on file upload"
### Actual behaviour
When I upload a file there is a <80% chance of failing to upload. The app itself shows a error message "Es ist ein Fehler während des Wartens auf den Server aufgetreten", which translates to "There was an issue while waiting for the server".

### Expected behaviour
It should upload the file and I can upload via the desktop client and even the web interface on the same device.

[2017-02-14 19:59] tobiasKaminsky commented on #82
I updated the title. We will have a look into this.

[2017-02-14 20:00] tobiasKaminsky commented on #655
Although I am not a native speaker "delete" is more know to me than "remove".
@jancborchardt

[2017-02-14 20:09] tobiasKaminsky opened #657 "Label for PR"
https://github.com/nextcloud/android/blob/master/CONTRIBUTING.md#pull-request says:
-   1 to develop
-    2 developing
-    3 to review
-    4 to release

@jancborchardt correctly says in https://github.com/nextcloud/android/issues/623#issuecomment-279707231 that "1. to develop" for a PR is double.
So I would just remove "1. to develop" and rename the remaining starting by 1.

For issues we will s

[2017-02-14 20:41] tobiasKaminsky opened #658 "Server not in "trusted_domain" fails silently on connection"
### Actual behaviour
- "unknown error occurs"

### Expected behaviour
- show error "Untrusted domain: $shortLinkToWiki"

### Steps to reproduce
1. access a server with an untrusted domain with the app
2. server checking turns into "unknown error"

[2017-02-14 21:03] jacksgt commented on #527
The looping code is the [run-function](https://github.com/nextcloud/android-library/blob/11695f07731f7710f6ddc91862e24ea6d25afb88/src/com/owncloud/android/lib/resources/files/ExistenceCheckRemoteOperation.java#L84) from [nextcloud/android-library](https://github.com/nextcloud/android-library/):

https://github.com/nextcloud/android-library/blob/11695f07731f7710f6ddc91862e24ea6d25afb88/src/com/ownc

[2017-02-14 21:39] AndyScherzinger commented on #657
Sounds good 👍

[2017-02-14 21:42] kangaroo72 commented on #651
Just want to know ... is a duration of the meeting known?

[2017-02-14 21:45] AndyScherzinger commented on #651
Usually 19:00 to around 22:00

[2017-02-14 21:50] AndyScherzinger commented on #21
Exactly,yes :)

[2017-02-14 23:17] jancborchardt commented on #558
@tobiasKaminsky regarding your questions:

It can have some delay, but should be in the same view, below the other results, as it is on the server. No extra user interaction. It’s not sooo data intensive as it’s only a list of files, right?

No, as it’s in the header already. As @eppfel said too.

Yep, second line will be folder path instead of the size and modified date info as normally. But same

[2017-02-15 00:18] jasonbayton commented on #630
Just tried this, WhatsApp restored from Google Drive as per usual when logging in on a new device for the first time and NC beta pushed every restored file from 2015 -> Present to /2017/02

[2017-02-15 00:21] jasonbayton opened #659 "Nextcloud beta has stopped"
### Actual behaviour
- When tapping settings in the app menu the app crashes instantly with the error "Nextcloud beta has stopped"
### Expected behaviour
- Opens settings without issue

### Steps to reproduce
1. Open NC and slide out menu
2. Tap settings
3. Watch app crash

### Environment data
Android version: 5.1

Device model: Samsung Galaxy J3

Stock or customized system: Stock

Nextcloud app

[2017-02-15 03:34] strugee commented on #571
@jancborchardt yeah, I personally found the mass-reassignment to be a PITA, but hey. Whatever works :)

I think I misread the proposal (and the way the server does things), though - in the pump.io project we release periodically with whatever went in during that time, but what's being proposed here is almost the opposite - just doing a release whenever enough features have made it in. So I guess m

[2017-02-15 03:57] MorrisJobke opened #660 "Duplicate entries"
### Actual behaviour
- open the app
- see all file list entries duplicated

![screenshot_20170113-123716](https://cloud.githubusercontent.com/assets/245432/22960045/815c8f66-f300-11e6-8afa-97bba4a6b0f5.png)

### Expected behaviour
- don't see duplicated entries

### Environment data
Android version: ...

Device model: Galaxy S6

Stock or customized system: stock

Nextcloud app version: last weeks

[2017-02-15 06:09] mario commented on #660
@MorrisJobke have you used filtering/search before that?

[2017-02-15 06:16] mario commented on #659
Strange. I'll try to open the settings :)

[2017-02-15 06:17] mario commented on #630
Ah, so this is different to the backup -> restore strategy I had in mind :-/

Ok, so I guess currently the only solution is to temporarily disable sync of that folder.

[2017-02-15 06:58] MorrisJobke commented on #660
Could be ... yes there is one screenshot that seems to trigger the search:

![screenshot_20170113-123513](https://cloud.githubusercontent.com/assets/245432/22963659/c139b7c6-f319-11e6-9566-32b77ba898f7.png)

[2017-02-15 06:59] mario commented on #660
Then I'm already working on a fix for this and will be in 1.4.2.

[2017-02-15 07:14] JSoko commented on #659
Had that issue some betas before, but not on 20170214 and 20170215.
NC 11.0.2 RC1

[2017-02-15 08:30] mario commented on #659
I can't reproduce this :-/

[2017-02-15 08:34] jasonbayton commented on #659
I can. Every time :(

[2017-02-15 08:49] #653 closed

[2017-02-15 08:51] #631 closed

[2017-02-15 08:51] mario commented on #630
@jasonbayton closing this as the original issue is solved.

[2017-02-15 08:51] #630 closed

[2017-02-15 08:55] mario commented on #659
I have managed to reproduce it. It's only in beta and related to the fingerprint PR.

[2017-02-15 10:31] jasonbayton commented on #659
Nice job :D

Let me know when the relevant pr build drops :nerd_face:

[2017-02-15 10:34] mario commented on #659
@jasonbayton this one doesn't depend on me :P https://github.com/nextcloud/android/pull/624

[2017-02-15 10:46] mario commented on #630
@jasonbayton oh wait, I just re-read your issue! Can you check in file explorer:

- filetype of those images, and do they have relevant EXIF tags
- last modified attribute of those images

[2017-02-15 10:53] jasonbayton commented on #630
Yes sure, they're mostly jpg and it looks like last modified is yesterday's date.. I don't see any other EXIF (created, etc) and by being backed up and restored it would appear it's wiped out the original modification dates.

[2017-02-15 10:54] mario commented on #630
Cool. I already wondered if exif tags reading or last modified stopped working.

[2017-02-15 11:01] jasonbayton commented on #630
It's a restore of _another backup_ so as long as I install NC and configure it after the WhatsApp (or any other) restore it'll be fine.

Until 2way sync.

Then it's going to see there are a heap of duplicate filenames with different modified dates and litter me with duplicates.

[2017-02-15 11:54] spacemanspiff2007 commented on #21
This would be a huge step foreward since I keep my notes already in a custom folder.
In which version is the available (I still got 1.4.1 from the playstore.

[2017-02-15 11:55] mario commented on #21
This will hopefully be in 1.5.0.

On Wed, 15 Feb 2017 at 12:54, spacemanspiff2007 <notifications@github.com>
wrote:

[2017-02-15 12:36] jmhunter commented on #110
Have just tested the latest APK (20170215) from github as above. (At first I installed F-Droid and it automatically picked up on my existing 1.4.1 Nextcloud app; I didn't realise there was a separate 'Beta' app I needed to choose.. hopefully this post will help someone else scratching their head looking for beta updates to the regular app!)

I can confirm that auto-upload seems to be working fine

[2017-02-15 16:08] tobiasKaminsky commented on #558
@jancborchardt thanks for clarifying, although @mario will probably do the most of the implementation ;-)

[2017-02-15 16:09] tobiasKaminsky commented on #660
#609 for references

[2017-02-15 16:17] tobiasKaminsky commented on #21
@mario be careful with ETAs, we do not want to disappoint people and I do not know how much time @AndyScherzinger has is the upcoming weeks ;-)

[2017-02-15 16:24] mario commented on #21
@tobiasKaminsky I hope he'll have the time, but if not, I'm also not completely useless :P

[2017-02-15 16:30] mario commented on #21
P.S.2. also, I said *hopefully* :D

[2017-02-15 16:39] tobiasKaminsky commented on #21
As I understand (and planned with Andy in #285) it should be possible to use any folder across the device with any content as source folder for auto upload, with a nice folder picker.
Currently the folders are picked when they contain images or videos.
But still it should only be auto upload.

[2017-02-15 16:40] mario commented on #21
Understood - thanks for the clarification :)

[2017-02-15 16:50] mario commented on #657
Sure.

[2017-02-15 19:23] ThomasSteinbach commented on #21
Finally "it should be possible to use any folder across the device" as target for any folder on the Nextcloud.

Example Use Case: I have a password vault file on my Nextcloud under "workspaces/<appname>/vaults/...". Now I want to be able to sync the _vaults_ directory on Nextcloud with the corresponding working directory of my Android app on the smartphones SD card.

Another Use Case could simply

[2017-02-15 19:25] tobiasKaminsky commented on #21
This is planned for the next steps, see #285.
First complete 1 way sync: device -> server
After that the other steps ;-)

[2017-02-15 19:59] kangaroo72 commented on #651
I think you're in middle of the meeting. It wasn't possible for me - maybe next time.
Have a nice evening!!

[2017-02-15 20:39] ThomasSteinbach commented on #21
Sorry for the confusion. I didn't meant _sync_. I replaced _sync_ with _pair_ in my previous comment.

I just wanted to highlight that the user might select on both sides, the server and smartphone, an arbitrary folder location for exchanging files. Or is selecting an arbitrary folder on the Nextcloud server a future feature too?

[2017-02-15 21:38] Flole998 opened #664 "Implement Policies"
In the fingerprint PR we had a little discussion about security. I mentioned safetynet and even though it was meant as a joke, now when i think about it it's actually not that stupid. In order to give admins more control about what users are allowed and have to do, I request to introduce policies that can be set by the admin. Those policies can be things like:
- require passcode or fingerprint aut

[2017-02-15 21:42] mario commented on #664
That would require server support, wouldn't it?

[2017-02-15 21:45] Flole998 commented on #664
Yes, and also library and maybe even mac/windows client support depending on what policies will be implemented. On the server there is no real need for a fancy UI, as this is an advanced function it would be fine to have it controllable using the config file I think. That would also add additional security.

[2017-02-15 21:46] mario commented on #664
I definitely like the idea, but this would take forever to discuss and coordinate right now :)

[2017-02-15 21:59] Flole998 commented on #664
On the serverside we could just add it to the capabilities, similar to how the theming was added. I could have a PR up for that in one or two weeks. That would be a good base for that feature, and if we leave it undocumented for now it shouldn't cause any issues as nobody will add the options to the config file and expect it to work as they are undocumented. As soon as the app and library are read

[2017-02-15 21:59] eppfel commented on #646
Third that

I propose the buttons should never be part of a sentence, as it clearly breaks the continuous text and are quite self-explanatory.

[2017-02-15 22:08] eppfel commented on #618
@AndyScherzinger @tobiasKaminsky Can we not solve this issue without introducing a new keyboard. Like limiting the height of the softkeyboard?

[2017-02-16 01:55] strugee commented on #219
I can't reproduce anymore.

[2017-02-16 03:41] Nephatiu commented on #659
Confirming this is also happening on my Samsung Galaxy J5 (rooted) stock, btw.

From the very first try, never got into Settings yet.

Funny, as that also was the very first thing I did when I launched the app,... Did not last long... ;p

Anyway, keep up te good work! ;p

Greetings,

 ~ N.d.A.

[2017-02-16 08:04] JSoko opened #665 "20170216 Cachesize"
### Actual behaviour
Just a small thing:
- enter 100 as cachesize: cachesize will be set to 100 MB
- enter 0100 as cachesize: cachesize will be set to 64 mb
- enter 0700 as cachesize: cachesize will be set to 448 MB
- enter 018 as cachesize: app crashes
- enter 008 as cachesize: app crashes
### Expected behaviour
- Also cachesizes with leading 0 should be handled correct

### Steps to reproduce
se

[2017-02-16 13:53] hitam4450 opened #666 "[Feature request] Automatic Upload of files / directories other then Pics and Video"
Hello to all,

I currently use several logging apps (finance, time-sheet, trip logger, etc ) and they all provide a backup of there input data onto the device (internal or external) storage! Instead of uploading them one by one manually, it would be more advantageous by creating rule(s) to upload them automatically to a specific upload folder in Nexctcloud!

 I am sure many other users feel a simi

[2017-02-16 16:33] linucksrox commented on #460
We experienced this issue today with the Windows desktop client for a couple users (not sure if that should be a separate issue, or if this issue should be broadened to include other clients).

[2017-02-16 18:41] tobiasKaminsky commented on #21
As described in #285 currently there is only the way device -> server.
The other way around is planned.
As for the auto upload you can change the target folder on the server, e.g. in which folder on the server you want to store your uploaded images from the camera.

[2017-02-16 18:44] tobiasKaminsky commented on #664
First this should be discussed in a proper way with the server guys.

[2017-02-16 18:45] tobiasKaminsky commented on #646
What about adding a similar button for APK download? With this we can use a more generic sentence "get it here:" and show "apk button" and "fdroid button".

Might be missed while discussing ;-)

[2017-02-16 18:46] tobiasKaminsky commented on #219
Thank you for replying @strugee
I close this issue for now, if you experience it again, please re-open.

[2017-02-16 18:48] tobiasKaminsky commented on #659
@mario does @Flole998 knows about the crash? Is there a stacktrace?

[2017-02-16 18:48] Flole998 commented on #664
@tobiasKaminsky I will open a feature request over there and reference this one. As this is mainly something that has to be done in the App, it should be discussed here. I however agree that it is necessary to talk to the server guys if they want that stuff in their code ;)

[2017-02-16 18:49] Flole998 commented on #659
I know about it and there's even a fix already up, just waiting for approval if I'm not mistaken.

[2017-02-16 18:52] tobiasKaminsky commented on #666
Yes, this is planned and already wished in #21:
The next step of extending auto upload will be that you can choose any local folder on your device. Every new file will then be auto uploaded to the corresponding server folder (which is already chooseable).

@AndyScherzinger

[2017-02-16 18:53] tobiasKaminsky commented on #460
There is a  separate repository for windows client so please report this issue also over there.

[2017-02-16 18:57] tobiasKaminsky commented on #664
And do not forget the other clients (windows, iOS, ...) ;-)

[2017-02-16 18:58] tobiasKaminsky commented on #659
Can you give me a link?
If it is a problem of fingerprint, then you can fix this in your branch and I can merge it into beta?

[2017-02-16 19:02] Flole998 commented on #664
I think we should focus on one client first, to get the basic principle up and running and define how policies are delivered to the device. As soon as that is set, other clients could implement it aswell (although some features will be on one system only, for example allow the software to run only if a password has been set would be a Windows/Mac specific feature.)

[2017-02-16 19:04] Flole998 commented on #659
Its on PR #624 that's referenced above. Fix is already in my branch, I think it just got a little lost because of the discussion about an authentication fallback over at that PR.

[2017-02-16 20:18] tobiasKaminsky commented on #659
Ok, merged to beta.
Will be available tomorrow on fdroid or updatable directly in beta.

[2017-02-16 21:16] Fade78 commented on #342
Hello,

I tried the client on google play, I tried the client on F-droid (1.4.1) and the beta client on F-droid (20170214) and I still have the "unknown" error. I'm on a Galaxy S5 Android 4.4.2.

[2017-02-16 22:31] jasonbayton commented on #659
I'll consider this closed unless I find it still broken when I test later. Thanks! :D

[2017-02-16 22:31] #659 closed

[2017-02-17 06:39] MorrisJobke commented on #616
I ran into this issue as well. I was connected to a captive portal wifi hotspot and had the app opened. Then I wanted to refresh the files list because I just uploaded something to the server. It just returned from the loading state (those little moving bar below the header) to the normal state without showing any update or error message, but I recognised that all folders were shown as "0 B" in si

[2017-02-17 07:30] JSoko commented on #665
Issue exists also in 270217

[2017-02-17 08:46] hitam4450 commented on #666
@tobiasKaminsky Well, thanks for the feedback and good to know, that this feature is WIP!

Keep up withe good work !

regards, hitam4450

[2017-02-17 09:45] JSoko commented on #666
Rule #1, never ask for ETA’s ;-)

It'll come As early as possible and as late as necessary...

[2017-02-17 13:46] codethief commented on #21
@tobiasKaminsky I am really confused right now. Wasn't this issue here about picking an arbitrary folder on the device to correspond to a chosen folder on the server? I don't understand at all what auto-upload functionality has to do with this…

[2017-02-17 15:06] tobiasKaminsky commented on #21
@codethief as we do not have a real sync mechanism we can only extend auto upload (on the short term). Again, see #285 as it is described there how we want to proceed.

Maybe I am understanding it wrong, then please write it a little more in detail.

[2017-02-17 15:07] tobiasKaminsky commented on #665
Yes, as nobody fixed the bug. ;-)
As soon as I (or someone other) fixed it, I will reply and then you can test it.

[2017-02-17 15:08] tobiasKaminsky commented on #342
@Fade78 if you want you can write an email to android AT nextcloud DOT com with your server address and I will have a look, please refer to this issue.

[2017-02-17 15:13] zmatsuo commented on #618
I will study next project.
https://material.uplabs.com/posts/homesecurityui

Which is better system default keyboard or new material keypad?

[2017-02-17 18:48] jasonbayton opened #667 "Feature request: upload all now"
Currently I can select the folders I want to be monitored but I can't make it check and upload files not currently in the corresponding server directory.

As a stop-gap for true two way sync it'd be nice to have an option in folder settings (where the directory, upload on WiFi only, etc are set) to scan and backup now any files not in the set remote directory.

This may be a good permanent solutio

[2017-02-17 20:18] jasonbayton commented on #667
@mario I can't assign on mobile by the looks of it. FYI.

[2017-02-17 23:51] ioguix commented on #601
Same problem here with the android app.

My servers answers quickly, but the app is not able to authenticate:
[code]

[2017-02-18 00:39] ioguix commented on #601
Ok, I found that the root cause was the bruteforce parameter. I cleaned the database entries then everything went back to normal.

[2017-02-18 02:05] mario commented on #667
@jasonbayton again the issue with the date modified :( Unless you only want us to check by filename :-/

But I get your point.

[2017-02-18 06:52] jasonbayton commented on #667
Date modified is going to be an issue for 2 way sync also isn't it?

[2017-02-18 07:38] #219 closed

[2017-02-18 13:20] jasonbayton commented on #667
Why not check against both? Date in filename takes precedence as with all modern cameras and phones the date (in some form, identifiable through a regex query?) in the filename is the true date, while date modified can be changed.

Where date in the filename can't be detected, fall back to last modified.

Is that impractical to implement? Is this idea flawed?

[2017-02-18 15:24] proninyaroslav opened #668 "Folder sync"
Hello. Will the implemented ability to folder synchronize, as is done in the client for OwnCloud https://github.com/owncloud/android/issues/1136 ?

[2017-02-18 15:33] jasonbayton commented on #667
cc: @AndyScherzinger @tobiasKaminsky

[2017-02-18 15:55] JSoko commented on #668
It's on the roadmap: #285

[2017-02-18 15:56] mario commented on #668
Either that or if I understood the request right, we also have "Set as available offline" already baked in.

[2017-02-18 21:34] jasonbayton opened #669 "Beta 20170218 crash after moving directories for autoupload"
### Actual behaviour
- From the server move the autoupload directory somewhere else
- From the app open autoupload settings to change
- App hangs while refreshing new content list
- App crashes
- App won't reopen

### Expected behaviour
- Allow the change with no fuss.

### Steps to reproduce
See above. Also video:

https://www.youtube.com/watch?v=bUiMs8ZqaM8

Just to add it corrected itself and o

[2017-02-19 00:55] jasonbayton commented on #664
I commented in the referenced ticket, but probably better here (since there's activity in this repo)

Have a look there to see what's been suggested on the server team.

Not at all, depends how deep you want to go, with device admin privileges on Android NC could check and enforce a passcode before it functions. I imagine that is far above the requirements of a sync client but the options exist.

[2017-02-19 00:58] jasonbayton commented on #408
@mario I'd love to put a basic app together, perhaps we can discuss on the forum and keep this on topic.

[2017-02-19 07:59] tobiasKaminsky commented on #669
@mario or @AndyScherzinger (as this might be an old bug and more related to UI)

[2017-02-19 08:00] tobiasKaminsky commented on #408
@jasonbayton you can always join us on IRC: #nextcloud-mobile

[2017-02-19 08:21] jasonbayton commented on #669
A similar scenario:

Try to open a file in a folder that hasn't finished loading yet (dashes still moving across the top) and the app crashes. Wait for it to finish our go to a folder that has previously listed and it's fine.

https://youtu.be/bi9mEI8H3Eo

[2017-02-19 13:00] tobiasKaminsky commented on #669
Similar yes but not the same. Can you please open up a new issue for this?

[2017-02-19 13:25] tobiasKaminsky commented on #571
@mario as discussed on IRC you wanted to create a diagram for the new process idea

[2017-02-19 13:31] jasonbayton commented on #669
Ok, it seemed to be the same sort of app not fully synced and receiving user input crash.

[2017-02-19 13:42] tobiasKaminsky commented on #503
tested on latest beta, and it is working.

[2017-02-19 13:42] #503 closed

[2017-02-19 13:43] mario commented on #669
I'll take a look at the original issue you've mentioned @jasonbayton, but this is probably an old bug.

[2017-02-19 14:16] tobiasKaminsky commented on #654
Fixed. Please verify in next beta.

[2017-02-19 14:33] twixi commented on #668
Very need full sync from Server to phone and vice versa too!

[2017-02-19 15:19] tobiasKaminsky commented on #668
This is already planned (and briefly described) here: #285

[2017-02-19 15:48] tobiasKaminsky commented on #271
I am unsure if this is really a bug or if it is just time (and battery) consumptive to have all those files scanned.
This is probably related to another issue, where it is discussed if a first complete sync is necessary.

[2017-02-19 15:48] tobiasKaminsky commented on #157
ping @schiessle

[2017-02-19 15:51] tobiasKaminsky commented on #156
As far as I know we use a check to cancel thumbnail downloading if the thumbnail is not currently visible.
Tested it in latest master and it seems to work.
(do not know what error I experienced back then)

[2017-02-19 15:51] #156 closed

[2017-02-19 15:51] tobiasKaminsky commented on #102
cc @jancborchardt @eppfel

[2017-02-19 15:54] tobiasKaminsky commented on #318
I guess this can be solved by having a generic File model:
- common file interface
  - OCFile extends this interface
  - File extends this interface

The same can be don with the Adapters: having the common functions in a AbstractListAdapter and extending both List from this one.

[2017-02-19 15:57] tobiasKaminsky commented on #320
Changing the server address should only be possible by removing and re-adding the account as this is a very basic change of the whole app.
The question is why is your server address changing this often @koksnuss and how to solve this?
Your idea is just trying to bypass the real problem.

[2017-02-19 15:57] #320 closed

[2017-02-19 15:59] tobiasKaminsky commented on #344
Fine for me.
Just to clarify: is it "enough" to have a "switch account" in the overflow menu, which then shows the blocking account chooser?

[2017-02-19 16:01] tobiasKaminsky commented on #193
Similar to this one: #383 (but this one is for pausing upload in the upload pane)

[2017-02-19 16:03] tobiasKaminsky commented on #259
No response, therefore closing.
If you experience the error again, please reopen with additional infos.

[2017-02-19 16:03] #259 closed

[2017-02-19 16:05] tobiasKaminsky commented on #181
No, it seems to be fixed.

[2017-02-19 16:05] #181 closed

[2017-02-19 16:07] tobiasKaminsky commented on #351
Is this still happening?
@mario as you have a device with an external sdcard?

[2017-02-19 16:09] tobiasKaminsky commented on #286
@SRevels @edgeHB can you both try the latest version (or the latest beta found on fdroid or
https://github.com/nextcloud/android/blob/beta/apks/latest.apk)

[2017-02-19 16:10] tobiasKaminsky commented on #347
Is this still happening with the latest official release or with the latest beta?

[2017-02-19 16:12] tobiasKaminsky commented on #380
Is this still happening?

[2017-02-19 16:14] bodscho commented on #112
why is ipv6 not possible at the android app? Because ios app work fine on ipv6 wifi

[2017-02-19 16:16] tobiasKaminsky commented on #431
This is a good idea, but only for manual upload as the autoupload is done in the background and can annoy users if the get such a dialog.
For images both thumbnails, local and remote, should be shown.
@jancborchardt @mario @AndyScherzinger

[2017-02-19 16:17] tobiasKaminsky commented on #428
This will be fixed in 1.4.2.
If you then still experience this issue, please reopen.

[2017-02-19 16:17] #428 closed

[2017-02-19 16:22] tobiasKaminsky commented on #234
@selsen can you test it, again?

[2017-02-19 16:33] tobiasKaminsky commented on #400
I vote for the last used folder as start. This is then the same bahaviour as on many programs (firefox) on the desktop.

[2017-02-19 16:34] tobiasKaminsky commented on #400
@mario @jancborchardt please confirm if "last used folder" should be shown as first and then approve

[2017-02-19 16:35] tobiasKaminsky commented on #112
The http library we are using does not support ipv6 :/

[2017-02-19 17:00] mario commented on #669
Cannot reproduce this at all,sorry :(

[2017-02-19 17:31] AndyScherzinger commented on #668
Well, the original request referes to oC's "set available offline" functionality for folders not just files which is slightly different. Whenever #285 comes to life for customer folders + 2-way sync we have a comparable offer which works slightly different. It wouldn't be a sync of a server folder to a local folder *within* Nextclouds storage path on the phone but any storage path on the device.

[2017-02-19 17:34] AndyScherzinger commented on #431
agreeing with @tobiasKaminsky onyl thing we could think about is if some kind of conflict resolving strategy could be chosen by the user per folder-pair as is "always override", "discard and keep server version", etc.

[2017-02-19 17:37] AndyScherzinger commented on #344
@tobiasKaminsky fine for me for a first solution. At some point we might want to have it in the toolbar as a general chooser on the headline itself" but that could be done in a later iteration.

[2017-02-19 17:37] AndyScherzinger commented on #318
sounds good to me! 👍

[2017-02-19 17:49] Selsen commented on #234
@seisen

[2017-02-19 17:55] cwmke commented on #380
I just went through the steps and was unable to reproduce so I'll close this.

[2017-02-19 17:55] #380 closed

[2017-02-19 17:56] mario commented on #431
We can do this for auto upload as well - just show it in the Activity screen (which will be done for 1.5)

[2017-02-19 18:29] bodscho commented on #112
time to change the library or make this point clear to everyone.

[2017-02-19 21:14] SuicidalTissue commented on #287
Also getting this issue with the latest APK on a oneplus3- also getting a 404, looks to happen every other upload, first goes through fine, second fails almost always.

`51.xxx - Alex [19/Feb/2017:20:11:56 +0000] "HEAD /remote.php/webdav/neptune_share/PhoneSync/Photos/ HTTP/1.1" 200 0 "-" "Mozilla/5.0 (Android) nextcloud-android/20170214"
51.xxx - Alex [19/Feb/2017:20:11:57 +0000] "HEAD /remote.ph

[2017-02-20 08:52] zenlord commented on #287
@mario @SuicidalTissue I can confirm, the behaviour of the .apk although I have not checked the logs of my Nextcloud instance.
I have also witnessed behaviour that an image through autoload would be re-uploaded multiple times (up to 35 times, until I uninstalled the .apk), while every other time the upload would fail (chunked at 1000KB). I must admit that I still had the original Nexctloud app ins

[2017-02-20 10:48] mario commented on #287
@tobiasKaminsky I thought this issue was fixed, the chunking thing? Same for failure to upload the same file twice?

The multiple upload behaviour *should* be fixed though.

[2017-02-20 10:53] AndyScherzinger commented on #287
@mario this is an issue in 1.4.1 which is used by @zenlord as for the chunking issue with being able to upload files several times https://github.com/nextcloud/android-library/pull/33 which has been merged to master but no new lib release has been done (yet) but should be done for 1.4.2 anyways so this will be fixed with 1.4.2

[2017-02-20 10:54] mario commented on #287
@AndyScherzinger ah cool, I knew I heard this one :)

[2017-02-20 16:45] ChristophWurst commented on #291
Fun fact: I already implemented it months ago, but seem to have forgotten it 🙈 https://github.com/owncloud/core/pull/25162

That does only work for DAV, however. Do we need it for other endpoints too, like OCS?

[2017-02-20 18:54] boldt commented on #656
I can confirm this, with the differenz that I'm using the auto upload function, and it doesnt work at all. I'm getting the same error on my Android 7 (Xperia Z5).

[2017-02-20 19:04] tobiasKaminsky commented on #431
So for autoupload the conflicting file would be paused until the user resolves the conflict? Then this should be shown as a notification, which then leads to the activity screen. Good idea 👍

[2017-02-20 19:11] boldt opened #671 "No Thumbnails shown in Auto Upload dialogue"
### Actual behaviour

- I cannot see Thumbnails in the Auto Uplaod dialogue.

![screenshot_20170220-200213](https://cloud.githubusercontent.com/assets/750793/23138601/9f5f72b0-f7a8-11e6-865b-d91c14af4c0a.png)

### Expected behaviour

- See Thumbnais in the Auto Uplaod dialogue.

### Environment data

Android version: 7.0
Device model: Xperia Z5
Stock or customized system: Default from Sony
Nextclo

[2017-02-20 19:16] mr-bolle commented on #347
Hi Tobias,

With the current beta version i don't have this issue.

Thanks and best regards

[2017-02-20 19:20] tobiasKaminsky commented on #671
@AndyScherzinger I also experienced this from time to time. Then it helped to turn the device to force a refresh...?

[2017-02-20 19:22] tobiasKaminsky commented on #347
Thank you for your quick reply.
Then chances are very good that it will also work in upcoming version 1.4.2.
If not, please re-open.

[2017-02-20 19:22] #347 closed

[2017-02-20 19:30] boldt commented on #671
Turning the device doesn't help for me.

[2017-02-20 20:52] mario commented on #656
@boldt can you try using 3g/4g instead of wifi? Just for debugging.

[2017-02-20 21:59] boldt commented on #656
Just tested with H+ (3G), same error.

[2017-02-20 22:04] mario commented on #656
@boldt please try this apk:

https://github.com/nextcloud/android/blob/auto-upload-ng-apk/apks/android-debug.apk?raw=true

Thanks! :)

[2017-02-20 22:22] boldt commented on #656
I uninstalled 1.4.1, because I could not update. Now, I cannot login.

Errror message: "The server took too long to respond"

[2017-02-20 22:23] mario commented on #656
Using LDAP maybe?

[2017-02-20 22:25] boldt commented on #656
No LDAP. Just a Standard installation with users handled by nextcloud.
If you're interested, I could create you a debugging account on my instance.

[2017-02-20 22:27] mario commented on #656
Sure, please - mario AT nextcloud DOT com.

[2017-02-20 22:28] AndyScherzinger commented on #671
@boldt is it like that all the time or just from time to time?

[2017-02-20 22:33] boldt commented on #656
See mail. Just realized that the login with the web page takes at least 20s. Probably that's the main issue? ;)

[2017-02-20 22:34] mario commented on #656
Yes, that's the issue :P So I don't even have to take a look hehe - sorry! :)

[2017-02-20 22:34] boldt commented on #656
What's the configured timeout?

[2017-02-20 22:35] mario commented on #656
What are you running this on / can I help debug the server config? :) With this APK, more than enough :D 3000 ms for connect, 50000 ms for socket timeout :)

[2017-02-20 22:43] boldt commented on #656
I disabled `auth.bruteforce.protection.enabled` and cleaned table `oc_bruteforce_attempts`. Now the login is quite fast again.

[2017-02-20 22:43] mario commented on #656
And login on android works too? :P

[2017-02-20 22:49] boldt commented on #656
Yes, the auto upload works too (with your 1.4.2 RC1).

Will the official 1.4.2 update from the app store update this version, or do I have to reinstall again?

[2017-02-20 22:51] mario commented on #656
It should update this version :)

[2017-02-20 22:52] boldt commented on #656
So, I will leave until the official release. Thanks for the quick support :)

[2017-02-20 22:52] mario commented on #656
You're welcome :)

Auto upload is still WIP, just FYI :)

[2017-02-20 22:52] #656 closed

[2017-02-20 22:54] boldt commented on #656
In know, I'm following #615 (and followed #358)

[2017-02-20 23:01] boldt commented on #671
With 1.4.1 it was all the time. I never saw a thumbnail.
Now I have 1.4.2 RC1 installed (from #656), and I do have thumbnails now.

[2017-02-21 13:28] IvanAldrich commented on #251
hi, I got this problem recently, any solution or hint? thx.

[2017-02-21 13:42] kartikarora commented on #251
@IvanAldrich Could explain the steps how you got the issue? It'll help us recreate and debug the issue.

[2017-02-21 14:43] AndyScherzinger commented on #671
@boldt That is quite strange since the code for finding and displaying the thumbnails in the auto upload view hasn't been changed at all...

[2017-02-21 20:48] tobiasKaminsky opened #672 "Rename Beta to Nightly"
As the beta is being built (nearly) every night and to avoid confusion with the Goole Play Store Beta (which is in fact release candidates), I suggest to rename the beta to nightly.

If you are fine with it, I would change only the "visible" names, like icon and fdroid name, but keep the app-id as otherwise all user would have to re-install the app (when installed via fdroid).

@mario @AndyScherzi

[2017-02-21 20:54] mario commented on #672
Sure
On Tue, 21 Feb 2017 at 21:48, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-02-21 21:56] AndyScherzinger commented on #672
Fine with me 👍

[2017-02-22 00:38] OlivierS1 commented on #671
I experienced this issue and cretaed a ticket back then #511 .
If you leave it for a while it should eventually update the thumbnails.
I had also this issue when my server was down.

[2017-02-22 00:47] OlivierS1 commented on #669
I have noticed this since Autoupload has been functionig on the Beta verison.
It seems to me as the crash is happening when the Autoupload folder has been emptied after transfer has been completed.
No log possible for the past 2 weeks or so.
Autoupload seems to crash when "Moved to folder app" is enabled and entire content has been moved to server.
If I use Camera folder, enable Autopuload and "Mo

[2017-02-22 00:55] OlivierS1 opened #673 "Beta 20170221: Autoupload of video corrupts files"
### Actual behaviour
-Tell us what happens
When Autoupload is enabled for Camera folder, and option is set to Original files will be... "Moved to app folder" will cause any new video file being recorded to become corrupted.

### Expected behaviour
-Tell us what should happen
Nextcloud app should detect when the file has been finalized before moving ahead with the autoupload.

### Steps to reproduc

[2017-02-22 01:11] OlivierS1 opened #674 "Beta 20170221: Improving "Autoupload" event."
### Actual behaviour
-Tell us what happens
Having "Autoupload" enabled for one or more folders will actually not take place until the"autoupload" feature is being triggered.
There should be an option that can force "Autoupload" on any folder selected for Autouploads.
As a simple example, if we enable "Autoupload" on Camera folder, which already contains photos and videos, enabling "Autoupload" wil

[2017-02-22 01:18] OlivierS1 commented on #667
I think a true two way sync shouldn't rely on timestamp of any kind, at least not completely.
I think checksum of some sort is preferred, but requires more CPU processing. I believe checksum/hash is done on the Windows Desktop app to some level, but I don't think it can really be considered two way sync either as failled download are not automatically reprocessed.

[2017-02-22 01:59] IvanAldrich commented on #251
@kartikarora when long press a item in the list, we got a dialog to delete the item. we delete the item from the data source and after that, we pick a new list from db to and notify change for the adapter. It happened  once so far and i have no idea how to recreate it.. I done know wether it's useful or not that i add a footerview for the listview which's visibility is set Gone when the list is em

[2017-02-22 02:25] IvanAldrich commented on #17
@MaksimDmitriev have you got any solution for this exception or any advice? I got this exception and have no idea why

[2017-02-22 04:16] OlivierS1 commented on #627
Should this apply to server password revocation as well. If security is a concern it would make sense content is made unavailable. Not sure how much can really be done unless device gets proper intrrnet access. Or maybe should this be left to antitheft apps instead.

[2017-02-22 07:20] mario commented on #669
OlivierS1, thank you for reporting this. I don't really have the time for such things anymore, but I'll try to take a look. Can you just confirm it happens with this apk as well? (Haven't changed any code for that, but who knows).

https://github.com/nextcloud/android/blob/auto-upload-apk/apks/android-debug.apk?raw=true

[2017-02-22 07:25] mario commented on #674
That sounds like an intended behaviour. It will only upload new files/images in a selected folder, rather than an entire folder. While I would prefer it to upload an entire folder, this is the task of 1way sync for which I don't have time in this release cycle :(

You're probably looking for something like https://github.com/nextcloud/android/issues/667, right ? :)

[2017-02-22 07:34] mario commented on #673
Hello,

unfortunately, it looks like all options apart from "Leave in original folder" are broken. I'll try to take a look, but just take note that the app can never really know when a file has finished being written to (there is inotify CLOSE_WRITE which is not reliable and doesn't work on every phone).

[2017-02-22 08:04] mario commented on #673
Can you try with the:

https://github.com/nextcloud/android/blob/auto-upload-apk/apks/android-debug.apk?raw=true

Please? :)

[2017-02-22 08:19] mario commented on #673
Actually the new APK won't fix it. Let me think about the video use case.

[2017-02-22 08:22] jasonbayton commented on #667
There are many ideas being floated around for 2 way sync at the moment across issues. Checksum was one of them but would be considered very slow currently.

But this is for "upload all now" rather than 2 way. :)

[2017-02-22 08:30] boldt commented on #671
The main thing I changed was to disable the brute force detection, since it made my login/uploads slow/failing (30s). Maybe it's somehow related to the thumbnail generation, since @OliverS1 had this issue while his server was down.

[2017-02-22 09:48] mario commented on #669
Ok, new apk ready - please test the one I posted above!

[2017-02-22 09:48] mario commented on #673
Please test the new APK - just uploaded a new one :)

[2017-02-22 16:23] tobiasKaminsky commented on #672
![ic_launcher](https://cloud.githubusercontent.com/assets/5836855/23220856/8f688d66-f923-11e6-82d4-33c69df4779d.png)

Hope you are fine with this :-)
I will also update the Contribute.md.

[2017-02-22 16:46] #672 closed

[2017-02-22 16:59] OlivierS1 commented on #673
I cannot install the debug apk for some reason.

[2017-02-22 17:01] mario commented on #673
o.o What does it say? Remove the original client, and try this?

[2017-02-22 18:45] AndyScherzinger commented on #17
No, not a clue. It seems to happen very rarely (or at least gets reported very rarely) and I never experienced it myself or found a way to reproduce it...

[2017-02-22 19:18] OlivierS1 commented on #673
I uninstalled my normal 1.4.1 Nextcloud app to be able to install the debug app. New version is set to 1.4.2.RC1.
It seems with this version that the upload is successful, however I have some comments:

1:  Under Upload menu, file size indicated is 110.3MB, but actual file size on the server for the same file is 254.4MB.
2: Under Autoupload options, I have "Remote folder" set to "/InstanUpload/Cam

[2017-02-22 19:26] OlivierS1 commented on #674
Yes.

[2017-02-22 19:59] AndyScherzinger commented on #626
No, not yet

[2017-02-22 21:12] OlivierS1 commented on #669
Tried app referenced under 1.4.2 RC1 and I did not see any crashes. However, Camera folder do not get emptied entirely.
As far I can tell, behavior is slightly different from Beta.
With Beta, once folder is enable for autoupload and files will be moved to app folder, then upon taking a picture or video (for the camera folder anyway), only the file taken will upload, not the ones previous;y taken t

[2017-02-22 23:04] eppfel commented on #102
Select-all: Select-**all**
overflow-menu: 👍

Go for it!

[2017-02-23 03:35] parmdhoot commented on #112
I had the same issue with v.1.41. The issue was that the AAAA type (IP6 type record) was not configured with my DNS. Once I added the AAAA DNS record the app works great even via IP6.  Before like many others I only had the regular A record setup for a regular ip and not not the AAAA IP6 record. This may help those that are having issues via their own domain name.  Your IP6 address should be avail

[2017-02-23 07:22] vdeapps opened #676 "Connection failed in android app because TOTP"
### Actual behaviour
I use the android app and the website.
With a standard connection all is right.

### Expected behaviour
If I use TOTP for the connection the android app fail
If I deactivate TOTP all is ok.

### Steps to reproduce
1. Install module TOTP
2. Active TOTP connection
3. Connect with android app

### Environment data
Android version: 5.0

Device model: Asus

Stock or customized syst

[2017-02-23 07:44] mario commented on #676
You need to create an app password in the Nextcloud web interface.

[2017-02-23 07:56] vdeapps commented on #676
Thanks.

[2017-02-23 07:56] #676 closed

[2017-02-23 10:06] #674 closed

[2017-02-23 10:22] mario commented on #673
a) How important is that? I'm not sure I can fix this atm - so as long as the file works ... Can you check how big the file is on the filesystem?
b) Let me check...

[2017-02-23 10:26] mario commented on #673
Fixed b) but won't build an APK now. Just answer me about a) :)

@enoch85 why did you set a milestone? :D

[2017-02-23 11:28] ncyclon opened #677 "Sharing multiple files to other apps"
Is it possible to realize sharing multiple selected files to others application. Few photo to hangout, for example.

There is possible to do it only for one selected file.

[2017-02-23 12:15] AndyScherzinger commented on #677
@tobiasKaminsky do you know if this can (easily) implemented?

[2017-02-23 12:15] mario commented on #677
Yes it can. I believe there was even a PR hanging somewhere, but anyway ... it's easy, just takes time :P

[2017-02-23 16:43] OlivierS1 commented on #669
Update on 1.4.2 RC1:
Results seems to have been premature.
It appears more files have been uploaded to the server overnight.
One of the error message poped-up with "Upload failed" and now app is crashing.

I will try the new apk and see how this one works.

[2017-02-23 16:44] mario commented on #669
@OlivierS1 yes. New APK fixes this - found the issue in the mean time :)

[2017-02-23 16:45] mario commented on #669
But I can close this issue since this particular issue *is* solved :)

[2017-02-23 16:45] #669 closed

[2017-02-23 17:10] OlivierS1 commented on #673
If you mean a) corresponding to comment 1, then it is not crucially important as long as the file is reliably uploaded which was not the case before. But to be consistent and really meaningfull it would be good to have closer to reality numbers. I don't think those numbers are available before and during the upload process so at this time it is irrelevant.
I did however pay attention to the size a

[2017-02-23 17:26] AndyScherzinger commented on #671
The reason for is likely because before the thumbnails get loaded from the device we load the avatar images from the server...
It is definitely not related to a thumbnail generation since that is on the server. The files you see here are on the client only.

[2017-02-23 18:38] enoch85 commented on #673
@mario This is a bug in the latest beta which should be fixed before 1.4.2 is released IMHO.

[2017-02-23 18:39] mario commented on #673
@enoch85 maybe, but we need to agree on that - nobody assigns milestones on their own :)

Anyway ... the important bit (folder name) was fixed, and size shouldn't matter (it's really only a *very* minor UI bug). Is that ok? :)

[2017-02-23 18:48] enoch85 commented on #673
@mario You got a point.

What's left for 1.4.2 then?

[2017-02-23 18:51] mario commented on #673
Auto upload should be working quite well, so once that is approved + my filtering changes/fixes (should be soon), we're ready for a real RC.

[2017-02-23 18:51] #673 closed

[2017-02-23 19:46] baldurmen commented on #112
@parmdhoot That implies you have an IPv6 enabled server. Sadly, it's not yet the case for us at the moment and only IPv4 is available.

The app should not fail on networks with both IPv6 & IPv4 enabled if your server only has IPv4.

[2017-02-23 20:27] tobiasKaminsky commented on #671
Shouldn't this be both two async task that are independent?

[2017-02-23 20:48] tobiasKaminsky opened #678 "Only uploads of current account will be shown in upload"
With the really great bugfix of autoUpload @mario has changed the scope of the pending/successful/failed uploads in the upload pane.
The previous behaviour was to show all uploads, independent of the current used account. For each upload the targeted account is shown in the remote folder path.
Now (aka in the next version) the user would only see the uploads for the current account.

Two problems:

[2017-02-23 20:51] AndyScherzinger commented on #678
I'd say show all upload independent of the current account, which also means when restarted the still need to go to the original account.

[2017-02-23 20:51] AndyScherzinger commented on #671
Imho yes, was just an idea for the possible cause.

[2017-02-23 20:53] mario commented on #678
@jasonbayton @Boballen55 @taaem opinions welcome.

[2017-02-23 21:00] taaem commented on #678
I'd go for the same UI design as before as it prevents confusion for the most part especially for new users. So show all uploads in the upload pane and at least I would expect it to work like that.

[2017-02-23 21:24] jasonbayton commented on #678
I like the idea of splitting uploads. If I'm smart enough to add multiple accounts, I'm smart enough to figure out what uploads show where - it makes sense _not_ seeing uploads for other accounts in _my_ upload view.

On the other hand, if it's a client upload screen, and the uploads are clearly stated to which account they're going (which could be made more apparent though it's OK as is at the mo

[2017-02-23 21:57] Boballen55 commented on #678
I think leaving it so all uploads are on the same screen would be simpler. The visual indication of which uploads belong in which account could be done. Bold/larger text on account name, grouping account uploads, use the color coded first letters of account names in the uploads screen.

If they are separated I'd like to see the drop down selector you get when you select the "hamburger" in the uppe

[2017-02-23 22:12] taaem commented on #678
Okay I've got an idea.
In the navigation menu have to separated parts. One for the Files, Auto Upload for the current user and the other for global things eg. Settings. I would then put Uploads there so it is clear that there are all Uploads grouped together in that view.
The Twitter app kinda does this:

![grafik](https://cloud.githubusercontent.com/assets/7108647/23281426/900f6b54-fa1d-11e6-88cc

[2017-02-23 23:12] OlivierS1 commented on #678
I would like to add some more thoughts which comes to mind:
- If multiple accounts and multi upload sources, I think there should also be consideration about prioritizing uploads.
Larger files might prevent uploads of small files waiting in the queue.

- I would also like to be given an option to suspend and resume an upload with a time delay possibly to help speed up some more critical uploads.

[2017-02-23 23:18] jasonbayton commented on #678
@OlivierS1 those would benefit being individual issues as they don't relate to this directly.

[2017-02-24 11:39] jancborchardt commented on #678
So as I understand there’s two different things here. One is a bugfix to autoupload, and the other is a change in behavior / interface. These should _always_ be separate.

Bugfixes have priority of course. But behavior changes, especially core ones like this, should be properly discussed and communicated.
@mario this is less about »opinions« than about properly communicating and deciding in the op

[2017-02-24 11:46] mario commented on #678
I will revert all changes to the Upload interface - I really just want
users to be happy, and they're currently not. That's it.

On Fri, Feb 24, 2017 at 12:39 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2017-02-24 12:31] jancborchardt commented on #678
@mario that’s totally ok, of course we all want that. :) Being a community we just have to make sure all team members are happy too, by communicating openly, and separating bug fixes from feature changes.

[2017-02-24 12:32] mario commented on #678
All uploads are now shown in that particular PR.

On Fri, Feb 24, 2017 at 1:31 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2017-02-24 19:02] Bullnados commented on #270
Perhaps also move files i.e pictures to a folder by date, geolocates or still after one week, month etc. and rename folder to month, city/place,

[2017-02-24 19:12] Bullnados opened #680 "Show last sync time in app"
### Actual behaviour
1. No last synctime is shown.
2. Sync dots in topbar "syncing" every folder I entered. It is very confusing, I dont know if the actual folder im entered is synced or not

### Expected behaviour
1. Last synctime in topbar or sidebar. Perhaps with a manual sync button.
2. Force sync in root, so you can be save, that all other child folders are also synced

[2017-02-25 13:17] pascalBokBok commented on #19
Is this the right issue if I just want my phone's camera folder to be synchronized with a folder on Nextcloud, including deletions?

[2017-02-25 13:18] mario commented on #19
Yup ;)

On Sat, 25 Feb 2017 at 14:17, pascalBokBok <notifications@github.com> wrote:

[2017-02-25 16:08] Rickinfl opened #681 "NextCloud Beta 20170222 - Not showing Images from Nextcloud Server"
My phone upgraded to Android 7. The Nextcloud app stop auto uploading I was told to use the Beta. The Auto Upload works now, But I can't see any of the pictures on the server on the app. Example. On my phone I go into the instantUpload folder > 2017 > 02 - It says I have 143.4 MB in that 02 folder. When I go into that folder I see 1 picture that is 2.9 MB. When I go into Nextcloud on my computer a

[2017-02-25 17:46] mario commented on #681
I assume you have tried refreshing the folder?
:-/
On Sat, 25 Feb 2017 at 17:08, Rickinfl <notifications@github.com> wrote:

[2017-02-25 18:55] RogerSik commented on #429
Will this behavior changed in future? Photos I don't need (doubled) in my photo app. But my Music I want to have access.

[2017-02-25 19:31] ArtyV opened #682 "Can’t access Server from android app inside the house with public IP"
### Actual behaviour
in the app If i try to connect using the public ip to the server, it times out,
but if i use the chrome app on my phone i can connect to the server
if i disable wifi and use data the app works.
I can connect to it via desktop browser
and outside the house via android app too.

### Expected behaviour
It should always work.

### Steps to reproduce
1.  Use Public IP internally.

[2017-02-25 19:44] ArtyV commented on #682
What's also interesting, if I login on outside, i can use it inside the house, it is just a little bit "laggy".

[2017-02-25 20:14] JSoko commented on #682
Ipv6?

[2017-02-25 20:16] ArtyV commented on #682
I don't see how it's related to ivp6?, But I did try disabling on the network and it didn't change anything.

[2017-02-25 20:33] JSoko commented on #682
Because the app has issues with ipv6...
#641 #427

[2017-02-25 20:47] ArtyV commented on #682
Yes,  I read those, but  im not using the ipv6 adress......im using ipv4 anyway.......
I originally thought it was a DNS issue, but it works just fine, there is just a longer delay before connecting, Except in the app where the logging in timeout seems shorter, in which case the workaround was logging in outside the house then using it in the house.....

[2017-02-25 20:56] JSoko commented on #682
I have exacty this bebavior of the app until i switch of ipv6 for my phone or the whole network on the rooter...

[2017-02-25 21:03] ArtyV commented on #682
Hmmm idunno why that didn't work for me.... Ethier way the app does work with an ipv4 (with ipv6 enabled), it's just a little Goofy that I had to log in out of the house and then come back for it to work

[2017-02-25 21:32] gsantner opened #683 "Custom delete delay after Instant-Upload"
### Actual behaviour
I checked the option to delete pictures after upload. After upload files get immediately deleted

### Expected behaviour
Please add an option to specify a amount of time to wait before deleting the files after upload.
This doesn't have to be specific to a folder, can be a global option. The problem is, the deletion happens sometimes too fast, before I can preview the file. Suc

[2017-02-26 22:11] elpraga opened #684 "Files containing "?" in their filename are not downloaded by the client"
### Actual behaviour
If a filename contains "?", the download fails both in 1.4.1 and current Beta apps.

### Expected behaviour
File gets downloaded.

### Steps to reproduce
1. Synchronize a file containing a "?" in a name using a desktop client.
2. Try to download it using Android app.

### Environment data
Android version:
6.0

Device model:
Huawei Y6II

Stock or customized system:
stock
Nextcl

[2017-02-26 22:13] elpraga opened #685 "Directories containing ":" in their filename are not downloaded (synced) by the client"
### Actual behaviour
It a directory name contains ":", the download of files within fails both in 1.4.1 and current Beta apps.

### Expected behaviour
Files get downloaded.

### Steps to reproduce
1. Synchronize a directory containing a ":" in a name using a desktop client.
2. Try to download any file within it using an Android app.

### Environment data
Android version:
6.0

Device model:
Huawei

[2017-02-26 23:17] Bullnados commented on #601
Same problem here with die app. Timeout Wien trying to connect wir an user.
For me die solution was to connect First Time with mobile internet. But perhaps it was just luck.

[2017-02-27 07:29] mario commented on #601
If it's a real timeout, and not the bruteforce thing, will be fixed in 1.4.2

[2017-02-27 16:34] OlivierS1 commented on #682
Check in you server log if "Brute force attack" appears.

[2017-02-27 16:52] mario commented on #660
Fixed.

[2017-02-27 16:52] #660 closed

[2017-02-27 16:55] mario opened #686 "Keep filtering results on back/home button"
Currently, in master:

- do filtering, click on something, go back - search disappears

This is unwanted from what I understand.

Unfortunately changing this requires changes to search, and there are already some search changes waiting for 1.5 in two PRs (integration-with-master and searching in text file) so if I did any changes now, we'd have a *REALLY* hard time merging the three (it's already

[2017-02-27 17:02] MorrisJobke commented on #660
So it will land in the next maintenance release?

[2017-02-27 17:03] AndyScherzinger commented on #686
👍
Sounds good to me, like you said, not a critical issue where fixing seems to be an urgent matter plus also like you mentioned fixing it now would give us a hard time later on merging the other two search
/filter related PRs.

[2017-02-27 17:09] AndyScherzinger commented on #660
In case of #661, it has been merged to master, that is a yes for being part of the upcoming release :)

Thanks for all the efforts taken @mario!

[2017-02-27 18:50] mario opened #687 "Favorites"
Opening an issue for favorites, just to make sure I understood things right.

So this will be done as a part of sidebar redesign, and "On device" wording will be replaced with "Favorites". Also, all favourites will have the functionality that currently "Set as available offline" has.

Confirm.

@tobiasKaminsky @jancborchardt @AndyScherzinger

[2017-02-27 18:52] mario opened #688 "Bottom navigation"
For a customized, branded version there should be an option to have bottom navigation in addition to the sidebar. The bottom navigation bar would include the following:

- Home (Currently All Files and "Files" in 1.5)
- Favourites
- Photos
- Settings

Toggling this setting on (during build time) will disable those entries from the sidebar and will show them in bottom navigation.

cc @jancborchardt

[2017-02-27 18:54] mario opened #689 "Switch to disable welcome guide"
There should be a switch in setup.xml to disable the three-step welcome guide.

cc @jancborchardt @tobiasKaminsky @AndyScherzinger

[2017-02-27 18:55] mario opened #690 "Replace regular login with a webview"
There should be a customization option to replace regular login/change pass with a webview and a pre-set url.

cc @AndyScherzinger @tobiasKaminsky @jancborchardt

[2017-02-27 18:56] mario opened #691 "Switch for in-app webview (help, etc)"
There should be a switch that would force opening of URLs (help and other, custom URLs) inside an internal webview rather than opening a browser.

cc @jancborchardt @tobiasKaminsky @AndyScherzinger

[2017-02-27 18:58] AndyScherzinger commented on #689
👍 Yeah, sounds fine with me.

I guess this would also be a customer specific setting, right? As in our own/Nextcloud release would still have this activated (while even then it would only get display the very first time).

[2017-02-27 19:00] mario commented on #689
Yes, this would be a customer-specific option.

[2017-02-27 19:01] AndyScherzinger commented on #691
That would be best, yes. As for links do you mean the ones that might come in via the main menu extension or clicking on any kind of URL file which might be in your Nextcloud storage since for the later I'd say we should still give the user the choice to decide if he/she wants to go for their favorite browser or open it in-app (because with other apps like linkedin and xing, the in-app browser is

[2017-02-27 19:02] AndyScherzinger commented on #689
👍 perfect :)

[2017-02-27 19:02] mario commented on #691
I mean the following:

- links inside the settings (see second point)
- custom sidebar links (that come in via an app installed on the server)
- custom storage link that goes below the quota bar

[2017-02-27 19:03] mario commented on #691
As for files that you have, I'd still prefer to let the user choose rather than an internal webview.

[2017-02-27 19:09] AndyScherzinger commented on #687
As far as I understodd this that is @jancborchardt's masterplan here :)
One issue that might be tricky though is that changing the behavior as you correctly described the requirement would also mean:

* as soon as a user has logged in to the app with an account we would have to fetch the list of favorites and download all these files
* as soon as a user marks a file as a favorite on any device it

[2017-02-27 19:12] AndyScherzinger commented on #691
✔️ links inside the settings (see second point)
✔️ custom sidebar links (that come in via an app installed on the server)
✔️ custom storage link that goes below the quota bar

as for the last one, we do have links _below_ the quota bar?

👍 sweet!

[2017-02-27 19:14] mario commented on #691
It will be a customer specific link, we currently dont afaik.

On Mon, 27 Feb 2017 at 20:12, Andy Scherzinger <notifications@github.com>
wrote:

[2017-02-27 19:17] AndyScherzinger commented on #690
Sounds good to me.

@ChristophWurst can you join the discussion? :) If I understood you correctly at the conference last year than moving on to a webview (after a URL check) than we could also make use of such an enhancement to support two-factor via this way?

[2017-02-27 19:19] AndyScherzinger commented on #688
Sounds good to me! 👍

..If a customer wants to use the bottom bar and want to use it this way basically moving items from the main menu to a bottom menu, so be it. Happy that it would be a custom build 💃

[2017-02-27 19:27] mario commented on #687
From my understanding of the possible implementation:
- First assumption is correct
- Second assumption is also correct, with variable definition of "as soon"

For the third question:

Currently, all files that are marked as "Available offline" seem to download whenever? Or am I wrong? (Didn't look into it in detail). I'd assume if a user marks something as favorite, they know what they're doing,

[2017-02-27 19:28] mario commented on #687
Well actually ... every refresh will give us a list of favorites. So that's fine, isn't it?

[2017-02-27 19:30] mario commented on #690
I'm hoping for a proper OAuth server that would fix the 2factor auth problem. This in particular is for integration with various 3rd party systems.

[2017-02-27 19:35] AndyScherzinger commented on #687
I though a refresh is limited to the actual folder you are in?

[2017-02-27 19:36] mario commented on #687
I think it refreshes everything, but unsure. If it doesn't, then maybe every other refresh we should also refresh favorites?

Or time based?

[2017-02-27 19:40] ChristophWurst commented on #690
The idea was to give the user a URL they open in a browser or webview and the app gets an app password in the background once the login process has been finished (including 2fa and accepting the new device). Not sure if this is still the way we want to implement this. @LukasReschke how should we proceed with this?

[2017-02-27 19:42] AndyScherzinger commented on #687
If we can do time based (might be possible with the JobScheduler?) I'd say time based with an algorithm that increases/descreases the interval depending on if changes were detected or not, because this way the user wouldn't have to interact with all owned devices to get them in Sync with the favorites again. Plus that might then be a nice way to push files to devices? :D

[2017-02-27 19:47] LukasReschke commented on #690
Depends on what upstream is doing with the desktop client. Let's first wait a bit and see if they implement OAuth2 completely. If yes we copy that.

[2017-02-27 19:49] AndyScherzinger commented on #690
Sounds good, but then the web view part initially described could still be implemented to full-fill a customer requirement (this way, for now).

[2017-02-27 19:50] mario commented on #687
This is possible with JS, and on earlier versions Alarm Manager.

[2017-02-27 19:55] AndyScherzinger commented on #687
@jancborchardt @tobiasKaminsky what do you think? The concept seems sound and having auto-checks with change-depending, increasing/decreasing intervals seems to be nice while it probably makes sense to still offer a manual check if a new favorite is available when the interval has grown to big. This way we would have a "smart" solution for auto-detection while with the dynamic interval would not d

[2017-02-27 19:56] mario commented on #687
Interval could be reset upon visiting the favourites screen, and the interval should be restricted to 5 hours max.

[2017-02-27 20:00] elpraga commented on #687
I'm sorry to bring it up again, but wouldn't it make more sense to implement server tags? It already has a server side implementation and it would be __much more__ flexible.

It could be set up to work online only or it could show a message like: _Internet connection not available. Showing local files only._

Also, I'm not really sure if having all files and folders marked as _favourite_ available

[2017-02-27 20:02] mario commented on #687
Favourites also have a server side implementation, and are actually implemented as a tag (kind-of). :)

[2017-02-27 20:03] AndyScherzinger commented on #687
@elpraga your comment is totally legit, that is also why I asked if it should be "wifi only" because larger folders or files might hurt quite a bit, data plan and storage wise.

[2017-02-27 21:25] elpraga commented on #687
I do think that _favorites_ and _available offline_ are two different concepts with two different uses. _Favorites_ are the things I want to have at hand, and _available offline_ are those I want to have always synced. They _may_, but don't _necessarily have to_ overlap.

[2017-02-27 21:31] elpraga commented on #687
@mario I didn't know that! :smiley: But that would also mean that implementing _favorites_ would be quite similar to implementing _tags_. Actually, in this light, _favourites_ sound like a subset of _tags_.

[2017-02-27 21:32] mario commented on #687
Yup @elpraga :)

[2017-02-27 21:41] elpraga commented on #687
The main reason why I was trying to advocate for implementing _tags_ in the mobile application is that as for now their I implementation is very short of their capabilities. Currently it is not possible to tag several files at once and that if clumsy.

I believe that connecting instant upload capability with an easy to use tag system could bring managing photos to completely new level.  Being able

[2017-02-27 21:42] mario opened #692 "Remove APK from history"
APKs were built and put into this repository over time. I'd like to completely obliterate them from history as soon as @tobiasKaminsky changes the URLs and everything.

[2017-02-27 21:43] mario commented on #687
Tags will definitely happen eventually, we just have to prioritize things. If I had to guess right now, I'd say 1.6 - but I am not alone here, and do not know what will happen in the future :)

[2017-02-27 21:45] AndyScherzinger commented on #687
@elpraga can you elaborate a bit more on the tagging + auto upload idea? I didn't quite get how that should supposedly work? Do you mean that there should be some kind of an auto upload where you specify a tag and define to where any file tagged that way should be uploaded to?

[2017-02-27 21:50] elpraga commented on #687
Ok, @AndyScherzinger , I will try. I am going to open my computer..

[2017-02-27 21:52] AndyScherzinger commented on #692
If I am not mistaken @tobiasKaminsky's scripts only do this for the beta within the beta branch, right Tobias? Or are we keeping any APKs for the builds via master somewhere?

[2017-02-27 21:57] mario commented on #692
Yes, he changed this, but there also APKs in the auto-upload-apk branch (had no other easy way to distribute APKs fast at that moment) which I'll completely obliterate once auto upload changes are done.

[2017-02-27 22:11] elpraga commented on #687
I'll try to describe how I use the instant upload feature and how it would (in my case) benefit from the tag system. You may consider if it would be useful for more people as well...

* My primary camera is my mobile phone. As mobile phones' cameras are quite decent now, I might not be the only one.

* I heavily use _Nextcloud's_ auto upload feature, because I do want to have my photos __accessibl

[2017-02-27 22:27] AndyScherzinger commented on #687
Thanks for the details description @elpraga. One issue I see is that in order for Nextcloud to tag the images the would have to be known to Nc as in uploaded already (at the moment).

So it seems the idea would be to do the tagging after they are uploaded and then have some kind of "job" running which does some sorting into to be created folders based on the used tags or keep them in a flat folder

[2017-02-27 22:40] elpraga commented on #687
Yes @AndyScherzinger , I had definitely manual tagging in mind. All files would be tagged manually after upload.

I'm not sure if I understand correctly what you meant by folders. In my opinion, the files could all stay in the folder they are in. Using tags would just filter all the files based on a given tag (much like tags or searching now works in _Files app_ in the  web interface).

My idea wa

[2017-02-27 22:45] elpraga commented on #687
And I understand @mario the need to prioritize. But maybe if implementing tags is planned for some distant future, the current _Favorietes_ can be implemented in a way to be more easily expandible  into _tags_ later..

[2017-02-27 22:55] elpraga commented on #687
If you are referring to the photo preview currently in the _Beta app_, I agree that it is great. It allows me to preview all my 2000 photos in a very decent resolution without filling up all my storage. It would be great to see it in the official app indeed.

[2017-02-27 22:56] AndyScherzinger commented on #687
That is the one I meant, yes :)

[2017-02-28 06:02] MorrisJobke commented on #559
@mario @nickvergessen Was there already work done for Android? (during the Hackweek)

[2017-02-28 06:05] mario commented on #559
No.

On Tue, 28 Feb 2017 at 07:02, Morris Jobke <notifications@github.com> wrote:

[2017-02-28 06:10] mario commented on #559
Jan and me did discuss the UI though and that requires significant Ui
changes. But will be done of course :)

On Tue, 28 Feb 2017 at 07:02, Morris Jobke <notifications@github.com> wrote:

[2017-02-28 06:31] mario commented on #678
So I will soon start working on Activities (basically activities + notifications + uploads) - in that view Uploads must be per-user, since activities and notifications will be per user. Please confirm!

[2017-02-28 06:36] mario commented on #571
So ... can we for now agree that once RC1 is out, we can start a 1.5 branch which will be merged to master as soon as real 1.4.2 is out? That way we can merge all reviewed branches to 1.5 and later on into the master.

[2017-02-28 07:15] mario commented on #498
@OlivierS1 please confirm this has been fixed :)

[2017-02-28 09:51] mario opened #693 "Adapter library import"
I would like to ask if I can import the following library:

https://github.com/davideas/FlexibleAdapter

It would be good so we can use sticky headers, load more, animations and such without reinventing the wheel.

Thanks!

cc @AndyScherzinger @tobiasKaminsky

[2017-02-28 10:49] AndyScherzinger commented on #571
To not loose time I'd say, let's do it the way you proposed, which will also mean that the PRs need to be opened once more since the target branch of a PR can't be changed and they all target master at the moment.

[2017-02-28 10:53] AndyScherzinger commented on #678
Yes, absolutely :) :+1:

[2017-02-28 11:29] jasonbayton commented on #678
👍

[2017-02-28 11:42] mario commented on #558
Any of you two @tobiasKaminsky and @AndyScherzinger have time to do the library side of things while I work on other issues?

https://github.com/nextcloud/server/pull/3360

[2017-02-28 11:55] taaem opened #694 "App crashes when loading an huge directory"
### Actual behaviour
I have a directory on my Nextcloud instance with ~3000 pictures (all in the same dir), when I open that folder from the app it takes ages and nothing happens. After a while I tried to refresh via pull down, I don't think that is actually related to the crash. Then the app crashes and when trying to open the app again it straight crashes again until I reboot.

### Expected beha

[2017-02-28 12:06] AndyScherzinger commented on #558
Uuh sweet. Never actually did any library work myself related to connect new interfaces or extend existing ones :/ - @tobiasKaminsky could you cover this area?

[2017-02-28 15:03] AndyScherzinger commented on #555
I created a branch for development here: https://github.com/nextcloud/android/tree/dynamicMenuItems

[2017-02-28 15:19] mario commented on #555
Sure but there is no API for this yet

On Tue, 28 Feb 2017 at 16:03, Andy Scherzinger <notifications@github.com>
wrote:

[2017-02-28 15:21] AndyScherzinger commented on #555
I know. Just thought I can do some UI preparation work to support you with this change, so we "just" have to integrate the server's API at some point while the UI part is already there :)

[2017-02-28 15:21] mario commented on #555
K. You know the three types of links?

On Tue, 28 Feb 2017 at 16:21, Andy Scherzinger <notifications@github.com>
wrote:

[2017-02-28 15:28] AndyScherzinger commented on #555
Erm, no. :) Which are they?

[2017-02-28 15:34] mario commented on #555
Regular sidebar links, quota link (will go below quota bar), and settings links (will replace our settings links like help etc etc).

[2017-02-28 15:41] strugee commented on #571
@AndyScherzinger yes you can; they changed it relatively recently. Just hit edit in the upper-left and the base branch will turn into a dropdown.

[2017-02-28 15:55] AndyScherzinger commented on #571
Didn't know that! That is awesome news, thanks for the hint @strugee ! :)

[2017-02-28 16:50] OlivierS1 commented on #498
@mario It seems I am able to perform autoupload but Nextcloud app beta 20170228 doesn't behave the same way as Nextcloud 1.4.2.RC1 based on android-debug.apk from Feb 24 2017.

I tried to record a video and had file moved to App folder, and the files appeared twice in the phone Camera folder within Nextcloud account.
However, only one file was actually uploaded to server.
I do not seem to have thi

[2017-02-28 17:58] mario commented on #498
@OlivierS1 I'm hoping beta will catch up with this branch tomorrow, so please test it then :)

[2017-02-28 18:41] mario commented on #558
I would appreciate it.

[2017-03-01 03:07] 927589452 opened #695 "Big or Feature Name Spacing change"
### Actual behaviour
-Autoupload changed folder structure from
/InstantUpload/Folder/2017/02
to
/InstantUpload/Folder2017/02

### Expected behaviour
-Tell us what should happen

### Steps to reproduce

### Environment data
Android version:
7.1.1 lineage
Device model:
Sm g901g
Stock or customized system:
LineageOS
Nextcloud app version:
Nightly 20170223 (Fdroid)
Nextcloud server version:

### Logs

[2017-03-01 03:13] 927589452 opened #696 "Feature request apply AutoUpload to existing Files in Structure"
### Actual behaviour
- Files already on device are not synced ( and therefor not removed)

### Expected behaviour
- optional button in menu to "apply auto upload for existing files"

[2017-03-01 03:16] 927589452 opened #697 "Full Folder Upload"
### Actual behaviour
- no select box on folders in Upload menu

### Expected behaviour
-Option to Upload (and delete) a full substructure from an arbitrary root

[2017-03-01 03:55] OlivierS1 commented on #498
Nightly (Beta ) 20170301 doesn't seem to have the fix. Video files remain corrupted.

[2017-03-01 07:18] mario commented on #498
Super strange. WIll investigate this today.

[2017-03-01 07:18] mario commented on #695
This should already be fixed. Please update your nightly and test then :)

[2017-03-01 07:30] tobiasKaminsky opened #698 "Filtering: keep results even if opening a file / viewing an image"
- filter for some term
- open one of the results (view image, open file, show details of a file)
- go back
- it should still show the filter results as long until the user removes the query

Ref: https://github.com/nextcloud/android/pull/661#issuecomment-282273453

[2017-03-01 07:40] mario commented on #698
Like mentioned in that comment, there's already an issue for this, so please close this one as a duplicate @tobiasKaminsky

https://github.com/nextcloud/android/issues/686

[2017-03-01 07:45] #698 closed

[2017-03-01 07:46] tobiasKaminsky commented on #686
Fine for me 👍

[2017-03-01 08:11] JSoko opened #699 "Nightly 20170301 Fingerprint support removed"
Don't know if that happend intentionally, if yes, than just close...

Fingerprint support was removed in 20170228 and is still absent in 20170301

### Actual behaviour
No Fingerprint support in Configurationmenu

### Expected behaviour
Fingerprint support in Configuration menu

### Environment data
Android version: 7.0

Device model:  sgs7

Stock or customized system: stock

Nextcloud app version:

[2017-03-01 08:45] AndyScherzinger commented on #696
@927589452 this would basically be handled by v3 of the auto upload implementation (still to be implemented), see #285

@mario @tobiasKaminsky please correct me if I am wrong but the one-way sync (including the behavior choice) would implemented the requested feature :)

[2017-03-01 08:45] #696 closed

[2017-03-01 08:47] AndyScherzinger commented on #695
Please reopen if still present in the latest nightly :)

[2017-03-01 08:47] #695 closed

[2017-03-01 08:52] tobiasKaminsky commented on #699
I have re-added it. Must have occured due to a wrong merge.
Can you try it please on the next nightly (20170302)?

[2017-03-01 08:53] JSoko commented on #699
Yes, I'll try it tomorrow and report back here...

[2017-03-01 09:00] tobiasKaminsky commented on #696
Technically this would be the "server -> device" part of the two-way sync.
(I understand that @927589452 wants to have files on the device deleted if they are changed on the server).
But yes, this is covered in #285

[2017-03-01 09:03] tobiasKaminsky commented on #677
The only PR I have found is https://github.com/nextcloud/android/pull/478 but this is for sending resized images.
If I have not overlooked something this is has to be freshly implemented.

[2017-03-01 09:05] tobiasKaminsky commented on #671
Can you have a look into this the next few days?

[2017-03-01 09:09] tobiasKaminsky commented on #689
Fine for me, enabled by default of course ;-)

[2017-03-01 09:09] 927589452 commented on #696
Nope, that was not what I was thinking of;
I was thinking of applying the upload settings to folders that are
watched by auto upload,
eg the device has already taken fotos and I want all fotos to be moved
to the server as soon as they are taken;
currently the fotos until this point in time stay on my device
and are not synced unless i manually upload them later,
while newer ones are moved to the s

[2017-03-01 09:15] 927589452 commented on #696
the requested feature seems to be in v1.1 proposition of #285

[2017-03-01 09:20] tobiasKaminsky commented on #692
I have changed it now to the nc download server.
Let us wait for the next daily and if everything is working, you can clean the history.
(I do not know how to do this and I am afraid of doing it ;-) )

[2017-03-01 09:21] tobiasKaminsky commented on #692
Just use your own nextcloud server and create a public share with password protection ;-)

[2017-03-01 09:29] tobiasKaminsky commented on #681
Is it working for folders other than auto upload folders (like documents or music)?

[2017-03-01 09:32] tobiasKaminsky commented on #691
Is it necessary to force this? If possible, I would use the "android way" and let the user decide between
- open internal
- chrome
- firefox
(whatever app is able to handle an URL)

[2017-03-01 09:35] mario commented on #691
The user (in our app) will (for now) just use default external browser (maybe we can improve on this later). For the customer, yes, we need to force it.

[2017-03-01 09:36] tobiasKaminsky commented on #688
The remaining items would then still be in in the sidebar?
As it is a custom build it is fine for me.
This will be a switch in setup.xml and evaluated on run time? Or do you want (how?) implement this in a fixed way in the code?

[2017-03-01 09:38] mario commented on #688
Yes, this will be in setup.xml, and the remaining items would still be in the sidebar.

[2017-03-01 09:42] AndyScherzinger commented on #696
Ah, right, my mistake. You are right v1.1 would cover your request 👍

[2017-03-01 09:47] AndyScherzinger commented on #671
I'll try, yes!

[2017-03-01 10:35] jancborchardt commented on #691
So, how about we do it »The Android Way« as @tobiasKaminsky described it in the normal app? And additionally there’s a branding option by which it can be forced to open all these links internally.

There should definitely be no settings switch called »open links in internal or external browser«. It’s something you decide the first time or on a case-by-case basis – as intended by Android.

[2017-03-01 11:45] tobiasKaminsky commented on #678
Fine for me, if we will still have the current upload view with all uploads?

[2017-03-01 11:46] mario commented on #678
No we won't since Activities replaces all, and is definitely per-user.

On Wed, Mar 1, 2017 at 12:45 PM, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-03-01 11:59] tobiasKaminsky commented on #678
Then we are at the beginning that we need a way to show the user the other pending/failed/successful uploads of the other accounts somehow, or?
Would it possible to add an account switcher into the activities view so that a multi-user can easily switch through the account? (having the user to first switch the complete account in order to see the uploads/activities is too much effort for the user)

[2017-03-01 12:07] mario commented on #678
Leaving this up to @jancborchardt to decide.

[2017-03-01 18:50] ldmpub commented on #646
Hi,

Any update ?

[2017-03-01 21:52] Wikinaut commented on #612
Same problem Android 7.0 on HUAWEI P8 LITE 2017 (Auto backup does not work)

[2017-03-01 21:52] mario commented on #612
What version @Wikinaut ?

[2017-03-01 21:52] mario commented on #612
All should be fixed in beta.

[2017-03-01 21:53] Wikinaut commented on #612
Android Nextcloud 1.4.1

[2017-03-01 21:54] mario commented on #612
Cool. Should be fixed in beta and 1.4.2 so worry not :)

[2017-03-01 22:52] Wikinaut commented on #612
@mario I compiled the beta, but the App-PIN entry does not work when trying to contact my instance in the 1.4.2RC1 version.... and so I cannot contact my server with this beta version..... :-1:

[2017-03-01 23:07] pacs1969 commented on #601
Hi all

I have timeout allways with the android app trying to connect the server. (raspberry PI with USB drive for data)

I have an old owncloud (old sempron w 1GB RAM) 8.x version, under the same router, and the APP work ultra fast.

I'm ussing the same no-ip dns service for both servers.

Any idea?

Regards

PAco

[2017-03-01 23:41] elpraga opened #700 "Nightly 20170301 what happened with previews? Has the system been reworked?"
### Actual behaviour
Previews show generic icon way too often even when cached icons are downloaded.

### Expected behaviour
Show cached preview icons for cached ones and the generic one only for the ones that don't have previews generated yet.

### Steps to reproduce
1. Upload a photo and look at the previews.

### Environment data
Android version:

Device model:

Stock or customized system:

Nex

[2017-03-01 23:43] elpraga commented on #700
Sorry, im really tired now, I don't know what happened, but after this nightly the previews are virtually unusable. Will elaborate later..

[2017-03-01 23:52] elpraga opened #701 "Nightly 20170301 pinch zoom doesn't work anymore in grid view"
### Actual behaviour
Pinch zoom in grid view doesn't work.

### Expected behaviour
Pinch zoom in grid view works.

### Steps to reproduce
1. Try pinch zoom in grid view.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]

[2017-03-02 00:07] Wikinaut opened #702 "[Nightly 20170301] cannot even login ("Konnte den Host nicht finden")"
### Actual behaviour

Adding the server url is fine ("Sichere Verbindung hergestellt"), but after adding correct username and correct PIN-App (or the Passwort with disabled 2-Factor Authentification app, even with disabled fail2ban) there is then, when I click "Verbinden" the message

"Konnte den Host nicht finden"

### Environment data
Android version: Android 7.0
Device model: Huawei P8 Lite 201

[2017-03-02 09:49] korelstar opened #703 "How to correct reviewed translations on Transifex?"
I found some translations (German) where the spelling is not accurate. I'm already translator on Transifex but I can only change strings which are not reviewed yet.

How to proceed for incorrect reviewed strings?
I can add a new suggestion for the string, but will this have any effect (i.e. will somebody ever check and apply this)?

Example: `Kalender &amp; Kontakte Sychronisierung erfolgreich kon

[2017-03-02 09:52] Wikinaut commented on #702
@AndyScherzinger Hi, can you please expressly confirm that the current beta (or the last nightly build) really works when it is newly installed ?

I found that it does not work for me (see issue report), and it may be that you have not tested recently the initial installation (installation and enter of server url, username and password or App PIN).

Just before you ask: yes, the fresh installation

[2017-03-02 16:39] JSoko commented on #703
That was in there for over 6 Month, but you're right, it's corrected and you should be able to improve it.
If you have other translations, wich you would like to edit, just send me the english sentence per pn.

[2017-03-02 16:43] JSoko commented on #702
I installed 20170301 yesterday after deinstalling 20170228 and entering credentials worked for me.
Perhaps you'll have a look in the bruteforcetable of your database?

[2017-03-02 17:01] Wikinaut commented on #702
@JSoko Äh, yes, good catch! (I was one of the protagonists of brute-force prevention, and the change to nextcloud was important in that sense....). I will check this tonight, and re-open this only if the problem persists. I remember, that clearing the table can become difficult, I mean, not everything is cleared automatically.

tl,dr;
I reported that as a bug, but perhaps it isn't. Closing it for

[2017-03-02 17:01] #702 closed

[2017-03-02 17:45] JSoko commented on #702
I wouldn't clear the whole table but just the records witch lead to your Account and/or IP

[2017-03-02 17:45] Wikinaut commented on #702
@JSoko ja. klar....

[2017-03-02 20:09] ddanielww commented on #415
nightly build fixed this for me

[2017-03-02 22:03] AndyScherzinger commented on #693
Following up on the discussion on IRC, I vote yes for several reasons:

* the idea is to start integrating it with 1.6 and until then the 5.0 release (of the lib) should be released stable
* it can then replace the SectionedRecyclerViewAdapter lib we use for the auto upload view
* we can make use of load more (for activities), sticky list headers (upload view, sorting orders, etc.)
*`according to

[2017-03-02 23:03] AndyScherzinger opened #705 "Update Build for Android Studio 2.3"
At the moment the build is based on Android Studio 2.2 capabilities and with Android Studio 2.3 just been released (https://android-developers.googleblog.com/2017/03/android-studio-2-3.html), we got a mayor upgrade for gradle which should speed up the build process.

A branch has already been created here: https://github.com/nextcloud/android/tree/androidStudio23 for the "code change" while in ord

[2017-03-02 23:05] mario commented on #705
cc @MorrisJobke for docker magic xD

[2017-03-02 23:06] mario commented on #705
You create too many branches. A tree falls if it has too many branches. Some must be cut so others could live!

[2017-03-02 23:09] AndyScherzinger commented on #705
This will btw also mean upgrading the build tools version. So while we are at it I'd also propose to move to AppCompat v25.2.0.

We could do this early on so it would be tested and we would be on top of the tool chain versions :)

[2017-03-02 23:21] AndyScherzinger commented on #705
@mario we just have to do small and lightweight branches, they don't hurt the tree and can get cut off fast ;)

[2017-03-03 00:22] OlivierS1 opened #706 "Difference between Nextcloud Nightly and Nextcloud 1.4.2 RC1"
### Actual behaviour
I am at loss when it comes to understanding the roadmap and bug fixes between both version of Nextcloud app Nightly (Old Beta designation) and 1.4.2 RC1.
I have seen issues related to Autoupload under Nightly that were fixed under 1.4.2 RC1 but remains broken under Nightly.
Also not everything that has been improved, added or fixed in Nightly finds its way into 1.4.2 RC1.

I w

[2017-03-03 02:13] MorrisJobke commented on #705
android-15 is already on 25 😉

https://github.com/nextcloud/docker-ci/commit/74219a8ba5d917074b5cb713888dff28fc6a8090

[2017-03-03 05:57] mario commented on #706
No, nightly is something that includes bunch of branches that are in the works and might never make it into stable.

There is no "stable" 1.4.2 RC1 yet - I only built this for you and a few other people as it was easier for me than building a new nightly.

[2017-03-03 05:57] mario commented on #706
Hope that clarifies things?

[2017-03-03 06:49] OlivierS1 commented on #706
Hi Mario,
It doesn't clarify things much,
I understand 1.4.2 RC1 is not stable but it is targeted to become release version. At least it is the intent, and having beta tester like many like me is to evaluate various issues related to bugs, usability and such.
I understand Beta, now renamed Nightly is an experiment about what Nextcloud app could become.
At the end of the day, only one version shoul

[2017-03-03 06:54] tobiasKaminsky opened #707 "Upload a big file manually or via auto upload with "move to nc folder""
When uploading a big file manually or via auto upload and with the option "move to nc folder" the file is being uploaded and moved correctly to the nc folder. But the app does not show the green downloaded arrow and thus tries to download the file again.

Yesterday I did some research and it seems that the mLocalPath is still set to the source path. But while debugging it the move function in Uplo

[2017-03-03 07:08] tobiasKaminsky commented on #706
The workflow is like this
new feature/idea -> accepted -> developing -> PR -> Code review -> merge
this is done for the master version. If "enough" PRs are merged we release a release candidate (e.g. 1.4.2 RC1).
In parallel every PR that is working (but not 100% tested) will be added automatically to the nightly version.
If we/you find a bug or decide to do a UI enhancement we do this always in th

[2017-03-03 07:11] tobiasKaminsky commented on #706
To prevent confusion in the future a separately build version, like @mario did for testing new auto upload, maybe should be named like the purpose of it, e.g. "Auto uploading test 20170303".
With this it is clear that it is not the release candidate (as the RC has many more other branches).

[2017-03-03 07:13] tobiasKaminsky commented on #705
AppCompat should be done in a separate branch.

[2017-03-03 07:17] mario commented on #705
@MorrisJobke this is about Gradle.

[2017-03-03 07:19] mario commented on #705
This is not in a PR yet.

Btw. why do you prefer micro-branches? Just like micro-managing it sucks to have to do this and complicates many things and brings ... well, not so many things :D

[2017-03-03 07:26] JSoko commented on #699
Fingerprint lock works again in 20170302 :-)

[2017-03-03 09:51] #699 closed

[2017-03-03 10:27] AndyScherzinger commented on #705
@tobiasKaminsky like @mario said there isn't one yet since getting the gradle update right with the image in mind to save download times. As for the AppCompat I'd usually agree but since the image is already in 25.0.0 I'd say let's use this issue/PR to just bump it to 25.2.0.

@tobiasKaminsky let's make an exception here? :)

[2017-03-03 10:43] AndyScherzinger commented on #705
@MorrisJobke at least the build tools are an issue:
[code]
--> https://drone.nextcloud.com/nextcloud/android/2513

[2017-03-03 10:48] AndyScherzinger commented on #705
maybe we need something like this back?
[code]

[2017-03-03 13:27] AndyScherzinger commented on #707
For some reason it is now working with today's state of the branch?! So I'd close it and will re-open in case it comes back.

[2017-03-03 13:27] #707 closed

[2017-03-03 13:43] mario commented on #707
Not for some reason lol.

It works because I fixed it.

On Fri, 3 Mar 2017 at 14:27, Andy Scherzinger <notifications@github.com>
wrote:

[2017-03-03 13:44] AndyScherzinger commented on #707
Oh cool :)

You are awesome @mario! The string thing?

[2017-03-03 13:57] mario commented on #707
https://github.com/nextcloud/android/commit/c9749698fa701ce96a7a8dff6e7f9b8edae4ec65 :)

[2017-03-03 14:03] AndyScherzinger commented on #707
👍 great! :)

[2017-03-03 14:10] puchrojo commented on #429
@nwl I try with remote of .nomedia file on /storage/emulated/1/Android/data/ and nothing change. The pictures and mp3 are not sow on gallery or music program.

[2017-03-03 14:37] JSoko commented on #429
@puchrojo thats by android design...
But Fastimageviewer can handle the files in the nextcloud folder...
https://play.google.com/store/apps/details?id=com.tdfsoftware.fiv

[2017-03-03 14:57] JSoko commented on #429
@RogerSik have a look at #285 and you can see, what is planed...

[2017-03-03 15:27] AndyScherzinger commented on #429
This will likely be made possible again in the future but I don't have any specific dates yet. As for images the upload duplication will be gone with the next release and you can keep the files in the original folder and not move it to Nextcloud's storage on the phone.

[2017-03-03 15:54] tobiasKaminsky commented on #688
Just came into my mind: If this is something that will want to have other customers as well, we could enhance this by adding any arbitrary layout:
Implement all the common actions as an interface and then have different real activities.
But it depends if many customers want to have a different layout and how big the difference is...

For now we can do it the way you mentioned, mario.

[2017-03-03 15:55] mario commented on #688
I'll probably do it by having two separate layout files with this difference. :)

[2017-03-03 16:00] tobiasKaminsky commented on #688
If the differences are small enough it is working this way.
Just came into my mind how to enhance this, when a customer, e.g. wants to have a new button in the bottom bar, or such stuff.

[2017-03-03 16:02] togglecode opened #710 "Image upload fails after removing the image one time (UNKNOWN_ERROR)"
### Actual behaviour
- Upload an image
- Remove the image after upload
- Upload same image again
- Upload get's failed, and you will get the same error again even if you "retry" the upload

### Expected behaviour
-upload should work even after removing and reuploading

### Steps to reproduce
1. upload image
2. remove the image (from the App)
3.  Try to re-upload the image

### Environment data
And

[2017-03-03 16:11] mario commented on #710
Fixed in 1.4.2 RC1, due soon :P

On Fri, Mar 3, 2017 at 5:02 PM, togglecode <notifications@github.com> wrote:

[2017-03-03 16:29] tobiasKaminsky commented on #689
#711

[2017-03-03 16:45] togglecode commented on #710
Oh that's good to hear @mario . May I ask how I can test it? because now it throws me an OC exception as `JSONException: No value for quota`.

[2017-03-03 16:46] mario commented on #710
Which Nc server version do you have?
On Fri, 3 Mar 2017 at 17:45, togglecode <notifications@github.com> wrote:

[2017-03-03 16:48] togglecode commented on #710
well, the demo server is on version 11.0.1.2

[2017-03-03 16:49] mario commented on #710
OK. So ... https://play.google.com/store/apps/details?id=com.nextcloud.client&hl=en

But you need to subscribe to a beta version, and version should be 1.14.2 RC1 ;)

[2017-03-03 17:06] togglecode commented on #710
oh... but commit f0bbb4b562649ce70178772fd9f922daa90763dd is 1.4.2 RC1 and it gives me this:

[code]

You can try it:

Server: https://demo.nextcloud.com/abcdtest
UN: admin
pw: admin

[2017-03-03 17:06] togglecode commented on #710
![device-2017-03-03-180547](https://cloud.githubusercontent.com/assets/17141698/23560848/1cc1afe8-003c-11e7-8346-3931f259291c.png)

[2017-03-03 17:08] tobiasKaminsky opened #712 "Nightly: Fresh start"
- create a "source" branch which can be used for starting a fresh nightly
  - correct app namin
  - proper provider names
  - nightly link, check for new apks
- merge this in a new branch
- rename everything to nightly
- re-add all "ready for nightly" PRs
- make this as a script that it can be done, in theory, everyday.

[2017-03-03 17:13] mario commented on #710
Are you building directly from source?

Try master then please :)

[2017-03-03 17:24] togglecode commented on #710
Yeah, I am on master, I mean I did a clean checkout/pull from master :D

[2017-03-03 17:25] mario commented on #710
Damn it. Will check soon.

On Fri, 3 Mar 2017 at 18:24, togglecode <notifications@github.com> wrote:

[2017-03-03 17:55] mario commented on #710
Thanks. *shrug* Dunno how this one slipped through.

[2017-03-03 17:59] togglecode commented on #710
That's the beauty of software engineering :p

[2017-03-03 17:59] #710 closed

[2017-03-03 18:06] AndyScherzinger commented on #712
👍

[2017-03-03 18:12] mario commented on #712
All good, except I'd wait with this until my branding branch is merged, then you'll be able to do this way easier :)

[2017-03-03 21:07] leleobhz opened #714 "Falied SSL Initialization"
### Actual behaviour
- When test a server address before logon, I get a warn about failed SSL initialization

### Expected behaviour
- Expected to accept connection

### Steps to reproduce
1. Configure server with Let's encrypt with secp384r1 as pubkey algorithm
2. Configure nginx as following ssl options:

[code]
3. Check the Android app.

### Environment data
Android version: 7.0

Device model:

[2017-03-03 21:07] leleobhz commented on #714
A comment: From Chrome in the same phone, It works well.

[2017-03-03 22:05] OlivierS1 commented on #706
@tobiasKaminsky It does make more sense now, I think.
However,one issue I found when trying to install 1.4.2 RC1 from @mario's  APK, was that I couldn't install it because the official Nextcloud app 1.4.1 was installed from the Google play store.
I had to remove the official release to install and test 1.4.2 RC1 from Mario. Hence the confusion.
Following the new naming structure @tobiasKaminsky  y

[2017-03-03 22:15] MorrisJobke commented on #705
This tool doesn't exist anymore :/

Mmmmh ... last time it worked :/

[2017-03-03 22:16] AndyScherzinger commented on #705
@MorrisJobke well, the build say: License for package Android SDK Build-Tools 25.0.2 not accepted.

:/

[2017-03-03 22:20] AndyScherzinger commented on #706
the have the exact same namespace (technically given) and so Android detects different signatures since the play store APK is signed with the release key, while the debug build is not, so Android prevents the update, security measure.

@mario's special build will go away now since the Auto upload changes have been merged to master and been released as 1.4.2 RC1 and RC2 on Google Play. :)

[2017-03-03 22:21] AndyScherzinger commented on #714
@oparoz is this a cipher used, not being supported by default?

[2017-03-03 22:23] AndyScherzinger commented on #600
@tobiasKaminsky can you take care of the RC2 release on f-droid please? :)

[2017-03-03 22:26] AndyScherzinger commented on #705
@mario @tobiasKaminsky @MorrisJobke any idea how to solve this ? 0_o

[2017-03-03 23:18] eppfel commented on #678
The account switching is already quite straight forward. I would expect the view staying the same, so if I'm in the new activity stream, slide out the sidebar and tap another account it should the new activity stream of that account.

We could introduce a little notification counter on of the account avatar, like it is in gmail to let users now about activity?

[2017-03-03 23:21] eppfel commented on #646
Not of my knowing, as everything happens on github. Feel free to submit a pull-request yourself @ldmpub . I guess @tobiasKaminsky @AndyScherzinger and @mario are happy to help you.

[2017-03-04 01:43] leleobhz commented on #714
Curiously from a StartSSL cert it works, so I suspect something related to eliptic curve I choose for letsencrypt, but its weird to me. Remembering StartSSL certificates got revoked by Mozilla, Apple and Google since mid 2016, so I want to change it to lets encrypt, but want a tighter security.

[2017-03-04 02:27] Wonderfall commented on #714
I'm also using LE P-384 certificates and [these ssl parameters](https://raw.githubusercontent.com/Wonderfall/dockerfiles/master/boring-nginx/ssl_params) and I've no problem.
But I had the issue as yours on a previous CyanogenMod build, perhaps you can to try to upgrade you ROM?

[2017-03-04 09:17] leleobhz commented on #714
@Wonderfall I'm using Android 7.0 from ZenFone3. I'm their beta tester and my phone is original and with warranty. I'll report this issue to Asus but I still wondering why Google Canary works and nextcloud app does not :/

I'll test you nginx config too.

[2017-03-04 14:06] Wonderfall commented on #714
Like I said, I had the same problem. It worked with Firefox, Chrome, but not with any app. I'm not an expert but maybe (likely) Chrome has its own embedded toolkit implementing SSL/TLS.

The best you can do is to report to Asus since I'm sure it's ROM-related.

[2017-03-04 17:55] tobiasKaminsky commented on #71
After rethinking and partially programming it, I think these many snackbars are too much for the user.
So my new suggestion:
On zoom > 2x display a snackbar with "only resized image shown" and as action "change".
When clicking "change" it opens a (blocking) option selection box with
"What happens when zooming, ..."
- show only resized image (default)
- download full image
- immediately download fu

[2017-03-04 18:25] tobiasKaminsky commented on #646
What is the conclusion? I made a suggestion on https://github.com/nextcloud/android/issues/646#issuecomment-280420946 but I do not know if is accepted.

[2017-03-04 18:34] tobiasKaminsky commented on #693
Fine for me 👍

[2017-03-04 18:53] mario commented on #646
Sure, fine.

On Sat, 4 Mar 2017 at 19:25, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-03-04 21:05] steve-s-71 opened #715 "AutoUpload does not work in version 1.4.1"
### Actual behaviour
Autoupload does not work anymore. It does not do anything if I shoot a photo...

### Expected behaviour
Photo gets instantly autouploaded as configured

### Steps to reproduce
1. configure Autoupload
2. shoot a photo

### Environment data
Android version: 7.0

Device model: Galaxy S7

Stock or customized system:

Nextcloud app version: 1.4.1

Nextcloud server version: 11.0.2

[2017-03-04 21:15] AndyScherzinger commented on #715
Hi @steve-s-71 this should be fixed with the latest release candidate 1.4.2 RC2 available now Google Play when registered as a tester, or waiting for the final to come around in about 2 weeks.

[2017-03-04 21:17] steve-s-71 commented on #715
Don't know how to register as tester and usually I avoid using RCs. In this case it would make sense for me. Can I dowload an apk file somewhere?

[2017-03-04 21:33] steve-s-71 commented on #715
I managed to subsribe as a tester. With 1.4.2 RC2 the issue is gone. Thanks!

It would be desireable to have a UI item which allows to select "Upload only via Wi-Fi" individually for Videos and Photos.

[2017-03-04 21:35] AndyScherzinger commented on #715
You can register here https://play.google.com/apps/testing/com.nextcloud.client and simply unregister after we release the final and than you will be on the stable only release channel.

[2017-03-04 21:36] AndyScherzinger commented on #715
For Photo vs Video we are still in discussion how to solve that nicely.

[2017-03-04 21:38] AndyScherzinger commented on #715
Glad to hear 1.4.2 solved the issue for you.

All credits go to @mario for pushing the auto upload fixes :tada:

[2017-03-04 21:40] steve-s-71 commented on #715
Thank you @AndyScherzinger and @mario
Appreciate to hear Photo vs Video is in work/discussion.

[2017-03-04 22:25] leleobhz commented on #714
But if its ROM issue, Why Chrome Canary works well here, accepting the certificate? Also, in Dev options, Webview implementation, both Chrome Canary and WebView did not worked within the app.

That said, Im also suspecting a ROM issue, but I ask in this bug report to something like "What Nextcloud App can do to allow the access?"

[2017-03-05 00:18] Wonderfall commented on #714
I don't know, there must be something with the SSL/TLS implementation.
It's working for me since a very specific build of CyanogenMod 14 (I'm now using LineageOS). During some time, it didn't work but it was indeed working while I was on CyanogenMod 13. If @AndyScherzinger remembers, we discussed briefly that matter on Twitter.

I don't say I'm 100% sure, but it's more than likely this issue comes

[2017-03-05 01:19] leleobhz commented on #714
Hello Devs!

I read http://stackoverflow.com/questions/39133437/sslhandshakeexception-handshake-failed-on-android-n-7-0 today and tested here to see what happens.

Ive changed my systemd unit from

[code]

to

[code]

And forced the rekeying with -x, regenerating the pubkey and fullchain again. Also in ssl_ecdh_curve I've leaved the default instead forcing the option "ssl_ecdh_curve secp521r1 secp

[2017-03-05 08:25] tobiasKaminsky commented on #646
Then we have a PR: #716

[2017-03-05 10:32] jancborchardt commented on #627
Yep, just delete but with a warning is nice cause it's a very destructive action (hassle to add the account again) and very seldomly done. As @AndyScherzinger proposed.

[2017-03-05 13:37] mario commented on #687
Btw. the part where favourites replace Offline files completely will probably be in 1.6 because we currently don't support folder sync at all.

Therefore, for 1.5 favorites management will be introduced and in 1.6 we'll do a migration once folder sync is supported.

cc @AndyScherzinger @tobiasKaminsky

[2017-03-05 14:39] AndyScherzinger commented on #687
Makes total sense, yes. ! 👍

[2017-03-05 14:43] Wonderfall commented on #714
It's related to the elliptic curve used by the certs, but I think the fact it works on Chrome Canary and not in the app shows exactly that the system is in fault. Let us know what Asus will answer.

As a "temporary fix" you can use multiple certificates at the same time with nginx.

[2017-03-05 15:07] AndyScherzinger commented on #71
Sounds okay to me (no UX pro though), what about people who want to look at the pictures even on full resolution but still not download? I'd say we stop downloading and do just caching here and _if_ people want to download them then have to explicitly select one/more images in the file list and select download.

What do you think about that?

cc @eppfel

[2017-03-05 15:35] tobiasKaminsky commented on #71
In your scenario the user would not have to do anything, as this is the default. The snackbar will vanish after the second time forever.
Manually downloading a specific file is always possible and the preview will be replaced seamless with the full version.

[2017-03-05 15:38] AndyScherzinger commented on #71
@tobiasKaminsky I think not. If the user wants to preview the original images, then that is not one of the options you offer, at least not according to your list above?

[2017-03-05 16:20] Bullnados commented on #715
For me 1.4.2 RC doesnt solve the problem.
LG G4 @ Stock
Reinstalling the app doesn't solve the problem

[2017-03-05 16:32] Bullnados opened #717 "Changing Auto-Upload folder kill the app"
### Actual behaviour
App was killed after selecting new autoupload folder. My folder has the following specs
- 1 Subfolder /Pics/AutoUpload with 4,2GB all Pcis
- 6 pictures under /Pics/

Empty folder or folders with less files in it can be selected. But folder with round about 400Mb ebooks (50-100 files) also let crash the app

### Expected behaviour
No dead app

### Steps to reproduce
1. Auto-Upl

[2017-03-05 16:37] mario commented on #717
Already looking - thanks! :)

[2017-03-05 16:48] mario commented on #717
Fixed, will be in RC3 - thanks for reporting!

https://github.com/nextcloud/android/pull/718

[2017-03-05 17:46] Bullnados opened #719 "AutoUpload still does not work in version 1.4.2 RC2"
FYI
Auto-Upload still doesnt work. #715

- try to create new upload folder
- enable/disable Auto-Upload for specific folders
- change path of that folders
- reinstalling App

[2017-03-05 17:56] mario commented on #719
What kind of "path" are you changing? remote path?

Can you screenshot your settings for the folder?

What Android version is that phone?

[2017-03-05 18:39] mario commented on #717
Can you try RC3 pls?

On Sun, 5 Mar 2017 at 17:32, Alexander Scholz <notifications@github.com>
wrote:

[2017-03-05 18:54] Bullnados commented on #719
I changed the server path
6.0
LG G4 @stock
![inkedcapture _2017-03-05-19-43-59_li](https://cloud.githubusercontent.com/assets/11041576/23590288/3127eda6-01dd-11e7-9da3-0444088a7527.jpg)
![inkedcapture _2017-03-05-19-42-41_li](https://cloud.githubusercontent.com/assets/11041576/23590289/3275525c-01dd-11e7-942f-13a31e7cb513.jpg)

[2017-03-05 18:55] Bullnados commented on #717
Will test that in 2 hrs :+1:

[2017-03-05 18:57] mario commented on #717
Thanks!

On Sun, Mar 5, 2017 at 7:55 PM, Alexander Scholz <notifications@github.com>
wrote:

[2017-03-05 18:58] mario commented on #719
So what does the Uploads screen says when for example you take a picture? Nothing?

[2017-03-05 19:13] Bullnados commented on #717
Nope doesnt work with RC3. :cry:
I do just an update over playstore and a reinstall

[2017-03-05 19:16] mario commented on #717
Did you submit the crash? Did it ask you to do it?

[2017-03-05 19:17] Bullnados commented on #719
Okay new pictures seems to get uploaded.
Old pictures don't get uploaded. Wether i select an empty folder for autoupload

[2017-03-05 19:19] mario commented on #719
That's normal. Only new pictures are supposed to get uploaded :)

[2017-03-05 19:19] #719 closed

[2017-03-05 19:23] Bullnados commented on #719
Okay thanks for info.
But would it no be better to sync all files if u choose an autoupload folder?
But i think therefore i create a new [Feature Request] cause i have some more wishes for autoupload. Perhaps i shall take that wishes to start java developing xD

[2017-03-05 19:24] mario commented on #719
We have that planned already, but I invite you to open all the issues you can think of and we'll tell you if we already have that planned :)

[2017-03-05 19:24] Bullnados commented on #717
Yes i submited the crash. I think three hours ago with RC2

[2017-03-05 19:25] mario commented on #717
I saw that one, and it was related to search when selecting upload folder - that one is fixed for RC3.

[2017-03-05 19:46] Bullnados opened #720 "[Feature Request] Auto-Update should sync also old files(pics)"
At the moment old files won't sync if u enable Auto-Upload for one or more folders.
I think it would be better to sync also old files. Either first time autoupdate is enable for a folder or every time autoupload for a folder is disabled/enabled. The second one is also a manual one

One question could be is "old file upload"optional or not

[2017-03-05 19:50] Bullnados commented on #717
I sent u again the crash reportcreated with RC3

[2017-03-05 19:52] mario commented on #717
Got it now, thanks!

On Sun, Mar 5, 2017 at 8:50 PM, Alexander Scholz <notifications@github.com>
wrote:

[2017-03-05 20:03] Bullnados opened #721 "[Feature Request] Enable debug logging in beta/nightlies"
At the moment u can just send a crash report. Would be nice if u can see that reports also. F.e create a new menu point in the settings for enabling(reading and coping logs in smartphone)/disabling(normal sending as it is) logging

[2017-03-05 20:09] AndyScherzinger commented on #721
It is available in the nightly, just go to settings - > logs

They are always active on the nightly ;)

[2017-03-05 20:30] rubdos commented on #112
Is there a tracking issue for full IPv6 support? This is really a pain.

[2017-03-05 21:09] AndyScherzinger opened #722 "Bump Jackrabbit to the latest 2.14 release"
At the moment we are using 2.12.x which is still using http client 3.1 while the new release 2.14 bumped the version to 4.1, see http://jackrabbit.510166.n4.nabble.com/ANNOUNCE-Apache-Jackrabbit-2-14-0-released-td4666058.html

cc @mario @tobiasKaminsky

[2017-03-05 21:10] mario commented on #722
Isn't this more about the library?

[2017-03-05 21:12] AndyScherzinger commented on #722
Right, moved... https://github.com/nextcloud/android-library/issues/48

[2017-03-05 21:12] #722 closed

[2017-03-05 21:40] AndyScherzinger commented on #720
https://github.com/nextcloud/android/issues/285 v1.1. should cover that:

[2017-03-05 21:40] #720 closed

[2017-03-05 21:40] AndyScherzinger commented on #720
#285 v1.1. should cover that:

please re-open if you disagree

[2017-03-05 21:42] AndyScherzinger commented on #112
At the moment there is none, we look into the latest library release (https://github.com/nextcloud/android-library/issues/48) which may or may not be technically integrateable. If not we might have to write or own webdav client implementation (which would be a real effort to be taken...).

[2017-03-06 04:42] pomkos opened #724 "Can't share files deftly to other apps"
### Actual behaviour
-Apps can't open files if prompted to do so from within Nextcloud app. I need to manually download the file, then browse to it from a file explorer app, and then use that to open the file with another app.

### Expected behaviour
-When I tap "open with" in Nextcloud and select Word, for example, Word should be able to open the document. Currently it just opens word or gives th

[2017-03-06 08:48] tobiasKaminsky commented on #71
This is/can be an independent feature and should, for simplicity reason of this PR, be in a separate issue.

[2017-03-06 08:52] mario commented on #71
I think this should be the default behaviour though? Take a look at the full image, but don't download.

[2017-03-06 10:28] AndyScherzinger commented on #71
Me too, so it would then maybe be another topic and be something we change anyways (maybe for 1.5?). If you agree, can you open an issue for that?

[2017-03-06 18:57] Bullnados commented on #724
FYI
For me all is working normaly

Android version: 6.0
Device model: LG G4
Nextcloud app version: 1.4.2RC4
Nextcloud server version: 11.0.2

[2017-03-06 18:57] Bullnados commented on #721
Nightly is to hot for me. So can u enable it in beta too?

[2017-03-06 19:22] Bullnados opened #725 "[Feature Request] Use notifcation bar to show upload status"
Would be nice to see upload status in notification bar.

Infos could be:
- startime
- endtime
- upload rate in mb/s
- erros during upload

With this also drop support for 4.0 and use "new" API 16. So it is possible to pause and restart upload over notification bar. You wont lose much devices and about 97,4% still compatible with API 16

[2017-03-06 23:18] MorrisJobke opened #726 "Different internal and login username cause JSONException for fetching user information"
### Actual behaviour
- It uses the username that was entered during login (but this is not for sure the internal username - LDAP allows to use CN, email and a nickname together with the same password to login and maps internally to a UUID as username)

In the test we used the current master of the android app and logged in via `abc@example.com` but the internal username is `abc.def` - `abc@example

[2017-03-07 01:48] mario commented on #726
This does not look like the current master. When did you test?

On Tue, 7 Mar 2017 at 00:18, Morris Jobke <notifications@github.com> wrote:

[2017-03-07 02:15] laurentdinclaux opened #727 "No more Fdroid builds"
No new nightlies since 20170223

From https://f-droid.org/wiki/page/com.nextcloud.android.beta#20170224 :
`We can't build this version: The build for this version appears to have failed.`

Build logs:
[code]

[2017-03-07 02:49] MorrisJobke commented on #726
This evening, but I need to check, when the latest pull happened.

[2017-03-07 09:30] AndyScherzinger commented on #721
in the release candidates we could, yes. Even though this will need some work, to cleanup when a final/stable release is installed. Other possibility would be to generally offer the possibility to activate logging via the settings screen.

What do you think @mario @tobiasKaminsky ?

[2017-03-07 12:29] korelstar commented on #703
What do you mean by "pn"? Private message? As far as I know, there is no such concept on GitHub.

For now, I have some improvements for the "about" screen. But the last time I went through the translations, I added some "suggestions" to Transifex. But currently, I have no time to search for them. It seems that there is no easy way to list all strings with manual suggestions.

- `participate_testin

[2017-03-07 12:47] JSoko commented on #703
Yes, I ment PN on transifex...

Your changes are in transifex and I'll look at the reviewed entries soon...

[2017-03-07 12:47] #703 closed

[2017-03-07 15:42] ronak5279 commented on #454
hey! i would like to know more about this issue

[2017-03-07 19:28] tobiasKaminsky commented on #727
A more detailed error log is https://f-droid.org/wiki/page/com.nextcloud.android.beta/lastbuild_20170301

After talking to the fdroid guys the problem is "com.google.android.gms:play-services:10.2.0", which is needed for the enhanced auto upload.
So currently we cannot publish on fdroid :/

[2017-03-07 19:32] tobiasKaminsky commented on #721
If we want having it enabled on RC only, and disabling it on stable, it must be possible with build params, otherwise it is too much work.
I remember that we discussed this once upon a time. The opinions varied from "not needed" to "hide it in dev mode" to "always show it".
The regular user should not need it, so I would "hide" it or just put it somewhere real deep ;-)

[2017-03-07 19:40] tobiasKaminsky commented on #454
hey,
thank you for wanting to contribute.
As @jancborchardt described the problem is that the search icon (magnifying lense) is shown when you download and open a plain text file (e.g. test.txt).
To solve this the search icon must be disabled when entering the text preview fragment and enabled again when showing the regular file list.
If you need any help, do not hesitate and join us on #nextcloud

[2017-03-07 19:41] tobiasKaminsky commented on #454
Edit: Just saw it seconds ago: this is already covered by @mario PR #565
So, if you still want to contribute, please search for another "starter issue".

[2017-03-07 20:10] Bullnados commented on #721
Perhaps tipping at app version same Google is doing for developer console? If this is to complexe close that issue, was just an idea.

[2017-03-07 20:19] mario commented on #721
We can enable it for nightlies and RCs quite easily once my branding PR is ready.

@tobiasKaminsky is nightly a "Debug" or a "Release" build?

[2017-03-07 20:21] laurentdinclaux commented on #727
So I think it should be removed from Fdroid.

The currently​ published nightly has a bug, all my photos have been
auto-uploaded multiple time, and new ones stopped uploading.

Leaving my photos library in such a messy state that nobody should face.

Keeping it like this in Fdroid can only be harmful to nextcloud.

Le 8 mars 2017 06:28, "Tobias Kaminsky" <notifications@github.com> a écrit :

[2017-03-07 20:22] mario commented on #727
I agrree @laurentdinclaux

[2017-03-07 21:07] AndyScherzinger commented on #727
:/ have to agree, which would mean we would have to stop nightlies until the GMS matter will be resolved. Not sure how that could be accomplished though....

[2017-03-07 21:10] laurentdinclaux commented on #727
Is it some non open source code that you are including ?
Or something needed at build time that the fdroid server do not support
(and obviously won't) ?

2017-03-08 8:07 GMT+11:00 Andy Scherzinger <notifications@github.com>:

--
Laurent
laurent@knc.nc

[2017-03-07 21:11] AndyScherzinger commented on #721
Well, we would still have to implement some kind of cleanup once a stable release gets installed, so the log file gets removed during stable updates. This way we do not hold such data on the phones of our users.

[2017-03-07 21:11] mario commented on #727
We're including play services. While the app can live without it on runtime (possibly with issues), it can't build without it and that's what Fdroid seems to have a problem with.

[2017-03-07 21:12] mario commented on #727
@AndyScherzinger like I  said, we could try creating an F-droid flavour without it once my branding branch is merged in and see what happens?

[2017-03-07 21:15] AndyScherzinger commented on #727
I thought what would happen then is that you would have the never ending file duplications during reboot as described by @jasonbayton which is why the implementation has been utilized that is using GMS, no? If so than removing GMS via an f-droid specific build wouldn't help :/

[2017-03-07 21:15] AndyScherzinger commented on #727
@mario f-droid builds the app itself, they don't trust builds/binaries, so the problem would persist with f.droid and GMS...

[2017-03-07 21:16] laurentdinclaux commented on #727
Or build nightlies on your own (travis ? dorneio ?) and make your own
Fdroid repo which is very very easy to setup for compiled APK.

2017-03-08 8:15 GMT+11:00 Andy Scherzinger <notifications@github.com>:

--
Laurent
laurent@knc.nc

[2017-03-07 21:17] mario commented on #727
@AndyScherzinger yes, that's what would happen on *some* phones.

We actually already build our own nightlies and host them.

[2017-03-07 21:21] AndyScherzinger commented on #727
But the same problem exists for the stable/RC builds! So what would/could happen build wise if we simply drop  the idea of auto upload for pr Android 5, would the Problem still exists on some phones? I guess, right?

[2017-03-07 21:23] mario commented on #727
Yes it would. I believe he was facing this problem on Android 6? Right @jasonbayton ?

[2017-03-07 21:31] jasonbayton commented on #727
👋

I was on 6.0 and 6.0.1 (2 test devices) seeing this issue on boot. 5.1.1 worked fine on my Samsung.
I also replicated it on 7 using an older build sans GMS I'd had lying around (Moto Z) during testing with @mario

The F-Droid build currently up there should be pulled though, you're inflicting cruel, unusual punishment on people having to manually delete potentially thousands of dupes (I still h

[2017-03-07 21:36] AndyScherzinger commented on #727
The problem with GMS is that is is a arbitrary dependency of the lib used for the upload jobs...

[2017-03-07 21:37] AndyScherzinger commented on #454
@ronak5279 the PR of interest for you is #565 then

[2017-03-07 21:37] mario commented on #727
No, I can *remove* that dependency and keep using the lib. But that causes issues :)

[2017-03-07 21:38] jasonbayton commented on #727
So some special sauce in GMS is making the lib magical.

[2017-03-07 21:38] AndyScherzinger commented on #727
Ah, right, but then it would mean find a workaround and patch the lib ourselves or contribute it back while contributing back would be best then.

[2017-03-07 21:39] mario commented on #727
I believe it's the fact that GCM Network Manager is used instead of faulty Job Scheduler, even if sometimes GCM uses Job Scheduler internally, and GCM Network Manager relies on having Play Services around.

[2017-03-07 21:44] jasonbayton commented on #727
So all we need to do is wait while @mario rewrites Job Scheduler (and contributes it back because ❤️) and we're golden! :)

[2017-03-07 21:45] mario commented on #727
Ideally, yes - but Google doesn't really takes patches.

[2017-03-07 21:46] pomkos commented on #724
I wonder if it's a Nougat thing. Have there been other reports of this issue?

[2017-03-07 21:48] jasonbayton commented on #727
Well then NC gets all the benefit :)

[2017-03-07 21:48] mario commented on #727
Be serious :P

[2017-03-07 21:50] AndyScherzinger commented on #724
No, it worked on my Nexus5X and works on my OnePlus3T just fine.

[2017-03-07 21:54] laurentdinclaux commented on #727
If nightlies are built, hosting an fdroid repo is easy. It is just static
files.

Drop new APKs launch a command: static repo updated.

2017-03-08 8:48 GMT+11:00 Mario Đanić <notifications@github.com>:

--
Laurent
laurent@knc.nc

[2017-03-07 22:00] alecbl commented on #727
What does this mean for the folks that do not use play services? Like roms with no gapps.

[2017-03-07 22:05] mario commented on #727
Do you have one like that @alecbl ?

[2017-03-07 22:51] alecbl commented on #727
I do yes @mario. I use no gapps, or microg on phones I want signal to run on.

[2017-03-07 22:52] mario commented on #727
@alecbl would appreciate if you could test this then with regards to auto uploads:

https://download.nextcloud.com/android/nightly/latest.apk

Also, try to take a few pictures and reboot. And see what happens (with auto upload enabled)

[2017-03-07 22:53] mario commented on #726
@MorrisJobke news?

The app does use wrong username all around I guess, but this particular issue should be fixed already.

[2017-03-07 23:09] alecbl commented on #727
Ok, will do and report back soon (tomorrow I hope).

[2017-03-08 09:27] chefboyct commented on #110
Hi all, just upgraded my Huawei P9 plus to Nougat and as discussed, I have random issues with Nextcloud Android 1.41 (It closes randomly and upload doesnt work). And now I installed the F-droid nightly version 20170223 and when I log in, I get "unknown error" message. When I typed in https:// .... and it showed secure connection established. And when I enter username and password, it will detect t

[2017-03-08 12:24] AndyScherzinger commented on #110
Hi @chefboyct are when talking about 1.4.1 are you using the Google Play store or also the f-droid store? Simply asking since 20170223 is flawed but Google Play already offers the 1.4.2 RC4 version which should solve your issues but in order to get that version you need to register as a tester here: https://play.google.com/apps/testing/com.nextcloud.client

[2017-03-08 12:31] AndyScherzinger commented on #413
@tobiasKaminsky @mario This issue is still present in the developer console on Google Play :/ for quite some devices (not happening a lot though):

* Pixel (sailfish)
* Nexus 5X (bullhead)
* Nexus 6P (angler)
* Redmi Note 3 (kenzo)
* Xperia XZ (SOV34)
* UMI_PLUS
* Mi 5 (gemini)
* Xperia Z5 Compact (E5823)
* Galaxy S5 (klte)
* Redmi 3 (ido)
* Moto G (3rd Gen) (osprey_u2)
* OnePlus2 (OnePlus2)
* LG

[2017-03-08 12:33] chefboyct commented on #110
Thanks @AndyScherzinger . I will give it a try later. I just registered as a tester! Much appreciated!

[2017-03-08 13:37] chefboyct commented on #110
@AndyScherzinger . There seems to be some issue with Play Store as I can not connect it via my Huawei P9 plus at the moment. However I can assess the site from my laptop (wired network). Maybe it is busy registering me as a Beta tester? Overall the experience with Nougat has not been great on all levels! :(

[2017-03-08 15:58] chefboyct commented on #110
Thanks @AndyScherzinger  It worked like a charm! amazing new interface and also more options for the upload! Excellent work and my hats off to the developers!

[2017-03-08 15:59] alecbl commented on #727
@mario So I've quickly tested with microg installed. I've taken some pictures and it prompted the auto upload. Tried rebooting afterwards, it didn't repeat uploads. Is there anything in particular I should do to prompted the duplicate pictures issue?.

What did happen is that sometimes uploads fail (I think this is a known issue?). But more interestingly the notification often says the upload fail

[2017-03-08 16:32] aleister09 commented on #726
I'm here with @MorrisJobke and I found out that the change of the android-library from 1.0.10 to 1.0.11 caused the bug https://github.com/nextcloud/android/pull/610/files#diff-c197962302397baf3a4cc36463dce5eaL43

If I change back the version of the library to 1.0.10 the error is gone.

[2017-03-08 16:38] mario commented on #726
We are already on 1.0.13 though?
On Wed, 8 Mar 2017 at 17:33, Morris Jobke <notifications@github.com> wrote:

[2017-03-08 16:52] mario commented on #110
Happy to serve you ;)

On Wed, 8 Mar 2017 at 16:58, chefboyct <notifications@github.com> wrote:

[2017-03-08 17:46] MorrisJobke commented on #726
Ah - right. Let @aleister09 fetch the latest code and try again.

[2017-03-08 18:09] #726 closed

[2017-03-08 18:52] mario commented on #715
@Bullnados closing as it works for you too :P

[2017-03-08 18:52] #715 closed

[2017-03-08 19:08] tobiasKaminsky commented on #413
Do we have more infos about the os, e.g. if all are using a custom mod?

[2017-03-08 19:19] mario commented on #413
Doesn't seem like it.

[2017-03-08 19:32] tobiasKaminsky commented on #727
I have created a "dirty" fix, I hope.
I removed GCM and on reboot/shutdown all pending upload jobs will just being deleted.
We (mario and I) hope that this prevents uploading files multiple times.

@jasonbayton can you try it with the latest nightly: https://kaminsky.me/nc-nightly/latest.apk

[2017-03-08 19:47] mario commented on #727
Note that this means some files might not get uploaded, and that this is only in nightly.

[2017-03-08 19:47] jasonbayton commented on #727
This was discussed during testing so if the phone shuts down, which happens regularly when I'm on the road, any queued files for upload are lost. Given the app now leaves files in the queue for up to a minute or two before uploading them as it stands, that's a good few files that wouldn't upload.

Even worse and more critical when you expand out to files.

[2017-03-08 22:40] mr-manuel opened #729 "Nextcloud beta 20170223: app crashes when open settings"
### Actual behaviour
- The App crashes when I open the settings in Nextcloud app.

### Expected behaviour
- It should open whitout crash

### Steps to reproduce
1. Set the storage path to SD card on Android 7
2. Open settings in Nextcloud

### Environment data
Android version: 7.0

Device model: Samsung Galaxy S7 Edge

Stock or customized system: Stock

Nextcloud app version: 20170223

Nextcloud s

[2017-03-09 07:17] chefboyct commented on #715
Well done to all developers on this!

[2017-03-09 08:22] AndyScherzinger commented on #413
No, we can only see the Android version which is always 7 or 7.1 no further details :(

[2017-03-09 12:20] Bullnados commented on #729
Same problm?
#717

[2017-03-09 14:16] ralftar commented on #427
@Hoerli1337 Any success on figuring it out? I am experiencing the same behavior.

[2017-03-09 14:35] togglecode opened #730 "App forces logout after sharing a file with the same user twice"
### Actual behaviour
-App forces logout after sharing a file (intern) with a user twice

### Expected behaviour
-The user should not be shown in the search list after you have added them in shared.

### Steps to reproduce
1. Open App
2. Long press on a file -> share
3. Add user or Group
4. Search for a user (Let's say user "example")
5. Add the user "example" as a person which you want to share th

[2017-03-09 17:24] mr-manuel commented on #729
No, unfortunately not. I can browse all folders with lot of images, big files and so on. The app crashes only when I want to open the settings.

[2017-03-09 17:51] Bullnados commented on #729
Can u download 1.4.2 RC4? I think ist newer than 20170223 cause fdroid is broken atm

[2017-03-09 18:13] AndyScherzinger commented on #730
Didn't have the change yet to look for the cause but tested the issue and can confirm the logout.

[2017-03-09 19:33] mr-manuel commented on #729
With the latest version from the readme.md file (https://download.nextcloud.com/android/nightly/latest.apk) it works perfectly again.

Thank you :)

[2017-03-09 20:04] JSoko commented on #427
2 posible reasons:
Ipv6 => switch to ipv4
Bruteforce => have a look into the bruteforcetable of your database...

[2017-03-09 20:34] Bullnados commented on #724
Checked also on my Nexus 10 with OmniRom 7.1.1 and a PDF file with acrobat reader

[2017-03-10 02:41] aronovgj commented on #727
Since [this](https://github.com/nextcloud/android/issues/644) was resolved I did not have any issues with autouploads on none of the nightlies. I am one of those who don't use play services (I disable them when I don't need them by using `pm disable`). So whenever auto-uploads happen these services are not available and auto uploading still always succeeded. That is on Android 7.0.

[2017-03-10 10:25] ralftar commented on #427
@JSoko Thanks! It was related to the anti brute-force mechanism. It was triggered after changing credentials. I suppose a fix would be to drop the app's intensive connect attempts upon wrong credentials.

[2017-03-10 14:45] MagnumGR commented on #729
I have the same problem (crash when i open settings) with my SONY Xperia Z (Android 5.1.1) with all nextcloud beta - nightly versions for over a month now.
With the the latest 1.4.2 RC4 and all previous version from Google Play there is no problem with it

[2017-03-10 16:26] AndyScherzinger commented on #729
@MagnumGR do you have the change to provide a logcat (just asking, would probably mean you would have access to Android Studio)

[2017-03-10 19:33] MagnumGR commented on #729
I do not have access to settings -> Create Logfile (if i remember correctly).
I have try to locate any *.log to nextcloud folders without success.

If there is a way to provide any useful information (log, etc) please give me detailed instruction for this.

[2017-03-10 21:44] #694 closed

[2017-03-11 10:30] ralftar opened #731 "Nightly 20170301: AutoUpload issue (other folder)"
### Actual behaviour
Files stored in snapchat folder won't auto-upload at all.

As many others, I have been struggling with the auto upload for a while. Testing with the nightly build of 20170301 with Android 7 (same result with android 6); I am concluding that auto upload for screenshots works fine, auto upload from camera work doubtfully fine (have not been able to reproduce faults systematicall

[2017-03-11 12:31] Bullnados commented on #731
Have u tried 1.4.2 RC4? It is newer than nightly

[2017-03-11 15:32] ldmpub opened #733 "When Google Play description for french will be updated?"
Hi,

Attached is the current description in Google Play Store for Nextcloud.

I made some changes in the french Transifex translation some days ago. Is it the good way to proceed? If so, when the description will be updated in Google Play with the new one?

Regards,
![google play](https://cloud.githubusercontent.com/assets/1452146/23824509/680c37ba-0678-11e7-95a4-e16048deae08.png)

[2017-03-11 15:55] ldmpub opened #734 "Blinking Thumbnails when refreshing"
Hi,

I'm running nightly since 2 weeks (with regular updates), currently I run version : 20170308.

I have noticed, in folders containing images, that refresh leads the thumbnails to blink wether I'm online or offline because the default image icon (with montains) is shortly displayed ... look at the attached zip screen video:
[ScreenRecord - Blinking Thumbnails.zip](https://github.com/nextcloud/a

[2017-03-11 17:38] unalignedcoder commented on #342
Same problem here. App crashes upon login. Not sure it even logs in, as the login screen just suddenly disappears. I only tested this with my Samsung Note 3 with Android 4.4.2

[2017-03-11 18:21] zmatsuo commented on #618
I try to design passcode activity.
Please give me advice.

![out](https://cloud.githubusercontent.com/assets/6488847/23825730/6cba9068-06d2-11e7-9bb4-947e59dcb3b2.gif)

This activity has no edittext.
So now, when soft keyboard is displayed, soft keyboard is full keyboard .
I want to show numeric soft keyboard.I found next page.
http://stackoverflow.com/questions/28978225/how-to-show-number-keyboar

[2017-03-11 18:49] Schmuuu commented on #228
If I may jump in here:
Users of my NC server use older Android smartphones like Galaxy S4 mini. With the android default browser and also with the NC app (latest release) I can't connect to the server.
For me as well the super secure ciphers are the root cause of this problem. Using Mozilla Firefox on the S4 mini, I can connect to the server without any problems, which makes me think that Firefox

[2017-03-11 22:05] DoctorMcKay opened #735 "Auto-uploaded files that are moved to app folder are deleted from local storage the next time the folder is viewed in the app"
### Actual behaviour
After images are taken and auto-uploaded, they are moved to the app folder as expected. However, the next time the folder containing those images are viewed in the Nextcloud app, the images are deleted.

### Expected behaviour
The images should not be deleted and should appear with a green checkmark as with all other locally-available files.

### Steps to reproduce
1. Enable a

[2017-03-12 00:58] ArtyV opened #736 "[Feature Request]: Ability To Stream"
Like on Desktop where you can stream videos and pictures without downloading them, the equivalent would be nice on the android app.

[2017-03-12 06:55] miska opened #737 "Possibility to set storage path"
In storage path settings, I can choose only from predefined paths and in my case, it's limited to default which means only one path is possible. But I would like to download my files for example to SD card and not main memory. This is probably partially issue caused by Android emulation, but even so, it would be nice to allow experienced users to set their own path manually.

### Actual behaviour

[2017-03-12 07:07] mario commented on #735
Thanks for the report.

@AndyScherzinger think you can test this?

[2017-03-12 08:51] tobiasKaminsky commented on #736
This is already (partly) implemented in #183 for video and #69 for images.
You can have a look into these issues and comment there if they do not fit your needs.

[2017-03-12 08:51] #736 closed

[2017-03-12 21:54] pomkos commented on #724
Well, looks like it was my fault. I uninstalled and reinstalled from the play store, works like a peach on 7.1.1. 99% sure the app doesn't work well with titanium, no amount of fresh ROM installs made it work if I restored from titanium but a play store install worked wonders every time.

[2017-03-12 21:54] #724 closed

[2017-03-13 03:39] parmdhoot commented on #112
I hope everyone can get this resolved. Some clients are still having issues when they are on a IPv6 network.

[2017-03-13 10:01] IvanAldrich opened #738 "ViewGroup.dispatchCollectViewAttributes NPE"
Running monkey i got this crash, it appeared that mChildren[i] null which is supposed never happened. Or is there any posibility cause that?

### Logs
java.lang.NullPointerException
at android.view.ViewGroup.dispatchCollectViewAttributes(ViewGroup.java:1112)
at android.view.ViewGroup.dispatchCollectViewAttributes(ViewGroup.java:1112)
at android.view.ViewGroup.dispatchCollectViewAttributes(ViewGrou

[2017-03-13 17:00] ioguix commented on #720
Hi,

I'm using version nightly 20170301 and I can confirm there is no such option in auto-upload folders three-dot menu.

BTW, I checked the "upload on wifi only" option, but it seems it tried to sync with no wifi connection...and now I have wifi again, it seems it tries to upload everything again :/

[2017-03-13 17:12] AndyScherzinger commented on #720
This option hasn't been implemented yet (also not in the nightly)

That shouldn't happen, there should be a new version available soon for the nightly though which may or may not fix this issue if present (can't test it at the moment). cc @mario @tobiasKaminsky

[2017-03-13 17:40] edgartaor commented on #720
I was expecting that "auto upload" would upload all existing files by default (not only new files), like others sync apps. That made me think that auto-upload was not working, until I take a picture.

IMHO, the app should upload/sync all files by default and have this option instead:

or prompt the user "Sync all existing files of this folder?" --YES-- --NO--

[2017-03-13 17:49] AndyScherzinger commented on #720
@edgartaor it is part of #285 v1.1. but not yet implemented. Auto upload is the 1st evolutionary step towards a real sync but the first iteration is basically a new implementation for the former instant upload (that uploaded a picture right after it had been taken).

[2017-03-13 17:53] edgartaor commented on #720
Thanks for your work.

[2017-03-13 17:54] AndyScherzinger commented on #720
@edgartaor always happy to help. Would love to have all the feature versions of auto upload already done, but unfortunately it takes time and we mostl just work on the app in our spare time as contributors :)

[2017-03-13 18:05] AndyScherzinger commented on #600
@mario @tobiasKaminsky Looking at the fact that 1.5.0 is really high priority and checking the latest stats on Google play, how do you guys think about releasing 1.4.2?

1.4.2 RC4
* running on >1347 devices
* only has 3 reported kinds of crashed which have been in the app for quite a while and we haven't found their root cause (yet)
* #717 is still open, no cause found but I wouldn't want to block

[2017-03-13 19:05] Bullnados commented on #720
Than u should stop doing all things nothing to do with the app ^^

Have u perhaps a rough releaseplan for that feature

[2017-03-13 19:18] Bullnados commented on #720
Than u should stop doing all things nothing to do with the app ^^

Have u perhaps a rough releaseplan for that feature

[2017-03-13 19:25] Bullnados commented on #600
I sent u a crash report again. I think yesterday and now again. APP is crashing justing browsing through folders

[2017-03-13 20:31] paolomeraviglia opened #739 "impossible to upload a file 2 times"
### Actual behaviour
Example: I fixed 50 mb limit  for an account. Trying from android app to load a file of 26 mb, deleting, purging trash and re-uploading is impossible (upload failed error from app when I try to upload the second time).

Trying with other files of 1-2 mb will make it work.

### Expected behaviour
Upload ok if the quota is not reached.

### Steps to reproduce
1. upload a file of

[2017-03-13 20:49] AndyScherzinger commented on #600
@Bullnados does it crash in any folder or just in specific folders and if so is there anything "special" within these folder, like shared files/folders (which kind of share)?

@mario @tobiasKaminsky the issue the the known one: ```java.lang.IndexOutOfBoundsException```, see #251 where we could never replicate this crash on any of our devices/servers :(

[2017-03-13 20:52] mario commented on #600
@AndyScherzinger I'll do it tomorrow if @tobiasKaminsky agrees.

[2017-03-13 20:54] mario commented on #600
@AndyScherzinger feel free to tag and all that.

[2017-03-13 21:15] AndyScherzinger commented on #720
No schedule yet, sorry :(
There a couple of features that need to be implemented before taking on the next step regarding auto upload. If I would have to guess, I'd say April/May but that also depends on the availability of @mario and @tobiasKaminsky or any other contributor who would like to jump in....pretty busy with my day job... :(

[2017-03-13 21:29] paolomeraviglia commented on #739
Trying with a different app (oCloud), everything works ok. I'm pretty sure the problem is in nextcloud app.

[2017-03-13 21:31] AndyScherzinger commented on #739
@paolomeraviglia did you try it right away with two uploads or did some time go by inbetween, because then it could also be a server-side issue?

[2017-03-13 21:34] AndyScherzinger commented on #600
@mario I created a PR #740 which should be merged first (Changelog needs the right date first!) and after that has been merged we can do the tag from master. :)
I just need a go from you and Tobias 🚀

[2017-03-13 21:36] paolomeraviglia commented on #739
i tried file by file doing:

- upload -> ok
- wait -> ok
- trash -> ok
- delete via web gui from trash -> ok
- reupload -> failed

With oCloud app (not owncloud) all the things are running ok. If needed, please describe me a complete test to do and I'll do it now

[2017-03-13 21:38] AndyScherzinger commented on #739
@paolomeraviglia thanks for the detailed description and feedback. The test steps seem detailed enough!

[2017-03-13 21:39] AndyScherzinger commented on #739
@mario @tobiasKaminsky I labeled it 1.5.0 since this seems to be a small issue to fix and 1.4.2 is frozen.

[2017-03-13 21:40] paolomeraviglia commented on #739
ok, thanks for your great work: I'm testing now if the same problem appear in the beta release

[2017-03-13 21:41] mario commented on #739
@AndyScherzinger this should already be fixed in beta.

[2017-03-13 21:42] AndyScherzinger commented on #739
That would be awesome! Which PR fixes this one?

[2017-03-13 21:42] mario commented on #600
@AndyScherzinger right date is March, 14th.

[2017-03-13 21:43] paolomeraviglia commented on #739
CONFIRMED, the beta version is working right! Awesome!

[2017-03-13 21:43] mario commented on #739
@AndyScherzinger one on the library by @tobiasKaminsky.

@paolomeraviglia thanks for the confirmation.

[2017-03-13 21:43] #739 closed

[2017-03-13 21:43] AndyScherzinger commented on #600
If we get a Feedback from @tobiasKaminsky  :)

[2017-03-13 21:44] AndyScherzinger commented on #739
Sweet! Yeah I guess I then has been the chunking re-upload fix :)

[2017-03-13 21:51] ioguix commented on #720
@AndyScherzinger,

Ok, that's where I am lost and I thought this issue should have been kept open. As far as I understand it v1.1 is older than current v1.4.x. That's why I expected this feature to be there when I read:

I'm pretty confused now... What is the release/version policy?

And, yes: Thanks you for your work :)

[2017-03-13 21:59] AndyScherzinger commented on #735
@mario @DoctorMcKay  just tested 1.4.2 RC4 and server 11.0.1 and the files stay in the app folder, Runnign OP3T Android 7

[2017-03-13 22:17] mario commented on #720
@ioguix he meant v1.1 of Auto Upload which is a strange versioning scheme, but still ... so basically, it's gonna be an improvement of the current Auto Upload mechanism.

[2017-03-13 22:42] ioguix commented on #720
Oh, ok, I understand now :)

Thx!

[2017-03-14 06:36] Bullnados commented on #600
@AndyScherzinger
No I think it was two different folders but reproducible only by one( LG G4 6.0 stock).
After deleating APP data the crash is gone. And also in my Nexus 10 7.1.1 OmniRom i cant reproduce the crash.

So happy launching 1.4.2.

Are u planing to write in changelog that AutoSync is just working for new pics? Cause some people, also me, thought AutoUpload is broken because no old files

[2017-03-14 08:48] AndyScherzinger commented on #600
@Bullnados thanks for the update, still weird that we can't find a way to reproduce this crash so we could fix it :/ I changed the info in the changelog for the release to clearly state that auto upload only works for newly taken pictures/images. Thanks for that hint, that wasn't clear it seems :)

[2017-03-14 09:38] AndyScherzinger commented on #600
Release has been published to Google Play 🎉

[2017-03-14 09:38] #600 closed

[2017-03-14 09:53] Bullnados commented on #735
I can confirm that bug with LG G4 6.0 stock
Take a picture-->Pic is in standard folder
Pic get uploaded--->Pic isn't anymore in standard camera folder
Pic should be accesable via file explorer, but there is no pic.
If u open the app u can see the pic in your AutoUpload folder

It seems that the file will be deleated from sdcard and only availible "online". I think @DoctorMcKay will say, that the i

[2017-03-14 09:54] AndyScherzinger commented on #735
@Bullnados are you also using the "moved to app folder" option?

[2017-03-14 10:01] Bullnados commented on #735
yes

[2017-03-14 10:05] Bullnados commented on #725
Is that still implemented? With 1.4.2 I see Nexcloud icon during upload.

[2017-03-14 13:05] AndyScherzinger commented on #725
No has started working on this to my knowledge

We can implement such a mechanism via the notification for v16+ so we don't have to drop support for 4.0 while implement features for newer Android versions nonetheless :)

[2017-03-14 13:07] AndyScherzinger commented on #725
What do you think? @tobiasKaminsky @mario This would be a complete rewrite of the notifications since the are per file at the moment and there is another issue which asked for pause/abort on a per file level see #193

[2017-03-14 13:09] mario commented on #725
@AndyScherzinger I am actually against notifications entirely and would prefer to just move all upload/download/sync work to background jobs rather than services that we use right now.

[2017-03-14 13:10] AndyScherzinger commented on #725
@mario would upload/download/sync work still be that or would it be considered an activity/notification in the Nextcloud notification/activity sense?

[2017-03-14 13:12] mario commented on #725
Since the plan is to eliminate the separate Upload screen, Uploads/Syncs/Downloads/Whatever would be part of the activity, yes. I'd argue against the ability to pause manually, but would like to see pause if say a job is scheduled to run on wifi, it starts, but then you switch to mobile. It's tricky though.

[2017-03-14 14:03] ferdiga commented on #601
the timeout issue is "new" for me - probably after update from server 10.0.2 to 11.0.2 which I did this weekend.
android version is 1.4.2
ping from Indian ocean. - everything is a bit slow here.

[2017-03-14 14:05] mario commented on #601
@ferdiga brute force protection maybe? :-/

[2017-03-14 14:22] erwdavid opened #741 "Completly broken on mac after trying 2.3.0rc1"
### Actual behaviour
-Tell us what happens

Nextcloud app tells me there is no connection every time.

### Expected behaviour
-Tell us what should happen

Have a connection

### Steps to reproduce
1.  Install 2.3.0rc1
2. evrything broken
3. reinstall 2.2.4
4. everything still broken

### Environment data
Android version:
MAC

Device model:
MAC

Stock or customized system:

Nextcloud app version:
s

[2017-03-14 14:23] mario commented on #741
Hm, is this an Android or Mac client issue? :D

[2017-03-14 14:39] erwdavid commented on #741
It is a mac client issue

[2017-03-14 14:39] erwdavid commented on #741
Sorry, I followed a link which was given to me on twitter, did not see It was for android issues

[2017-03-14 14:43] mario commented on #741
@erwdavid no worries - let me try to get the right link for you :)

[2017-03-14 14:45] erwdavid commented on #741
Then I see that after some (quite long time) the app 2.2.4 works again.
I do not understand but won't touch it for now. Seems my machine is at fault...
WIll close.

[2017-03-14 14:45] #741 closed

[2017-03-14 16:33] AndyScherzinger commented on #733
@ldmpub I just updated the description, it should be available online within the next couple of hours.
Thanks a lot for updating the translation! 🎉

[2017-03-14 16:33] #733 closed

[2017-03-14 16:41] MorrisJobke commented on #558
PR:

* main #3360
* favourite search #3772
* fix ordering #3824

Pending issues:

* [x] #3815

[2017-03-14 19:42] ferdiga commented on #601
curl -s -w '\nLookup time:\t%{time_namelookup}\nConnect time:\t%{time_connect}\nPreXfer time:\t%{time_pretransfer}\nStartXfer time:\t%{time_starttransfer}\n\nTotal time:\t%{time_total}\n' -o /dev/null NEXTCLOUD_URL

returns

login via linux /ubuntu 16.04 web browser - chromium - takes ~ 35 seconds
android after 10 seconds "The server took too long to respond"

regardless how brute force protection

[2017-03-14 19:50] jmclaren7 commented on #486
It seems to me that upload conditions based on file size would be a first step in addressing the issue of conserving data (upload only on wifi). However, it wont help keep media organized. Most of my users and myself organize videos in separate folders and that feature was a must have of the old app.

I haven't made myself familiar with this project but maybe this concept would minimize the work n

[2017-03-14 20:31] AndyScherzinger commented on #486
@tobiasKaminsky @mario @eppfel @jancborchardt what do you think of @jmclaren7's approach? Technically this is doable and to me it seems to be one way to do it.

I am not a UX expert so I don't have (a better) idea how else this could be solved but I understand the requirement of having images and videos sorted into different remote directories and that is doesn't work for folders that contain imag

[2017-03-14 20:33] AndyScherzinger commented on #601
@ferdiga which version of the Android client are you using? 1.4.1? Just asking since 1.4.1 has a 10sec timeout while 1.4.2 has 50sec!

[2017-03-14 20:47] MorrisJobke commented on #558
PR: https://github.com/nextcloud/android/pull/742

[2017-03-14 20:47] MorrisJobke commented on #557
PR: https://github.com/nextcloud/android/pull/742

[2017-03-14 21:11] 90er opened #743 "Share Link: "Share via App" Dialog opens before set share options"
### Actual behaviour
When i try to create a share link, the "Share via App" dialog opens just before i can set some options like "allow editing", "Password protect" or "Set expiration date". I have to use the "back" button to close the dialog. After it i can set my options and click on "Get Link".

### Expected behaviour
Open "Share via App" Dialog only if i click on "Get Link".

### Steps to repr

[2017-03-14 21:59] enoch85 commented on #725
@mario

So if I want to see if a file/folder was sucessfully uploaded I have to go to the servers activity app? I vote no!

[2017-03-14 22:38] AndyScherzinger commented on #725
@enoch85 no, you to the clients activity view :)

[2017-03-14 23:21] AndyScherzinger commented on #743
Same behavior on OP3T Android7, running 1.4.2 and I agree with @90er

What do you think @mario @tobiasKaminsky @jancborchardt @eppfel ?

[2017-03-14 23:25] mario commented on #557
@MorrisJobke no, not the activity :P

[2017-03-15 03:05] ferdiga commented on #601
I have 1.4.2 (and restarted the device to be sure) , but the timeout is 10 sec and no connection
the "secure connection" is established in 2-3 sec. but the login fails.

[2017-03-15 05:46] ferdiga commented on #601
it seems to be a wifi problem, connection via mobile phone connection works
see also
https://help.nextcloud.com/t/android-app-can-not-connect-with-the-nextcloud-server-in-the-wlan/2626/31

[2017-03-15 06:33] JSoko commented on #601
1. If you have ipv6 enabled in your Network, just switch it of.
2. Have a look in the bruteforcetable in your database

[2017-03-15 06:36] Bullnados opened #744 "[Feature Request] Describe permissions for the app in plastore/f-droid"
Describe for what each permission is used.
The reason is not everyone knows the app needs this specific permission. And it is a step to more transparency

[2017-03-15 07:06] enoch85 commented on #725
@AndyScherzinger aah ok, well I rest my case. :)

[2017-03-15 09:18] AndyScherzinger opened #745 "Put version 1.4.1 and 1.4.2 into downloads on website"
At the moment 1.4.1 final and 1.4.2 are not available on https://download.nextcloud.com/android/

@mario can you make the APKs available there? I'd say the final releases are enough.

[2017-03-15 09:55] ferdiga commented on #601
@JSoko
ad 1. can not switch it off
1.1 android needs to be rooted
1.2 no access to router or router not configurable

ad 2. some 300 lines -
"auth.bruteforce.protection.enabled": false

what else could I do?

BTW I can connect to the hot spot of another mobile phone and login to nextcloud
the connection shows both ip4 and ip6 adresses

[2017-03-15 11:01] maltklaus opened #746 "1.4.2 file system polling battery drain"
### Actual behaviour
updating to 1.4.2 (rc4 or release) creates battery drain when photo upload is selected and watching an sd card. the processes com.nextcloud.client, sdcard and mount.exfat eat up cpu resources

### Expected behaviour
no significant resource usage as in previous versions

### Steps to reproduce
1. install 1.4.2
2. enable picture upload, wifi only, loads of pictures on sd card
3.

[2017-03-15 12:01] io-node opened #747 "No auto-upload feature on Android 7"
### Actual behaviour
Upgraded phone to Android 7 (which meant also reinstall all applications). And settings menu doesn't show the possibility to auto-upload photos/videos

### Expected behaviour
Possibility to set settings to enable auto-upload of photos+videos and specify the destination folder.

### Steps to reproduce
1. Install application
2. Login to NextCloud server
3. Go to settings menu

#

[2017-03-15 12:22] ldmpub commented on #733
Confirmed: french description has been updated! Thanks.

[2017-03-15 13:06] AndyScherzinger commented on #733
Well, thank you! I just copied it over to the play store :)

[2017-03-15 13:08] AndyScherzinger commented on #747
Hi  @io-node instant upload (in settings) has been replaced with auto upload (in main/drawer menu) 😄
So I close the issue, if the provided solution within the app doesn't meet your use case, please re-open the issue and let's discuss :)

[2017-03-15 13:08] #747 closed

[2017-03-15 13:29] io-node commented on #747
Hi @AndyScherzinger sorry for not seeing that (obvious) change :) I do have a little remark. It looks like now both photos and videos are synced to the same folder. Previously I was able to have them in separate folders. Is there a way of doing this or would this mean a feature enhancement?

[2017-03-15 13:31] Bullnados commented on #747
If u save pics and vids in separate folders in sdcard. Than yes

[2017-03-15 13:33] io-node commented on #747
OK I see it now. The stock photo app doesn't save it separate. OK Thanks for this tip :)

[2017-03-15 14:06] mario commented on #745
Are you sure we want to advertise manually downloaded APKs for stable?

[2017-03-15 14:12] AndyScherzinger commented on #745
Well, we do so (and so does Signal btw 😄) and want to do so.
There is also one user on GPlay who wants to downgrade (battery drain reasoning), so  we can then simply solve the user's matter in that case.

[2017-03-15 14:13] mario commented on #745
Will be done then.

[2017-03-15 14:17] AndyScherzinger commented on #745
Thanks a lot ❤️

[2017-03-15 14:20] AndyScherzinger commented on #747
At the moment no (at least not for the stock camera app which put both in one folder). Video folders are a soon to come feature and possibly also audio and custom folders. If and how a image/video separation like before can be achieved with the mentioned extension in mind is still not resolved. So it is a feature enhancement with a not yet clear, exact solution.