[2019-07-30 19:37] #3244 closed

[2019-07-30 21:42] ezaquarii commented on #3421
@christianlupus You can install the daily dev (or ETM build using QR code) and share your preferences.

Please be advised that prefs can contain URLs to your server and your login (but no passoword). You can safely remove them - those are not needed to investigate the issue.

Drawer -> Settings -> scroll to bottom -> Engineering Test Mode -> Preferences -> Share icon in upper right corner

[2019-07-30 21:42] ezaquarii commented on #3421
@christianlupus You can install the daily dev (or ETM build using QR code) and share your preferences with us.

Please be advised that prefs can contain URLs to your server and your login (but no passoword). You can safely remove them - those are not needed to investigate the issue.

Drawer -> Settings -> scroll to bottom -> Engineering Test Mode -> Preferences -> Share icon in upper right corner

[2019-07-30 21:49] ezaquarii commented on #3421
@christianlupus I think this feature is intended only for dev version and won't be available on Google Play anytime soon. The best we can do now is to re-create this issue on daily dev build.

Are you able to do it? If you don't want to uninstall your daily driver, you can use QR code from ETM link above to install a dev version side by side and then you can experiment with various settings.

[2019-07-30 22:49] #3670 closed

[2019-07-31 07:51] AaronADev commented on #3840
Just confirming that this issue still persists. Are there any updates whatsoever on this?

[2019-07-31 08:10] christianlupus commented on #3421
You mean I should install the dev version mentioned in the README.md in the main repo (like direct APK of fdroid)? This should be doable.

What do you mean by daily driver? The normal (google playstore based) version?
I would prefer if I did not need to resetup my configuration but I would be ok with a dev version at the moment (also to get bug quickly sorted out). Can I simply install the fdroid

[2019-07-31 08:15] codedsun commented on #4278
Can I take this issue?

[2019-07-31 08:24] AndyScherzinger commented on #4278
Hi @codedsun, sure thing 👍

As discussed in this issue it would be best to have a PR per type 😃

[2019-07-31 08:39] tobiasKaminsky commented on #4282
Fdroid: https://gitlab.com/fdroid/fdroiddata/merge_requests/5142

[2019-07-31 08:41] tobiasKaminsky commented on #2229
"Change password" was to change the password of the whole account (similar like you do it within web).
As it used a different api, it could create conflicts when using LDAP, therefore it was removed.

For your problem: ideally you use weblogin flow which creates an app token. The app token remains valid even when you change your password.

[2019-07-31 12:58] pilsnerbeer opened #4285 ""Details" on a photo does nothing"
### Actual behaviour
Trying to view "details" from thee-dot menu with a picture opened in "photos" section of the app does nothing - it closes the currently viewed picture and that's about it.

![Screenshot_2](https://user-images.githubusercontent.com/36133540/62213440-32830800-b3a3-11e9-9eeb-2e75ffed9ee0.png)

### Expected behaviour
View details/exif data about a picture

### Steps to reproduce
1

[2019-07-31 13:49] #3844 closed

[2019-07-31 14:26] derekblankmccoy commented on #3623
This issue has gotten so bad, we're thinking of abandoning Nextcloud. Is anyone actively looking at a fix?

[2019-07-31 15:04] r2p2 commented on #4201
30% today. I saw the background data too. That was easy to fix by preventing it to use mobile data via android. But since my phone is on wlan all day long...

[2019-07-31 17:20] AlexNi245 commented on #4223
Hello can i pick this issue?
I am new to open source develoment and cant assign myself to the issue.
I would clone the repo and create a new branch. after iam done i would create a pull request here. Technically i would implement a file provider which the user can use to select a custom path.

If i  forgot anything please let me know:)

[2019-07-31 17:41] ezaquarii commented on #3421
@christianlupus Please use direct apk link. I confirmed that it contains ETM screen in settings.

[2019-07-31 19:30] pasichnichenko commented on #3623
Yesterday I just installed Nextcloud 3.7.0. After numerous updates it is STILL HAVE THIS ISSUE, and today it lost password. Then I did numerous attempts to login again, and login, and login, and login and after every entered correct password it asked me again and again to authorize. It is interesting to note, when I give incorrect password then app immediately say me the password is incorrect, but

[2019-07-31 19:56] Beeez commented on #3623
Is there an available owncloud app that is not paid?

[2019-07-31 20:32] pasichnichenko commented on #3623
I just checked other tickets with history of longstanging fighting with some "android" "accounts" or "logins" "manager" which creates some "accounts" for apps or anything and which is buggy. I dunno why this android account/login manager is angry on nextcloud app and hates it, but tonns of other apps, like telegram, owncloud etc., are working perfectly. I dunno what rocket science is implemented i

[2019-07-31 20:37] Beeez commented on #3623
Well, i may have fixed my login looping. I made some changes to my ssl certificates and it seems to be working for me in the normal nextcloud app. i may have been missing the intermediate certifications in my pem file that i was delivering with my HAproxy install that is infront of my nextcloud server. I tested with myself as well as a few other people and they were able to login. Google chrome ne

[2019-07-31 20:46] derekblankmccoy commented on #3623
Something is definitelly not right with the way the sessions are being handled:
This is my phone and tablet, several sessions for each:
<img width="600" alt="Screenshot 2019-07-31 at 21 46 23" src="https://user-images.githubusercontent.com/11743619/62246952-ae4d7680-b3dc-11e9-9e7e-e5f98eea0e28.png">

[2019-07-31 20:49] Beeez commented on #3623
@derekblankmccoy Yeah the same happens for me too. Every attempt creates a new one.

Also partly scratch my last message, it seemed to have fixed it but a few others are still getting the login loop and a status code 401 every time it fails to login and loops again. Also just like @pasichnichenko if you put in the wrong password, it does tell you that the password is incorrect, so it is fully auth

[2019-07-31 21:31] WNYmathGuy commented on #4239
@ezaquarii I'm not quite tech enough to do the screencast without help. However, I just got to this message and did a new test today. I was out of town all last week and can't remember when I did it, but I disabled the three main google docs apps, then _!!!_ **I uninstalled them!** I couldn't believe it worked! I recall trying to remove them in the past and it only let me roll back upgrades. This

[2019-07-31 21:34] derekblankmccoy commented on #3623
Related?
https://github.com/nextcloud/server/issues/13431

[2019-07-31 22:06] ezaquarii commented on #4239
I'm glad that you solved the problem. There is no need to test Google Apps - we can't do anything about them anyway.

I'll close the ticket then. You can re-open it if you think it's not done yet or you find new information.

[2019-07-31 22:06] #4239 closed

[2019-08-01 05:53] r2p2 commented on #4201
Okay, one thing is strange. I've installed PhoneTrack which drains the battery like crazy, at least when active.  Most of the time it is inactive but since the installation, both Nextcloud and Samsung Health drain massively more power than before.

Is it possible that some apps issue something in the Android OS which causes other apps (Nextcloud, ..) to wake-up more often?

[2019-08-01 06:09] ezaquarii commented on #4201
Sync is done every 15 mins.

[2019-08-01 06:21] r2p2 commented on #4201
I managed to call `adb shell` and see com.nextcloud.client using 30% cpu while printing REQUEST PROPFIND in the log. If this is an actual thing which happens every 15 minutes and takes for my number of files so long that my phone is actually active all the time, than my question would be: How can I disable that without losing contact, calendar and notes synchronization?

[2019-08-01 07:07] AndyScherzinger commented on #4201
cc @tobiasKaminsky for the latest questions / infos being raised/provided

[2019-08-01 07:10] AndyScherzinger commented on #4285
@ezaquarii @tobiasKaminsky I can reproduce this with latest master (well, with the dark theme branch...) also running Android 9 (Lineage) and a v16 server.

[2019-08-01 07:13] AndyScherzinger commented on #4223
@tobiasKaminsky can you comment on this? I am not sure a change is needed actually. Depending on the choice of the path the Android's Media Indexer would pick-up the images. Other than that There are quite some pitfalls with "custom" locations due to permission issues (read/write/etc.). So this change has the risk to break the client (for down/uploads and caching) completely.

[2019-08-01 08:15] KimmoJ commented on #3061
For what it's worth, my Android 8.1 based phone also doesn't play, or stream, with 3.7.1 of the app. Of course, at least for MP3's (haven't tried video) if you want to stream you can just use the bog standard web interface on the phone as well; I have the Audio plugin installed and that works great over Firefox on Android too. Hoping for good things with an improved player.

[2019-08-01 11:13] Lufthomas commented on #2267
@tobiasKaminsky
using the Logcat Reader app and filtering for com.nextcloud.android.beta I have the following results for the login loop:

[code]

[2019-08-01 12:52] #4030 closed

[2019-08-01 13:46] topas-rec commented on #3840
Can also confirm that issue. Happened to me today.

[2019-08-01 20:06] Berni-MD commented on #4234
I also have this mistake!
A second account cannot be created.
Android 9.0, Huawei, security patch 05.06.2019

[2019-08-02 06:56] christianlupus commented on #3421
@ezaquarii I just tested the dev version from the APK file. It does definitively not behave as the "official" stable version from google play store. The following happens depending on the setting of the app lock mechanism selected in the settings:

*None*
No app locking is enabled at all. The ETM shows a line `lock: none`.

*Device credentials*
No app locking can be seen. I swiped the app out of t

[2019-08-02 07:16] AndyScherzinger opened #4288 "Release 3.8.0 - Roadmap"
Planned RC1: 20.08.19

**Create stable-x.y branch & use it for release**
- [x] create branch ```stable-3.8``` (no ".x" anymore due to backport bot)
	- [x] make it protected
	- [x] set up Codacy, Drone as required status
	- [x] enable branch to be analyzed on codacy
- [x] change
	- [x] ```drone.yml```
	- [x] ```getBranchName.sh```
	- [x] ```analysis-wrapper.sh```
	- [x] add to backport transifex st

[2019-08-02 07:22] AndyScherzinger commented on #4288
My take, to be discussed @tobiasKaminsky @ezaquarii, PRs we should try to get into `3.8.0 RC1` (within the next 2 week):

* [ ] Fix upload and delete to actually delete #4287
* [ ] FIDO U2F Support #4286
* [ ] New logger implementation #4275
* [ ] Fix local state if fragment is initialized before services #4262
* [ ] Fix upload list comparator to make it respect the comparator contract #4245
* [ ]

[2019-08-02 07:58] arnowelzel opened #4289 "Viewing images is very slow"
### Actual behaviour
When opening an larger image (5248x3936 pixels) in a folder with 5 or more other images like this the app often becomes very slow and unresponsive. Zooming the image or swiping from one image to the next takes several seconds.

Using the local gallery app of the device with the same images downloaded before works without any delays. It also does not change when all the images

[2019-08-02 09:31] tobiasKaminsky commented on #4288
I am trying to review all PRs (also the other labeled 2. to review), but currently other things keep me away :/

While this is a nice idea to have this list, we will not delay the release if any PR is not in.

[2019-08-02 09:43] tobiasKaminsky commented on #4280
Hm. This sounds strange.
Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-02 10:27] AndyScherzinger commented on #4202
to be reproduced

[2019-08-02 11:53] #3995 closed

[2019-08-02 12:29] tobiasKaminsky commented on #4289
Hm.
Maybe this is due to your phone? I have no idea how good this is.
I tested it with a rather old Samsung S5 Neo:
- 3008x2000px, 4Mb
- 8000x5210, 14Mb
- 10109x4542, 15Mb
- 7819x8897, 20Mb
- 17446x500, 17Mb

The last two took ~2s too load, but then zooming and scrolling is without lag.

As I found the images on wikipedia/google I could give them to you to test them or vice vera.

[2019-08-02 12:43] AndyScherzinger commented on #4213
@ezaquarii should we close this? I didn't revert back to 3.7.0 but like you said it works on master (which is what I tested)

[2019-08-02 13:04] #3840 closed

[2019-08-02 13:26] AlexNi245 commented on #4157
Hey i would work on this issue. I would extend the dotmenu within manage account with an option to edit the server credentials.

[2019-08-02 14:28] AndyScherzinger commented on #4157
@AlexNi245 thanks for offering to pick this one up. We do need some feedback from @tobiasKaminsky first though since:

* changing the server adress is considered a security issue, see #3877

so the only part that is likely up for discussion:

* app changing the URL automatically, when receiving "301 Moved Permanently" response from the server

which would require a completely different approach an

[2019-08-02 18:43] derekblankmccoy opened #4290 "Multiple sessions for same device"
I believe this is the cause of the second most commented issue (#3623). But if it's not, I still think there is an issue in itself here.

### Actual behaviour
- Every time a device logs in after a password change, a new session is created. This seems to cause a login loop (I believe).

### Expected behaviour
- If it's the same device that's logging in, the old session should be deleted and a new s

[2019-08-03 05:19] buongiorgio opened #4291 "Authorization with device credentials uses device PIN instead of fingerprint"
### Actual behaviour
- I just updated the app, now when opening the app, the device PIN is requested even if the device credential is fingerprint

### Expected behaviour
- Application should request fingerprint

### Steps to reproduce
1. Open the app

### Environment data
Android version: 9

Device model: Samsung Galaxy S8 SM-G950F

Stock or customized system: Samsung One UI version 1.0

Nextcloud

[2019-08-03 05:48] buongiorgio commented on #4291
After accessing the app a few times, now the behaviour seems back to normal

[2019-08-03 11:20] #4282 closed

[2019-08-03 13:42] gjanssens commented on #2554
It still is, though the app is more clear about it upfront than it used to be. It now won't allow me to choose a behaviour if it detects the source directory is read-only.

True, though to my mind that's a workaround, not a full solution. Internal storage is typically pretty limited in free space. So if time between network accesses is long enough, that free space may get used up before the next s

[2019-08-03 14:36] gjanssens commented on #3819
Might this be the same issue as #2554 ?
Are the files being uploaded successfully and only the originals not removed ?

[2019-08-03 14:38] gjanssens commented on #4097
Is the source folder on an external SD card ?
Does it work for a source folder in internal storage ?

[2019-08-03 14:46] gjanssens commented on #1270
I'm particularly interested in  being able to delete files from server even when off-line. Are there plans to support this ? Other than the short mention on this issue I didn't find a formal enhancement request for it.

[2019-08-03 16:53] AlexNi245 commented on #2216
@AndyScherzinger @tobiasKaminsky   is there still work to do on that issue? If i understood the discussion correctly the day/date heading should stick to the top while the user scrolls down. Also the whitespace arround the date heading should be increased.
I would work at this issue if you are fine with that :)

[2019-08-03 17:02] AndyScherzinger commented on #2216
@AlexNi245 absolutely yes ❤️ First step would be to make the headers sticky and then work on the whitespace afterwards.

[2019-08-03 17:21] memen45 commented on #4097
In my case it does not work on internal storage. Can't test with external storage, since I do not have an external sd card slot.

[2019-08-04 00:25] JonahAragon commented on #228
Just ran into this issue on Android 9, SSL Initialization Error on a CloudFlare'd install, where cipher suites can't be changed. Has this really not been fixed 3 years later?

[2019-08-04 07:00] tomasy commented on #4097
Same for me. Not working in internal storage and no external storage

[2019-08-04 10:10] icasdri commented on #4220
I think this is a duplicate of #2131

[2019-08-04 15:15] Schmuuu commented on #228
This seems like an issue with Cloudflare as well to me.
Why can't they change cipher suites? It's a server and that should be configurable. Usually servers try to offer all cipher suites which are required by used clients.
Are you sure you can't request a change of the cipher suites on your server? Maybe contact Cloudflare support.

In my opinion we should still put more pressure on Google to prov

[2019-08-04 16:41] marcan opened #4292 "Errors during upload not correctly retried, leaving broken files"
### Actual behaviour
When an upload chunk fails to upload, the auto retry does not retry it, but rather considers it completed and moves on to the next chunk. This leaves behind broken, smaller files.

In the log below you can see that the upload failed (error 400), but the client moved on and considered the file uploaded on retry anyway, without actually reuploading it. On multi-chunk uploads, it

[2019-08-04 16:44] dvaerum commented on #4229
The new release of Nextcloud Dev gave me this crash report. Don't know if it helps 😅
[code]

[2019-08-04 17:11] pilsnerbeer opened #4293 "Playing a video & tapping the screen = ?"
### Actual behaviour
I have a few videos in my NC. I try to play them - it takes some time to load and it starts playing shortly afterwards. Problem is, whenever I tap the screen (not the video controls), the screen turns black, just like this:

![Screenshot_20190804-190738](https://user-images.githubusercontent.com/36133540/62426906-4e601400-b6eb-11e9-8501-379554b01a11.jpg)

After that, I'm not a

[2019-08-04 18:03] JonahAragon commented on #228
My issue is my installation works perfectly fine in the built-in browser on my phone, it’s *only* in this app that this issue is happening, as other people have reported. So I don’t really understand how this is the fault of the OS and not the Nextcloud app.

[2019-08-04 18:12] Schmuuu commented on #228
Oh ... Well it usually was an issue with apps using the stack browsers libraries. It that is only with this app, then sorry for the noise.

[2019-08-04 18:16] ezaquarii commented on #228
By "built-in" you probably mean Chrome. I'm sure it comes with own TLS library and does not use crypto APIs shipped with android runtime.

[2019-08-04 18:38] JonahAragon commented on #228
That could be the case, my stock browser was [Vanadium](https://github.com/GrapheneOS/Vanadium) which is based on Chromium. But if that is the case I don't see why Nextcloud won't do the exact same thing (include its own TLS library), when the alternative is using a known weak crypto API.

[2019-08-04 18:57] ezaquarii commented on #228
Because it's difficult and expensive to maintain.

TLS 1.3 is coming with Android Q.
TLS 1.2 should be supported since Android Jelly Bean (API 16).

@JonahAragon which Android version do you use?

[2019-08-04 19:47] Kraowe commented on #285
What I don't understand is that the iOS app has this functionality, you can check to upload all existing photos in it. Why not just look at how it's done in the iOS app? And then implement the same in the Android app?

[2019-08-04 21:28] FelixBuehler commented on #4170
Bug is still present. I assume it might be the daily backup of the contacts, since it appears every day again, no matter if I open the app on that day or not. Can anyone confirm?

[2019-08-05 03:32] JonahAragon commented on #228
Pie. I'm running GrapheneOS on a Pixel 3, specifically.

[2019-08-05 05:13] marcan commented on #4292
Root cause for the errors seems to be some kind of weird issue with TCP retransmits getting corrupted. This is still tangential to the retries not being done correctly, though.

[2019-08-05 05:25] ezaquarii commented on #228
@JonahAragon Are you able to provide a test account for investigation?

[2019-08-05 06:15] arnowelzel commented on #4289
As I said: the gallery app on the phone works fine with the same images. It's just the Nextcloud app which behaves like this. Even in a mobile browser the gallery view of my Nextcloud server works better than the app.

However - when I download the images first (so they get a green check mark in the list) then opening, zooming etc. works fine. But as soon as only one image has to be loaded from th

[2019-08-05 06:45] tobiasKaminsky commented on #4289
Hm. Never experienced such a thing. The download is done in background and should not delay UI, but this is up to Android handling it correctly.

If you click on an image a screen adapted resized images is downloaded to cache. So if the original image 14mb you download ~80kb of preview in cache.
Therefore you do not see a "green checkmark" as this indicates the downloaded file.

What happens if yo

[2019-08-05 06:48] tobiasKaminsky commented on #228
I think logs can be attached in GitHub, which is better to have them directly in place.

[2019-08-05 06:56] arnowelzel commented on #4289
Yes, it stays sluggy. It only gets usable when I download the images first. But then the app works perfectly fine.

[2019-08-05 08:31] tobiasKaminsky commented on #4259
Doc is in https://github.com/nextcloud/android/pull/4295

[2019-08-05 08:31] #4259 closed

[2019-08-05 09:01] tobiasKaminsky commented on #4289
Hm. Then I am totally out of clue :/
I would have expected that with preview viewing the image is better as less memory is needed.

This is a wrong assumption, we allow to zoom into 2x even on a resized image.
With original image you should be able to zoom into more.

[2019-08-05 09:12] ldmpub commented on #4170
I confirm this unwanted notif still occurs and is not linked to automatic contacts backups because they are disabled in my app...

[2019-08-05 10:08] #2953 closed

[2019-08-05 11:03] tobiasKaminsky commented on #4290
The whole concept of app password (you call it "session") is that if you change your main password the app password remain valid.
I tested this on latest master:
- login with android client
- change password on web
- still working android client

@rullzer is this something know with old servers? He is running 13.07?

[2019-08-05 11:13] tobiasKaminsky commented on #4157
We indeed should not do this.
In my opinion/experience this is a very rare case and then it is ok to have a new account (for an example on google you also cannot change your id without creating a new account and removing the other).

I am not entirely sure, but if we get 301, we do follow this.
While it is not ideal to then have two calls, nowadays that should not matter too much.

[2019-08-05 11:14] AndyScherzinger commented on #228
Maybe this could help?

https://github.com/google/conscrypt/blob/master/CAPABILITIES.md :)

[2019-08-05 11:15] mario commented on #228
I use the same for Talk :)

On Mon, 5 Aug 2019, 13:14 Andy Scherzinger, <notifications@github.com>
wrote:

[2019-08-05 11:20] arnowelzel commented on #4289
Another test: downloaded the images first and then deleted the local copies again. After this, the gallery works fine, even if the pictures are not locally available any longer. So it looks like there is a problem with the caching of the preview images. If I have more time for investigation I'll have a look into the code as well.

[2019-08-05 11:32] tobiasKaminsky commented on #4289
When you delete a downloaded image, a screen adapted image will previously be generated, so that you still can see a "fullscreen" version.

You are refering to gallery: this is the preview image within our app, where you can swipe left/right to see the images, just to be sure?

[2019-08-05 11:35] arnowelzel commented on #4289
Yes, with "gallery" I refer to the preview image in the app which I can swipe left/right to change between the images. This works fine when images got downloaded once - even after deleting the local copy. But as long as the images never got downloaded, opening the preview causes the whole app to become sluggish, also when closing the preview and opening it again with the very same images.

[2019-08-05 11:35] AndyScherzinger commented on #228
Whiel you don't rely on jackrabbit for WebDAV communication, not sure if jackrabbit and Conscrypt play well together, cc @tobiasKaminsky

[2019-08-05 11:41] AndyScherzinger commented on #4097
@memen45 @tomasy #4287 might be the fix for your issue (can't really tell for sure) so maybre 3.8.0 (upcoming release) might fix this for you. You can also test this via the Dev releases (if you want to)

[2019-08-05 11:58] tobiasKaminsky commented on #4289
But the screen adapted previews are shown?
On a first start you see square thumbnails, which then get replaced by the previews. It should always be fullscreen (or at least one side should fit the full width/height)

[2019-08-05 11:59] arnowelzel commented on #4289
yes, the previews are always adapted to the screen. it's only sluggish, if the images have never been downloaded before.

[2019-08-05 12:00] tobiasKaminsky commented on #4289
Can you maybe do a video of this?
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2019-08-05 12:31] arnowelzel commented on #4289
You will find everything here: https://nextcloud.0x0c.de/s/pS7QbJySdBmbAYE

image-preview-sluggish.mp4 - this is the sluggish preview of images which never have been downloaded before. The first time you can see how the preview images are loaded. But even when opening the preview the second time it doesn't get better.

image-preview-normal.mp4 - this is a preview of the images after downloading an

[2019-08-05 12:52] tomasy commented on #4097
I tested against developer version 20190803 and it works for me.
Thanks

[2019-08-05 14:41] micheelengronne commented on #4260
Apparently it was fixed in the last release as I can not reproduce anymore either :)

Cool !

[2019-08-05 19:08] ezaquarii commented on #4229
@dvaerum Is the app usable? Is it one-off issue?

[2019-08-05 19:18] ezaquarii commented on #4229
@dvaerum Please try testing the app from the PR above. You need to scan a QR code to install test version. This is a "workaround" a probable platform issue and TBH I'm not sure if there are any serious reprecussions of this fix.

@davivel Could you comment on this?

[2019-08-05 19:21] ezaquarii commented on #4213
Yeah, this is fixed.

[2019-08-05 19:21] #4213 closed

[2019-08-05 19:48] #4173 closed

[2019-08-05 21:13] ezaquarii commented on #3947
I started working on an event based network listener.

[2019-08-05 23:07] zero-24 commented on #2839
@QuibblingAsh42 for me it seams it depends on the wifi i'm connected to. You might check whether the wifi is set to be `chargeable` or not?

[2019-08-06 01:14] PhantomEight commented on #4097
The fix in #4287 worked for me as well.   Couldn't upload files and have them get automatically deleted from my phone.  Not sure how others feel about it, but it's a pretty critical feature to me.

Consider  case where you take lots of photos and what not, it's nice to be able to dump them manually or automatically to Nextcloud and have your phone clear out.

[2019-08-06 07:27] derekblankmccoy commented on #4290
Sorry, my bad, I'm on 15.07

[2019-08-06 11:10] ByteBitten commented on #4205
#413 was closed, therefore I add my logs here:

### Actual behaviour
App crashes when indexing connected NextCloud on startup

### Expected behaviour
Indexing should finish and show folders.

### Steps to reproduce
1. Open app, Dev or stable
2. Connect to NextCloud installation

### Environment data
Android version:
9
Device model:
Nokia Sirocco 8
Stock or customized system:
Stock, non-rooted
Next

[2019-08-06 11:49] gjanssens commented on #4097
Ok, so this is a different issue from #2554 , will continue my issue there.

[2019-08-06 12:23] redtux commented on #4197
I can confirm that you get an error that the app is not responding - even when syncing very small folders. Beside that, the respective folder shows 0 bytes while syncing, which makes me think that everything inside the folder got accidentally deleted. After a second or so the shock is over and all my files still are where they belong.  Anyway, I also have the feeling that this is a strange and mis

[2019-08-06 12:54] redtux commented on #4227
Have you already tried with one single file or folder? For me, adding stuff outside the app, i.e. on the local filesystem, is not working at all.

1. Sync a folder inside the NC app
2. Open an editor and create a text file (just an example) in this folder
3. Sync again and the if the file has been uploaded to NC

In my case, the file is not being synced/uploaded. (On my computer it is working as e

[2019-08-06 13:36] Beeez commented on #2267
There are two Login Loop issues in Android Nextcloud (and more in Nextcloud Server), both of which are in the top 5 most commented open issues. There's plenty of people giving information and data to help get this resolved but it is all ignored.

[2019-08-06 14:30] jancborchardt commented on #1270
@gjanssens agree, but it’s a lot of work. The most related issues are https://github.com/nextcloud/android/issues/1143#issuecomment-322188754 and https://github.com/nextcloud/android/issues/1008

[2019-08-06 16:10] gjanssens commented on #1270
Ok thanks.

[2019-08-06 21:00] QuibblingAsh42 commented on #2839
In general, I only connect to my home wifi.  I have a Tasker profile that automatically shuts down wifi when I'm outside the range of the cell towers around my house.  I'm not sure what you mean by "chargeable", though?  Is that related to the "unmetered wifi" I see in the options for auto-uploads?  I had to ask the Duck what that was, but I'm definitely not using unmetered.

All of that being sai

[2019-08-07 01:27] rexbron commented on #4212
Bump.

[2019-08-07 05:10] cannothing commented on #3940
Content of my logfile of a refused upload:

77.189.0.0 - - [06/Aug/2019:11:06:40 +0200] "PROPFIND /nextcloud/remote.php/dav/files/Piwik/ HTTP/1.1" 207 376 "-" "Mozilla/5.0 (Windows) mirall/2.3.2 (build 1) (Nextcloud)" "Traffic IN:1424 OUT:1412" "ReqTime:0 sec"
77.189.0.0 - - [06/Aug/2019:11:07:10 +0200] "PROPFIND /nextcloud/remote.php/dav/files/Piwik/ HTTP/1.1" 207 376 "-" "Mozilla/5.0 (Windows) m

[2019-08-07 09:05] szaimen commented on #4132
Please don't close this issue as the feature isn't implemented yet.

[2019-08-07 11:09] ixiondt commented on #4229
@ezaquarii is ran it with QA
************ CAUSE OF ERROR ************

java.lang.RuntimeException: Error receiving broadcast Intent { act=com.owncloud.android.operations.RefreshFolderOperation.EVENT_SINGLE_FOLDER_CONTENTS_SYNCED flg=0x10 pkg=com.nextcloud.client (has extras) } in com.owncloud.android.ui.activity.FileDisplayActivity$SyncBroadcastReceiver@26fc94a
	at android.app.LoadedApk$ReceiverDi

[2019-08-07 12:20] AndyScherzinger commented on #4212
@tobiasKaminsky I can reproduce this with snapseed while it works just fine with Instagram for example. Important is that we talk about the preview image if you download it, it'll also work with snapseed. I am afk so I don't know if there is a difference in handling images preview vs full resolution...

[2019-08-07 13:32] #4228 closed

[2019-08-07 18:11] mi-hol commented on #21
@tobiasKaminsky seems this question hasn't got a final conclusion.
Actually its the same question a friend asked when I recommended nextcloud instead of buying a NAS,

[2019-08-07 18:56] zero-24 commented on #2839
My phone allows to set an option that this specific wifi you need to pay to use, the point is that than only necessary things go over this wifi. Thats what i mean by chargeable :D

[2019-08-08 06:31] MarcelTUC opened #4299 "Nextcloud - Design Patterns - Thesis Survey"
Ladies and Gentlemen,
as part of my master thesis at the TU-Chemnitz (Germany) in Applied Computer Science (Professorship Operating Systems, Supervision Dr. Marcus Hilbrich) I search for design patterns in Open Source Android applications and investigate how they got into the source code. If you don't know what design patterns are, that's no big deal. You can still support me.

One of the applicat

[2019-08-08 12:52] jedwabny commented on #4169
No stale

[2019-08-08 13:01] githubkoma opened #4301 "Push Notifications stop working after some idle App Time"
### Actual behaviour

- I have three devices now with the latest Nextcloud App installed via the offial Appstores:

a) iPad iOS 12
b) Samsung Galaxy S8, Android 8
c) Samsung Galaxy S4, Android 5

All devices are connected to my Nextcloud via new login flow..

Using curl to test the notifications like so: "curl -H "OCS-APIREQUEST: true" -X POST   https://" results in:

- Case 1: App is in backgroun

[2019-08-08 13:13] AndyScherzinger commented on #4169
@tobiasKaminsky I can reproduce this behavior too

[2019-08-08 21:52] redtux commented on #4227
So the issue could be reproduced. I did also create my file with markor btw. (but this is just a coincedence not not related to the bug, I guess).

[2019-08-09 06:40] josephyuen opened #4304 "Bug report"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'int android.text.Layout.getLineForOffset(int)' on a null object reference
	at android.widget.Editor.updateCursorPositionMz(Editor.java:6986)
	at android.widget.Editor.updateCursorsPositions(Editor.java:1766)
	at android.widget.TextView.getUpdatedHighlightPath(TextView.java:5703)
	at android.

[2019-08-09 06:41] josephyuen opened #4305 "App crash on "login" in FirstRunActivity"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'int android.text.Layout.getLineForOffset(int)' on a null object reference
	at android.widget.Editor.updateCursorPositionMz(Editor.java:6986)
	at android.widget.Editor.updateCursorsPositions(Editor.java:1766)
	at android.widget.TextView.getUpdatedHighlightPath(TextView.java:5703)
	at android.

[2019-08-09 06:43] #4304 closed

[2019-08-09 06:48] josephyuen commented on #4305
When I click login button on the 'FirstRunActivity'

[2019-08-09 08:13] patlecat opened #4306 "PIN can't be reset if forgotten"
### Actual behaviour
- When a PIN was used in the Android app but later forgotten then there's no way at all to reset it. Re-installing it also won't work, the PIN seems still stored somewhere. Or maybe only that there was a PIN set but now it's lost after the reinstallation and even entering the correct PIN won't work anymore?

### Expected behaviour
- I expect a reset function that either sends

[2019-08-09 10:08] AndyScherzinger commented on #4306
@tobiasKaminsky wouldn't the pin be removed (including any data) when you wipe the app's data (probably twice) using Android settings - apps - clear data (2x)

[2019-08-09 10:14] AndyScherzinger commented on #4305
@josephyuen according to the trace you are running latest master or some version of the master branch, right?

@tobiasKaminsky can you reproduce this? Since it happens in an old-ish implementation it likely happens on earlier releases of the app too.

[2019-08-09 10:27] AndyScherzinger commented on #4227
Cc @tobiasKaminsky

Sync does work with known files which either come from the server or are created or added within the app. Other apps should write stuff to the app's very own, private space.
So the app shouldn't crash (that should be covered)  but other apps should not be used in this way (not how Android works, while it doesn't prohibit it...)

Does Markor support a proper use of Android's fil

[2019-08-09 10:33] MichaelHeimann commented on #4271
Same thing here. Version 3.7.1
Added a folder to sync and it doesn't sync the pictures.
New pictures are synced btw, but the existing picture library is left on the device. No refresh or scan folder option.
Device is one plus 5
OS is android 9

[2019-08-09 10:42] AndyScherzinger commented on #4271
@MichaelHeimann existing pictures aren't synced since that hasn't been implemented yet so that isn't a bug!

[2019-08-09 10:44] AndyScherzinger commented on #4271
@itsmeJ4Y did you deactivate any Samsung battery optimizations for the Nextcloud app? Else it won't work since Samsung has an extremely aggressive 'optimization' killing the app and its background processing...

[2019-08-09 10:55] MichaelHeimann commented on #4271
Ah, I see. I do remember in old versions that you could do it and also there was a rescan option.
So 'hasn't been implemented' is a little strange to me.

But ok, maybe during redo of autoupload in 2 this was changed.

Technically speaking a feature request then.

But to be clear: the whole autoupload feature is completely useless if it doesn't sync existing files.
So whoever decided to implement

[2019-08-09 10:56] redtux commented on #4227
Does this mean we should try with a different editor? I do not know much about the internals of markor, but it uses a proper file browser to open and create files. So it depends on the app I use if files are being synced or not? Thanks for clarifying! Is this maybe somewhere documented? It would be good to inform the users about this (not so small) limitation, I guess… 😃

[2019-08-09 11:16] redtux commented on #4227
I was also wondering how to create a new file within the NC app. I can create a new folder, but it seems that empty folders are not being synced, so I cannot even copy files into it from outside the app, correct?

[2019-08-09 11:22] itsmeJ4Y commented on #4271
@MichaelHeimann I agree 100%

[2019-08-09 12:40] AndyScherzinger commented on #4227
Well, storage is accessible from anywhere while an app's storage is still considered private.
What I meant with file picker is the Android mechanism where you can also see any cloud provider and your accounts on the device. So this question is more about does Markor support the document provider interface? And if not, could Markor just implement support for it (which would help them a lot to suppo

[2019-08-09 12:53] AndyScherzinger commented on #4271
What you have been looking for is described within #285

@tobiasKaminsky feel free to take over. I don't spend any more time on people that disrespectful regarding their language.

[2019-08-09 13:10] atoav commented on #3814
Autoupload uploaded 2 images, and then stopped doing anything. Restarting the phone, adding and removing the autoupload from the folder etc. doesn't fix the behaviour (Galaxy S7 edge).

[2019-08-09 13:11] itsmeJ4Y commented on #4271
I have already set the app to "Not optimized" in the Samsung settings. The app "NextCloud" is therefore NOT considered and is not closed in the background!

I created a folder "Backup" in my cloud and linked it to the folder "Instagram". I've made all the settings so that you can upload without WLAN. I manually put an image in there AND additionally posted an image to Instagram (2 new images in th

[2019-08-09 13:13] itsmeJ4Y commented on #4271
......... so this app doesn't work at least on the S9+ (Samsung). Apart from the fact that it is not logical that existing images/documents are not taken into account.

[2019-08-09 13:15] itsmeJ4Y commented on #4271
... which I also noticed (but I don't know if it's the NextCloud icon): Every now and then a small "n" appears in the bar at the top (on my mobile phone). That disappears immediately again. If it has nothing to do with NextCloud, this can be ignored. I haven't found out what this has to do with yet. I can imagine that NextCloud tries to synchronize documents. Apparently it doesn't work.

[2019-08-09 13:42] FelixBuehler opened #4307 "Deleting files from the app is incredible slow when marking multiple files"
### Actual behaviour
- When deleting files from the app, it takes around 2 seconds per file to delete it when you use the option to mark multiple files and then press "delete" once for all the marked files.
It's deleting every file per se. Feels like it sends a new request for each file to delete it and not just send like a reguest "Delete files [1, 2, 3, 4]"

### Expected behaviour
- I check mult

[2019-08-09 15:01] doits commented on #3255
Still relevant, I have a phone with this issue at the moment (but didn't bother to fix it manually yet by editing the xml by hand)

[2019-08-09 15:09] tobiasKaminsky commented on #4306
No, we have a special remove data which prevents pin from being deleted.
Only way is (currently) do re-install the app.

PIN is only a local protection system, like in an online banking app, it is independent from the server.
As there is no data within our app that is not on server, you can safely re-install the app. Only downside is that you will loose all downloaded files, but they are on server

[2019-08-09 15:09] #4306 closed

[2019-08-09 17:36] threehappypenguins commented on #2510
I have NextCloud installed in OMV which is on an Odroid HC2. I am getting the same error on Android. At first, it asks if I want to trust the certificate, but when I tap Yes, "Unknown HTTP error occurred!"

I don't understand your solution though. Can you explain further? What file do I need to edit? Is it on Android (I do have root) or is it on the NextCloud server? I would provide an error log,

[2019-08-09 19:30] ostcar commented on #2510
I have not so much knowledge about nextcloud. So I can not help you debug this. The error message "Unknown HTTP error occurred!" seems to be very often, so I am not sure, if you have the same problem that I did.

My solution was on the server in the nginx configuration. I added a newline between "max-age=1209600" and "always". The client could not handle this. After I removed the newline, every th

[2019-08-10 17:06] patlecat commented on #4306
Maybe you need to think what the order of security is here. The 4 digit PIN isn't the highest oder protection step! It's just a **convenience feature** for users - and btw you should make it 4-8 digits long at least.
The highest order protection is the password to the vault. If I use something like a 25 alphanumeric pwd it is my strongest line of defense. If the PIN gets lost/forgotten, then offer

[2019-08-10 17:21] patlecat opened #4308 "Offer a proper and secure PIN reset instead of an undocumented hack"
### Is your feature request related to a problem? Please describe.
There is no proper way to reset the PIN and not hint nor decumentation on how to do so. Re-installation is more a hack than a feature and only a harassment to your users.

### Describe the solution you'd like
Offer at least a reset of the PIN and by doing so also clear the password of course so it can be ensured that only the right

[2019-08-10 17:34] dvaerum commented on #4229
@ezaquarii I have run the QA and it still has problems :(
[code]

[2019-08-10 21:13] gsantner commented on #3673
.....

[2019-08-11 00:08] ezaquarii commented on #4306
The only purpose of the PIN is too stop some 3rd party to accidentally skim over your files if they get accidental, **temporary** access to unlocked phone. It's good of typical office environment, with poorly motivated, unskilled, random passerbys.

PIN does not offer strong security for few reasons:

1. files on the phone are not encrypted and can be retrieved, usually by just plugging the phone

[2019-08-11 08:33] TobiasDev commented on #3673
Not stale

[2019-08-11 12:59] ezaquarii commented on #3884
This is closed with #4043.

[2019-08-11 12:59] #3884 closed

[2019-08-11 13:07] ezaquarii commented on #4229
@ixiondt @dvaerum Do you use Work profile? It is known to break this API. Can you turn off Work profile?

[2019-08-11 14:49] diesl commented on #4234
I have the same issue. After adding the second account, the first one has disappeared.

Android version: Android 9

Device model: Google Pixel 2 XL

Stock or customized system: stock

Nextcloud app version: 3.7.1 from F-Droid

Nextcloud server version: 16.0.3 (Docker)

[2019-08-11 18:20] daraelmin commented on #2076
Hi,

I found a liberapay account for nextcloud:
https://liberapay.com/Nextcloud/

I assume that's the solution for this issue.

But as it is mot linked anywhere on nextcloud website nord on the github repository, I just be happy to have confirmation that this account is owned by the nextcloud team.

Thanks.

[2019-08-11 19:37] patlecat commented on #4306
@ezaquarii
As I described the security level of the PIN is certainly way below the password so a reset should be offered.
Yes it was uninstalled and then reinstalled.

[2019-08-11 21:37] #3681 closed

[2019-08-12 07:16] tobiasKaminsky opened #4311 "Log: do not quit view after reset"
### Actual behaviour
- Log view quits after clearing

### Expected behaviour
- only clear log, but do not exist

### Steps to reproduce
1. go into log view
2. click on clear logs

[2019-08-12 07:33] MaartenMees commented on #3715
Same issue

[2019-08-12 09:40] AndyScherzinger commented on #4311
could this be fixed within @ezaquarii's PR maybe?

[2019-08-12 09:41] AndyScherzinger commented on #2076
@jospoortvliet can you say if this acount is run by Nextcloud (or an imposter)?

[2019-08-12 09:47] tobiasKaminsky commented on #2076
Or @jancborchardt as you are also aware of our all community related stuff?

[2019-08-12 09:59] sadr0b0t opened #4312 "Auto upload files previously disallowed from using mobile network will not sync over mobile network after reconfiguring to allow over mobile network"
### Actual behaviour
- Take some photos without wifi connected and sync over mobile internet switched off
- See, that new photos are added to sync queue with "waiting for wifi connection to be synced" status (this is ok)
- Go to sync setting and allow sync over mobile internet
- Make some additional photos after that
- Go to Nextcloud sync status queue and see that new photos are synced over mobil

[2019-08-12 10:10] tobiasKaminsky commented on #4311
The PR in question (https://github.com/nextcloud/android/pull/4275) is already merged.

[2019-08-12 11:43] tobiasKaminsky commented on #4299
Done, I wish you good look with your thesis.
I'll keep this open for the next 4 weeks and then close it.

[2019-08-12 12:13] tobiasKaminsky commented on #228
I just gave it a try: https://github.com/nextcloud/android/pull/4314
Can you please test it?
I am not that sure if I added it on the correct place, but at least server connection should now work.

[2019-08-12 12:16] tobiasKaminsky commented on #4312
Indeed this is a known bug (maybe there is even an issue for it), it also has a PR: https://github.com/nextcloud/android/pull/2257

[2019-08-12 12:40] GAS85 opened #4315 "Content avaliability is always differnet"
### Actual behavior
Using Android Apps, e.g. [KeePassDroid](https://play.google.com/store/apps/details?id=com.android.keepass) I want to open my kdbx file from the Nextcloud. Clicking on "Folder" Icon and via Nextcloud select the file my kdbx - everything is fine. Or if I open file direct via NC Client it offers KeePassDroid  to open this file - fine.

After some time I open KeePassDriod and it sa

[2019-08-12 14:02] tobiasKaminsky commented on #4311
@AndyScherzinger I think you misunderstand me.
If you right now (with #4275) click on "clear logs" the activity will exit and you see settings again.
Previously behaviour was that the empty log is shown (the activity is not closed).

[2019-08-12 15:32] kesselb commented on #4290
Is there anything in your server log? If you see "Renewing session token failed" please try https://github.com/nextcloud/server/issues/13431#issuecomment-520350497 and post the log here.

[2019-08-12 15:42] dvaerum commented on #4229
Is this what you call Work profile?
![Screenshot_20190812-173058](https://user-images.githubusercontent.com/6872940/62877965-73c2d280-bd28-11e9-9891-82da10895345.png)

[2019-08-12 16:51] AndyScherzinger commented on #4311
@tobiasKaminsky yes, I was refering to #4309 :)

[2019-08-12 17:33] be-ndee commented on #3938
As a possible alternative solution: I had the same problem. Upload with wifi was only working for files smaller than 1MB. Mobile upload works for every file size. I set the `client_max_body_size` to 11MB in my nginx config like `client_max_body_size 11MB;`. Now it is working.

[2019-08-12 18:16] Stam21 opened #4316 "Fix navigation menu"
### Actual behaviour
- Choosing favorites in the navigation menu, shows the content of the previous      category that has been chosen.
- Choosing photos in the navigation menu, shows a loading screen.

### Expected behaviour
- Choose favorites and show everything I have marked as favorite.
- Choose photos and show every photo in my account.

### Steps to reproduce
1. Open the app(All Files is the

[2019-08-12 18:47] MarcelTUC commented on #4299
Thank you very much!

[2019-08-12 20:15] beerockxs opened #4317 "npe when selecting yes on popup wether full size image should be downloaded when thumbnail not available"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'void com.owncloud.android.ui.preview.PreviewImageActivity.requestForDownload(com.owncloud.android.datamodel.OCFile)' on a null object reference
	at com.owncloud.android.ui.preview.PreviewImageFragment.lambda$setErrorPreviewMessage$2$PreviewImageFragment(PreviewImageFragment.java:696)
	at com

[2019-08-12 20:52] AndyScherzinger commented on #4299
Done! :)
Good luck with your thesis 👍

[2019-08-12 21:10] LeoDJ commented on #3166
I still have this exact issue on version 3.7.1 and a Oneplus 3T with Android 9

[2019-08-13 05:27] tobiasKaminsky commented on #2076
@daraelmin I can confirm that this is our official account.
You are right, we need to communicate this better.

@jancborchardt maybe we should do a central wiki on server?

[2019-08-13 06:11] tobiasKaminsky commented on #3166
@LeoDJ which device credential do you use?
Can you try to enter your device pin when trying to disable?

[2019-08-13 06:30] tobiasKaminsky commented on #4317
Can you try this with only one image in a folder?
I could not reproduce NPE, but strangely it downloaded the false one…

[2019-08-13 06:30] AndyScherzinger commented on #2076
@tobiasKaminsky we could add a button to our readme too (or any/most repos in the org)

[2019-08-13 06:42] tobiasKaminsky commented on #2076
We could, but if (for any reason) we have to change it, we have to change it on dozen places, so one central place is better in my opinion.

[2019-08-13 06:45] tobiasKaminsky commented on #4316
Photo will be fixed with #2250, can you give it a try? (there is a APK you can install in parallel)
Favorites is working for me, though it shows briefly "no files/folders".

![2019-08-13-084502](https://user-images.githubusercontent.com/5836855/62920652-aa3f3280-bda6-11e9-9e1c-0e0236defd76.png) ![2019-08-13-084456](https://user-images.githubusercontent.com/5836855/62920653-aa3f3280-bda6-11e9-8356-

[2019-08-13 07:02] tobiasKaminsky commented on #3147
What to do
- slowly switching from evernote to WorkManager
- centralize all constrain checks with ConnectivtyService/DeviceModule (e.g. battery, wifi)
- all Jobs need to handle start/stop/restart gracefully, we must make sure that jobs really end
- write test cases

[2019-08-13 07:27] tobiasKaminsky commented on #4289
Thanks for your videos, this helps a lot to understand the problem.

It might be that your cache is so slow that it slows down the app.
Then I still wonder why it does not happen after deleting the file.

Can you try this:
- open up resized images
- swipe through some images, see it is sluggy
- go back to file list
- open up the same images again, in the same order

Please do this with complete ne

[2019-08-13 08:06] daraelmin commented on #2076
Maybe if all the buttons are linked to a webpage "how to donate" on the nextcloud repos (or anywhere else) it could ne a way to centralize the information ans it offert the possibilité to list other way like bountysource.

[2019-08-13 08:19] pangeneral opened #4318 "Misuse of AsyncTask"
According to our research, there are misuses about the following AsyncTask class:
1. `com.owncloud.android.ui.activity.ManageSpaceActivity.ClearDataAsynTask`
2. `com.owncloud.android.ui.activity.ErrorsWhileCopyingHandlerActivity.MoveFilesTask`

The problems are:
1. These classes are inner classes of Activity, which means it holds strong reference to Activity. It will cause memory leak when the Act

[2019-08-13 08:32] Adrien-ops opened #4319 "Nextcloud"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive d

[2019-08-13 08:32] Adrien-ops opened #4320 "Nextcloud"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive d

[2019-08-13 09:42] piknew commented on #4202
Duplicate of #3484 ?

[2019-08-13 11:23] AndyScherzinger commented on #4202
I'd say so, yes 👍

[2019-08-13 11:23] #4202 closed

[2019-08-13 13:01] dusscloud commented on #1256
I had exactly this issue : in some place/city/country, the wifi signal may be good enough for sending email/message but not for picture transfer, especially when there is a lot taken.
In that case, I would like to pause the autoupload, and resume it whenever I feel the Wifi bandwith is better

[2019-08-13 13:10] LeoDJ commented on #3166
I tried it with both fingerprint and pin code using the same procedure from "steps to reproduce" above.
Both times the Nextcloud app showed a toast "Credentials disabled"

Can you clarify what you mean by "which device credentials"? I can say that it appears to me that the stock settings-overlay is used (I can see this in the application switcher) prompting me to "Re-enter your PIN", where I can e

[2019-08-13 13:18] LeoDJ commented on #3166
I just tried to set it from "Device credentials" to "Passcode", but now I have to enter both Device credentials and the custom passcode. After setting it to "None", I'm back to only Device credentials.

I didn't have a look in the code, but it feels to me like it is somehow not correctly telling the Android system to stop protecting the app, but I'm just guessing

[2019-08-13 14:13] Stam21 commented on #4316
It works perfectly at version 3.6.2 and broke at 3.7.0 RC1. Until now I get the same behavior from these 2 fragments. Maybe I forget something while I'm building the app? It is strange that there is no issue at favorites on you.
(By the way if its possible to inform me about the method setPhotoSearchNoNew(), where is it initialized? I found it in the parallel branch photoSearchLimit , in java clas

[2019-08-14 07:29] tobiasKaminsky commented on #3166
You should not be able to set both…

To not mess with your current app, can you try our dev version (you can install it in parallel):
https://github.com/nextcloud/android/blob/master/CONTRIBUTING.md#dev-release

Can you there test it again?

I fear that somehow the setting can not be removed, but I have no idea why and how to prevent this…

[2019-08-14 07:32] tobiasKaminsky commented on #4316
Photo view is working for you in 3.6.2? For most of the users this spins forever as it tries to load all photos at once.

There is nothing to forget. All dependencies are fetched automatically.

Please ask all photo related question in the PR, otherwise it will get too complicated.

So, let us focus here on favorites: I do not fully understand the problem. Is favorite working for you?
If not, what

[2019-08-14 08:15] jancborchardt commented on #2076
The Liberapay account is ours, but we are not using it at the moment due to their donation structure. The donations go to individuals registered on Liberapay, which means that atm all donations to Nextcloud would go to me which is of course wrong. Then all of us would have to register, but then still it can't be donated to volunteers.

I had a chat with the Liberapay folks but don't really have th

[2019-08-14 09:56] tobiasKaminsky commented on #4305
Hm. I am clicking the "login" button nearly 30x a day on master ;-)
The stacktrace is also completly Android.

Can you try if this also happens with another device?
Which language do you use?

[2019-08-14 11:21] LeoDJ commented on #3166
Hm, using the dev version, disablinig the device credentials worked as it should.

So it's probably a stuck setting in my Android system somehow, because I enabled Device Credentials for Nextcloud a long time ago and just now wanted to disable them again. I guess some update has broken the link that allows NC to disable it, or something like that, I don't really know.

I fear this will only be sol

[2019-08-14 13:40] Valdnet opened #4323 "Translation of the description of developer functions"
I suggest adding a translation for the description of developer functions:

- Download latest dev version

- Changelog dev version

![obraz](https://user-images.githubusercontent.com/47037905/63025535-afd17100-bea9-11e9-90ed-e0a72c9b1d23.png)

[2019-08-14 14:02] AndyScherzinger commented on #4305
@tobiasKaminsky nope, see line below ;)
[code]

[2019-08-14 14:09] tobiasKaminsky commented on #4323
Thank you, I created a PR for it.
It will then be soon on Transifex for translation.

[2019-08-14 15:31] #4323 closed

[2019-08-14 21:02] #4311 closed

[2019-08-14 23:00] ezaquarii commented on #3947
I started working on it, but I need to consult you before I move forward.

The  check is called synchronously in few background operations. That means that whenever we run a remote op:

1. pro: we have a current state of network and server connectivity
2. con: this is rather expensive

My initial simplistic approach was to simply wait for platform network status updates, but I see that this check

[2019-08-14 23:04] mario commented on #3947
We poke status.php to see if we're behind a walled garden on not pretty much.

[2019-08-15 03:37] Stam21 commented on #4316
![Nextcloud](https://user-images.githubusercontent.com/32773128/63071113-97ec0280-bf26-11e9-822c-c460830e1db3.gif)

[2019-08-15 03:46] Stam21 commented on #4316
![Nextcloud](https://user-images.githubusercontent.com/32773128/63071316-793a3b80-bf27-11e9-8132-77adc6a397da.gif)

[2019-08-15 07:38] tobiasKaminsky commented on #3722
Ah, indeed this seems to be a custom folder and this might lack write/delete permission.

To avoid confusion, I would not hide this, but show an explaining message, like on move/copy: source folder is read-only; files will only be uploaded.

[2019-08-15 07:46] tobiasKaminsky commented on #3947
We use status.php for old (<NC13) or /index.php/204 for new ones to check if we can access the server.

In 2. we will get problems if user is connected to wifi, but not to internet (e.g. walled garden, or simply a local network)

3. we do support "server offline", "server in maintenance mode", both in uploads and if you browse files.

Sorry, if I did not get your point, but why cannot we use event

[2019-08-15 09:47] mario commented on #3947
@tobiasKaminsky this approach will not work, reason being that network change will not be trigger if for example your "walled garden" session timeouts.

[2019-08-15 12:16] Excel1 commented on #3722
@tobiasKaminsky
Yes. I proved it. The option is greyed for pictures in self created folders ( or folders created by galery) on SD Card by automatic upload. (even though the writing permissions are given).

The option is not greyed for pictures in folders on internal storage.

[2019-08-15 15:15] ezaquarii commented on #3947
What kind of issues do we expect? I guess that the op will simply fail to be re-scheduled during next sync window.

In comparision, what happens if we're in walled garden? If I understand the code correctly, op is aborted and re-scheduled.

It looks for me like it's the same thing, except that we make 1 redundant call to `status.php` on happy path:

Here is the pseudo-code of what I believe is hap

[2019-08-16 00:56] trymeouteh opened #4330 "Auto Upload becomes Syncing"
On the desktop clients you are able to sync a folder on your computer to a folder in your cloud and as long as the client is running it will sync files and folders between these folders.

On android it is called Auto Upload. Which is handy since it will automatically upload files. I think this should be renamed to Syncing and allow you to automatically upload and download files and folders to and

[2019-08-16 00:58] trymeouteh opened #4331 "Delete Auto Upload folders"
Please add an option to delete an auto upload folder in the app. I have so many auto uploads for all of my pictures that I would like to remove. I do not want to disable them, I want to delete it.

[2019-08-16 05:39] tobiasKaminsky commented on #3947
Thanks for your very detailed answer!

On FDA we check result of sync and show matching info:
https://github.com/nextcloud/android/blob/1cb125a4642e76f75847dc9ef0919a4c0265abe6/src/main/java/com/owncloud/android/ui/activity/FileDisplayActivity.java#L1404-L1423

Thanks for explaining why my idea is not working :-)

How could we recover gracefully from walled garden / no internet connection without

[2019-08-16 06:33] tobiasKaminsky commented on #4331
We show all folders with images in it, so that user can enable them.
If you would remove one of those, you would never be able to enable auto upload for this folder again.

@AndyScherzinger

[2019-08-16 07:56] tobiasKaminsky commented on #4330
This is a duplicate of https://github.com/nextcloud/android/issues/285
Please comment there.

[2019-08-16 07:56] #4330 closed

[2019-08-16 09:37] Adrien-ops opened #4333 "Nextcloud bug at boot"
************ CAUSE OF ERROR ************

java.lang.InterruptedException
	at java.util.concurrent.locks.AbstractQueuedSynchronizer.acquireInterruptibly(AbstractQueuedSynchronizer.java:1244)
	at java.util.concurrent.locks.ReentrantLock.lockInterruptibly(ReentrantLock.java:336)
	at java.util.concurrent.LinkedBlockingQueue.offer(LinkedBlockingQueue.java:380)
	at com.nextcloud.client.logger.LoggerImpl

[2019-08-16 11:19] tobiasKaminsky commented on #4333
Thanks for your bug report.
How often does this happen for you? Every time?

[2019-08-16 11:44] tobiasKaminsky commented on #4316
Ah, now I see "your problem".
Swipe to refresh always defaults to "show all files", which of course is a bug.

Can you wait a bit longer when switching to favorites?

[2019-08-16 12:03] Adrien-ops commented on #4333
Hello,
Yes each time my phone starts up.

Best regards.
--
 Securely sent with Tutanota. Get your own encrypted, ad-free mailbox:
 https://tutanota.com

16 Aug 2019, 13:20 by notifications@github.com:

[2019-08-16 14:13] AndyScherzinger opened #4335 "Release 3.7.2 - Roadmap"
- [x] Bump version name and version code in build.gradle files
- [x] update Changelog.md
	- [x] also update Changelog.md on master branch
- [x] add $version.txt to /fastlane/metadata/android/en-US/changelogs/ to support GPlay version info
- [x] update translations from transifex
- [x] Verify that the new version number is shown in settings
- [x] Verify that logging is disabled
- [x] Test that what

[2019-08-16 14:14] AndyScherzinger commented on #4335
F-Droid merge request: https://gitlab.com/fdroid/fdroiddata/merge_requests/5265 (already merged), so awaiting build & publish

[2019-08-16 14:23] AndyScherzinger commented on #4333
@ezaquarii fancy taking a look? ❤️

[2019-08-16 14:26] AndyScherzinger commented on #4331
I'd still like to add a "hide" feature while this would need to be discussed with @nextcloud/designers especially @jancborchardt. A hide feature would not delete the folders which we wouldn't do anyways (as in deleting them from storage) but like other tools with long auto dicovered list (items) I think it be good to have such a possibility (and then via the 3-dot menu do toggle the visibiliyt of

[2019-08-16 14:50] ezaquarii commented on #4333
@Adrien-ops can you please test the fix? It's here: https://github.com/nextcloud/android/pull/4336
Just scan the QR code and install the app. It will **not** overwrite your existing app - it's safe to test it.

[2019-08-16 14:51] ezaquarii commented on #4333
I just want to clarify: each time the phone-as-in-device starts, not the app? Are you able to actually use the app for daily work?

[2019-08-16 18:00] jancborchardt commented on #4331
Sounds good as @AndyScherzinger described.

Then at the end of the list there could be an entry called "Show hidden folders" which toggle shows/hides them all.

[2019-08-16 18:12] Stam21 commented on #4316
No matter how long I wait no favorites are shown on me

[2019-08-16 23:08] trymeouteh commented on #285
I would like to have Auto Upload changed to Sync Connections and work just like on the desktop client. Instead a uploading it will upload and download and you can set it on how often it will scan for uploads and downloads.

[2019-08-17 03:58] InfamousUser commented on #3569
This is the most redacted feature ever.

[2019-08-17 07:35] lemmy04 commented on #3569
this bug would actually be enough to drop auto upload completely ... if dropbox hadn't castrated linux support down to only filesystems with support for eattr.

[2019-08-17 08:31] lbrocke opened #4337 "Navigation drawer shows full name instead of username"
### Actual behaviour
When opening the navigation drawer, the displayed Cloud ID doesn't consist of `<username>@<host>` but instead `<full name>@<host>` (see screenshot). In the "Manage accounts" section, the Cloud ID is displayed correctly.

### Expected behaviour
The Cloud ID should contain the username, not the full name. I remember it showing correctly, not sure what update update caused this.

[2019-08-17 09:30] lukasradek commented on #4232
Well... it still persists.

[2019-08-17 11:18] Adrien-ops commented on #4333
Hello !
After several tests I noticed that the bug came randomly after the phone started. As soon as I have more information, I'll let you know.

I have installed your application for the moment no bugs have appeared.

--
 Securely sent with Tutanota. Get your own encrypted, ad-free mailbox:
 https://tutanota.com

16 Aug 2019, 16:51 by notifications@github.com:

[2019-08-17 11:18] InfamousUser commented on #3569
Exactly, except Dropbox isnt free...

[2019-08-17 11:18] ezaquarii commented on #4318
@pangeneral Are you interested in working on this? Recently we meged our own async task mechanism and we'd be happy to clean up this area.

[2019-08-17 11:44] SR4ven commented on #4059
Issue is still present and sadly renders the app totally useless.
I haven't been able to upload a single file through the app for half a year now.

If additional information is needed, let us know.

[2019-08-17 12:43] ezaquarii commented on #4337
@AndyScherzinger

So this is the guilty party:
[code]

Get `getName()` returns string in format `login@server.url`. I guess this is what we want here?

[2019-08-17 13:08] netmackan commented on #4234
Same problem. Will post here and see if it helps :-)

Nextcloud app version: 3.7.1. from F-Droid
Android 9 (LineageOS)

[2019-08-17 13:27] AndyScherzinger commented on #4337
I don't recall anybody changing this

Since we also display the full name, it should then obviously be the username 👍

[2019-08-17 21:19] lu4p opened #4340 "Auto Upload does not Upload existing files"
## Current Behavior
Auto Upload does not Upload existing files in the directories I select. Only newly added files get uploaded.

Is this intentional?

## Expected Behavior
I expected that the auto upload function behaves like the sync function on Desktop so all existing files get uploaded.

Please add the option to upload all existing files in the auto upload dialog or at least inform the user th

[2019-08-18 07:50] mr-bolle opened #4341 "tmp folder size grow by 'send to nextcloud' upload"
### Steps to reproduce
1. open a Filemanager, Galerie and select files what you want to upload
2. select share with - Nextcloud
3. after upload complete upload check the temp folder   [ex. storage/emulated/0/Android/media/com.nextcloud.client/nextcloud/tmp/USER@NEXTCLOUD.DOMAIN.com]
4. a full copy of the uploaded files still exist

**Note:** i don't use a external SD Card

### Expected behaviour
I

[2019-08-18 09:02] #3596 closed

[2019-08-18 09:51] marko-k0 commented on #3715
I am experiencing the same issue as well.

[2019-08-18 12:31] JSoko opened #4342 "Delete Android user Manual"
The Android user manual has not been maintained for 3 years.
It should be deleted here:
https://docs.nextcloud.com/android/

No documentation may be better than an absolutely outdated one.

See also:
https://help.nextcloud.com/t/where-is-the-adroid-client-manual/58378
#1522
#4012

[2019-08-18 15:41] mr700 commented on #4340
Same problem with my phones:
 - stock huawei mate 10, android 8
 - xiaomi note 4s  android 9 crdroid 5.6 no gapps.

On my wife's iPhone it uploads everything at once (slow but works).

Nextcloud server 16.4 (latest as of today).
Latest Nextcloud client 3.7.1 from F-Droid, Latest Nextcloud dev 20190810 from F-Droid.

[2019-08-18 16:19] mr700 commented on #4308
I think an option to enter the user's password instead of the pin should be good enough solution. If someone knows your password the pin does not provide extra security (one can clear the app data and set it up again or simply login from another device/browser).
Involving the admin in the matter seems too much to me... Just my 2 cents.

[2019-08-18 17:04] gloomytrousers commented on #4246
Still happening. App version 3.7.1.

[2019-08-18 17:39] genesispower411 commented on #4246
How change password?

On Sun, Aug 18, 2019, 17:04 Russ <notifications@github.com> wrote:

[2019-08-18 18:54] MathiasRenner commented on #4246
Still happening, for me, too.

[2019-08-18 21:47] PsKoPaT opened #4343 "Upload bug"
Hello,

I have the big problem with the nextcloud app that when i try to upload multiple data from my phone it only works for 4 or 5 pictures or videos. Than i have to go into the app and look at the upload to go on. Without looking on the upload the process is stoped and dont upload anything anymore.

Thank you

[2019-08-19 06:28] StarFscker commented on #3177
Hello, I think this could best be solved with a simple option to avoid uploading dot files. It is very rare for any hidden files to require a sync.

[2019-08-19 06:53] AndyScherzinger commented on #4342
Probably @tobiasKaminsky could take care of that since I don't have (technical) permissions to do such tasks.

[2019-08-19 06:57] AndyScherzinger commented on #4340
Upload of existing files and other features of the auto upload have been described within #285 already, so closing this (since it is a duplicate)

[2019-08-19 06:57] #4340 closed

[2019-08-19 06:57] AndyScherzinger commented on #4247
ping

[2019-08-19 08:17] AndyScherzinger commented on #4234
@tobiasKaminsky do you have a clue when this might happen?

[2019-08-19 08:34] AndyScherzinger commented on #2157
@tobiasKaminsky is this still present? (I guess no)

[2019-08-19 09:23] tobiasKaminsky commented on #4337
This was changed by me as there was some reports, that this looks weird
- on ldap, e.g. 2342348972479292@server.com (as it can be any value)
- with email address as username: tobias@kaminsky.com@cloud.server.com (which is done by SimpleSignUp)

Do we need to show this information at all? Isn't this a technical detail, which is fine to shown only in user account info?
Then we could simply show the

[2019-08-19 09:27] #4333 closed

[2019-08-19 09:33] tobiasKaminsky commented on #2157
Is working on light/dark theme.

[2019-08-19 09:33] #2157 closed

[2019-08-19 10:21] tobiasKaminsky commented on #4247
External storage: is this meant on server or on Android?

[2019-08-19 11:04] AndyScherzinger commented on #4337
I think the issue is that there could be more than one account with the exact same name (first name / last name) while these accoount only differ in their username. It might be an edge case but afaik that is why we actually showed the username.

[2019-08-19 11:48] tobiasKaminsky commented on #4342
I'll take care of it :+1:

[2019-08-19 12:04] #4203 closed

[2019-08-19 12:55] jancborchardt commented on #2216
As mentioned in https://github.com/nextcloud/android/pull/4294#issuecomment-522491228

[2019-08-19 13:44] patlecat commented on #4308
@mr700
Yes I see your point. I just think that adding some extra but optional security level should be a priority for a personal online vault in the times of hackers and untrustful government services. And it should be made easy to understand and use so many people would actually use it.

[2019-08-19 14:28] tobiasKaminsky commented on #4341
Thanks for your bug report.
This will be fixed with next version (3.8.0), but you can test it already with https://github.com/nextcloud/android/pull/4349
There will be soon a APK file you can install in parallel.

[2019-08-19 15:07] tobiasKaminsky commented on #4337
Same Display Name (can happen) on same server?
Could be…yes.
But then any ldap value / email address will look weird…

[2019-08-19 15:08] AndyScherzinger commented on #4337
Maybe the @nextcloud/designers have a nice idea how to solve this? :)

[2019-08-19 18:13] mr-bolle commented on #4341
Thanks @tobiasKaminsky your fix helps

**my tests**
1. Third App Upload
2. Upload from Nextcloud App
3. *Auto upload* with Option *keep in original folder*
4. *Auto upload* with Option *delete*

All tests successfully done - the temp folder are empty after successful upload

[2019-08-19 18:15] mr-bolle commented on #4341
fixed #4341

[2019-08-19 18:40] #1943 closed

[2019-08-19 18:55] mr-bolle commented on #4341
Hi, i found a other issue with the nextcloud qa app (version 10456) [apk nextcloud qa](https://github.com/nextcloud/android/pull/4349#issuecomment-522684043)

If i download a file from the nextcloud app i have follow folder structure

*/storage/emulated/0/Android/media/com.nextcloud.client/nextcloud/tmp* temp upload folder
*/storage/emulated/0/Android/media/com.nextcloud.client/nextcloud/USER@NEXT

[2019-08-20 04:47] #3177 closed

[2019-08-20 04:55] AndyScherzinger opened #4350 "Auto upload: ignore .thumbdata*"
Follow up for #3177 - @tobiasKaminsky
See https://github.com/nextcloud/android/issues/3177#issuecomment-511137877

Hi,
I get the exact same issue.
The file is uploaded from my Android phone (Samsung S9), to my newcloud, everytime this file is changed (i.e. every time there is a change in the syncronized pictures folder).

In my case
* the file:name: `.thumbdata4--1967290299` -> NOTE: it starts wit

[2019-08-20 04:57] AndyScherzinger commented on #4350
Related to custom folders I think

[2019-08-20 05:20] kw5sk8d commented on #4271
Same issue

Samsung S8 active
Android 9
NC 3.7.2
NCS 16.0.3

[2019-08-20 05:38] #4341 closed

[2019-08-20 05:40] teddy19 opened #4351 "Update to 3.7.2 causes login loop"
Hello,

Tonight I got the update to 3.7.2 via the Playstore. This resulted in the app asking me to "Grant Access", which turned into a login loop. I could see the contents of the Cloud for approx. 2 seconds and would then asked to login again.
Deleting Cache and Storage would not fix this. Also reinstalling the app did not fix the behaviour.
The latest Dev-Version from F-Droid worked fine.
So I re

[2019-08-20 05:56] tobiasKaminsky commented on #4341
Thanks for testing :+1:

[2019-08-20 05:57] tobiasKaminsky opened #4352 "Storage folder"
Hi, i found a other issue with the nextcloud qa app (version 10456) [apk nextcloud qa](https://github.com/nextcloud/android/pull/4349#issuecomment-522684043)

If i download a file from the nextcloud app i have follow folder structure

*/storage/emulated/0/Android/media/com.nextcloud.client/nextcloud/tmp* temp upload folder
*/storage/emulated/0/Android/media/com.nextcloud.client/nextcloud/USER@NEXT

[2019-08-20 05:58] tobiasKaminsky commented on #4341
@mr-bolle as this is unrelated, please open up a new issue next time.
It does not hurt to have many different issues, but it helps a lot to keep track on all issues ;-)
Please see #4352 for further discussions

[2019-08-20 06:01] tobiasKaminsky commented on #4352
Due to the line wrapping, I do not get the problem.

What is stored in one folder? All files of all accounts are stored in the same temp folder?
This should not do any harm as we only process up-/download one after one and clean up afterwards. So it cannot happen to have conflicts there.

Or do I misunderstood you?

[2019-08-20 06:18] tobiasKaminsky opened #4353 "Photo view stops after 95 pictures"
OK, i just tested the 10427 build: no crash to report yet, but still stops after 95 pictures...

_Originally posted by @mlaverdiere in https://github.com/nextcloud/android/pull/2250#issuecomment-522237938_

[2019-08-20 06:18] tobiasKaminsky commented on #4353
@mlaverdiere how many images do you have in your cloud?

[2019-08-20 06:19] #1901 closed

[2019-08-20 06:30] tobiasKaminsky opened #4354 "DeviceModule not in Kotlin"
Is there a reason we reverted this to Java? Doesn't matter TBH, it's just a pseudo-DSL, but I'm wondering if we have some issue with the build that requires this?

_Originally posted by @ezaquarii in https://github.com/nextcloud/android/pull/3589_

[2019-08-20 06:30] tobiasKaminsky commented on #4354
I'll give this a try soon.

[2019-08-20 06:53] tobiasKaminsky commented on #4351
3.7.2 was just a fix in a library, so that should not be the cause.
We have #2267 and #3623, can you check back there and comment there?

Closing as duplicate.

[2019-08-20 06:53] #4351 closed

[2019-08-20 06:55] tobiasKaminsky commented on #4271
This seems like #4005

[2019-08-20 06:57] tobiasKaminsky commented on #2216
@jancborchardt this is also not the correct issue, as this will be closed once the PR is merged.
I meant that you should post your idea into the "recommendations" or "Favorites not being separated" issue.
Not sure what they both are about to be honest.
If there is no such issue right now, please then open up individual ones (as I doubt they are related).

[2019-08-20 07:07] LiloBzH commented on #3623
Hello

I'm new user of NextCloud and same bug for me !
Login loop with Android App ( version : 3.7.2)
NC  16.0.4
Tel : Galaxy S9

[2019-08-20 07:11] mr-bolle commented on #4352
![](https://i.imgur.com/yVXroJ5.jpg)

I made a new test with 2 different nextcloud accounts. If I have only one account, the downloaded file is stored into the folder **nextcloud/tmp** and if i add the second account all new downloads are separate to the folder **nextcloud/USER@NEXTCLOUD.DOMAIN**

There is really no issue with multiple accounts.

[2019-08-20 07:48] tobiasKaminsky commented on #4354
Closing as I changed it in #3589

[2019-08-20 07:48] #4354 closed

[2019-08-20 08:16] teddy19 commented on #3623
This seems to not be a problem of how one logs in or a specific server version. With each new release of the app the number of people affected increases. So it has to do with something about logging in with a "new" or "updated" app. Deleting Cache and Data and/or reinstalling does not fix the problem.

It affected myself when updating to 3.7.2 with normal password and second factor as well as with

[2019-08-20 08:18] tobiasKaminsky commented on #4352
As we fixed it for one account in #4349, I can close this?

[2019-08-20 08:19] teddy19 commented on #4290
Seeing the same since the last App-Update (3.7.2). As mentioned in #3623, there is nothing in my Server logs and only one type of entry in the Nextcloud-Log:
[code]
But I had this before the update and everything was working. No other messages appear and the same message comes up after rollback to the previous app (3.7.1) that is working. So I do not think this message is related.

Nextcloud Versi

[2019-08-20 08:22] tobiasKaminsky commented on #3623
I always suspected that login loop is due to Android's problem of creating a new account, which would explain why this happens on new installations.
But @teddy19 did an upgrade and there the account must already exist: can you check this is settings?

[2019-08-20 08:28] mr-bolle commented on #4352
Yes, thanks a lot.

[2019-08-20 08:35] teddy19 commented on #3623
Did your sentence get corrupted or do I just not understand what you're saying?

[2019-08-20 08:45] tobiasKaminsky commented on #3623
is -> in
In settings of Android you should still see your Nextcloud account. Even when upgrade does not work, or is it vanished?

[2019-08-20 09:19] jancborchardt commented on #4337
In the desktop app we do it like this:
- Avatar on top of course
- First row shows the full name if set, user name if not
- Second row only shows the server address

![desktop app accounts](https://user-images.githubusercontent.com/925062/63334752-57ccbb80-c33c-11e9-9c87-738c85d95908.png)

How about that? Will look shorter and less technical. Yes if you have 2 exact same profiles on the same serve

[2019-08-20 09:52] #4352 closed

[2019-08-20 09:53] tobiasKaminsky commented on #4290
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

I am not sure which part of log is needed, but somehow your app thinks that login is not correct and therefore triggers a re-login…

[2019-08-20 10:26] mlaverdiere commented on #4353
@tobiasKaminsky: More than 12 000...

[2019-08-20 12:04] teddy19 commented on #4290
Sorry, can't do that. All my devices are in use at the moment and the ones I don't need don't have root access. Might find the time later to get you what you need, but definitively not very soon.

[2019-08-20 12:23] mr-bolle commented on #4246
Could you try the app [keepass2android](https://play.google.com/store/apps/details?id=keepass2android.keepass2android) with this application you can download .kdbx files from Nextcloud. I use the webdav path to the password container.

[2019-08-20 12:47] AndyScherzinger commented on #4246
I am also using keepass2android in the exact same way and it works just fine. I'd also say it is better/easier to leave this to the keepass mobile app itself

[2019-08-20 14:46] #4337 closed

[2019-08-20 15:05] #2216 closed

[2019-08-20 17:42] MathiasRenner commented on #4246
I had success using the app recommended by @mr-bolle . Thank you very much!
@AndyScherzinger Thanks to you, too, I agree that the usability is nicer. I used "Keepass DX" before.

[2019-08-20 17:46] mr-bolle commented on #4246
@MathiasRenner great that it works for you too. This application is from original developer of keepass.

[2019-08-20 19:58] LicoMonch opened #4358 "local edited files are not updated on the server"
FYI: This has nothing to do with auto-upload, that works fine for me ;)

### Steps to reproduce
1. create a txt on another client (e.g. www)
2. open and edit it on android
3. the changed file is not autmatically synced with the server, I have to manually choose to sync in the android-app to get the changed file back to the NC server

### Expected behaviour
If I modify a file on android, it should

[2019-08-20 20:27] kiplingw commented on #3151
Still the same problem with "Nextcloud dev" 20190717 as of today.

[2019-08-20 20:54] AlexNi245 commented on #2723
hello i'd like to pick this issue if its still relevant. As i got it right there are a refactoring part as described by @tobiasKaminsky  and add some  new features as described by @jancborchardt. if you agree i'd open two pull requests and then start working.

[2019-08-21 05:02] teddy19 commented on #3623
Sorry, had to check on another device. There, the account is still shown under the Android list of accounts. Its synchronisation is disabled, trying to enable it results in a "The synchronisation is experiencing problems at the moment" (freely translated) error.

[2019-08-21 09:01] francofunghi opened #4364 "Downloading to NExtcloud Chromebook"
### Is your feature request related to a problem? Please describe.

This is a feature request or maybe only a search for a solution i didn find yet:
https://help.nextcloud.com/t/new-android-client-on-chromeos/58152

it would enhance the workflow on a chromebook great if i could not only upload from nc (the nc files in the files app must be a webdav connection as no files are synced) to a website,

[2019-08-21 09:37] jancborchardt commented on #2723
@AlexNi245 that sounds great! @tobiasKaminsky @AndyScherzinger do you have any input? :)

[2019-08-21 11:29] Excel1 commented on #4207
@memen45 @bastel-123  Same problem like here?
https://github.com/nextcloud/android/issues/3721

[2019-08-21 11:35] Excel1 commented on #3721
@tobiasKaminsky is this expected that only new pictures will be uploaded?

Maybe that is more an approvement than a bug (to autoupload old pictures too with the same folder structure).

[2019-08-21 12:47] AndyScherzinger commented on #2723
Except for what @tobiasKaminsky wrote, not from my side. Maybe Tobias has additional, further input on this one.

[2019-08-21 13:13] memen45 commented on #3721
It is intended behavior as confirmed [here](https://github.com/nextcloud/android/issues/4004#issuecomment-497436425).

Therefore this issue seems to be more a feature request and as such exactly equivalent to #2812. The good news is that it seems like this feature is currently in development: #2873!

[2019-08-21 18:36] nursoda commented on #4059
I also run my server in subdir config ("domain/cloud") and see no issues uploading. I use   `'overwrite.cli.url' => 'https://seyfarth.de/cloud',`
not redirect, though.

[2019-08-22 05:45] Vladislav-Ilcheff opened #4369 "Crash when entering external folder"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
	at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.java:864)
	at com.ow

[2019-08-22 05:45] tobiasKaminsky commented on #2723
Still valid.
Thanks for taking this @AlexNi245
(btw: we have a NC conference at https://nextcloud.com/conf-2019, maybe you want to join?)

[2019-08-22 05:58] tobiasKaminsky commented on #4059
@SR4ven
Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-22 06:03] tobiasKaminsky commented on #4369
@Vladislav-Ilcheff in PR https://github.com/nextcloud/android/pull/4370 will be soon a APK to download and test.
Can you give this a try? You can install it in parallel.

[2019-08-22 06:20] tobiasKaminsky commented on #3151
20190717 is rather old.
On Fdroid there is already 20190810, but actually 20190822 is the latest: https://download.nextcloud.com/android/dev/

Can you test this?

[2019-08-22 06:26] tobiasKaminsky commented on #4246
So this not a bug in our app but rather a missing extensions registration on the other app?

[2019-08-22 06:26] #4246 closed

[2019-08-22 06:27] tobiasKaminsky commented on #4358
How do you edit it? When just changing this on filesystem, there is a background job that will upload the changes if on wifi.

You can also open it via document storage framework and then it will get uploaded directly afterwards.

[2019-08-22 06:33] sciurius opened #4371 "Non-destined users receive update notifications"
### Setup
- NC is configured to send update notices to members of the admin group
- Android client has multiple user accounts, including one user that is member of the admin group
- A non-admin user is currently active. When the NC icon is clicked, it shows the data for this user

### Actual behaviour
- Notifications appear when updates are available for NC or any apps.

### Expected behaviour
- N

[2019-08-22 06:50] gloomytrousers commented on #4246
Looks like you're right. There's a fix but it's not merged (after 6 months): https://github.com/bpellin/keepassdroid/pull/352

[2019-08-22 06:51] tobiasKaminsky commented on #4371
Android client just shows all notifications it gets via push, for all accounts.
Otherwise you would miss a lot of notifications, if they only pop up once you switch to the account.

Or am I missing something?

[2019-08-22 06:54] tobiasKaminsky commented on #3623
Can you also try 3.8.0RC1 which is available via Google Beta program?
There is a change that might fix it for people experience it only after upgrade to 3.7.2.

[2019-08-22 06:57] tobiasKaminsky commented on #4353
Strange…
Saying that it is working on my cloud is not a help ;-)

Can you
Can you create us a test account, add 200 sample images, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-22 07:04] tobiasKaminsky commented on #157
We do not show userid in drawer anylonger, but this is is still valid for user info display.

@rullzer is there a server issue we can link it to?

[2019-08-22 07:29] AndyScherzinger commented on #2723
@jancborchardt can you add @AlexNi245 to the Android tem, so he can work with the repo directly? :) ❤️

[2019-08-22 07:33] sciurius commented on #4371
The scenario that triggered my question is as follows.

My wife is a computer illiterate and she has a tablet that a.o. runs a NC client.
My NC account (which is admin group) is also on her tablet, but it is generally not used.
Now my wife gets notifications about a new NC being available. She does not understand, there is nothing she can do with this (yes, she can tell me but I already get my own

[2019-08-22 07:34] mario commented on #4371
I'm pretty sure that's unexpected behaviour @sciurius. If the account is not being used on a device, remove it.

For one, there are 2FA notifications which you don't want to miss, among others. And exceptions are a big no-no, so I don't think we want to go there.

[2019-08-22 07:47] simontipping21 commented on #2834
Galaxy S10+. If I create a new folder it will be detected by the nextcloud app. I go in and setup the auto upload, ensuring that battery optimisation is turned off. Nothing then happens. If I move pictures to that folder after setup then they are seen in the app but don't auto upload.

[2019-08-22 07:54] sciurius commented on #4371
@mario: I assume you mean "expected behaviour"?
I don't think the mere _presence_ of an account is a reason to show everyone messages for that account.
Following that logic, all users of a Linux (or Android) system would receive system messages just because there is a root account on the system.

[2019-08-22 07:56] LiloBzH commented on #3623
Hi
i install the Beta version now (after delete data of 3.7.2 version) and the RC1 version is ok for me after  some tests. For exemple, if i close app, I do not have to login when I launch the app
for information, I m new user so i never test before 3.7.2 version so i can compare !

[2019-08-22 08:29] tobiasKaminsky commented on #4371
Your scenario is the same like having multiple accounts on desktop sync within the same linux user.

To have the same like you describe here, is that you have two different users on android (which is possible via profiles) and then you configure each NC app with its own account. Then you of course will not get a notification.
So I suggest this way, instead of mixing up two different users in one a

[2019-08-22 08:29] #4371 closed

[2019-08-22 08:38] tobiasKaminsky commented on #3986
PR is in #4373

[2019-08-22 08:39] tobiasKaminsky commented on #3979
I'll close this, as it is a upstream bug.
But I do get a notification once there is a change, then I can do a test and version bump.

[2019-08-22 08:39] #3979 closed

[2019-08-22 09:03] tobiasKaminsky commented on #3919
This is working for > 5.0, which is good enough I think, given the fact that even 6.x is EOL by Google/Android.

[2019-08-22 09:03] #3919 closed

[2019-08-22 09:30] genesispower411 commented on #4246
How change cloud password?

This e-mail message may contain legally privileged and/or confidential
information. If you are not the intended recipient(s), or the employee or
agent responsible for delivery of this message to the intended
recipient(s), you are hereby notified that any dissemination, distribution
or copying of this e-mail message is strictly prohibited. Should you
have received this m

[2019-08-22 09:35] mr-bolle commented on #4246
This sounds like a Phishing Mail. You don't get such mail from Nextcloud.

If you have to restore your nextcloud password, you can reset if you want to login (if you set a email account)

Otherwise you are posting on the wrong repository.

[2019-08-22 09:35] gloomytrousers commented on #4246
@genesispower411 your question is unclear and, as far as I can tell, this does not seem the most appropriate place to ask it.

[2019-08-22 09:36] javl opened #4375 "Auto upload with Motion Photos"
### Actual behaviour
Nextcloud app sees 'Motion photos' as folders instead of photos.

### Expected behaviour
Motion photos should be seen as single photo within a folder.
This issue (which seems unrelated to this specific problem but also is about motion photos) seems to suggest uploading the photos used to work: #3262

### Steps to reproduce
1. Take a photo with Motion enabled
2. Nextcloud detec

[2019-08-22 10:26] tobiasKaminsky commented on #3415
@pleasantarmour can you test latest 3.8.0RC1? It is available via Play Beta Program.

[2019-08-22 10:26] tobiasKaminsky commented on #3415
Ref: #4189

[2019-08-22 12:35] #3986 closed

[2019-08-22 12:35] #4369 closed

[2019-08-22 13:15] wxmaja opened #4380 "Menü Foto"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1. Foto herunterladen
2. Lokal vorhandene Fotos können nicht mehr ausgewählt werden. Es führt zu einer Passwort Endlosschleife
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
####

[2019-08-22 14:49] Alex4eb opened #4383 "Error by changing account"
************ CAUSE OF ERROR ************

java.lang.ClassCastException: com.owncloud.android.ui.adapter.AccountListAdapter cannot be cast to android.widget.ListAdapter
	at com.owncloud.android.ui.activity.ReceiveExternalFilesActivity$DialogMultipleAccount.onCreateDialog(ReceiveExternalFilesActivity.java:313)
	at androidx.fragment.app.DialogFragment.onGetLayoutInflater(DialogFragment.java:330)
	at

[2019-08-22 15:21] mlaverdiere commented on #4353
@tobiasKaminsky: OK, I tried with a test account and a set of pictures other than mine (a package of 500 jpg National Geo pictures of the day), and it seems to work fine, i.e. it can go over the first 95 pictures and load everything....

The main differences I can think of between this test account and my real one are the following:

1) My jpg pictures are larger in size (i..e. +/ 5mb each) than t

[2019-08-22 15:51] SR4ven commented on #4059
Done.
Please notify me when the account can be deleted.

[2019-08-22 16:02] #4219 closed

[2019-08-22 16:32] mlaverdiere commented on #4353
Another observation with my test account: it seems that when all pictures are loaded, when you scroll down to the last picture to be shown, the ND app is still trying to load more (spinning wheel), giving the (false) impression to the user that there is more to come...

[2019-08-22 16:50] AndyScherzinger commented on #4383
Likely to be fixed via #4381

[2019-08-22 16:52] AndyScherzinger commented on #4335
@Bubu 3.7.2 has been merged 6 days ago and still hasn't been published yet :(
(We are already having 3.8.0 RC1 out the door)

[2019-08-22 17:04] Bubu commented on #4335
On August 22, 2019 6:52:10 PM GMT+02:00, Andy Scherzinger <notifications@github.com> wrote:

Soemthing was stuck but 3.7.2 is published now.

[2019-08-22 17:07] stefanheijnen commented on #3623
For me this issue started with the latest update (3.7.2) on 2 devices (Planet Gemini - Android 7.1.1 and Xiaomi 9T - Android 9). I used to login with app tokens, gave me a login loop. Same for login with password. I deleted the app, data and NC account from both phones, reinstalled. Still a login loop.

I have logcat's available if dev's are interested.

I installed 3.8.0RC1 on both phones and eve

[2019-08-22 17:15] AndyScherzinger commented on #4335
Thank a lot @Bubu! ❤️ (While https://f-droid.org/en/packages/com.nextcloud.client/ still showss 3.71., at least to me, enforced browser refresh/cache)

[2019-08-22 17:42] Bubu commented on #4335
On August 22, 2019 7:15:19 PM GMT+02:00, Andy Scherzinger <notifications@github.com> wrote:

🙄, thanks for the heads up.

[2019-08-22 17:58] kiplingw commented on #3151
Just tested 20190822. Unfortunately still crashing on the login.

[2019-08-22 21:44] nickleverton commented on #3071
I agree this is a confusing difference.  I would expect "On Device" to contain all the files which are on this device.  To say that files which originated on the device are not included in "On Device", only those which were downloaded from elsewhere, is counter-intuitive and requires the user to keep long term knowledge in their head of where a file originated from, in order to keep track of what

[2019-08-23 03:39] Mululu opened #4385 "Error by Klick on folder"
### Actual behaviour
- Doesnt Open the folder

### Expected behaviour
- Open the folder

### Steps to reproduce
1. Klick on folder

The issue ist not on all folders

************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.creat

[2019-08-23 04:40] AndyScherzinger commented on #4335
Now available on f-droid

[2019-08-23 04:40] #4335 closed

[2019-08-23 05:16] tobiasKaminsky commented on #4383
Yes, this is the cause and #4381 is the fix.
I hoped to release yesterday so that I am faster than bug reports,but drone again ;-)

[2019-08-23 05:37] Alex4eb commented on #4383
Problem with fixed version - when I add second account, first account is
disappearing

пт, 23 авг. 2019 г., 8:17 Tobias Kaminsky <notifications@github.com>:

[2019-08-23 05:44] JadedHeart commented on #4385
Have the same

[2019-08-23 05:45] #4383 closed

[2019-08-23 05:49] oliverweidel opened #4392 "Error during pdf upload via Android share function"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
	at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.java:864)
	at com.ow

[2019-08-23 06:10] tobiasKaminsky commented on #4383
Please open up new issue, so we can track it better.

[2019-08-23 06:12] tobiasKaminsky commented on #4392
This is fixed via https://github.com/nextcloud/android/pull/4370 and will be in RC2 coming soon.

[2019-08-23 06:12] #4392 closed

[2019-08-23 06:20] tobiasKaminsky commented on #4385
Fix is in #4370 and will be in upcoming RC2, very soon.

[2019-08-23 06:20] #4385 closed

[2019-08-23 06:23] tobiasKaminsky commented on #3071
On device means simply that it shows what files of all your files in the cloud you have downloaded.
So you can see which folder is too big and then remove it locally.
Or if you are offline and know that you have music/video, you can find and play it.

This is working, or?

[2019-08-23 06:27] tobiasKaminsky commented on #3151
@kiplingw
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2019-08-23 06:45] tobiasKaminsky commented on #4288
RC2 released

[2019-08-23 07:30] kiplingw commented on #3151
From logcat:

[code]

And from server side access.log:

[code]

[2019-08-23 07:53] Arnaudfly opened #4393 "Close"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
	at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.java:864)
	at com.ow

[2019-08-23 08:05] tobiasKaminsky commented on #4393
This is fixed by #4370 and is already in 3.8.0 RC2

[2019-08-23 08:05] #4393 closed

[2019-08-23 08:14] tobiasKaminsky commented on #3151
@kiplingw thanks for the log, at a first glance I cannot see a problem

Can you try if on the same device another account is working?

[2019-08-23 08:17] tobiasKaminsky commented on #3623
Yes, please attach them here :+1:

[2019-08-23 08:25] stefanheijnen commented on #3623
Here you go

[logcatOutput9T.txt](https://github.com/nextcloud/android/files/3533520/logcatOutput9T.txt)
[logcatOutputGemini2.txt](https://github.com/nextcloud/android/files/3533522/logcatOutputGemini2.txt)

[2019-08-23 08:46] tobiasKaminsky commented on #4059
@SR4ven the problem seems that you have "location" as header which redirects to /cloud/apps/files/.

I think this is a problem in server conf, but I am not a expert.

curl --request HEAD \
  --url https://sr.asuscomm.com/cloud/remote.php/webdav/121233.jpg \
  -u  user:pass
 should return 404, but for you it returns 302, as it redirects as said above.

[2019-08-23 08:49] AndyScherzinger opened #4395 "[3.8.0RC2] IndexOutOfBoundsException in ActivityListAdapter.getItemViewType"
[code]

cc @tobiasKaminsky @AlexNi245

[2019-08-23 08:56] AndyScherzinger opened #4396 "[3.8.0RC1] NPE in FileDisplayActivity.onRemoveFileOperationFinish"
[code]

code part is:
[code]
according to the IDE `getStorageManager().getFileById(removedFile.getParentId())` might be `null`

cc @tobiasKaminsky

[2019-08-23 09:22] SR4ven commented on #4059
Thanks for the hint @tobiasKaminsky!
Now I need to find out where the location header comes from. I didn't set anything like that in the apache config, so I guess it has its origin somewhere in the Nextcloud config.
For the configuration, I followed the documentation [here](https://docs.nextcloud.com/server/16/admin_manual/installation/source_installation.html#pretty-urls).

I'll test some other o

[2019-08-23 09:51] tobiasKaminsky commented on #2723
Added

[2019-08-23 10:13] #4396 closed

[2019-08-23 10:43] Valdnet opened #4399 "Crash when selecting from the app menu"
When choosing from the menu "Shared", "On device", "Photos" etc. At one point a crash app occurred.

### Environment data
Android version: 6

Nextcloud app version: dev-20190823

Nextcloud server version: 16.0.4

[2019-08-23 10:57] Valdnet opened #4400 "Favorites display error"
### Steps to reproduce
1. Select "Favorites" from the menu.

- Screen with your favorite files:

![obraz](https://user-images.githubusercontent.com/47037905/63587787-1b4fc880-c5a5-11e9-9f94-e0ecf6c713d7.png)

- Screen with no favorite files:

![obraz](https://user-images.githubusercontent.com/47037905/63594591-1f84e180-c5b7-11e9-8821-aa2f2a6d2f51.png)

### Environment data
Android version: 6

Next

[2019-08-23 11:16] Valdnet opened #4401 "Charging progress"
**1.** Loading progress appears all the time with photos displayed.

### Steps to reproduce
1. Choose "Photos" from the menu.

![obraz](https://user-images.githubusercontent.com/47037905/63588171-248d6500-c5a6-11e9-8148-dfad06770915.png)

**2.** The loading progress appears all the time.

### Steps to reproduce
1. Choose "Photos" from the menu.
2. Choose "Shared" or "Favorites" from the menu.

![o

[2019-08-23 11:26] sciurius commented on #4371
"you have two different users on android (which is possible via profiles)..."

None of the devices here (Samsung A3, Samsung Tab S4, Zenpad 300) seem to support this :( .

[2019-08-23 11:58] tobiasKaminsky commented on #4371
Yeah, Samsung patched this out :/
But "normally" (what is normal in Android) world, it is supported…

[2019-08-23 12:00] sciurius commented on #4371
Anyway... Thanks for the understanding and support.

[2019-08-23 12:16] tobiasKaminsky commented on #3623
@stefanheijnen can you maybe also try this without limiting it to NC app?
I suspect that Android itself will show a bit more.
Also do you see the account in settings?

(will you by any chance be at our conf? Then we could debug this together…)

[2019-08-23 12:18] tobiasKaminsky commented on #3623
Reason why I ask is:

08-22 18:27:02.202 11979 11979 D AuthenticatorActivity: Successful access - time to save the account
08-22 18:27:02.263 11979 11979 I Timeline: Timeline: Activity_launch_request time:35974768

So our App could logged in succesfully, but then something strange happens and the complete log will hopefully give us more info.

[2019-08-23 12:20] tobiasKaminsky commented on #4380
Is this happening also on another device?

Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-23 13:24] Valdnet commented on #4399
Next:

[2019-08-23 13:54] stefanheijnen commented on #3623
@tobiasKaminsky I do have a log from a few minutes earlier, collected at the (rooted) device itself (Planet Gemini), with nothing filtered. The above lines are present at the end of the log. I've pasted everything from that period at https://pastebin.com/G5p48GYZ

When I see that error, it is probably after I removed everything NC related on my phone and did a fresh install.

Sorry, I won't be at

[2019-08-23 15:41] #4222 closed

[2019-08-23 16:03] WarpinWolf opened #4402 "Crash when opening Foto"
### Actual behaviour
- open nextcloud app
- select menu Fothis
- crash

************ CAUSE OF ERROR ************

java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
	at androidx.recyclerview.widget.GridLayoutManager.calculateItemBorders(GridLayoutManager.java:325)
	at androidx.recyclerview.widget.GridLayoutManager.calculateItemBorders(GridLayoutManager.java:310)
	at androidx.recyclerview.

[2019-08-23 16:06] WarpinWolf commented on #4402
Forgot app version 3.8.0 RC2

[2019-08-23 17:56] kiplingw commented on #3151
If I login as the administrator it appears to work. If I login as my normal user it still fails.

[2019-08-23 18:36] SR4ven commented on #4059
@tobiasKaminsky I've done some testing and traced the issue down to the "ErrorDocument", which does the redirecting for some reason.
https://github.com/nextcloud/server/blob/master/core/templates/404.php
Commenting out the ErrorDocument lines in `.htacces` results in https://sr.asuscomm.com/cloud/remote.php/webdav/121233.jpg returning 404, but with the standard Apache error page. However, in this

[2019-08-23 18:52] TheColin21 opened #4403 "Android App Crash"
Following error:
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
	at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.jav

[2019-08-23 20:05] wxmaja opened #4404 "Foto Menuepunkt"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive d

[2019-08-23 20:09] wxmaja commented on #4404
Wenn Fotos Lokal gespeichert ist kann man es nicht erneut auswählen

[2019-08-23 20:34] AndyScherzinger commented on #4403
This has been fixed via RC2 already,so closing

[2019-08-23 20:35] #4403 closed

[2019-08-23 21:05] TheWorms opened #4405 "crash open dir"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
 at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
 at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.java:864)
 at com.ow

[2019-08-24 02:47] pleasantarmour commented on #3415
@tobiasKaminsky I do not have the Play Store on my phone, but I will try it once the F-Droid version is live. Thanks for the update.

[2019-08-24 04:00] oksjd opened #4406 "Battery drain with AutoUpload"
### Actual behaviour
- On all 3 Xiaomi phones the app drained a significant amount of battery with auto upload enabled. Auto upload itself works as expected.

### Expected behaviour
- Should not drain battery that much

### Steps to reproduce
1. Install the stable version from F-Droid
2. Go through the initial configuration and disable every battery restriction for this app in Settings
3. Enable A

[2019-08-24 06:24] klubru opened #4407 "App crash"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
	at com.owncloud.android.datamodel.FileDataStorageManager.createFileInstance(FileDataStorageManager.java:1002)
	at com.owncloud.android.datamodel.FileDataStorageManager.getFolderContent(FileDataStorageManager.java:864)
	at com.ow

[2019-08-24 06:32] sicherha commented on #3623
I, too, have hit this problem yesterday. I was able to work around it in the following way:
1. Start the Nextcloud app.
2. Press the back button twice. The login screen will flash briefly both times but reappear.
3. Log in as normal.

[2019-08-24 07:19] AndyScherzinger commented on #4405
@TheWorms can you please update to RC2 since this issue should be resolved already.
If not, please reopen this issue 😊

[2019-08-24 07:19] #4405 closed

[2019-08-24 07:21] AndyScherzinger commented on #4407
@klubru please update to RC2 since this should be fixed already with RC2. If not please reopen. 😊

[2019-08-24 07:21] #4407 closed

[2019-08-24 08:14] SunnyTeater opened #4408 "Connection Error for Uploads"
### Actual behaviour
- try to upload something no matter if it's automatically or manuell the app says "connection error"

But if I want to download something everything works fine.

### Expected behaviour
- upload should work normally

### Steps to reproduce
1.  Always happens

### Environment data
Android version: 9

Device model:  VOG-L29 (Huawei P30 pro)

Stock or customized system: stock

Nex

[2019-08-24 12:38] AndreasDekiert opened #4409 "Crash while in background"
************ CAUSE OF ERROR ************

android.database.sqlite.SQLiteBlobTooBigException: Row too big to fit into CursorWindow requiredPos=3546, totalRows=1639
	at android.database.sqlite.SQLiteConnection.nativeExecuteForCursorWindow(Native Method)
	at android.database.sqlite.SQLiteConnection.executeForCursorWindow(SQLiteConnection.java:895)
	at android.database.sqlite.SQLiteSession.executeForC

[2019-08-24 13:50] DragonQ commented on #3623
Thanks a lot, I was having this issue on a Huawei MATE 20 Pro and this worked for me. Not sure if it'll kick me off after rebooting the phone but the app seems to work fine for now after doing this.

[2019-08-24 14:23] dlozev opened #4410 "Problem with auto upload"
### Actual behaviour
The auto upload don't working.

### Expected behaviour
Must upload my photos to nextcloud

### Steps to reproduce
1. Install the app
2. Connect the app to the server
3. Configure the auto upload

### Environment data
Android version: MIUI global 10.2

Device model: Xiaomi Redmi Note 4

Stock or customized system:

Nextcloud app version: Latest

Nextcloud server version: Latest

[2019-08-24 15:38] smnthermes opened #4411 "Keyboard suggestions sync"
### Is your feature request related to a problem? Please describe.
Not able to use, seamlessly, keyboards suggestions across multiple Android devices, using a trustworthy provider, rather than Google (Gboard) or Microsoft (SwiftKey).

### Describe the solution you'd like
An API of keyboard suggestions sync which could be implemented by apps such as AnySoftKeyboard and Hacker's Keyboard.

### Descr

[2019-08-24 17:15] zwwko opened #4412 "App Crashed"
************ CAUSE OF ERROR ************

java.lang.IllegalStateException: Fragment PreviewMediaFragment{cea372e} not attached to a context.
	at androidx.fragment.app.Fragment.requireContext(Fragment.java:696)
	at androidx.fragment.app.Fragment.getResources(Fragment.java:760)
	at androidx.fragment.app.Fragment.getString(Fragment.java:782)
	at com.owncloud.android.ui.preview.PreviewMediaFragment$Lo

[2019-08-24 19:11] ingomc commented on #4410
I have the same issue: Samsung Galaxy S7, Android 8.0.0
Nextcloud v3.7.1

[2019-08-24 20:18] daraelmin commented on #2076
Hi,
Ok, but to late... I've already made a donation.

But you should consider that not all of us have something to request. I'm just using Nextcloud for over five years and it seems to me that I should pay for the work.

@jancborchardt hope you'll enjoy the coffee ! ;-)

[2019-08-24 20:36] 1989gironimo commented on #3291
Still not working.

[2019-08-24 23:31] jsch opened #4413 "Crash after upgrade"
### Actual behaviour
- After upgrade, when logging into the server the app crashed

### Expected behaviour
- It should authorize the device and log in

### Steps to reproduce
1. Upgrade the app
2. Start the app and supply credentials
3. Authorize the device

### Exception log

************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.l

[2019-08-25 09:53] #4231 closed

[2019-08-25 11:23] ldmpub commented on #4170
Hi, it looks like this pb is gone after update to 3.8.0 RC (currently I have no more ennoying notifications with 3.8.0 RC2).

Is it ok for other users?

[2019-08-25 12:40] dlozev commented on #4410
With iOS app the problem is same. (iPhone 5c)

[2019-08-25 14:46] Hellbeast opened #4414 "App crash on start and periodically on folder sync"
### Actual behaviour
- App crash on start and periodically on folder sync

### Expected behaviour
- app opened and sync files

### Steps to reproduce
1. install app
2. login to server

### Environment data
Android version: 9

Device model: SM-G965F

Stock or customized system: stock

Nextcloud app version: 3.8.0 RC2

Nextcloud server version: 16.0.4

### Logs
[code]
#### Web server error log
[code

[2019-08-25 17:23] norweeg commented on #3623
I was having this issue, but I just found that tapping "go back to the old login method" or whatever the verbiage is and logging in there fixes the problem for me (at least for now)

[2019-08-25 19:33] derekblankmccoy commented on #3623
That’s right, this is session related.
My personal opinion is that session and app token logins are clearly not stable and still beta. They should be optional.

[2019-08-25 20:59] SR4ven commented on #4059
I finally managed to fix this problem.
It turns out that I had a global ProxyErrorOverride set in my Apache config, which was messing with the Nextcloud error handling.
After moving this option into the correct context everything works as expected.

Thanks for your help!

[2019-08-25 20:59] #4059 closed

[2019-08-25 21:20] AndyScherzinger commented on #4413
Please upgrade to RC2 which should fix this issue.

[2019-08-25 21:20] #4413 closed

[2019-08-25 22:23] aeneby commented on #3151
I'm a bit confused. Was the issue not identified from the log message in the original issue description? Or has that NULL pointer dereference been fixed now?

[2019-08-26 05:46] tobiasKaminsky commented on #4399
This seem to happen if a file is assumed to be locally downloaded, but it is not.
Maybe this happens when you switch too fast…

[2019-08-26 05:55] tobiasKaminsky commented on #4401
We have issues for this already: #1682, but photos should be better with 3.8.0 RC2.
If not please comment on those existing issues.

[2019-08-26 05:56] tobiasKaminsky commented on #3729
This seems to be still a problem, so re-oping.

[2019-08-26 06:25] AndyScherzinger commented on #3729
I'll try to add my finding here. (Probably on a slow connection)...

OPen the app and go straight to favorites sometimes leads to a overlay of 2 empty list visuals:
![device-2019-08-26-081638](https://user-images.githubusercontent.com/1315170/63669445-51c25900-c7da-11e9-992e-c41aa67d0e2a.png)

Then navigating to "Shared" leaves me with an endless spinner (I only have 2 shared folders, nothing else

[2019-08-26 06:55] tobiasKaminsky commented on #4375
Nice cat :-)

It seems that the motion pictures are stored within sub-folders.
Can you show us the content of
/storage/emulated/0/DCIM/Camera/IMG_20190818_184522

As a general bugfix AutoUpload should upload all files within a configured folder and also create corresponding folders.

[2019-08-26 07:31] tobiasKaminsky opened #4417 "UploadListActivity vs UploadFilesActivity"
I always get confused by those names, someone else too?

UploadListActivity
- UploadQueueActivity
- UploadManagerActivity
- …?

UploadFilesActivity
- LocalFilesPickerActivity
- LocaleFilesChooserActivity
- …?

@AndyScherzinger @ezaquarii

[2019-08-26 07:51] ingomc commented on #4410
So as i found out, it is probably not a bug... if you put new images in the folder you want to autoupload (autoupload camera folder, shoot new photos), it works for me, but older images are not uploaded automaticaly, so this is the expected behavior of the app, it is supposed to work like that. But i think most people expect to sync to whole Folder with older Picture etc inside, so that would be a

[2019-08-26 08:13] bremensaki commented on #4408
I had this same issue - oddly confined only to uploads via wifi - both my home and work networks. On mobile data, it was behaving as before. Uploads were fine, unless set to "wifi-only" in auto settings.

I uninstalled RC2, went back to 3.7.2 from Play Store, reconfigured everything and it's fine. No changes to server config made. Android 9, server 16.0.4 same as original reporter.

[2019-08-26 08:34] tobiasKaminsky commented on #4402
No idea about this :/
It seems to be completely in Androids internal code, which does not mean that we have an underlying issue.

Does this happen all the time?
Do you have any images in your cloud? I guess so ;-)

[2019-08-26 08:35] tobiasKaminsky commented on #4404
Can you please give us steps how to reproduce it and fill out the template above?

[2019-08-26 08:39] tobiasKaminsky commented on #4409
It seems that you want to delete a folder, probably with sub folders.
This fails as the content is too big, e.g. too many files.
How many files do you have in it, so that I can test it?

[2019-08-26 08:41] javl commented on #4375
The amount of files in the folders seems to differ (had some with 1, some with 3), but they always have a ```*_COVER.jpg``` file:

Examples:

[code]

[2019-08-26 08:49] AndreasDekiert commented on #4409
This recently happens quite frequently while the Android app is in the background. I do not have any folder synced to my Android device. I primarily use the app to auto upload photos.

I did however move another folder (one which I have never opened in the Android app) which was about 20gb in size (about 20 files). I moved it in the web interface and everything worked as expected and was synced to

[2019-08-26 09:29] WarpinWolf commented on #4402
Thanks for looking into this.
Yes - does happen all the time.

Yes - > 12,000 pictures stored.

I tried with another account - no issues...

I also have the cloud gallery app installed - works without any problems.

The second I try to access "Fotos" from the Android client menu I see this in the web-server access log:
'''
ip.add.re.ss - nextcloud [26/Aug/2019:11:21:42 +0200] "OPTIONS /remote.php/

[2019-08-26 12:03] Beeez commented on #3623
Using go back to the old login method works every time for me as well. It just sucks that you dont get that option until your login has already failed.

[2019-08-26 13:11] Valdnet commented on #3729
I have the same error: #4400.

@AndyScherzinger I also have a problem with infinite charging. Described in: #4401.

[2019-08-26 13:14] tobiasKaminsky commented on #4412
hu, strange I've never saw this.
It seems like a race condition, e.g. opening up media/video, waiting to get an url in background, but in foreground the app was already closed/navigated to something else.

Can this be the cause?

[2019-08-26 13:41] AndyScherzinger commented on #4400
can be reproduced on latest master (OP3T, Lineage 16)

[2019-08-26 13:43] AndyScherzinger commented on #3623
You always get this option (you just need to wait for 30 seconds on the web-login screen)

[2019-08-26 13:43] tobiasKaminsky commented on #4272
@Boballen55 thanks for reporting.
This have been slipped through, but now I fixed it.

In https://github.com/nextcloud/android/pull/4419 you will soon find a APK you can test, if you want.

[2019-08-26 13:45] AndyScherzinger commented on #4401
@tobiasKaminsky it is happending when you navigate to favorite or shared (coming from photos) so it is not fixed with the photos improvement

[2019-08-26 13:51] tobiasKaminsky commented on #4411
I would do this as a server side NC app, and then it must "only" be implemented in these keyboards.
This is independent from Files app, thus closing as out of scope.

P.S: I do like the idea!

[2019-08-26 13:51] #4411 closed

[2019-08-26 13:54] tobiasKaminsky commented on #2076
I move this into server repo, as it has then more attention.
If we then have a central wiki site, each repo can link to it.

[2019-08-26 15:56] 1989gironimo commented on #2023
Still doesn't work.

[2019-08-26 18:30] totti4ever commented on #4247
ah, sorry - here as well :-)

it is meant on the NC server

[2019-08-27 06:38] tobiasKaminsky commented on #4231
This looks like a server problem.

[2019-08-27 06:40] tobiasKaminsky commented on #4274
The "shared" view got an update for 3.8.0.
You can test RC1 already via Google Play Store Beta.

[2019-08-27 06:40] tobiasKaminsky commented on #4274
PR is: #4249

[2019-08-27 06:41] tobiasKaminsky commented on #4414
How many files do you have in this folder?

[2019-08-27 06:43] tobiasKaminsky commented on #3151
Can you try if it fails also with another freshly created user and send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-27 06:46] tobiasKaminsky commented on #4410
@ingomc then this is a duplicate of #285, which we are aware of, but still had no time to do it…

[2019-08-27 06:46] #4410 closed

[2019-08-27 06:49] tobiasKaminsky commented on #4408
As I do not see a problem in the log:
Can you both create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-08-27 06:56] AndyScherzinger commented on #4274
@tobiasKaminsky like I wrote in another issue, shared is empty for me too. Running master (3.8.0RC2) and 16.0.4 so this issue is still present!

[2019-08-27 08:13] tobiasKaminsky commented on #4408
@SunnyTeater thanks for your credentials.
I tested it with an emulator, and I uploaded two files, one <1Mb and one with 6Mb to trigger chunked upload.
Both of it works…

Do you have any battery settings enabled on your phone? Maybe this kills the upload.
How big is your upload?
Does it work with an upload <1Mb and please remain in the app?

[2019-08-27 08:16] SunnyTeater commented on #4408
Hi,

Round about 10MB.. a normal photo or video.

Battery saving is set to manuall.
Can You please try auto Upload too?

Tobias Kaminsky <notifications@github.com> schrieb am Di., 27. Aug. 2019,
10:13:

[2019-08-27 08:34] tobiasKaminsky commented on #3623
@stefanheijnen thanks for your log. This is the relevant part:
[code]

This means that the app password was retrieved and the account can be stored within Android.
According to the code (updateAccountAuthentication) you already had an account?
And then for unknown reason the account could not be found.

@stefanheijnen can you do this (sorry it might be the same result, but to rule out everything):

[2019-08-27 08:34] tobiasKaminsky commented on #3623
Using the old login mechanism might work, but then you do not have push notifications, as those require the app token system.

[2019-08-27 10:59] UserXH726 commented on #3988
Whats the reason why notification are only shown when I have installed the GPlay version?

[2019-08-27 11:10] tobiasKaminsky commented on #3988
Notifications require push and this is a google only service.
As Fdroid does not allow proprietary software, this cannot work right now.

[2019-08-27 11:18] derekblankmccoy commented on #3623
What good are push notification a if you can’t login? 😂

[2019-08-27 14:01] dark-souls opened #4422 "NextCloud Android"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive d

[2019-08-27 14:06] tobiasKaminsky commented on #4247
@nextcloud/server-triage have you ever heard about this problem?

[2019-08-27 14:40] tobiasKaminsky commented on #4422
Please fill out the template and then re-open.

[2019-08-27 14:40] #4422 closed

[2019-08-27 15:41] tobiasKaminsky commented on #4375
Can you give this a try?
It has a APK in it which you can install in parallel:
https://github.com/nextcloud/android/pull/4425

[2019-08-27 16:12] pilsnerbeer opened #4426 "App leaking deleted files in "failed" section of "Uploads""
### Actual behaviour
This lands somewhere between bug report & request because I don't think this feature was created accidentally. However, the app will leak/show you thumbs of files you deleted a long time ago, which I imagine is not preferred.

The concerned part is the "uploads" section -  if you set a certain album to upload automatically, the error list may get populated with long-deleted ph

[2019-08-27 17:38] Gitsaibot opened #4427 "Autoupload only for selected connection"
### Is your feature request related to a problem? Please describe.
Whenever I am in a "public/friend" Wlan network, the app tries to upload images via autoupload. This fails because the server can only be reached via the "home network or a vpn connection".

### Describe the solution you'd like
Let the user select a specific Wlan or VPN connection so that the autoupload only starts when that connec

[2019-08-27 17:40] ezaquarii opened #4428 "Master does not compile"
### Actual behaviour

Master does not compile

### Expected behaviour

I'm out of ideas...

### Steps to reproduce
[code]

[2019-08-27 17:42] #4428 closed

[2019-08-27 17:43] ezaquarii commented on #4428
Oupsie, my refs are messed up.

[2019-08-27 18:03] rullzer commented on #4247
I believe those are indeed not allowed chars

[2019-08-27 18:07] tobiasKaminsky commented on #4247
Hm. How can we prevent this?
I remember there was a time where Android client checked for those chars.
This seems to be only for external storage, or?

[2019-08-27 18:09] tobiasKaminsky commented on #4428
We have our new workflow with "client change requires".
This indeed works somehow good.
The current problem is that after merging of lib PR the corresponding files PR was stalled too long by CI.
This timegap is something where I do not have any idea how to minimize…

[2019-08-27 18:20] tobiasKaminsky commented on #3623
Hehe, I just wanted to point out that the "new" login system is the future and why the old one does not work in all scenarios.
So instead we should try to find out why it does not work under some circumstances for some users. (some as we have more than 370k active installations)

[2019-08-27 18:21] #4272 closed

[2019-08-27 18:22] tobiasKaminsky commented on #4428
https://github.com/nextcloud/android/pull/4419 is now merged, so everything should work again (maybe after a rebase)

[2019-08-27 18:30] tobiasKaminsky commented on #4426
To be honest I do not see any problem, as you are the owner of the device.

What does the other devs think? @AndyScherzinger @ezaquarii

[2019-08-27 18:35] javl commented on #4375
_Turns out it wasn't the Motion photos but photos I took in the Portrait mode of the camera, which allow you to set a custom background blur (it saves the blurred version but also an original). But this doesn't change the problem with the folders._

Looking more closely, I noticed there are a couple of things going on here:

**Original app**
With the original NC app (with sync on for the `camera`

[2019-08-27 18:38] tobiasKaminsky commented on #4274
Can you have a look in logcat if there is an error?
Or if it just takes waaay too long?

[2019-08-27 18:48] pilsnerbeer commented on #4426
I respect the decision to keep it - but it is simply the principle of deleting a file: when delete, delete forever, from everywhere. Perhaps I could fabricate a few extreme examples in which this small "feature" could expose secrets but I'm sure you know what I mean.

[2019-08-27 18:54] pilsnerbeer commented on #4274
Myself I found no errors in the log and there seem to be no loading going on.

[2019-08-27 20:34] AndyScherzinger commented on #4426
I'd keep it as is since file not found doesn't necessarily mean deleted. It could also mean file has been moved. So the Nc app doesn't know why the file isn't there anymore so besides the file name the preview image might give the user an additional hint.

So format both scenarios there can't be extreme cases where for pro/con while I still think for most users the preview images are rather benefi

[2019-08-27 21:18] denis-pujdak-adm-it opened #4430 "Option to auto upload/sync existing files"
### Is your feature request related to a problem? Please describe.
I'm always frustrated when AutoUpload works only for new files but not for existing ones.

### Describe the solution you'd like
Have an extra option to upload/syncronize all existing files as well.

### Describe alternatives you've considered
-nope-

### Additional context
![Screenshot_20190827-221357_Nextcloud](https://user-images

[2019-08-27 21:22] AndyScherzinger commented on #4430
This feature is already defined and request in #285

[2019-08-27 21:22] #4430 closed

[2019-08-27 21:30] denis-pujdak-adm-it commented on #3190
@jancborchardt I agree with you.

By the way because my videos not being uploaded I removed predefined Auto Upload for photos and videos and added a custom folder configuration and now all files are uploaded from the Camera folder with no problems.

![Screenshot_20190827-222710_Nextcloud](https://user-images.githubusercontent.com/13495631/63809484-4fffaf00-c91a-11e9-9979-e1de04f71932.png)

[2019-08-27 21:35] denis-pujdak-adm-it commented on #4430
Thanks @AndyScherzinger .

[2019-08-27 22:43] ezaquarii commented on #4428
How about

1. tag library with version
2. use tagged version on master

Is there a reason why we use snapshot?

[2019-08-28 04:46] AndyScherzinger commented on #4428
Any code breaking change on the lib would enforce a release tag so master build.gradle would change all the time and branches would need to be rebased constantly.

[2019-08-28 05:05] tobiasKaminsky commented on #3151
As "feared" this does not happen on my emulator/phone, so I can login without any problem.
In another issue which nearly the same problem we found via logcat a problem with the account manager…
But it is really hard to solve without access to a real phone.

[2019-08-28 07:26] tobiasKaminsky commented on #4288
RC3 released, hopefully the last one :crossed_fingers:

[2019-08-28 10:01] wxmaja opened #4431 "Foto local crash"
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive d

[2019-08-28 10:08] rullzer commented on #4247
Nope you also can't create it in the webui right now I believe

[2019-08-28 11:53] KarelWintersky commented on #3623
Same issue.
Infinite login screens.

[2019-08-28 11:58] KarelWintersky commented on #3623
'new' login system is bad solution. It is broke normal app functionality.

[2019-08-28 13:19] pilsnerbeer opened #4432 "Display location of searched files"
### Is your feature request related to a problem? Please describe.
The mobile app doesn't show the location of searched files. For instance, here's a search result from the mobile app:

![Screenshot_2](https://user-images.githubusercontent.com/36133540/63858572-648d8700-c9ae-11e9-8f86-c39891140987.png)

(Note: the "Details" option doesn't reveal the file location either).

Compare it with results

[2019-08-28 16:10] nursoda opened #4433 "FC while entering a synchronised folder"
I just had my first NC app crash ever. I did sync files which seemes to have succeeded. I just wanted to check and browsed that folder when the app crashed.

I use the latest Play Store Beta NC app on a OnePlus 6T, official OOS 9.0.16, Android 9.

[2019-08-28 16:14] AndyScherzinger commented on #4395
@tobiasKaminsky  @AlexNi245 any idea?

@tobiasKaminsky I am not sure if we should release 3.8.0 as long as we haven't fixed this issue (see stack trace, feature introduced with 3.8.0)

[2019-08-28 18:44] totti4ever commented on #4247
Well, I could set it up using the web UI?!

That is what my problem is based upon

[2019-08-29 05:38] #4160 closed

[2019-08-29 10:52] fractalf commented on #3715
Same here..

I'm running latest docker image from https://github.com/nextcloud/docker/blob/master/.examples/docker-compose/insecure/mariadb-cron-redis/fpm/docker-compose.yml

Seems to be an Android client (tried from Play Store and F-Droid) problem, as uploading multiple images from the web-client works fine.

This should be easy to reproduce? Boot up the docker-image and upload 10 images in one g

[2019-08-29 11:08] rajput2122 commented on #4112
Can i work on this?

[2019-08-29 13:57] mase76 commented on #4409
I have similar crashes with the Fdroid build:

************ CAUSE OF ERROR ************

java.lang.IllegalStateException: Couldn't read row 1172, col 0 from CursorWindow.  Make sure the Cursor is initialized correctly before accessing data from it.
	at android.database.CursorWindow.nativeGetLong(Native Method)
	at android.database.CursorWindow.getLong(CursorWindow.java:538)
	at android.database.Ab

[2019-08-29 14:04] mase76 commented on #4414
This crashes when syncing folders from within the app:

************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to read from field 'java.util.concurrent.ConcurrentMap com.owncloud.android.services.OperationsService$OperationsServiceBinder.mBoundListeners' on a null object reference
	at com.owncloud.android.services.OperationsService$OperationsServiceBinder.access$500(Oper

[2019-08-29 14:24] AndyScherzinger commented on #4112
sure thing @rajput2122 and thanks for picking it up ❤️

There are actually 2 tasks within this issue that should be resolved:
1. remove the Feedback item from the settings screen
2. rename "Participate" to "Community" (toolbar title _and_ drawer menu item) and put the community info on to of the screen (`ParticipateActivity`)

[2019-08-29 14:28] rajput2122 commented on #4112
Thanks sir

[2019-08-29 16:29] AndyScherzinger commented on #4112
My pleasure 👍

If you need any help, have any question feel free to ask, @tobiasKaminsky @ezaquarii and I are here to help :)

[2019-08-29 18:27] ezaquarii commented on #3601
*cough*

[2019-08-29 18:53] bobleeSwagger2 opened #4435 "Integrated document scanning"
Hi. Please add document scanning to the app to bring it on par with the iOS counterpart. This would prevent having to use insecure third party apps to scan, then upload to NC. Thanks

[2019-08-29 19:33] Hellbeast commented on #4414
About 300 thousandth. Rollback to last stable version and it's working.

[2019-08-30 01:35] d2dyno commented on #4408
Same as @bremensaki get this error for any uploads, but only on WiFi.

[2019-08-30 06:11] ezaquarii opened #4436 "Android Studio 3.5 cannot find symbols in valid code"
### Actual behaviour
Android Studio 3.5 cannot find Mockito symbols in tests.
All references are red.
Code completion does not work.
When run, code compiles and works correctly.

### Expected behaviour
IDE can resolve all symbols in valid code.

### Steps to reproduce
Open any test that contains references to `Mock` annotation or `thenReturn` - it's red.
I boosted max heap size to exclude issues w

[2019-08-30 07:39] tigernero79 opened #4437 "Site URL is not displayed all"
I noticed that in the application
the URL of the site is cut in half horizontally,
the characters are not completely visible.
I am attaching a screenshot.

![20190830_093838](https://user-images.githubusercontent.com/35575744/64002305-04135c80-cb0a-11e9-81a9-c09a773810e4.jpg)

[2019-08-30 07:52] AndyScherzinger commented on #4437
@tigernero79 thanks for the report. What device are you using (specifically: does is have a display noth?)? And which version of the app are you using (can be found at the bottom of the settings screen)?

[2019-08-30 09:32] tigernero79 commented on #4437
I'm using samsung galaxy s10 plus, beta version 3.8.0 rc3 application, on google pixel 2xl instead everything ok

[2019-08-30 10:05] rajput2122 commented on #4112
Sir, I have done the removal of the feedback item. Can you please elaborate more about putting community info on to of the screen?

[2019-08-30 10:34] KayKursawe commented on #4234
Same here.

- Nextcloud app 3.7.2 from Play Store
- Android 6.0
- 2 Nextcloud instances, Hetzner Storage Share 16.0.4

I had the app connected to both instances in parallel and it worked like a charm for several months. Needed to re-setup the accounts now, since the domains have changed. Now it's not working anymore.
Not only does the the first account disappear when setting up the second one, but

[2019-08-30 14:40] AndyScherzinger commented on #4112
@rajput2122 The `Participate` activity see https://github.com/nextcloud/android/issues/4112#issuecomment-498993851 offers the community information. The idea is to put the more community-centered information (forum, translations, etc.) at the top while it is now at the bottom of the screen (not visible in the screenshot!)

[2019-08-30 15:01] stemy2 commented on #4280
There is no such error anymore.

[2019-08-30 15:58] iGamerHD opened #4438 "Nextcloud Android app crashes when selecting a folder, switching into gallery mode and go back"
### Actual behaviour
The app crashes instantly

### Expected behaviour
The app should go back to the normal file browser with the selection still in place

### Steps to reproduce
1. Select a folder
2. Go into gallery mode
3. Click on the back button

### Environment data
Android version: 9

Device model: xiaomi mi 8

Stock or customized system: custom rom havoc OS aosp

Nextcloud app version: 3.8.

[2019-08-30 16:32] tigernero79 commented on #4437
up

[2019-08-30 16:33] tigernero79 commented on #4437
@AndyScherzinger up

[2019-08-30 16:47] FreeSquare commented on #3715
Same symptoms on pixel 3 and freshly installed nextcloud 16. 3-4 pictures are uploaded then it stops

[2019-08-30 16:49] FreeSquare commented on #3715
Update: the upload resumes when I swipe down to refresh the queue then stops again after 3-4 uploads

[2019-08-31 04:14] Mululu opened #4439 "Bug report"
New Android Update bug

************ CAUSE OF ERROR ************

java.io.IOException: write failed: ENOSPC (No space left on device)
	at libcore.io.IoBridge.write(IoBridge.java:531)
	at java.io.FileOutputStream.write(FileOutputStream.java:381)
	at java.io.FileOutputStream.write(FileOutputStream.java:359)
	at com.nextcloud.client.logger.FileLogHandler.write(FileLogHandler.kt:77)
	at com.nextcloud.

[2019-08-31 07:21] AndyScherzinger commented on #4437
@tigernero79 up?

[2019-08-31 07:24] AndyScherzinger commented on #4439
@mululu see the top of the error: `No space left on device`

@ezaquarii what do you think? Imho in such a scenario we can't do anything better than this (show error)

[2019-08-31 07:38] Mululu commented on #4439
Oh, I did not see that.

 A normal error message in a pop-up window would be better here generally should be in case of error messages user-friendly messages.  Possibly.  with an error code for the developers.

[2019-08-31 10:38] C0rn3j commented on #3623
I've a slightly different issue, I can login fine, but if I try to add a second account, the first one gets logged out.

https://www.youtube.com/watch?v=9CU1jxWeyXk

Using 3.7.2 from f-droid - https://f-droid.org/repo/com.nextcloud.client_30070290.apk

[2019-08-31 11:06] ezaquarii commented on #4439
@AndyScherzinger There is not much we can do in such case.

Any kind of global resource exhaustion (RAM, disk space, file descriptors) cause undefined behaviours in all parts of the system (read as "weird stuff happens all over my phone"), as people generally don't code for that scenario - maybe except the operating system itself.

On Linux, if you ran out of free space, you can't login anymore, s

[2019-08-31 11:19] DavHau opened #4440 "Backup Contacts: 'Last Backup' value totally wrong"
My nextcloud Server has been down for weeks, still under Settings/Backup Contacts the field 'Last Backup' shows 12 hours ago which is not true. The time displayed is probably the time of the last backup attempt, but it should display the time of the last successful backup. Because of this bug users are mislead into thinking their contacts have been backed up even if they never have.

[2019-08-31 11:48] tigernero79 commented on #4437
@AndyScherzinger I meant to read above, my answer.  sorry if i wasn't clear.

[2019-08-31 11:54] tomy159 opened #4441 "Nextcloud delete picture from android app."
All is up to date server, nextcloud and android app from gstore.
That error comes always I try delete some picture.

************ CAUSE OF ERROR ************

java.lang.IllegalStateException: Couldn't read row 1228, col 3 from CursorWindow.  Make sure the Cursor is initialized correctly before accessing data from it.
	at android.database.CursorWindow.nativeGetString(Native Method)
	at android.data

[2019-08-31 15:41] starmoonxp opened #4442 "Nextcloud app broke when click Photo Album"
### Actual behaviour
- Tell us what happens
When click the phto album from main menu, the app broke.
### Expected behaviour
- Tell us what should happen
 I should list all photos in server?
### Steps to reproduce
1. Main menu
2. Photo Album
3.

### Environment data
Android version:
9.1
Device model:
Huawei Mate Pro 9
Stock or customized system:
Stock
Nextcloud app version:
3.7.x,  3.8 RC1/RC2
Next

[2019-08-31 16:27] szaimen commented on #2188
Any update on this?

[2019-08-31 16:52] DragonQ commented on #3623
Yes I have this problem in addition to the one most people are talking about in this thread. It's probably related.

[2019-08-31 19:44] rajput2122 commented on #4112
Ok sir ,So sorry for late

[2019-08-31 19:47] rajput2122 commented on #4112
Actually sir i have little less knowledge about git commands when i had actually done all the work related to this issue and before pushing it to local repo i have done reset head due to which all the changes removed from my local disk.

[2019-08-31 19:48] rajput2122 commented on #4112
i have done it again little work is yet to be done in community activity . I'll try to make PR today

[2019-08-31 23:13] jancborchardt commented on #2188
@dan0xii @stefan-niedermann is it possible to port the dark theme from Notes to the Files app? :)

[2019-08-31 23:14] jancborchardt commented on #4112
@rajput2122 no worries, mistakes happen. :) Thanks a lot for your contribution!

[2019-09-01 09:40] stefan-niedermann commented on #2188
I think it might be more effort to port the theme than write it from scratch, because the files app has much more logic (it does not use simply NC blue but the user defined color)

[2019-09-01 10:57] jancborchardt commented on #2188
Actually just saw again the almost-done dark theme by @dan0xii in https://github.com/nextcloud/android/issues/2188#issuecomment-444094980 above. :) @dan0xii do you have a pull request for that?

[2019-09-01 13:10] nr458h commented on #2188
Wouldn't it be useful to make a "library" for that, because there are so many nextcloud apps and there are already requests for black themes for every app I know. So beside the already good overall design, there would be a support for the server theme for every app (probably a bit overkill for this request)?

[2019-09-01 19:33] millsaj commented on #3623
I had the same issue (or at least the same symptoms). This comment fixed it https://github.com/nextcloud/server/issues/13431#issuecomment-456453585.

[2019-09-01 19:59] AndyScherzinger commented on #2188
@jancborchardt we collaborate in #3459 while it still needs quite a bit of work since we need to adapt tthne latests material UI implementation that came after appCompat...

[2019-09-02 02:37] brainchild0 commented on #1124
I strongly agree with the original report, suggesting a single persistent notification during the course of a multi-file operation.  I also suggest a notification following the end of the operation, indicating the success or failure, that persists until dismissed.

I differ with various other suggestions represented later in the discussion, including no notifications, and as well, a notification t

[2019-09-02 06:16] AndyScherzinger commented on #4112
Like @jancborchardt said no worries and also no pressure! Thanks again for tackling this issue ❤️

[2019-09-02 06:20] AndyScherzinger commented on #4439
@ezaquarii I agree. Like you said while it might be nice and while it be nice to have ID-ed error messages it would be a lot of work to impllement and I am also unsure about it benefit (cost/imapct wise)

[2019-09-02 06:21] AndyScherzinger commented on #4440
pinging @tobiasKaminsky since he is the expert on contacts backup

[2019-09-02 06:27] AndyScherzinger opened #4443 "NPE in AuthenticatorActivity.initServerPreFragment"
Via GPlay
[code]
@tobiasKaminsky haven't had the time to look into the code base. It is mainly 3.7.x reports, any OS version and it the top impact user-wise (number of people impacted).

[2019-09-02 09:40] jancborchardt commented on #1124
TL;DR as said above in https://github.com/nextcloud/android/issues/1124#issuecomment-336170750

Just needs someone to implement it.

[2019-09-02 09:49] tobiasKaminsky opened #4445 "Enhance file detail activity"
![2019-09-02-114812](https://user-images.githubusercontent.com/5836855/64106040-a97f3800-cd77-11e9-97de-4716ce26987f.png)

- [ ] Use new activity system with sticky header
- [ ] use MVP system to use ActivityRepository

[2019-09-02 10:45] #4380 closed

[2019-09-02 10:46] #4404 closed

[2019-09-02 11:35] #3939 closed

[2019-09-02 11:42] steffenfritz commented on #603
+1

[2019-09-02 12:06] rajput2122 commented on #4112
Sir i opened a pull request kindly review it

[2019-09-02 12:13] tobiasKaminsky commented on #4395
Do you know how often this happen? When this happens?

[2019-09-02 12:40] tobiasKaminsky opened #4448 "Enhance contacts backup"
- extract https://github.com/nextcloud/android/blob/eb727d4f126ec08f78d0e9c6e468647529909fab/src/main/java/com/owncloud/android/ui/fragment/contactsbackup/ContactsBackupFragment.java#L220
- make it safe if context is null

[2019-09-02 13:18] phu9Suop commented on #3623
Hi, I commented above on having the same problem.
After some analysis I found that it must have been an android-system side user database, which is full of failed trials to logon. Unfortunately the way to purge this user database from bad entries is difficult or impossible. I don't want to study sqlite because of this. The FACTORY RESET of my Fairphone2 resulted in an immediate success of making t

[2019-09-02 14:41] AndyScherzinger commented on #4395
Unfortunately no, it got reported once on gplay but I fear it might happen more often for a stable release with a much larger user base... :/

[2019-09-02 15:05] tobiasKaminsky commented on #4443
PR is https://github.com/nextcloud/android/pull/4449

[2019-09-02 15:28] kollix opened #4451 "auto upload: files not visible within app before uploaded"
### Actual behaviour
I deactivate WLAN and then shoot a photo (auto upload setting: move photo to app folder; only on WLAN).
Before NC app has a chance to upload the photo, it is not seen from within the NC app.
I see it as "pending upload to .../SofortUpload" but when I want to view the photo I just made, I can not do this from within NC and need to open the gallery instead.

### Expected behavio

[2019-09-02 17:29] Auguss82 commented on #3819
Samsung LG G6
Android 8.0.0 Build OPR1.170623.032

The problem I am experiencing that the nextcloud app does not request access to external SD that is inserted into the device but read the logical or internal SD card as the external SD card.

So if there is a /media/sdcard, which is the logical or internal SD card, next cloud assumes this is the external.

If there is a /media/0000-0000, the numbe

[2019-09-02 17:30] brainchild0 commented on #1124
@jancborchardt, I agree that brevity is helpful.  It would still be useful to resolve, briefly, a minimum set of behaviors before attempting an implementation.

I suggest the following:

1. Show progress in terms of total transfer size, not just file count.
1. Include notification for initial phase of comparing file information, in addition to the file transfer phase.  Currently, the application s

[2019-09-02 18:08] #4443 closed

[2019-09-02 20:53] voidzero opened #4454 "Auto upload deletes despite setting "move to app folder""
### Actual behaviour
Enabled auto-upload for a directory:
Setting: "Original file will be... moved to app folder."

But files get deleted from local device after upload. Sometimes they don't get deleted but still they are not visible via "On Device". Maybe "On Device" actually deletes them???

### Expected behaviour
The files should remain on the device, and visible via "On Device" navigation on t

[2019-09-03 02:53] ben423423n32j14e commented on #603
I would also like to see client certificates supported in the nextcloud app.

[2019-09-03 09:41] tobiasKaminsky commented on #4288
Tomorrow/Thursday I will release RC4, and Friday next week final release, so we can celebrate on Conf ;-)

[2019-09-03 10:47] AndyScherzinger commented on #4436
@ezaquarii just checked `TestPreferenceManager` ans all dependencies (including `Mock`) are being resolved and it works fine in my 3.5 AS.

@tobiasKaminsky do you experience any issues?

[2019-09-03 13:28] AndyScherzinger commented on #4205
afaik this is also related to work profiles, right @mario ?

[2019-09-03 15:18] tobiasKaminsky commented on #4395
I did not found this in gplay console any more.
I assume that this was due to the wrong reloading, which is fixed.
I'll close it, but we can re-open it, if required.

[2019-09-03 15:18] #4395 closed

[2019-09-03 15:48] #4112 closed

[2019-09-03 16:28] Beeez commented on #3623
This has always been in my config and does not fix my issues unfortunately.

[2019-09-03 17:23] TJB-99 commented on #603
+1

[2019-09-03 17:48] mlsxlist commented on #603
Instead of adding +1 comments to this ticket please use the thumb up emoji at the top. Thanks.

[2019-09-03 19:33] rajput2122 commented on #4278
is this issue closed?

[2019-09-03 19:36] AndyScherzinger commented on #4278
@rajput2122 issue is still open.

[2019-09-03 19:44] ben423423n32j14e commented on #603
I know its not directly related but can someone share an Apache config for Collabora to communicate with Nextcloud when SSLVerifyClient require is set in Apache?

I've got it set on both the NextCloud and Collabora sub domains, I can authenticate fine via the certificate to both subdomains but Collabora won't work.

[2019-09-03 19:46] rajput2122 commented on #4278
Can i work on it?

[2019-09-03 20:13] AndyScherzinger commented on #4278
Absolutely, that be highly appreciated. Beware that files need to be renamed via git so the original authors and git history doesn't get lost and each resource type should get its very own PR to limit PR size and review efforts :)

[2019-09-03 20:28] hostingnuggets commented on #603
@ben423423n32j14e please don't hijack issues like that, this is not a support forum. I recommend you first have a look at https://github.com/nextcloud/richdocuments if you can find any info.

[2019-09-04 05:57] #2073 closed

[2019-09-04 05:57] #2081 closed

[2019-09-04 09:28] szaimen commented on #4132
Please don't close this issue as the feature isn't implemented yet.

[2019-09-04 10:42] chiefbrain opened #4460 "File content is not up to date"
### Actual behaviour
A file shows old content.
The changes made to a file (yesterday and today; on a computer with the nextcloud client) are not visible after opening them from the nextcloud android app even thought the changed date is correct. A tap on synchronise shows "content already synchronized".
The file (Keepass2 kdbx) is marked as favourite and was opened multiple times before.

### Expec

[2019-09-04 13:21] AndyScherzinger commented on #4132
pinging @tobiasKaminsky for Feedback

[2019-09-04 15:06] hybye18 opened #4462 "Not able to use multiple accounts. I log into a second account and it removes the first. I exit the app and go back in and it has me log back in."
### Actual behaviour
- Tell us what happens

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1. Open app
2. Login
3. Try a second login

### Environment data
Android version:8.1.0

Device model: Motorola G5 plus

Stock or customized system: stock

Nextcloud app version:3.7.2

Nextcloud server version:16.0.1

### Logs
#### Web server error log
[code]

#### Nextcloud log

[2019-09-04 16:09] tigernero79 commented on #4437
@AndyScherzinger Announcements? do you need any other information?

[2019-09-04 17:01] DIeMONdello opened #4463 "Can't enter address"
### Actual behaviour
Can't enter https address

### Expected behaviour
When i start app and push login app restart

### Steps to reproduce
1. Delete old account, server not have https
2. Make a new connections to new account on server with https
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### We

[2019-09-04 19:22] AndyScherzinger commented on #4437
@tigernero79 None yet. Looping in @tobiasKaminsky @ezaquarii since I don't have a device or the time to tackle this issue.

[2019-09-04 21:33] kugelblitz opened #4464 "Login does not work on Android 4.2"
### Actual behaviour
- "Webpage not available" message during login
- No visible workaround (QR code auth is a hope, but it seems that the used version of the server does not support it)

### Expected behaviour
- Normal login

### Steps to reproduce
1. Install a fresh Nextcloud client on android 4.2
2. Run the client, enter a server address to login, for instance https://nextcloud.iaaras.ru

### E

[2019-09-04 21:47] AndyScherzinger commented on #4464
Please give the beta version a try 3.8.0RC since it ships with TLS support for 1.3 and for legacy Android OS versions.

Any feedback would be highly appreciated.

[2019-09-04 21:54] AndyScherzinger commented on #4464
As a side note beware that we actively drop legacy server version support so at some point the client will stop working at all no matter the Android OS version.

[2019-09-04 22:18] kugelblitz commented on #4464
Upgrading to 3.8.0 RC (apk from f-droid) did not resolve the issue.

However, I noticed that I have to wait a minute on the failed WebView screen to see the "revert to the old login method" button, and the old login method works. This applies not only to 3.8.0 C, but also to 3.7.2 as well. So I have a workaround. It is kind of hidden, though, as the user has to sit and wait relatively long to see

[2019-09-04 22:35] AndyScherzinger commented on #4464
@tobiasKaminsky any way we can detect this and revert back to the old style login? Other than that I thought 3.8.0 should have solved this?

[2019-09-05 06:28] tobiasKaminsky commented on #4288
RC4 released

[2019-09-05 07:23] tobiasKaminsky commented on #4437
I can have a look later when my wife is back.

[2019-09-05 08:20] Valdnet commented on #4399
I got this error today.

### Environment data

Android version: 6
Nextcloud app version: dev-20190905
Nextcloud server version: 16.0.4

[2019-09-05 08:26] Valdnet commented on #4288
@tobiasKaminsky Shouldn't this bug #4401 be fixed before releasing the final version?

[2019-09-05 09:11] Valdnet commented on #4401
I got this error today. It appeared when loading photos for a long time.

### Environment data

Android version: 6
Nextcloud app version: dev-20190905
Nextcloud server version: 16.0.4

[2019-09-05 09:20] #3936 closed

[2019-09-05 10:00] TeNNoX commented on #3782
I would like to clarify / add to this issue as I think I'm having the same, but I would describe the issue like this:
### Prompt to move to app folder on upload even though 'Keep in source folder' is selected

I want to upload files from an app (in my case TitaniumBackup), and I select **"keep files in source folder"**.

#### Expected behaviour
Nextcloud would upload the files and keep them in the

[2019-09-05 10:07] TeNNoX opened #4465 "Prompt to move to app folder on upload even though 'Keep in source folder' is selected"
Similar issue to #3782 - but that is Closed and a bit different.

### Actual behaviour
I want to upload files from an app (in my case TitaniumBackup), and I select **"keep files in source folder"**.

Nextcloud asks me:

Pressing 'No' cancels the operation, and pressing 'Yes' moves the files from the source folder to the nextcloud app folder - which is not what I want.

Is it so that Nextcloud can'

[2019-09-05 11:17] IIPoliII commented on #2249
Same problem here android 6.0 (custom) on a oneplus 3t I makes an error everytime I try to use it...

[2019-09-05 11:20] Valdnet opened #4466 "Incorrect "Shared" display"
After selecting "Shared" from the menu a window with "On device" is displayed.

![obraz](https://user-images.githubusercontent.com/47037905/64337817-6d024500-cfe0-11e9-8b4c-33d8560da978.png)

Window with "Shared":

![obraz](https://user-images.githubusercontent.com/47037905/64337452-b43c0600-cfdf-11e9-98f1-2db7bb3d49f5.png)

_In my opinion, navigation in the application menu has deteriorated signi

[2019-09-05 12:20] #2849 closed

[2019-09-05 13:24] Valdnet opened #4467 "Displaying "On device""
Incorrect display of the "On device" window

### Steps to reproduce
1. Download the file to your device.
2. Select "Shared" from the menu.
3. Select "On device" from the menu.
4. Display error.

![obraz](https://user-images.githubusercontent.com/47037905/64345769-33860580-cff1-11e9-8819-5af3c9925a5c.png)

Environment data

Android version: 6

Nextcloud app version: 3.8.0 RC4 and dev-20190905

Next

[2019-09-05 14:14] strugee commented on #4205
I can confirm this behavior on a Pixel 3a XL device, Android P. I installed the app in a separate user, however, instead of a work profile, so that seems to be impacted by the same bug. The workaround (installing the app in the primary user) also worked for me.

[2019-09-05 16:47] AndyScherzinger commented on #4467
@tobiasKaminsky I can reproduce this with latest master, haven't tested it with 3.7.x

[2019-09-05 16:52] AndyScherzinger commented on #4466
I couldn't reproduce it right away in an emolator but also get very strange navigation behavior @tobiasKaminsky

[2019-09-05 17:40] szaimen opened #4468 "[3.8.0RC4] Error searching for photos"
************ CAUSE OF ERROR ************

java.lang.RuntimeException: An error occurred while executing doInBackground()
	at android.os.AsyncTask$3.done(AsyncTask.java:354)
	at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
	at java.util.concurrent.FutureTask.setException(FutureTask.java:252)
	at java.util.concurrent.FutureTask.run(FutureTask.java:271)
	at android.os.AsyncTa

[2019-09-05 17:46] AndyScherzinger commented on #4468
pinging @tobiasKaminsky since this is a 3.8.0RC issue

[2019-09-05 18:18] szaimen opened #4469 "The Favorits load but I cannot click on them: 3.8.0 RC4"
The Favorits load but I cannot click on them: 3.8.0 RC4
See the screenshot:
![Inkedphoto5442855309845572487_LI](https://user-images.githubusercontent.com/42591237/64368528-cf783700-d01a-11e9-9a7d-603bf1bd1380.jpg)
I think it is hidden behind the Error-Message and cannot be clicked because of that.

[2019-09-05 18:20] szaimen commented on #4468
There is unfortunately another Error in RC4: https://github.com/nextcloud/android/issues/4469

[2019-09-05 22:11] AndyScherzinger commented on #4469
@tobiasKaminsky this is also happening to @Valdnet and me so this is somewhat of a blocking issue for a release imho!

[2019-09-05 22:31] ryan77627 opened #4471 "Random crashes from app"
### Actual behaviour
- Nextcloud pops up and says it crashed, even when I'm not using it. The app wants me to report, so I will in case it helps

### Expected behaviour
- It should not.

### Steps to reproduce
?
I'm not sure, it pops up randomly

### Environment data
Android version:

Device model: Xiaomi mi 8

Stock or customized system: Lineage OS 16

[code]

[2019-09-06 06:31] tobiasKaminsky commented on #4401
@Valdnet you can test this with APK in #4475, it can be installed parallel.

[2019-09-06 08:46] tigernero79 commented on #4437
@tobiasKaminsky thank's

[2019-09-06 11:16] marukuru opened #4476 "Crash on Huawei Mediapad M5 after login"
### Actual behaviour
- Client crashes on File listing right after first login. Unusable after that.

### Expected behaviour
- File view

### Steps to reproduce
1. Start App
2. Login
3. Crash

### Environment data
Android version: 8

Device model: Huawei M5

Stock or customized system: Stock, unrooted

Nextcloud app version: 3.8.0 RC4

Nextcloud server version: 16.0.4

### Logs
#### Web server erro

[2019-09-06 12:16] Valdnet commented on #4401
@tobiasKaminsky After testing the https://www.kaminsky.me/nc-dev/android-artifacts/10855.apk version, the problem is as follows:
- After selecting "Photos" photos are displayed, but loading progress remains (operation is unstable, sometimes, only loading progress appears).

![obraz](https://user-images.githubusercontent.com/47037905/64426367-a86b4500-d0ae-11e9-850f-7e565bc261c6.png)

- After selec

[2019-09-06 19:02] marukuru commented on #4476
Found #4205, installing with main user account serves as a workaround.

[2019-09-06 19:02] #4476 closed

[2019-09-06 19:05] FelixBuehler commented on #4307
Can no one reproduce the problem?

[2019-09-06 19:55] doits commented on #3255
Still relevant.

[2019-09-07 04:10] YamiYukiSenpai commented on #3125
Bummer that we still don't have this.

[2019-09-07 08:53] TeNNoX commented on #4465
An addition:
The warning prompt event shows up when I select "Delete from source folder" - there is not enough space to delete them?! :yum:

[2019-09-07 16:08] fdambrosio commented on #3061
I've fixed streaming problem on Android 9 adding

[code]
in network_security_config.xml under project-root/resources/android/xml

like explained here: https://stackoverflow.com/a/57108997/2527604

[2019-09-07 16:59] nunofmds opened #4477 "Some uploaded files don't appear when shared from other apps"
### Actual behaviour
- When multiple pictures selected to upload some of them don't appear on the nextcloud server but there is no error during the operations. I have always to manual check if they are there.

### Expected behaviour
- All selected files should be uploaded to the target folder, if some fails it should prompt the user back to repeat or to cancel the operation.

### Steps to reproduc

[2019-09-08 09:06] derekblankmccoy commented on #3673
Not stale

[2019-09-08 11:28] tdm4 commented on #4290
I get the same issue:

Android NextCloud client version 3.7.2
Nextcloud 16.0.4

Android app wants me to log in, so I do that. After I tap "Grant Access" it loops back into login. Second time I try it, the Android app crashes.

It creates session after session with the same name (Name of my phone) but the phone can never log in! Really bad bug. Previous versions of the NextCloud Android client work

[2019-09-08 14:55] tdm4 commented on #4290
The message at the time right after I tap 'Grant Access' is:
```openssl_sign(): supplied key param cannot be coerced into a private key at \/nextcloud\/apps\/notifications\/lib\/Controller\/PushController.php#121```

[2019-09-08 16:31] tdm4 commented on #4290
Reverting to "Old login method" works for me. Something really broken with this new login system. I'm not about to delete my account on Nextcloud to fix it.. I don't want the files and settings and data to go away.

[2019-09-08 16:31] tdm4 commented on #3623
Reverting to old login method fixed my issue.

[2019-09-08 16:42] kesselb commented on #4290
@tdm4 is it possible to disable the notifications app and try again? Is there nothing else in your nextcloud.log?

https://github.com/nextcloud/notifications/blob/a614d6ea5766e487bda1d39a820b61307fef0334/lib/Controller/PushController.php#L121

For some reason it's not possible to use the users key.

https://github.com/nextcloud/server/blob/f49448087f2dbddb2140358e6c2d5bd22d3fe6fb/lib/private/Secur

[2019-09-08 16:51] ajostergaard commented on #4350
Possibly useful to know I have the exact same issue (even with the same filename - though see note below) on both Android 9 and 10.

Number after '--' changes even inside the same folder:

![image](https://user-images.githubusercontent.com/791747/64491503-19eaf500-d261-11e9-812f-1677f72244f4.png)

PS: Don't think DCIM is a custom folder, is it?

[2019-09-08 18:29] MadsBen commented on #4408
I have the same issue. There's no indications on the server logs (nextcloud, nginx etc.).

Using RC4 on Android.
Here's the log from the app, after an attempt to upload
`2019-09-08T20:19:41.976+0200;D;UpdateOCVersionOperation;Got new OC version 16.0.4.1
2019-09-08T20:19:41.977+0200;I;UpdateOCVersionOperation;Check for update of Nextcloud server version at https://cloud.tnes.dk/remote.php/webdav: O

[2019-09-08 18:32] SunnyTeater commented on #4408
the stable version works fine..

[2019-09-08 21:33] markbryanduncan opened #4478 "Uploading an image"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'long com.owncloud.android.datamodel.OCFile.getLastSyncDateForData()' on a null object reference
	at com.owncloud.android.ui.helpers.FileOperationsHelper.lambda$startSyncForFileAndIntent$0$FileOperationsHelper(FileOperationsHelper.java:209)
	at com.owncloud.android.ui.helpers.-$$Lambda$FileOp

[2019-09-09 04:53] wiswedel commented on #4364
CC @tobiasKaminsky
CC @nextcloud/android

[2019-09-09 07:17] prateekd11 commented on #4478
I would like to investigate this issue further

[2019-09-09 08:44] ShlomiRex opened #4481 "Upload Folder"
### Is your feature request related to a problem? Please describe.
I don't see 'Upload Folder' option to allow uploading a single folder to nextcloud.

### Describe the solution you'd like
Add 'Upload Folder' option.

### Describe alternatives you've considered
This is my first issue. I saw in 'UploadFilesActivity' the function: isFolderPickerMode. I set it true but of course it's not that easy, I

[2019-09-09 15:46] AndyScherzinger commented on #228
resolved via #4314 - please report back in case 3.8.0 doesn't fix this matter.

[2019-09-09 15:46] #228 closed

[2019-09-09 18:30] rullzer commented on #4290
So this is not a problem with the login flow but rather with the notification we try to generate and the key that is tried to be generated or is wrongly generated for whatever reason. As pointed out by @kesselb.

We should harden this. But I'm not sure why it happens in the first place.

As @kesselb suggest please disable the notifications app and try again.

[2019-09-09 18:52] rullzer commented on #4290
Also could you check something

1. go to your data folder
2. go to your appdata folder (`appdata_<INSTANCEID>)
3. go to `identityproof`
4. go to `user-<YOUR USERID>`
5. paste me to content of the public file

[2019-09-09 18:53] rullzer commented on #4290
Hardening server pr in: https://github.com/nextcloud/server/pull/17074

[2019-09-09 21:50] LicoMonch commented on #4358
I have installed TotalCommander and in the sandwich menu of eg an text file,  I can choose 'open with' -> Totalcmd-Editor
Doing that, changing some chars, saving and going back modifies the file locally.
In the web interface it is still the old one. If I now go to the android app and say sync in the file's sandwich menu and check back on the web interface the modifications were transfered.
The app

[2019-09-10 05:46] tobiasKaminsky commented on #4288
Fixed via https://github.com/nextcloud/android/pull/4485

[2019-09-10 05:47] tobiasKaminsky commented on #4401
Fixed via https://github.com/nextcloud/android/pull/4485 and will be in RC5.

[2019-09-10 05:47] tobiasKaminsky commented on #4469
Fixed via https://github.com/nextcloud/android/pull/4485 and will be in RC5.

[2019-09-10 05:47] #4469 closed

[2019-09-10 05:47] tobiasKaminsky commented on #4400
Fixed via https://github.com/nextcloud/android/pull/4485 and will be in RC5.

[2019-09-10 05:47] #4400 closed

[2019-09-10 05:55] tobiasKaminsky commented on #4467
I cannot reproduce right now, but I'll keep this up for navigation update after 3.8.

[2019-09-10 07:46] bhelm commented on #3623
had the same problem, reinstall 3.7.2 did not fix.
now upgraded to [3.8.0 RC4](https://github.com/nextcloud/android/releases/download/rc-3.8.0-04/gplay-release-30080054.apk) and the login works again.

[2019-09-10 08:05] tobiasKaminsky commented on #4437
"Sadly" my wife only has a 9+ without notch.
With emulator one can simulate a notch and then the outcome is similar.
I'll give it a try.

[2019-09-10 08:26] christianlupus commented on #3421
tock tock, I am still on this issue.

[2019-09-10 08:39] tobiasKaminsky commented on #3421
The only idea I have is to delete the app and re-install it as then the settings are also removed.
Then you could test again if lock removal is working.

As it is working on so many other devices, I fear that this is some kind of hiccup with your device, which is hardly to help over the internet :/

[2019-09-10 08:51] arnowelzel commented on #4289
Sorry, I was busy with other things - but I tried the suggested procedure with the same results: as long as the images did not get downloaded the whole app is very sluggish in the image preview.

[2019-09-10 09:08] #3351 closed

[2019-09-10 09:51] gohrner commented on #4477
I can confirm this with a Nokia 8 Sirocco (Android One, Android 9 "Pie"). I was just about to report the same issue. This is about uploading content using the Android "Share ..." feature. (As described in the "Steps to reproduce" of the original report above, but not stated in the subject line.)

It appears to be more or less random which images are actually uploaded, i.e. if I delete the files at

[2019-09-10 10:44] AndyScherzinger commented on #4477
@tobiasKaminsky this is probably due to some data limitation / Android OS version thing where we might need to read the incoming data differently to be able to process the files (or it might not be possible at all, don't know).

[2019-09-10 10:46] amicomed-support opened #4487 "Sono loggato con & senza flag ricordami, faccio scadere la sessione, torno nell'app, l'app si blocca"
Sono loggato senza flag ricordami, faccio scadere la sessione, esco dall'app lasciandola aperta per circa 30 secondi, torno nell'app, ed esce fuori l'avviso riportato qua sotto in foto.
Questo avviso rimane all'infinito bloccando di fatto l'utilizzo dell'app, abbiamo testato in due persone.

![image](https://user-images.githubusercontent.com/26152288/64607311-93e9be00-d3c8-11e9-97a8-24d15d0ad9f9.p

[2019-09-10 10:46] gohrner commented on #4477
In any case, it definitely should not appear as if it worked successfully if it didn't...

[2019-09-10 10:47] xNuno commented on #4477
Maybe but it's bad that we always have to resend the images again and they got renamed to (x) if they exist already. Besides that we can't fully trust on this feature...at least an error, retry or something should output for the user awareness.

[2019-09-10 10:54] amicomed-support opened #4488 "Registro e arrivo in fondo ma non premo OK, esco e rientro, premo ok e vado avanti."
Registro l'account, compilo il questionario, mi esce la schermata con due opzioni da scegliere: "invia di nuovo l'email" oppure "ok".
Non premo nessun bottone ed esco dall'app lasciandola aperta, poi rientro, premo ok e nel primo tentativo effettuato mi compare questa schermata.

![image](https://user-images.githubusercontent.com/26152288/64607963-e1b2f600-d3c9-11e9-900e-209ecb4cea43.png)

Nel sec

[2019-09-10 11:08] #4273 closed

[2019-09-10 11:28] tobiasKaminsky commented on #4488
Please fill out the template https://github.com/nextcloud/android/issues/new?labels=bug&template=bug_report.md in english, so that everyone can understand the problem and help you

[2019-09-10 11:28] tobiasKaminsky commented on #4487
Please fill out the template https://github.com/nextcloud/android/issues/new?labels=bug&template=bug_report.md in english, so that everyone can understand the problem and help you

[2019-09-10 11:52] tobiasKaminsky commented on #4477
I created these images and shared them on Android 9 emulator with Photos:
`
IMG_20190910_134145.jpg
IMG_20190910_134146.jpg
IMG_20190910_134149.jpg
IMG_20190910_134151.jpg
IMG_20190910_134152.jpg
IMG_20190910_134154.jpg
IMG_20190910_134155.jpg
IMG_20190910_134157.jpg
IMG_20190910_134159.jpg
IMG_20190910_134200.jpg
IMG_20190910_134202.jpg
IMG_20190910_134203.jpg
IMG_20190910_134205.jpg
IMG_20190910

[2019-09-10 12:25] #4487 closed

[2019-09-10 12:48] #4488 closed

[2019-09-10 13:15] Valdnet commented on #4401
@tobiasKaminsky The RC5 version still has the same problem.

[2019-09-10 13:28] christianlupus commented on #3421
OK, I will remove the dev apk version soon and reinstall it thereafter. Then I can see, if this helps. I just came home from hildays these days and I need to get things going first...

[2019-09-10 13:38] tobiasKaminsky commented on #4401
Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2019-09-10 14:03] Valdnet commented on #4401
@tobiasKaminsky Data sent.

[2019-09-10 14:23] asim-vax commented on #3715
Same issue, exactly the same as @FreeSquare
tried to upload 150+ images, doing it 3-4 at a time is painfully slow

[2019-09-10 16:21] DIeMONdello commented on #4463
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'int android.text.Layout.getLineForOffset(int)' on a null object reference
	at android.widget.Editor.updateCursorPositionMz(Editor.java:6964)
	at android.widget.Editor.updateCursorsPositions(Editor.java:1760)
	at android.widget.TextView.getUpdatedHighlightPath(TextView.java:5689)
	at android.

[2019-09-10 16:23] DIeMONdello commented on #4463
Then i push on line web link it's broke, but i now copy error, when i clean any data app and error on up message

[2019-09-10 17:00] #4227 closed

[2019-09-10 19:15] clawoflight commented on #19
What's the state on this? Can someone clarify what does and does not work - e.g. if I mark a folder as synced, will files available in that folder be synced if I make local changes?

[2019-09-11 02:49] prateekd11 commented on #4478
Will you please elaborate this issue? I had no trouble uploading an image.

[2019-09-11 03:01] prateekd11 opened #4491 "Show password button is not working"
### Actual behaviour
The show password button displayed on the set password screen doesn't work. Even after clicking the button, password field shows encrypted password.

### Expected behaviour
On clicking the show password button, the password should be displayed in plain text

### Steps to reproduce
1. Use sign up with provider option in android app
2. Create an account
3. On the very next scree

[2019-09-11 03:02] #4491 closed

[2019-09-11 06:50] tdm4 commented on #3623
When does 3.7.3 come out with the fix?

[2019-09-11 07:00] clawoflight commented on #3341
Yes please, this should really be a core feature of the app!

[2019-09-11 07:10] clawoflight commented on #285
Seriously, how is this feature not prioritized more instead of all the gimmicks? This is the core functionality of a cloud offering!

[2019-09-11 07:20] szaimen commented on #285
Yes, I think so, too.
But in the moment there are so many bugs in this app, that need to get fixed before any enhancement can be made, imho.
I also cannot understand while just one developer from Nextcloud is actively working on this app?

[2019-09-11 08:07] W-Hamra commented on #285
What's so strange about that? If you know people willing to code for free, invite them.

[2019-09-11 08:15] szaimen commented on #285
Because this should be one of the most important apps for Nextcloud and therefore shouldn't have that much bugs.

[2019-09-11 10:13] markbryanduncan commented on #4478
Hi @prateekd11

All seems to be working ok now. I did an os update (Running on /e/ OS)

Many Thanks @markbryanduncan

[2019-09-11 10:13] #4478 closed

[2019-09-11 13:09] binaryplease opened #4492 "Keeps finding the same folder as "new" and asking for battery whitelisting"
### Actual behaviour
The app keeps "finding" the same folder although it is already configured. I see a popup message, asking me to act on it. If I swipe it away, it will appear again after a while.

Also: It don't know if this is related or a separate issue, but it also keeps asking me to disable battery optimizations when configuring a folder, even though the app is whitelisted.

I'll add screen

[2019-09-11 17:39] Beeez commented on #3623
RC4 has no change for me.

[2019-09-11 20:42] veelco commented on #3715
Can confirm. I am uploading over 400 photos and I have to refresh on the upload page every 5-6 photos from about 2-3 MB each.

Android: 9
NC app: 3.7.2

[2019-09-12 05:42] tigernero79 opened #4493 "action menu file truncated in "landscape" mode"
I noticed that in landscape mode the menu is truncated, all the action items are not output to the file when you take 3 dots, then I realized that scrolling with the finger the menu scrolled and showed the truncated entries.  I was wondering, is it possible to make a sort of upside-down arrow appear to show that the menu is smooth?  or some kind of Google style menu when selecting a text?
_-------

[2019-09-12 07:57] #4201 closed

[2019-09-13 09:00] Gatak opened #4496 "Enhancement: pre-cache picture thumbnails"
Hi.

I would like the option that NC android client can pre cache the thumbnails for certain folders. This would make the user experience much better. In my work flow I import many photos from my DSLR camera on the desktop, but I would like to view and share them on the phone. Even if I to occ preview:generate-all, the download speed of thumbnails is too slow to do on-demand only.

[2019-09-13 09:47] edmael commented on #269
Hi, any news regarding this bug/feature request?

Having a whole folder available on the device is a major feature to have.

[2019-09-13 10:00] tobiasKaminsky commented on #4496
I had something similar in mind, but having an option for that is too techy, in my opinion.
Better would be something like:
- have a background job that runs every 15 min when on wifi (to not consume mobile data)
- get a list of changed images/previewable files
- check for outdated thumbnails
- download them

This would then also require that cache might increase beyond 200mb (which is currently h

[2019-09-13 10:02] tobiasKaminsky commented on #4496
Same would also be true for entire file structure, when assuming that ~80% of files are changed very very rarely on private instances.

[2019-09-13 10:11] Gatak commented on #4496
Yes. Of course. But syncing all thumbs by default might take to much storage space on the phone if the user has many files. But having this as an option would be very valuable.

[2019-09-13 10:30] MultiCoreNop commented on #4454
Same for me. This has always been this way. No matter whether setting is "delete" or "move to app folder" - files will be deleted.
Side note: Opening the Nextcloud App after such an automated upload and switching to "On Device" shows all directories with their corresponding sizes. As soon as you open one, all files within will be deleted.

[2019-09-13 10:33] MultiCoreNop commented on #4454
clarification: "has always been this way == since I started to use the Nextcloud App several years ago"
This problem remained over several devices and Android versions (I am currently on LineageOS 16.x / Android 9 from 2019-08-01). Nextcloud Dev from F-droid.

[2019-09-13 10:37] MultiCoreNop commented on #4454
duplicate: see #4220 #2131

[2019-09-13 10:39] MultiCoreNop commented on #2131
newer bug reports of seemingly same Problem: #4220 #4454

[2019-09-13 13:40] ghost opened #4499 "Inconsistent action menus in grid vs list view"
### Actual behaviour
There are different action menus depending on if I have grid view or list view.

### Expected behaviour
The menus should have the same basic features; send, open with. share, etc.

At least I would like to be able to share (send) a file with an external app, like a chat program or email, from both grid view and from list view. Grid view is important because the thumbs are too

[2019-09-13 13:56] Gatak opened #4500 "Pressing details throws you to list view"
### Actual behaviour
Pressing details from an open picture throws you back to list view instead of file details.

### Expected behaviour
File details screen should open

### Steps to reproduce
1. Open an image
2. Press details
![Screenshot_20190913-155025_Nextcloud](https://user-images.githubusercontent.com/1469150/64867990-c4d32880-d63e-11e9-8bb8-574edfa4cc55.jpg)
3. You end back in list view. Yo

[2019-09-13 14:06] Gatak opened #4501 "Enhancement: Exif data in file details"
-deleted-

[2019-09-13 14:09] AndyScherzinger commented on #4499
@nextcloud/designers any feedback/help is highly appreciated. I can't say for sure if the menus should be the same while there are some list-operations (de/select all for example) that can't be used for single files (in the preview)

[2019-09-13 14:11] AndyScherzinger commented on #4496
If we simply pre-fecth based on the loader logic of the photos-view we could do such a thing which basically translates to loading the latest n image thumbnails.

[2019-09-13 14:12] AndyScherzinger commented on #4501
@tobiasKaminsky I sescond @Gatak's suggestion while that would mean that we get this info from the server (a thumbnail doesn't ship this info)

[2019-09-13 14:25] Gatak commented on #4501
I suppose two options are possible. Either download full image  or ask the server. First case might be unwanted on mobile data or otherwise slow connections.

Is exif data stored in any particular place in files? Could the app in that case request only relevant parts to avoid downloading it all.

[2019-09-13 14:29] AndyScherzinger commented on #4501
If the app should do it on their own then it would need to download the whle file which I vote to not implement since my DSLM's jpg images are rather large (like yours I guess). SO this would be overpowered and costly (band-width), so if the server can display it then it should be made available to the clients via an API in case that isn't already available.

@tobiasKaminsky do you know if this in

[2019-09-13 14:33] Gatak commented on #4501
Fully agree with you there. An API to read this data would of course be really nice.

[2019-09-13 14:37] AndyScherzinger commented on #4501
If the server displays it within the details page then I guess the data is avalaible, I just don't know if this info is available via API.

[2019-09-13 17:20] tobiasKaminsky commented on #4501
There is no public api available right now: https://github.com/gino0631/nextcloud-metadata
As this is also no official app, I see the problem that it might be not compatible / non working at some time in future and thus we either have to support this app on our own (increasing work load) or we then have to remove it again (which is bad UX).
So while I do agree that this is nice for certain file ty

[2019-09-13 18:24] mmeinesz commented on #2834
+1 Auto upload feature not working
It is on my fresh NC-Android app install. I don't see, why I should "clear cache" on a new install. That does not make sense. I am using NC server 16.0.4

[2019-09-13 19:07] nakal opened #4502 "Directory contents empty in app while web frontend shows file"
### Actual behaviour
File list is empty in some folders on Android while there are files in the web frontend (same user).

### Expected behaviour
Viewing contents of a directory in the Android app should always be consistent with that what the web frontend shows.

### Steps to reproduce
1. Make some directories.
2. Upload files.
3. Check contents, some folders might be empty, even you uploaded fil

[2019-09-13 21:44] jancborchardt commented on #4499
Largely they should probably be the same. Is there a matrix of the different places a menu can show up, crossed with the actions? Then we can check off where an action makes sense and where not, and maybe even what to cut or simplify.

(E.g. on the server we combined "Move or copy", similarly we could combine the "Select all / Deselect all" to be a toggle first selecting all and then deselecting a

[2019-09-14 06:24] #4291 closed

[2019-09-14 09:59] nbuechner opened #4503 "Crashes after splash screen"
### Actual behaviour
- Tell us what happens
The app crashes after splash screen.

### Expected behaviour
- Tell us what should happen
The app should start.

### Steps to reproduce
1. Install app
2. Login
3. Restart app

### Environment data
Android version:
9
Device model:
Xiaomi MiPad 4

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error

[2019-09-14 10:04] nbuechner commented on #4503
Version 3.8.0

[2019-09-14 11:10] ben423423n32j14e opened #4504 "Can't build using new install of Ubuntu 18.04"
Steps to reproduce:

apt-get install openjdk-11-jdk
git clone https://github.com/nextcloud/android --recursive
cd android
./gradlew clean build

Error:
`android: 'annotationProcessor' dependencies won't be recognized as kapt annotation processors. Please change the configuration name to 'kapt' for these artifacts: 'org.projectlombok:lombok:1.18.8'.

FAILURE: Build failed with an exception.

* What

[2019-09-14 11:35] InfamousUser commented on #3569
What a redacted feature.

[2019-09-14 12:06] d2dyno commented on #4408
Issue present in 3.8 stable

[2019-09-14 12:42] immertroll commented on #1520
:+1:

[2019-09-14 12:50] Schmuuu commented on #3932
TLS 1.3 feature is now available in the latest release
https://github.com/nextcloud/android/releases/tag/stable-3.8.0

I think this issue can be closed then.

[2019-09-14 12:58] Moini opened #4506 "Option to disable remote wiping"
### Is your feature request related to a problem? Please describe.

I'm worried that if someone hacks my nextcloud server, they can use this new 'feature' to not only delete my files online, but also to delete all my files on my devices, leaving me with no data at all.

On hosted servers, I'm worried about a rogue / revengeful administrator. There have been cases of people being angry with their e

[2019-09-14 13:15] realies commented on #4157
Why are you so inconsistent in the manual configuration for desktop and mobile clients? Are desktop clients more secure than mobile clients and why? Changing a server address on a desktop client is not an issue via the `nextcloud
cfg` file, although its alternative in a mobile app is not to be found. Reconfiguring (removing/re-adding) a server on a mobile app would remove the queued auto-upload li

[2019-09-14 13:28] Zombie-Ryushu opened #4507 "NextCloud Conflict error with OwnCloud"
### Actual behaviour
NextCloud Android App gives the error: Conflict when attempting to upload anything to an OwnCloud 10.1 server.

### Expected behaviour
NextCloud Android App should upload data to an OwnCloud 10.1 server.,

I use the NextCloud Client with an up to date version of OwnCloud 10.1, and in the past, despite the warnings of version obsolecance, it still worked. I do this because the

[2019-09-14 13:55] outis151 commented on #3932
Thanks for adding!

[2019-09-14 13:55] #3932 closed

[2019-09-14 15:15] LunaticTazz commented on #4502
I see a similar behaviour, yet noticed it only with images. The images shown in the photo view are not visible in the file view.

[2019-09-14 15:24] nakal commented on #4502
I can confirm that it happens with images in file view exclusively. And also I've found partially shown directories. E.g. 2 of 12 images are shown.

[2019-09-14 17:16] xNuno commented on #4477
Is there any update about this? Can I help somehow?

[2019-09-14 17:42] DIeMONdello commented on #4463
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'int android.text.Layout.getLineForOffset(int)' on a null object reference
	at android.widget.Editor.updateCursorPositionMz(Editor.java:6964)
	at android.widget.Editor.updateCursorsPositions(Editor.java:1760)
	at android.widget.TextView.getUpdatedHighlightPath(TextView.java:5689)
	at android.

[2019-09-14 18:48] memen45 opened #4508 "Crash when navigating away from photos (photo details not opening)"
### Actual behaviour
- crash

### Expected behaviour
- no crash
- opening some details fragment?

### Steps to reproduce
1. Open photo tab
2. Tap on a photo in the list
3. Tap on 'more' and then 'details'
4. Photo closes, back in the photo list, navigate to 'all files'
5. Receive crash report and submit on GitHub 😁

Nextcloud server version:
16.0.4

### Logs
#### Web server error log
[code]
******

[2019-09-14 21:03] Samhamsam commented on #2267
Same problem here with Xiaomi Redmi Note + Nextcloud Server 16.0.3 + Nextcloud 3.7.2

[2019-09-14 21:35] lemmy04 commented on #3569
what a nice feature of github - any bug that gets ignored for 4 weeks gets automatically closed.
is there anyone actually working on this?

[2019-09-14 21:40] lemmy04 commented on #3296
...anyone actually working on fixing this?

[2019-09-15 05:44] nakal commented on #4508
Confirmed. I got this stack trace on release 3.8.0:

[code]

[2019-09-15 08:58] mujeebulhasan opened #4509 "Auto upload does not work without google play services for encrypted files and folders."
I have setup setup to auto upload a custom folder which contains encrypted files but its not uploading/syncing.

I tried to setup a custom folder with unencrypted images and it works perfectly.

The encrypted folder and file names are long strings this may be the reason???
### Actual behaviour
- I have setup a custom folder for auto upload but its not working.
- The custom folder contains encrypte

[2019-09-15 08:58] tobiasKaminsky commented on #4507
Due to limited amount of dev time we can only make sure that client is working fine with all supported NC versions. Additionally server functions diverged a lot since the fork.
While it was a nice side effect that our client worked with oC, we will not put any effort to make it effort in it.
If you or another want to test/debug and provide a PR, I am happy to review it.

I am closing this as out o

[2019-09-15 08:58] #4507 closed

[2019-09-15 09:00] tobiasKaminsky commented on #4506
This is a discussion we should run on server repo as it involves server and also other clients, thus I am moving it.

[2019-09-15 09:31] lukasradek commented on #4232
Kind of... still persists.

[2019-09-15 09:55] schiessle commented on #4507
If you like the Nextcloud client, I'm sure you will also like the Nextcloud server with all its improvements and additional features. Upgrading your ownCloud is super easy: https://nextcloud.com/migration/

[2019-09-15 11:59] #4220 closed

[2019-09-15 13:23] ZaiLynch commented on #3715
Same problem.
Android 10
NC app: 3.7.2
NC: 16.04
Background data enabled.
Upload stalls after a couple of files (0% of new file uploaded) and does not resume.
Works fine when I try it via browser on my laptop, so relatively sure it's the app, rather than the NC setup.

[2019-09-15 13:42] nunesgh opened #4510 "Upload failing due to connection error on version 3.8.0"
### Actual behaviour
- Uploads are failing on the latest version of the app (3.8.0);
- The app is reporting a "Connection error".

### Expected behaviour
- Uploads should complete without errors, as was the case on prior versions.

### Steps to reproduce
1. Just try to upload a file.

### Environment data
Android version: 9;

Device model: Motorola G6 Play;

Stock or customized system: stock;

Nex

[2019-09-15 15:36] sm8ps opened #4511 "Android mobile app high background data usage"
### Steps to reproduce
1. Install NC app on Android 9 and connect to personal NC instance without any automatic uploads configured. Calendar and contacts are synched through DAVx5.
2. Wait some for undetermined amount of time. Use the NC instance by synching data from other devices (laptops).
3. Check data usage of NC app. Here: 630 MB in approximately 12 hours.
4. Check file space usage unter 'An

[2019-09-15 16:07] memen45 commented on #4097
This is indeed working again in app version 3.8.0.

[2019-09-15 16:07] #4097 closed

[2019-09-15 17:59] #4293 closed

[2019-09-15 20:02] brennovich opened #4512 "App crashes on home folder (during refresh)"
### Actual behaviour
- Open the app (already configured)
- Wait it crash (if force refresh it will crash sooner

### Expected behaviour
- Don't crash

### Environment data

1. Server has server-side-encryption enabled

#### Nextcloud log (data/nextcloud.log)
[code]

[2019-09-15 21:04] schiessle opened #4513 "instant upload fails"
I'm using version 3.7.2 of the Nextcloud app (f-droid version) and Nextcloud 16.0.4

Sometimes the app refuses to upload a image with the instant upload feature. Also forcing a retry doesn't help. The Andoid app always shows the error message "server in maintenance mode" in the "Uploads" view. But that's not the case.

If I force a retry of the upload and watch the servers nextcloud.log I see this

[2019-09-15 21:38] redtux commented on #4157
I just would like to confirm that many users like myself would have loved such a feature (as it still exits in the OC client btw.), given sometimes even big providers like Hetzner need to change their server names — affecting hundreds if not thousands of users. https://wiki.hetzner.de/index.php/Storage_Share/en#Renaming

Hetzner recommends creating a new profile, but then the average would have to

[2019-09-15 21:48] redtux commented on #4157
Okay, I have now read #3877 again, and from this statement it seems that this will not be fixed. https://github.com/nextcloud/android/issues/3877#issuecomment-495194482 So the files stay on the smartphone and the app will know which one to sync and which one not?

[2019-09-15 22:50] danielb42 opened #4514 "Random sound and vibration events"
### Actual behaviour
- Since upgrading to 3.8.0, on some actions within the NC app a notification beep is played (resp. vibration if phone set silent). Unfortunately I don't see any pattern yet as to when this happens, and cannot reproduce the behaviour consistently, but I noticed it several times by now at least on...

* opening the NC app
* entering Settings view
* un-selecting images in folder

[2019-09-16 05:36] #4292 closed

[2019-09-16 07:12] ne20002 commented on #4502
I also confirm this bug.

[2019-09-16 08:54] AndyScherzinger commented on #4514
@tobiasKaminsky any ideas as to what might have caused a change in behavior?

@danielb42 besides the update to 3.8.0 did anything else change regardinig the device? for examplpe a OS update?

[2019-09-16 10:08] danielb42 commented on #4514
@AndyScherzinger on Sept14 (the day when I also updated NC) there was an Android security patch to level Sept1. Besides that no change to device or OS. However, the mysterious beep events did never occur anywhere outside NC app yet - and inside NC they were just perfectly aligned with touching for the mentioned actions, so I don't think they come from something else in the background or the like.

[2019-09-16 14:20] ChrisB85 commented on #4510
Same problem here with auto-sync feature. Some files are sent without problems and others fails with "Connection error". Manual uploads works as expected.

Nextcloud android app 3.8.0 on Android 9; Pocophone F1.
Nextcloud server app 16.04 with Cloudflare SSL.

[2019-09-16 19:08] archont00 opened #4515 "Music Player gets unaccessible although playback is on"
### Actual behaviour
* Tap on a music file to start Music Player.
* Press "back" arrow on top left to browse other files within Nexctloud Files.
* **There is no way to to get back to the Music Player although the playback continues.**
* **Tapping on "Music Player" notification in Android opens Nextcloud Files App, but not the Music Player.**

### Expected behaviour
* When Music Player is on, an it

[2019-09-16 20:25] ntrp opened #4516 "Cannot test connection or connect (SSL Exception)"
### Actual behaviour
- Cannot even test the connection to the nextcloud server
- iOS app works with no issues
- every browser works

### Expected behaviour
- Should test successfully the server connection

### Steps to reproduce
Just trying to connect to my server

### Environment data
Android version: 9
Device model: Oneplus 3T
Stock or customized system: Stock rooted
Nextcloud app version: 3.8.0

[2019-09-16 20:50] C0rn3j commented on #3623
Re-tested with 3.8.0 from Play store and still the same. Tried removing the account from the phone first too.

[2019-09-16 21:08] redtux commented on #3877
I have just tried to add a new account to my cloud with a new URL, and can confirm that all the files have to be copied again. 🙄

Does it make sense to move my downloaded files from my old profile in `Android/media/com.nextcloud.android` to the new profile's folder? Or would this just confuse the app?

[2019-09-16 21:19] piojan opened #4517 "Synchronization crash"
************ CAUSE OF ERROR ************

android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{eb5c589 u0 com.nextcloud.client/com.owncloud.android.services.OperationsService}
	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:2126)
	at android.os.Handler.dispatchMessage(Handler.java:112)
	at android.os.Loop