[2017-08-29 18:48] PhieF commented on #1458
It worked for this issue, thanks !
But there is still the problem that it's asking me to relog again each time my server isn't available, and once it is available, it keeps asking me to relog so

1 I log
2 everything is ok
3 my server isn't available
4 asks to relog
5 I don't relog
6 server is available
7 keeps asking to relog

[2017-08-29 18:56] enoch85 commented on #1450
Spams my log pretty much:

![screenshot from 2017-08-29 20 55 23](https://user-images.githubusercontent.com/4511254/29838809-8957adb8-8cfc-11e7-99d1-898be8cc1f87.png)

[2017-08-29 20:17] AndyScherzinger commented on #1458
@tobiasKaminsky do you know how the client behaves and should behave in this situation?

[2017-08-29 21:19] ldmpub commented on #1395
Maybe you can try to use an other Andoid API to build these sentences?

[2017-08-29 21:59] CordlessWool commented on #1098
Yes, sorry I was a little bit busy the last days. The upload works now. Only some times there are messages that there is an error but all is uploaded. After the pictures were uploaded there appear a black tile for each picture in my local library  which was uploaded. I am not sure if this happens every time but mostly

[2017-08-30 07:13] AndyScherzinger commented on #1395
We can have a look while I doubt there is a non-self-implemented solution since we basically ask Android for the localized relative/absolute date/time string and Android likely doesn't offer 2 APIs doing the same thing :/

Another idea (own implementation then) would be to port the code from the webUI in case it is not done via a lib/framework.

[2017-08-30 08:14] siwyroot commented on #1168
Hello,

After quite a lot of testing I have observed following problems:

1. Upload is working randomly, sometimes it takes up to few hours to finally upload. No contains on battery usage for application in background and it can upload via mobile data and wifi.
2. Almost every time I open app it hangs on refreshing unless I switch to somewhere else via menu on the left (like all files or upload hi

[2017-08-30 10:49] githtz commented on #1124
I'd like to add that under certain circumstances the notifications can render the android device unusable. That happens if the server goes offline or becomes unreachable while syncing folders with very many files. Because of the current mechanism the app will create one notification for each failed download that slow down the device considerably since it keeps trying to sync all the other files th

[2017-08-30 14:23] AndyScherzinger opened #1460 "GPlay: java.lang.ArrayIndexOutOfBoundsException - com.owncloud.android.ui.preview.PreviewImagePagerAdapter.getFileAt"
happens since 1.4.3, stack trace reported for 2.0.0RC5:

[code]

[2017-08-30 17:03] Mannshoch commented on #1316
Sry, but I do not have Google Palystore installed

[2017-08-30 21:05] OSevangelist commented on #112
Same here. I a was up to let deactivate IPv6 in my router but this isn't feasible either because my carrier Vodafone is provisioning my Box using TR069 and doesn't support ipv4only any longer. For me it works on mobile data but does not work on local wifi

[2017-08-30 21:45] srkunze commented on #1441
Actually, I would like to contribute this feature. But I'd need some sort of approval to start. :)

A quick research of some file explorers (Windows + Ubuntu) showed that sorting is indeed stored per folder hierarchy. I basically would (re-)use isGridViewPreferred, which already provides this behavior.

[2017-08-31 00:43] KroniK907 opened #1461 "What would be involved in supporting SAML login?"
The user_saml app for nextcloud is extremely useful for my implementation since our group has an SSO system set up to provide our users with only a single username/password for pretty much all the apps they use in our organization.

However, many of them are using the nextcloud app on their phones and have to set up a separate password, which is a minor security concern for us as well as an inconv

[2017-08-31 00:48] KroniK907 commented on #1461
Please close this, it works fine on the dev version. Didn't realize the version on the play store was only 1.4.x

[2017-08-31 05:40] tobiasKaminsky commented on #1304
Transferring from notebook will be next week, currently I am busy on the other project :/
I am trying to fix some bugs now.

[2017-08-31 05:43] tobiasKaminsky commented on #1316
@Mannshoch now it is also available on fdroid: https://f-droid.org/packages/com.nextcloud.client/
For the RC5 you have manually go to "versions" and select it.

[2017-08-31 05:44] tobiasKaminsky commented on #1371
So generic, removing from 2.0.
In longer term it will hopefully solved when switching to recycler view.

[2017-08-31 05:48] tobiasKaminsky commented on #1419
Can you create us a test account for the ldap backend and send the credentials with a link to this issue to android at nextcloud dot com?

[2017-08-31 06:47] tobiasKaminsky commented on #1441
In fact this is something me and @jancborchardt wanted do have quite a long long (oc) time ago, so then the behaviour would be the same as list vs grid view: (but no time :/)
- store sorting decision per folder
- if there is no sorting order in current folder, take the sorting order of parent folder (up to root folder)

Basically you can re-use the list vs grid logic, but please store it independe

[2017-08-31 06:58] tobiasKaminsky commented on #1458
Strange.
- I connected to a NC12 instance with the new login method.
- turn off data
- refresh data -> not working -> timeout
- closing, opening app
- cycling through existing accounts
- entering folders -> no content as no internet connection
- enabling data connection -> instantly everything is working

@PhieF "server isn't available" what is happening here? Is really the server not available or

[2017-08-31 07:14] tobiasKaminsky commented on #1323
@xXSTrikeXx we are relying on the generic network part of android, so everything will go via WAN I assume.
There is indeed a feature request to have a "local" connection to the same server via LAN, but it is not implemented yet.

[2017-08-31 07:46] AndyScherzinger opened #1464 "GPlay: java.lang.NullPointerException - com.owncloud.android.ui.activity.UserInfoActivity.populateUserInfoUi"
[code]

https://github.com/nextcloud/android/blob/master/src/main/java/com/owncloud/android/ui/activity/UserInfoActivity.java#L311

```userName.setText(account.name);```

[2017-08-31 07:48] AndyScherzinger commented on #1464
@mario @tobiasKaminsky this one has also been reported ~8 times via GPlay.

The only thing that makes sense to me would be that account is null, while then we can't set a user name and also can't set an avatar:
https://github.com/nextcloud/android/blob/master/src/main/java/com/owncloud/android/ui/activity/UserInfoActivity.java#L312

What is strange is that imho you always have an account object?!

[2017-08-31 07:52] tobiasKaminsky commented on #1464
account is used 9x in UserInfoActivity. We cannot do a null check everywhere.
The real fix is to find out why account is null.
I'll give it a try now.

[2017-08-31 07:56] AndyScherzinger commented on #1461
Hi @KroniK907 if you register as a tester on the PlayStore for the Nextcloud app then you will also see this new login feature since we are closing in on the next stable release (2.0.0) with 2.0.0 RC5 currently available to testers. Registration can be done via: https://play.google.com/apps/testing/com.nextcloud.client

You can opt out at any time and will then from that moment on not get any beta

[2017-08-31 07:56] #1461 closed

[2017-08-31 08:01] AndyScherzinger opened #1466 "GPlay: java.lang.NullPointerException - com.owncloud.android.ui.fragment.OCFileListFragment$MultiChoiceModeListener.onPrepareActionMode"
[code]

[2017-08-31 08:02] AndyScherzinger commented on #1466
reported once for 1.4.3 and several times for 2.0.0 RC*

[2017-08-31 09:44] tobiasKaminsky commented on #1325
@AlexVienna I tested it with the emailed credentials and it is working for me.
Please try it with upcoming RC6 (tomorrow or monday)

[2017-08-31 10:30] jmhunter opened #1469 "User account corrupts - 2.0.0-RC[2345]"
### Actual behaviour
- Set up new installation of Nextcloud client on phone
- Connect to nextcloud server with username and password
- User account as shown in app changes from full name & username, to GUID & GUID
- App crashes

### Expected behaviour
- User account remains as showing username, instead of GUID
- No app crashes

### Steps to reproduce

This has been totally reproducible for me, wit

[2017-08-31 10:31] mario commented on #1469
Is it possible that somewhere we need guid, and somewhere username? *shrug* cc @AndyScherzinger @tobiasKaminsky

[2017-08-31 10:38] mario commented on #1098
OK, thanks.

[2017-08-31 10:38] #1098 closed

[2017-08-31 10:39] mario commented on #1338
Is this still happening with latest RC?

[2017-08-31 10:40] jmhunter commented on #1469
(Happy to set up a test account for a dev on my NC 10.0 server if that's easiest, btw!!)

[2017-08-31 10:59] AndyScherzinger commented on #1455
fixed via #1463

[2017-08-31 10:59] #1455 closed

[2017-08-31 11:24] AndyScherzinger commented on #1338
There has been one single report Aug 28, 8:24 PM for 2.0.0 RC5 but I'd say this can be postponed and should be further monitored since there has been just one single report and this is the error graph over time...
![2017-08-31 13_23_58-anrs crashes - nextcloud - google play console](https://user-images.githubusercontent.com/1315170/29920842-b6dabc22-8e4f-11e7-9572-272b63f26758.png)

[2017-08-31 11:32] #1442 closed

[2017-08-31 13:30] hitam4450 opened #1471 "Themeing NOT apllied"
Hi to all,

currently I do run 2 NC instances: one on a local server one on the web. (both version12.0.29). As client I use version 1.4.3 on ANDROID 6.0.1.

I do run two different themes in the server instances: one blue and one red and changed the names from Standard "Nexctcloud" to "Blue " and "Red".

The client does **NOT** show the different themes and also **NOT** the different titles on each

[2017-08-31 13:36] AndyScherzinger commented on #1471
@hitam4450 you need to run the 2.0.0 release candidates 😺 or wait for the stable/final release of it. 1.4.3 does *NOT* support theming.

[2017-08-31 13:36] #1471 closed

[2017-08-31 13:38] hitam4450 commented on #1471
@AndyScherzinger  Thanks for your feedback ! I'll wait until the final Version 2.0 is available!

[2017-08-31 14:19] AndyScherzinger opened #1472 "RC5: java.lang.NullPointerException - com.owncloud.android.ui.activity.DrawerActivity.onCreate"
[code]

reported by a single user 6 times, Android 7.0

[2017-08-31 14:28] AndyScherzinger commented on #1472
The line is:
```externalLinksProvider = new ExternalLinksProvider(MainApp.getAppContext().getContentResolver());```

[2017-08-31 14:35] AndyScherzinger commented on #1472
btw, the line below looks like this:
```arbitraryDataProvider = new ArbitraryDataProvider(getContentResolver());```

[2017-08-31 14:36] AndyScherzinger commented on #1472
My guess is that for whatever reason ```MainApp.getAppContext()``` might be ```null```....

[2017-08-31 14:57] AndyScherzinger opened #1474 "GPlay: java.lang.IllegalArgumentException - com.owncloud.android.ui.activity.DrawerActivity.onResume"
[code]

Happens since 1.4.3 but also happens in 2.0.0RC5

@mario @tobiasKaminsky any idea why? our code lines are just ```super.onResume()``` so I have no clue why this is happening at the moment...

[2017-08-31 17:13] Mannshoch commented on #1316
Is Crashing

[Log-Next--2017-08-31-04.45.43.txt](https://github.com/nextcloud/android/files/1267939/Log-Next--2017-08-31-04.45.43.txt)

[2017-08-31 19:04] marvinwankersteen commented on #1458
I have the same problem. Server is 12.0.2, Android-App is the dev-Version 2.0.0RC5 from Playstore.

The app continuously wants to relogin. I already checked the bruteforce-db and deleted all entries. Also added my IPs to the whitelist. The app is unusable slow, slow loading, no loading, no content is displayed.

I logged in, press "Grant access", type in my credentials, click "stay logged in", sho

[2017-08-31 23:07] comradekingu opened #1475 ""Join the Chat on IRC" shown twice"
In the "Participate" section

of the android app (20170829) latest Nextcloud dev from F-droid.
![participatemenu](https://user-images.githubusercontent.com/13802408/29949240-a413df60-8eb3-11e7-9751-c81188583086.png)

It says "[Contribute on IRC](https://github.com/nextcloud/android/blob/53a870b5a5dc252c2b04c33eb1bd75be5561ce7b/src/main/res/values/strings.xml#L559) twice:
![englishcontribute](https

[2017-09-01 00:10] shtrom commented on #1445
Hum, where can I get that from? Is there a binary APK I can grab?

[2017-09-01 06:47] jasonbayton commented on #1445
It's just been uploaded to fdroid, but otherwise it's in Google Play:

https://play.google.com/apps/testing/com.nextcloud.client

[2017-09-01 08:14] nickvergessen opened #1477 "Notifications list doesnt really refresh"
### Steps to reproduce
1. Receive a push notification
2. Tab on the push notification
3. See list of notifications
4. Web UI: delete the notification
5. Phone: pull down the notifications list
6. See the loading circle

### Expected
After loading circle the list should be empty

### Actually
The item is still shown.

### Steps to continue
7. Open side navigation
8. Go to notifications
9. A new vie

[2017-09-01 09:03] AndyScherzinger commented on #1477
@mario @tobiasKaminsky I just tested this and found the issue when this happens but don't have the time and technical tools to test this since I can't create notifications :/
The issue is not with removing notifications but with removing all of them, so the pull to refresh works e.g. when you delete 2 out of 3. If you remove all notifications the list won't be refreshed.

Hope that helps :)

[2017-09-01 09:28] nickvergessen commented on #1477
@AndyScherzinger you can create a second account on your instance and \@mention your other account in a comment on a shared file. That should create a notification ;)

[2017-09-01 10:47] j-ed commented on #1364
I can confirm that the problem has been fixed with the latest app version `app-20170901`.

[2017-09-01 10:56] AndyScherzinger commented on #1364
likely fixed via https://github.com/nextcloud/android/pull/1467

[2017-09-01 10:56] #1364 closed

[2017-09-01 10:57] AndyScherzinger commented on #1364
Thanks for the instant feedback @j-ed

[2017-09-01 11:29] shtrom commented on #1445
On Fri 01 Sep 2017 at 06:47:34 +0000, Jason Bayton wrote:

F-Droid will do just fine. Installing now.

--
Olivier Mehani <shtrom@ssji.net>
PGP fingerprint: 4435 CF6A 7C8D DD9B E2DE  F5F9 F012 A6E2 98C6 6655
Confidentiality cannot be guaranteed on emails sent or received unencrypted.

[2017-09-01 11:31] AndyScherzinger commented on #1477
PR is #1478

[2017-09-01 12:05] jancborchardt commented on #1441
Yup, agree with @srkunze, as we chatted @tobiasKaminsky  :)

@srkunze a contribution would be really great!

[2017-09-01 12:28] AndyScherzinger commented on #1441
@srkunze I'd say a 3 thumbs up is a Go 🎉

[2017-09-01 13:05] rkoehler2017 opened #1479 "No files visible on Tablet and Smartphone APP"
Installed latest stable 10.2 and the APP 1.4.3 on my Samsung p600 Tablet, my Honor 9 and my Huawai Mate 9 Smartphone. Android V 7.x.x
If starting Nextcloud APP - loading - appears and then - no files available- Keine Dateien vorhanden in german.
Also not possible to upload or create folder
No Problem if trying with webdav.

[2017-09-01 13:31] #1475 closed

[2017-09-01 13:40] tobiasKaminsky commented on #1443
This should be solved via #1462 or? As we there prevent null objects to be stored and in this stack trace it seems as null.isImage() is called

[2017-09-01 13:45] j-ed commented on #1258
If it is not allowed to change the personal settings due to security concerns, I would recommend to add a comment to the lower part of the screen (which is currently empty) stating that the displayed information are read-only settings. Otherwise users will ask this question again and again. Example mockup:

![screenshot_20170901-153032](https://user-images.githubusercontent.com/2572764/29972439-66

[2017-09-01 13:57] #1477 closed

[2017-09-01 14:11] tobiasKaminsky commented on #1469
@jmhunter would be great if you send a test account to andoid at nextcloud dot com

[2017-09-01 14:15] tobiasKaminsky commented on #1456
225:  if (!getFile().isDown()) {
            throw new IllegalStateException("There is no local file to preview");
        }

A sane fix would be to show a good error message instead of silently crashing the whole app...

[2017-09-01 14:17] AndyScherzinger commented on #1443
I'd guess so, yes.

[2017-09-01 14:17] #1443 closed

[2017-09-01 14:21] memen45 opened #1481 "Integration with office apps"
### Actual behaviour
Office files are opened in read-only mode by the official Microsoft Office Android apps (Excel etc.)

### Expected behaviour
Office files are opened in read/write mode with the possibility to save changes directly to the server again

### Steps to reproduce
1. In any of the MS Office android apps choose 'Open' and then 'Other Cloud Storage'.
2. From there select Nextcloud and

[2017-09-01 14:36] AndyScherzinger commented on #1479
Hi @rkoehler2017,

thnaks for moving your issue from the forum over here. @mario @tobiasKaminsky any ideas? :)

[2017-09-01 14:42] mario commented on #1479
Ssl cipher?

On Fri, 1 Sep 2017 at 16:36, Andy Scherzinger <notifications@github.com>
wrote:

[2017-09-01 16:54] srkunze commented on #1441
Sounds good. :)

I'd like plan out details a little bit since some refactoring would make the solution to sort orders very easy to handle. Let me know if that's okay with you or if you prefer a less intrusive code change.

- [ ] find my way around in the code
- [ ] use a common way to address sort orders to make storage easy
- [ ] generalize isGridViewPreferred = getFolderPreference or something
-

[2017-09-01 19:48] jmhunter commented on #1469
Thanks @tobiasKaminsky, I will do. I'm away for two days with limited connectivity - can it wait till after then? Otherwise, I can find a wifi hotspot and set an account up.. I don't want to hold up any releases..

[2017-09-01 19:50] AndyScherzinger commented on #1469
@jmhunter no worries, Tobias and I won't be available this weekend :)

[2017-09-02 04:45] OlivierS1 commented on #1445
I had a case on Dev when uploading to Wifi only was enabled and "Upload on charge only".
As soon as the phone was disconnected and wifi connection lost, then the file would have been deleted from the phone without having a chance to being uploaded.
I haven't checked on RC as it conflict with my Dev version.

[2017-09-02 06:44] rkoehler2017 commented on #1479
If installed now a SSL Certificate on my Server
Configured the APP for the new connection
![grafik](https://user-images.githubusercontent.com/31540737/29993554-b44406be-8fba-11e7-9d7d-5fd2daf516dd.png)
Same Prob, no files

Something to configure on the Server?

[2017-09-02 10:02] shtrom commented on #1445
Yup, still happens on RC5.

[2017-09-02 14:08] amo13 opened #1483 "unable to start app on cyanogenmod 11 (Android 4.4.4) without GApps"
### Actual behaviour
- Starting the nextcloud app just briefly shows the login screen and then the app crashes with android saying "nextcloud wurde beendet"
- To me it looks like the missing Google Apps are the problem, but in my opinion the nextcloud app should not rely on these in any way

### Environment data
Android version: 4.4.4

Device model: HTC One S

Stock or customized system: Cyanogenm

[2017-09-02 21:39] srkunze commented on #1441
Done. It seems to work the way I tended it to work. I'm going to do some further testing then compiling some pull request(s) to have the changes reviewed. Stay tuned. :)

[2017-09-03 06:02] Kartik2016 commented on #1310
I am a beginner. Can i work on this ? Please elaborate a bit on the issue and also which file/package will need to be modified. Thank you.

[2017-09-03 06:03] AndyScherzinger commented on #1441
Sounds great @srkunze, also like the described solution :)
Nice, clean and tidy :+1:
Will be back at a computer tomorrow :)

[2017-09-03 13:45] memen45 commented on #1481
After searching a little more for a possible cause I suspect it has to do with the webdav server. Since the webdav server used by nextcloud does not support locking of files, it will open in read-only mode. Can someone endorse this? Because in that case I should probably post this to the nextcloud/server git instead of this one. Thanks in advance

[2017-09-03 15:06] lynxis commented on #1483
I could verify this bug using nextcloud server: 12.0.2 and nextcloud android: 1.4.2 via fdroid.
Version 2.0.0 RC5 works fine.

[2017-09-03 16:18] jasonbayton commented on #1310
This may be worth waiting until 2.0 is released, but @AndyScherzinger or @tobiasKaminsky can help

[2017-09-03 16:19] jasonbayton commented on #1481
Can't state with authority, but I'd propose opening it on nc/server too just in case.

[2017-09-03 16:23] jasonbayton commented on #1454
Not sure there's too much to discuss, it's safest if it just restarts should it detect a discrepancy between the file when starting and the file when restarting. Make that happen 👍

[2017-09-03 16:35] Kartik2016 commented on #1310
I don't understand. The issue was opened to wait for version 2.0 release and then see if the issue still existed ? Is the issue not open for people to work on. I am a newbie please guide.

[2017-09-03 20:15] jmhunter commented on #1469
Test account created and thankfully I reproduced the problem straight away using it.. that's a good sign at least.

Login details have been emailed to android@ - let me know if they don't arrive for some reason.

I also did check the nextcloud.log file on the server and as expected there are many `Login failed: 'XXXXXX-XXXX-XXXX...'` messages on the server side, once the Android client switches to

[2017-09-03 21:27] amo13 commented on #1483
Oh yes, I did not see Version 2.0.0 RC5 on fdroid, because it installed 1.4.2 automatically. Thanks for pointing me to this!
Closed.

[2017-09-04 07:32] AndyScherzinger opened #1487 "Theming change invertion threshold to 55%"
raise threshold from 50 to 55% as changed on the server side, see https://github.com/nextcloud/server/pull/6344 and https://github.com/nextcloud/server/issues/4776

[2017-09-04 08:41] AndyScherzinger commented on #1310
@Kartik2016 of course you can work on it, sure. To be discussed is the solution itself though in my opinion since I didn't yet full understand what should be changed how excactly, as in:

* one, single folder where all auto uploads should go to?
* one, single folder where all sub folders per auto upload folder should go to?
* just the name of the folder? (then laying on the top folder)
* any folde

[2017-09-04 08:42] AndyScherzinger commented on #1310
@Kartik2016 other than that @tobiasKaminsky @mario and I are/will always be happy to help/assist with any matter regarding finding the right places in the code base 😃👍

[2017-09-04 09:14] jancborchardt commented on #1441
@srkunze I just added you to the Nextcloud organization too, so you should be able to work in a branch on the main repository. :)

[2017-09-04 09:15] tribut commented on #1419
Unfortunately I do not have the authority to do that. I could mitm the communication of the app with the NC instance if that's helpful?

[2017-09-04 09:17] Kartik2016 commented on #1310
Thank you for the insight. I now fully understand the concern and now i know that issues need to be discussed here first. Thanks a lot.

[2017-09-04 09:18] enoch85 commented on #1310
@AndyScherzinger Aaah new avatar, nice! :D

[2017-09-04 09:19] jancborchardt commented on #1310
Not sure I fully understand, but it seems:

- Generally check if a folder "Auto upload" or "Instant upload" (or whichever spelling we used) already exists on the server root - then use that.
- On new installs, use the new folder name

Definitely should not be a setting.

[2017-09-04 09:44] jasonbayton commented on #1310
Disregard the renaming of instantupload as that's a whole rabbit hole issue.

This is just giving users a convenience tool:

The NC app sets the InstantUpload folder as default when I install fresh, then for every consecutive folder I choose to upload it sets it again back to default, so I have to change it.

If my 15 media folder uploads should go to `Multimedia > Nexus > Uploads` instead of `Ins

[2017-09-04 10:08] DOWAIZA commented on #1458
I have the same problem, on my iPhone too, so maybe a server site problem?

[2017-09-04 10:09] jasonbayton commented on #1445
@mario @AndyScherzinger @tobiasKaminsky

Pretty bad bug..

[2017-09-04 10:10] khartahk commented on #1445
I don't know if this is the same issue but for me this happens:
1. Set move to program folder
2. take a picture
3. I need to enable advanced options and do a refresh to find new images
4. go into all files and find the folder where the image is uploaded
5. see the green checkmark for a second and the it disappears
6. need to re-download the file

[2017-09-04 10:29] DOWAIZA commented on #1458
This Problem seems only to appear when i login with an LDAP (openLDAP) user. When i use the local admin user i stay logged in.

[2017-09-04 12:01] AndyScherzinger commented on #1481
The issue with the Android client is that the app ships with a document provider which only implements ```read``` at the moment which is why it is opened as "read-only".
So the document provider would need to be extended to also support the write operation and then this should be possible.

[2017-09-04 12:50] jasonbayton commented on #1481
@AndyScherzinger 2.1? 👍 😆

[2017-09-04 13:02] AndyScherzinger commented on #1481
@jasonbayton rather not 😆 while this needs to handle some more infos... because we wouldn't get a signal when the file has been written, so no auto-magic uploads...

[2017-09-04 13:14] lynxis commented on #1483
It's not installed as default because it's marked as development. Maybe you should reopen this bug as long the latest "default" version is still broken.

[2017-09-04 13:25] AndyScherzinger commented on #1483
@lynxis I labeled the issue "2.0.0" so at least (in the future) it will be clear that this matter has been resolved with 2.0.0 :)

[2017-09-04 13:27] memen45 commented on #1481
You mean that modifications to the files would be directly uploaded to the server instead of through the nextcloud app?

[2017-09-04 13:34] AndyScherzinger commented on #1481
no, I mean they wouldn't be uploaded since the app might not "know" of the changed file. It would simply be saved on the device by the other app but the Nextcloud app might not be aware of the file been written and thus wouldn't do anything.
This is jsut a "maybe" since we have no experience with writing files via the so called document provider.

[2017-09-04 13:44] cowai opened #1490 "Feature request: Ability to keep low resolution images on phone."
After an image has auto uploaded, it would be nice to let me keep a lower quality version locally on my phone, with exact same path as the original. This way I could use normal gallery app on my phone to browse all my photos, without thinking too much about storage use.

This would not be the same as using the app to browse images, as that needs to fetch the thumbnail/preview from server. What I a

[2017-09-04 13:57] amo13 commented on #1483
Ok, reopening until the default version on fdroid works. I hope I'm going to remember closing it again ;)

[2017-09-04 14:00] memen45 commented on #1481
Ah okay, a little more complicated than it seems. If the document provider would use a uri instead of the local file (that was downloaded just after picking it) then saving back would save it directly to the uri - i.e. the server.
Another less smooth solution: if the folder syncing feature will be implemented in the app, you could sync the folder with the document and then just -open the local fil

[2017-09-04 14:03] AndyScherzinger commented on #1481
No since it retrieval always goes through the Nextcloud Android app's document provider.

correct,yes

[2017-09-04 14:43] togglecode opened #1491 "App crashes if user enters wrong credentials"
### Actual behaviour
-App crashes if User enters wrong credentials in login

### Expected behaviour
-App should not crash and just prompt that the username password is incorrect

### Steps to reproduce
1. Try to login to a Nextcloud Server Version 11
2. Enter wrong credentials
3. App totally crashes

### Environment data
Android version: 7.1.2

Device model: Moto Play

Nextcloud app version: 2.0.0

[2017-09-04 14:45] togglecode commented on #1491
@tobiasKaminsky You might wanna have a look at the Snackbar.make() line in AuthenticatorActivity.java:1826

[2017-09-04 14:48] AndyScherzinger commented on #1491
hi @togglecode this has been fixed by @tobiasKaminsky via #1463 and will ship with RC6 🚀

[2017-09-04 14:48] #1491 closed

[2017-09-04 14:51] togglecode commented on #1491
@AndyScherzinger Sorry my bad, didn't search in closed issue. Thanks

[2017-09-04 14:52] AndyScherzinger commented on #1491
no worries @togglecode - most important thing is, that is has been fixed :) better have it reported twice and fixed than not reported at all 👍

[2017-09-04 15:42] PhieF commented on #1458
My method

- I login
- Server is unavailable BUT my mobile has the internet (issue with DNS in
my case)
- that leads to the problem
Le 31 août 2017 8:58 AM, "Tobias Kaminsky" <notifications@github.com> a
écrit :

Strange.

   - I connected to a NC12 instance with the new login method.
   - turn off data
   - refresh data -> not working -> timeout
   - closing, opening app
   - cycling through exis

[2017-09-04 15:51] MHBraun commented on #1330
Understand.
Then please change the subfolder mm to yyyymm.
This is way less flexible for the user but it solves the issue.
This is probably the generic approach you are looking for. :-)

[2017-09-04 16:57] j-ed commented on #1380
I was a little bit curious what the users has written and used Google translator for the translation:

**Actual behaviour**
If you try to load a directory from the server which contains many files, the app crashes.

**Expected behaviour**
The app should load all files or directories 1:1 without crashing. It should also keep an index of the direcory entries to speed-up the load process (*... and pr

[2017-09-04 17:14] j-ed commented on #1378
After installing DEV-20170901 I found out that the described behavior seems to be cause by an extremely slow thumbnail generation and transfer to the mobile device. In detail the process look like this:
1. You open a directory.
2. The directory content is loaded and an animation at the top of the window is showing the progress.
3. After the animation has stopped all files are shown without any thu

[2017-09-04 17:16] srkunze commented on #1441
@jancborchardt Thanks. :)

[2017-09-04 18:30] lucasmr commented on #1444
Thought the app was not working because of this. Selected an existing folder with files and the auto-upload didn't send them.

[2017-09-04 20:03] AndyScherzinger commented on #1444
At this very moment the implementation only supports upload of files created after auto upload has been setup while as mentioned here we plan to extend this feature to also support the upload of already existing files.

[2017-09-04 20:52] enoch85 commented on #1450
Just tested dev 20170818 and it doesn't happen on my Nexus 5. Seems to be the P10 only.

[2017-09-04 23:03] swalladge commented on #1458
I'm having similar problems. Randomly gets me to login again, also with LDAP users. This is on Android nougat, after upgrade from lollipop (haven't tried wiping files, but did clear all though settings)

[2017-09-05 06:31] tobiasKaminsky commented on #1483
This is the real error and was reported long time ago in #946 and then fixed.

Let us do it the other way around: if the problem still occurs after 2.0 release, please re-open ;-)

[2017-09-05 06:31] #1483 closed

[2017-09-05 06:35] tobiasKaminsky commented on #1400
No idea, how this happens. I assume a wrong database update.

[2017-09-05 06:43] tobiasKaminsky commented on #1469
I saw that you are running a NC10 version, which is end of life.
As it might be that this error was fixed in newer releases, please upgrade before we spent more effort in debugging this.

[2017-09-05 06:49] tobiasKaminsky commented on #1419
Then it is very hard to debug it.

Does this mean that it is working on NC12 (without LDAP) and on NC10 (with LDAP) not?
NC10 is end of life and maybe this ldap bug was fixed in one of the newer version, so please upgrade before we spent more time in debugging this.

[2017-09-05 07:07] timmersr commented on #1325
I'm unaware of what caused it, but it is solved now. As the new test-account had no issues at all, this was account-related. Something I could not influence,

So I created another user, rsync-ed all my files to the new account, reindexed my files, tried the 'account first login' and on success removed the old account.

[2017-09-05 07:25] AndyScherzinger commented on #1400
Highly likely to be the same root cause, yes. So I'd say ignore until 2.0.0 stable and then watch the developer console for reports.

[2017-09-05 09:44] jmhunter commented on #1469
Are we saying that the NC Android client 2.0 will require a minimum version of NC >10? That'd be disappointing, as the bug does not exist in NC Android client 1.4.3, it came in when I tried the beta client (2.0.0RC2 I think).

Upgrading the server is on my list of things to do, certainly - but I believe this to be a client-side bug rather than a server-side bug? I haven"t changed the server, yet a

[2017-09-05 09:46] mase76 commented on #1093
I have updated to 2.0.0rc5 from F-Droid. Today I checked the accounts section, and there was no
Nextclound sync since 4 days. I had to trigger manually. Battery optimization is turned off for
Nextcloud.

[2017-09-05 10:08] AndyScherzinger commented on #1093
@mase76 the account sync isn't important (or triggered by the app). As for the image/video upload please check the upload menu item in the app and the auto upload settings via the menu. There you should activate the upload for the camera folder (image and/or video) and after taking pictures check if they will/have been uploaded depending on the upload conditions you specified (like wifi only for e

[2017-09-05 10:12] #1487 closed

[2017-09-05 10:40] mase76 commented on #1093
I don't have any automatic upload activated. I only want to have my files synced, that are in my
Nextcloud. These are textfiles or my pw database. Maybe you could add a sync interval like the
Nextcloud newsreader has. Also Davdroid has a sync interval.

[2017-09-05 10:56] tribut commented on #1419
Yes. I have since updated the LDAP-based NC instance to 12.0.2 and the problem remains.

I'll see if I can find something interesting from the http traffic. Otherwise I'll setup another ldap server with only my users' data in it to maybe reproduce it. Creating a test account there would be no problem.

[2017-09-05 11:18] AndyScherzinger commented on #1093
@mase76 did you mark these files as "available offline" within the Nextcloud Android app?

[2017-09-05 11:22] jancborchardt opened #1493 "Auto upload: Screenshots folder should have priority sorting"
Currently there’s two folders important for me to auto-upload: Camera and Screenshots.

Camera is correctly sorted up top. Screenshots however is all the way on the bottom between folders of album covers and such on the SD card. It should be given priority sorting and put to the top, even when not synced.

What do you think @tobiasKaminsky @AndyScherzinger?

[2017-09-05 11:31] mario commented on #1493
Makes no sense to me? Why would Screenshots get preferential treatment? Afaik Camera is at the top because we sort by (IMHO correct) by alphabet.

[2017-09-05 12:01] NathanRVance opened #1494 "Cannot connect via app over LAN"
### Actual behaviour
The android app cannot connect to a Nextcloud server over LAN, but it can connect to the same server from outside the local network. There is no issue in connecting via a web browser, local or not, even on android.

### Expected behaviour
The app shouldn't have a problem connecting if a web browser has no problem connecting.

### Steps to reproduce
1. Install Nextcloud on a se

[2017-09-05 12:22] mase76 commented on #1093
Yes, I did.

[2017-09-05 12:53] AndyScherzinger commented on #1093
@mase76 can you please create a new issue for this matter since this is then not releated to the auto upload feature (topic of this issue), so the dev community can have a look at it. Highly appreciate your efforts!

[2017-09-05 13:28] mase76 opened #1495 "No account sync"
Hi!
I have installed version 2.0.0rc5 of the client. As before, there is no automatic account sync of my
files. I did not set up an automatic upload in the app, I only want to have my files synced. I marked
them to be available offline. I have to trigger the sync manually.
Maybe you could add a sync interval like Nextcloud newsreader or Davdroid has.

[2017-09-05 13:28] mase76 commented on #1093
I did so.

[2017-09-05 13:37] AndyScherzinger commented on #1493
I'd also vote against it since for me Screenshots is the least important folder to me.

This is imho a personal preference, I for example care about Camera, Instagram and WhatsApp

* Kind of... We sort alphanumerically (by alphabet) but give "Camera" a priority since we "decided" that for auto upload this would be the most important folder ever
* At the very top are always the active one, so if so

[2017-09-05 13:37] AndyScherzinger commented on #1093
Thanks! :)

[2017-09-05 13:38] AndyScherzinger commented on #1495
@tobiasKaminsky @mario any idea? Imho the client does have a sync intervall and should sync the files back and forth, no?

[2017-09-05 14:00] AndyScherzinger opened #1496 "Login issue - 2.0.0 - web login check issue"
URL for reproducing the behavior: https://nextcloud.innovazionedigitale.it

Screenshot:
![ac047b9a172175059fbca652c038d7c306e9f501](https://user-images.githubusercontent.com/1315170/30064855-4d4764e2-9253-11e7-8413-45718a6a408d.JPG)

App's log:
[code]

[2017-09-05 14:02] AndyScherzinger commented on #1496
@tobiasKaminsky would you mind having a look at this. Somehow the result is ```Authentication method found: UNKNOWN``` and the fallback simply doesn't show the username/password.

I could reproduce this (app log from my phone reproducing this issue) with the latest master, so this issue is present on the latest code base.

[2017-09-05 14:52] tobiasKaminsky commented on #1496
Accessing https://nextcloud.innovazionedigitale.it/remote.php/webdav/ should give
"This is the WebDAV interface. It can only be accessed by WebDAV clients such as the Nextcloud desktop sync client.", but we get "401 Unauthorized".

--> at least in this current state I assume a server misconfiguration.

[2017-09-05 14:54] AndyScherzinger commented on #1496
Can you reply here: https://help.nextcloud.com/t/nextcloud-androi-app-login-failed/19005
According to the report iOS and web do work :/

[2017-09-05 14:56] AndyScherzinger commented on #1496
@tobiasKaminsky still, looking at the screenshot, at least the error message is quite misleading since it says username/password wrong while you never entered any of these...

[2017-09-05 16:53] jancborchardt commented on #1493
I wasnt talking about _top_ priority. The current state though is that I have around 50-100 other folders in that list I need to scroll past - and they are all irrelevant to autoupload since they are album covers from my music.

So this, and WhatsApp, other specific widely used ones should definitely be specifically sorted before any random folders with images.

[2017-09-05 17:50] mario commented on #1493
@jancborchardt this explanation makes more sense, but it's rather tricky as we can also have "Snapchat" folder without it actually belonging to Snapchat. Edge case, I know, but still...

[2017-09-05 19:07] AndyScherzinger commented on #1493
@jancborchardt kind of different approach I wanted to implement / suggest at some point anyways: allow the user to hide folders in the auto upload view.

Would that be something that should be implemented and would this work around this issue? I know it is not as nice as an intelligent sorting while I don't know how to actually implement that since we would then need a list of typical app folders

[2017-09-05 19:12] mario commented on #1493
Oh my. This further complicates it...

On Tue, Sep 5, 2017 at 9:07 PM, Andy Scherzinger <notifications@github.com>
wrote:

[2017-09-05 19:22] AndyScherzinger commented on #1493
xD

Just a thought ;) No worries :D

[2017-09-05 19:28] prilly opened #1498 "Autoupload skips folders"
### Actual behaviour
setting up a custom autoupload rule for a folder should copy all content in the folder, actualy only files are autouploaded, folder structure that reside in the autoupload folder is skipped.

### Expected behaviour
setting up a custom autoupload rule for a folder should copy all content in the folder, including folders.

### Steps to reproduce
1.  add autoupload of a custom fo

[2017-09-05 22:03] NathanRVance commented on #1494
Turns out, it was an issue with IPv6. As soon as I disabled IPv6 on my router, I could connect.
That being said, is there any reason why the app can't try connecting over both IPv6 and IPv4, and use whichever one connects successfully?

[2017-09-06 05:48] tobiasKaminsky commented on #1496
On 1.4.3 the error message is "could not find host".
I'll postpone this to 2.0.1 as it is in first instance a problem with the server (at least for android and its workflow).

[2017-09-06 06:38] mario commented on #1494
The app does not support IPv6 yet.

[2017-09-06 06:38] AndyScherzinger commented on #1494
The reason is that the library we use for the webdav communication supports ipv4 only and that there is no Android compatible implementation yet that supports ipv6 :(

[2017-09-06 07:28] mario commented on #1295
@AndyScherzinger ? :D Why close this? xD

[2017-09-06 07:29] AndyScherzinger commented on #1295
reopened... well, it auto closes since your PR said resolves 1295 and thus GH auto closes the issue when the PR is merged 😉

[2017-09-06 07:49] Innovazionedigitale commented on #1496
Hi @tobiasKaminsky ,
Thank you for your answer, can i ask if you have an idea of the approximate period when the 2.0.1 version will be released?
Thank you so much.

[2017-09-06 10:17] comradekingu commented on #1493
@jancborchardt How about being able to scroll upwards to get to the latest ones, (bottom of list) if sorted by date?
It would at least give quick access to two places.

[2017-09-06 11:38] tobiasKaminsky commented on #1295
Postponing as it is an edge case ;-)

[2017-09-06 11:55] tobiasKaminsky commented on #1469
We upgraded the login mechanism to harden security and tested it on all supported (NC >=11) versions.
There will be a fallback mechanism during new login method if you wait long enough (~45s), which might work.

[2017-09-06 11:57] tribut commented on #1419
Just FYI: I just got feedback that the iOS Nextcloud app has the same behavior: It logs in very briefly and then disconnects. The server shows multiple login attempts with the ldap ID as username.

This also explains why some users were complaining about slow login times, because brute force detection is also kicking in.

[2017-09-06 11:59] AndyScherzinger commented on #1450
postponing to post-2.0.0 then :)

[2017-09-06 11:59] mario commented on #1419
@tribut yes. Explanations have been made by all relevant parties so this will be improved.

cc @tobiasKaminsky

[2017-09-06 12:00] mario commented on #1450
Or it got fixed with soon-to-be-released RC6. We'll never know xD

[2017-09-06 12:01] AndyScherzinger commented on #1450
Yeah, probably... @enoch85 would you mind providing an update to this issue for RC6 whenever it will be released? :)

[2017-09-06 12:17] tribut commented on #1419
Great! :+1:
So further information from me is no longer needed to reproduce this?

[2017-09-06 12:29] mario commented on #1419
Hopefully not, but you will be needed to test still ;) @tribut

[2017-09-06 13:19] Deltafox79 opened #1501 "Linee break not parser and float button alignment error on Tablet"
### Actual behaviour
1) the string <string name="auth_register"> not parse \n linee break in italian I read

Non hai ancora un server?**\n**Fai clic qui per ottenerne uno da un fornitore

![screenshot_20170906-150433](https://user-images.githubusercontent.com/2518850/30113928-8ad400ae-9316-11e7-8f7e-b3d706ead578.png)

2) The Float + Button is disallign on Tablet Portrai mode..

![screenshot_201709

[2017-09-06 13:29] MorrisJobke opened #1502 "Bruteforce protection and login"
* do a lot of failed logins
* try to login via Android
* expected: it takes long, but will log in (max penalty for this is 30 seconds on the server - so 40 seconds should be fine)
* actual: it says "Request takes too long" and fails

Maybe there could be a soft-fail: after 5 seconds a little hint that expands below the circle: "Yes, request is still running. Either the server is slow or the brute

[2017-09-06 13:33] MorrisJobke commented on #1502
Maybe this should be also improved in the server to clear the entries for a user from the IP, if the users logs properly in: https://github.com/nextcloud/server/issues/3156

[2017-09-06 13:39] NathanRVance commented on #1494
Ah, so this is a known issue. I'll close it then. Thanks!

[2017-09-06 13:39] #1494 closed

[2017-09-06 13:41] RobTranquillo commented on #1502
Minimum solution:

-  hint at the login or at the admin console.
Better solution:

- hint at the login or at the admin console.
- the hint shows the penalty time
- the penalty is triggered later

Best Solution:

- hint at the login or at the admin console.
- the hint shows the penalty time
- the penalty is triggered later
- reset button (clears the oc_bruteforce_attempts of some users login fails)

[2017-09-06 14:26] AndyScherzinger commented on #1502
@tobiasKaminsky if I remember correctly you already discussed this general matter with @LukasReschke and we don't have a way to detect the brute force penalty. So should we just raise the timeout while I thought we already did that...seems we didn't.

[2017-09-06 14:30] AndyScherzinger commented on #1501
Hi @Deltafox79,

thanks for your report! :)

1. \n line break is afaik already fixed in the latest release candidate 2.0.0RC5
2. Is actually correct since the FAB belongs to the list which is only filling the left pane while the right pane is to show previews, file details, etc.

Hope this clears things up :)

[2017-09-06 14:30] #1501 closed

[2017-09-06 14:51] AndyScherzinger commented on #1456
fix provided via #1500

[2017-09-06 17:46] Heidistein commented on #1325
Could you dive into what solver your issue? I am facing the same troubles...
Will look into Dutch translations when time permits. :)

[2017-09-06 17:52] timmersr commented on #1325
You can try my work-around to solve it.
If you execute it twice, you may even return to the current account name.

[2017-09-06 17:53] MorrisJobke commented on #1502
What does that mean?

nextcloud/server#3156 & nextcloud/server#3058

[2017-09-06 18:00] Heidistein commented on #1325
That is not really an option. First, it is an ldap user, so removing it mean lots of logins must change.
And migrating contacts and calendars (also using shares) is a pita too. Passman is doable.

[2017-09-06 18:17] timmersr commented on #1325
I just feel lucky that everything seems to work without having to reinstall and 'All checks passed' shows when I log on. Sorry that I can't help you; Nextcloud and Linux experience both do no run very deep with me.

[2017-09-06 18:31] RobTranquillo commented on #1502
Just raise the limits, that more logins can fail.

[2017-09-06 18:53] jancborchardt commented on #1493
No, as it doesn’t change the default. ;)

I had no idea this would be such a big discussion. In my experience there are _two_ picture folders in a default Android install (without any additional apps) which can have stuff which is only on your phone and you would need to back up. One is **Camera**, the other **Screenshots**. We do list Camera first correctly already, so putting Screenshots below s

[2017-09-07 07:36] jmhunter commented on #1469
Thanks Tobias. Unfortunately the fallback mechanism consistently doesn't work for me - the current builds of the Android client just don't work with [my] NC10 at all.

[2017-09-07 07:39] mario commented on #1469
Can I get test account on mario@nextcloud.com please?

On Thu, 7 Sep 2017 at 09:36, jmhunter <notifications@github.com> wrote:

[2017-09-07 09:12] #1456 closed

[2017-09-07 09:54] Deltafox79 commented on #1501
hi I have compiled today the **v2.0.0Rc6** but the issue number 2 is already present.. is not fixed..

![screenshot_20170907-114821](https://user-images.githubusercontent.com/2518850/30157679-3482f98c-93c3-11e7-9157-446ceb000d7f.png)

Best regards

[2017-09-07 09:57] AndyScherzinger commented on #1501
@Deltafox79 sorry if I didn't elaborate enough. If you have the file listing on the left and e.g. for a file choose "Details" via the long press it will be shown on the right pane see for example the screenshots in #912. The FAB belongs to the left pane.

pinging @nextcloud/designers for further input since this is in general related to the overall tablet UI discussion e.g. #912

[2017-09-07 13:11] srkunze opened #1508 "Using Arbitrary Data Provider for Layout and Sort Order"
Based on #1484

########

Well, first of all, I would evaluate if that's really an issue.
If it's really an issue, I then would ask the person who wrote isGridViewPreferred, what his evaluation was, and how he intended to solve it if at all. :)

If I had to solve it, I tend to use a database having foreign keys and constraints available. So, in case a folder gets removed, we only need to remove al

[2017-09-07 13:20] srkunze commented on #1508
I have some head ache when we define our own mini-serialization-language with "sort_12345" or "layout_12345".

If you insist on it, I will implement it this way, but it doesn't strike me as overall good design from my perspective.

I am no expert in Android background jobs. How would the Nextcloud/Android-way of cleaning up deleted folders look like? Is there some kind of cron? :)

The algorithm,

[2017-09-07 13:25] srkunze commented on #1508
@mario Regarding a new "layout" preference, I even had it implemented for a short period of time but removed it as the existing changes were big enough already. Though, I am also for changing that part to an more extensible one (so people can easily add more layouts besides "list" and "grid", e.g. "book-like" or something).

[2017-09-07 13:28] jancborchardt commented on #1501
@AndyScherzinger maybe for tablets (or when both file list and detail view are visible) let's move the FAB to the left instead of right in the list?

[2017-09-07 13:29] jancborchardt commented on #1501
(Or is there a different design consensus in other Material apps?)

[2017-09-07 13:41] AndyScherzinger commented on #1501
Hard to tell since imho there hasn't been a single pattern that evolved as a standard. According to Material it should be put into an extended Toolbar (top right), see https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions while that would mean for our layouts that we loose some space due to a larger (in height) toolbar just for the

[2017-09-07 13:43] AndyScherzinger commented on #1501
See also https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-patterns at the very bottom of the page.

[2017-09-07 13:48] jancborchardt commented on #1501
@AndyScherzinger on tablet there's enough space, and it will also feel more light and nicer with more breathing space. So I'd say let's go for the larger top bar with fab in top right. :)

[2017-09-07 13:49] AndyScherzinger commented on #1501
sounds good to me 👍

[2017-09-07 13:54] AndyScherzinger opened #1509 "Move FAB button to extended toolbar for tablet layouts"
### Actual behaviour
-For tablet layouts the fab is bound to the left pane which is the files listing
![fileizxw8d](https://cloud.githubusercontent.com/assets/5836855/25553543/60dd71fc-2cb6-11e7-825b-e7f58a43022e.png)

### Expected behaviour
-Fab should be bound to an extended toolbar as described in material design guidelines https://material.io/guidelines/components/buttons-floating-action-butto

[2017-09-07 13:55] AndyScherzinger commented on #912
issue for FAB positioning on tablet UIs: #1509

[2017-09-07 13:55] AndyScherzinger commented on #1501
issue for FAB positioning on tablet UIs: #1509

[2017-09-07 14:48] baustromverteiler opened #1510 "no autoupload on 2.0.0RC5?"
### Actual behaviour
Installed the beta from google play because I was having issues with the gallery / picture preview feature from the release (wasn't working), autoupload was working. manual upload via 'share' feature of gallery app works without problems

### Expected behaviour
Newly taken pictures should be automatically uploaded to my nextcloud

### Steps to reproduce
1. Configure Autoupload

[2017-09-07 15:11] AndyScherzinger opened #1511 "RC4/5: NPE in FilesSyncHelper.scheduleNJobs"
[code]

LoC:
[code]
I'd say ```MainApp.getAppContext()``` in ```null```

[2017-09-07 16:51] comradekingu commented on #912
Considering most people are right handed and left eye dominant (?) Wouldnt the opposite of this make sense:
![bilde](https://user-images.githubusercontent.com/13802408/30175022-5cefbeb6-93fd-11e7-9e13-7bc1be16c20f.png)

Or is your hand then in the way of what you are trying to see? To me it seems if in the way, it would be preferable to only have it cover the latter part of the filename, though th

[2017-09-07 18:00] stalker314314 opened #1513 "Footer text wrong in languages with multiple plurals"
### Actual behaviour
OCFileListFragment.generateFooterText doesn't honor languages with multiple plurals. In those languages, translations are limited (and wrong). For example, "file_list__footer__files" is not plural resource and as such, will not make sense in those languages

### Expected behaviour
Use plural resource to show files and folders in footer. Ideally, logic of this method could be s

[2017-09-07 18:02] srkunze commented on #1433
@AndyScherzinger Do you have a place for me to look at for this particular problem? :)

[2017-09-07 18:06] srkunze commented on #1417
![image](https://user-images.githubusercontent.com/1389648/30178063-0203ddd8-9408-11e7-93ab-b8989edcea5b.png)

[Copy-pasted here directly]

[2017-09-07 18:07] mario commented on #1433
This should be fixed in master maybe, since now timestamps are proper? :P Can you try?

[2017-09-07 18:15] srkunze commented on #1433
@mario Oh, okay. Didn't see the pull request.
Already in RC in PlayStore? Or do I need to build it and somehow transfer it to my phone?

[2017-09-07 18:17] mario commented on #1433
https://github.com/nextcloud/android-library/pull/82 :)

It's part of Master of this repo. So either you build it via Android Studio or wait for next RC (hopefully tomorrow).

[2017-09-07 18:21] srkunze commented on #1433
Ah, a different repo. :) Cool, I wait until tomorrow and will then re-sync all my camera pictures.

Big thanks, @mario :+1: :+1: :+1:

[2017-09-07 18:32] AndyScherzinger commented on #1513
Thanks for your report.

This issue is due to the fact that we reimplemented the footer texts but don't yet have it merged to master, so this will be auto fixed as soon as it gets merged to master and people translate it on Transifex respecting the multiple plurals.

[2017-09-07 18:36] AndyScherzinger commented on #1417
Ah 😃
I opened an issue for discussion here #1509

[2017-09-07 18:37] AndyScherzinger commented on #1417
So I'd close this one in favor of the new one.

[2017-09-07 18:37] #1417 closed

[2017-09-07 18:56] stalker314314 commented on #1513
Interestingly enough, only reason I created task is to create PR. At least now I know now that:

- [my solution](https://github.com/stalker314314/android/commit/a29fa8a6362f3dc26f3a78b40a77d587b37e885c) is almost the same as [existing solution](https://github.com/nextcloud/android/commit/25c4ce2e57523d75aa91835845349d3677f2f770)
- There _is_ solution already:) Better luck next time for me, lesson

[2017-09-07 20:00] AndyScherzinger commented on #1513
I'd leave it open until the PR will be merged to master.

Sorry for the trouble :/ Did the change just yesterday...
We'd be happy to have you on board and can help with any task you would like to pick up :+1:
Best approach from my experience is to either create an issue for discussion first or pick an issue which is labeled "approved" but not yet assigned to anyone or labeled "prior exists". We al

[2017-09-07 20:21] jsargent7089 opened #1514 "Battery drain"
### Actual behaviour
-Tell us what happens
It never stop uploading the same photo
### Expected behaviour
-Tell us what should happen
upload the  the photo once
### Steps to reproduce
1. Use autophoto upload
2. Never stops upload the same photo

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:12.02

### Logs
#### We

[2017-09-07 20:56] marvinwankersteen commented on #1419
I have also the same problem. Backend is samba4 with AD.
Server: 12.0.2.
Android: 2.0.0.RC5

[2017-09-08 03:31] mario commented on #1419
@marvinwankersteen have you deleted your comment? If so, can I get a test account to mario@nextcloud.com?

[2017-09-08 07:54] AndyScherzinger commented on #1316
@tobiasKaminsky @mario could this be the originating issue when looking at the log:
[code]

[2017-09-08 07:55] mario commented on #1316
@jasonbayton do you have a test account I can test this with?

[2017-09-08 07:57] AndyScherzinger commented on #1316
To some extends reading through the comments it seems to be an account creation issue, so when an account has been present it worked and for a fresh install the account created was corrupt.

[2017-09-08 07:58] mario commented on #1316
KO. Hoping this is fixed with new RC by some magic PR that touched account creation code. We'll see xD

[2017-09-08 19:59] stalker314314 commented on #1277
I'll have a stab a this

[2017-09-08 21:08] AndyScherzinger commented on #1277
Sounds great, looking forward to it :)
If you have any questions don't hesitate!

@mario is the job scheduling expert around but @tobiasKaminsky and I will also support you in any way possible :+1:

[2017-09-09 07:48] stuart12 opened #1517 "Crash on first start with v1.4.2 on Android 5.1.1: FATAL EXCEPTION: main"
### Actual behaviour
- Nextcloud crashes on first start

### Expected behaviour
- Nextcloud should ask me to enter the server url, username and password

### Steps to reproduce
1. Install and use Owncloud
3. Install Nextcloud 1.4.2 from F-Droid
4. run Nextcloud
5. read "Unfortunately, nextcloud has stopped"

### Environment data
Android version: Android 5.1.1 (cyanogenmod 12.1-20160822-NIGHTLY-sco

[2017-09-09 08:14] tobiasKaminsky opened #1518 "Change password: hide "get new provider""
If user wants to change a password, one gets following screen:
![2017-09-09-101318](https://user-images.githubusercontent.com/5836855/30238416-8c95ba94-9547-11e7-8717-56be6d13f3b1.png)

Only password is editable.
--> If server url is fixed, do not show "do you net have a server yet..."

This is only valid for Server <12 as >=12 will use weblogin flow.

[2017-09-09 08:17] tobiasKaminsky opened #1519 "Push notification with old login"
Push notifications require to have an app password used instead of the "old" login with username/password.
If an user still uses the old login and access the push notification view a fixed snackbar should be shown with "For push notifications please use an app password" (or similar).

(as discussed at conf)

[2017-09-09 08:18] AndyScherzinger commented on #1518
:+1:

[2017-09-09 08:19] tobiasKaminsky opened #1520 "Uninstall app: remove all data"
Currently the data remains if the app is uninstalled.

On uninstalling the app, following should be deleted
- all accounts
- database
- all data

(as dicussed at conf)

[2017-09-09 08:20] AndyScherzinger commented on #1519
:+1:

[2017-09-09 08:20] tobiasKaminsky opened #1521 "Google Backups: exclude database"
In backup.config.xml we currently exclude evernote_jobs.* and we should also exclude our database.
Otherwise it can happen that the database is restored from a (google) backup and leads to inconsistent.

[2017-09-09 08:23] AndyScherzinger commented on #1520
:+1:

[2017-09-09 08:24] AndyScherzinger commented on #1521
👍

[2017-09-09 08:43] tobiasKaminsky opened #1522 "User manual"
Frankly, I never updated anything of the user manual and we have hardcoded checkout of a rather old version:
Submodule path 'user_manual/ocdoc': checked out '343496c792616459e8204b6614fd42a1b16a6d68' from 26 Jan 2015.

I suggest to drop this reference from our repo, so this will not get checked out anymore (will also speed up drone).

If we have (ever) time, we can do a rewrite of docs.

[2017-09-09 09:05] tobiasKaminsky opened #1523 "Dev version: no independant branch, but master"
As decided on conf we want to have the dev version to focus on the current master, to test all merged features as soon as possible.

For this we need a new flavor which replaces the appid,provider names, ...
It is a good start to compare dev-base (https://github.com/nextcloud/android/tree/dev-base) with master to see which files are necessary to be changed.

There will still be a nightly cronjob t

[2017-09-09 09:07] marvinwankersteen commented on #1419
@mario yes I deleted my comment because I thought its the wrong issue. If I wipe all data of the nextcloud app, I can login but after that I have to relogin. Its this issue: https://github.com/nextcloud/android/issues/1458
Do you still want a test account?

[2017-09-09 09:07] tobiasKaminsky opened #1524 "Update contributing.md with new merge/git workflow"
As discussed on the conf we want to try a slightly different workflow with master and a 2.x release branch.
@AndyScherzinger has the corresponding images and volunteered to draw & update the contributing.md

[2017-09-09 09:48] Riccardo2017 commented on #1469
I have switched to NC 2 RC5 this week and have the same issue. I have had NC server version 12.0.0 before and yesterday I updated to 12.0.2. The same behaviour.

I can login into my server sometimes. But I can't synchronize or even see any data. My client doesn't crash, but I only can see "loading data" and nothing happens. I also see in my NC server the messages "no user available".

Before I use

[2017-09-09 09:52] mario commented on #1469
@Riccardo2017 thanks for the offer. This has been fixed and will be in the next RC.

[2017-09-09 10:42] AndyScherzinger commented on #1524
I raised a concern to @mario about maybe rather go with Master + 2.0.x since then features would always go to master, strings would make it to master for translation.

After having thought a little about our discussion and decision I believe this to be a leaner approach since I think working on 3.0 on master isn't happening. We always went from release to release so master would then always be the

[2017-09-09 16:49] j-ed commented on #1523
@tobiasKaminsky Might this be the reason why currently no nighty builds can be downloaded?
[code]

[2017-09-10 05:52] SashaBC commented on #112
Confirmed. Establishing a connection works just fine if I disable WiFi on my new phone and use mobile data instead. It does not work otherwise.

[2017-09-10 08:08] stuart12 commented on #1517
Nextcloud dev 20170903 does not crash at startup on this tablet but I have not connected it to my server because I don't want to lose data.

[2017-09-10 09:24] AndyScherzinger commented on #1517
Hi @stuart12,

this isssue is solved for the next stable release 2.0.0. We will release 2.0.0RC6 probably next week so it should be to long until this is resolved.

[2017-09-10 09:24] #1517 closed

[2017-09-10 15:13] seanlynch commented on #603
I would also very much like to see this, because it protects from potential issues with the login page as well as weak passwords and password guessing attacks.

[2017-09-10 19:55] HomeServ opened #1525 "App stuck on opening vcf vCard in Android app"
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive dat

[2017-09-10 19:55] #1525 closed

[2017-09-10 19:58] HomeServ opened #1526 "App stuck on opening vcf vCard in Android app"
### Actual behaviour
- When opening vcf vCard file, app stuck in the contact restore window. Forced closing the app doesn't help.

### Expected behaviour
- When push back button/key go back to previous window.

### Steps to reproduce
1. Open vcf file in app
2. Push back button/key

### Environment data
Android version: 7.0

Device model: Samsung Galaxy S8

Stock or customized system: Stock Samsung

[2017-09-10 21:59] xXSTrikeXx opened #1528 "Doesn´t download album cover on .m4a files"
### Actual behaviour
Shows Album Cover´s in the Nextcloud Player, but it doesn´t show the covers in the android player.

### Expected behaviour
Should show the cover in the nextcloud player and also in the android music player.

### Steps to reproduce
1. Uploaded files (.m4a) from Itunes via Web (no App) into the cloud.
2. Downloaded via "Sync" order of the music folder.
3. When i open the music f

[2017-09-11 06:47] mario commented on #1526
Guess we need to fix this for next RC...

[2017-09-11 06:52] #1511 closed

[2017-09-11 07:36] tobiasKaminsky commented on #1304
@Bubu do you have time to create push RC6 on fdroid? Would be very great :tada:

[2017-09-11 08:40] tobiasKaminsky opened #1529 "UploadsStorageManagerTest"
This one fails due to https://github.com/nextcloud/android/commit/d099e7e52fddaf7ab8ec7a2a2a7778527a030738 as there the function removeAccountUploads was removed by @mario.

The test was introduced in https://github.com/nextcloud/android/commit/f7ce3e9ab59172d6848902c45a0ea52d027013f5 by @JARP

Please can you both check this and update the test to get this working again.
Currently the tests are no

[2017-09-11 09:41] Bubu commented on #1304
@tobiasKaminsky Will do!

[2017-09-11 13:42] fti7 opened #1530 "Feature Request: 2FA via Mobile App"
It would be really nice to be able to use the Mobile App to accept 2FA Logins via the Webbrowser.
Several Online Banking Apps use this Kind of 2FA for Transactions.

Workflow example - Login via Webbrowser:
1. Login with usual Username/Password
2. User chooses "Mobile App" as 2FA Mechanism
3. Mobile App: Message Popup with Browser/IP Address of the Browser Login
4. User can Accept/Decline it (Ther

[2017-09-11 14:32] mario commented on #1519
@AndyScherzinger where's this PR you talk about? :P

[2017-09-11 17:45] AndyScherzinger commented on #1528
Nothing we can do here... The Nextcloud Player basically reads the cover art from within the audio file and displays it. So 7f other players don't do that there is nothing we can do about that :/

[2017-09-11 17:45] #1528 closed

[2017-09-11 18:21] notmyrealhandle opened #1531 "nextcloud dev crashes and won't create user account"
### Actual behaviour
The nextcloud dev app crashes unexpectedly or simply reverts to the initial account creation display

### Expected behaviour
The app should create an account (on my android device).  At the least provide a normal user some feed back as to why the app is crashing or can't create an android account (even if this isn't the nextcloud app's fault - see below).

### Steps to reprodu

[2017-09-11 18:35] xXSTrikeXx commented on #1528
Sorry, but I think there is. Yesterday I thought it gets lost by downloading the files via the android app. Now I found out that the player isn´t even recognizing the files, because it´s in the android order ( i save my files to /storage/emulated/0/Android/data/com.nextcloud.client/files). I think thats the reason why the android music player isn´t analyzing the files and they aren´t shown up in t

[2017-09-11 19:17] xXSTrikeXx commented on #1528
@AndyScherzinger I looked up now on the second device (Galaxy S3 Neo, Android 4.4.2) and I see that the files are shown in the library, but also without album covers. The save directory of nc is there 'standard'.
There it´s not in the standard App folder (e.g. Android/data/com.nextcloud.client/files/Nick@Cloud...; like my Huawei device, look above).
There it´s in /storage/emulated/0/nextcloud/Nick

[2017-09-11 20:12] srkunze commented on #1433
Check!

[2017-09-11 20:12] #1433 closed

[2017-09-11 20:15] enoch85 commented on #1450
Seems like the error is gone in RC6, need to confirm a few more days before I can say certain. But initial tests didn't produce this error.

[2017-09-11 20:32] srkunze opened #1532 "Too many ever-changing notifications while uploading many files"
### Actual behaviour
![screenshot_20170911-221943](https://user-images.githubusercontent.com/1389648/30295195-0db89a66-9740-11e7-8632-d45598d0f9c0.png)

### Expected behaviour
Don't show anything. Maybe, maybe a single notification when uploaded all of them using a 5 minutes interval or so.

### Steps to reproduce
1. Upload your camera folder again to test out #1433
2. Having 3 or 2 notifications

[2017-09-11 20:58] mase76 commented on #1495
I think, a direct sync when local and marked as offline files change, and a custom sync interval would be fine. The same behaviour than davdroid. At least a sync interval.

[2017-09-11 21:04] AndyScherzinger commented on #1528
Oh, sorry. Then there are two issues to talk about actually :)
Files showing up in media libraries and cover art being displayed...

Files showing up should be covered by @tobiasKaminsky change since files showing up in media libraries depends on the storage location while cover art imho depends on the apps themselves.

[2017-09-12 03:45] seanlynch commented on #184
Just tried to do this myself and was quite surprised to find it isn't supported.

[2017-09-12 04:29] mario commented on #1433
Awesome ;)

On Mon, Sep 11, 2017 at 10:12 PM, Sven R. Kunze <notifications@github.com>
wrote:

[2017-09-12 04:29] mario commented on #1450
Awesome, feel free to close the issue once ready ;)

On Mon, Sep 11, 2017 at 10:15 PM, Daniel Hansson <notifications@github.com>
wrote:

[2017-09-12 04:30] mario commented on #1532
This is my goal. No notifications :)

On Mon, Sep 11, 2017 at 10:32 PM, Sven R. Kunze <notifications@github.com>
wrote:

[2017-09-12 04:31] mario commented on #1495
@AndyScherzinger didn't look into this part of code, but uses service to sync files which I assume isn't always alive. Like I said, all this needs to be moved into a sync adapter and then it'll work.

[2017-09-12 08:33] nille02 commented on #756
Nice that its fixed, i had this issue some time now and looked for a solution.

I see that there are 2.0 Release Candidates available, but why not upload them to the play store as a beta release?

[2017-09-12 08:34] mario commented on #756
They are a beta releAse there?:)

On Tue, 12 Sep 2017 at 10:33, nille02 <notifications@github.com> wrote:

[2017-09-12 08:37] nille02 commented on #756
Your right, at the bottom was the Beta Button. My bad, and thank for this nice app.

[2017-09-12 09:10] Ricardosgeral opened #1534 "Auto upload does not work in RC6"
### Actual behaviour
-set auto upload (I've tested with wifi on and off) to send pictures taken from camera. But nothing started after taking pictures

### Expected behaviour
-should upload to server the photos taken with phone

### Steps to reproduce
1.
2.
3.

### Environment data
Android version: 6.0.1

Device model: xiaomi redmi NOTE 4X

Stock or customized system:

Nextcloud app version: 2.0 R

[2017-09-12 09:11] deljones opened #1535 "Photos & Favs Won't Load"
Replaced RC5 with the new RC6. Followed instructions removing account and setting back up again.

Photos wont load from server
Favourites wont load from server

Using a Sony XperiaZ5
Android 7.1.1

Log is empty. Tried uninstall and restart

Dj

[2017-09-12 09:12] mario commented on #1535
Ldap powered setup?

On Tue, 12 Sep 2017 at 11:11, deljones <notifications@github.com> wrote:

[2017-09-12 09:12] mario commented on #1535
Also what nc version?

On Tue, 12 Sep 2017 at 11:12, Mario Đanić <mario.danic@gmail.com> wrote:

[2017-09-12 09:15] deljones commented on #1535
Hi Mario...

No LDAP in use, NC v12.0.2
Everything worked fine with RC5

D

[2017-09-12 09:17] mario commented on #1535
Can you send a test account to mario@nextcloud.com? I tested with NC 12.0.2
(and a few other people) and it all worked...

On Tue, Sep 12, 2017 at 11:15 AM, deljones <notifications@github.com> wrote:

[2017-09-12 09:29] AndyScherzinger opened #1536 "2.0.0RC6: NPE in com.owncloud.android.datamodel.FileDataStorageManager.saveShares"
[code]

LoC
[code]
imho means shareType is null and first report is for 2.0.0RC6. Not sure why the share type can be null, only idea would be that there is a new share type we don't know of yet and don't map leading to null.

What do you think @mario @tobiasKaminsky

[2017-09-12 09:36] AndyScherzinger commented on #1464
NPE has been reported again now for 2.0.0RC6, so issue remains

[2017-09-12 09:46] AndyScherzinger opened #1537 "GPlay: NPE on com.owncloud.android.ui.activity.ContactsPreferenceActivity.onCreate"
[code]
Reported for 2.0.0RC6

LoC
[code]

[2017-09-12 11:03] pieter-groeneweg commented on #1150
I have the 2.0.0RC6 from beta channel.
I enabled expert mode to have "force rescan".
When clicking "force rescan" it does not appear to do anything... Nothing shows in "Uploads" as "new uploads" or "pending" uploads.
You write "find new files to upload"... though it is files that are not new I need to have synced as they where missed previously by the app. (1.4.3)

[2017-09-12 12:23] paulmedynski opened #1538 "Remove/insert same SD card causes duplicate auto-upload of all images/videos"
### Actual behaviour
- Remove SD card with images/videos that have already been auto-uploaded
- Re-insert same SD card
- Observe that Nextcloud re-uploads duplicates of all images/videos

### Expected behaviour
-Nextcloud doesn't upload duplicates

### Steps to reproduce
1. Setup Nextcould to auto-upload new images/videos.
2. Take some pictures/videos and save them to the SD card.
3. Observe that

[2017-09-12 12:38] mario commented on #1150
This is not supported yet

On Tue, 12 Sep 2017 at 13:03, pieter-groeneweg <notifications@github.com>
wrote:

[2017-09-12 15:03] NiklasRosenstein commented on #82
I can confirm this behaviour and am currently annoyed by it. 😅 I just checked my NGinx log and was wondering where all these PROPFIND requests were coming from, for every single file in my cloud (and there's a goddamn lot of it). It must have been issuing all these requests for days now and hasn't finished yet.

[code]

etc. etc. It Seems like the only way to disable it is to remove the account fr

[2017-09-12 15:56] aronovgj commented on #82
@NiklasRosenstein have you tried killing the app? That "fixed" it for me.

[2017-09-12 18:13] mario commented on #1419
Better with RC6?

[2017-09-12 18:18] mario commented on #1450
@enoch85 still ok? :)

[2017-09-12 18:18] mario commented on #1535
Should be fixed via https://github.com/nextcloud/android/pull/1539.

[2017-09-12 18:18] mario commented on #1538
Fixed in 2.0.0 beta.

[2017-09-12 18:18] #1538 closed

[2017-09-12 18:19] mario commented on #1536
That's indeed true, and we need this fixed for 2.0.0.

[2017-09-12 18:23] mario commented on #1534
Do they appear in the the upload queue at all?

[2017-09-12 18:47] marvinwankersteen commented on #1419
Yes, it looks more stable and faster. I will test the next days and give you feedback.
Thanks!

[2017-09-12 19:14] paulmedynski commented on #1538
Excellent!  I signed up for the Play Store beta, so I'll update and check it out.  I have a similar problem with PowerAmp and it seems to stem from Android 7's desire to give the SD card a different mount point every time you insert it - annoying!

[2017-09-12 19:30] enoch85 commented on #1450
Forgot to put this on my todo-list and forgot actually. Sorry.

I checked now and I'm sad to say, it's still there.

[code]

Not as frequent as in the passed though.

[2017-09-12 19:49] Ricardosgeral commented on #1534
No,  nothing

On 12 Sep 2017 7:23 p.m., "Mario Đanić" <notifications@github.com> wrote:

[2017-09-12 21:02] AndyScherzinger commented on #1536
Do you know of share type we might have missed to support yet?

[2017-09-12 22:07] jmhunter commented on #1469
I can confirm that this is fixed in 2.0.0-RC6 - thank you all!

[2017-09-12 22:07] #1469 closed

[2017-09-13 05:28] mario commented on #1536
Well there are multiple links, but that's afaik not a separate type? (though we don't support it afaik).

I would just return NO_SHARED instead of null here: https://github.com/nextcloud/android-library/blob/11695f07731f7710f6ddc91862e24ea6d25afb88/src/com/owncloud/android/lib/resources/shares/ShareType.java

[2017-09-13 05:31] mario commented on #1450
Did you check if upload gets stopped/paused during the upload? Because this would imply that not all data got uploaded which is strange if the file works, like you mentioned?

[2017-09-13 05:33] enoch85 commented on #1450
I can do some more tests tonight. I work like 12 hour days now, it's crazy. One full-time job plus Tech and Me and Nextcloud = no spare time plus no sleep.

I'll do my best. :)

[2017-09-13 05:34] mario commented on #1450
@enoch85 that's awesome, I appreciate it very much!

[2017-09-13 07:12] AndyScherzinger commented on #1536
👍 I'd also vote for this fallback solution since then then client will always work and new/unsupported share types will not crash the app but simply not show up. Hardening FTW! :)

[2017-09-13 07:13] mario commented on #1536
Go do it! @AndyScherzinger :)

[2017-09-13 07:50] AndyScherzinger commented on #1536
PR has been created https://github.com/nextcloud/android-library/pull/89 - also pinged Björn if we are missing a share type.

[2017-09-13 08:21] tribut commented on #1419
Can confirm that I can no longer reproduce this issue on RC6. Thanks everyone!

[2017-09-13 08:30] AndyScherzinger commented on #1419
@tribut I the ID also replaced with the proper username in the menu (like shown in your screenshots, when you reported this issue)?

[2017-09-13 09:54] cropse commented on #833
I guess there 1.4.3 is still got the problem here
I use the docker-compose from [nextcloud/docker/docker-compose](https://github.com/nextcloud/docker/tree/master/.examples) and own my DNS.

when I in the app and check domain name logs below:

but trying to login

web_1                    | 172.19.0.7 - cropse [13/Sep/2017:09:51:39 +0000] "HEAD /remote.php/webdav/ HTTP/1.1" 499 0 "-" "Mozilla/5.0 (

[2017-09-13 09:56] mario opened #1540 "User information screen issues"
![screen shot 2017-09-05 at 10 04 15](https://user-images.githubusercontent.com/5810/30371307-7d8ebbb4-987a-11e7-9c40-8664c213f288.png)

Why would I ever have this shown is beyond me o.o So please make it look nicer :P

[2017-09-13 09:57] mario commented on #833
Please test everything with 2.0.0 beta. Thanks!

[2017-09-13 10:52] AndyScherzinger commented on #1540
@mario what would you consider nicer?

--> changed message to "Failed to retrieve user information"?

[2017-09-13 10:53] mario commented on #1540
That would be a good start :)

[2017-09-13 10:54] AndyScherzinger commented on #1540
Cool... Any hints on how to reproduce the error?

[2017-09-13 10:55] mario commented on #1540
Sure. Login on NC12. Go to web interface, and delete the app password. Magic.

[2017-09-13 11:38] marvinwankersteen commented on #1419
I can confirm that the full name is show in the menu, and not the ID.

[2017-09-13 14:11] jasonbayton opened #1541 "RC6 queues and subsequently overwrites files already previously uploaded"
### Actual behaviour
Installed RC6
Removed existing account
Re-added account
Setup autoupload with alllllll my folders
700+ photos immediately queued, most of which already exist on the server and are therefore overwritten

### Expected behaviour
1. Shouldn't be uploading anything by design but:
1.1 Could validate the remote folder against the local if it's going to try to upload ALL THE THINGS ou

[2017-09-13 16:39] AndyScherzinger commented on #1519
my mistake, meant "approved"

[2017-09-13 16:48] AndyScherzinger commented on #1540
PR is #1542

[2017-09-13 16:50] AndyScherzinger commented on #1419
@marvinwankersteen what does get displayed? Number or Character in a colored circle (which one)?

[2017-09-13 17:06] mario commented on #1541
@AndyScherzinger can you try to reproduce pls?

[2017-09-13 17:11] AndyScherzinger commented on #1541
I'll have to see, but can't say for sure since this week is crazy busy at work...

[2017-09-13 19:21] stalker314314 opened #1544 "Crash during account deletion"
### Actual behaviour
Deleting account results in crash of app

### Expected behaviour
No crash

### Steps to reproduce
1. Create account
2. Auto upload some files (not sure about this part though)
3. Delete account

### Environment data
Android version:

Device model:

Stock or customized system:
LineageOS

Nextcloud app version:
master

Nextcloud server version:
12.0.2RC

### Logs

`09-13 21:14:5

[2017-09-13 20:31] enoch85 commented on #1450
OK, tested to take like 5 pictures in a row on both 4G and WiFi, no errors. Let's close this one.

**BAM**

[2017-09-13 20:31] #1450 closed

[2017-09-13 20:38] AndyScherzinger commented on #1544
@mario any chance you can have a look at this? While looking at the logs ```/com.nextcloud.android.beta D/FileContentProvider``` tells me it must be the ```dev``` branch not the ```master``` 😕

[2017-09-13 20:59] mario commented on #1544
@AndyScherzinger I'd assume the same, but @tobiasKaminsky will have to as this is his work + absolutely busy on other things :(

[2017-09-13 21:06] stalker314314 commented on #1544
@AndyScherzinger Ops, you are right, I am switching between multiple versions and got them confused. Sorry!

[2017-09-13 21:12] AndyScherzinger commented on #1544
No worries @stalker314314 :) Does this also happen on the master branch?

[2017-09-14 07:00] tribut commented on #1419
It's a character in a colored circle (matching full name on the server. Image from non-ldap server appears to continue to work.
![img_20170914_085447](https://user-images.githubusercontent.com/719105/30416058-f651c2c0-992a-11e7-9211-7a32c761dee6.jpg)

[2017-09-14 07:15] ouafnico opened #1546 "[feature request] Sync with check"
Hi,

The actual feature to auto upload files on folders is very good, but I think it can miss a little option or function.

Is there any way to add an option to tell nextcloud app to check if there are missing files on the server, to upload missing files ?

For example, I create the sync for my camera folder, but only new files will be uploaded, not old ones already present on my phone.

If we can

[2017-09-14 07:19] AndyScherzinger commented on #1419
@tribut is the avatar image available on the server?

[2017-09-14 07:20] AndyScherzinger commented on #1546
@mario is this functionality covered by the force rescan button?

[2017-09-14 07:25] marvinwankersteen commented on #1419
On the server the image is available

[2017-09-14 07:42] AndyScherzinger commented on #1419
@mario @tobiasKaminsky any way to reproduce this? I don't have a server with ldap etc. @marvinwankersteen can/did you provide a test account where we could debug this behavior?

[2017-09-14 08:09] mario commented on #1546
Of course not. Force rescan just initiates check faster to see if there are any new files locally since we last checked.

[2017-09-14 08:12] AndyScherzinger commented on #1546
ah, okay :)

[2017-09-14 08:18] ouafnico commented on #1546
is it a possible feature?

[2017-09-14 08:18] mario commented on #1546
Everything is possible :) It will happen one day.

On Thu, Sep 14, 2017 at 10:18 AM, Nicolas R. <notifications@github.com>
wrote:

[2017-09-14 08:19] xXSTrikeXx commented on #1546
discussion is now in the irc ;)

[2017-09-14 08:22] AndyScherzinger commented on #1546
"Roadmap" for auto upload can be found here #285 where this feature is already documented to be implemented in a future release (so I'd close the issue for now, please re-open if you think it should stay open). Can't say when this might come since it depends on people picking it up and creating an implementation for it.

[2017-09-14 08:22] #1546 closed

[2017-09-14 08:23] mario commented on #285
Do note that this roadmap/issue will be changed once @tobiasKaminsky gets the time to put notebook notes in the issues :) cc @AndyScherzinger

[2017-09-14 08:28] mario commented on #1514
What app version?

[2017-09-14 08:29] mario commented on #1510
Strange. Logs?

[2017-09-14 08:30] jasonbayton commented on #1316
Sorry @mario I didn't see your account request :o
You can always use the demo server as I can normally replicate there too?

[2017-09-14 08:35] mario commented on #1493
There are no folders by default. They might EXIST, but not registered as media providers. Not super excited about this, but not against it much either. If @AndyScherzinger is for it, we can do it.

[2017-09-14 08:36] mario commented on #1518
@AndyScherzinger where's the PR for this? :P You seem to do this everywhere :D

[2017-09-14 08:59] AndyScherzinger commented on #1518
Ups...

[2017-09-14 09:33] xXSTrikeXx commented on #1541
Happen to me, too :D But then missing files was uploaded rightly :D

[2017-09-14 09:36] jasonbayton commented on #1541
I like that it does indeed upload the missing (I noticed one additional file it previously missed last night) however I'm concerned eventual SD card file corruption will cause it to overwrite good files with crap.. so if this is the way forward I'll have to re-evaluate how I store stuff on SD.

[2017-09-14 09:37] mario commented on #1541
Kind sirs. I will investigate this.

On Thu, Sep 14, 2017 at 11:36 AM, Jason Bayton <notifications@github.com>
wrote:

[2017-09-14 11:27] #1540 closed

[2017-09-14 13:55] mario commented on #1458
This should be fixed with latest RC. Please confirm.

[2017-09-14 13:57] mario commented on #1419
I tried on 8 available servers, both LDAP and non-LDAP. All works as expected. So I'd need a test account on mario@nextcloud.com and a confirmation that latest RC6 is used.
cc @tribut

[2017-09-14 14:27] mario commented on #1541
I think this was an issue only because the account name changed, and we didn't delete everything. We'll see.

PR https://github.com/nextcloud/android/pull/1547

[2017-09-14 14:36] srkunze commented on #1508
One thought about the mini-serialization: how is the data stored internally? If it's stored in a database, couldn't we simply add a folder-based setting table having the same columns as arbitrary data provider but with an additional folder column?

This way, removing a folder would require removing all foreign keys such as the one from the above-mentioned settings table. So, no background job need

[2017-09-14 14:39] mario commented on #1508
It's indeed stored in the database. We could, but do you think it has a SIGNIFICANT benefit over storing it in the arbitrary data table? It was created exactly for this kind of random things.
(We always remove things in a background job btw, see:

https://github.com/nextcloud/android/pull/1547 and AccountRemovalJob.java ;)

[2017-09-14 14:39] jasonbayton commented on #1541
Lovely ta.

It appears to have affected only two of the 15 folders I've set to autoupload

[2017-09-14 14:40] mario commented on #1541
Your phones are always strange :D

[2017-09-14 14:51] schiessle opened #1548 "About dialog"
It might be a good idea to integrate a small about dialog. To give some credits to the (main) developers and to inform the user about the license and where to get the source code.

cc @AndyScherzinger @tobiasKaminsky what do you think?

[2017-09-14 14:53] mario commented on #1548
Well I guess we could introduce a "Credits / Licences" as part of settings and mention all the tools/libs/etc we use and their licencens.

[2017-09-14 15:00] AndyScherzinger commented on #1548
All in all I'd say a good idea, also mentioning the libs/licenses, flagging it a starter issue then :)

[2017-09-14 15:18] marvinwankersteen commented on #1419
@AndyScherzinger @mario
Who wants the test account? @mario I can reenable your account.

[2017-09-14 20:38] c0fe opened #1549 "Errors when Large Selection Uploading"
I am using a Google Nexus 6P phone with Android 7.1 and Nextcloud app that is running on a local home server. I selected about 176 files which came out to be 1.4GB of files, I selected the photos from "Photos"  app that is installed by default in Android and selected to share the files through uploading the actual image size to Nextcloud. The app then crashed out, I opted to send in the feedback w

[2017-09-15 02:14] KroniK907 opened #1550 "User does not stay logged in."
Currently I am using SSO & SAML app for user login so this could be part of the problem, however whenever the app closes, the app does not save the user's login state.

If I open the app, enter in the URL and login (In my case its a google login using SAML) everything comes up as it should. Then if I close the app and re-open it again, I am given the same screen requesting the server URL again.

T

[2017-09-15 06:11] michaelof commented on #1316
My 5 cents regarding account creation:

Switched from OwnCloud to NextCloud, so deinstalled OC android app, and installed current 1.4.2 F-Droid NextCloud android app.

Android 4.4.2

result: Nextcloud app crashes reproducible on start.

Installed NextCloud "dev" app, version 20170903, also from F-Droid. Works like a charm :)

[2017-09-15 06:30] AndyScherzinger commented on #1316
For any store running Nextcloud 12+ you need to run at least 1.4.3 (not available on f-droid) or go for 2.0.0RC6.

[2017-09-15 06:46] michaelof commented on #1316
Somewhat weird...or maybe my lack of knowledge about F-Droid:

1.: for me, the nextcloud app crashes BEFORE I'm even able to select a server to connect to, so no chance for the 1.4.2, app to "detect" that my expected server to be connected might be 12.x

2. No idea why, maybe because if the * (star) in F-Droid's version history for nextcloud app, 1.4.2 is installed. Although much later, newer vers

[2017-09-15 11:41] AndyScherzinger commented on #1316
1.4.2 had an issue on some phones which led to the app crashing right during start.

[2017-09-15 11:41] AndyScherzinger commented on #1316
fixed via 2.0.0

[2017-09-15 11:41] #1316 closed

[2017-09-15 12:04] enoch85 commented on #1541
Mine too in that case. I can confirm this behavior after the RC5 warning about re-adding account.

[2017-09-15 12:20] mario commented on #1541
@enoch85 yea, I'm not saying yours is normal :) My assumption is what I said above, but I don't know why it'd trigger for only two out of 15 folders. We'll see with the next RC...

[2017-09-15 12:24] Bigdesaster commented on #1088
Hi,
i've just a suggestion:
why not leaving the options to 'intenal' and 'sd-card' and set path to android/media.
Then creating a new setting "hide indexing by mediaplayer" which creates or deletes a '.nomedia'-file in the directory?
Greets

[2017-09-15 14:12] comradekingu commented on #1088
@Bigdesaster
"Hide contents from indexing mediaplayers" or
"Hide contents from mediaplayer indexation" ?

[2017-09-15 14:33] Bigdesaster commented on #1088
Yeah that was my opinion. How ist would be named finally doesn't matter. It could also bei an extra option outside the data-storage dialog

[2017-09-15 14:45] comradekingu commented on #1088
![storageoverhaul](https://user-images.githubusercontent.com/13802408/30487943-3663adf0-9a35-11e7-843f-9e15f67adc66.png)

[2017-09-15 14:54] AndyScherzinger opened #1551 "RC5/6: IllegalArgumentException - DrawerActivity.updateHeaderBackground"
[code]

[2017-09-15 15:17] AndyScherzinger commented on #1551
PR is #1552

[2017-09-15 15:22] AndyScherzinger opened #1553 "2.0.0RC6: NPE - SyncedFoldersActivity.load"
[code]

LoC:
[code]

This has been reported only once (bySept. 15th) and it is unclear what is ```null```. It could be ```syncedFolder```, ```getAccount()``` or ```currentAccount```. While none of them makes any sense to me, the only one that I think would be possible is ```currentAccount``` being ```null```.

[2017-09-15 15:45] xXSTrikeXx commented on #1541
For me was it one folder. But not the default Camera & Video folder. Wicked :D

[2017-09-15 23:52] jancborchardt commented on #223
@LukasReschke mind commenting here?

[2017-09-16 19:31] rpcameron commented on #113
Is there any movement on this bug? I recently saw that version 2 RCs are available so I decided to give them a shot, but no luck. It almost seems there's no interest from the developers to fix this.

(And yes, I know the old adage about fixing it yourself if you want it done. I have investigated it to try and find the relevant code, but I haven't programmed in Java in over a decade, and trying to

[2017-09-17 00:16] kangaroo72 commented on #751
Now I sold my Samsung Note 5 (which I've downgraded to Android 6.0.1 'causing this issue). I'm using the Note 8 with Android 7.1.1 now, and again I have this issue ... but it seems that doesn't matter :-(

[2017-09-18 15:46] AndyScherzinger commented on #223
@mwpow3ll waiting for @LukasReschke to comment.

[2017-09-18 15:47] AndyScherzinger commented on #1277
PR for Android 5+ using the power save mode detection #1527

[2017-09-18 16:46] srkunze commented on #1508
Coming from a relational database background, I usually tend towards the eager cleanup solution (if the database itself cleans up eagerly or lazily, I mostly don't know/care). Foreign keys + ondelete-cascade is the established solution for this; also performance-wise.

Anyway, if you say this is the way to go, let's do it although I don't see a SIGNIFICANT benefit over using the regular Android sh

[2017-09-18 17:14] barrydegraaff opened #1556 "CentOS automatic updates break external storage (Windows shares)"
Hello All,

My Nextcloud instance runs on CentOS 7 with yum-cron for automatic updates.

Last friday my external storage stopped working, it seems a new samba was rolled out in centos 7 and it requires the use of domain\username and not just username.

Adding the domain for shares with global stored credentials worked, however, it does not work when the option 'log-in credentials save in session'

[2017-09-18 17:25] barrydegraaff commented on #1556
Seems like an upgrade issue, when I play around in the UI, at some point
'SMB CIFS using OC login'
changes to 'SMB/CIFS'

Then a `domain` field magically appears, I do not yet see how to make that change happen when I want to.

[2017-09-18 17:38] barrydegraaff commented on #1556
Unfortunately nextcloud12 no longer uses mount.json, so changing that has no effect

I removed and re-added all my shares by hand, it seems to solve the problem, but it will nuke the cache, so it will hit our performance and probably populate our database with a huge amount of orphans.

[2017-09-18 18:24] AndyScherzinger commented on #1556
Thank you for your report @barrydegraaff this sounds like a webUI issue so calling @MorrisJobke and @nickvergessen to the rescue!

[2017-09-18 18:26] barrydegraaff commented on #1556
Yeah, its a little of everything, but I guess, my old owncloud 9 share definition finally broke :-p

It maybe nice, to drop support for `\OC\Files\Storage\SMB_OC` in a next release so it does not happen unexpectedly like this.

[2017-09-19 08:41] #1529 closed

[2017-09-19 09:50] #1551 closed

[2017-09-19 11:47] tobiasKaminsky commented on #1296
As this is really annoying when switching between different features/branches: #1559

[2017-09-19 17:33] srkunze commented on #1508
@mario I think I need some help with this.

1) Where should the code live? PreferenceManager?
2) ArbitraryDataProvider doesn't support Booleans.
3) Where do I get the account? I only have the context.

![image](https://user-images.githubusercontent.com/1389648/30606240-4f917304-9d71-11e7-9b21-91bbbc9a1e0a.png)

[2017-09-19 19:49] mario commented on #1508
1) Or new UserPreferencesHelper? Pick what you like best :)
2) Sure it does? Just store "true" or "false" as values? You can later parse that as "Boolean.parseBoolean(string);" if you need to.
3) AccountUtils has the following helper method:
getCurrentOwnCloudAccount(Context context)

Hope I've helped? :)

[2017-09-20 08:03] HammyHavoc commented on #729
Using the 2.0.0RC6 of Nextcloud on Android 4.2.2 (inkBOOK Prime) and it crashes on Settings.

[2017-09-20 08:38] tobiasKaminsky commented on #729
@HammyHavoc can you give us a logcat?https://github.com/nextcloud/android/blob/master/README.md#get-debug-infos-via-logcat

[2017-09-20 08:41] tobiasKaminsky commented on #1419
Any update @mario?
As I understand it is "only" a problem of not showing the correct avatar? Then we can also postpone it to 2.0.1, or?

[2017-09-20 08:42] mario commented on #1419
Ah yes, I forgot ... will check today.

[2017-09-20 09:18] mario commented on #1419
This has bigger issues @tobiasKaminsky that you might be able to debug...

09-20 09:16:29.902 1258-1360/com.nextcloud.client D/ExistenceCheckRemoteOperation: Existence check for https://bla.bla.net/remote.php/webdav/ targeting for  existence finished with HTTP status 401(FAIL)
09-20 09:16:29.902 1258-1360/com.nextcloud.client D/DetectAuthenticationMethodOperation: Authentication method found: BASI

[2017-09-20 09:20] mario commented on #1419
I have to say that the login via web browser does work, but the above is what is shown in our "internal" webview.

[2017-09-20 09:27] marvinwankersteen commented on #1419
@mario: Tell me if you need logs from the server.

[2017-09-20 09:29] mario commented on #1419
Sure @marvinwankersteen

[2017-09-20 11:27] tobiasKaminsky opened #1561 "Notifications: dicuss polling"
If push notifications are not working, e.g. on Fdroid or temporary problems of registration, do we want to poll?

@AndyScherzinger https://github.com/nextcloud/android/pull/1560#issuecomment-330770769

@mario https://github.com/nextcloud/android/pull/1560#issuecomment-330772643

[2017-09-20 12:38] tobiasKaminsky commented on #1081
In transifex we have these strings (android-appstore-listing):

**Short description**
The Nextcloud Android app allows you to access all your files on your Nextcloud.

**Long Description:**
The Open Source Nextcloud Android app allows you to access all your files on your Nextcloud.

Features:
* Easy, modern interface
* Upload your files to your Nextcloud server
* Share your files with others
* Kee

[2017-09-20 12:42] tobiasKaminsky commented on #1081
Screenshots:
- Nice grid view with photos
- List view
 - different kind of mimetypes: image, pptx, zip, pdf, ...
 - folders: shared to user and via link
- Auto upload view
- Sidebar
- Log in view or settings go last

I can do them. I have created a dummy symlink on my computer so that all users now are part of "nextcloud.testserver.de".

Any suggestions about the images?

[2017-09-20 12:44] tobiasKaminsky commented on #1081
@mario @AndyScherzinger @jancborchardt
please have a look at the two comments above regarding text and screenshots.
As 2.0 is somewhat "soon" I want to start with screenshots and text tomorrow. (Transifex may take some time)

Once we are fine with the screenshots I take on the mobile device, I will then take the same screenshots for 7" and 10" tablet.

[2017-09-20 12:45] mario commented on #1081
@tobiasKaminsky will take a look. In the mean time, please look at remaining 2.0 bugs :)

[2017-09-20 13:00] michapixel commented on #1490
That is a really nice idea!

[2017-09-20 13:15] michapixel opened #1563 "double uploads"
### Actual behaviour
i only have my camera folder set-up so it auto-syncs to my nextcloud-server (only wlan) splitted into pics and videos (seperated dirs server) but some images and videos are uploaded/copied to the instant-upload-folder ("SofortUpload/Camera"), and then uploaded / synced too, which is REALLY annoying.
Since we are 6 people/phones and even more desktop-endpoints in my house using

[2017-09-20 13:16] mario commented on #1563
Thanks for the report. Fixed with 2.0.0 beta, so will be in 2.0.0 stable ;)

[2017-09-20 13:16] #1563 closed

[2017-09-20 13:24] tobiasKaminsky opened #1564 "Support image url in photos in vCards"
From wikipedia:
[code]

This is already correct parsed by vcard library: either data is filled or url is set.
So the url must be fetched and stored.

[2017-09-20 13:30] tobiasKaminsky commented on #1526
I tried this file

[code]

and it is working as expected: first it downloads the file, then I can see the vcard entry, select it and restore it.

Can you give me the problematic file, of course edited to prevent exposing personal infos ;-)

[2017-09-20 16:22] AndyScherzinger commented on #1081
Easy, modern interface, fully themed to reflect your server (...?)
--> Easy, modern interface, fully themed in alignment with your server's theming

https://pixabay.com/en/photos/?image_type=photo&order=ec&orientation=horizontal&pagi=2 😃
High resolution and nearly all of them are  CC0 Creative Commons -> Free for commercial use, No attribution required

Yes 👍

[2017-09-20 17:45] matiasdelellis opened #1566 "Refresh user avatar"
### Actual behaviour
-Change user photo (or other info) and nextcloud client not reflect it.

### Expected behaviour
-When change any user info on server must be reflected in the client. This already happens for the background image. So both images should be cached for a certain amount of time, e.g. 24 hours.

### Steps to reproduce
1. Login on android client.
2. Change user profile on nectcloud s

[2017-09-20 21:35] mudkip1123 commented on #1498
I also believe that the AutoUpload should replicate the folder structure of synced folders. I have it set to sync my "Pictures" folder but files in all of the subfolders are uploaded to the same location in NC

[2017-09-21 00:10] swalladge commented on #1419
I have a similar problem - nextcloud 12.0.3, ldap integration, android app 2.0.0RC6. If I try to login to an ldap account, the app crashes (at least it doesn't correctly add the account). Works fine if I create a non-ldap test user and attempt to login from the app with that.

(Please let me know if I should create a new issue?)

[2017-09-21 06:03] tobiasKaminsky commented on #1536
PR is merged --> closing

[2017-09-21 06:03] #1536 closed

[2017-09-21 06:10] tobiasKaminsky commented on #1458
@PhieF @swalladge can you reply if this is working with RC6?

[2017-09-21 06:16] swalladge commented on #1458
@tobiasKaminsky no, problem is not resolved. Now it won't let me login at all with an ldap user (app crashes).

[2017-09-21 06:45] tobiasKaminsky commented on #1458
@swalladge Is it possible that you send us test credentials to android at nextcloud dot com?
Then we can test this.

[2017-09-21 06:50] swalladge commented on #1458
@tobiasKaminsky certainly! :)

[2017-09-21 06:54] tobiasKaminsky commented on #1419
@mario can you send me the credentials of marvinwankersteen so that I can debug it?

[2017-09-21 07:20] AndyScherzinger commented on #1536
We need to do another lib release though! :)

[2017-09-21 07:21] AndyScherzinger commented on #1536
And integrate it to the app's master of course.

[2017-09-21 07:40] tobiasKaminsky commented on #1458
@swalladge thank you for your mail.
I tried it twice with latest master (which will be soon RC7) and login worked.
After that I did some basic test, favorite a file, upload three files, delete a file, download 2 files.

As you mentioned in your email, the account is working :/
Sorry that I have no "better" news for you.

Can you tell something more about the account? I assume this is an "old" one?

[2017-09-21 07:59] swalladge commented on #1458
@tobiasKaminsky thanks for testing it out. :)

Some details about the account I can't login with:

- created with ldap the same way as the test ldap user
- two external samba folders (none of which are currently working since security updates after wannacry - can't work out how to fix it)
- no 'special files' that i can think of

Also, strangely, I can login ok with a different ldap account (same

[2017-09-21 08:13] tobiasKaminsky commented on #1458
Can you uninstall the app and delete/rename also the /sdcard/nextcloud?
If you have root on the phone can you then also try to delete /data/data/com.nextcloud.client as there is the database in it.
I am wild guessing that maybe the account is somehow corruptly stored and the leftovers are killing every new attempt. This then could also explain why a new account is working.

[2017-09-21 08:14] tobiasKaminsky commented on #1419
To keep track of it: @swalladge is discussed in https://github.com/nextcloud/android/issues/1458#issuecomment-331077969

[2017-09-21 08:25] swalladge commented on #1458
Well well well! Yep confirmed, I can login on a different android device no worries. (This device has never had nextcloud installed.). Time to try deleting nextcloud related data off my phone!

As a side note, clearing the data for nextcloud from the android settings seems to also launch the app - and the button says "manage space" instead of "clear data". Maybe something is overriding it and not

[2017-09-21 08:33] tobiasKaminsky commented on #1458
Yes "manage space" retains the database & all account setups. (this was wanted way back)
To have these completely deleted you have to uninstall the app.

[2017-09-21 08:34] tobiasKaminsky commented on #1304
Outstanding issues/prs for RC 7:
- [ ] https://github.com/nextcloud/android/pull/1539
- [ ] https://github.com/nextcloud/android/pull/1560
- [ ] https://github.com/nextcloud/android-library/pull/90
- [ ] new lib release & integrate in master
- [ ] https://github.com/nextcloud/android/issues/1081

All other bugs are either "need info" or can imho postponed to 2.0.1.
So after finishing this list I w

[2017-09-21 08:52] swalladge commented on #1458
Gah this is ridiculous - I still can't login as that user, after uninstalling/reinstalling the app, removing the nextcloud files (couldn't find the /data/data/com.nextcloud.client/ files though). Where do you reckon the problem lies?

The only difference between the two devices that I can think of is that my phone is on Nougat, while the other device is Lollipop.

[2017-09-21 09:08] tobiasKaminsky commented on #1458
IRC sounds good: #nextcloud-mobile, my name is TobiasK

[2017-09-21 09:08] tobiasKaminsky commented on #1458
So closing for now :-)

[2017-09-21 09:08] #1458 closed

[2017-09-21 09:27] AndyScherzinger commented on #1304
Perfectly fine with we 👍

[2017-09-21 10:07] jancborchardt commented on #1081
Sounds all good! I would only add one feature:

- Integration with DAVdroid for easy setup of Calendar & Contacts synchronization

[2017-09-21 10:25] e-alfred opened #1568 "Add option to undo "remove failed uploads" if selected accidentally"
### Actual behaviour
- If an upload fails for whatever reason and "remove failed uploads" is tapped accidentally instead of "restart failed uploads", there is no easy way to revert this operation. Instead all failed uploads have to be found (no list or anything, which means it is very difficult if it happens for a lot of files) and selected by hand for uploading.

### Expected behaviour
- An undo

[2017-09-21 10:26] AndyScherzinger commented on #1568
Hi @e-alfred did you try the latest release candidates of 2.0.0? Just asking since this is basically fixed implicitly due to the fact that 2.0.0 doesn't have these menu items anymore but does auto retries itself 😃

[2017-09-21 11:47] tobiasKaminsky opened #1569 "Apksigner verify warnings"
[code]

Althought these are only text files we should investigate how to avoid this.

[2017-09-21 11:48] mario commented on #1569
Easy. Exclude as follows:

    packagingOptions {
        exclude 'META-INF/LICENSE.txt'
        exclude 'META-INF/LICENSE'
    }

[2017-09-21 12:05] e-alfred commented on #1568
The Nextcloud app version is 2.0.0 RC6, but the menu items are still there. I had to upgrade because of this bug (unrelated to the problem here): https://help.nextcloud.com/t/webdav-file-upload-fails-exception-sabre-dav-exception-notfound/5824

To test the auto retry I simply disabled mobile data and it tried to reupload a few times in short intervals, but after reenabling mobile data after some t

[2017-09-21 12:06] tobiasKaminsky commented on #1569
This is a way, but don't we need these files?
This is in DEPENDENCIES

// Transitive dependencies of this project determined from the
// maven pom organized by organization.
// ------------------------------------------------------------------
Jackrabbit WebDAV Library
From: 'an unknown organization'

From: 'Apache Software Foundation' (http://jakarta.apache.org/)

    License: Apache License  (ht

[2017-09-21 15:52] mario commented on #1569
I don't think we need any of these, to be honest. For DEPENDENCIES  and README.TXT I'm sure. And those two other files are just random files.

[2017-09-21 16:46] AndyScherzinger commented on #1568
@tobiasKaminsky @mario any ideas? I am running 2.0.0RC6+ (actual master) on my phone and I do not have a menu thus @e-alfred shouldn't see one either?!

[2017-09-21 16:50] e-alfred commented on #1568
Here is a redacted screenshot of the menu I can see:

![screenshot_20170921-133251 edit](https://user-images.githubusercontent.com/10073629/30708004-9141435a-9efd-11e7-9cb6-b15bf5913293.png)

Phone specs: BQ X5 Plus with Android 7.1.1

[2017-09-21 16:51] AndyScherzinger commented on #1568
Ah, right. You activated the expert mode in the settings 😃

[2017-09-21 16:53] AndyScherzinger commented on #1568
Well, anyways. Afaik we @mario, @tobiasKaminsky and I discussed to drop the complete menu after 2.0.0 as in 2.1 or 2.2.
Can you open another issue since as you mentioned the failed uploads won't restart, while you mentioned you re-enabled mobile data,, are the auto upload settings set to "wifi only" and are you then connected to a wifi? B/c this usually worked for me qzuite reliable :/

[2017-09-21 17:34] nolens opened #1570 "Login fails "Access denied: Local file does not exist""
### Actual behaviour
- Try to login to the Android App 2.0 RC7
- input username and password
- message appears: "zugriff fehlgeschlagen: Local file does not exist" (Access denied - Local file does not exist")
### Expected behaviour
-Grant access to my files

### Steps to reproduce
1. Open Android Nextcloud App 2.0 RC7 from Google Playstore Beta program
2. Grant Access with username/password (NOT v

[2017-09-21 18:00] mario commented on #1568
@AndyScherzinger granted, the receiver only fires if you go to wifi, NOT when you connect in general. Maybe that's the issue?

@e-alfred are you saying you have no internet connectivity at all, and when you turn 3g/4g it doesn't start the uploads?

[2017-09-21 20:30] srkunze commented on #1508
@mario Alright. Sounds good. :) That'll do it.

Last time, I waited for some sort of approval. Would be great to have it here as well. :)

[2017-09-21 20:32] mario commented on #1508
You're all approved :P

[2017-09-21 20:35] srkunze commented on #1561
I would suggest using an increasing interval in case of silence. Had good experience with either linear or exponential growth.

Just wonder if there isn't a standard solution for this in Android (push fallback or something).

[2017-09-21 20:36] srkunze commented on #1508
I see. :)

[2017-09-21 20:40] mario commented on #1561
No. Fallback is manual polling :)

Increasing interval is good, yes.

On Thu, 21 Sep 2017 at 22:35, Sven R. Kunze <notifications@github.com>
wrote:

[2017-09-21 21:34] AndyScherzinger commented on #1508
Labeled and assigned to you,so other don't pick it up by mistake :)

Happy to have you working on this @srkunze 🚀

[2017-09-21 21:35] srkunze commented on #1508
@AndyScherzinger Thanks.

Done.

[2017-09-21 21:38] srkunze commented on #1561
Manual is meh :D all Android apps have to implement it themselves. What a waste...

[2017-09-21 21:42] mario commented on #1561
That's only if you don't want to publish on Play Store. All Play Store apps
can have push without an issue.

On Thu, Sep 21, 2017 at 11:38 PM, Sven R. Kunze <notifications@github.com>
wrote:

[2017-09-21 21:44] srkunze commented on #1561
Ah, okay. Didn't know. :+1:

[2017-09-22 03:48] pbloigu commented on #1066
I think I have this exact same problem on my Nexus 6P with Android 8.0.0. Sharing a few (5-6) images from Photos works, but if I select more and then share to Nextcloud, it uploads only like 5-6 of them.

Is there anything I can do to help investigate this? Any logs I could provide? The NC server in question is my own so I could dig into this also at the server side, if needed.

[2017-09-22 09:41] jancborchardt opened #1572 "Remove action should be called »Delete« everywhere, and always be at bottom of lists such as long press menu and details view menu"
Currently it’s called »Remove« and somewhere in the middle of the list.

[2017-09-22 09:55] jancborchardt commented on #102
Closing as this has been implemented. Will open an issue about cleaning up the overflow menu separately.

[2017-09-22 09:55] #102 closed

[2017-09-22 09:56] jancborchardt commented on #224
Looks like this issue still persists.

[2017-09-22 09:57] tobiasKaminsky commented on #1081
This are the screenshots, also in this order that I would upload to gplay/fdroid.

![screenshot_20170922_115621](https://user-images.githubusercontent.com/5836855/30739291-118b0c8c-9f8d-11e7-8766-2bb0aaf39548.png)

I managed to use "fastlane screengrab", so we can have these screenshots in many/all languages and in three "sizes": phone, tablet 7", tablet 10".

[2017-09-22 10:00] jancborchardt commented on #237
What we should do for example in the case of deletion is immediately vanish the files locally. Sure it could take longer to be deleted on the server, but that’s nothing we should need to wait for. Only if there’s an error.

That also takes care of your case

cause they are simply not shown anymore.

[2017-09-22 10:01] jancborchardt commented on #344
Any update here? This is one of the most annoying things when wanting to upload.

[2017-09-22 10:02] jancborchardt commented on #1572
Ah well, duplicate of https://github.com/nextcloud/android/issues/655 :)

[2017-09-22 10:02] #1572 closed

[2017-09-22 10:03] mario commented on #237
I agree @jancborchardt, but will take a bit of time to do proper planning/design :)

[2017-09-22 10:04] jancborchardt commented on #579
Any update or any help needed here? :) From a user perspective this is _the_ biggest issue when using the app day-to-day right now.

[2017-09-22 10:05] mario commented on #579
None, but due to other constraints, this is not in the 2.1 plan (aka, next two and a half months). So maybe 2.2? cc @AndyScherzinger @tobiasKaminsky

[2017-09-22 10:06] tobiasKaminsky commented on #1081
Transifex updated: https://www.transifex.com/nextcloud/nextcloud/android-appstore-listing/

[2017-09-22 10:10] jancborchardt commented on #1081
@tobiasKaminsky just some small feedback on the screenshots:

Order should be:
1. Picture grid (the most appealing first)
2. List view
3. Sidebar
4. Sidebar with accounts
5. Auto upload
The log in screen with server address can be cut, that’s not necessary to show.

Some details on screens:
- Picture grid: isn’t the default zoom level 3 pics next to each other? This seems a bit big
- List view: Le

[2017-09-22 10:11] jancborchardt opened #1573 "Filetype icons and previews are quite small now"
Some time ago, the filetype icons and previews seem to have shrunk. Weren’t they a bit bigger in the past? They are pretty small now so it would be good to bring them back to the size they were. Or is there an Android standard to those sizes?

[2017-09-22 10:13] mario commented on #1573
Screenshot?

[2017-09-22 10:18] mario commented on #579
(Ergh I can see milestone is set to 2.1.0, but I think our 3 months plan doesn't include it - @AndyScherzinger and @tobiasKaminsky will confirm - I think we wanted to put this in once RecyclerView is here?)

[2017-09-22 10:26] jancborchardt commented on #580
Ok so here are how it is on the server and how it ideally should be everywhere, including sorting and all:
- Clicking on row opens file/folder (of course)
- Share icon directly visible
- 3-dot-icon to the far right
   - Favorite (currently not there but we’re workign on it, ref https://github.com/nextcloud/server/issues/6361)
   - Details
   - Rename
   - Move or copy
   - Download
   - Delete (ne

[2017-09-22 10:31] jancborchardt opened #1574 "In file detail view, »Deselect all« is shown in 3-dot-menu"
Open a picture and go to the 3-dot-menu in the header. One of the actions it will show is »Deselect all« which makes no sense here. ;)

[2017-09-22 10:36] jancborchardt commented on #1573
Ok, seems to have been like that for some time, as in 1.2.0:
![](https://raw.githubusercontent.com/nextcloud/screenshots/master/android/phone/files_list.png)

However, isn’t that a bit small?
Compare to Dropbox, where the preview is larger than the two rows of text next to it (filename & details):
![](https://lh3.googleusercontent.com/Sbw3W8L63SaIkhgHjm7e8PwVPZwon4-iDDu4hX4WXr8rkGn5h1VRJaNuTnZNtf1

[2017-09-22 11:28] tobiasKaminsky commented on #1081
- Order is adjusted
- grid column default is 3
- list view now with picture and video preview
- auto upload with screenshots & whatsapp images

![image](https://user-images.githubusercontent.com/5836855/30742513-ba6af18a-9f99-11e7-96a0-7232c069a753.png)

[2017-09-22 11:37] AndyScherzinger commented on #1081
@jancborchardt @tobiasKaminsky wouldn't 4 columns be nicer since it would then be in alignment with the auto upload screen which uses 4 columns in portrait and 6 in landscape 💃

[2017-09-22 11:40] #1519 closed

[2017-09-22 11:44] AndyScherzinger commented on #344
No update yet but since it is a small change maybe something that can be done pre-2018. And it is imho also a starter issue, so labeling as such 👍

[2017-09-22 11:51] jancborchardt commented on #1081
Ok, 4 are also nice as 3 is still quite big.

Looks great otherwise @tobiasKaminsky! :)

[2017-09-22 12:22] tobiasKaminsky commented on #1081
![2017-09-22-142200](https://user-images.githubusercontent.com/5836855/30744229-701a50d2-9fa1-11e7-9be4-f5dabaae47ad.png)

[2017-09-22 12:25] tobiasKaminsky commented on #1541
PR merged, releasing RC7 soon.
If it occurs again, please re-open.

[2017-09-22 12:25] #1541 closed

[2017-09-22 12:31] AndyScherzinger commented on #224
Correct, we haven't started working on it yet

[2017-09-22 12:40] AndyScherzinger commented on #579
Exactly, so not planned for 2.1 since like Mario said we want to have RecyclerView first. But let's see, maybe someone else wants to pick it up. Imho a starter issue since everything is in place except the menu...

[2017-09-22 13:48] #1535 closed

[2017-09-22 14:23] enoch85 commented on #1541
Release it already! ;)

[2017-09-22 17:04] DBLouis opened #1577 "Using a custom CA certificate"
The client prints a warning even if the root certificate is in the user trusted certificate store.

LineageOS 14.1 (Android 7.1.2)
Nextcloud client 1.4.2
Nextcloud server 12

[2017-09-22 19:15] e-alfred commented on #1568
@AndyScherzinger @mario I disabled "Upload using WIFI only" in the settings. I was not connected to WIFI when I faced/tested this. It "auto retry" should be triggered if this setting is disabled AND the user reenables the mobile data connection or comes back into an area where mobile data is available again.

@AndyScherzinger Exactly. I took a picture while not connected at all and later on I reen

[2017-09-22 19:30] mario commented on #1568
@e-alfred that I can fix. Can you close this issue (since the menu will be removed in the future) and open a separate issue for retry please? :)

[2017-09-22 23:12] n13d4 opened #1579 "Can't download files"
Dear Sir or Madam,

I would be glad to have some of your thoughts about my issue.
Thank you for your time.

Sincerely,

N.

### Actual behaviour
-Tell us what happens
The android client doesn't download some types of files (.pdf/.doc/.txt/...). The problem seems to be related to "text files", the videos, pictures and sounds are downloaded correctly.
It also seems to be a problem from my server, I

[2017-09-23 06:25] TinoS1964 opened #1580 "Camera uploads unusable on Android"
### Actual behaviour
Images from camera are uploaded to nextcloud, , but can't view them in app.
On PC they are alright and viewable.

### Expected behaviour
It should be possible to view them everywhere.

### Steps to reproduce
1.
2.
3.

### Environment data
Android version: 8.00

Device model: nexus 6p

Stock or customized system: stock

Nextcloud app version: 1.4.3

Nextcloud server version:lat

[2017-09-23 08:11] tobiasKaminsky commented on #1304
@Bubu can you do another RC release for us on fdroid? RC7 with tag c-2.0.0-07 (https://github.com/nextcloud/android/releases/tag/rc-2.0.0-07)
Thank you :tada:

[2017-09-23 10:45] Bubu commented on #1304
@tobiasKaminsky Done: https://gitlab.com/fdroid/fdroiddata/commit/9ec1d7e6a410280335317caffe179b9ab64f7ebf

[2017-09-23 10:56] jancborchardt commented on #873
@tobiasKaminsky just saw this now: Let’s definitely use the solution with »Shared« showing all, and then in the future expandable navigation. But not in the header, that’s a bit strange and doesn’t reflect how we do it in the server. (also cause that usually shows the parent folders)

[2017-09-23 11:47] AlexVienna commented on #1325
Just could check with 2.0.0RC6 and working on 2 devices now without change on the server -- seems to be fixed at least for me - thank you!

[2017-09-23 11:47] #1325 closed

[2017-09-23 11:55] pztrn commented on #1510
Same here. Absolutely nothing in logcat output.

But I can launch autoupload manually and it will work only once, I have to launch this process manually.

I'm on 2.0.0RC6 from fdroid with nextcloud 11.0.5.

[2017-09-23 11:59] pztrn opened #1582 "Disappearing menu items in autoupload list"
### Actual behaviour
As autoupload isn't working on my device (Meizu m3 note, flyme 6, android 5.1), I'm launching autoupload sync manually with menu item at upload status screen. But when I click any menu item - it is disappearing until I reopen upload status screen.

Nothing in logs. Absolutely.

### Expected behaviour
Menu items do not disappear.

### Steps to reproduce
1. Open upload status sc

[2017-09-23 12:33] sinnlosername opened #1583 "App is dying in background / breaks auto-upload feature"
### Actual behaviour
- Sometimes, the nextcloud app stop in background, so it doesn't sync any new photo's using the auto-upload feature. After restarting it, it doesn't recognize new photo's made in the time it was stopped.

### Expected behaviour
- Doesn't crash & upload photo's made while the app was stopped.

### Steps to reproduce
Happen randomly while using the app. There is no way to exactl

[2017-09-23 12:45] mario commented on #1510
@pztrn xiaomi too?

[2017-09-23 12:45] mario commented on #1583
What does "latest" in app version means? 2.0.0 RC6/7?

[2017-09-23 14:48] pztrn commented on #1510
No, Meizu m3 note with latest flyme 6 global (android 5.1).

[2017-09-23 16:37] mario commented on #1510
Have no way to test on these devices I'm afraid :(

On Sat, 23 Sep 2017 at 16:48, Stanislav N. <notifications@github.com> wrote:

[2017-09-23 17:07] memen45 commented on #1583
Since you have a Huawei, this could be caused by the 'battery manager' which closes apps automatically and seemingly random (but more likely when screen is off and/or on low battery).

Settings > Advanced Settings > Battery manager > Protected Apps, find Nextcloud app in the list and allow it to stay active after screen is turned off.
Does that work?

[2017-09-24 18:09] mario commented on #1580
Please test 2.0.0 RC7.

[2017-09-24 19:50] TinoS1964 commented on #1580
No change, what so ever. Tino SchenkTSA Systeembeheer Op 24 sep. 2017 20:10 schreef Mario Đanić <notifications@github.com>:Please test 2.0.0 RC7.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-24 21:23] timmersr opened #1585 "Favorites in main menu not working"
### Actual behaviour
On selection of Favorites from the menu "Loading..." is displayed

### Expected behaviour
Display as Favorite marked folders and files.

### Steps to reproduce
1. select Favorites from the menu.
2.
3.

### Environment data
Android version: 7.0
Device model: Samsung Galaxy 6 Edge Plus
Stock or customized system: Stock
Nextcloud app version: 2.0.0RC7
Nextcloud server version: 12

[2017-09-24 21:25] timmersr opened #1586 "Photos in main menu not working"
### Actual behaviour
On selection of Photos from the menu "Loading..." is displayed

### Expected behaviour
Display photos.

### Steps to reproduce
1. select Photos from the menu.
2.
3.

### Environment data
Android version: 7.0
Device model: Samsung Galaxy 6 Edge Plus
Stock or customized system: Stock
Nextcloud app version: 2.0.0RC7
Nextcloud server version: 12.0.3

### Logs
#### Web server error

[2017-09-24 21:33] Ricardosgeral opened #1587 "can't login in RC7"
### Actual behaviour
Login takes forever and don't complete

### Expected behaviour
-should open normally

### Steps to reproduce
1. Put server url (connection establish s)
2. Grant access
3.  Put user and password and enter

### Environment data
Android version: 6

Device model: Xiaomi redmi note 4x

Stock or customized system:

Nextcloud app version: 2.0.0 RC7

Nextcloud server version:12.0.2

#

[2017-09-24 21:37] alexknobbe commented on #1587
To solve this go to Android Settings -> Accounts -> Nextcloud and remove your account there. After that run the Nextcloud app and add your account there.

[2017-09-24 21:38] alexknobbe commented on #1586
Same on my side.
Android 7
Huawai P8 lite

[2017-09-24 21:53] timmersr opened #1588 "Add customizable delay on removal of original file"
### Actual behaviour
Received pictures are uploaded and removed directly, and are therefore not viewable by the apps.

### Expected behaviour
Being able to at least see the received pictures for some time, *before* they are being removed by Nextcloud, even if conditions of "only upload via Wi-Fi" and "original file will be removed" are correctly met. A setting to upload immediatly, but only remove

[2017-09-24 21:58] Ricardosgeral commented on #1587
Did that but I still have the same problem.
After a while in redirecting shows "go back to old login method" and stays there forever.
Something needs to be tuned in the app I think

[2017-09-25 01:15] OlivierS1 commented on #1582
@pztrn I think this behavior is acting that way on purpose.
I found it confusing at first as I had the same behavior but as it behaves consistently, I don't think it is a bug.
I think it acts as a reminder.

[2017-09-25 06:06] mario commented on #1582
This is true only for two menu items: Retry failed uploads and "Force rescan", and there is a good reason - you shouldn't run this again for quite some minutes. Hiding is a simple way to accomplish this since this menu will be completely removed in the future.

The fact that auto upload does NOT work on Meizu is something that needs to be fixed, but that part is in another ticket, and I don't know

[2017-09-25 06:06] #1582 closed

[2017-09-25 06:06] mario commented on #1586
@alexknobbe @timmersr logs? :)

[2017-09-25 06:07] mario commented on #1585
Can you please provide the logs?

[2017-09-25 07:15] AndyScherzinger commented on #1587
pinging @tobiasKaminsky since he is the expert on the new login. Could you provide us with a test account to debug your issue? If so please send it to android at nextcloud dot com.

[2017-09-25 07:43] AndyScherzinger opened #1590 "2.0.0RC7: NPE in com.owncloud.android.ui.fragment.OCFileListFragment$12.doInBackground"
[code]
area of code is:
[code]

line 1541 is:
[code]

So to fix this we need to do a null check imho.

cc @tobiasKaminsky @mario

[2017-09-25 07:55] DaDirnbocher commented on #751
I think there must have been a change from android 6.x to Android 7.x how opening files are passed to 3rd Party apps.

I have tried this with different settings:
- Devices: ASUS Zenfone Max (model ASUS_Z010D) with Android 6.0.1, Lenovo P2 (model LENOVO P2a42) with Android 7.0
- Android apps: nextcloud 1.4.3, nextcloud dev 20170903, owncloud 2.4.0, ocloud.de 1.7.2
- 3rd Party apps: DocsToGo (DataVi

[2017-09-25 09:40] Ricardosgeral commented on #1587
It seems that it works now!
The first time took a long time but now login works as expected! strange.
Login of other user is working fast as well. Tried with wifi and 4G and
it's ok. Fine

On Mon, Sep 25, 2017 at 8:15 AM, Andy Scherzinger <notifications@github.com>
wrote:

--
Ricardo Santos

[2017-09-25 09:42] AndyScherzinger commented on #1587
Thanks for the feedback @Ricardosgeral - so closing this issue. Please reopen if it comes up again. One issue I could think of is the brute force table. You might want to check (database only) Nextcloud's brute force table for entries of your device since that might have been the reason.

[2017-09-25 09:42] #1587 closed

[2017-09-25 09:45] Ricardosgeral commented on #1587
hi. I don't have brute force activated

[2017-09-25 09:53] tobiasKaminsky commented on #1590
This will prevent crashing the app, but why is this null?
OCFileListFragment is always started from FileDisplayActivity, or? So FDA should always exist...

[2017-09-25 10:14] tobiasKaminsky commented on #1588
I am unsure how to solve/enhance this.
Auto upload is never meant to be "immediately", so it can be that there is already a delay due to android schedules the upload.
Also adding another option is cluttering up the UI.

@jancborchardt maybe?

[2017-09-25 10:15] tobiasKaminsky commented on #1580
What is shown within the app?
Does the image in question have a green arrow (means it is downloaded)?
What is the file size of the image?

[2017-09-25 10:16] mario commented on #1588
FYI, I am strictly against this feature.

On Mon, Sep 25, 2017 at 12:14 PM, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-09-25 10:21] TinoS1964 commented on #1580
Within the app I see correct thumbnails for all images with a green V’s
Size varies for different images from 2 to 6 MB
When selecting an image nextcloud app reports :  “Sorry cannot show image”

Tino Schenk

’t Slaa 117
7123 CT Aalten
+31 (543) 470455

  

Van: Tobias Kaminsky [mailto:notifications@github.com]
Verzonden: maandag 25 september 2017 12:16
Aan: nextcloud/android <android@noreply.gith

[2017-09-25 11:21] JimmyKater opened #1591 "2.0.0.RC7 upload only in WIFI disregarded at least for videos"
### Actual behaviour
- a video tried to (finish) upload via mobile-connection though upload-option was set to wifi-only

### Expected behaviour
- wifi-only should mean wifi-only

### Steps to reproduce
having had no time, yet trying to reproduce. but heys... upload took away more than 1/3 of my dataplan.

### Environment data
Android version:
6.0.1
Device model:
huawai gx8
Stock or customized syst

[2017-09-25 11:22] AndyScherzinger commented on #1590
This is wrapped within a background task so that one might be detached and the activity/fragment gone already...

[2017-09-25 11:24] j-ed commented on #1585
@mario I just realized the same problem. Some files and folders which have been marked as "Favorite" are accessible without any problems using the normal directory structure but if I try to open them using the Favorites menu, the app is running in a timeout.
What log file do you exactly require? The web server log and Nextcloud server log are not showing any related information.

[2017-09-25 11:40] tobiasKaminsky commented on #1580
Can you delete the image with "local only" and then re-download it? I assume that this is working.

[2017-09-25 11:40] e-alfred opened #1592 "Retry failed uploads automatically if mobile data connection comes back/gets enabled by user"
### Actual behaviour
-A retry is not started after a mobile data connection becomes available again/the user reenables it and "Upload using Wifi only" is disabled. See https://github.com/nextcloud/android/issues/1568
### Expected behaviour
-The upload should be retried if a mobile data connection becomes available again/the user reenables it and "Upload using Wifi only" is disabled.

### Steps to

[2017-09-25 11:41] e-alfred commented on #1568
@mario Done here: https://github.com/nextcloud/android/issues/1592

[2017-09-25 11:41] mario commented on #1592
Fixed in rc7

On Mon, 25 Sep 2017 at 13:40, e-alfred <notifications@github.com> wrote:

[2017-09-25 11:42] tobiasKaminsky commented on #1591
Finish means that you started on wifi and then connection to wifi was lost and after that the upload was still ongoing?

[2017-09-25 11:42] tobiasKaminsky commented on #1590
PR is missing? ;-)

[2017-09-25 11:43] e-alfred commented on #1586
@mario I have the same problem with 2.0 RC6. The loading screen is shown indefinitely. I see nothing in the server logs.

[2017-09-25 11:43] mario commented on #1586
Try rc7

On Mon, 25 Sep 2017 at 13:43, e-alfred <notifications@github.com> wrote:

[2017-09-25 11:48] e-alfred commented on #1586
Will do as soon as it is available in F-Droid.

[2017-09-25 11:49] AndyScherzinger commented on #1590
there you go: #1593 :)

[2017-09-25 11:50] tobiasKaminsky commented on #1579
Can you create a test account and send the credentials to android at nextcloud dot com with a reference to this issue?

[2017-09-25 11:52] tobiasKaminsky commented on #1577
We changed the login method with 2.0.
Can you try the 2.0 RC7? You can register for the beta program here: https://play.google.com/apps/testing/com.nextcloud.client

[2017-09-25 11:54] tobiasKaminsky commented on #579
If someone else wants to do it, we can include it before Recycler View. Otherwise it will be done after implementation of Recycler View, so I removed the milestone for now.

[2017-09-25 11:58] j-ed opened #1594 "2.0.0.RC8 Not all icons of external sites menu entries are shown"
### Actual behavior
No icons are shown in front of *External sites* menu entries in the app menu.

![20170925_nc_app_menu](https://user-images.githubusercontent.com/2572764/30807298-89691f14-a1f9-11e7-91bc-4cda1dba3e4f.png)

### Expected behavior
The configured icons of external sites should be loaded and displayed in the app menu.

### Steps to reproduce
1. Open the Nextcloud app.
2. Check the di

[2017-09-25 11:58] tobiasKaminsky commented on #1569
:+1:
Then let's try with simple exclude them.

[2017-09-25 12:07] TinoS1964 commented on #1580
Already done that, no change.

Tino Schenk

’t Slaa 117
7123 CT Aalten
+31 (543) 470455

  

Van: Tobias Kaminsky [mailto:notifications@github.com]
Verzonden: maandag 25 september 2017 13:41
Aan: nextcloud/android <android@noreply.github.com>
CC: TinoS1964 <t.schenk@112computer.com>; Author <author@noreply.github.com>
Onderwerp: Re: [nextcloud/android] Camera uploads unusable on Android (#1580)

C

[2017-09-25 12:14] n13d4 commented on #1579
Dear Sir @tobiasKaminsky ,
Thank you for your answer. I've just sent the requested e-mail.
Sincerely,
N.

[2017-09-25 12:48] JimmyKater commented on #1591
exactly that.

[2017-09-25 13:23] tobiasKaminsky commented on #765
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:23] #765 closed

[2017-09-25 13:24] tobiasKaminsky commented on #841
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:24] #841 closed

[2017-09-25 13:24] tobiasKaminsky commented on #840
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:24] #840 closed

[2017-09-25 13:24] tobiasKaminsky commented on #815
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:24] #815 closed

[2017-09-25 13:24] tobiasKaminsky commented on #792
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:24] #792 closed

[2017-09-25 13:24] tobiasKaminsky commented on #437
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:24] #437 closed

[2017-09-25 13:25] tobiasKaminsky commented on #430
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:25] #430 closed

[2017-09-25 13:25] tobiasKaminsky commented on #397
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:25] #397 closed

[2017-09-25 13:25] tobiasKaminsky commented on #325
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:25] #325 closed

[2017-09-25 13:25] tobiasKaminsky commented on #1068
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:25] #1068 closed

[2017-09-25 13:25] tobiasKaminsky commented on #158
No response within the last month, therefore closing.
Please feel free to reopen with additional infos, if the problem still exists.

[2017-09-25 13:25] #158 closed

[2017-09-25 13:26] tobiasKaminsky commented on #1281
ping @rullzer :-)

[2017-09-25 13:30] tobiasKaminsky commented on #1591
@mario this is something we did not had in our old implementation and also not in auto upload, or?
I think this must be checked during chunked upload and cancel itself if the constraints are not met any longer.
Or is there a way that the job scheduler can cancel this?

[2017-09-25 13:35] AndyScherzinger commented on #579
👍 since it shouldn't be to much of a hassle to implement either way I tagged it a starter issue.

[2017-09-25 13:38] AndyScherzinger commented on #1588
I am also voting against this feature since this is an automation tool task (like tasker, locale etc.) so offering upload-only, upload-n-move, upload-n-delete is already quite the choice with delete being an issue depending on the fodle rlocation / write permissions...

[2017-09-25 13:44] tobiasKaminsky commented on #1579
Thank you for your mail.
This seems to be a tricky one...
Can you tell us something more about your environment? Web server, special settings?

[2017-09-25 13:48] mario commented on #1591
@tobiasKaminsky there's code for this in rewritten auto upload, but it's not working - I am hoping to fix this for 2.0.1.

[2017-09-25 14:14] rullzer commented on #1281
Yes yes I know. Still on the todo :wink:

[2017-09-25 14:20] n13d4 commented on #1579
It’s a shared hosting.
Here’s everything I could think of.
Just let me know if you need anything else.

Thank you again for your help !

**Data base Server**

Server : Localhost via UNIX socket
Type of server : MariaDB
Version of the server : 10.1.25-MariaDB-1~jessie - mariadb.org binary distribution
Version of the protocole : 10

**Web Server**

Apache/2.4.10 (Debian)
Version of the data base cli

[2017-09-25 14:23] jancborchardt commented on #1588
Exactly, we’re not adding yet another option here. It’s way too specific.

[2017-09-25 14:23] #1588 closed

[2017-09-25 14:24] jancborchardt commented on #579
Could this issue be part of the milestone-after-next then though? Would be cool if this doesn’t fall under the rug, especially since it’s starter-issue-material and should hence be easy to implement. ;)

[2017-09-25 14:55] #1590 closed

[2017-09-25 14:56] AndyScherzinger commented on #579
I'll see if I can find the time plus hoping any other contributor jumps in :)

[2017-09-25 15:31] AndyScherzinger commented on #1379
@tobiasKaminsky I commited a fix to your feature branch https://github.com/nextcloud/android/commit/dcdd708e62fa2a7cdefe66c17a87a89dddca41bf

[2017-09-25 15:33] #1000 closed

[2017-09-25 15:40] AndyScherzinger commented on #1378
This will be covered in the other issues that describe the use of recycler view, glide and different server side thumbnail parts. So closing it as duplicate.

[2017-09-25 15:40] #1378 closed

[2017-09-25 15:46] AndyScherzinger commented on #1513
fixed via #1503

[2017-09-25 15:48] AndyScherzinger commented on #1490
what do you think @tobiasKaminsky @mario @nextcloud/designers ?

[2017-09-25 15:51] AndyScherzinger commented on #1592
@e-alfred can you re-test with 2.0.0RC7? :)

[2017-09-25 15:52] AndyScherzinger commented on #1566
@matiasdelellis thanks for the report. One question: Does the avatar never gets replaced or does it just take a while to pick up the new one?

[2017-09-25 16:10] matiasdelellis commented on #1566
Hi @AndyScherzinger

Since the report was not updated. Even more, delete the account and turned to create and was not updated.

Maybe it would be android-library bug, since it is handled there and use a different url ..

Android-library say that use a non oficial path:
 * https://github.com/nextcloud/android-library/blob/33bfb0b098eabf0be0e6f5400beee787f936900d/src/com/owncloud/android/lib/resourc

[2017-09-25 16:15] matiasdelellis commented on #1566
Ohh..
Android client not use the implementation of library..
https://github.com/nextcloud/android/blob/6826f9dda3ca5fc65f857fe7530a10977a0526c0/src/main/java/com/owncloud/android/datamodel/ThumbnailsCacheManager.java#L552

[2017-09-25 16:19] matiasdelellis commented on #1566
Seems a problem of cache on this client implementation..

* https://github.com/nextcloud/android/blob/6826f9dda3ca5fc65f857fe7530a10977a0526c0/src/main/java/com/owncloud/android/datamodel/ThumbnailsCacheManager.java#L637

Just check if it exists, and try to use that..

[2017-09-25 16:30] AndyScherzinger commented on #1566
Yeah, like to be cached. So it needs to check every now and then and refresh the avatar.

[2017-09-25 16:42] matiasdelellis commented on #1566
Of course.. I agree that it should be in cache..  😉

Something to highlight too is that the background image (The server login backgroud) in the sidebar is automatically updated when the application starts, so it is not in the cache.. In general this image is much bigger than the avatar, therefore it should be in cache too.

Thanks for all,
Regards.

[2017-09-25 16:44] AndyScherzinger commented on #1566
I added that to your original report and mentioned that caching sould maybe only work for e.g. 24 hours.

[2017-09-25 16:44] timmersr commented on #1586
@mario Nothing in the server logs.

[2017-09-25 16:44] timmersr commented on #1585
@mario Nothing in the server logs.

[2017-09-25 16:51] AndyScherzinger commented on #1585
@j-ed @mario does the list stay empty or does it "just" show the loading spinner? Just asking since depending on the amount of items to be found it might take quite a while to fetch&display the information, especially for account with large amounts on images/favorites.

[2017-09-25 17:29] timmersr commented on #1588
FYI, my workaround is to disable "original file will be removed" for WhatsApp pictures, and then to delete manually afterwards.

[2017-09-25 17:42] DBLouis commented on #1577
I tried RC6 (no RC7 on f-droid) but I can't login because the user/pass fields appear to be missing. I enter the URL and I get an error when pressing enter.

[2017-09-25 17:55] j-ed commented on #1585
@AndyScherzinger This is my directory layout:
[code]
If I select the `Favorites` menu entry it last approximately 9s to get "8 folders" folders displayed, **although only 4 folders** have been starred. This means all folders are displayed twice!
Then I select the starred **folder-4** and the spinning wheel is displayed. After 90s I decided to press the back button to return to the Favorites but wh

[2017-09-25 19:05] AndyScherzinger commented on #1585
Pinging @mario @tobiasKaminsky

[2017-09-25 19:26] enoch85 commented on #1490
Nice idea for phones budget phones with small storage. Questions is, how hard is it to implement?

[2017-09-25 21:37] alexknobbe commented on #1586
Nothing in logs here and using RC7

[2017-09-25 21:45] alexknobbe commented on #1594
i can confirm this, same here.

[2017-09-26 06:15] tobiasKaminsky commented on #1419
@mario can you send me the credentials of marvinwankersteen so that I can debug it?

[2017-09-26 06:23] #1379 closed

[2017-09-26 06:27] tobiasKaminsky commented on #1566
A better way to handle this is to have a version id for both images. So we can simply check this.
We should ask server for this.

[2017-09-26 06:30] tobiasKaminsky opened #1595 "Cache background image / drawer image"
Related to #1566

Cache background image in a proper way.
Capabilities return: "background": "https:\/\/server.com\/core\/img\/background.png?v=5"
So this should change on every new image.
I think glide can handle this.

[2017-09-26 06:36] tobiasKaminsky commented on #1577
Can you send us the server url (and maybe test credentials) to android at nextcloud dot com with a reference to this issue?

[2017-09-26 06:40] tobiasKaminsky commented on #1490
I am unsure, having the same name, but in fact a different file, is nothing I feel comfortable with.

Have you seen #69? Maybe this is enough for you?

[2017-09-26 07:00] cowai commented on #1490
@tobiasKaminsky Yes it would feel something like a hack.
Maybe auto populate the cache on upload instead of on demand.

[2017-09-26 09:32] n13d4 commented on #1579
Dear @tobiasKaminsky,

I solved the problem !
I remembered that the problem occurred around the time I tried to use Cloudflare.
I changed back the DNS parameters and now everything works fine.
I still don't know exactly what the problem was but it's solved.

Sincerely,
N.

[2017-09-26 09:35] #1579 closed

[2017-09-26 11:59] j-ed commented on #1577
I confirm the described behavior. After installing RC7 I was asked to confirm, that I want to accept the self signed server certificate although the used CA certificate exists in the Android certificate store. Unfortunately my server is not reachable over the Internet so that I cannot provide credentials to you.

[2017-09-26 13:18] BamiGorengo opened #1597 "SQL and php error in PDOStatement.php#91"
Hi, i switched from owncloud to nextcloud last month. Now i checked the errorlogs and found 2 errors:

The first message is i think because i use a uppercased B in my username... But why i can enter uppercase letters, when its not supported by nextcloud?

And the second error i dont understand. is this a bug?

Best Regards.

[2017-09-26 13:19] mario commented on #1597
Seems like a server error? :)

[2017-09-26 13:20] BamiGorengo commented on #1597
hmm so this is not a problem about configs ore any bugs @nextcloud?

[2017-09-26 13:36] mario commented on #1597
It might be, but you've filled an issue against Android. You need to file an issue against @nextcloud/server ?

[2017-09-26 13:38] BamiGorengo commented on #1597
oh damn... sorry for this misstake. can you move this or i need to reopen it there?

[2017-09-26 13:39] mario commented on #1597
Please re-open there, I'll close it now :) And no harm done! :)

[2017-09-26 13:39] #1597 closed

[2017-09-26 18:11] j-ed commented on #1586
Android 7.1.2
Nextcloud app 2.0.0 RC7

I can confirm the described problem on my phone with the latest build. I must admit that the initial load of the Gallery app on my desktops also lasts around 80s, but on my phone nothing is shown although I've waited several minutes for a reply. Accessing image files using the normal directory pathes nearly show all files immediately.

[2017-09-26 18:17] j-ed commented on #1532
Wouldn't it be possible to show only one message containing a counter like `3 of 10 files uploaded.` instead of separate messages, because especially if you've selected the content of a whole folder you're usually more interested in an overall overview of the upload process than the status of each single file.

[2017-09-26 20:04] AndyScherzinger commented on #1586
If you still see the loading spinner then it is likely that you need to wait even longer.
I for example have to wait for 12 minutes. This will be addressed in the post v2.0.0 era.
The reason is rather simple. The client still uses the so called list view which means the content will be completely rendered in one go which depending on the amount of files kills performance incredibly hard. So the re

[2017-09-26 20:36] timmersr commented on #1586
IMHO options in the main menu that (effectively) do not work, should be removed until they do.

[2017-09-26 22:30] e-alfred commented on #1586
I think @timmersr is right. Having a "feature" that loads for probably tens of minutes just because there are a lot of pictures on the server is just useless. Who would want to wait for that long just to view all pictures on a mobile device (!) if they are in a hurry or just would like to have a gallery view of all of their images?

[2017-09-27 06:51] j-ed commented on #1586
@AndyScherzinger Thank you for this insights, that explains the observed behavior. I would also agree to temporarily remove the menu entry until the underlying code base works as expected because no-one waits minutes to get anything displayed. Especially not if the other ways are working reliable.

[2017-09-27 07:04] AndyScherzinger commented on #1532
That is one idea to lower the amount of notifications, yes. I think @tobiasKaminsky proposed this a while ago, not sure.

[2017-09-27 07:06] AndyScherzinger commented on #1586
They don't ;) To mimic this in the normal list view you just need to have a folder with 5000 images (yes there have been reports of users with such high volume folders...). About hiding these entries, I'd leave this decision to @tobiasKaminsky and @mario. Depending on the timeline when we could implement/publish the recyclerview implementation.

[2017-09-27 08:03] srkunze commented on #1532
@j-ed I like how Google Photos handles this. There aren't any notifications at all for "uploaded". The app itself displays how many photos still need to be uploaded.

[2017-09-27 12:05] tobiasKaminsky opened #1599 "End to end encryption - overview"
Remaining tasks
- [ ] harden up/download process: revert if something is failing
- [] handle existing user
    - [ ] Get public system key from server to validate the signature of the users public key.
- [ ] upload existing file -> automatically rename it
- [ ] synchronize file
- [ ] handle error if folder is locked
- [ ] resume existing upload with token
- [ ] create new folder within encrypted f

[2017-09-27 15:05] enoch85 commented on #1304
Just a quick question, how do I leave the beta program on Google Play once 2.0.0 is released?

[2017-09-27 15:34] mario commented on #1304
You'll be automatically upgraded to 2.0.0 stable, but to leave completely:

https://play.google.com/apps/testing/com.nextcloud.client

[2017-09-27 16:01] enoch85 commented on #1304
Thanks @mario :)

[2017-09-27 19:34] ldmpub opened #1600 "Translation: 2 different sentences needed"
### Actual behaviour
Same key / label is used in 2 different contexts.

### Expected behaviour
To make the app more easy to use:
- need 1 translation in contextual menu => label for an action with a verb like other entries of this menu
- need 1 translation in file properties => label meaning a status (on/off)

See the 2 contexts in screen captures attached with currently the same label in french (

[2017-09-28 00:51] louwers opened #1601 "Nextcloud app crashes when opening 'Activities' overview"
### Actual behaviour
- Application crashes
### Expected behaviour
- Activities shown

### Steps to reproduce
1. Click Activites in sidebar

### Environment data
Android version: 7.1.2

Device model: Oneplus X

Stock or customized system: LineageOS

Nextcloud app version: 20170926 (from F-Droid)

Nextcloud server version: 12.0.3

### Logs
#### Web server error log
N/A

#### Nextcloud log (data/next

[2017-09-28 00:53] louwers commented on #1601
Also when opening 'Notifications' or 'Uploads'.

[2017-09-28 00:59] louwers commented on #1601
Here's what logcat gave me:
[code]

[2017-09-28 01:06] louwers commented on #1601
Just tried 2.0.0RC7, no crash here when clicking Activities/Notifications/Uploads. So I am pretty sure it's not my server.

[2017-09-28 06:35] stalker314314 commented on #1600
This is "set as available offline". I can pick it up. We can even make English translation different as "Set as available offline" (menu) and "Available offline" (in info dialog)?

[2017-09-28 06:36] stalker314314 commented on #1574
As a starter, I'm picking this up:)

[2017-09-28 06:38] comradekingu commented on #1600
@stalker314314 Ensure offline availability, make available offline.
Available on device might be better than available offline

[2017-09-28 07:52] j-ed commented on #1580
Android: 7.1.2
Nextcloud app: 2.0.0 RC7

I've just tested it on my phone but I cannot replicate the problem. If I see the thumbnail of a picture and select it, the download bar is instantly shown and a moment later the picture itself is displayed. The problem might be caused by Android 8 - just a guess.

[2017-09-28 08:40] tobiasKaminsky commented on #1601
Thank you very much for this helpful logcat!

[2017-09-28 09:00] tobiasKaminsky commented on #1601
android:id="@+id/navigation_bar"
            android:layout="@layout/toolbar_standard"/>

Strange, the layout is there...
@AndyScherzinger you did a change regarding the includes: https://github.com/nextcloud/android/commit/6e8d3b1c97dc8d4d416fff276de4ec188a59e230
Do you have time to have a look?

[2017-09-28 09:11] TinoS1964 commented on #1580
Jeah, that's a possibility. I'm happy the images aren't corrupted, they can be viewed on my desktop. There's a challenge for the nextcloud development to tackle it in the future. Best regards, Tino SchenkTSA Systeembeheer Op 28 sep. 2017 09:53 schreef j-ed <notifications@github.com>:Android: 7.1.2
Nextcloud app: 2.0.0 RC7
I've just tested it on my phone but I cannot replicate the problem. If I see

[2017-09-28 10:35] 1-eric opened #1602 "REQ: Enable Auto upload NOW instead of 15 minute schedule"
Currently there is only the possibility to enable or disable auto upload. When I enable auto upload, I have to wait 15 minutes (and keep WiFi connected) before the app starts an auto upload session (checking for new files then upload the new files).

It would be nice if I can set the scheduling interval (for example: manual, 15m, 30m, ...) and have an 'Auto upload now' button somewhere.

[2017-09-28 11:30] mario commented on #1602
If you enable expert mode there is such a meni item in the Upload screen.

On Thu, 28 Sep 2017 at 12:35, 1-eric <notifications@github.com> wrote:

[2017-09-28 12:34] tobiasKaminsky commented on #1556
@MorrisJobke @nickvergessen do you have any insights on this?

[2017-09-28 12:59] 1-eric commented on #1602
@mario Yes thanks that 'force rescan' is the button I was looking for, but still the app will look for new files to auto upload every 15 minutes... unless the user sets the phone's powersaving mechanism to kill this app when it is in the background.

[2017-09-28 13:10] barrydegraaff commented on #1556
Also, for housekeeping it would be better to remove config files that are no longer used, to avoid confusion. So mount.json should be removed, if the configuration of the external storages moved somewhere else.

[2017-09-28 16:52] jsb1 commented on #1166
Oh I'm really sorry, I totally forgot that issue. Did anyone test?

[2017-09-28 16:55] mario commented on #1602
@1-eric this is unlikely to change. If anything, we're completely removing this Expert mode menu from the Uploads screen in the coming versions.

[2017-09-28 16:55] #1602 closed

[2017-09-28 20:48] e-alfred commented on #1594
I have more than one external site configured in Nextcloud. Sometimes, if I click on them, an icon is shown for the first one in the list.

Additionally none of the external sites load in the Nextcloud android app. I only get a white screen.

[2017-09-28 21:00] ldmpub commented on #1600
Thanks for your quick answers and the change already done.

As a translator, when will the new key be available in Transifex for translation? Can I be warned automatically for the arrival of the new key 'favorite_switch' ?

[2017-09-29 09:05] AndyScherzinger commented on #1601
@tobiasKaminsky https://github.com/nextcloud/android/commit/9b876ea2a6abd28f85fde58eb2bf04f8da041e70 should fix this, directly added to the dev branch. I'll check the corresponding feature PR later.

[2017-09-29 09:39] tobiasKaminsky commented on #1556
After reading it again, I think most of this is server related, so @barrydegraaff can you open up your ideas on https://github.com/nextcloud/server

[2017-09-29 09:39] #1556 closed

[2017-09-29 09:43] tobiasKaminsky commented on #1600
It will be available once the PR is merged to master.
If you can get a warning/notification for new strings I do not know :/

[2017-09-29 09:44] tobiasKaminsky commented on #1594
@e-alfred regarding white screen, please open up a new issue

[2017-09-29 09:58] tobiasKaminsky commented on #1419
@mario can you send me the credentials?
As I am next week only working on monday, I would like to fix this until then and release RC8 on monday.
After that we can release final 2.0 the week after.

[2017-09-29 10:10] mario commented on #1419
@tobiasKaminsky on it.

[2017-09-29 10:15] mario commented on #1419
@marvinwankersteen can you please send me an email in the same thread where you've sent me the credentials? I can't seem to find the email right now...

[2017-09-29 12:27] tobiasKaminsky opened #1605 "Clicking on icon initiates multi-select"
Just used amaze and there the multi-select is initialized when you click on a file icon.
With #579 we could also introduce this.
I think this is faster way than the long-press (which still should work)

@jancborchardt for design?

[2017-09-29 13:44] #1600 closed

[2017-09-29 13:46] AndyScherzinger commented on #1600
@ldmpub the key will show up tomorrow / I am not aware of any translator notification mechanism for new keys :/

[2017-09-29 14:01] AndyScherzinger commented on #1574
@stalker314314 Nice! Little hint, try to not open the PR before Sunday so it counts for hacktoberfest in case you are participating 😉

[2017-09-29 15:39] AndyScherzinger opened #1607 "Cache images in Photos Screen"
As discussed in https://help.nextcloud.com/t/android-app-improvements/21545 the Photos view/search (via the main menu) the images aren't caches according to user report. So if this is not the case I'd say as described in the forum that the app should cache these images too.

[2017-09-29 19:30] e-alfred opened #1608 "Android client 2.0 RC7 only shows white screen after clicking on external sites configured in Nextcloud"
### Actual behaviour
-When clicking on external site configured in Nextcloud only a whitescreen is shown in the app. This is probably related to this issue: https://github.com/nextcloud/android/issues/1594 At some point tapping on different external sites makes the icon of the first external site showing in the app reappear.

### Expected behaviour
-External page should load inside the app just li

[2017-09-29 21:01] marvinwankersteen commented on #1419
@mario I resent the mail with the credentials.

[2017-09-30 12:30] mario commented on #1419
@marvinwankersteen got nothing o.O mario AT nextcloud.com? You can also try mario AT lovelyhq.com.

[2017-09-30 17:18] marvinwankersteen commented on #1419
Hm strange. I can see in the logs that the mail is sent to the MX of nextcloud.com...

[code]

I resent the mail again.

[2017-09-30 18:20] jasonbayton commented on #1591
Can confirm this happens for me too.

[2017-09-30 18:28] jasonbayton opened #1609 "Migrating apps & data to a new device - bad config rc7"
### Actual behaviour
I've set up a new device opting to migrate accounts and data from the old phone.

NC requests a login, however in the background already has a config in place leading to ghosts of folders that don't exist on an SD card that isn't present.

.. then it uses battery trying to upload nothing (notification is there, nothing happens).

### Steps to reproduce
1. Run android setup wiz

[2017-09-30 22:01] dan-cristian commented on #601
I have the same issue with my android app. I disabled brute force protection on my 12.0.2 install and it works fine now.

[2017-09-30 22:54] Jannis87 commented on #601
i have the same issue on some of my android devices.
turns out that this was a problem with my ipv6 config. There was an unused AAAA pointer for my nextcloud domain with an ipv6 pointer to nirvana.
Some android devices seem to insist on ipv6 when they see an AAAA entry and dont fall back to ipv4.

My iOS devices are also configured to use ipv6, but they seemed to switch to ipv4 when something is n

[2017-10-01 01:56] KrishAmal commented on #1548
Hey , I would like to work on this .

[2017-10-01 08:12] comradekingu commented on #1548
@KrishAmal A link to the translation platform, and a field for contacting the translators of the currently selected locale.

[2017-10-01 10:25] jasonbayton opened #1610 "Adding sdcard prompts immediate backup"
### Actual behaviour
I've migrated to a new device and as normal have moved the SD card over with it.

Nextcloud detects all media files in autoupload folders as brand new and attempts to immediately upload on 1800 media files, overwriting those already there.

I've had to remove and re-add the account to prevent this.

We need some form of check against what's uploaded already on the server.

###

[2017-10-01 16:26] e-alfred commented on #1608
The same problem happens with the Nextcloud-dev 260917 app on a different device.

[2017-10-01 18:25] mark-orion opened #1611 "Uploading and "Set as available offline" should be available for folders and not only single files"
### Actual behaviour
-Uploading and "Set as available offline" are not available for folders

### Expected behaviour
-You can upload an entire folder tree in one go and you can make an entire folder tree available for offline use.

[2017-10-01 19:40] mario commented on #1592
Considering this fixed.

[2017-10-01 19:40] #1592 closed

[2017-10-01 19:42] mario commented on #1419
Re-tried with master, works like a charm. Thanks @marvinwankersteen.

[2017-10-01 19:42] #1419 closed

[2017-10-02 05:48] tobiasKaminsky commented on #1608
What kind of site do you have configured?
I tried it with different, generic available sites, like facebook.com google.com and some sites hosted on my own server and each worked.
Are those sites reachable via https?

[2017-10-02 05:50] tobiasKaminsky commented on #1610
As I understood auto upload should not upload existing files.
@mario technically for auto upload it seems as out of a sudden someone captured these images all at once. Do you have an idea how to distinguish between "really new fotos" and "inserted a new sd card"?

[2017-10-02 05:57] tobiasKaminsky commented on #1548
@comradekingu this is a good idea, but I think that this is not necessary to have in the app. This is already in https://github.com/nextcloud/android/blob/master/CONTRIBUTING.md, which is already included in "participate" view.

This is the current state:
![2017-09-21-113114](https://user-images.githubusercontent.com/5836855/30689474-5c08e454-9ec1-11e7-8176-3467d5f3ffb4.png)

"Credits/Licences" as

[2017-10-02 06:00] tobiasKaminsky commented on #1609
Do you have google backup system enabled or something similar? Or do you use titanium backup?
After a "real" factory reset no config can ever be there (I do this quite often with emulator) and therefore auto upload cannot have any folders. (it is just like putting a complete new hard disk into a pc).

So the config must come from something else, which it obviously does. Now we have to figure out f

[2017-10-02 06:02] tobiasKaminsky commented on #1607
What is not cached? The thumbnails? Or the search result?

[2017-10-02 06:15] mario commented on #1610
@tobiasKaminsky auto upload relies on timestamp modified + path to see if file has been changed/added. So it's either a case of file getting timestamp changed or SD card getting its mount point changed.

The only real solution is, tada, hashing :) So ... future :)

[2017-10-02 06:20] mario commented on #1610
Given that auto upload would NOT upload a new folder path, this is the case of timestamps changing. Can you confirm @jasonbayton ?

[2017-10-02 06:28] tobiasKaminsky commented on #1610
I understand it as this
- factory reset
- install NC, configure auto upload
- insert sdcard
-> all images on sdcard are detected as new

How can hashing help here? After step 2 there is no image yet which can be hashed.

[2017-10-02 06:31] mario commented on #1610
I am 99,99% sure the exact steps you posted would NOT work. Reason being:
 folders on SD would not show up for configuration BEFORE you inserted the
card.

On Mon, 2 Oct 2017 at 08:28, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-10-02 06:40] tobiasKaminsky commented on #1610
This seems to be related to https://github.com/nextcloud/android/issues/1609 as somehow the "old" config reappears and therefore the upload paths are already configured.

So auto upload is configured for the not yet existing sdcard path and then after inserting the sdcard it correctly detects all new images.
Then this is no auto upload problem, but "only" a problem that the old config somehow reap

[2017-10-02 06:49] mario commented on #1610
True, it's related. But I guess this happens because timestamps change and are different from the one in the database. I'll check, but not for 2.0.0 as this is definitely a larger/long-term thing.

[2017-10-02 06:56] jasonbayton commented on #1610
I see no changes on any of the files for last modified, they coincide with date taken.

@tobiaskaminsky how you see it is pretty much what happened, except the folders were preconfigured based on migrating from the other device.

[2017-10-02 07:00] jasonbayton commented on #1609
It's part of the setup wizard to migrate from the old device with an NFC bump - accounts, apps and data are all pulled over.

While many apps do bring the config over, plenty refuse to allow that and I have to set them up as new. That might be the safer approach for NC if there's a manifest option to define it?

[2017-10-02 07:21] tobiasKaminsky commented on #1610
Which database? It is a clean installation so there are no entries in the database?

[2017-10-02 07:23] tobiasKaminsky commented on #1609
Then we should try to refuse copying config file.
To have an idea which needs to be done: which setup wizard/NFC bump do you use?

[2017-10-02 07:25] mario commented on #1610
If he migrated and synced folders are enabled, there are.

On Mon, 2 Oct 2017 at 09:21, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-10-02 07:26] mario commented on #1609
Its about disallowing db backup which is trivial. Unsure if we should do
that or actually fix the issues :)

On Mon, 2 Oct 2017 at 09:23, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-10-02 07:27] tobiasKaminsky commented on #1610
Right, I only thought that the config file/shared preferences will be transferred, but we store auto upload paths in our database, so if this is on the new device all other values are also there.

[2017-10-02 07:27] jasonbayton commented on #1609
It's part of the android first run/setup wizard:

"Setup as new
Copy from existing device”

Tapping copy initiates the process for doing an NFC bump.

[2017-10-02 07:31] tobiasKaminsky commented on #1304
@Bubu may I ask you for the next RC? Hopefully RC8 is the last one *finger-crossing*

[2017-10-02 08:39] tobiasKaminsky commented on #1609
DB backup might be ok, but we need then to exclude auto upload paths as they are device specific.

[2017-10-02 08:57] AndyScherzinger commented on #1522
👍

[2017-10-02 09:03] mario commented on #1609
I don't think this is possible :) But let me think about this...

On Mon, Oct 2, 2017 at 10:39 AM, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-10-02 09:13] AndyScherzinger commented on #1548
I'd say combine all of them into an about activity (no dialog) which then could link to several "websites", so merging

* Some about text about Nextcloud/App/OSS-hint
* License
* source code
* developer/translator credits

This way we could have some text and 3 "links" and would also reduce the amount of items on the settings page again

[2017-10-02 09:20] AndyScherzinger commented on #1419
@marvinwankersteen @tribut @swalladge we just released 2.0.0RC8 on Google Play. Would you mind giving it a test drive to check if LDAP matters have been resolved for you please? Highly appreciate your help! 😃

[2017-10-02 09:22] AndyScherzinger commented on #1607
I'd think the thumbnails, but I am not sure since I just opened the issue upon user feedback.

[2017-10-02 09:26] AndyScherzinger commented on #1548
Thinking about it a little longer... we already have license and code in the app with the latest release and I'd vote to not put names into the app since that is demotivational in my opinion (how to decide "top developers" etc / how do you feel if you didn't make it on the list)...

I'd say: We leave it as is.

[2017-10-02 09:34] tobiasKaminsky commented on #1609
Ref: #1521
Maybe we can do two steps:
- remove database in 2.0.1
- try to enhance this in 2.1

[2017-10-02 10:34] tribut commented on #1419
Still not seeing the profile picture with the ldap account but otherwise no issues I can find.

[2017-10-02 10:34] jancborchardt commented on #1605
Same for the Android mail app. Is this also used in other common Android apps like Gmail, Inbox, Dropbox, Drive etc? Just want to make sure there's no confusion cause in the web interface we're actually moving from click-icon-selects to opening the file cause it was confusing as people often clicked the file/folder icon to open.

(And really multiselect isn't that often used that I would risk havi

[2017-10-02 10:37] tribut commented on #1419
The profile picture still won't show up for the ldap account, otherwise I cannot find any issues.

[2017-10-02 11:12] AndyScherzinger commented on #1605
GMail yes
Dropbox no
Drive no

So it is not consistently used... But getting rid of the long click would be nice imho

[2017-10-02 11:16] AndyScherzinger commented on #1573
@jancborchardt make all items larger or just the thumbnails --> also enlarge pdf, doc, etc. file type icons?

[2017-10-02 11:30] AndyScherzinger commented on #1573
@jancborchardt pushed (all) sizes of the list to the to be used 40dp size which is the max size according to material design guide which leads to (left: 32dp / right: 40dp)

![device-2017-10-02-132428](https://user-images.githubusercontent.com/1315170/31075435-cf32cb72-a775-11e7-812b-a7b6735cb828.png)

![device-2017-10-02-132417](https://user-images.githubusercontent.com/1315170/31075436-d1b76074-

[2017-10-02 11:34] AndyScherzinger commented on #1573
PS is #1617 - let's have any detail change discussions over there :)

[2017-10-02 13:53] AndyScherzinger commented on #655
to be fixed with upcoming PR

[2017-10-02 13:59] AndyScherzinger commented on #655
PR is #1618

[2017-10-02 16:08] jancborchardt commented on #1605
Long click for multiselect is an absolute Material Design / Android pattern by now so I think that’s ok.

[2017-10-02 16:20] marvinwankersteen commented on #1419
Same here. Still no profile picture.

[2017-10-02 16:23] AndyScherzinger commented on #1605
Keeping the long click is fine with, having the icon click as a second way of selecting would be a nice addition imho.

[2017-10-02 17:28] j-ed opened #1619 "2.0.0.RC8 unable to access external side links pointing to LAN ressources"
### Actual behavior
I've enable access to a Nextcloud instance over the internet. Everything seems to work fine except accessing a web page which have been added via an external side entry and which is pointing to a resource on the LAN. As soon as you click on such a link the following error is displayed:

![20171002_external_link](https://user-images.githubusercontent.com/2572764/31090375-bb9e5a3

[2017-10-02 17:38] Bubu commented on #1304
@tobiasKaminsky Done. The latest stable version was moved to the archive after the last RC (because default is to keep only 3 versions.). I fixed this as well, so RC8 and latest 1.x will be available (again) in 1-2 days.

[2017-10-02 18:18] j-ed commented on #1594
I've just tested it with the Nextcloud app 2.0 RC8 and only the first of three external sites is prefixed by the configured icon. Is this how it should work?

[2017-10-02 18:20] j-ed commented on #1619
It might be possible that issue https://github.com/nextcloud/android/issues/1608 describes a similar or the same issue?!

[2017-10-02 18:44] mario commented on #1419
@marvinwankersteen and @tribut fixed via https://github.com/nextcloud/android/pull/1620, sorry - forgot this!

[2017-10-02 19:28] mario commented on #1553
Are we ignoring this one? xD

[2017-10-02 19:58] e-alfred commented on #1608
The problem is with custom ports. I have pages like https://my.domain:5655 which do not work. Ports on 80/443 seem to work, I tried it with google.com and it works.

[2017-10-02 20:38] AndyScherzinger commented on #1553
Seems we missed this one...

[2017-10-02 21:45] mario commented on #1553
Can you look into it?

On Mon, 2 Oct 2017 at 22:38, Andy Scherzinger <notifications@github.com>
wrote:

[2017-10-02 23:13] ralieghnet commented on #1350
I'm also having the same problem. Here is a screen shot right after the upload happens. I'm using a Samsung S6 edge.
App version 1.4.3
I've done some testing and the error will occur regardless of internet connectivity or setting based on connectivity. It occurs each time I take a photo or place a picture in the selected directory
local
/storage/emulated/0/DCIM/
remote
/InstandUpload/Camera

![scr

[2017-10-03 03:50] esafirm commented on #344
Hi, this seems interesting. Could i take this one?

[2017-10-03 04:51] mario commented on #344
@esafirm just one second please :)

@AndyScherzinger hm, what is this issue about? Shouldn't it upload to a current account?

[2017-10-03 06:36] mzeyrek opened #1622 "Dual upload on multiple IP's (ipv4 & ipv6) - pfSense TunnelBroker"
I've setup ipv6 (https://doc.pfsense.org/index.php/Using_IPv6_with_a_Tunnel_Broker) to my LAN network where nextcloud is hosted,

### Actual behaviour
-when a folder set to autosync with wireless only, uploads same new/changed file twice

### Expected behaviour
-Upload to server only once.

### Steps to reproduce
1. establish ipv6 over ipv4 via TunnelBroker (pfSense)
2. Android client gets both ip

[2017-10-03 10:05] AndyScherzinger commented on #344
It is for share with nextcloud where the folder chooser of our app comes up. At the moment this has a blocking pop up with an account chooser but instead should just default to the current account while having a action bar chooser for the accounts. Just like defined by Jan in the issue description.

So imho @esafirm can go ahead :)

[2017-10-03 10:09] AndyScherzinger commented on #1350
@ralieghnet please give 2.0.0RC8 a try since 1.4.3 is obsolete with the upcoming 2.0.0

[2017-10-03 10:10] mario commented on #344
Ah! Ok, @esafirm - you have a go!

[2017-10-03 10:38] esafirm commented on #344
I'm on it 👍

[2017-10-03 20:45] AndyScherzinger commented on #1553
Tomorrow evening I guess. Not at my laptop atm

[2017-10-03 20:54] AndyScherzinger opened #1623 "Implement background image cache"
implement a background image cache like it has been done for avatars, see #1621 and please see also  #1595

[2017-10-03 20:57] AndyScherzinger commented on #1566
avatar cache is PR #1621
background image cache has been put into a separate issue #1623

[2017-10-03 21:57] jancborchardt opened #1624 "Settings background is greyish instead of white"
The background color of the Settings is a slight grey. All background colors (except when viewing images of course) should be white though.

EDIT: Andy -> changed description to all backgrounds should be white.

[2017-10-03 22:00] jancborchardt opened #1625 ""Animation" (transitions) of panes like Favorites, Activity etc feels out of place"
Currently the other navigation entries like Favorites, Activity and such from the sidebar result in the content being animated in from the bottom. This is very strange and has no corresponding spacial model.

The sidebar is the only moving thing, and the content area should directly be modified without directional animation. Only when you for example navigate into a subfolder or back up again (via

[2017-10-04 09:39] AndyScherzinger commented on #1624
All background colors except for viewing images should be white imho ;)

[2017-10-04 09:42] AndyScherzinger commented on #1625
Sounds good to me, needs some research on how to influence animations.

[2017-10-04 09:44] mario commented on #1625
This is a bigger issue. It used to work the "right" way when I initially wrote it, but unfortunately due to some bugs @tobiasKaminsky had to make it work the way it is now.

I guess we could look into it once we're rewriting everything to RecyclerView.

[2017-10-04 09:44] mario commented on #1625
(To explain further: this is actually NOT an animation issue)

[2017-10-04 09:45] mario commented on #1624
Well, the issue subject does say white :D

[2017-10-04 09:47] AndyScherzinger commented on #1624
I know but the description said black. So just clarifying :)

[2017-10-04 12:40] krombel opened #1626 "contact backup is not possible to do wifi-only"
### Actual behaviour
Backup of contacts is done without taking into account if the device is on mobile or on wifi

### Expected behaviour
The app should not upload the backup when the app is on mobile - it should be configurable

### Steps to reproduce
1. configure contacts backup
2. go on mobile
3. wait for contact backup to get triggered

### Environment data
Android version: 7.1.1

Nextcloud ap

[2017-10-04 13:27] jancborchardt commented on #1624
:D Sorry, miswrote. Thanks @AndyScherzinger ;)

[2017-10-04 13:30] jancborchardt commented on #1605
That’s what I’m saying though:

And because we already have a mechanism for multiselect which is the de-facto standard, we don’t really need another one which has the potential to majorly mess with normal navigation. ;) Hence I’d say no on this.

[2017-10-04 14:37] codedsun commented on #1624
Can i work on this issue?

[2017-10-04 14:41] codedsun commented on #1623
can I work on this issue?

[2017-10-04 15:13] AndyScherzinger commented on #1624
Absolutely @codedsun 👍

[2017-10-04 15:13] AndyScherzinger commented on #1623
Absolutely @codedsun 👍

[2017-10-04 15:15] AndyScherzinger commented on #1605
Fine by me :)

[2017-10-04 16:28] esafirm commented on #344
Moving it to overflow menu. Is the order alright?
I think the menu title should be `switch account` but creating new string resource kinda overwhelming (translation stuff) so i chose the already defined string "choose account"

<img width="342" alt="screen shot 2017-10-04 at 11 20 37 pm" src="https://user-images.githubusercontent.com/1691440/31187019-a936beba-a95a-11e7-9f39-e2597b0d2f56.png">

[2017-10-04 16:46] AndyScherzinger commented on #344
@esafirm you can just create a new string, no worries. You just need to have the standard value, all translations will come in via Transifex. After this has been merged to master the Nextcloud bot will push it to Transifex for translations.

@jancborchardt what do you think? Since it is now kind of hidden and implicit (since you are not forced to choose) I'd like to have the current account as a s

[2017-10-04 20:46] gab07 opened #1628 "Typo in AuthenticatorActivity Spanish version"
### Actual behaviour
The app shows this:
¿No tienes todavía un servidor?ulsa aquí para conseguir uno de un proveedor

### Expected behaviour
¿No tienes todavía un servidor?
Pulsa aquí para conseguir uno de un proveedor

### Steps to reproduce
Just run the app for first time in a device in Spanish

Btw there is a test server or I have to get my own?

[2017-10-04 20:51] AndyScherzinger commented on #1628
Thanks for the report @gab07 👍 - I fixed the translation on Transifex right away: https://www.transifex.com/nextcloud/nextcloud/translate/#es/android/91098307 This will thus be fixed in the next release of the app.

If you need a test server you can checkout https://demo.nextcloud.com/

[2017-10-04 20:51] #1628 closed

[2017-10-04 21:20] AndyScherzinger commented on #1601
@louwers does it still happen for you with latest dev version 20170930 ?

[2017-10-04 21:54] comradekingu commented on #344
The underlying text could start scrolling if blocked by an overlying text, not that it made sense this time.

[2017-10-04 22:07] AndyScherzinger commented on #344
@comradekingu not sure I understand, the subtitle is shown below like for example shown here: http://www.viralandroid.com/2015/12/setting-android-actionbar-subtitle-and-color.html

Do you think the account string might be too long to fit in some edge cases?

[2017-10-05 01:01] esafirm commented on #1595
@tobiasKaminsky @AndyScherzinger can you guys elaborate more on this? 🙏

[2017-10-05 07:32] AndyScherzinger commented on #1595
Tobias will be back next week but I try my best....

The server offers a capabilities API which we already call to get information about the server's setup. This API provides us a JSON which contains the key/value mentioned by Tobias and which we use to load the background image. What we don't do yet and that is what this issue is about is to save and compare this value. Since it contains a versio

[2017-10-05 07:40] AndyScherzinger commented on #1347
@geez0x1 2.0.0RCs are available on f-droid now 🎉 If you find the time would you mind giving it a try? 😃

[2017-10-05 08:01] AndyScherzinger commented on #1319
Also keeps happing with 2.0.0 RC8, but I found a 1.4.3 Stacktrace in the old crash console:

[code]

[2017-10-05 10:10] codedsun commented on #1624
@AndyScherzinger I have an issue regarding the setting up for project , the issue
 Error:This Gradle plugin requires Studio 3.0 minimum
I ran the ./gradlew clean build but still it shows the error.

[2017-10-05 11:00] mario commented on #1624
You need to install android studio 3

On Thu, 5 Oct 2017 at 12:10, Suneet Srivastava <notifications@github.com>
wrote:

[2017-10-05 13:43] esafirm commented on #1595
@AndyScherzinger ah i see, thanks for your explanation. AFAIK Glide do caching as the default configuration and the default key is the URL and the query parameter too.

So the background source is from here, right?
[code]

Questions:
1. How one can set the background URL?
2. Where i should look, If i want to know more about `OCCapability`?  Is there any documentation?

[2017-10-05 14:43] AndyScherzinger commented on #1595
@esafirm maybe we need to wait until Tobias is back (next week).

1. The background can be set on the server in the admin area via the themeing capabilities (Admin-->Thememing-->Background) in the web UI.
2. ```OCCapability``` is provided via the client lib https://github.com/nextcloud/android-library/blob/master/src/com/owncloud/android/lib/resources/status/OCCapability.java and offers the inform

[2017-10-05 14:50] mario commented on #1595
@AndyScherzinger @esafirm the solution is rather simple. Since the URL changes, if we move to Glide to load the image, it'll automatically pull the new image and cache it the next time we call it.

I don't know if we use Glide to set/download this image, but if not - just use that and done! :)

[2017-10-05 14:57] AndyScherzinger commented on #1595
@mario will glide auto detect the change since it is only the URL that changes?

[2017-10-05 14:57] mario commented on #1595
@AndyScherzinger yes.

[2017-10-05 15:01] esafirm commented on #1595
@AndyScherzinger 👍

It already is

<img width="877" alt="screen shot 2017-10-05 at 9 59 33 pm" src="https://user-images.githubusercontent.com/1691440/31234231-88d945e8-aa18-11e7-9444-21acae212f11.png">

[2017-10-05 15:06] mario commented on #1595
@esafirm @AndyScherzinger then this should already work afaik.

[2017-10-05 16:40] AndyScherzinger commented on #1595
@esafirm @mario I am sorry, then I must have missread #1566 which states:

And @mario alsready did the part for the avatars in another PR so then yes we should be all set here... Sorry folks, my mistake... 😢

[2017-10-05 16:40] #1595 closed

[2017-10-05 16:41] AndyScherzinger commented on #1566
Update since I misread the issue: background image cache is already in place

[2017-10-05 17:46] jancborchardt commented on #344
@AndyScherzinger having the account name as a subtitle sounds good! I also thought about directly showing the avatar in the top right (where the share icon would normally be, next to the menu icon), what do you think? Of course only show it when you have two different accounts in the first place – same for the subtitle, it’s not needed with only one account.

The only issue with the avatar of cour

[2017-10-05 17:46] jancborchardt commented on #1605
@tobiasKaminsky is that ok with you? ;) Sorry but I really think it unfortunately has more potential for confusion, which would outweigh the value.

[2017-10-05 18:46] jancborchardt opened #1630 "Opening files in dev beta app does not work"
You only get "Sorry, there is no local fule to preview" as empty content view. Same for multiselect downloading.

Previews and normal navigation works fine.

It works in the normal app of course.

[2017-10-05 19:16] AndyScherzinger commented on #1605
Well Jan you just asked for half of it on the other PR where I opossed to it... ;)

[2017-10-05 20:01] AndyScherzinger commented on #344
Hmm,not sure about the avatar. Never saw any app doing this or a guideline promoting it. Anything besides unicolored menu icon on the right seems unusual,no material. Besides that you have the same issue if you have to accounts without avatars which gives you the letter circle and if the accounts end up with similar color codes than you can't distinguish them either.

[2017-10-06 08:13] #1229 closed

[2017-10-06 09:02] #584 closed

[2017-10-06 09:04] AndyScherzinger commented on #591
Support is server 11.0.3+
This might need another PR done for the library project.

[2017-10-06 09:29] AndyScherzinger commented on #591
@jancborchardt @nextcloud/designers here are two mock ups for integrating the group info the the profile view:

Variant 1
![device-2017-10-06-112015](https://user-images.githubusercontent.com/1315170/31271951-7afdba28-aa89-11e7-9d21-555870e6520c.png)

Variant 2:
![device-2017-10-06-112645](https://user-images.githubusercontent.com/1315170/31271962-81b76ba2-aa89-11e7-9ad4-525a6e1043a1.png)

I'd vot

[2017-10-06 09:43] AndyScherzinger commented on #1212
PR for mime type removal on file details screen: #1632

[2017-10-06 09:48] AndyScherzinger commented on #441
Hi @Crasha this has been re-introduced for the next release 2.0.0 which you can already test via our release candidate.

[2017-10-06 09:48] #441 closed

[2017-10-06 09:50] AndyScherzinger commented on #419
I'd close this for now since all vectors should now be available in the Android repo.

[2017-10-06 09:50] #419 closed

[2017-10-06 09:53] AndyScherzinger commented on #227
No response since 7 month, so closing for now. Please re-open if problem still occurs.

[2017-10-06 09:53] #227 closed

[2017-10-06 11:19] jancborchardt commented on #1605
@AndyScherzinger aah ok, you mean the 3-dot-menu in the list? With overlaying the checkbox icon on the file icon I meant only as soon as multiselect is already initiated. :)

[2017-10-06 11:29] sorcer1122 commented on #601
Having the same problem as well. Funnily enough, had bruteforce enabled and no problems. A few days ago I had to reinstall everything and now with 'auth.bruteforce.protection.enabled' => true in config.php I am not able to login, always give a timeout error on Android. Tried iOS as well - very very slow but at least I can login...

After I turned bruteforce off, everything works like a charm!

[2017-10-06 11:49] AndyScherzinger commented on #1605
@jancborchardt Ah okay, than I missunderstood it 👍

[2017-10-06 13:18] rizal-rovins commented on #1624
Is it solved or can i work on it ?

[2017-10-06 14:34] codedsun commented on #1624
@rizal-rovins  I m working on it..

[2017-10-06 15:21] MightyCreak commented on #601
Bruteforce is pretty useful though. I also fixed my problem, at first, by disabling the bruteforce option, but I figured later that I still had GNOME Online Accounts that was trying to connect but with the wrong credentials. That was what was messing up the bruteforce attempts detection. (Basically that's how bruteforce detection works: if too many failed connections with same IP, then block the I

[2017-10-06 19:03] KingIdee commented on #1624
Uhmm.. Where is the settings page -_-

[2017-10-06 20:28] AndyScherzinger commented on #1624
@KingIdee drawer menu item at the bottom of the main menu :)

[2017-10-06 20:44] KingIdee commented on #1624
I meant on the repo. Thanks

[2017-10-06 20:52] AndyScherzinger commented on #1624
Here: https://github.com/nextcloud/android/blob/master/src/main/java/com/owncloud/android/ui/activity/Preferences.java

[2017-10-07 14:03] comradekingu commented on #655
I was surprised to find delete at 1158 and remove at 26573 https://corpus.byu.edu/coca/
Still i think remove has its place, for things that can be easily added again. Like removing a filter.

[2017-10-07 17:00] Crasha commented on #441
@AndyScherzinger Awesome, thank you!

[2017-10-08 10:42] inntaler opened #1634 "Nextcloud Photo upload"
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove sensitive dat

[2017-10-08 10:53] mr-bolle commented on #859
Hi, the unlocking over the fingerprint works great (Sony Xperia Z5 v7.1.1).

I have a desire, is it possible to memorize successful unlocking for the next 10 minutes or until the display is turned off? If for example, individual files are uploaded to the Nextcloud, it is always necessary to unlock them.

[2017-10-08 10:57] Flole998 commented on #859
Fingerprint unlocking should work just the way PIN unlocking works, it should "remember" that it was unlocked for a while, I'm not sure about the exact timing there though. If I'm not mistaken the PIN unlocking memorizes that for a while and so should fingerprint unlocking.

[2017-10-08 11:19] #1634 closed

[2017-10-08 21:48] louwers commented on #1601
@AndyScherzinger Nope! Closing this. Thank you.

[2017-10-08 21:48] #1601 closed

[2017-10-08 22:11] sduensin commented on #1444
Would love to see this sooner than later.

[2017-10-09 06:26] tobiasKaminsky commented on #1304
@Bubu can you do another (hopefully last) RC9?
https://github.com/nextcloud/android/releases/tag/rc-2.0.0-09

Regarding the app versions, I guess the best is to only show the latest RC and at least the latest 2-3 stable version, in case someone wants to downgrade.
RC can then be disabled if version is stable.

Thank you 🥇

[2017-10-09 07:30] behgonn opened #1636 "Can't connect over WAN"
### Actual behaviour
Android App from Fdroid version 2.0.0RC7 can't connect to my Server over WAN. LAN is ok,with Browser i can connect over both LAN and WAN. Windows App and iOS App works without problems.

### Expected behaviour
Android App should connect over WAN.

### Steps to reproduce
1. I have the Account connected in LAN
2. Change to Mobile WAN and start tge App.
3. Can't connect.

### Env

[2017-10-09 09:44] xXSTrikeXx commented on #1636
Did you configured the account on LAN? Try to register your accont over WAN in the App. Just to prevent you´re using a LAN IP.

[2017-10-09 09:51] behgonn commented on #1636
I use a ssl Domain over wan and lan, i can't get a connection over wan to login.

[2017-10-09 10:07] xXSTrikeXx commented on #1636
What kind of server use you? Did it worked before over WAN in some of the other app versions? Portforwarding activated?

[2017-10-09 10:18] behgonn commented on #1636
I have a 2.4 Apache Web Server.  I wrote above that all applications work over LAN and WAN this include Windows Client and the iOS App. Only the Android App can't get a connection over WAN. Over the Webbrowser with Android i get a connection, only the App is not working.

[2017-10-09 10:38] xXSTrikeXx commented on #1636
Does it work with latest RC8?

[2017-10-09 10:40] behgonn commented on #1636
I did the update to RC8 some minutes ago, still the same issue.

[2017-10-09 11:02] AndyScherzinger commented on #1636
@behgonn can you check the Nextcloud brute foce database table and remove all entries within? One issue might be that your device has been blocked.

[2017-10-09 11:24] behgonn commented on #1636
Hi, i knew that i cleared this table one or two times ago. But it didn't worked because i get blocked again i think.

Because i can't login remote to the Server at the Moment i tryed a free vpn and it worked.

So i think the solution would be to disable the brutforce blacklist, is this possible?

Thanks for the help!

[2017-10-09 11:25] AndyScherzinger commented on #1636
That I don't know...server know how... pinging @nickvergessen @MorrisJobke

[2017-10-09 11:29] behgonn commented on #1636
The big question at this point is how is it possible that the bruteforce blacklist block the app but don't block the login via browser/web, it's the same IP, and it's a mobilephone i get every time a new ip when i start the phone or connect it bag to 4G. Questions over Questions.

[2017-10-09 11:42] nickvergessen commented on #1636
You can whitelist ips with https://github.com/nextcloud/bruteforcesettings so they are not throttled anymore, does this help?

[2017-10-09 12:09] tobiasKaminsky commented on #1636
in config.php

Though this will not help to solve the underlying problem

[2017-10-09 12:18] Bubu commented on #1304
@tobiasKaminsky Done. For showing only latest RC fdroid is lacking the functionality to manually mark versions as archived. They can only be deleted but I havn't done this for now.

[2017-10-09 12:25] behgonn commented on #1636
I will try the whitelist later in the Office, but i can't and nobody should whitelist changeing ip's from mobile provider, than makes the brutforce blacklist no sense.

I will post the results but also change the brutforce in the config to false, thanks for this advice!

[2017-10-09 12:42] tobiasKaminsky commented on #1594
@j-ed thanks, I can confirm this and will fix it.

[2017-10-09 12:44] tobiasKaminsky commented on #1608
@e-alfred can you send a not working url to android at nextcloud dot com with a reference to this issue? Then I can debug it.
(I can also try it with any other arbitrary site with custom ports, but then chances are high that it still will not work for you)

[2017-10-09 14:09] tobiasKaminsky commented on #1304
You are the expert on fdroid, but I thought that we could "just" put disable on certain build receipts?
https://f-droid.org/docs/Build_Metadata_Reference/#Build

[2017-10-09 14:19] Bubu commented on #1304
This works, but completely removes those builds from the server. I would prefer to just move those obsolete RCs to the archive repo along with all the other old versions. I'll ask what the others think about this, but I guess it's not that important to keep old RC's archived for now.

[2017-10-09 14:57] AndyScherzinger commented on #1419
@tribut @marvinwankersteen we just released RC9 with an avatar fix on Google Play. Does that version fix the issue for you?

[2017-10-09 17:13] j-ed commented on #1636
If the Nextcloud server is reachable over the Internet using a web browser, the general access should be fine (including the blacklist and firewall settings). Very often DNS resolution differs between LAN and mobile Internet access. It might be worse to try to set-up the Nextcloud account in the app over the Internet to get more detailed messages, like if the server is reachable etc.
Additionally

[2017-10-09 17:42] mario commented on #1419
Awesome, thanks for the account!

On Mon, 9 Oct 2017 at 19:37, marvinwankersteen <notifications@github.com>
wrote:

[2017-10-09 17:49] AndyScherzinger commented on #1419
Sweet and kudos to @mario for fixing it 🏆

[2017-10-09 18:28] jancborchardt opened #1637 "Also display share icon in detail view, left next to 3-dot-icon"
As a follow-up to File actions in the list #579, we should also have the share icon directly displayed in the detail view header (where currently only the 3-dot-icon is).

Also cc @rhari991 who is working on Add options for operations on single files #1613

[2017-10-09 18:31] jancborchardt opened #1638 "In detail view (when viewing a picture), also make the background of the lower bar transparent"
Just like the background of the header with filename etc is half-transparent, the bottom bar (with back, home, switcher) should be half-transparent too. Currently it’s black.

Then when you zoom into images there’s more perceived space for them. :)

[2017-10-09 19:03] jancborchardt opened #1639 "Activity section design details"
Currently the Activity section looks like this:
![screenshot_2017-10-03-19-25-35](https://user-images.githubusercontent.com/925062/31353776-228cdbbe-ad34-11e7-8b82-6600a98261d5.png)

To make it look more in line with the Nextcloud style, here’s some detail fixes:
- [x] The big headings should not repeat the small detail timestamp. The first one is »Today« (if any), followed by »Yesterday« (if any)

[2017-10-09 19:14] jancborchardt commented on #531
Here is how Simplenote does it:
![screenshot_2017-02-09-21-13-34](https://user-images.githubusercontent.com/925062/31354417-a628e2e0-ad36-11e7-9d2b-afe409f4644d.png)
It’s one integrated Share dialog. With the Simplenote-internal share options on the top, and the typical Android "send" options at the bottom.

We could do the same for us, putting shortcuts to »Share with people« and »Share link« on

[2017-10-09 19:39] ldmpub commented on #1124
This is also an issue from my point of view, see below a **double notification** during file download:
![double notification screenshot_20171009-205805](https://user-images.githubusercontent.com/1452146/31355362-30895d68-ad3a-11e7-8746-60da2239a492.png)

[2017-10-09 19:42] jasonbayton commented on #1124
One is a persistent notification aiding the app in staying in the foreground, the other is task specific. In English maybe it makes more sense?

- Nextcloud is running
- Uploading xxxx.xxx.xxx (or downloading, or syncing etc)

[2017-10-09 19:48] jancborchardt opened #1640 "Some small issues with search"
- [ ] When you open a folder and then directly search, the background refresh will kick you out of the search
- [ ] The header text is not alinged correctly. Should be left-aligned just like the heading (or with the content text in the list view)
- [ ] The search spinner should say a more contextual »Searching …« instead of »Loading«
- [ ] When removing the search or going back, you see »No files