[2018-04-16 14:42] MorrisJobke commented on #2465
There is no official support for this, so if it works if you disable mod_security then it's up to you to configure it properly to work with Nextcloud.

[2018-04-16 14:55] AndyScherzinger commented on #2465
Thanks for the Feedback @MorrisJobke - thus closing this issue.

[2018-04-16 14:55] #2465 closed

[2018-04-16 17:02] Scoub29 commented on #2461
Il have exactly the same problem with Huawei p8 (Android 7.0). Change path storage doesn't fix this issue. Grid mode instantly crash the app

[2018-04-16 17:20] archlas opened #2476 "after remove account, onBackPressed() issues"
### Actual behaviour
1. after remove the account (logout)
2. back to login screen & press back button key from hardware
3. back to login screen again & press back button key from hardware again
4. back to login screen again & press back button key from hardware again
5. back to login screen again & press back button key from hardware again
6. exit the app (??? why)

this process non-stop for 3-4 t

[2018-04-16 17:29] user23498723452 commented on #2468
This is a temporary error that appears.  The nc app doesn't work.

When I restart the app, everything works and this error stops being logged.

I suspect that the specific hash protocol mentioned works just fine... when nc is working fine.  It is more of a symptom, then the problem, is my point.

[2018-04-16 18:16] Scoub29 commented on #2461
I have fix this issue. Android settings -> App settings -> Nextcloud. Delete cache, delete data.
After, uninstall/reinstall Nextcloud and no problem with grid mode 😉

[2018-04-17 02:16] loxK commented on #2019
@mario I haven't change my phone since I reported this issue.

[2018-04-17 03:17] AndyScherzinger commented on #2267
That is strange indeed...
@mario @tobiasKaminsky any ideas why log outs might be happening here?

[2018-04-17 09:35] jult commented on #2249
Just for your information; Creating a new non-admin user seems to have fixed the bug for me. So:
Uploading and Auto Upload doesn't work for the server admin user, it does work for a non-admin user.
You may want to document this somewhere.

[2018-04-17 09:49] mario commented on #2249
This makes no sense @jult. @tobiasKaminsky I've seen this on encrypted stuff - could be related?

[2018-04-17 10:07] jult commented on #2249
@mario, well, perhaps by installing the new nextcloud account it used some newer code from a newer nextcloud release? I wouldn't know. I'm doing it all on the same android device to same server setup, and this is what made it work for me;
Wiped data/Uninstalled/purged the nextcloud app using Titanium Backup (paid version) on my Samsung N910C. Had to do this because I could not find another way to

[2018-04-17 10:08] mario commented on #2249
We're going to support syncing existing files eventually. There's only so much of us, so please some patience! :)

[2018-04-17 10:15] nerijus commented on #2466
Do you know if packages in CentOS 7 epel repo will be updated?

[2018-04-17 11:13] tobiasKaminsky opened #2478 "Upload view: "no uploads" not tinted?"
Shall this upload icon be tinted? For me it looks kind of weird as the default blue is never shown everywhere else.

![2018-04-17-131157](https://user-images.githubusercontent.com/5836855/38866358-f2644f10-4240-11e8-83fd-06a2816d9275.png)

[2018-04-17 13:41] tobiasKaminsky commented on #2474
I also searched for quite some time and read a lot.
Personally I feel a bit more into MVP.

To get a feeling how this will be, and as it is not that big, I suggest to start with activities. (This will get merged at some point with notifications...).

I would be really glad if you wanna give this a start @ardevd :+1: :tada:

[2018-04-17 15:26] OlivierS1 commented on #2249
@Jult, I don't think Admin account is the cause of the issue. My account is admin, not the original admin though and I do not experience particular problems.
I do seem to remember having Non Dev and Dev version of the app installed on the same device  was causing some issues. This was back around NC 1.5 or 2.0.
I think there is a conflict, probably because they were sharing common files. I just do

[2018-04-17 18:31] Iippa commented on #1458
Did You find the solutions to this problem? I'm having same problem with Android 8.1.0. Other phone with older Android version works fine.

[2018-04-17 20:14] Cole128 commented on #2249
So it seems like maybe the issue is when you use the original account?

[2018-04-18 00:43] Cole128 commented on #2249
it still doesn't work with an admin but not original account

[2018-04-18 01:38] peteromero commented on #2267
@AndyScherzinger , @mario, @tobiasKaminsky  - I had some problems with spontaneous logouts in the web version & it seems to be my provider (df.eu), which many people report problems with, despite they're otherwise quite decent. Mobile apps were always very stable, and I love it :)

As said, since the update, I either cannot login, or I'm logged out after a new start. Then, my username will not be

[2018-04-18 03:54] vaderf commented on #2267
Hello everyone,

I have started following this thread since few weeks now because I am encountering the same login loop problem as @peteromero. But I am able to log either into my account with the Nextcloud dev app or into a test account with the Nextcloud production app. However I was not able to log into my account with the production app until today when using my username all uppercase (I was n

[2018-04-18 06:06] #2444 closed

[2018-04-18 06:42] stalker314314 opened #2480 "App crash (beta) with "Bad notification for startForeground""
### Actual behaviour
App crash with notification staying at 0% all the time.
Files seems to get uploaded though.
App keeps crashing and no way to get it back.
When I open it again, files get uploaded.

When I take another photo, it crashes again (but files get uploaded etc).

### Expected behaviour
App should continue working

### Steps to reproduce
Latest beta (14.04.2018.). Always reproduced whe

[2018-04-18 06:58] tobiasKaminsky opened #2481 "Centralize notification handling"
From https://github.com/nextcloud/android/pull/2479#issuecomment-381979999:

[2018-04-18 08:04] tobiasKaminsky opened #2483 "Menu with icons"
![menu with icons](https://user-images.githubusercontent.com/5836855/38918981-96671ff8-42ef-11e8-97ed-8d3eb05d5d9f.jpg)

We brainstormed a bit on hackweek and @jancborchardt came up with adding icons to overflow menu as part of new sharing.
As this would blow up sharing PR, this can and should be done independent.

The idea is to not have an icon on every entry, but only on the most important ones

[2018-04-18 08:10] splitt3r opened #2484 "Contacts Backup: Wrong theme color + can´t be disabled"
### Actual behaviour
- I have multiple Nc instances with differen theming colors but the contacts backup dialog doesn´t use the correct theming color all the time
- I enabled contacts backup some time ago and disabled it afterwards but Nc still backups the contacts

### Expected behaviour
- The correct theming color should be used
- Contacts shouldn´t be backuped anymore

### Steps to reproduce
1.

[2018-04-18 08:27] tobiasKaminsky opened #2485 "Roadmap: file detail & new sharing"
During hackweek @jancborchardt draw a new sharing system, which is nearly the same as web UI and which should then be also in sync with iOS.

* [x] Iteration 1 for File detail & new sharing #2533 (revamped UI approach)
* [x] Iteration 2 for File detail & new sharing #2573 (sharing in general)
* [x] Iteration 3 for File detail & new sharing #2671 (e-mail sharing permissions, details)
* [x] Iteratio

[2018-04-18 08:44] tobiasKaminsky commented on #2485
Ref for comments: https://github.com/nextcloud/server/issues/7315#issuecomment-347468998

[2018-04-18 08:49] jult commented on #2249
Did you actually remove the app and its data and cache, before entering the new account? Android is famous for not changing anything about an installed app if you don't do that.. You need to really purge everything of the app, except for your own sync-dirs/content of course.
Also, @OlivierS1 I first installed the Nextcloud Talk app by accident, also added my login to it, only to discover I had pic

[2018-04-18 09:38] tobiasKaminsky commented on #2249
There was once a bug on E2E, where the access (and thus also upload) to an encrypted folder did not worked, if the username on login was not the same like the userid (which the admin specified). As most of the admins have an account and login "admin", it seemed that "admin" worked, whereas some other complex usernames did not worked.

This was only related to E2E, so if you do not have this enable

[2018-04-18 10:57] arundhati24 opened #2486 "Auto-scale icons as per change in column count"
### Actual behaviour
Currently, the icons do not auto-scale as per the column count, when pinch zoom feature is used. This makes the screen look a bit weird.

### Expected behaviour
The icons should be auto-scaled as per the column count.

### Steps to reproduce
1. Open the All Files activity
2. Switch to Grid View
3. Pinch Zoom to change the column count to see some weird changes.

Reference : #2

[2018-04-18 11:39] tobiasKaminsky commented on #2484
Thank you for this bug report. Indeed the problem was if the color is so bright that a dark font color is used, then the theming misbehaved.
I will push a fix, which then looks like:
![2018-04-18-133539](https://user-images.githubusercontent.com/5836855/38929753-b1712438-430d-11e8-99bb-2201e331866d.png) ![2018-04-18-133555](https://user-images.githubusercontent.com/5836855/38929754-b18facaa-430d-1

[2018-04-18 11:44] splitt3r commented on #2484
I enabled it only for one of the three accounts and disabeld it after some time. But the app still backups the contacts regularly.

[2018-04-18 11:47] tobiasKaminsky commented on #2480
This change happens due to latest gradle update, PR fixing this is in #2479.

[2018-04-18 12:41] tobiasKaminsky commented on #2484
I found one issue, which is fixed in #2488.
Once both PRs are merged, it will be soon in dev version, if you want to give it a try :+1:

[2018-04-18 12:46] splitt3r commented on #2484
Sounds good. Will give it a try.

[2018-04-18 13:03] tobiasKaminsky commented on #2327
We used the saved account, if available, instead of the current one.
So, if an user switches the app and had a saved instance of preference dialog, it could happen that the wrong account was used.
Fix is in: #2488

[2018-04-18 13:04] tobiasKaminsky commented on #2328
Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-04-18 13:27] tobiasKaminsky commented on #2267
My assumption of this bug is described in https://github.com/nextcloud/android/issues/2032#issuecomment-371503315

So if you change anything of the saved account (username@server, e.g. tobi@cloud.example.com), then the android device thinks it is a new account.

[2018-04-18 13:37] tobiasKaminsky commented on #2475
Thanks for reporting, Stefan. (nice to met you in person during Hackweek!)
@AndyScherzinger indeed, let us first merge your bottom sheet PR and then have a look if the problem still occurs.

[2018-04-18 13:44] tobiasKaminsky commented on #2470
On creating/uploading a file we do not have this problem, as we are checking for the existence and if so then append (2), (3).
I think we should handle this in https://github.com/nextcloud/android-library/blob/107c575d44e9b00e880b8a36b45bd09c8949b6ef/src/com/owncloud/android/lib/resources/files/CreateRemoteFolderOperation.java#L44 and return a FOLDER_ALREADY_EXISTS.

If we do this in our library,

[2018-04-18 15:13] Cole128 commented on #2249
@jult so I downloaded a new file to a folder setup to be auto synced, and that file started syncing, but all the files that were in those folders before nextcloud did not sync. Any ideas about that? Also, how do I purge all app data? I can try and do that and then reinstall and see what happens.

[2018-04-18 18:43] stalker314314 commented on #2480
Sounds fine:) I will optimistically close this issue (and will check on next f-droid release and reopen if it still repro)

[2018-04-18 18:43] #2480 closed

[2018-04-18 21:30] AndyScherzinger commented on #2474
Starting with the activities activity sounds like a good starting point to me to since that activity is quite isolated from the others so that should be easier to move :+1:

Any comment @mario?

[2018-04-18 21:33] AndyScherzinger commented on #2483
Sounds good to me. Do we then still want to keep the overflow menu or also make use of bottom sheet menus?

[2018-04-18 21:34] AndyScherzinger commented on #2466
No ideas sorry. As for notifications about unsupported server versions I already opened an issue to have such a thing in the future. No. Implementation yet though.

[2018-04-18 21:36] AndyScherzinger commented on #2478
Nope from what I understood in the past from Jan is that it should be grey while I forgot to ever fix this :(

[2018-04-18 21:38] AndyScherzinger commented on #2485
So how would this be combined with commenting if we ever implemented commenting on files in the client?

[2018-04-19 01:28] remram44 commented on #193
A button anywhere to cancel *all pending uploads* would very much be appreciated. I have 2000 uploads pending, and while there is a button to cancel any of them, the option to cancel all is not currently anywhere.

[2018-04-19 01:34] remram44 commented on #1142
Currently have almost 2000 uploads I need to cancel. Any way to do this short of reinstalling the app?

[2018-04-19 04:11] tobiasKaminsky commented on #1142
As we have now the overflow menu only shown if "expert mode" is enabled, I do not see a reason to add this; even as the auto upload improved a lot thanks to @mario.

[2018-04-19 04:15] tobiasKaminsky commented on #2485
Comments will shown in the activity tab, sorted by time, with version changes and other activities.
If you want to comment a file, a text input is always shown (see very first picture with "nice picture" and "right arrow").

[2018-04-19 04:40] ardevd commented on #2474
@tobiasKaminsky I'll look into it and see what I can work out :) no promises though.

[2018-04-19 04:51] tobiasKaminsky commented on #2483
On overflow per file in file list, we maybe could switch to bottom sheet; though I am unsure how this looks like as we have many many options there.
On global options in file display or in options for preview image, I would keep it the current way.

So I would decide on case by case.

[2018-04-19 04:53] tobiasKaminsky commented on #2480
Please note that once #2479 is merged, Fdroid still might take a few days to build a new dev version.

[2018-04-19 04:54] tobiasKaminsky commented on #2377
@mist0706 if manually video upload also does not work, I assume that this is the reason why auto upload also does not work, but as it is in background it just does no t crash.

Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-04-19 04:59] tobiasKaminsky commented on #2472
The idea behind isInternetWalled is to detect walled garden / capative portals on wifi. We assumed that you do not have a restriction on mobile data. So to not query the server that often, we check only on WiFi.

Having a server behind a firewall/VPN is an edge case we/ have not thought about.
With the behaviour of 2.x this would then also have failed, so this is just not an enhancement, or is it

[2018-04-19 05:03] tobiasKaminsky commented on #2473
I am unsure about this.
On one side we could set timeout for internetChecking to 5s, assuming that the connection is either fast or does not exist at all.
On the other side, if someone has a slow internet connection, with slow mobile data and slow server (private home user with e.g. dyn dns), it might take some time to get this...
For working/reliable connections it should not make a difference if

[2018-04-19 05:06] AndyScherzinger commented on #2132
@Bubu @tobiasKaminsky any idea why f-droid still hasn't published 3.1? Even owncloud which has been released days after our 3.1 release has been published already...

[2018-04-19 05:07] tobiasKaminsky commented on #2469
@AndyScherzinger since you did the adaptive stuff, do you recall what our decision was? The "intended" shape is a circle, at least for this app, or?

@nextcloud/designers what is your opinion here? As Stefan said, it is only for gplay/fdroid store as the devices shape it dynamically.

[2018-04-19 05:09] tobiasKaminsky commented on #2132
Ah, talked to Markus yesterday and also submitted a manual 3.1 merge request (https://gitlab.com/fdroid/fdroiddata/merge_requests/3093).

The problem is that fdroid tries to figure out the latest available version by parsing build.gradle.
Due to our newest semantic schemic version generation, this is currently not working any longer.
On IRC I got some hints, which will hopefully work.

[2018-04-19 05:10] stefan-niedermann commented on #2469
I personally would go for the square icon because more of the nice background is visible and it makes the logo in general more visible compared to other apps since it is simply bigger.

But that's just an personal taste i guess...

[2018-04-19 05:14] ardevd commented on #2474
@AndyScherzinger The Activities activity sounds like a good starting point. I'll probably try to just refactor the entire thing if you guys dont mind. I'll give it a go and see what I can come up with :)

[2018-04-19 05:25] mario commented on #2474
Well, MVP is so-so, but anything is better than what we currently have. So completely for it! 👍

[2018-04-19 05:41] tobiasKaminsky commented on #2132
I tried it without luck as their approach will not work for us, I fear. It is reading head/build.gradle to find out version code/name, but we have master and a release branch (e.g. 3.x). So master already have a "next alpha version"...

I fear we have to either revert the automatic generation or do the fdroid releases manually (which I prefer).
I will have a look into fastlane soon, which I want t

[2018-04-19 06:04] AndyScherzinger commented on #2132
I also prefer the manual way :+1:

[2018-04-19 06:06] AndyScherzinger commented on #2474
@ardevd whatever works best for you. Beware that this might produce a lot of merge issues with existing PRs or any rebase when the mater is progressing during the refactoring.

[2018-04-19 06:08] AndyScherzinger commented on #2469
We never had a decision for the store icons while Jan prefers the circle in general. I am fine either way. My guess would be that’s droid is using the launcher icon...

[2018-04-19 06:11] AndyScherzinger commented on #2483
Fine with me!

[2018-04-19 06:14] AndyScherzinger commented on #1142
I think what @remram44 means is canceling queued Uploads not failed ones. So he is forced to click 2000 times.

[2018-04-19 06:28] ardevd commented on #2474
@AndyScherzinger Hah, thanks for the warning. I'll try to keep breakage as small as possible :) I'll give an update once I've taken a look a closer look at how the Activities activity (wow, what a mouth full) is put together.

[2018-04-19 06:56] AndyScherzinger commented on #2474
@ardevd sounds like a plan! Really looking forward to it!

[2018-04-19 09:04] tobiasKaminsky commented on #2132
I updated the generic release issue to reflect the manual fdroid way.

[2018-04-19 09:15] chefboyct commented on #2249
@AndyScherzinger Hi Andy, sorry random question as I cannot seem to find this topic at all under the main discussion and I cannot seem to message you in PRV. I have a quick question as I dust off my old Nokia 1020 (Windows 10 mobile) as I want to use the Nextcloud app to upload pictures to the nextcloud server but I am unsure what Nextcloud windows mobile support or not.. (trial version can only a

[2018-04-19 09:18] tobiasKaminsky commented on #2474
Merge conflicts should be not that much, if "only" activity stuff is touched.
As always, we are here to help, also on IRC :-)

[2018-04-19 10:08] AndyScherzinger commented on #2469
Do yo know how to change the f-droid store listing icon? Is this possible? cc @Bubu

[2018-04-19 10:54] AndyScherzinger commented on #2249
@chefboyct don't know really, I just use the Android and iOS apps don't know about the WindMobile capabilities or the oC windows mobile client's features.

[2018-04-19 10:56] AndyScherzinger commented on #2485
So will the current (webUI) master also merge activities and comments?

[2018-04-19 11:06] tobiasKaminsky commented on #2485
Yes, as mentioned above this is in issue https://github.com/nextcloud/server/issues/658

[2018-04-19 11:15] tobiasKaminsky commented on #2469
https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots

We can put a icon.png into default locale, this then should overwrite the auto extracted one.

[2018-04-19 11:56] remram44 commented on #1142
I don't think canceling an operation should be an "expert" action. I see no reason for people needing this to go and check the box, they will just assume (like I did) that this is impossible, waste 10 minutes looking for it, maybe complain about it (like I did) and reinstall the app.

[2018-04-19 11:59] remram44 commented on #1142
If this is the kind of basic features that are hidden behind the "expert" toggle, I actually wonder if it is necessary at all. Is the purpose of the toggle to hide advanced, potentially destructive operations & settings that requires some knowledge to use? Or is it to reduce clutter from your UI by hiding totally mundane, useful, safe buttons?

If it is the second, please consider renaming to "sim

[2018-04-19 12:38] tobiasKaminsky commented on #2435
There is the config.php where you have to specify which ip/address is valid for usage.
It seems that there is something missing.
What is your ip setup? Do you use dynDNS or is your server on a changing ip connection?

[2018-04-19 12:53] tobiasKaminsky commented on #2196
Re-installing the app would lead to remove of all downloaded files.
If you really want, you can move the downloaded folder, then re-install the app and move it back in again.
I am unfortunately a bit out of clue, what the problem could be. Therefore I also cannot try to debug it with you, as I would at least need one single clue...

[2018-04-19 13:11] xraMsamohT commented on #2196
That hasn't work when upgrading to v3.0. That's why I do not want to repeat that for testing.

[2018-04-19 13:29] tobiasKaminsky commented on #126
Currently we/I see the app mostly as a "connector" between cloud and android device, with sharing, search, ...
So the scope of the app is currently to download/provide a file to an app which is capable of using it. The only exception of this is image & media.

The problem is currently men power for adding and maintaining more & more features.
So my focus is now on having trash bin, comments, tags,

[2018-04-19 13:40] AndyScherzinger commented on #1142
It is actually the first part as-in hiding a newly introduced, advanced feature (e.g. custom folder auto upload) since it isn't considered as stable as the image/video auto upload.

@tobiasKaminsky @mario @nextcloud/designers A solution could be to add a "cancel all button" to the "To be uploaded" headline if this is something we want to add.

@remram44 just for a better understanding, what happen

[2018-04-19 13:55] tobiasKaminsky opened #2491 "Release 3.2.0"
RC1: 28.05.18

- [ ] Bump version name and version code in ```build.gradle``` files
- [ ] Update ```CHANGELOG.md``` adding new features
- [ ] check if code is outdated due to last supported server version @NextcloudServer annotation

**Test app with all supported Android version**
- access all activities
- auto upload
- upload / download files/folders
- use external sdcard
- what's new slides corr

[2018-04-19 14:11] enoch85 commented on #1142
I also vote for putting it in the expert menu. Don't clutter the GUI with a lot of settings if not needed.

[2018-04-19 14:16] chefboyct commented on #2249
Thanks @AndyScherzinger  I want to know but its fine. I can always manually upload them

[2018-04-19 15:50] hirvinen commented on #184
Has there been any progress on this?

[2018-04-19 16:12] schaarsc commented on #2473
I was looking for possible solutions for #1008. I have not tested shorter timeouts, but since isInternetWalled is calling the back end, changing the timeout may help to improve the user experience.

[2018-04-19 16:15] remram44 commented on #1142
Set the app up on a new phone. Didn't mean to start the upload (no bug there, "user mistake")

[2018-04-19 16:40] schaarsc commented on #2472
I agree, it is a corner case, so let's label it as enhancement...

To reduce the traffic, would it be possible to use BroadcastReceiver / CONNECTIVITY_ACTION and only check when event is received?

[2018-04-19 17:03] mario commented on #2472
Not really. You could be behind a walled internet but you're signed in. In 45 minutes you're still connected but the wall signed you out. What then? :D

[2018-04-19 17:27] AndyScherzinger commented on #1142
But where do the 2000 files come from?

[2018-04-19 17:29] remram44 commented on #1142
They are the pictures already present on the phone when I set up nextcloud

[2018-04-19 18:18] schaarsc commented on #2472
what about "caching" last result if not connected to WIFI? run a new check only if result is older than x minutes  (x<=5)?

[2018-04-19 20:23] fabianfrz opened #2492 "Handle connection failures in uploads"
### Actual behaviour
- Tell us what happens
the file upload stops and no progress is done - It feels like no error handling is happening because of a very long timeout. File Size: 7MB, breaks after 4 to 11 percent.
### Expected behaviour
- Tell us what should happen
* the app may reconnect and upload the rest of the file if possible
* try uploads in smaller chunks (for example 0.5 MB)
* fail in a

[2018-04-20 06:49] enoch85 commented on #1142
@remram44 So it started to upload automatically, or did you choose to upload them manually?

[2018-04-20 09:09] tobiasKaminsky commented on #2310
It seems that this is a overall problem, so please ask on /server for this.

[2018-04-20 09:09] #2310 closed

[2018-04-20 10:27] tobiasKaminsky commented on #2336
Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-04-20 10:28] tobiasKaminsky commented on #2336
Possible dup of #2232

[2018-04-20 11:48] tobiasKaminsky commented on #2343
About which screen do we talk? Upload file from within our app?
Then it is already working with latest master:

![2018-04-20-134751](https://user-images.githubusercontent.com/5836855/39049361-7813212e-44a1-11e8-9317-71af93833a42.png) ![2018-04-20-134756](https://user-images.githubusercontent.com/5836855/39049362-782f16d6-44a1-11e8-9319-974cae3f1633.png)

[2018-04-20 12:45] rajil opened #2494 "IPv6, Connection error with Manual upload"
### Actual behaviour
I enabled IPv6 on the server and the android phone. Browsing nextcloud on the mobile with the app works fine. However uploading the file gives an error 'Connection error'. Next i tried to upload the same file through the chrome browser on the mobile and it worked. Both the mobile and server are in the same LAN.

### Expected behaviour
File upload should work on the mobile clie

[2018-04-20 13:34] Nutomic commented on #2343
@tobiasKaminsky No, the main screen where you can browse your files/folders in Nextcloud. Called "All files" in the drawer.

[2018-04-20 15:09] NRSHAOWN commented on #2435
@tobiasKaminsky In config.php file where/which line contains ip can you tell me please.

[2018-04-21 05:06] rajil commented on #2494
I had to enable 443 on both ipv4 and ipv6 in nginx to make this work,
[code]

[2018-04-21 16:26] linuxclowns opened #2495 "F-Droid version of nextcloud Android app out of date"
### Actual behaviour
- installs version 3.0.3

### Expected behaviour
- current version appears to be 3.1.0

### Steps to reproduce
1.
2.
3.

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]
**NOTE:** Be super sure to remove

[2018-04-21 16:50] jfml commented on #337
Yeah, it doesn't seem to be working for me either. File opened in an external editor seems to be saved in /sdcard/attechment1 (attachment2, 3, 4 etc) and not in the original directory/textfile (and therefore the changes are not synct back to the server)

[2018-04-21 19:49] fabianfrz opened #2496 "progress bar not working"
### Actual behaviour
- graphical progress bar in view stays 0% while the message from the system shows the progress

### Expected behaviour
- progress should match the real progress and always should be equal to the system dropdown menu

### Steps to reproduce
1. upload a list of files
2. click on it to open the upload view

### Environment data
Android version: 5

Device model: Nexus 10

Stock or

[2018-04-21 20:58] peteromero commented on #2267
Thanks for pointing us to #2032 (comment), @tobiasKaminsky. Also, @vaderf, good to know we're not alone :)

As said earlier, both combinations (lower/ upper case) worked occasionally, and sometimes altering it enabled the log-in. So maybe there's something else.

Also, I moved all (dev/ RC version from F-Droid) to internal storage; sometimes it worked, sometimes not. Maybe there's another factor.

[2018-04-21 21:03] leolivier opened #2497 "Crash when hitting photo menu"
Each time I hit the photo menu on nextcloud android 3.1 on my oneplus 5 with Android 8.0.0, the application crashes.
I sent comments from within the phone when it happened last time.

[2018-04-21 21:06] leolivier opened #2498 "Crash when trying to use mosaic display"
Each time I try to display ly files in mosaic mode in nextcloud android 3.1 on my OnePlus 5 phone with Android 8.0, the application crashes.
I sent comments with full journal from within Android when it last happened.

[2018-04-22 09:43] AndyScherzinger commented on #2495
Hi @linuxclowns I just checked https://f-droid.org/packages/com.nextcloud.client/ and 3.1.0 is already available there so closing the issue. Have fun with 3.1 :)

[2018-04-22 09:45] #2132 closed

[2018-04-22 14:41] Spartachetto commented on #2495
@AndyScherzinger 3.1.0 us indeed available, yet it is  NOT marked as the "current" version. F-Droid always provides me the current version, excluding for example the RC releases.

Maybe you marked 3.1.0 as not a "final" release?

[2018-04-22 16:06] AndyScherzinger commented on #2495
@tobiasKaminsky any idea why f-droid isn't marking 3.1.0 as the latest stable release? Within GH the tag is marked as a stable release.

[2018-04-22 16:07] #2415 closed

[2018-04-22 17:00] #1391 closed

[2018-04-22 17:25] #2478 closed

[2018-04-22 17:48] AndyScherzinger commented on #2480
merged for 3.2 and the next dev version

[2018-04-22 17:49] AndyScherzinger commented on #2496
closing as duplocate of #2480 - Fix has been merged to master and will ship with 3.2

[2018-04-22 17:49] #2496 closed

[2018-04-22 17:52] #2327 closed

[2018-04-22 17:52] #2484 closed

[2018-04-22 17:52] AndyScherzinger commented on #2484
Merged for 3.2

[2018-04-22 17:52] AndyScherzinger commented on #2327
Merged for 3.2

[2018-04-22 18:03] stalker314314 commented on #2480
Thanks, appreciated! (as you probably know, every image shot was greeted with annoying "app crash" dialog, so any "photo shooting" was pretty bad experience:D)

[2018-04-22 18:06] AndyScherzinger commented on #2480
So looking forward to the next dev build :)

[2018-04-23 03:36] ainnazrah95 opened #2499 "Failed to import android-library into my project app"
### Actual behaviour
- When I'm trying to import android-library module by right-click on the project app, New ->New module -> add gradle file ->"ERROR to load the module"

-already add maven { url "https://jitpack.io" } under build.gradle project and already add implementation 'com.github.nextcloud:android-library:-SNAPSHOT' under build.gradle module

### Expected behaviour
- nextcloud androd-lib

[2018-04-23 03:51] vaderf commented on #2267
Below some info from my side:
* Only login with uppercase works, I don't have to alternate.
* I never moved the app on external storage.
* Regarding updates, here are two things:
    * I had a problem during an update of the app few months ago which was not able to install properly. But I did not try to solve this because I was on the way of resintalling my OS.
    * After building my unofficial L

[2018-04-23 07:26] AndyScherzinger commented on #2499
Hi @ainnazrah95 sometimes jitpack has some hick-ups with providing the latest master snapshot of the lib.
For the time being you could use 1.0.40 instead which has the same code base.

[2018-04-23 07:26] #2499 closed

[2018-04-23 08:30] MeiRos commented on #2400
@tobiasKaminsky
Do you still need info/discussion about this?

[2018-04-23 08:41] fzirker commented on #2457
I think this is a duplicate of #1682.

[2018-04-23 08:42] tobiasKaminsky commented on #2400
@MeiRos thank you for your detailled steps. With these it was much easier to track this bug down.

[2018-04-23 11:22] ardevd opened #2502 "Null context passed in ActivitiesListAdapter. Results in NPE crash."
I'm assuming this is due to 5b432b3ed0a608d50388768f0503e47b1504afe8 but the null value passed as the context argument at L257 in the ActivityListAdapter now results in a NullPointerException crash.

https://github.com/nextcloud/android/blob/3aad742e0c1f9d4f44c96bd2b9ca5863c9efb1f6/src/main/java/com/owncloud/android/ui/adapter/ActivityListAdapter.java#L257

Context.getResources() is being called o

[2018-04-23 13:25] tobiasKaminsky commented on #2495
Yes, due to our automated semantic schema version, fdroid does not detect 3.1.0 as a newer version than 3.0.3, so it 1) does not generate a build receipt and 2) if a build receipt is added manually, it reverts back to 3.0.3.
So I provided a merge request, which disables automatic updating. We will now have to manually add a build receipt and adjust "current" version.
--> added to roadmap.

[2018-04-23 13:33] AndyScherzinger commented on #2475
This is ultra tricky to solve... because Stefan's approach doesn't work in our case. :(
To make this work we need to also use a coordinatorlayout (the easy part) but:
Our snackbar is triggered from the activity not the fragment using a generic implementation we wrote which puts the snackbar into `android.R.id.content` (via the activity). While we would have to put the snackbar into the id of the c

[2018-04-23 13:36] AndyScherzinger commented on #2457
Thanks for the hint @fzirker - thus closing in favor of #1682.

[2018-04-23 13:36] #2457 closed

[2018-04-23 17:27] tobiasKaminsky commented on #2475
I would not spend to much energy in fixing this.
If we, at some point, will change to coordinators layout and/or split the whole UI/fragments, then this can also be tackled.

[2018-04-23 20:30] raceface2nd opened #2505 "tmp folder is filled by auto upload"
### Actual behaviour
When activating auto upload all files are copied into the folder /internal/nextcloud/tmp and left there after the upload. After some months of taking fotos and videos with my phone this is wasting more than 6GB of data. Deleting the files in the tmp folder causes a complete re-upload of all fotos and videos. My fotos and videos are stored by default on an SD card.

### Expecte

[2018-04-23 22:59] niemalsnever commented on #2497
Same here, on Nexus 5X, App Version  3.1.0, LineageOS 15.1-20180409-nightly (Android 8.1.0). I will provide logs of the crash with a reply tomorrow when I'm back at my PC.

[2018-04-24 05:32] tobiasKaminsky opened #2506 "Folder path in auto upload not ellipsized"
![2018-04-24-073018](https://user-images.githubusercontent.com/5836855/39167818-66479c20-4791-11e8-9b91-66237b213387.png)

As seen the folder path in long folder names is not ellipsized, but only truncated at the end.
This should be, like it was back some time, changed to ellipsize in the middle.

The cool feature, that path is expanding after clicking on it, still works :+1:

[2018-04-24 06:32] tobiasKaminsky opened #2507 "Splash screen shown when returning from preferences"
### Actual behaviour
- Splash screen is shown

### Expected behaviour
- Splash screen should only be shown on app start

### Steps to reproduce
1. start app (see splash screen)
2. go to settings
3. click "back arrow" -> see splash screen

@ardevd since you implemented the splash screen, can you have look into this?

[2018-04-24 06:41] ardevd commented on #2507
Yep! I'll look into it.

[2018-04-24 07:24] tobiasKaminsky commented on #2507
Great :-)
I assigned it to you, so that no one else takes it.

[2018-04-24 07:26] tobiasKaminsky commented on #2497
@niemalsnever that would be great.
I tested it here, and while sometimes the search keeps spinning / times out, I at least do not experience any crash.

[2018-04-24 07:50] #2502 closed

[2018-04-24 09:45] ostcar opened #2510 "Can not connect to server: Unknown error occurred!"
### Actual behaviour
The problem is also described [here](https://help.nextcloud.com/t/can-not-connect-to-server-unknown-error-occurred/30741).

When I type in the uri of the NextCloud-Server, I get the response `Unknown error occurred!`.

### Expected behaviour
I expect to get to the next "page" of the app, to insert the username and password.

### Environment data
Android version: 8.1.0

Device

[2018-04-24 09:59] ostcar commented on #2510
I upgraded the Server to nextcloud 13.0.1.1 and there is still the same behavior.

[2018-04-24 10:07] AndyScherzinger commented on #2510
Hmm, I get an exception from the http client implementation:

[2018-04-24 10:10] tobiasKaminsky commented on #2510
What kind of web server do you use?
Apache? Nginx?

[2018-04-24 10:46] AndyScherzinger commented on #2510
I created #2511 to at least show some more information in case of exceptions / unknown errors due to exceptions.

[2018-04-24 11:31] tobiasKaminsky commented on #2510
Unfortunately in this case the error message is not that helpful, but better than a generic error.

[2018-04-24 11:54] ostcar commented on #2510
[code]

[2018-04-24 12:25] tobiasKaminsky commented on #2510
@nextcloud/server-triage I know that there was a similar issue back a while...

Here the idea was to have some basic nginx checking, as it seems that nginx is harder to configure / easier to break than apache: https://github.com/nextcloud/server/issues/8422

[2018-04-24 12:26] #2461 closed

[2018-04-24 13:32] MorrisJobke commented on #2510
I don#t see any similar traces in this ticket and the one you linked. :/

[2018-04-24 17:03] ostcar commented on #2510
I made sure, that my nginx configuration is the same as https://docs.nextcloud.com/server/13/admin_manual/installation/nginx.html

It is hard to believe, that the server is the problem. There is only one request to the server with statuscode 200.

[2018-04-24 17:50] #2396 closed

[2018-04-24 19:52] ostcar commented on #2510
Ok. I found the problem. It was a misplaced white-space in the `Strict-Transport-Security`-Header:

before:
[code]

after:
[code]

It seems, the nextcloud app is more strict with the headers then firefox or chome.

So it was not an error with the app after all. But maybe it is still a good idea to give a error message in this case.

[2018-04-24 19:55] Spartachetto commented on #2495
The problem is solved for me. Now the current version is 3.1.0.

Thank you @tobiasKaminsky !!!

[2018-04-24 20:16] raceface2nd commented on #2505
I leave the original file in the original folder.

[2018-04-24 20:45] AndyScherzinger commented on #2495
Thanks for the feedback @Spartachetto. Closing the issue then :)

[2018-04-24 20:45] #2495 closed

[2018-04-24 20:47] AndyScherzinger commented on #2510
@ostcar Thanks for feedback and glad you could get it resolved. I did open an issue due to your report: #2511 which will display the error message we get from the http library which is bad chunk size because that's what the http client detects but it'll at least provide some information which might help in this or other cases to further investigate. :+1:

[2018-04-24 20:48] AndyScherzinger commented on #2510
I'll leave the issue open since it'll be auto-closed when the error message changes have been merged.

[2018-04-25 00:04] niemalsnever commented on #2497
@tobiasKaminsky I'm very sorry, but logcat is being super spammy at the moment with things not related to the Nextcloud app, I'm generating some 100 lines of logs every few seconds. Do you have an idea how I would filter the output to just the Nextcloud app?

Otherwise I'm looking at reinstalling my phone later this week anyway, and hopefully be able to provide more readable logs after that.

[2018-04-25 05:41] tobiasKaminsky commented on #2132
Now 3.1.0 is marked as latest version in Fdroid, so we are done here :tada:

[2018-04-25 06:50] AndyScherzinger commented on #2510
Well, if we consider it a client bug then it needs to be fixed _in_ the Apache http Lib...

[2018-04-25 08:48] susobaco opened #2513 "Failed to download files when path is /storage/sdcard1"
### Actual behaviour
- The client won't let me download any files. Failed to download

### Expected behaviour
- Tell us what should happen

### Steps to reproduce
1. I configure nextcloudclient with the download path in the configuration in /storage/sdcard1 (microsd storage)
2. I'm trying to download a file.
3. Failure to download the file (When by default settings, download without any problem)

[2018-04-25 09:45] ardevd commented on #2513
@susobaco Could you use `adb shell` or a terminal emulator to verify that `/storage/sdcard1 `actually exists?

Could you post a stack trace with `adb logcat `from when you try to download a file?

[2018-04-25 10:54] susobaco commented on #2513
Yes, the directory exists. Let's see if this log works. Thank you!
https://cloud.disroot.org/s/Rbz2Q8MzYWXnf6B

[2018-04-25 12:30] stemy2 opened #2515 "Crash at files loading"
### Actual behaviour
- Tell us what happens
After connecting and an attempt to load the files, the app crashes become unable to launch.
### Expected behaviour
- Tell us what should happen
 I should be able to use the app.
### Steps to reproduce
1. Open the app
2. Connect yourself
3. Wait for some seconds
4. try to relaunche the app.

### Environment data
Android version:
6.0.1
Device model:
Fairph

[2018-04-25 12:38] AndyScherzinger commented on #2485
@tobiasKaminsky how will this look for now-previewable files?

[2018-04-25 12:47] stemy2 commented on #2515
The strange thing is that all those versions of this app worked fine on my previous phone that was exactly the same brand/model.

[2018-04-25 12:50] AndyScherzinger commented on #2485
@tobiasKaminsky never mind, looked at the web ui and again... I need to ask and I feel have to phrase the question exactly like this to make a point:
_Why is there a pen&paper mock-up when it is basically "please implement it exactly like the web ui"?_

[2018-04-25 13:06] AndyScherzinger commented on #2485
This is a (web)screenshot with the elements added...
![2018-04-25 14_53_52-files](https://user-images.githubusercontent.com/1315170/39247432-ae600b10-4899-11e8-86f1-61e0f5931b6d.png)

So how "Android native" does this feel for you?

cc @tobiasKaminsky @mario

[2018-04-25 13:16] rullzer commented on #2485
I agree. It should feel native to Android. And a copy of the webui doesn't feel that native.

Maybe we can look at how other solutions do this and borrow from them?

[2018-04-25 13:46] splitt3r opened #2516 "More icon in upload view has wrong color"
### Actual behaviour
- The more icon is black instead of white

### Expected behaviour
- Should be white

### Steps to reproduce
1. Open the file upload dialog on a themed Nc instance

### Environment data
Android version: 8

Device model: Nexus 6

Stock or customized system: Custom ROM

Nextcloud app version: Dev from F-Droid

Nextcloud server version: latest 13 from git

![upload](https://user-i

[2018-04-25 18:43] AndyScherzinger commented on #2485
Both requests comments and tag support are described and covered in this issue, so the answer is yes :)

[2018-04-25 21:12] AndyScherzinger commented on #2485
Couldn't really find a nice way, but here is how it would be done mimicing the contacts app of Android (with a scrolling effect on the toolbar) while the activity items would probably be aligned, designed a bit different.
![details](https://user-images.githubusercontent.com/1315170/39273069-143f1090-48de-11e8-8a42-47848b90b64d.png)

![details2](https://user-images.githubusercontent.com/1315170/392

[2018-04-26 06:10] tobiasKaminsky commented on #2510
A quick search gave me https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers

So I would assume that it is not allowed and therefore a configuration error, but it should be catched on server side.

[2018-04-26 06:54] ardevd commented on #2515
@stemy2 Please post a strack trace of the crash using `adb logcat `so that we can investigate the crash further. Without any more details it's pretty hard to debug the issue.

[2018-04-26 07:00] ardevd commented on #2513
@susobaco Your stack trace is missing the initial cause of the crash (it seems). Could you try and include the first reference to the crash in your log output?

Also, just out of curiosity, have you tried re-installing the app? If you've had the app installed for a long time your issue might be related to the storage path system migration we did a while back.

[2018-04-26 07:07] tobiasKaminsky opened #2518 "Drawer can be open within PreviewActivity"
### Actual behaviour
- Drawer can be open from within previews

### Expected behaviour
- no drawer

### Steps to reproduce
1. open up an image/audio/video
2. swipe from left to right
3. opens drawer

[2018-04-26 08:29] tobiasKaminsky commented on #2343
Read it again, and now I understand that you do not mean multiple select, but instead if you click on a single item.
So you want to have a visualization that the single item was clicked.

https://guides.codepath.com/android/ripple-animation something like that, I guess?

PR -> #2519

[2018-04-26 08:38] Spartachetto commented on #2485
@AndyScherzinger great!
I think it will be an important improvement of the app.

To be honest I fail to understand how to tag the photo form the mockup you posted....

[2018-04-26 09:04] tobiasKaminsky commented on #2505
Normally the tmp folder should be cleaned and testing it on a Samsung S5 Neo with external sdcard, it also works.
Do you see anything that the remaining files have in common? Are those files where the upload failed?
As it is within NC's own folder it should be no read/write permission problem…

@mario maybe you have an idea?

[2018-04-26 09:28] tobiasKaminsky commented on #2513
Then it would be nice to see the real cause and fix it.
So @susobaco can you first try to get the logcat and after that re-install it (if needed).

Just a quick idea: Does NC has the permission to write to external storage? Please verify this in app details.

[2018-04-26 09:46] tobiasKaminsky commented on #2497
Logcat is always very very verbose. While using AndroidStudio you can limit it very easily to output only infos for an app, but on command line it is a bit tougher:
`
adb logcat | grep "$(adb shell ps | grep com.nextcloud.client | awk '{print $2}')"
`

Basically, we first find the process id, and then use this to filter logcat.

[2018-04-26 09:52] tobiasKaminsky commented on #2494
Glad you fixed it :+1:

[2018-04-26 10:02] tobiasKaminsky commented on #2498
It is hard to find a specific crash report within google play console.
Can you also send it to an email address, if so please use tobias.kaminsky@nextcloud.com, or https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-04-26 11:06] AndyScherzinger commented on #2494
Thus to be closed then?

[2018-04-26 11:06] #2494 closed

[2018-04-26 11:12] AndyScherzinger commented on #2485
via the tag/label icon in the toolbar

[2018-04-26 11:53] PatrickJRed opened #2521 "Auto-uploaded files should be moved to app folder but are instead deleted from local storage"
### Actual behaviour
Installed:
-Nextcloud Android App from F-Droid, v=3.1.0
-Open Camera, New Pipe, ... from F-Droid
-HTC-Android, v=7.0
Settings:
enable AutoUpload:
from /DCIM/OPENCAMERA on Internal Storage to /OpenCamera on NC
from /Download on Internal Storage to / on NC
from /Movies/NewPipe on Internal Storage to /Media on NC
only when WLAN : yes
only when charging : no
user subdir : no
origi

[2018-04-26 11:54] PatrickJRed commented on #2521
It worked as expected for the first ~20 Files, then this

PatrickJRed

[2018-04-26 12:14] AndyScherzinger commented on #2510
PR has been merged for 3.2

[2018-04-26 12:14] #2510 closed

[2018-04-26 14:56] leolivier commented on #2498
[logCatOutput.txt](https://github.com/nextcloud/android/files/1951705/logCatOutput.txt)
Hi @tobiasKaminsky
Please find attached a logcat output of this issue on my phone... Seems to be an array out of bound somewhere (stack trace line 214 and after)

[2018-04-26 15:57] #2507 closed

[2018-04-26 16:15] Spartachetto commented on #2485
Now I get it.

Thank you @AndyScherzinger for explaining it to me.
I am eager to try it!!! :blush:

[2018-04-26 19:07] raceface2nd commented on #2505
The only thing that these files have in common is that they are stored on the SD card and are jpg, png or mp4 files. I do not believe that the upload of these files created any errors on uploading because it's hundreds of files. Also all of them have been uploaded.

I now recognized that the files in the tmp folder are deleted as soon as I delete an original file.

[2018-04-26 19:08] mario commented on #2505
Right. It's because if you're on an SD card we generate a temporary file which is then uploaded.  Uh.

[2018-04-26 21:42] Nutomic commented on #2343
Yep, thanks!

[2018-04-27 05:35] tobiasKaminsky opened #2522 "Set/unset favorite should refresh file sorting"
When setting/unsetting a file as favorite, it should be sorted to top / in correct sorting.
Currently this is done only after a manual refresh.

With new recycler view there is maybe a way to only move the one file/folder in question.

[2018-04-27 06:17] tobiasKaminsky opened #2523 "Remove build tools from build.gradle"
When outdated build tools are specified, we get this warning:

Android SDK Build Tools 27.0.3 will be used.
To suppress this warning, remove "buildToolsVersion '26.0.2'" from your build.gradle file, as each version of the Android Gradle Plugin now has a default version of the build tools.

I think it is safe to remove it, as we nearly immediately get a notice of a failing build (either on devs mac

[2018-04-27 06:29] ardevd commented on #2523
You have two options. You can drop the Build tools version declaration and have the build system use whatever is default. This may or may not be the desired behaviour depending on your various CI tools. Alternatively, you can maintain the newest version manually.

[2018-04-27 06:57] AndyScherzinger commented on #2523
We should be rather save with ci while manually maintaining this has the advantage if knowing what is actually used in the build.

Sind we have nightly builds etc I'd say let's drop it :)

[2018-04-27 08:28] tobiasKaminsky commented on #2523
Let's try it :+1:

[2018-04-27 08:31] tobiasKaminsky commented on #2498
Thank you for the logcat. It seems that somehow the computation of androids internal function has a hiccup.
Have you done something "special", like adding files, adding folder, rotating while you browsed the folder.
Background of my question is that somehow it seems that the internal data representation does not match the items that are displayed.

[2018-04-27 09:39] tobiasKaminsky commented on #2505
Yes, but after a successful upload we delete the temp file:
https://github.com/nextcloud/android/blob/3af569988db3af37936e152b04e03a25a0b0f1fb/src/main/java/com/owncloud/android/operations/UploadFileOperation.java#L868-L870

@raceface2nd can you try to manually upload a file from external sd card, also with option "Keep file in source folder"?
Does this then also remain in tmp folder?

[2018-04-27 10:41] leolivier commented on #2498
Maybe I did things like that but I don't remember.
2 elements still:
1) I changed some parameters on automatic photos uploading. And it didn't work as expected: older photos were not uploaded
2) I changed my owncloud domain name

[2018-04-27 13:30] stemy2 commented on #2515
I' like to correct something: i installed the version 3.0.3 via apk and it works fine.

[2018-04-28 08:36] vbauchart commented on #383
Another use case : I'm temporary located in an area with very limited bandwith, I'd like to pause synchro

[2018-04-28 10:44] BlackDex opened #2526 "Re-add large picture preview when uploading"
### Actual behaviour
- When uploading new files (pictures in this case) there is no option to have big tiles without a filename.

### Expected behaviour
- Have an option to show larger image thumb/preview when uploading. I know this was available before and i really liked that. Now i can only show small previews with the filename and date etc.. besides it.

### Steps to reproduce
1. Choose a folde

[2018-04-28 10:47] BlackDex opened #2527 "App craches using grid view during upload and scrolling"
### Actual behaviour
- When uploading new files and selecting grid-view and scrolling through the list the app crashes.

### Expected behaviour
- The app not crashing.

### Steps to reproduce
1. Choose a folder
2. Click the "+" sign at the bottom right
3. Select "Upload Files"
4. Select a folder with a lot of files so you need to scroll, in my case my DCIM/Camera folder.
5. Enable grid view using

[2018-04-28 14:37] user23498723452 commented on #2468
My crashes seem to have stopped ( or improved greatly) since I manually upgraded to 13.0.1.  Since then there have been "only" 2 crashes.

[2018-04-28 16:50] vincentadultman commented on #2256
I'm aware the E2E features are currently in technology preview but is there any further information that can be provided by those of us experiencing this problem that would be of use to you? This is also happening to me using the nextcloud snap and a fully updated Nexus 5x

[2018-04-28 17:21] levster69 opened #2528 "Not all images / videos upload"
It seems that recently, maybe for the last several weeks, the autoupload does not initiate on it's own, until I hit Force Rescan, and even then, not all the time. Additionally, when the upload does start, only some of the files get to be uploaded, where as others are not, even though the images may have been taken only several seconds apart. The behavior is very random. I just tried, taking three

[2018-04-28 17:40] maxmeyer commented on #2327
Thanks.

[2018-04-28 17:59] grandiego commented on #2528
Same here.  Xiaomi mi max2, android 7. Latest client and server

[2018-04-29 06:57] ShapeShifter499 commented on #2300
I got a Raspberry Pi 3B+ and setup Nextcloud anew.  This time around coupled with the Android app version 3.1.0, contact uploads appear to work fine again. I will now close this issue.

[2018-04-29 06:57] #2300 closed

[2018-04-29 17:41] ardevd commented on #2527
Please attack a stacktrace with adb logcat of the crash so that we can investigate this issue. This might be a duplicate of #2498 and #2461

[2018-04-29 19:38] MeiRos opened #2529 "App crash"
### Actual behaviour
- I try to upload pictures. When going to dcim/camera folder in my phone app crash immediately.

### Expected behaviour
- I should see pictures in my phone.
There are 1096 files and folders.

### Steps to reproduce
1. Go to upload (+)
2. Choose dcim, camera
3.

### Environment data
Android version:
8.0.0
Device model: Samsung S8

Stock or customized system: stock

Nextcloud ap

[2018-04-30 06:45] AndyScherzinger commented on #2300
Thanks for the feedback @ShapeShifter499 and happy to hear the matter could be resolved.

[2018-04-30 06:51] AndyScherzinger commented on #2529
@MeiRos thanks for the report. Could you provide us with the devcide's logcat/stackTrace of the crash?

[2018-04-30 09:49] DriXse commented on #2361
Hi,

I have the exact same problem with fresh first time install for server (Nextcloud 13.02) and smartphone.
I've tried lot if things
- Move to internal  from the apps settings of android 7
    - By default when sd card is install as internal storage, nextcloud app use sdcard for install
- Revok the mobile access from my server + reboot smartphone + clean cache date
- Try with nextcloud from play

[2018-04-30 11:11] ardevd opened #2530 "Photos get appended to other RecyclerView lists if you navigate away from Photos screen"
### Actual behaviour
When navigating away from the Photos screen before the loading is complete, you'll suddenly see image files being appended to whatever RecyclerView list is currently visible.

### Expected behaviour
Navigating away from the Photos screen should cancel the image loading.

### Steps to reproduce
1. Open app
2. Go to Photos screen.
3. Let it load for a few seconds but before it c

[2018-04-30 13:02] GAS85 opened #2531 "Changing time Zone will cause massive upload"
### Actual behaviour
- I flew from Europe (UTC +2) to Asia (UTC +7) and after my phone automatically adopt to local time (what is 5 Hours behind) my nextcloud Client goes crazy and started auto uploading of all media Files in a Camera Folders. Those files were already synced long time ago, but it does not care - client just duplicating them with no end. Only way to stop it is to open Upload status

[2018-04-30 13:17] MeiRos commented on #2529
My phone is not rooted and also I don't have android development tools installed. (haven't even used it..) I think those are the only ways I can get proper log. Am I right? Do you have a link to a good guide so I can try to set tools up to get a log. I don't want to root my phone.

App's log. (deleted old, tryed upload -> crash, start app and copy log)
[code]

[2018-04-30 13:38] AndyScherzinger commented on #2529
Hmm, your log doesn't show any errors. As for a real log, yes you'd need the adb tools, see our README.md :(
Unfortunately I can't reproduce the issue since it works fine for my OP3T

[2018-04-30 13:40] AndyScherzinger commented on #2485
I had a talk with @tobiasKaminsky and we agreed on starting out with the given approach (since this will improve the functionality of the details screen a lot) while we still want the UI to be shaped towards a more native look&feel in comparison to the actual design mock up.

[2018-04-30 14:31] msonst opened #2532 "Storage Continuously Increaseing"
### Actual behaviour
- Apps used storage increases significantly over time even though no files are kept local (7GB) (edit: setting do not delete locally in nextcloud. Manually deleting pictures once the content on phone once it appears in my backups)
- Only way to  (maybe) get rid of this is delete stored data via Google clean files, but then you'll get warned that you'd also remove settings, db,

[2018-04-30 15:19] thewizardstudio commented on #184
+1 This feature would be a huge help

[2018-04-30 18:13] AndyScherzinger commented on #2485
Work in progress is PR #2533

[2018-04-30 19:28] MeiRos commented on #2529
Wow, that was easier than I expected.
On Windows 10 I used this command "adb logcat | findstr com.nextcloud > logcat.txt"
Here's result:
<details>
<summary>Logcat</summary>

[code]
</details>

[2018-05-01 07:42] schnello opened #2534 "search results can not be opened (JPG)"
### Actual behaviour
Open App.
Press magnifying glass-
Enter search word.
If the result is an picture (jpg) the app doenst show the content. Only a white page.
![image](https://user-images.githubusercontent.com/6481341/39465448-b6f24778-4d23-11e8-9d3f-5f4a78eb26b5.png)

If i navigate directly to this file... it is shown as expected.
![image](https://user-images.githubusercontent.com/6481341/394656

[2018-05-01 08:34] geez0x1 commented on #1347
I can confirm this works for me too (App version 3.1.0 through F-Droid). Sorry for the delay :)

[2018-05-01 09:17] BlackDex commented on #2527
@ardevd Here are the logcat's for both devices during the crash.

**Nexus 5X:**
[code]

**Galaxy S6:**
[code]

[2018-05-01 09:33] AndyScherzinger commented on #1347
Thanks for the feedback @geez0x1 and happy to hear it has been resolved :)

[2018-05-01 16:01] ffreakboi commented on #2534
,CSC RVfrfcffffffrf fty

On Tue, May 1, 2018, 03:42 Christian S. <notifications@github.com> wrote:

[2018-05-01 18:05] pichouk commented on #2267
I confirm that I have the same issue and it worked only by using uppercase username.
My server is running `13.0.2` and application is version `3.1.0`.

[2018-05-02 05:50] W-Hamra opened #2535 ""Upload failed" notifications stay even after they complete successfully"
Not an actual bug, just minor annoyance.

### Actual behaviour
- The app doesn't remove the notification that an upload has failed after it succeeds in a retry.

### Expected behaviour
- Once the app retries an upload and it succeeds, it should remove the notification.

### Steps to reproduce
- Take some pics
- During autoupload (while app is in background) switch networks, walk into a weak WiFi s

[2018-05-02 10:40] AndyScherzinger opened #2536 "Back navigation within activities screen after opening a single activity should'n trigger an activities reload"
One issue I found testing the activities screen:
When you click on an image to preview it (works just fine) and then hit the back button to get back to the activities list, it is basically reset and like on initial launch shows and empty list + loading indicator and starts loading the activities again.
I would have expected the app to simply display the existing already loaded activity items again

[2018-05-02 12:26] MyIgel opened #2538 "Crash when new version download fails"
### Actual behaviour
- After marking a file to be available offline the app checks every time before openimg it if a newer version is available (which is anoying when the network is bad) and it crashes when the network goes down

### Expected behaviour
- Don't check for newer files or at least stop it when the server doesn't respond after a second or two

### Steps to reproduce
See actual behavior

[2018-05-02 13:35] BornToBeRoot opened #2539 "Upload button / design issue with white color in theming app"
You cannot read the text in the button...

![image](https://user-images.githubusercontent.com/16019165/39525959-c124593e-4e1d-11e8-8bbc-498685e351d9.png)

App Version: 3.1.0 (PlayStore)

NC13.0.2 with theming app and color white (`#FFFFFF`)

![image](https://user-images.githubusercontent.com/16019165/39525989-d3b35208-4e1d-11e8-9801-3ac67487f1bf.png)

[2018-05-02 13:41] AndyScherzinger commented on #2538
@tobiasKaminsky thought you fixed this for 3.1 or is this fix scheduled for 3.2?

[2018-05-02 13:43] AndyScherzinger commented on #2539
Same goes for the icon in the middle of the screen (folder icon for empty content) which is tinted white while here it should be grey.

[2018-05-02 16:11] S74HK9hV opened #2542 "Malformed Server configuration when sync file after local change"
I am aware of issue #2227 but this seems to be different

### Actual behaviour
- in the NC app, set a file test.txt to sync
- make some local changes to the file on android device
- NC app will upload the newest version to the server
- upload is successful, BUT the most recent file version remains with .part extension
- app will keep trying and generating .part files on the server
- original file

[2018-05-02 20:16] #2523 closed

[2018-05-02 20:26] tommyguitfiddle opened #2543 "Sync folder fails on sd card"
### Actual behaviour
When I first changed the storage location to the sd card, I was able to sync a folder to it.  A few minutes later the folder was deleted (the nextcloud media folder is present on the sd card, but no sub folders) and any other attempts to sync a folder fails.  In the nextcloud android app the folder is still listed as on my device.

### Expected behaviour
- once a folder is syn

[2018-05-02 20:49] AndyScherzinger commented on #2526
Cc @tobiasKaminsky I can reproduce this. While you can pinch to zoom you'll basically end up with a 2 column list style grid for manual upload file picker instead of the typical grid layout used in the main remote files view.

[2018-05-02 20:54] AndyScherzinger commented on #2535
I agree, when all uploads that formerly had an error could be uploaded then the notification should be removed.

[2018-05-03 09:15] MeiRos commented on #2529
@AndyScherzinger did you read the logcat? Is it helpful?
There are errors but I don't understand why.

Crash happens with other directories too. Like Documents on the same level with DCIM. There's only 2 files.
And I can succesfully upload pic from DCIM/Screenshots directory. 50 files.

[2018-05-03 09:28] AndyScherzinger commented on #2529
@MeiRos unfortunately I can't find any errors (Java stack trace) in the log you attached :/

Only "warning" I see in the log is
[code]
While I can't say if that leads to a crash especially since the local file list doesn't show a drawer menu so I expect this call to be triggered in another activity.

@tobiasKaminsky @mario any ideas?

[2018-05-03 10:45] simonbernard commented on #1067
I have the same problem. My server uses IPv6, I can access it from a browser, also DAVDroid is working fine.
I can't connect with the app though.
Can I send you my domain somehow?

[2018-05-04 09:47] awesome-manuel commented on #24
The new discussion is https://github.com/nextcloud/android/issues/748

[2018-05-04 09:50] awesome-manuel commented on #748
Right now DAVdroid has the problem that latest Android throttles background services. Polling is not a good solutions for mobile anyway. So the Nextcloud app should be able to notify other apps of events on the Nextcloud server (like changes in calendar etc).

[2018-05-04 10:14] devvv4ever commented on #748
@awesome-manuel What do you mean exactly with "throttles background services"?

[2018-05-04 10:28] awesome-manuel commented on #748
DAVdroid has to be whitelisted to be not affected by battery optimization: https://www.davdroid.com/faq/automatic-synchronization-is-not-run-as-expected/

[2018-05-04 11:18] devvv4ever commented on #748
Ah, I see. However I wouldn't say it's a "DAVdroid problem", but just how things are working in Android: if you don't use Google's proprietary FCM services, you will be punished by battery saving. This happens for many apps, including DAVdroid, XMPP clients (Conversations, …), messengers (Threema), …

Of course CalDAV/CardDAV push would be cool, but even if an open standard would exist, implementi

[2018-05-04 11:29] awesome-manuel commented on #748
Nextcloud already uses FCM for the sync and the talk app. But of course other apps cannot include the FCM API key, so one of the Nextcloud apps has to mediate the notification.

[2018-05-04 12:03] tobiasKaminsky commented on #2256
Is this always happening when you use a bunch of files?
Does this also happen when you do the file operation one by one?

[2018-05-04 12:05] tobiasKaminsky commented on #2530
We need to properly kill the search operation.

[2018-05-04 12:08] tobiasKaminsky commented on #2532
Can you use an app to see which folder is that big, e.g. DiskUsage?

[2018-05-04 12:13] tobiasKaminsky commented on #2536
As far as I remember, we never had this included, but it is a nice improvement :+1:

[2018-05-04 12:15] tobiasKaminsky commented on #2538
No, not in context of "available offline"…

[2018-05-04 12:17] tobiasKaminsky commented on #2539
We just should forbid this ;-)
Similar to #2544, this needs indeed to be improved.

[2018-05-04 12:26] sysoppl commented on #2256
Yeah, I just upload one by one ~25 files, everything was ok, no errors (I already thought the problem is fixed), but when I refreshed it shows something like picture 1 in my first post. After that, I cannot upload more files.

[2018-05-04 12:32] tobiasKaminsky commented on #2542
@nextcloud/server-triage this seems to be a problem with samba/dav?

[2018-05-04 12:35] tobiasKaminsky commented on #2529
This should not be the cause of the crash.
I fear that this is (again) TimSort...
@MeiRos Can you give us the file listing of the dcim folder?

[2018-05-04 12:35] tobiasKaminsky commented on #2529
Or better Documents as these are only 2 files?

[2018-05-04 12:36] tobiasKaminsky commented on #1067
Send it to tobias at nextcloud dot com with a reference to this issue?

[2018-05-04 14:05] AndyScherzinger commented on #2536
Yeah, could be called an enhancement or a bug, either way we should fix it :)

[2018-05-04 20:44] MeiRos commented on #2529
At the moment I have 2 directories. Docu and Documents. I moved other file Asiakirja.docx size 0B (no idea what is this actually) to Docu directory. Book.xlsx size 14,67KiB is in the Documents directory. App keeps crashing in both directories when trying to go to the directory. Nextcloud dev has stopped, open app again or Nextcloud dev keeps stopping, close app. The files don't need to be in the s

[2018-05-04 21:39] Wikinaut opened #2551 "Incorrect filenames sharing files to the Nextcloud app due to different Android versions / file managers"
filed here after having discussed with @jospoortvliet

### Actual behaviour
I use two different HUAWEI phones. On my newer phone I notice - since at least many months - a strange behaviour when I upload a file via the "share" function inside the Huawei filemanager: the original filename e.g. ```test.test``` or ```1.1``` or ```00001.vcf``` is not transported to the Nextcloud server directory, intea

[2018-05-04 23:01] David-Development commented on #748
There has been some development on the possibilities to implement a global authentication / secure networking problem for all apps. If you're interested, follow the discussion here: https://github.com/nextcloud/ownCloud-Account-Importer/issues/3

@jancborchardt @tobiasKaminsky @mario  It would be great to see this feature in production sometime :D I'm still waiting for some feedback..

[2018-05-04 23:03] AndyScherzinger commented on #748
I am constantly keeping the PR up to dating hoping that @tobiasKaminsky will find the time to integrate and test it.

[2018-05-04 23:09] AndyScherzinger commented on #2551
Hi @wikinaut, did you test it with a different file manager like Amaze?

I tested it on my OP3T Android 8 and it works just fine, file name is preserved.

[2018-05-04 23:12] AndyScherzinger commented on #2551
Hah! @wikinaut @tobiasKaminsky I can reproduce this using the shipped file manager of the One Plus 3T, then I also just get renamed, simply numbered files without a file extension.

[2018-05-04 23:12] Wikinaut commented on #2551
@AndyScherzinger No, I always use the standard (built-in) Filemanager.

[2018-05-04 23:14] AndyScherzinger commented on #2551
Okay, well I can reproduce it and thus @tobiasKaminsky @mario or @ardevd can probably too :)

[2018-05-04 23:15] Wikinaut commented on #2551
Really? It's in since a while, a regression then.

[2018-05-04 23:15] Wikinaut commented on #2551
About since 6 months or so.

[2018-05-04 23:16] AndyScherzinger commented on #2551
Definitely nothing to do with old oC clients I guess it is related to different types of intent/uri handlings.

[2018-05-05 04:32] tommyguitfiddle commented on #2543
Disregard.  Turned out I had a faulty SD card.  Actually, both of the cards I tested were bad.  I've tested a new store bought card (the other 2 were amazon purchases...buyer beware) and the problem has ceased.

[2018-05-05 04:32] #2543 closed

[2018-05-05 04:57] levster69 commented on #2528
I've reinstalled the app after deleting the account and clearing the cache. Still no go. Force rescan does nothing.

[2018-05-05 12:01] Schroedingberg commented on #2528
Old files not synced here. When I took a photo, that one was automatically uploaded though.

[2018-05-06 13:01] andreas-bulling commented on #371
Would be quite nice if this worked. Just ran into the same issue - HTTP auth and although I've disabled it for status.php the Android client can't connect

[2018-05-06 13:03] andreas-bulling commented on #1806
@tobiasKaminsky is the latest version still checking for "remote.php/webdav" to see if the server is available? Not status.php? Problem is that with HTTP AUTH enabled I'd have to exclude the webdav directory to make the Android client work... rather annoying...

[2018-05-06 15:02] kosli commented on #2467
is there any news on this issue? @surajdubey @AndyScherzinger

[2018-05-06 16:18] ghost opened #2552 "App closes upon login"
After upgrading my phone to newest lineageOS, the first login worked just fine.
At some point later the same day i opened the app and i found myself logged out,
could never login again.

### Actual behaviour
- Start the app
- Enter URL
- Fill in login data or app token generated in the webinterface and confirm
- App closes
- Repeat as many times as you wish

### Expected behaviour
- Start the app

[2018-05-06 16:20] #2552 closed, assigned to nobody

[2018-05-06 16:24] jj-uk opened #2553 "Login screen shows every 5 seconds"
### Actual behaviour
The login screen shows ->  login -> files are shown then 5 secs later login screen shows again.
Pressing the back button shows files again. Then 5 seconds later login screen. This pattern repeats forever even when credentials are correct.
Note if you can navigate to setting page it doesn't show login screen again until you browse files again.
### Expected behaviour
- Tell us w

[2018-05-06 16:30] jj-uk opened #2554 "Auto uploaded files are not deleted"
### Actual behaviour
- Tell us what happens
Files upload from the camera folder but are not being deleted even when delete is set.

### Expected behaviour
- Tell us what should happen
 Uploaded photos and videos should be deleted from the phone after upload.
### Steps to reproduce
1. Enable auto upload.set to delete after upload.
2. Set camera to use SD card as storage.
3. Take a photo or video an

[2018-05-06 16:43] nightbluepn commented on #1531
I am experiencing this too, external storage adoptet + encrypted.
See #2552 for details.
Movint the app to internal storage did nothing for me.
I think that i revoked the app login from the web interface, maybe this lead to the orphaned account problem which i have read about. I am now trying to modify the accounts_ce.db file as mentioned.

[2018-05-06 16:59] nightbluepn commented on #1958
@tobiasKaminsky I ran into the same issue.
As in #1531 i am using encrypted adopted external sd, and fixed it by modifying the accounts_ce.db
I believe this might have been triggered because i revoked the app's session from the web interface.
So maybe it can be reproduced that way.

[2018-05-07 04:49] miodzicho opened #2555 "Autoupload is failing - UPLOAD_FAILED and result:FOLDER_ERROR"
### Actual behaviour
Images are not being uploaded into nwe 2018/05 subfolder (error message server not found, folder error).

### Expected behaviour
Images should be uploaded into corresponding subfolder

### Steps to reproduce
1. take a photo
2.  wait for sync with server
3. check on web if image has been uploaded

### Environment data
Android version: 8.1.0

Device model:
Oneplus 5T
Stock or cu

[2018-05-07 06:16] tobiasKaminsky opened #2556 "ActivitiesActivity crash when no network"
### Actual behaviour
- App crashes

### Expected behaviour
- Show some meaningful error

### Steps to reproduce
1. disable internet
2. open up Activities
3. wait until timeout (30s)

[2018-05-07 06:36] ardevd commented on #2556
I'll look into it right away!

[2018-05-07 06:49] ardevd commented on #2556
@tobiasKaminsky I'm not able to reproduce this.

1. Disable network data connection
2. Open up activities
3. Wait until timeout (30)s
4. A toast is displayed, showing the appropriate Exception message.

Are you seeing something else?

[2018-05-07 07:01] tobiasKaminsky commented on #2556
Thanks for trying to verify this so quickly :+1:

I tried it and indeed it is now working, maybe it was another crash, because of some process running in background.

Sorry for the noise :-)

[2018-05-07 07:01] #2556 closed

[2018-05-07 13:44] tobiasKaminsky opened #2557 "Trashbin view"
![2018-05-07-154129](https://user-images.githubusercontent.com/5836855/39704916-2897e5a2-520d-11e8-9e25-9b8fbacd07f8.png)

@nextcloud/designers I am currently implementing trashbin view into android.
Web UI has only "delete" on overflow menu (three dots), which is a bit uncommon for me, if there is only one menu item. Is it okay to have the delete button directly next to restore?

To save some spa

[2018-05-07 14:39] RufioHugo commented on #1328
So at all "force new scan" right now has absolutely no function?
Because - uploads; force new scan ... looks like there is absolutely no effect on nothing!

[2018-05-07 14:40] stefan-niedermann commented on #2557
But if delete is displayed directly, then there are a destructivr and a constructive action directly next to each other - users might want to restore a file but accidently hit the delete button...

[2018-05-07 14:51] RufioHugo opened #2558 "Autoupload doesn't recognise WiFi"
### Actual behaviour
Changed for a reason from "only WiFi" to mobile data, then used BT for a short period - after switching back to "only WiFi" (same as before) it no longer uploads anything (Statusmessage: Waiting for WiFi - manual retry doesn't work either) if deactivating "only WiFi" again and use mobile data new files are uploaded but no "old" ones.

### Expected behaviour
Upload as selected

[2018-05-07 15:02] AndyScherzinger commented on #2557
@tobiasKaminsky putting the deletion time in there, sure like:

As for the actions: putting the delete in the per item overflow menu seems fine to me since this action is probably not used that often. What should imho be added is a "Empty recycle bin" action item at the top above the list since users probably either
* need to restore a file or
* purge the recycle bin

[2018-05-07 15:57] gleichda opened #2559 "Missbehaviour on syncing big folders"
### Actual behaviour
I have all my music synchronized to Nextcloud. This is quite a big folder having 43GB Containing 8835 Files in 776 subfolders (strucutred by artist/album/filename.mp3 if that is important)
Now when i want to Sync that folder to my Phone. I get the message Nextcloud not responding from Android. While I still see incoming requests from the app to Apache on the access.log and als

[2018-05-07 20:01] S74HK9hV commented on #2542
hi @tobiasKaminsky ,

thanks for taking the time to look at this. let me know if this issue is in the wrong repo and i'll go open a separate issue in the server repo

[2018-05-08 06:56] gleichda opened #2560 "Nextcloud does not sync when some subfolders are already synced"
###Actual behaviour

I have all my music synchronized to Nextcloud. This is quite a big folder having 43GB Containing 8835 Files in 776 subfolders (strucutred by artist/album/filename.mp3 if that is important)
Yesterday I started to sync that folder already (see #2559 ) but needed to cancel syncronisation. After restarting it this morning when the display turned black after about half a minute the

[2018-05-08 07:55] rullzer commented on #2557
Yes DELETE `<server>/remote.php/dav/trashbin/<USERID>/trash` and it will empty the trashbin

[2018-05-08 07:56] rullzer commented on #2557
@tobiasKaminsky what probably would begood to somehow display is the original location of the file.

As if you have two folders 'customers' or whatever it might be godo to know where they came from.

[2018-05-08 08:17] yongyang007 commented on #251
Is this issue related to the accessibility?

[2018-05-08 08:20] nightbluepn opened #2561 "No login possible"
See #2552 for details.
It is the same issue as described in #1958 and #1531 .

Removing the nextcloud account from accounts_ce.db only fixed it until i reboot my phone.
I am using external_sd as adopted storage and the phone is encrypted.

Any help would be appreciated.

[2018-05-08 15:35] MeiRos commented on #2529
I tryed this with Huawei Y5. Lineageos 14.1 android 7.1.2
Dev 20180427

Tap +, Upload files and swipe down in 0 directory. Wi-Fi directory appears and app crashes. Just before usb_cam_log.txt file should appear.
path /storage/emulated/0/usb_cam_log.txt
size 556B
modified 27.9.2017 22.22
type text/plain
hidden no
owner root 0 >
group everybody 9997 >
permissions rwxrwx--- 770 >

Crashes also when e

[2018-05-08 18:37] jancborchardt commented on #2557
I'm a bit worried about misclicks here. The restore action and absolutely destructive action are right next to each other, as said by others too. Undo for deletion should be there either way.

The "Remove all deleted files" function should also be in an overflow menu on the top, not directly visible.

And would be nice if there's a search function in this view too in case you want to restore somet

[2018-05-09 06:49] juliushaertl opened #2562 "Option to open direct links in the app"
### Actual behaviour
- Opening direct links like https://cloud.example.com/f/12345 is not possible

### Expected behaviour
- It should be possible to open direct links like https://cloud.example.com/f/12345 in the app, e.g. if I receive one via email.

I'm not sure if this is somehow possible on android, since Nextcloud instances are hosted on custom domains, but maybe someone from @nextcloud/andr

[2018-05-09 07:12] tobiasKaminsky commented on #2557
Current status:
![2018-05-09-090653](https://user-images.githubusercontent.com/5836855/39800521-5e298098-5368-11e8-8d22-60be13aac01b.png) ![2018-05-09-090657](https://user-images.githubusercontent.com/5836855/39800522-5e4a1998-5368-11e8-926b-ab0f42ee8210.png)

Todo, but in next PRs:
- undo -> should be discussed separately, also for other actions
- search function (well, will be a filter as it wil

[2018-05-09 07:36] ardevd commented on #2562
Great idea. But yeah, it would probably require server side changes to produce filterable URLs.

The only other alternative I can think of would be to subscribe to all http-links and prompt the user to open the link with the app but that's not a very elegant solution.

[2018-05-09 07:38] ardevd commented on #2551
@AndyScherzinger Can we please clean up the issue title a bit? It's hurting my brain. The details are provided in the actual issue description. :)

[2018-05-09 08:16] jancborchardt commented on #2557
And as mentioned above:

Also, is there a specific reason the 3-dot-menu of the content rows and the header doesn't align? Cause they should have the same tappable area.

[2018-05-09 08:45] ardevd commented on #2551
Tried to reproduce this on an emulator running Android 8.1.

- Place a a file named 1.1 on the internal storage.
- Share it to the NextCloud app through the Android downloads app.
- Verify that it shows up as "1.1" in the NextCloud server UI and app.

So are we saying the issue is related to different Android versions or different file managers?

[2018-05-09 09:44] AndyScherzinger commented on #1212
closed. successor is: #2485

[2018-05-09 09:44] #1212 closed

[2018-05-09 09:45] AndyScherzinger commented on #2562
Like @juliushaertl and @ardevd stated, yes, we would need a custom URL generated by the server for which we would register as a VIEW since registering on any URL would be bad UX since we can't handle most of them.

Original discussion about this is #1069

[2018-05-09 10:01] AndyScherzinger commented on #2551
Changes the title :)

Yes that is basically the issue :/

[2018-05-09 10:04] ardevd commented on #2551
@AndyScherzinger So give me a file manager I can reproduce the issue with?

[2018-05-09 10:05] AndyScherzinger commented on #2551
@ardevd tricky to do: Amaze file manager - works; OnePlus 3T file manager - doesn't work.

[2018-05-09 12:16] rullzer commented on #2562
Is there a way to detect in the browser if there is protocol handler for nc:// ? because if so we could do

1. open https://cloud.example.com/f/12345 in your browser
2. we do some magic to detect if the the android app is installed
3. If so open app with nc:// link if not just redirect to normal web view

[2018-05-09 12:27] AndyScherzinger commented on #2551
@ardevd yeah, I know. I could only reproduce it with my phone's file manager. @tobiasKaminsky can you reproduce this with your OP3 running LineageOS?

[2018-05-09 13:49] tobiasKaminsky commented on #1958
@nightbluepn thanks for the tip.
I tried it and revoked app session, but then I only got the login screen one time, which is correct. After log in there, everything still works.
So unfortunately this is not a way to trigger it.

[2018-05-09 13:50] tobiasKaminsky commented on #2555
Was the file deleted meanwhile?

[2018-05-09 13:53] tobiasKaminsky commented on #2559
Seems that somehow the sync process is blocking UI and therefore android is showing the "not response" warning.

[2018-05-09 13:55] nightbluepn commented on #1958
@tobiasKaminsky
I didn't update my comment, sorry - in the meantime i found out that a restart is what is triggering the account to be 'invalidated'.

The Signal app has the same problem:
https://github.com/signalapp/Signal-Android/issues/7681
https://jira.lineageos.org/browse/BUGBASH-1611

So after i reboot my phone, nextcloud will be logged out and Signal doesn't show any contacts - until i purg

[2018-05-09 13:57] AndyScherzinger commented on #2557
my pleasure :grin:

[2018-05-09 13:58] mario commented on #2559
I think it's just that the upload/download services are really bad and just try to do everything at once.

[2018-05-09 14:00] miodzicho commented on #2555
Some of them, yes. But not all. What is maybe important, all new photos, I took today, are uploaded just fine. It seems it stuck on some of them.

[2018-05-09 14:02] tobiasKaminsky commented on #2529
Thanks for helping debugging it :+1:
This error should be fixed via https://github.com/nextcloud/android/pull/2549.

[2018-05-09 14:16] #2467 closed

[2018-05-09 14:17] AndyScherzinger commented on #2467
@MeiRos @kosli fix has been merged to master, thus will ship with the next nightly and with 3.2.0

[2018-05-09 14:29] nightbluepn commented on #1958
I have read about the internal storage solution but apparently i only tried it after the database was already broken.
So first making sure that the database does not contain an orphaned account and then moving the app to internal solved the problem for me - reinstalling or anything of the sort will not help since accounts_ce.db will still contain the orphaned account.
Thanks

[2018-05-09 14:30] nightbluepn commented on #2561
Solution:
1. Make sure no orphaned account exists in accounts_ce.db
2. Move nextcloud to internal storage

[2018-05-09 14:30] #2561 closed

[2018-05-09 14:44] tobiasKaminsky commented on #1958
Glad to hear, although it is still not the best fix.

[2018-05-10 05:47] SkyWheel opened #2567 "[F-Droid Dev version] App crashes on Auto upload option openning"
Similar behavior on 2 different devices:
Xiaomi Redmi Note 3 with rooted LineageOS 14.1 latest
Google Pixel XL with non-rooted latest 8.1
Nextcloud Dev F-Droid 20180427 version.

[2018-05-10 09:05] juliushaertl commented on #2562
I also had an approach like @rullzer described in mind, so users can continue to share the https://cloud/f links but when they are opened on android and the app is installed it is possible to open the file in the app.

I'll have a look if I can get the detection on the server side work somehow.

[2018-05-10 10:27] B5r1oJ0A9G commented on #1450
I think to experience the same issue with Auto uploads failing.

- Nextcloud Android app 3.1.0
- Nextcloud 13.0.2

 Sabre\DAV\Exception\BadRequest: expected filesize 1024000 got 765952

    /var/www/html/apps/dav/lib/Connector/Sabre/File.php - line 132: OCA\DAV\Connector\Sabre\File->createFileChunked(Resource id #9)
    /var/www/html/apps/dav/lib/Connector/Sabre/Directory.php - line 151: OCA\DAV\C

[2018-05-10 11:05] grospolina commented on #2532
I have the same issue on my device. The uploaded images remain in the temporary folder on my sd-card:
`SD-Card/Android/media/com.nextcloud.client/nextcloud/tmp/MyUsername@MyServer/MySyncedFolder`

### Environment data
Android version: 6.0.1
Device model: Sony Xperia Z3 Compact
Stock or customized system: Stock
Nextcloud app version: 3.1.0
Nextcloud server version: 13.0.2

[2018-05-10 11:07] realthargor opened #2568 "Sorting in Upload Filebrowser not working"
### Actual behaviour
- selecting a sorting method in the file selection dialog to upload doesn't change the order of the files

### Expected behaviour
- Files a sorted by selected method

### Steps to reproduce
1. Open the upload dialog
2. navigate to a folder with multiple files
3. change sorting method

### Environment data
Android version: 7.1.2

Device model: OnePlus X

Stock or customized sys

[2018-05-10 13:14] AndyScherzinger commented on #2568
Hi @realthargor, thanks for reporting this issue, it is a duplicate of #2467 though and has been fixed for the next stable release 3.2.0 via #2566

[2018-05-10 13:14] #2568 closed

[2018-05-10 19:07] miodzicho commented on #2555
I took over 100 photos today, and they are not being uploaded....will attach log soon.

[2018-05-10 23:04] msonst commented on #2532
Hi,

Fthe folder looks similar in my side.

Sd/media/android/data/com.nextcloud.client/files/nextcloud/tmp/<user@domain>/<server folder structure>

Thanks Michael

[2018-05-11 04:56] miodzicho commented on #2555
log attached....
[nextcloud_android.log](https://github.com/nextcloud/android/files/1994008/nextcloud_android.log)

[2018-05-11 06:42] brokensbone commented on #2505
I'm also experiencing this behaviour. Exactly as described above.

Environment data

Android version: 7.0 Security Patch 01.12.2017

Device model: Motorola Moto G4

Stock or customized system: Stock system

Nextcloud app version: 3.1.0

Nextcloud server version: 13 (not sure of minor version details, if any)

Happy to give any more information if its useful.

[2018-05-11 07:01] ardevd commented on #2505
@tobiasKaminsky Well, you never check the return value from the file delete() call, so perhaps it fails for some reason? Or perhaps the if statement encapsulating it is tricking us. I'll see if I can reproduce the issue.

[2018-05-11 07:01] ardevd commented on #2505
@brokensbone Just out of curiosity. Have you tried re-installing the NextCloud app?

[2018-05-11 07:14] ardevd commented on #2554
Probably a duplicate of #2505

[2018-05-11 07:25] mario commented on #2554
I always said this is tricky and the behaviors should be removed as I don't want to touch things outside our own directory even IF it was possible to do it.

[2018-05-11 07:42] ardevd opened #2569 "App crashes when opening Auto Upload screen."
### Actual behaviour
- When opening the Auto Upload screen, the app crashes.

### Expected behaviour
- No crash should occur.

### Steps to reproduce
1. Start app
2. Pick "Auto Upload" from the nav drawer.
3. App crashes

### Environment data
Android version: 8.1.0

Device model: Emulator

Stock or customized system: Stock

Nextcloud app version: Master.

### Logs
[code]

[2018-05-11 07:47] ardevd commented on #2569
Debugging shows that mimetype, context and account objects are null here:

https://github.com/nextcloud/android/blob/3af569988db3af37936e152b04e03a25a0b0f1fb/src/main/java/com/owncloud/android/utils/MimeTypeUtil.java#L96-L99

[2018-05-11 09:57] ardevd commented on #2505
Update: Disregard above post. In my case the temporalFile is never created and I dont get any files in the Nextcloud temp folder.

[2018-05-11 10:01] blizzz commented on #2542
Apparently you run into this code path: https://github.com/nextcloud/server/blob/2495577a3be388d39b2850a70cd039866c9b09b4/apps/dav/lib/Connector/Sabre/File.php#L211-L214

It is entered because $renameOkay is false. What happens there is a dependent on the Storage class. The common implementations is trying to simply rename it (if conditions apply)  otherwise copy and delete it. I guess rename shou

[2018-05-11 15:56] mark-milton opened #2571 "Branding"
Is it possible to change the branding on the Android App? If so is there any guides on how to and what files need to be changed?

[2018-05-11 16:18] brokensbone commented on #2505
@ardevd reinstalled and replicated. Uninstalling got rid of all the old ones but the first photo I've taken since is now in the camera directory and the nextcloud client tmp dir.

[2018-05-11 18:52] c0fe opened #2572 "When adding new folder automatically enter folder"
I would like to make a suggestion that the user is automatically transferred into the newly created folder. I find this helpful as whenever I create a folder I wish to upload something into that folder and having it automatically enter the folder would be convenient.

[2018-05-11 21:42] AndyScherzinger commented on #2571
It is possible while there is no guide, check out for example https://github.com/SpryServers/spryCloud-android-next which is basically a fork that only re-branded the app.

[2018-05-11 21:42] #2571 closed

[2018-05-11 23:26] gorn commented on #2245
Sorry. Here is it
https://mrak.kub.cz/s/W2sewoJZrtDojWY

[2018-05-12 10:46] jj-uk commented on #2554
It should be possible.  I use plex app too and that writes to the SD card.

[2018-05-12 18:31] kollix opened #2574 "crash on file delete"
[nc-crash.txt](https://github.com/nextcloud/android/files/1997835/nc-crash.txt)
### Actual behaviour
- I rebooted the device and start Nextcloud client
- I select one image via longtap
- I select "Delete" from the menu to delete this image file
- Nextcloud crashes

### Expected behaviour
- no crash, file deleted

### Steps to reproduce
see above

### Environment data
Android version:4.4.2

Device

[2018-05-12 19:35] AndyScherzinger commented on #1908
PR is #2490

[2018-05-12 19:36] AndyScherzinger commented on #2015
PR is #2490

[2018-05-12 19:36] AndyScherzinger commented on #1698
PR is #2490

[2018-05-12 19:36] AndyScherzinger commented on #2100
PR is #2490

[2018-05-12 19:37] AndyScherzinger commented on #2198
PR is #2490

[2018-05-13 15:08] vitaliis opened #2575 "Enable "Upload option" when uploading files using share function outside the app"
### Actual behaviour
- Shows regular dialog to select folder where to upload the file that is being shared. It just assumes the default "Upload option" as "Keep file in source folder".

### Expected behaviour
- "Upload option" is showed, allowing user to select one of the following when uploading using "share" functionality:
** Move file to nextcloud folder
** Keep file in source folder
** Delete

[2018-05-13 21:07] jhf2442 commented on #2267
Same here, 13.0.2 / 3.1.0 but uppercase trick is not working
Login attempt is logged to oc_bruteforce_attempts table (which I clear prior to next trial)

without a fix the NC app is useless ! :-(

[2018-05-14 06:28] ardevd commented on #2574
@kollix Is the file actually deleted?

The stack trace you posted indicates a OutOfMemoryError exception which is odd.

[2018-05-14 06:51] cbrace opened #2576 "case-insensitive filename bug?"
I am seeing what appears to be a bug in the Android client related to filenames. Here is how I reproduce it:

1. Create new folder on my Linux desktop running Mint.
2. Add two files: somefile.pdf and SomeFile.pdf.
3. Open this folder in my NextCloud android client.
4. Tap on of one these to open it. The client downloads and opens it a PDF viewer.
5. Tap on the second file. The client reports a ver

[2018-05-14 09:25] Thorketil commented on #2553
I have the same problem. I can't access to my app on Android anymore.

[2018-05-14 10:48] tobiasKaminsky commented on #2567
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-05-14 10:50] tobiasKaminsky commented on #2562
As far as I know there is no way to get an info if a specific app is installed, which otherwise would be a big privacy issue as a bad website could try to detect all installed apps and use them for marketing, …

[2018-05-14 12:03] tobiasKaminsky commented on #2532
I created a fix for this, which will be soon in dev version.
It would be cool if you can test it there :+1:

[2018-05-14 12:13] tobiasKaminsky commented on #2542
@S74HK9hV do you use some kind of external storage? Or is the file in question stored within NC?

[2018-05-14 12:16] tobiasKaminsky commented on #2505
Potential fix is in #2577, which will be soon in dev version.
Can you then try this?

My assumption, which might be wrong, is, that
- temp file is only created/used when uploading a file from sdcard
- temp file is currently created also on sdcard, which might not get deleted

So the fix is to use an internal location for temp file and after each upload try to delete the file.

[2018-05-14 12:29] AndyScherzinger commented on #2562
Afaik like @tobiasKaminsky mentioned this isn't possible for the bowsers

[2018-05-14 12:29] #2569 closed

[2018-05-14 12:33] brokensbone commented on #2505
For my case, your assumptions are spot on.

I'll install the dev version after that's gone in.

[2018-05-14 13:27] AndyScherzinger commented on #2557
@tobiasKaminsky anything missing to open a PR and start the reviews?

[2018-05-14 16:33] kollix commented on #2574
On Montag, 14. Mai 2018 08:28:21 CEST ardevd wrote:

no

Yes, I've seen that, so my first guess was really an OOM situation.
First try was to close all apps possible - no luck.
Therefore: reboot, only start NC - no luck.

I don't understand this, since it's just trying to allocate 3MB

still: why does it
com.owncloud.android.datamodel.ThumbnailsCacheManager.addThumbnailToCache(ThumbnailsCacheManag

[2018-05-14 16:38] BinkaDroid commented on #2559
Android P will crash not responding apps instead of showing the not-responding-warning ...

As the actual syncing isn't an issue here right now, it could get problematic if Android Phone decided to crash the app ...

[2018-05-15 07:27] ardevd opened #2583 "Replace legacy and stale custom ImageView and ViewPager classes with a better alternatives"
We currently include a `com.ortiz.touch.ExtendedViewPager` class that provides zooming/scrolling functionality for preview images. It's only used in the `PreviewImageActivity`.

The code is seemingly not maintained anymore and the source is pretty clunky.

As @AndyScherzinger recommended, let's look for a replacement in form of a third party library that will remove the need to maintain old code n

[2018-05-15 07:33] AndyScherzinger commented on #2583
@mario @tobiasKaminsky fine with you? (I guess so but still asking for your feedback) :smiley:

[2018-05-15 07:51] mario commented on #2583
Yes

On Tue, 15 May 2018 at 09:33, Andy Scherzinger <notifications@github.com>
wrote:

[2018-05-15 09:33] mbrescia commented on #603
Hi,
I really look forward for this enhancement.
In the meantime I've tried to patch the code on Android and it kinda works... even if it's ugly as hell 😈
I've used the Android KeyChain features to allow the user to select a PKCS12 certificate and then stored the cert alias into the app preferences:

AuthenticatorActivity
[code]

[code]

Then it uses the cert to initialize the SslSocketFactory:

Ne

[2018-05-15 09:35] mario commented on #603
@mbrescia feel free to start a patch, and I can help? In the mean time, maybe you can try Nextcloud Talk v1.2.0beta? Same for you @AndreasMettlen ^_^

[2018-05-15 12:56] c0fe opened #2584 "Set automatically the ability to select multiples images by default"
When you are uploading images via the Nextcloud Android app you have to press with your finger on the screen and hold for a few seconds before being able to select multiple files to upload. If you do not do this then you will only upload one file that you initially selected.

My proposal is to set it to allow multiple files to be selected by default with the top option being upload.

[2018-05-15 13:51] jancborchardt commented on #383
We could do it like in Netflix on Android and show a menu with:
- Retry (only show when it errored)
- Pause all (or »Pause« when this is the only upload)
- Cancel upload

[2018-05-15 15:17] jj-uk commented on #2553
The current version is 13 and its still broken.

[2018-05-16 08:00] tobiasKaminsky commented on #2557
Some polishing, will be by end of the week.

[2018-05-16 08:31] mirgleich commented on #2559
I had a deeper look into it now. It seems that Android O is already terminating non responding apps, when the screen is dark or the app is not running in foreground. Therefore it is working as long as the screen is on and you are not doing something else on the phone.
Probably a permanent notification while syncing could solve the issue?

[2018-05-16 08:55] tobiasKaminsky opened #2585 "Weird UX when login is email address"
![2018-05-16-105058](https://user-images.githubusercontent.com/5836855/40106838-1cea562c-58f7-11e8-9340-a29aacd163f1.png)

When login via email address, we show "test@test.de" @ " 10.0.2.2/nc.
As discussed with @skjnldsv, we think we could omit the login name as there are multiple ways to login and the info is not needed (hopefully the user knows at least one login name).
[We can show the login na

[2018-05-16 09:10] tobiasKaminsky opened #2586 "FAB appears"
### Actual behaviour
- FAB appears

### Expected behaviour
- No FAB at all

### Steps to reproduce
1. upload a file
2. search something
3. close search
4. see FAB appearing

![2018-05-16-110925](https://user-images.githubusercontent.com/5836855/40107833-9ac3515a-58f9-11e8-80e8-83a525b327ef.png)

@AndyScherzinger maybe you can have a look as you added the bottom "fab"?

[2018-05-16 09:30] tobiasKaminsky commented on #2245
Does the folder exist on server?

Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-05-16 09:33] tobiasKaminsky commented on #2015
@AndyScherzinger manually adding this info is not needed anymore, if we specify "fix #issue-number" in the PR.
Then you can see the PR-number above the very first post.
(We still should add the label "pr exists" as we then see which bugs are already handled).

[2018-05-16 09:35] tobiasKaminsky commented on #2575
This is not really possible, as we only get a copy/read only file when sharing the file internally, so this is only possible if you do it the other way around.

[2018-05-16 09:35] #2575 closed

[2018-05-16 09:41] tobiasKaminsky commented on #2574
com.owncloud.android.datamodel.ThumbnailsCacheManager.addThumbnailToCache(ThumbnailsCacheManager.java:174)
when I DELETE the file ???

For non-downloaded images we show a resized preview, which will be fetched from server.
However if you already have an image downloaded, delete it and immediately afterwards want to see the resized image, the device would have to download it.
That is the reason why

[2018-05-16 09:42] tobiasKaminsky commented on #2542
@blizzz can there a difference when using a samba share?

[2018-05-16 09:43] blizzz commented on #2542
likely.  @icewind1991 ?

[2018-05-16 09:44] tobiasKaminsky commented on #2583
Fine with it and thanks for taking care of it, @ardevd :+1:

[2018-05-16 09:46] vitaliis commented on #2575
Hello @tobiasKaminsky ,

thank you for the reply. Maybe there is other possibility to do this. Please advise.
It is possible to select a list of files that are shared (uploaded) then.
Depending on the type of the given values we might do some operations on them. Of course if it is a sequence of bytes there is not much info we can derive from it. But if it is of type `File` or similar, then it shou

[2018-05-16 09:47] tobiasKaminsky commented on #2584
At least from my experience long press for multiselect items is a common android pattern, so I would not change this.

What about you? @mario @AndyScherzinger @ardevd

[2018-05-16 09:49] tobiasKaminsky commented on #2559
As @mario said, we need to change the up/download service to a job based system, which then can be correctly used & triggered by android's doze syste.

[2018-05-16 09:53] tobiasKaminsky commented on #2575
There are other issues, were user report that these options sometimes to do not work, when the files are on sdcard.
So I would not try to complicate this, but instead assume that "share within android" is read-only and for the other way around we should prior check if it is possible to move/delete the file and only then show the option.

[2018-05-16 12:32] AndyScherzinger commented on #2584
I agree with you @tobiasKaminsky regarding the long press to initiate multi select. Other pattern thought would be that you can directly multi-select by clicking on the item icon on the left (like in gmail, file browsers or Nextcloud Talk), while that would need some coding work

[2018-05-16 12:34] c0fe commented on #2584
@tobiasKaminsky my experience is primarily with Dropbox, by default they allow for multiple files to be selected.

My argument for this is that long press is not intuitive, there is nothing there to let the user know immediately that they can select multiple files if they press their finger for a few seconds longer than they normally would. Of course they can look this up but this defeats the purp

[2018-05-16 12:49] c0fe commented on #2585
What about

* Username
* Server Name
* Tagline/Shorthand for Account

?

[2018-05-16 13:04] artem-p commented on #1509
Seems that some refactoring needed to achieve this fab position. Usually, it is easy to bind fab to a toolbar, with `app:layout_anchor` property, but fab and toolbar should be under the hood of a single CoordinatorLayout. For now FAB is in CoordinatorLayout in the fragment, but toolbar is on the upper level in the activity and not in CoordinatorLayout. Also, FAB is heavily used in the fragment cod

[2018-05-16 13:12] artem-p commented on #1509
Also, FAB position changes programmatically when bottom navigation is enabled that also seems a bad practice.

[2018-05-16 13:59] kollix commented on #2574
On Mittwoch, 16. Mai 2018 11:41:54 CEST Tobias Kaminsky wrote:

I just tested with a 2MB file and got a crash with the log:

D/dalvikvm(21453): GC_FOR_ALLOC freed 187K, 19% free 18967K/23228K, paused 62ms, total 62ms
I/dalvikvm-heap(21453): Grow heap (frag case) to 49.963MB for 31961104-byte allocation
D/KeyguardUpdateMonitor( 2627): sendKeyguardVisibilityChanged(true)
D/KeyguardUpdateMonitor( 262

[2018-05-16 20:27] papjul commented on #1736
This looks like a major issue to me, I found out a lot of my pictures disappeared (thankfully old versions were saved but I have to copy and then restore which is annoying) because my camera had the same naming convention (DSC_0001, etc).

@atroxix Did you find a workaround since November?

[2018-05-17 04:52] tobiasKaminsky commented on #1736
@mario I remember that you assumed that if a file is uploaded and a file with the same file name is change/created that it is the same file and thus should be overwritten.
It seems that this assumption is not valid for all use / use cases.

To prevent data loss, it is better to never overwrite an existing (uploaded) file, though I do like the original idea…

[2018-05-17 04:54] mario commented on #1736
This is honestly a problem with the devices. Also, how else do you plan to upload changed files if not by overwriting?

[2018-05-17 06:01] tobiasKaminsky commented on #1736
If you manually upload the same (or changed) file, but with same file name, twice, it does not get overwritten, but appended a (2).
Overwriting a file without user confirmation, is maybe to hard for auto upload, unless we are really sure that it is the same (and changed) file.

Unfortunately I do not have a solution either.

[2018-05-17 15:04] tobiasKaminsky opened #2589 "Share: filter existing user/group from suggestion"
- have a file shared with "admin"
- share the file and search for "admin"

-> currently you get "admin" and can select this, but nothing happens

Instead it should filter out "admin" as it is confusing to reshare the file to a sharee which already exists.

-> I will do this after #2573

[2018-05-17 18:15] AndyScherzinger commented on #2553
Thanks in advance for your efforts @jj-uk ❤️

[2018-05-18 07:48] guettli commented on #126
I am willing to pay for an open source in-app text editor.

[2018-05-18 13:02] iGeekFace commented on #2017
I am also receiving this SSL error for video uploads, and for some images too. I have better luck with images though, so I'm guessing it relates to file size. I'm using a OnePlus 5T as well, but with LineageOS.

[2018-05-18 15:55] dceee opened #2592 "Uploads of multiple or subsequent files to Nextcloud incomplete"
### Actual behaviour
I have observed this when trying to share especially multiple pictures from my gallery at once to my Nextcloud server. It just fails for some pictures without any warning or error. Some files are neither uploaded nor can be found in the upload queue of the Nextcloud app. While mostly the first or second file succeeds, subsequent items just do not trigger any action in the Next

[2018-05-18 18:15] atroxix commented on #1736
Hi. Sorry for slow feedback. I didn't find a way to fix the issue, but as a workaround I just started cleaning up my folder of taken photos on monthly basis or so (since I keep uploaded photos in monthly folders).

[2018-05-19 14:19] samtygier opened #2595 "Logged out on every phone reboot"
### Actual behaviour
Every time I restart my phone I need to log in to Nextcloud again.

### Expected behaviour
Authentication should be remembered between reboots

### Steps to reproduce
1. Start Nextcloud, enter server, username and password
2. Reboot phone
3. Log in is forgotten, and I have to enter server, username and password again

### Environment data
Android version:
4.2.2

Device model:

[2018-05-20 17:27] ardevd opened #2596 "Snackbar messages overlap the navigation bar when viewing images"
### Actual behaviour
- When viewing a image in the app, the view overlaps the translucent navigation bar at the bottom meaning view elements aligned to the bottom overlap with the navigation bar. One example being the snackbar messages that can appear when viewing images.

### Expected behaviour
- View elements should not overlap with the navigation bar.

### Steps to reproduce
1. Preview a .gif o

[2018-05-20 18:41] andreicristianpetcu opened #2597 "I keep getting asked for the password every 3-5 seconds"
### Actual behaviour
- I open the app, log in but I keep getting asked for the password.
https://vimeo.com/270982183
If I just press back, and the log in screen dissapears.

### Expected behaviour
- I expect once I log in, not to be asked for the password anymore.

### Steps to reproduce
1. I just open the app where I am logged in.

### Environment data
Android version: LineageOS 14.1-20180324-NIG

[2018-05-21 00:46] xXSTrikeXx commented on #2597
I suggest to update at least to version 11.0.8 or better directly to v. 13, because version 11 is already EOL.

[2018-05-21 00:46] #2597 closed

[2018-05-21 01:08] bkraul commented on #269
Just migrated from owncloud to nextcloud and found the folder 'make available offline' feature is not available on Nextcloud for Android. Any plans on implementing? This issue seems to be almost 2 years old.

[2018-05-21 10:16] #2583 closed

[2018-05-21 10:18] AndyScherzinger commented on #2583
.....aaaaaand merged to master! Again Kudos to @ardevd to doing such a great job pushing the app forward! :heart:

[2018-05-21 14:48] AndyScherzinger opened #2598 "Restore download snackbar/logic for 2 zoomlevel-"download full size" offer"
Likely due to #2593 we lost this feature.
I just checked with @tobiasKaminsky and the dev build from two days ago and it in fact does show a snackbar for downloading the full-size version of the image. This feature is now lost due to the referenced PR. My guess is that this happened due to the "new" zoom logic and would need to get re-wired again.

cc @ardevd: Any ideas how to fix this?

[2018-05-21 15:43] ardevd commented on #2598
@AndyScherzinger could you provide me with a step by step instruction on how to reproduce the issue and a description on what's supposed to happen?

[2018-05-21 17:35] AndyScherzinger commented on #2598
@ardevd: Sure thing :)

1. open an image which hasn't been downloaded --> shows a preview image (lower resolution) from server
2. zoom-in two times --> a snackbar should show up asking if you want to download the full-resolution images

In the past I think the zoom-to-download part has been implemented via #1710

[2018-05-21 18:02] ardevd commented on #2598
@AndyScherzinger hmm, I can't really replicate this behaviour with the app before my PR. Firstly there is only one zoom level. Secondly, I don't get a snackbar message at all when zooming in.

The exception seems to be png files with transparent backgrounds where I immediately get a snackbar message saying "No resized image available. Download full image?"

So I can't really see any difference her

[2018-05-21 18:09] AndyScherzinger commented on #2598
Maybe @tobiasKaminsky can clarify how to reproduce the behavior tomorrow.

[2018-05-21 18:16] AndyScherzinger commented on #2598
@ardevd My mistake... the snackbar for full-size image download still shows up... I could reproduce it even with your introduced photoview via: pinch-to-zoom-in "like crazy"... then the snackbar comes up :)

[2018-05-21 18:48] ardevd commented on #2598
So should we close this issue or rephrase it? :)

[2018-05-21 19:08] AndyScherzinger commented on #2598
I rephared it :)

[2018-05-21 19:17] vwbusguy commented on #2377
I'm seeing the same thing on Galaxy S9+.  Auto-uploads have largely stopped working.  If it does work, it only uploads one picture and stops.  Bulk upload works just fine.  I've tried "Force Rescan" as well and it doesn't appear to do anything.  No errors - it's like it's just failing to find anything to upload.  It was working fine until about early April.

[2018-05-21 19:40] #2343 closed

[2018-05-21 19:55] obama opened #2601 "downloading a file makes the phone vibrate until the download is finished."
### Expected behaviour
it should not vibrate all the time

### Steps to reproduce
1. download a file from your nextcloud to the phone

### Environment data
Android version: 8.0

Device model: Xiaomi Mi A1

Stock or customized system: Stock, using trebuchet launcher

Nextcloud app version: 3.1

Nextcloud server version: 13.0.2

[2018-05-21 20:10] AndyScherzinger commented on #2601
Hi @obama this usually doesn't happen, can you check if this is related to the launcher, since the stock launchers don't seem to do this, at least not the ones we know.

[2018-05-22 04:56] levster69 commented on #2377
My auto upload has effectively stopped for all folders. Individual or mass upload still works, if initiated manually. Latest Android app and updated server.

S9+

[2018-05-22 07:14] mist0706 commented on #2377
Looking at my files through the nextcloud manual upload button it lists all
my files as created April 5th. This might have something to do with the
issue.

On Tue, 22 May 2018, 06:56 Lev, <notifications@github.com> wrote:

[2018-05-22 09:31] AndyScherzinger commented on #2596
Fixed via #2599

[2018-05-22 09:31] #2596 closed

[2018-05-22 10:56] #2400 closed

[2018-05-22 12:39] tobiasKaminsky opened #2604 "Resized image: no offer to download file if zooming"
With https://github.com/nextcloud/android/pull/2593 this does not work any more:
- open up a non-downloaded image in preview
- zoom into it
- after 2x zoom previously it showed "download full image?"
- if no internet connection is available it also showed some info

--> I guess that only a zooming listener is missing.

@ardevd can you have a look into this? As always I can help you, if something i

[2018-05-22 12:49] ardevd commented on #2604
Hi.

Me and @AndyScherzinger tested this yesterday and I cant see any difference between the behavior before and after #2593.

Tapping to zoom doesnt produce the "download full image" message either way. However, pinch-to-zoom a bit and you'll get it.

If I understand you correctly, you'd want to show that message when tapping to zoom as well. Again, this doesnt happen when I use Nextcloud app fro

[2018-05-22 12:49] ardevd commented on #2604
Also, I believe this is a duplicate of #2598?

[2018-05-22 13:38] tobiasKaminsky commented on #2604
@ardevd right, I always tried it with pinch-to-zoom and not double click, sorry for the confusion :+1:

[2018-05-22 13:38] tobiasKaminsky commented on #2604
And yes, it is a duplicate.

[2018-05-22 13:38] #2604 closed

[2018-05-22 15:09] miodzicho commented on #2555
I'm not even checking it, I have nearly 200 images not being uploaded now. All stuck in queue.
And I see no solution.

[2018-05-22 16:55] tpafe opened #2605 "Error upload manual multiple folders in application nextcloud android"
### Actual behaviour
- manual upload folders / multiple folders to nextcloud server

### Expected behaviour
- error.. not upload

### Steps to reproduce
1. press the plus button to upload
2. click on upload icon
3. Click on the three points at the top right, and mark select everything. the folders are shaded as selected

### Environment data
Android version: 7

Device model:  xiaomi mi5s

Stock or

[2018-05-22 17:03] bkraul commented on #269
@tobiasKaminsky I don't mean to come across as offensive, but help me understand something. Nextcloud broke away from owncloud in part because owncloud was not listening to the community in a way that furthered the product. But yet, here we have a an almost 2 year old issue still largely unaddressed (one that owncloud has supported for a good while). So my question is, is nextcloud really more com

[2018-05-22 21:58] AndyScherzinger commented on #2598
@tobiasKaminsky @ardevd for whatever reason, this lint issue comes up since today:
[code]
is now an unused resource, I then checked the pinch-to-zoom-to-download-snackbar again and it doesn't show up anymore! :warning:

[2018-05-22 21:58] AndyScherzinger commented on #2604
see https://github.com/nextcloud/android/issues/2598#issuecomment-391154156 it seems it doesn't work anymore since today, but I am sure it worked yesterday...

[2018-05-23 04:50] brandonkal commented on #2377
### I am also experiencing issues with auto upload. This seems to always be inconsistent but in my case it hasn't uploaded anything for the last 3 months.

[2018-05-23 06:50] #1698 closed

[2018-05-23 06:50] #1908 closed

[2018-05-23 06:50] #2015 closed

[2018-05-23 07:41] AndyScherzinger commented on #1908
fix will ship with the next dev build and with stable release 3.2.0 folks :)

[2018-05-23 07:54] ardevd commented on #2598
@AndyScherzinger That's odd. I'm pretty sure I didnt touch it and it worked fine after #2593 so there must have been a merge after that. Time to check the logs ;)

[2018-05-23 08:00] ardevd commented on #2598
@AndyScherzinger `R.string.resized_images_download_full_image` was used in `TouchImageViewCustom.java`, so that explains why its not used anymore. However, a similar message did show up after #2593 was merged. I'll look into it.

[2018-05-23 08:18] ardevd commented on #2598
I can confirm the same. I'm developing a new implementation for it now. Double tapping the image will bring up the snackbar message prompting the user to download the image.

[2018-05-23 08:33] danialbehzadi opened #2606 "We need single android account for all nextcloud apps"
### Actual behaviour
- We need to authorize for each of files, talk, notes, etc. apps.

### Expected behaviour
- It should just set up an android account for nextcloud, and other apps should use it for authentication.

### Environment data
Android version: 8.1

Device model: Xiaomi Redmi Note 4X

Stock or customized system: LineageOS 15.1

Nextcloud app version: 3.1.0

Nextcloud server version: 13

[2018-05-23 08:37] mario commented on #2606
You can already use your Nextcloud accounts in Talk.

As for the rest, there are some plans to make it easier to use central
account storage

On Wed, 23 May 2018 at 10:33, Danial Behzadi <notifications@github.com>
wrote:

[2018-05-23 08:42] ChrisDeath commented on #1908
Will test it as soon as it is on F-Droid.
Thanks alot already now :)

[2018-05-23 08:50] AndyScherzinger commented on #1908
You are very welcome @ChrisDeath, it should be in today's dev build while we can't say for sure when f-droid will be publishing it. Hang in there mate :)

[2018-05-23 09:03] danialbehzadi commented on #2606
Oh, I would be glad to read about these plans. Where can I find them?

[2018-05-23 09:40] tobiasKaminsky commented on #2606
https://github.com/nextcloud/ownCloud-Account-Importer/issues/3

This is one idea, there is already a proof of concept.
I hope I can find some time after 3.2 to push this further.

[2018-05-23 09:42] tobiasKaminsky commented on #2606
In short the idea is to have nextcloud files as a central app, which allows other apps to re-use the account, similar to google play.
If a 3rd party app requests access, you would have to grant it within a popup (provided by nextcloud files app).

[2018-05-23 10:12] ardevd commented on #2598
However, perhaps we can do this in a more elegant user? As a NextCloud user for years, I never noticed the prompt until working on #2593. Perhaps we can expose the feature in a smarter way?

[2018-05-23 10:36] AndyScherzinger commented on #2598
The feature isn't easy to discover while I personally don't have a good idea on how we could improve its discoverability or if like you said we don't need it at all since people can use the menu to download while the snackbar logs the Yeses and then auto-downloads so it has some more logic to it than just prompt+download.

What do you think @tobiasKaminsky (original author), @mario and @nextcloud/

[2018-05-23 10:36] danialbehzadi commented on #2606
That's cool!

[2018-05-23 10:39] ardevd commented on #2598
I'm generally in favor of scrapping the feature as it doesnt really make sense from a UX perspective in my opinion and acts more like a random gesture control that most user will at best accidentally stumble upon. Also, since it's not a UX pattern used anywhere else, it's not exactly a defining feature.

But interested to hear what you guys think

[2018-05-23 10:44] AldarisPale commented on #2017
I have the same problem. Sometimes I get SSL error, sometimes just general Connection Error.
There is no difference between videos and images because is it random (well, no purely, but it **is** from Nextcloud clients point of view). This is because in my case I have a misbehaving router. I use VPN to work around this problem (VPN handles my bad router by resending garbled packages and this is tra

[2018-05-23 10:50] AndyScherzinger commented on #2017
Hi @AldarisPale, that sounds strange since the client does chunked uploads so it should restart right where is stopped, so calling @tobiasKaminsky and @mario :) Since I thought we do have chunked uploads everywhere, no?

[2018-05-23 11:56] tobiasKaminsky commented on #2598
As far as I remember it was an idea coming up while limiting resized images to zoom factor 2x, otherwise images might get too blurry and this was something @jancborchardt wanted to avoid.
In fact it is only a shortcut for downloading, but case sensitive.

I have no hard feelings above this at all…
Let us have at least two additional opinions, best would be one from @nextcloud/designers, and then j

[2018-05-23 11:58] tobiasKaminsky commented on #2017
Yes, we have chunked uploads. But if the server/route behaves weird, maybe one of the chunk is corrupt, which then results in a failing upload.

The new dav endpoint has a decent chunked upload, so this will change at some point.

[2018-05-23 13:20] c0fe opened #2607 "Click on icon, open file"
Here is my suggestion, in Android application when the user touches the file icon that can be opened on the phone, be it a image file, documentation, pdf, video or music then that file is opened. If the user presses on the check box then the checkbox is selected.

[2018-05-23 13:21] c0fe opened #2608 "Make check box slightly larger"
My suggestion is small and simple, make the check box that appears in the Android application a bit larger. currently I find it more difficult than it should be to select it.

[2018-05-23 13:52] AndyScherzinger commented on #2608
@c0fe are you referring to any checkbox in particular or check boxes within the app in general?

No matter which one of the two I'd say don't enlarge the check boxes since it is the standard size for check boxes but enlarge the "hit box" thus a larger area "around" the checkbox will also de-/select the check box.

[2018-05-23 13:57] AndyScherzinger commented on #2607
@c0fe which screen are you referring to? Because in case you are in a file list and multi select is turned on than your suggestion would be something I'd consider an (UX) antipattern since you are in the context of selecting things.

Whenever someone has the time to implement the multi select differently I'd even go as far as saying clicking on the icon-> select it, clicking on the item(the text)

[2018-05-23 13:57] AndyScherzinger commented on #2607
Also cc @nextcloud/designers

[2018-05-23 14:07] tobiasKaminsky commented on #2607
I would keep it the way we have it now, as long-press for multi-select is a common and well known feature, which we would have to support anyway, I think, even if we would use the new idea by @AndyScherzinger (starting multi-select by clicking on icon).

[2018-05-23 14:08] tobiasKaminsky commented on #2608
Once multi-select is enabled you can click on the whole row area for selecting/deselecting an item, so the "touchable area" of a checkbox is not used at all, or am I missing something?

[2018-05-23 14:31] AndyScherzinger commented on #2608
Like my initial question: I am not sure which check boxes @c0fe is referring to

[2018-05-23 14:45] akong77 opened #2609 "It's back to login screen when login my nextcloud server"
### Actual behaviour
It's back to login screen when login my nextcloud server

### Expected behaviour
It's back to login screen when login my nextcloud server

### Steps to reproduce
1. input my nextcloud server address.
2. input account and password
3. It's will back to need input server address screen

### Environment data
Android version: 8.0

Device model:  HTC 10

Stock or customized system:

[2018-05-23 14:57] AndyScherzinger opened #2610 "#2573 breaks account change"
the account switch isn't working anymore at all on the PR/branch #2573

Simply try to switch the account (2 accounts on 2 different servers).
If you remove the launch singleTop flag it works again for the user list in the drawer but still doesn't work at all for the avatar clicks in the drawer header. So something is really broken here.

Good thing, this doesn't happen on the master branch, or tra

[2018-05-23 16:02] c0fe commented on #2608
@AndyScherzinger checkboxes in the app in general if you want to select multiple files for deletion for example.

[2018-05-23 16:13] AndyScherzinger commented on #2608
@c0fe erm, at least checkin with 3.1.0 when I then have the multi-select mode active I can click anywhere on the item for selection, I don't have to click on the check box itself.

[2018-05-23 17:16] tobiasKaminsky commented on #2320
This is related to username vs. userId problem, which will be fixed globally for the version after the next one.

[2018-05-23 19:04] chris1264 opened #2611 "Auto upload folders (remote/local) are not selectable/not stored"
### Actual behaviour
I can't set folders for the auto upload setting. When I select local/remote folder the folder selection screens open but when I select a folder, the folder is not stored and I only see "Select a local folder"/"Select a remote folder". I have the same issues with predefined settings (where I just can choose the remote folder). There I see e.g. "/InstantUpload/Camara" but not my

[2018-05-24 04:25] ahadobas opened #2612 ""Auto upload" works after start app manualy"
### Actual behaviour
I've set up folders (DCIM, ...) to "auto upload". It works. Restarted my phone. Taken pictures. No auto upload at all.

### Expected behaviour
It should be to do the auto upload after restarting the phone.

### Steps to reproduce
As I described above.

### Environment data
Android version: MIUI 8.4.19

Device model: Xiaomi Mi 5s

Stock or customized system: Stock, dev

Nextclo

[2018-05-24 09:41] AndyScherzinger commented on #1955
I'll close this issue in favor of #2485 which is its successor describing the complete revamp of the sharing UI parts.

[2018-05-24 09:41] #1955 closed

[2018-05-24 09:45] #1840 closed

[2018-05-24 11:23] gupta1anubhav opened #2614 "Obsolete Gradle Dependency"
### Actual behavior
Warnings are shown by Android Lint as some Gradle dependencies are outdated.

### Expected behavior
Gradle dependencies should be updated to the latest version.

### Environment data
Warnings are shown in all build variants.

Stock or customized system: Stock, dev

Nextcloud app version: 3.1.0

![screenshot from 2018-05-24 16-08-47](https://user-images.githubusercontent.com/311

[2018-05-24 11:31] AndyScherzinger commented on #2614
Hi @gupta1anubhav and welcome to Nextcloud!

Thanks for the report and for the offer to work on this :+1:

[2018-05-24 12:01] tobiasKaminsky commented on #2609
Is this in an upgrade from a previous version?

Can you create us a test account, test if the problem occurs also there and if so send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-05-24 12:25] jbeguna04 opened #2615 "Logo/Icon Proposal"
Sorry for not having the template
Hi good day! Im Jibbie Eguna, a graphics designer, I would like to ask for your permission to propose a new designs of logo in your application/project. I would like to help projects in open-source .I would just like to propose new designs if you are needing it. Hoping for your positive response Thank You!

[2018-05-24 12:28] AndyScherzinger commented on #2615
Hi @jbeguna04 and welcome to Nextcloud.

I'm looping in @jancborchardt and @nextcloud/designers for this questions while I'd guess the answer will be no.

[2018-05-24 12:37] jbeguna04 commented on #2615
thank you for the response, good luck on your application

[2018-05-24 12:41] AndyScherzinger commented on #2615
Thanks @jbeguna04 :heart:

Since you create graphical work for OSS Apps, maybe you want to have a chat with @jancborchardt about the opensourcedesign initiative :balloon:

[2018-05-24 12:44] jbeguna04 commented on #2615
That would be great sir, I wish i can communicate with him

[2018-05-24 12:45] tobiasKaminsky commented on #2610
I'll give it a try now.

[2018-05-24 12:51] juliushaertl commented on #2615
@jbeguna04 Checkout https://opensourcedesign.net/ for more details on the initiative. Maybe you also want to join the forum at https://discourse.opensourcedesign.net/ or the IRC channel #opensorucedesign at freenode.

[2018-05-24 12:52] jbeguna04 commented on #2615
thank you @juliushaertl

[2018-05-24 12:55] juliushaertl commented on #2615
And about the original question, I don't think that the proposal of a new design for the logo is needed, but if you encounter issues with the design in Nextcloud, feel free to join and discuss them in issues here on GitHub. For more details on how you can contribute to Nextcloud design, see: https://nextcloud.com/design/

[2018-05-24 12:55] #2615 closed

[2018-05-24 13:37] AndyScherzinger commented on #2610
Awesome! :heart:

[2018-05-24 14:10] c0fe commented on #2608
@AndyScherzinger that's weird, maybe something wrong with my thumbs.

[2018-05-24 14:39] tobiasKaminsky commented on #2610
This is fixed with my latest commit.

With "singleTop" it is not working, but I'll debug it further.

[2018-05-24 15:29] tobiasKaminsky commented on #2610
Now this is also working.
@AndyScherzinger please test and then we can close this :tada:

[2018-05-24 16:14] gupta1anubhav commented on #2614
Thanku @AndyScherzinger

[2018-05-24 16:17] AndyScherzinger commented on #2608
@c0fe Can you do an animated gif / video of it?

[2018-05-24 16:32] c0fe commented on #2608
@AndyScherzinger further testing I think I just messed up something or my screen is not working. I will close this issue for now.

[2018-05-24 16:32] #2608 closed

[2018-05-24 16:39] AndyScherzinger commented on #2608
@c0fe thanks for the feedback, please feel free to reopen in case you are experience this issue again since checkboxes should be easy to hit and if not it needs to be fixed.

[2018-05-24 16:50] #1749 closed

[2018-05-25 08:07] savin-msk commented on #2612
Confirm. I have same behavior on my Mi Note 3. MIUI 9.5.3.0.

[2018-05-25 08:40] thungsten opened #2624 "Deleted shares can not be reactivated"
### Actual behaviour
If you -deliberately or by accident- delete a share (folder or file) shared to you as read only in the Android app no option to reactivate/reinstantiate the folder is available to the user to whom the entity was shared.
The event of sharing the object is still visible in the activity protocol but clicking on the link fails.
The only option to get the shared object back is to r

[2018-05-25 08:57] tobiasKaminsky commented on #2133
I created a test version, which can be installed as an upgrade to the existing app.
Can someone with at least Android 5.1 (Lollipop) can test it?

Please do this steps:
- verify that with current 3.1 version the problem still occurs
- install test version
- try it again

Link to download test version: https://cloud.nextcloud.com/s/fazWbsg8LoAKCtE
(it is signed by us and will replace 3.1 version wi

[2018-05-25 08:57] tobiasKaminsky commented on #2032
I created a test version, which can be installed as an upgrade to the existing app.
Can someone with at least Android 5.1 (Lollipop) can test it?

Please do this steps:
- verify that with current 3.1 version the problem still occurs
- install test version
- try it again

Link to download test version: https://cloud.nextcloud.com/s/fazWbsg8LoAKCtE
(it is signed by us and will replace 3.1 version wi

[2018-05-25 08:58] tobiasKaminsky commented on #1531
I created a test version, which can be installed as an upgrade to the existing app.
Can someone with at least Android 5.1 (Lollipop) can test it?

Please do this steps:
- verify that with current 3.1 version the problem still occurs
- install test version
- try it again

Link to download test version: https://cloud.nextcloud.com/s/fazWbsg8LoAKCtE
(it is signed by us and will replace 3.1 version wi

[2018-05-25 09:17] tobiasKaminsky commented on #2601
On android 8 you can change notification behaviour for each channel of an app.
Please go to app settings -> nextcloud -> app notifications and then have a look what settings are chosen for "download channel". it should be "importance medium: no sound".

[2018-05-25 09:42] mr-bolle commented on #2133
I will test this behavior the next day. Possible Android Release 6, 7.1 and 8.0

[2018-05-25 13:19] Olen opened #2625 "Renaming of offline files"
### Actual behaviour
- When an "offline" file is renamed on the server, the app detects it as a completely new file. The "old" file is deleted from the cache, and a "new" file appears on the device (in the app) and must be downloaded again

### Expected behaviour
- The app should be able to detect that the file has just been renamed (or moved) and update its cache without re-downloading the file.

[2018-05-25 14:26] rbu commented on #1901
@tobiasKaminsky's PR is #2250.

[2018-05-25 15:11] c0fe commented on #2607
So should I close this issue out?

[2018-05-25 16:56] AndyScherzinger commented on #2610
Works like a charm :+1:

[2018-05-25 16:56] #2610 closed

[2018-05-25 17:01] AndyScherzinger commented on #2607
I think for now we can close this and if one finds the time to move to a different multi-selection pattern then we can take care of this issue or even have a completely different approach.

[2018-05-25 17:01] #2607 closed

[2018-05-25 20:12] ewan86 commented on #2609
I have this issue too, I have a one plus two , running lineage OS 15.1 and nextcloud app version 3.1.0.

I have a free account with owndrive and this has been happening to me for a while, I can fix it by uninstalling the app and then reinstalling.

[2018-05-25 20:30] Marcool04 commented on #2437
Hi @brgbrg.
Just thought I'd mention: I had the same issue on a similar generation Android phone, and after a second attempt, I noticed that the Nextcloud app shows a grey bar at the bottom of the screen offering to "Revert to old login method" (or something along those lines, I don't have it in front of me now…). When I tapped this and entered URL and credentials, login succeeded.
So if you haven

[2018-05-26 10:02] Pillaknuff opened #2627 "Destroyed file due to failed opening of .ipf file"
### Actual behaviour
I tried to oben a igor procedure file on my smartphone. Since the format is not supported by any app i then tried to copy it to another folder, change the ending to .txt and then open it (which did not work). I then deleted the copied version. The next day when syncing with a nextcloud desktop client i saw, that the original file was broken, meaning having 0kb of size and bein

[2018-05-26 15:13] levster69 commented on #2377
Has there been any progress on this particular issue? It's been a while since I originally posted this and so far haven't seen any significant feedback or suggestion as to how to remedy it.

[2018-05-26 15:28] msundin commented on #780
Any progress on this? Unfortunately I need to uninstall and stop using the app. Draining my battery very fast. The same with my partners phone.

[2018-05-27 09:38] yolanda93 commented on #2133
Hi,
I am using the Android Nextcloud 3.1.0, Server v11.0.2 and Android 6 and I have exactly the same problem commented here. @mr-bolle, is it a client bug or do I need to update the server? Thanks

[2018-05-27 11:18] mr-bolle commented on #2133
Hi, @yolanda93 since some hours i try to find the reason to reproduce the problem. I would suggest to upgrade the Server. It is recommended to use the latest stable release 13.0.2.

To you use docker for your nextcloud Server or you run this directly on your host server?

[2018-05-27 11:34] Siggi0904 commented on #2133
Please don't let the guys upgrade the server. It should be fixed with older versions too.
Many installation are at older versions like 11 or 12 and these version should be work too.

It is an android app authentication problem, not a server side problem.

[2018-05-27 12:33] mr-bolle commented on #2133
@Siggi0904 please remember that the Server v11 are out of support.  >> [Maintenance and Release Schedule](https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule)

I try different server, on some the authentication works, on some not. (especially with App Token)

[2018-05-27 13:18] AndyScherzinger commented on #2133
Many installation are at older versions like 11 or 12 and these version should be work too.

@Siggi0904 this isn't true, well true in some scenarios what will never work again is anything below 11.0.8 same goes for Nc12 if it is on an old patch level for a simple reason: The Android client uses a new user agent string due to the e2ee feature and will thus be blocked by user agent string on older s

[2018-05-27 15:19] yolanda93 commented on #2133
I have upgrade the server to 12.0.7 and with this version seems to work fine.

[2018-05-27 18:01] AndyScherzinger commented on #2133
Glad to hear that @yolanda93 :heart:

[2018-05-27 18:59] mr-bolle commented on #2133
Hi,

now i try several Server (i use Docker Container - Link to docker-compose into Server Column)
Often i have Problems to login with App-Token [Screenshot](https://user-images.githubusercontent.com/22414212/40588561-8d8bec7e-61df-11e8-8f83-a882b44937a4.jpg)

_**Note**_: Now i found out that the User Name with Password Access is **not** Case sensitive, and Login with the App Token is Case Sensiti

[2018-05-27 19:11] MorrisJobke commented on #2133
🙈 @rullzer @blizzz Could you confirm this?

[2018-05-27 19:13] rullzer commented on #2133
@MorrisJobke it is user_id vs loginname fun. (Which on the main backend are somewhat interconnected).

Anyway as far as I know @tobiasKaminsky has patches that will fetch the user_id on login and use that when required.

[2018-05-27 23:23] c0fe opened #2628 "Add Swipe Support"
I would like to add a suggestion for left swipe support, so if a user swipes left then they are taken back one directory.

[2018-05-28 05:50] tobiasKaminsky commented on #2133
@mr-bolle thank you for testing, so it seems that the approach does not work.

@rullzer afaik we fetch & use user_id only for dav related stuff, so this is independent from login.
Can you open up a new issue, assign it to me, with reproducible stable? <3

[2018-05-28 05:54] tobiasKaminsky commented on #2628
Is this a general android pattern?
Normally swiping left/right is used for switching panes…

[2018-05-28 06:20] tobiasKaminsky commented on #2625
@rullzer on renaming/moving the fileid will keep the same.
So for simple renaming within the folder, it should be "easy".
But what if the file is moved to another folder?
How are you doing this on desktop?

[2018-05-28 06:27] gupta1anubhav opened #2629 "Syntax Errors in SQL"
### Actual behaviour
- There are various syntax errors in FileContentProvider.java  which are affecting the functioning of SQL database.

### Expected behaviour
- These errors should be removed .

### Environment data

Nextcloud app version: latest build version

![screenshot from 2018-05-28 11-33-15](https://user-images.githubusercontent.com/31107831/40600140-e0c0ab12-626d-11e8-80e8-6bc1386d7413.

[2018-05-28 06:34] tobiasKaminsky commented on #2491
Today is targeted for RC1.
As far as I see, we only have left
- [ ] https://github.com/nextcloud/android/pull/2573

[2018-05-28 07:16] BlueCaos opened #2630 "Upload not working correctly"
### Actual behaviour
The App uploads the file / picture / contact to 100%, but then gets stuck with full progress bar. When I check via webinterface the file is there.
After the upload ran into an timeout, i get the message an error occured. But a few seconds later it tries again and would run in the same issue.

Thats an image of the resulting files on my nextcloud (contact backup):
![image](http

[2018-05-28 07:17] tobiasKaminsky commented on #2628
@c0fe I hope you are fine with closing it then.

[2018-05-28 07:17] #2628 closed

[2018-05-28 07:20] tobiasKaminsky commented on #2629
The last time I checked this, it was more due to our way of concatenating the sql queries, but not a real sql syntax problem.
:tada: that you want to fix it.

As this is a crucial part of the app, it would be great, if you can also add test cases for your changes. I am happy to help you with it (or write some, if you have not the time for it).

[2018-05-28 07:39] MorrisJobke commented on #2133
I guess he means "reproducible steps" 😉

[2018-05-28 08:18] tobiasKaminsky commented on #2630
This is indeed strange:
if a file xyz.jpg already exists, a new file "xyz (2).jpg" and then "xyz (3).jpg" is created.
But you have "xyz.jpg", "xyz (2).jpg" and xyz (2) (2).jpg".

Can yo give us some details on your server?
- web server? apache or nginx
- external storage?

[2018-05-28 08:43] BlueCaos commented on #2630
The Webserver is Apache 2.4.25-3 on Raspberry Pi 3+
the storage used is on a cifs mount from my local NAS

[2018-05-28 12:28] jancborchardt commented on #2615
Thanks @AndyScherzinger & @juliushaertl! :) Have nothing more to add

[2018-05-28 13:33] jancborchardt commented on #2598
Yes, as @tobiasKaminsky said it’s a kind of a shortcut for downloading. I think it’s quite useful, only coming in when you need it.

@ardevd if you never noticed that or never needed it, that’s good too, because it’s a progressive enhancement shortcut.

[2018-05-28 20:50] klauf opened #2632 "AutoUpload staying on 'waiting for wifi'"
### Actual behaviour
- AutoUpload queues pics to upload but is not uploading them
- standard manual upload of photos or files works pretty well, also from the app

### Expected behaviour
- Photos in the upload queue should be uploaded

### Steps to reproduce
1. Go in upload menu
2. Photos are in the list 'waiting for wifi', click on one to try again
3. Progress bar is shown for a few seconds then

[2018-05-28 20:53] klauf commented on #2632
Forgot to mention I'm on wifi, and also disabled the option 'sync only on wifi' I prior to trying again and save logs.
issue #2035 seems similar but doesn't help.
many thanks in advance

[2018-05-29 02:43] pbuyle commented on #2609
I've the same issue, running Lineage OS 14.1 and app 3.1.0 (installed from F-Droid). I was able to successfully login after installing the app. But after rebooting the phone, the account was lost and the application restarted from the _server address_ screen. When credentials are provided, no error message is displayed. The expected "Redirecting" message is show for a brief moment before looping b

[2018-05-29 02:49] pbuyle commented on #2609
Looks like #2032

[2018-05-29 02:58] pbuyle commented on #2032
Hi, I tried this build (v3.1.1 Alpha2) after confirming the issue on my phone (Lineage 14.1, Android 7.1.2) with version 3.1.0 (from Google Play). It did not solve the issue.

I did not follow the instructions provided here to edit the accounts_ce.db database. I'll try this later.

[2018-05-29 05:33] tobiasKaminsky commented on #2630
@nextcloud/server-triage can this be somehow related to cifs?
We check if a file already exists and if so, increment (2…5).

[2018-05-29 06:08] rullzer commented on #2630
Does this also happen when you try to upload via the webui?

[2018-05-29 08:19] gupta1anubhav commented on #2629
@tobiasKaminsky I am learning android test implementation so it would be hard for me to write test cases for the changes, if you could help me in doing that would be great.

[2018-05-29 10:04] BlueCaos commented on #2630
no, the webui works fine. This only occures when I try to Upload it with my phone.
It even detects conflicts, if the file exists.

I Uploaded a testfile:

![image](https://user-images.githubusercontent.com/39102356/40652302-3e949ee0-6338-11e8-9ebb-15c6839360ef.png)
![image](https://user-images.githubusercontent.com/39102356/40652393-6dc14c4a-6338-11e8-987c-dbb93cd1b35a.png)

[2018-05-29 12:12] AlexanderKgr commented on #2528
Same bug here
S9 plus

[2018-05-29 12:41] noci2012 opened #2637 "Upload failing - Large file (490MB)"
### Actual behaviour
- The upload completes in the sense that ALL 448 segments of 1MB are uploaded
- Then all files get deleted and the upload is declared failed....

### Expected behaviour
- An upload of the file that completes and is stored (like its smaller bretheren).

### Steps to reproduce
1. On phone make a backup of some tool (Titanium)
2. Synchronize this to nextcloud
3. ....

### Environ

[2018-05-29 13:05] noci2012 commented on #2637
Addendum: PHP allows for 1GB datauploads, (php.ini, pool settings, .user.ini)
data memory limit for PHP = 1GB
Web server = nginx, php = fpm V7.0,  front = haproxy (tcp mode).

[2018-05-29 13:09] tobiasKaminsky commented on #2491
RC1 is released on gplay :tada:

[2018-05-29 13:52] tobiasKaminsky commented on #2637
@nextcloud/server-triage can this be a prbolem due to timeout on chunk assembling?

[2018-05-29 14:42] AndyScherzinger opened #2638 "[3.2.0 RC1] View filter in main menu (photos, favorites, shared) don't work anymore"
### Actual behaviour
- simply click on the filter in the drawer menu, nothing is happening.

[2018-05-29 15:07] gradinaruvasile commented on #2638
Those never worked for me on the Android app (i tried on 3 phones and 4 Android versions).

[2018-05-29 15:29] arnowelzel commented on #2638
Favorites and Shared work for me in 3.1.0 (did not check 3.2.0 yet). Photos really long to load, but I think this is more because of the huge number of photos I have on my server.

[2018-05-29 16:26] OlivierS1 opened #2639 "[3.2.0.RC1] Crashes on start after app update"
### Actual behaviour
- Tell us what happens
Nextcloud no longer works after updating to, I believe, 3.2.0.RC1.
I was using my phone when I received Nextcloud app crash window poping. I noticed it had been updated a few minutes earlier.

### Expected behaviour
- Tell us what should happen
I can no longer run Netcloud app as it crashes on start. I uninstalled the app and installed it a few times wit

[2018-05-29 17:03] AndyScherzinger commented on #2639
@OlivierS1 did you send a crash report?

[2018-05-29 17:11] gradinaruvasile commented on #2638
I understand the photos issue (i have a large library) but favorites i have 5 or so and it doesnt work either. It never worked for me.

[2018-05-29 17:12] AndyScherzinger commented on #2638
Well, that is an issue/bug then :(

[2018-05-29 17:16] OlivierS1 commented on #2639
@AndyScherzinger Are you talking about the the report  from the following dialog:
"Unfortunately, Nextclooud has stopped. Report, OK"?
Or the log gathered from withing  the Nextcloud App itself under the "Settings" menu? For the latter, I would need more guidance to extract the log without the app running.

[2018-05-29 19:11] rullzer commented on #2637
Could be it is hard tot ell.

@noci2012 can you upload large files properly via the web ui?

[2018-05-29 19:41] rullzer commented on #2638
There are in general upgrades coming in this direction (faster photo load) but they will only be possible with NC14 as server support is needed.

[2018-05-29 19:42] rullzer commented on #2638
@AndyScherzinger yes seems like the filters don't do anything. Not even loading....

[2018-05-29 19:42] AndyScherzinger commented on #2639
This one! :+1:

[2018-05-29 19:46] OlivierS1 commented on #2639
@AndyScherzinger Done.

[2018-05-29 20:41] AndyScherzinger opened #2640 "[3.2.0RC1] NPE in ActivitiesActivity.setProgressIndicatorState"
Reported via GPlay console
[code]

Any ideas @ardevd ? :)

[2018-05-29 20:43] AndyScherzinger opened #2641 "[3.2.0RC1] NPE in FileDetailSharingFragment.setupView:157"
Reported via GPlay:
[code]

[2018-05-29 20:49] marvicz opened #2642 "[3.2.0RC1] Back from settings"
### Actual behaviour
- the arrow back in the settings panel dosn't get you back to the App menu

### Expected behaviour
- Tell us what should happen

### Environment data
Android version: 7

Device model: Galaxy S6

Stock or customized system: Stock

Nextcloud Android app version: 3.2.0RC1

Nextcloud server version: 13

[2018-05-29 20:52] AndyScherzinger opened #2643 "[3.2.0RC1] IllegalArgumentException in FilesSyncHelper.scheduleFilesSyncIfNeeded"
Reported via GPlay:
[code]

Happens to a bunch of Samsung/HTC devices, at least for now all Android 4.4 which most not be the only Android version getting hit but until now the only one where we got reports for.

[2018-05-29 20:53] AndyScherzinger commented on #2639
Hi @OlivierS1, my guess by your infos and the reports which hint this is the one I guess you hit this one: #2643

Does the app always crash at the start or only the first time? Only after booting the phone?

[2018-05-29 20:56] AndyScherzinger commented on #2642
Thanks for the report @marvicz - Can you check if the Android back button works?

@tobiasKaminsky this also got reported on the IRC channel. Only guess at the moment is that this might be related to the introduced singleTop launch flag for the share user search. It does work fine on my Android 8.0 device.

[2018-05-29 20:58] marvicz commented on #2642
Yes, the Android button works well.

[2018-05-29 21:08] godfuture opened #2644 "Add possibility to navigate in folder hierarchie"
### Actual behaviour
Navigating in deep folder structures is a bit frustrating, because I keep clicking the "back" (arrow) button. Clickling one of the navigation element in the left swipe menu sends me strictly to the root dir and is not really a help to reach folders in between.

### Expected behaviour
The current folder title is a button. When I click the button, it shows me the folder path / s

[2018-05-29 21:12] AndyScherzinger commented on #2644
Thanks for the report @godfuture

What do you think @mario @tobiasKaminsky @nextcloud/designers / @jancborchardt It would basically be the same thing we already have for the local file list (used for manula upload file selection).

[2018-05-29 21:12] OlivierS1 commented on #2639
@AndyScherzinger It always crashes. I first noticed the issue as I was ready some emails when out of the blue I got the ""Unfortunately, Nextclooud has stopped. Report, OK". I would press the "OK" button and shortly after the app would crash again.
I tried to restart the phone but it did not help. Upon removing the app, I reinstalled it and while starting it, it would crash. I couldn't reach the p

[2018-05-29 21:15] AndyScherzinger commented on #2639
Thanks for the feedback @OlivierS1

strangely

shouldn't then work either since we haven't touched anything related to the file sync 7 auto upload lately.

@tobiasKaminsky @mario any ideas? I guess #2643 is the cause of this

[2018-05-29 21:39] AndyScherzinger opened #2645 "IllegalArgumentException in FileUploader$UploadRequester.retryFailedUploads"
GPlay reported als 3.1.0 (~9000 reports...)
[code]

Crashing line:
[code]
to then do afterwards
[code]

So a simple solution is to have a try/catch for the IllegalArgumentException - we only need to decide if we then "just" use whatever value charging had before or if we explicitely just retry / not retry in case of an exception.

What do you think @mario @tobiasK . devices are mostly Huawei...

[2018-05-29 21:44] godfuture opened #2646 "Automatically switch to grid view for folders that contain only files of type media"
### Actual behaviour
With Nextcloud I started to share quite a lot of my photos. Others upload photos as well. So I start having more and more folders filled with photos. As there are close to non open source webdav based gallery apps out there, the Nextcloud for android gets my primary photo gallery app. But it still has a drawback. I manually have to switch folders to grid view even there are no

[2018-05-29 21:48] AndyScherzinger commented on #2646
Thanks for the report @godfuture

This is in my opinion a bug then since this is actually how the client should behave and has behaved in the past.

@tobiasKaminsky maybe we lost this feature with the move to per-folder view/sorting options while then without an explicitly set view type (by the user) the app should to the detection and choose the right view type. What do you think?

[2018-05-30 04:38] tobiasKaminsky commented on #2638
@AndyScherzinger is correct, it was due to "sinleTop".
There is now a fix in #2647

[2018-05-30 05:16] tobiasKaminsky commented on #2640
Steps to reproduce:

- open up activities
- while loading, immediately press back
- wait until background job finishes loading activity stream
- crash

(if you delay fetching or have many activities this is of course a bit easier to trigger)

If first error is handled via null check, then this happens:
[code]

I think we need a call/notify from ActivitiesActivity (view) to presenter that we do not

[2018-05-30 05:33] tobiasKaminsky commented on #2641
In general it is a good idea to have
"Don't keep activities" (found in developer options) enabled during developing.

[2018-05-30 06:08] tobiasKaminsky commented on #2642
I cannot reproduce this on rc1 with an emulator / android 8:
- open up app
- open settings
- press arrow left
and then I am in file list view of current account.

However on android 6 with a Samsung S5 I can reproduce it.

[2018-05-30 06:38] tobiasKaminsky commented on #2644
I am fine with this, but then we can maybe enhance it a bit and make it looks nicer?

Here is how others are doing it:

Files app:
![2018-05-30-083812](https://user-images.githubusercontent.com/5836855/40703236-d614fa24-63e4-11e8-9189-53c86a85d692.png) ![2018-05-30-083806](https://user-images.githubusercontent.com/5836855/40703237-d639cfe8-63e4-11e8-90ff-b773abf0f73f.png)

Amaze
![2018-05-30-08361

[2018-05-30 07:27] tobiasKaminsky commented on #2643
This is due to https://github.com/evernote/android-job/issues/415.

Fix is in: https://github.com/nextcloud/android/pull/2650

[2018-05-30 07:47] tobiasKaminsky commented on #2645
Before trying to circumvent this, I opened up https://github.com/evernote/android-job/issues/465 to get more insight, why and what is crashing…

[2018-05-30 08:03] tobiasKaminsky commented on #2646
Afaik this is something we never had in it nor discussed this.
What we have is that if you specify a folder as "grid view" then all subfolders are also shown as "grid view" unless you manually override this.

However, this idea is nice and should easily extend the above behaviour:
- if for a folder no layout view is explicitly specified and all files are media files, then switch to grid view.

But

[2018-05-30 08:31] #2638 closed

[2018-05-30 08:32] #2639 closed

[2018-05-30 08:32] #2643 closed

[2018-05-30 08:51] AndyScherzinger commented on #2646
Soudns good to me. @tobiasKaminsky: I always thought that you did implement this back in the oC days but I might have been mistaken.

[2018-05-30 08:52] mario commented on #2646
I'm never sure about this. We already have so much complexity regarding list/grid...do we really want more? xD

[2018-05-30 09:03] AndyScherzinger commented on #2644
sure thing!

[2018-05-30 09:17] tobiasKaminsky commented on #2646
It boils down to this:
https://github.com/nextcloud/android/blob/b7a45a8ce8c6b1cde5acb492946b879641b707c1/src/main/java/com/owncloud/android/db/PreferenceManager.java#L228-L259

I think we have far more complex things in it ;-)

[2018-05-30 09:33] alexara opened #2657 "Disable Google Analytics introduced by Firebase"
Since you have introduced Firebase, you might need to explicitly disable Google Analytics (https://firebase.google.com/docs/analytics/). :-)

The instruction https://firebase.google.com/docs/analytics/android/start/ actually says:

**So how can you disable the Analytics?**

If you have a look at https://firebase.google.com/docs/android/setup#available_libraries it says that the `firebase-core` lib

[2018-05-30 09:33] tobiasKaminsky commented on #2491
@mario @AndyScherzinger after approval & merging all the backports, I would then do RC2.
Or is something missing from your side?

[2018-05-30 09:34] mario commented on #2657
Firebase Analytics was already removed.

[2018-05-30 09:34] #2657 closed

[2018-05-30 09:36] mario commented on #2657
@alexara let me know if you find this not correct, but it really shouldn't be in the APK.

[2018-05-30 09:36] alexara commented on #2657
Where and how? I searched for "firebase" but it not find anything in this repository that shows that it is disabled. Can you point me to the commit?

[2018-05-30 09:38] mario commented on #2657
We removed the firebase-core dependency and I don't think firebase-messaging pulls it in.

The other two things you can add in Manifest are not really needed in case you don't have Firebase Core.

[2018-05-30 09:42] alexara commented on #2657
But why did you add it in the first place? https://github.com/nextcloud/android/commit/c7eed23de90ff3bc4e8f757986a993031b0c85a0

I thought it gets pulled in as inputmice stated here  https://github.com/siacs/Conversations/issues/3041

But it was pulled in as a dependency.

Well, if I find some more time and proof you wrong I will comment on it again ;-)

[2018-05-30 09:44] mario commented on #2657
Because we had a user that wanted to use Analytics for themselves?

[2018-05-30 09:49] alexara commented on #2657
Never mind, I read the comments on the PR. :-)  Sorry for taking your time!

[2018-05-30 09:58] AndyScherzinger commented on #2491
Totally fine by me!

[2018-05-30 09:59] mario commented on #2491
👍

[2018-05-30 10:12] tobiasKaminsky opened #2658 "File Detail View: handle no activities better"
- show details of a file which has no activities

![2018-05-29-140603](https://user-images.githubusercontent.com/5836855/40657793-6f74cde4-6349-11e8-8fd7-92d6631f236f.png)

This can be handled a bit nicer, e.g. with "No activities available".
As this is a minor issue, we can target this for 3.2.1.

[2018-05-30 10:54] AndyScherzinger commented on #2491
@tobiasKaminsky can you also cherry pick the latest translations from transifex please for RC2, that be nice! :heart:

[2018-05-30 11:26] #2658 closed

[2018-05-30 12:58] tobiasKaminsky commented on #2642
Fixed for 3.2 with #2655

[2018-05-30 12:58] tobiasKaminsky commented on #2491
3.2.0 RC2 released :tada:

[2018-05-30 15:52] noci2012 commented on #2637
I could do a 120MB  & 700MB upload by dropping a file into the Download folder in Nextcloud.

The difference i see is:
This upload send data to:
{user}/uploads/web-file-upload-3f010e8c81c9adeafe3fcc89cc2e2087-1527695175439/{random names}
(a 700MB .zip could be uploaded)

The failing upload sends data to:
{user}/cache/{basename}-{partnumber}

[2018-05-30 16:42] OlivierS1 commented on #2639
3.2.0.RC2 fixed the issue.
Thanks.

[2018-05-30 17:10] AndyScherzinger commented on #2639
Glad we got it resolved quickly and thanks for the instant report :)

[2018-05-30 17:27] noci2012 opened #2663 "NextCloud consuming 25% CPU without any visible clue of work being done."
### Actual behaviour
-According to SystemPanel 2 CPU Stats,  Nextcloud is top CPU user with 21-25 %where total CPU use is around 34-50% .

### Expected behaviour
- Not consuming that much CPU?

### Steps to reproduce
1. start NextCloud?
2.
3.

### Environment data
Android version:
6.0.1
Device model:
Samsung s5 mini
Stock or customized system:
Stock, rooted

Nextcloud app version:
Current

Nextclo

[2018-05-30 17:27] noci2012 commented on #2663
shortly after it mentions the failure to upload the 700MB file.
I didn't notice any network activity...

[2018-05-30 18:34] susobaco commented on #2513
Hi, if I use nextcloud dev from f-droid, the application just crashes. Attached register
[currentLog.txt](https://github.com/nextcloud/android/files/2055190/currentLog.txt)

[2018-05-30 21:41] noci2012 commented on #2637
a 124MB files does materialize....

The 700MB files also shows up, but it continuously retried...
So it seems get assembled anyway, the clients only doesn't care anymore it seems.

[2018-05-30 21:53] AndyScherzinger commented on #2642
Closing since the fix is shipping with RC2.
@marvicz please reopen if you still have the issue with 3.2.0RC2

[2018-05-30 21:53] #2642 closed

[2018-05-30 23:47] jancborchardt commented on #2644
Good stuff! The first example of how the files app does it is good! I'd say though the dropdown arrow is not needed there as the function is kind of an expert shortcut.

[2018-05-31 08:04] noci2012 commented on #2637
upload of 700MB seemed to succeed when i added

      fastcgi_read_timeout 300;
      fastcgi_send_timeout 300;

to the fastcgi invocation section for php.

[2018-05-31 16:53] Byggvir commented on #2555
Automatic upload works in 3.2.0 RC2.

[2018-06-01 05:58] tobiasKaminsky commented on #2663
During upload we copy the file from external sd card to internal, if needed.
How long was the high cpu?
If it was only in a short time span, this can be due to upload.

[2018-06-01 06:02] tobiasKaminsky commented on #2637
@rullzer we are doing currently 1mb chunks, can it be that there are just too many chunks and therefore the server runs in timeout?
How big are the chunks during web upload?

[2018-06-01 06:03] tobiasKaminsky commented on #2644
Then it is close to what we have now if you upload a file:
![2018-06-01-080215](https://user-images.githubusercontent.com/5836855/40823823-1f06cb8e-6572-11e8-99bf-41350209c95a.png)

Then I'd say that we stay with it, but invert black/white?

[2018-06-01 06:20] BlueCaos commented on #2630
Allright, so since the Update 3.2.0 RC2 the Upload is working mostly

**BUT**
If I use the option "move to app folder" the Upload itself is working just fine, but after it's completion (it stopps at 100%) the move operation wont trigger st once. so the file is just sitting there until it maybe works or the app runs in an timeout, and i get the error.
the contactbackup is still not working (yesterd

[2018-06-01 09:50] AndyScherzinger commented on #2644
Sounds good to me, the triangle is part of the standard spinner so that'll still be there ;) :+1:

[2018-06-01 10:11] rullzer commented on #2637
@tobiasKaminsky could be a timeout issue. Webupload they are 10MB if I'm not mistaken. But the overhead should not be that huge if you have 42 chunks or 420 chunks.

@noci2012 what kind of hardware are you running on? Particulary slow storage?

[2018-06-01 13:06] cguentherTUChemnitz opened #2667 "android secondary user -- app crashes on startup after account credentials are provided"
### Actual behaviour
- nextcloud android app crashes hardly (app stopped working) during login on server when running with a secondary android user

### Expected behaviour
- the app should login correctly

### Steps to reproduce
1. use android multi-user capability and create a secondary user
https://source.android.com/devices/tech/admin/multi-user
2. login as secondary user
3. install nextcloud a

[2018-06-01 13:58] juliushaertl opened #2668 "App crash when switching to grid view"
### Actual behaviour
- The app crashes
- After the crash i cannot access the folder anymore since it crashes again once opening it

### Expected behaviour
- The app shows the grid view

### Steps to reproduce
1. Go to any folder
2. Try to switch to the grid view

### Environment data
Android version: 7.0

Device model: Moto G5

Stock or customized system: Stock

Nextcloud app version: 3.2.0 RC1

N

[2018-06-01 14:55] qoheniac opened #2670 "Auto upload On device directory"
I would like to sync the On device directory an I guess it works as follows: I activate the Expert mode and then set up Auto upload to sync the Local directory $STORAGEPATH/nextcloud/$USER/ with the root Remote directory. My expectation is that after that every change I make in that directory will be synced with the server while only the files selected in the client are downloaded. I did not try t

[2018-06-01 15:16] AndyScherzinger commented on #2670
Hi @qoheniac,

the short answer is: Don't do this!

the long answer is: if you setup a custom auto upload folder pair, the client will watch that folder for any changes from that point in time onward. If the client then detects a changed or newly created file it'll upload it to the configured folder on the server. $STORAGEPATH/nextcloud/$USER/ in the client's very own storage path and should not b

[2018-06-01 15:27] qoheniac commented on #2670
I sometimes use my phone to work locally on LaTeX documents via Termux while traveling when I have no internet connection to do it over ssh on another device. So what I want to archive is that when I work on a document sometimes on my phone and sometimes on my computer that nextcloud takes care of the document beeing synced.

[2018-06-01 16:44] AndyScherzinger commented on #2670
Ah, understood.

So if these documents are residing in a certain folder on your device (outside of the Nextcloud folder on the device) you can simply use the auto upload for that folder (while changes via other clients won't be synced back to the device!)

If you use multiple devices (your scenario) you can simply mark these files as "available offline" in the Android client then the client will a

[2018-06-01 18:56] qoheniac commented on #2670
Ah, I just checked it and yes the normal "available offline" syncs in both directions. I wasn't aware it works like that. So on a per-file level it does exactly what I want. Offline directories would be a bit more comfortable but this way it also works for me. Thank you for your help! :)

[2018-06-02 00:58] loxK commented on #1350
Have the issue following my S7 upgrade to android 8.0.0 running latest Nextcloud app from playstore. Pre android upgrade I face the issue that only a few photos and no videos were ever uploaded #2019

[2018-06-02 01:31] levster69 commented on #2377
I've updated to 3.2.0 RC2. Now, the auto upload does not initiate, however, when you do force rescan the files get appropriately uploaded.

[2018-06-02 21:35] AndyScherzinger opened #2672 "[3.2.0RC2] NPE in FilesSyncHelper.scheduleFilesSyncIfNeeded"
via GPlay console
[code]

[2018-06-02 21:37] AndyScherzinger opened #2673 "[3.2.0RC2] NPE in FileDisplayActivity$UploadFinishReceiver.onReceive"
via GPlay console
[code]

[2018-06-02 21:38] AndyScherzinger opened #2674 "[3.2.0RC2] NPE in OCFile.getLocalId"
via GPlay console
[code]

[2018-06-02 21:41] AndyScherzinger opened #2675 "IllegalArgumentException in AccountUtils.getAccounts"
via GPlay console, mostly 3.2.0RC2 but also 3.0.0
[code]

What do you think @tobiasKaminsky ? I'd say we should harden it in the way that it'll fallback to the color in the xml file but not crash in any case.

[2018-06-03 15:04] xXSTrikeXx commented on #2196
V.3.2 RC2 seems to fix this, can others approve, that the bug is fixed in this version?

[2018-06-03 18:40] AndyScherzinger commented on #2485
Updated the initial description to show all closed and open/pending PRs that are related to this big picture issue for new sharing/details view.

[2018-06-03 21:58] noci2012 commented on #2637
10K Scsi RAID 1 Array (mdraid).
From SmartCTL:
Vendor:               SEAGATE
Product:              ST3300007LW
~30% of diskcapacity in use..

System is a 4 Core AMD Phenom X4 810 (800Mhz, - 2Ghz on demand) 8GB Mem, ~50% used.
system load 1.5 - 2.5 (latter when a VM there is handling remote backups that are synced to this site, different disks though).
Internet connection 80 Mbps Symmetric (will be

[2018-06-03 22:29] noci2012 commented on #2663
The upload was 700MB, so this copy lasted minutes.... (10+?)   as the upload failed later on (other bug: #2637)  it is retried, retried, .... ad nauseam.

[2018-06-03 23:18] nicobo opened #2677 "Application password / token should not be hidden"
### Actual behaviour
Authenticating via an app password (or 'token', don't know how it's called in english, french translation is not consistent between the server and the app) is complicated because of the length of the generated app passwords : you have to type it with the smartphone's tiny keyboard and it's hidden.

### Expected behaviour
- The app password is very long and complicated to type

[2018-06-03 23:23] nicobo opened #2678 "Display application password / token as QR Code"
### Actual behaviour
Authenticating via an app password (or 'token') is complicated because of the length of the generated app passwords : you have to type it with the smartphone's tiny keyboard.

### Expected behaviour
- When connecting with an app password, allow :
  - from the web interface to display it as a QR code
  - to scan this QR code from the mobile app to fill the field without typing

[2018-06-04 03:22] CinosModnar opened #2679 "Application Crash Upon Loading Large Folder"
### Actual behaviour
When opening a large folder (~1.5GB) on the Android NextCloud application on my phone, the application will load for a couple seconds, then crash. After this, subsequent attempts to access the folder result in an instant force close. This folder has 268 files, all audio files. All other folders work, including folders with more files. Removing a few files from the folder solve

[2018-06-04 07:31] tobiasKaminsky commented on #2667
@AndyScherzinger I know you also have an OnePlus.
Somehow I cannot even start the app as a second user, can you try it please?

[2018-06-04 07:58] samtygier commented on #2595
Moving the app to internal storage seems to help.

Android Settings -> Apps -> Nextcloud -> Move to internal storage

[2018-06-04 08:53] ernolf opened #2681 "Feature request: Will the android app learn to speak http2?"
### Actual behaviour
- After enabling http2 on my server (changed to php7.2-fpm) i noticed that only the android client is not yet able to speak http2

### Expected behaviour
- Like every actual browser and the Nextcloud-iOS/2.20.8 client. They work fine.

### Environment data
Android version: 6.0.1

Device model: SM-G900F (Galaxy S%)

Stock or customized system: stock

Nextcloud app version: Next

[2018-06-04 09:22] tobiasKaminsky commented on #2668
[code]

The last line is crashing when the array has a size of 0.
This only can happen if spanCount = -1, as then "new int[-1 + 1]" is created.

SpanCount is default to -1, but can also set manually, but then an IllegalArgumentException is thrown, if spanCount is <1:
[code]

So the only possible explanation for me is that spanCount is never ever updated, but remains the default value (-1).
This ca

[2018-06-04 09:33] tobiasKaminsky commented on #2670
There is already a feature request for this, but due to time, we did not developed it yet: #269.

[2018-06-04 09:33] #2670 closed

[2018-06-04 09:40] tobiasKaminsky commented on #2672
I had a look at all those three, but could not find a fix :/

[2018-06-04 09:40] tobiasKaminsky commented on #2673
I had a look at all those three, but could not find a fix :/

[2018-06-04 09:40] tobiasKaminsky commented on #2674
I had a look at all those three, but could not find a fix :/

[2018-06-04 09:42] tobiasKaminsky commented on #2672
Here it seems that tag is null, but we provide it (and it is @NonNullable):
https://github.com/nextcloud/android/blob/28818b39e433186f0abfb0de270f91bfd50878f3/src/main/java/com/owncloud/android/utils/FilesSyncHelper.java#L290-L301

[2018-06-04 09:44] tobiasKaminsky commented on #2673
[code]

We can flip this, but I guess that for some reason getFile() is null and then it will still errors when getting remotePath…

[2018-06-04 09:45] tobiasKaminsky commented on #2674
I do not find a way to pass a null ocFile into it :/

[2018-06-04 09:59] tobiasKaminsky commented on #2675
It crashes if context is null.
Instead of fixing a symptom, we should find out why and when context is null.

My guess is that this is some kind of race condition, the message is shown/set too late and then the fragment is already closed.

[2018-06-04 10:38] tobiasKaminsky commented on #2678
Similar to #2677 this is something that needs to be done in server.
We currently supply nc://login/ urls with server address, user and password as parameters, so if you have a qr code that provides this, it can used with our app.

Please open up an issue on server repo.

[2018-06-04 10:38] #2678 closed

[2018-06-04 10:51] tobiasKaminsky commented on #2679
I tried to reproduce it, but even with a folder with 5Gb I do not have any problem as the folder content is only shown.
Or do you download the files?

Can you create us a test account, share the folder to the account and send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-06-04 10:57] tobiasKaminsky commented on #2595
We have introduced this in 3.0:
https://github.com/nextcloud/android/blob/391368947cbfc1195b1decfaaf3658d17d557c14/src/main/AndroidManifest.xml#L78

in our AndroidManifest.
According to androids doc this is even not needed (https://developer.android.com/guide/topics/data/install-location):

However there are some vendors that do not obey this and allow an app to be moved to external storage if thi

[2018-06-04 10:58] #2595 closed

[2018-06-04 10:59] tobiasKaminsky commented on #2681
Currently we use a rather old http client library, so chances are high that this will only work, once we update this.

[2018-06-04 11:03] tobiasKaminsky commented on #2437
@nextcloud/server-triage do you have any ideas/questions to resolve this?

[2018-06-04 11:06] Marcool04 commented on #2437
Perhaps the app could fall back on the "old login method" as soon as the "new" one fails… that would make it seamless for users of older Android versions… Not sure how easy that would be to implement.

[2018-06-04 11:07] tobiasKaminsky commented on #2437
The problem should not be android, as our app is just showing a webpage.
I assume this is some kind of server configuration problem.

[2018-06-04 11:08] Marcool04 commented on #2437
Ah… ok. My Nextcloud server instance is up to date (let me know if you want to go elsewhere to chat about this… IRC?)

[2018-06-04 11:32] AndyScherzinger commented on #2678
@tobiasKaminsky @nicobo Imho this isn't needed at all anymore since we now have the login via the webview, so @nicobo when you login with your password the server will generate a token/app-password and the Android client uses that one. So no need to manually create any app-passwords.

[2018-06-04 13:01] tobiasKaminsky commented on #2437
Can you create us a test account and send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-06-04 13:02] tobiasKaminsky commented on #2595
Yeah, I guess this is the problem, as the "phone storage" is the same like a sdcard, but built-in…

[2018-06-04 13:13] AndreAle94 commented on #2606
What do you think about a separate application that manages the user's account independently? In this way all the applications that want to interact with the server can use this app as a basis. Exactly how GooglePlayServices works with all Google applications.
I think that it should not be included in the application Nextcloud but in a separate apk because of the disk space. For example on a certa

[2018-06-04 13:18] tobiasKaminsky commented on #2606
I would start with having it in Files app. It is only ~8Mb big.
If you only want to have one app installed, then you do not need such "single account" system.
If this then gets popular and there is need for a separate app, we still can do this.
(or put it also in talk; as both are official apps and only official apps should serve as an account provider)

[2018-06-04 13:53] Marcool04 commented on #2437
Ok. Server is at nextcloud dot archraspberrypi dot tk
Username as you indicated.
Password is "issue" and the number of this issue. No spaces nor separator.

[2018-06-04 13:55] tobiasKaminsky commented on #2437
Thank you, @Marcool04

[2018-06-04 14:15] ardevd opened #2684 "utils: Duplicate key in FILE_EXTENSION_TO_MIMETYPE_MAPPING"
In the MimeTypeUtil.java class you have a FILE_EXTENSION_TO_MIMETYPE_MAPPING map. This has a duplicate entry for the "gz" mimetype.

`FILE_EXTENSION_TO_MIMETYPE_MAPPING.put(1"gz", Collections.singletonList("application/x-gzip"));`

`FILE_EXTENSION_TO_MIMETYPE_MAPPING.put("gz", Collections.singletonList("application/x-compressed"));`

It is highly suspicious when a value is saved for a key or index

[2018-06-04 15:38] AndyScherzinger commented on #2675
From what I understood from @ardevd the context can be null sometimes.

[2018-06-04 15:42] AndyScherzinger commented on #2674
Like you said, I'd expect getRemoteId() to be null.

[2018-06-04 16:06] AndyScherzinger commented on #2684
Can't say which one is the right one, would say the first one is more specific. Only important thing would then be the icon detection (hopefully works in both cases).

[2018-06-04 18:53] brgbrg commented on #2437
As I raised the original issue: I volunteer to test with my tiny Android device. (Would need to get the login name)

[2018-06-04 22:21] jancborchardt commented on #2443
Renaming it to »Share settings« would be a bit confusing since it seems like you »Share [the] settings« – but which settings? ;)

We always have to speak the language of what people want to do. And what they want to do is »Share«, not »modify share settings« – so that wording would not be understood.

I’m happy with the wording for now, as @AndyScherzinger said the sharing view is still a work-in-

[2018-06-04 22:24] jancborchardt commented on #2483
Let me know if you have any questions btw! :)

The icons are all available in the server repo at https://github.com/nextcloud/server/tree/master/core/img/actions, with a handy visual guide at https://docs.nextcloud.com/server/14/developer_manual/design/icons.html

[2018-06-04 22:25] jancborchardt commented on #2483
Just one important thing if we use the bottom sheet: As header, we need to use something relevant like the file/foldername (if it’s the actions of a file/folder) or the username (if it’s sharing options for a specific user).

[2018-06-04 22:28] jancborchardt commented on #2469
We did use the rounded rectangle for long – but the new preferred background is the circle, as it fits much better with our logo and general forms.

Hence the Talk app should be adjusted to use circle by default. cc @mario

[2018-06-04 22:30] jancborchardt commented on #1142
Canceling all uploads is not an expert option. For example look at Netflix, where the menu to pause one download also includes the entry to pause/cancel all. We could do it like this.

[2018-06-04 22:30] jancborchardt commented on #2415
Very nice work by the way @AndyScherzinger, much better in day-to-day use. :)

[2018-06-04 22:33] jancborchardt commented on #2644
@tobiasKaminsky yup, exactly. And yes, since the general theme is white, that menu should also be white.

@AndyScherzinger aah damn … well, can’t have everything. :D

[2018-06-05 05:49] tobiasKaminsky commented on #2437
@Marcool04 I can verify this on your sever with Android 4.1, but on the same 4.1 it is working fine with my server (also NC13).

Can you give us some more infos regarding your server?

[2018-06-05 05:53] #2640 closed

[2018-06-05 08:02] AndyScherzinger commented on #2640
@tobiasKaminsky do we want to backport this or put it in 3.2.1?

[2018-06-05 09:29] ernolf commented on #2681
I can confirm that the difference is huge. I did a bulk upload with an iphone (+ 28.000 photos and videos, + 33 GB) before i switched the server to http2: after three days the process got stuck, only 30% was uploaded.
Then i deleted everything, switched to http2 + php-fpm and did the same process again: after 7 hours over night everything was ready.
(It takes days to process the previews though)

[2018-06-05 09:35] AndyScherzinger commented on #2415
Thanks @jancborchardt :heart: Always happy to improve the App from a behavior/UX/interaction/you-name-it point of view :)

[2018-06-05 11:05] AndyScherzinger commented on #2644
Well, for the long run we should change it to something like Amaze File Explorer since the tinting for the spinner triangle now needs to use an internal method of the support library which is something that might be an issue in the future but for the short term we can go with this and then move on to our own solution :)

[2018-06-05 11:08] #2539 closed

[2018-06-05 12:15] c0fe commented on #2415
@AndyScherzinger is there a beta version of this and if so how can I sign for it or do I have to just compile on PC and upload the APK?

[2018-06-05 12:23] Marcool04 commented on #2437
@brgbrg : I'll create an account for you if you'd like, can you give me an email address to send credentials to please?
@tobiasKaminsky  : Here is some more info about the server. It is running on Arch linux ARM on a Raspberry Pi 3B1 (armv7 architecture). Nextcloud instances is interfacing with MariaDB database, reverse proxied over an Apache HTTPD webserver.

[code]

Let me know if you need anyth

[2018-06-05 12:37] AndyScherzinger commented on #2415
@c0fe yes there is.

* For Google Play users: You need to register here https://play.google.com/apps/testing/com.nextcloud.client as a tester and than GPlay will show you the beta version
* For f-droid users: Search for the app in the f-droid client since f-droid does offer the Release Candidates but doesn't actively notify you about them as-in App Update Notifications, see also https://f-droid.or

[2018-06-05 14:39] #2641 closed

[2018-06-05 15:05] AndyScherzinger opened #2687 "NPE Crash after fresh installation due to #2680"
Simply uninstall the client and reinstall it (from master) and it crashes right away:

[code]

Crashing, changes line is:
https://github.com/nextcloud/android/pull/2680/files#diff-587dc61f19cacc80fdba456dee2cfeeaR245

introduced via #2680

[2018-06-05 15:29] AndyScherzinger commented on #2687
cc @tobiasKaminsky - what locally fixed it for me is reverting the introduced change for the AuthenticatorActivity

[2018-06-05 23:17] SuperSandro2000 opened #2688 "Fingerprint unlocking crashing app on startup"
### Actual behaviour
App crashes. Log attached.

### Expected behaviour
 Unlock the app with fingerprint

### Steps to reproduce
1. Activate fingerprint unlocking
2. Close app
3. Reopen app

### Environment data
Android version: 8.0.0

Device model: SM-G950F (Galaxy S7)

Stock or customized system: Renovate Ice ROM (modified stock TouchWiz ROM)

Nextcloud app version: 3.2.0 RC2

Nextcloud server v

[2018-06-06 00:54] pbuyle commented on #2032
After wiping the accounts using adb (as suggested by @amas01), and ensuring the application is installed in the internal memory (and without a SD card configured as internal memory) I was able to log into my instance.
However, when re-formating the SD card as internal memory, re-installing the app (using v3.1.1 Alpha2 provided by @tobiasKaminsky) and rebooting the phone, the issue reapparead.

[2018-06-06 06:52] MightyCreak opened #2691 "Instant Upload not syncing after re-enabling it"
### Actual behaviour
I was in holiday not in my country. I turned off the instant upload on all the folders, just to be sure I would not be surprised using data without knowing. I took some photos. When at our hotel, with wifi, I re-enabled instant upload.

I can see all the new photos listed here, but they haven't been uploaded to the server.

I don't know how to induce the upload of these new ph

[2018-06-06 07:28] MightyCreak commented on #2691
Thanks for the info, I didn't know. Hope to see the new feature soon 😉

[2018-06-06 07:37] AndyScherzinger commented on #2691
:heart: I'd hope so too but right now it is a matter of capacity :disappointed:  So if @tobiasKaminsky doesn't find the time or @mario than I don't think anyone will have the time to work on this before autumn. But if anyone else want to pick this up we are happy to help and assist.

[2018-06-06 10:35] Matei-Ciobotaru opened #2692 "Nextcloud android app sorting files to upload not working"
### Actual behaviour
When trying to upload files by the Nextcloud Android app, the sort function does not work, as in it does not sort anything...

For clarity, I've shared a screen recording with the issue [here](https://nimbus.go.ro/cloud/index.php/s/KgG9JzmQYaBjEZe)

### Expected behaviour
Seeing how the app has a "sort" menu while browsing the phone filesystem, one would expect it to sort file

[2018-06-06 11:06] AndyScherzinger commented on #2692
Hi @Matei-Ciobotaru,
this has been fixed for the upcoming release already, see #2566
You can either wait for the release (likely next week) or use the actual release candidate (register as a tester on GPlay, or manually update on f-droid).

[2018-06-06 11:06] #2692 closed

[2018-06-06 11:11] AndyScherzinger commented on #2688
[code]

[2018-06-06 11:12] AndyScherzinger commented on #2688
Hopefully to be fixed via #1657 which unfortunately won't make it into the next release :(

[2018-06-06 11:56] SuperSandro2000 commented on #2688
Great to hear that! I subscribed to the PR and look when it gets merged in some Alpha/Beta build and test it then again.

[2018-06-06 12:06] AndyScherzinger commented on #2688
Thanks @SuperSandro2000

[2018-06-06 12:48] tobiasKaminsky commented on #2675
If the context for a Fragment is null, then it means that this Fragment is not longer bound to an activity, so it should not do anything.
Especially in the stracktrace above I assuem that this is because of the runnable stuff.
Without having tested it, I would guess that those steps can lead to a crash:
- open up a folder
- have a long running sync task
- navigate back from this fragment
- task ge

[2018-06-06 12:50] tobiasKaminsky commented on #2674
Still this is very strange as we have always a remoteId as this is the internal file id from the server and without this nothing would work…

[2018-06-06 13:11] tobiasKaminsky commented on #2684
According to http://www.iana.org/assignments/media-types/media-types.xhtml:
"gzip" extension is for "application/gzip".

As far as I read there is no ".gz" extension, but only a "tar.gz" extension.
But maybe this is because it is splitted by "." and only the last part is taken.
Then I would take the first one, but remove "x-".

According to https://tools.ietf.org/id/draft-levine-application-gzip-0

[2018-06-06 13:14] AndyScherzinger commented on #2675
Okay, then I'd vote for waiting until things are MVPed and check if the errors still show up.

[2018-06-06 13:31] tobiasKaminsky commented on #1142
I also vote for having pause and cancel directly visible.
Currently we have no pause possibility, but once we have, we should show both directly.

[2018-06-06 13:54] AndyScherzinger commented on #1142
Does anyone have a screenshot of the netflix UI since I have no idea how it looks like? :)

[2018-06-06 13:58] noci2012 commented on #2637
@rullzer, do you need more info?

[2018-06-06 14:10] tobiasKaminsky commented on #2679
I tested it on an emulator with only 256Mb Ram and it was working.
It was also working with my other test devices.

Sorry, that I cannot help you.

Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-06-06 14:13] tobiasKaminsky commented on #2640
We already have a backport for this https://github.com/nextcloud/android/pull/2653, which was merged 2h before creating RC2, so it is already in.

[2018-06-06 14:29] tobiasKaminsky commented on #1142
![screenshot_netflix_20180606-161641](https://user-images.githubusercontent.com/5836855/41044480-a6aa84da-69a6-11e8-81f9-e591163b1f2b.png)

[2018-06-06 14:37] AndyScherzinger commented on #1142
hmmm, so what would then be the menu items? Are the dynamic depending on the list's state?

[2018-06-06 14:43] tobiasKaminsky commented on #2469
I updated it also on play store, so that we have also round icon.
https://play.google.com/store/apps/details?id=com.nextcloud.client

![image](https://user-images.githubusercontent.com/5836855/41045454-c1b097ae-69a8-11e8-9cf6-2de5071ef747.png)

[2018-06-06 14:44] #2469 closed

[2018-06-06 15:11] tobiasKaminsky commented on #2624
@rullzer I remember that we talked about this.
How is this done on server?

[2018-06-06 15:14] tobiasKaminsky commented on #2627
Step 3 is for me not clear: where are you copy the file to?

[2018-06-06 20:41] rullzer commented on #2624
Not possible currently

[2018-06-06 21:42] beankylla commented on #2436
This is the kind of feature that brings users to a platform. Making things quick easy and cool. Effortless. As a user these are some of the things I like. Now I totally get the manpower / priorities issues. But if things loosen up a bit there is no doubt that this will be a huge plus. The thing is the users that would really use this are really likely to be the users NOT commenting here. As we kno

[2018-06-07 04:52] tobiasKaminsky commented on #2032
Thank you for testing @pbuyle.
Unfortunately this is a problem, that we as app developer cannot address.
We already have `android:installLocation="internalOnly"` in our AndroidManifest.xml, which should not be needed as this is the default, but some vendors are doing what they want, if this option is not set.
And for you it seems that "sd-card mounted as internal storage" also causes the trouble.

[2018-06-07 05:16] tobiasKaminsky opened #2693 "Use eTags to test if new thumbnails are needed"
With #2685 we also need eTags as we can have theoretically have multiple thumbnails per fileId.
Currently we are checking the modification date of file during sync, to determinate if we need a new thumbnail.

Similar to avatar generation, we should use eTags also for thumbnails.

This can be done independently from our planned change to glide.

[2018-06-07 05:53] tobiasKaminsky commented on #2624
Is there an issue regarding this on server?
So once this is working on server-side, we can tackle it on clients.
(therefore I'll keep this open)

[2018-06-07 06:12] tobiasKaminsky commented on #2436
I installed the app and tested our current workflow with it and for me it is really quick and easy:

- open up open note
- take image
- share image to nextcloud
- select folder or create a new folder
- upload

![2018-06-07-080958](https://user-images.githubusercontent.com/5836855/41081234-5c56fc40-6a2a-11e8-8bcb-681f80a66ce2.png) ![2018-06-07-080949](https://user-images.githubusercontent.com/58368

[2018-06-07 06:32] rullzer commented on #2624
https://github.com/nextcloud/server/issues/2192

[2018-06-07 07:28] rullzer commented on #2637
Nah those specs look fine.

I'm a bit puzzled as those specs should be able to assemble a 400 mb file pretty easily within 5 minutes...

[2018-06-07 08:35] cguentherTUChemnitz commented on #2667
Sorry, i am very busy at the moment. I will look into it and try to provide the necessary logs. I hope i will get into this at the weekend.

[2018-06-07 08:49] thungsten commented on #2624
Is the evaluation result “not possible“ the answer to the described problem?
If so: May I ask, why it is not possible?

As far as I can see the state “deleted“ is not distributed to other clients (with the same account logged in); I deleted a shared folder in Android and it still was available via the web interface.
So I guess it is not stored on the server side (if it was stored on the server sid

[2018-06-07 08:51] rullzer commented on #2624
That is strange. The Delete send to the server (which I guess is what happens) should propegate to all other clients.

[2018-06-07 08:51] rullzer commented on #2624
If not then that is a bug ;)

[2018-06-07 10:41] noriyuki41 commented on #2667
Same issue with Android work profile.
App works correct in user profile but crashes in work profile during login attempt.
Android 8.0.0

[2018-06-07 12:11] c0fe commented on #2436
@tobiasKaminsky I am not sure what you mean here, but if you are asking as to whether or not I was aware of other scanning applications that can share to Nextcloud, I was aware but that was more cumbersome for me which is why I made the suggestion that I did.

[2018-06-07 12:14] SkyWheel commented on #2567
I cannot reproduce the bug anymore , so I'm closing the issue. Thank yoy

[2018-06-07 12:15] #2567 closed

[2018-06-07 12:40] tobiasKaminsky commented on #2437
@nextcloud/server-triage can you help us here please?
For some reasons we get an html error when accessing new weblogin flow…

[2018-06-07 13:06] pbuyle commented on #2032
This is on a Samsung Galaxy S5 (SM-G900W8, ktle) running Android 7.1.2/Lineage 14.1-20180601-NIGHTLY-ktle.
The Seafile Android application behave the same under the same conditions (redirecting back to an empty account screen after addition of the account). So this is definitively an OS bug, or at least a bad behavior whose workaround isn't obvious/well known.

[2018-06-07 13:57] mario commented on #603
@ClCfe can you file a bug here, preferably with stacktrace?

https://github.com/nextcloud/talk-android

[2018-06-07 20:36] stefan-niedermann opened #2695 "NullPointer when using different AccountType in another Flavor"
### Actual behaviour
- One should be able to choose his account type free and build the app.

### Expected behaviour
- App crashes when manipulating the account type.

### Steps to reproduce
1. Create new flavor
2. Overwrite `account_type` in setup.xml
3. build and run the app -> Crashes with the following error message:

[code]

### Environment data
Android version: 8.1

Device model: emulated

S

[2018-06-07 21:30] AndyScherzinger commented on #2695
Hi @stefan-niedermann I am pretty sure you just ran into the context bug to be fixed via  #2689 which will also happen for any flavor if you either have a fresh installation or try to add another account. So this will be fixed soon :)

[2018-06-08 05:26] stefan-niedermann commented on #2695
Yes, indeed :)

Should i close this issue then in favor of #2687 or should it stay open?

[2018-06-08 05:59] AndyScherzinger commented on #2695
No need to close it. It'll auto close as soon as the PR got merged :)

[2018-06-08 07:00] tobiasKaminsky commented on #2498
@Insoleet
Can you provide us additional infos via logcat to verify if this is the same bug? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-06-08 07:10] tobiasKaminsky commented on #2667
[code]

As far as I read, this permission would require that the app is signed via the android system, which is not true if it is installed via gplay/other store.

Anyway, thank you @noriyuki41 for providing the root problem :+1:

[2018-06-08 08:36] AndyScherzinger commented on #2667
@tobiasKaminsky so how would/could this be fixed? Or is this not possible?

[2018-06-08 09:59] daita commented on #1757
@tobiasKaminsky some changes in the formating of the JSON of the results:

[code]

[2018-06-08 10:02] tobiasKaminsky commented on #2667
I found nothing valid. Only other devs who are also out of clue as there are some apps where it is working, but some not.

I tried it on my onePlus3, with LineageOS and installed current App via fdroid on both user "Tobi" and "test".
It worked for me without a problem and I can access & download the files.

[2018-06-08 10:04] daita commented on #1757
@tobiasKaminsky some changes in the JSON of the result:

this is the _old_ format:
[code]

This is the **NEW** format:

[code]

[2018-06-08 12:50] tobiasKaminsky commented on #2667
Good question, but maybe it is more related to fdroid and the priviliged right extension, with which I am installing the apps.

AFAIK @AndyScherzinger has a OnePlus3T with Lineage and Google stuff, maybe he can test.

[2018-06-08 15:03] mario commented on #1757
@daita was the change in format exposed in any way by say capabilities or something?

[2018-06-08 20:30] astucieux commented on #2407
I can match-up with this bug as well. I have built a new Nextcloud 13.0.2 LAMP setup with only port 443 and SMTP open to the WAN. All desktops+laptops are working okay using the ownCloud client. The WebGUI is great......
However, the Nextcloud 3.1.0 Android app is operational for (upload/downloads/shares/activities) and other stuff. The exception being that the main menu "PHOTOS" or "FAVOURITES" o

[2018-06-08 21:26] ZJaume opened #2697 "Panic button support"
### Actual behaviour
Nextcloud app does not appear on the list of apps responding to Ripple panic button

### Expected behaviour
Nextcloud app appearing on the list and having the option to configure behaviour. The options could be:

- Hide the app
- Logout from nextcloud
- Erase all offline stored data on the device.

### Resources
https://guardianproject.info/2016/01/12/panickit-making-your-whol

[2018-06-09 08:51] Bubbelb commented on #2528
Got a dirty workaround. Flushing cache and Dalvik cache via TWRP starts the upload again. After a reboot, all the missing files are uploaded correctly.
Newly created files aren't uploading again, until I flush cache & Dalvik cache again.
Flushing application cache doesn't help.

[2018-06-09 11:44] #2687 closed

[2018-06-09 11:44] #2695 closed

[2018-06-10 07:33] equinoxefr commented on #2674
Hi guys,

I think i have the same issue with 3.1 and 3.2RC2 versions. When i launch android client, after a few seconds the app crash.

`
06-10 09:19:34.898  6789  7637 D OwnCloudClient #7: REQUEST PROPFIND /remote.php/webdav/

06-10 09:19:34.990  6789  7637 I ReadRemoteFolderOperation: Synchronized /: Operation finished with HTTP status code 207 (success)

06-10 09:19:34.990  6789  7637 D Refresh

[2018-06-10 07:42] AndyFx12 commented on #1730
Any news about this problem? Server 13.03 and App 3.2.0 rc2; 35000 files - issue exists....