[2016-06-12 15:36] AndyScherzinger opened #7 "Development Guide discussion"
Hi everybody,

I just created a wiki page for a short development guide which should help new contributors to understand how develop and release new versions of the app.

https://github.com/nextcloud/android/wiki/Development-Guide

It is just a draft. I thought it is easier if we have some stuff written down to kick off the discussion. For now I focused on versioning and the code review process.

[2016-06-12 16:43] AndyScherzinger opened #10 "Add f-droid releases"
Just as the title says add f-droid to the app stores we release the app to.

@tobiasKaminsky I just assigned the issue to you since you know your way around f-droid's mechanisms on how to get apps into their app store.

[2016-06-13 05:43] tobiasKaminsky commented on #10
So I can release 1.0.0?

[2016-06-13 07:01] AndyScherzinger commented on #10
Yes, I already made a release/tag https://github.com/nextcloud/android/releases
And it has been published to the Google Play store yesterday: https://play.google.com/store/apps/details?id=com.nextcloud.client

[2016-06-13 07:49] tobiasKaminsky commented on #10
currently in review process:
beta: https://gitlab.com/fdroid/fdroiddata/merge_requests/1461
normal: https://gitlab.com/fdroid/fdroiddata/merge_requests/1464

[2016-06-13 07:52] AndyScherzinger commented on #10
Nice! :tada:

[2016-06-13 12:45] JSoko opened #11 "German playstore description"
### Actual behaviour
The german description in the playstore at the moment is:
"Die Nextcloud Android App können Sie alle Ihre Dateien auf Ihrem Nextcloud zugreifen."

### Expected behaviour
sholud be:
Die Nextcloud Android App. Mit ihr können Sie auf alle Ihre Dateien in Ihrer Nextcloud zugreifen.

### Steps to reproduce
 Search for the nextcloud app in german playstore

### Environment data
Andr

[2016-06-13 13:35] AndyScherzinger commented on #11
@JSoko Thanks for reporting this. @jospoortvliet I guess this one is for you, since the Play Store listing only has English texts configured, I guess Google's Play store is auto-translating at least some stuff. I guess we should also put store texts into the upcoming translation repos.

[2016-06-13 14:04] jancborchardt commented on #7
Just a detail thing, I would prefer if we don’t use the Github wiki at all and have all the necessary files in the repository. Then when you clone it you have everything offline etc, and people don’t need to know that we use the wiki (cause we don’t use it otherwise).

[2016-06-13 14:15] AndyScherzinger commented on #7
Hmm, that seems wrong to me :wink: I already highly dislike the fact that the user documentation is linked with the code repo since general documentation and code shouldn't be mixed imho. So, yes it doesn't have to be the GH wiki but I would not like it to be within the code repo either.

[2016-06-13 14:29] AndyScherzinger commented on #7
The reason I dislike it is the fact that I WILL HAVE TO checkout/clone the documentation with every branch again and again and again and obviously don't care about documentation at all since this is nothing that changes between all the branches...

[2016-06-13 17:05] AndyScherzinger opened #12 "Move magic numbers in layout files to @dims"
### Actual behaviour
-many magic numbers in layout like 4dp, see review comments in #5

### Expected behaviour
-move magic numbers like 4dp (widely used) to the dims.xml file as a constant

[2016-06-13 18:03] tobiasKaminsky commented on #7
As this guide will change only in the beginning I am fine with a file.
But then we should discuss it here.

Some open questions I have:
- how often do we release a stable version? Fixed time slot? After x PRs merged?
- how are PRs chosen?

This should be added to make clear that every idea should be discussed prior to implementing it.

Developing roadmap:
- create issue with feature request, discu

[2016-06-13 18:37] AndyScherzinger commented on #7
Sounds good to me, so let's finish up an initial version in the wiki and then put it in the Repo

[2016-06-13 18:57] tobiasKaminsky commented on #7
Next question: who should merge? Anyone or the pr opener as he/she can verify it a last time?

[2016-06-13 19:06] AndyScherzinger commented on #7
Good point, with two thumbs up we should be fine with anybody merging.

[2016-06-13 19:15] tobiasKaminsky opened #14 "Same code style for AndroidStudio"
As proposed in ownCloud we should identify how to use (and enforce) the same style guide.
And then, after merging most of the old PR, we should refactor every class :)

[2016-06-13 19:24] AndyScherzinger commented on #14
Oh yes! :tada:

[2016-06-13 19:25] tobiasKaminsky commented on #7
Next question: which labels? Same as ownCloud?
How do we distinguish proposed issues and "verified" issues?

[2016-06-13 19:33] AndyScherzinger commented on #7
I would suggest just having a label for approved issues: "approved"

[2016-06-13 19:34] tobiasKaminsky commented on #10
Beta is merged and should be available this or the next night.

[2016-06-13 19:46] AndyScherzinger commented on #7
I would say we keep it flexible for now and decide on a case-by-case / release-by-release basis. Right now I consider, you, @tobiasKaminsky and myself being the core developers. So it is probably the three of us that usually merge stuff to master and create tags/releases for the different channels.  I would for now keep it flexible since doing releases depends on our availability which might be fl

[2016-06-13 19:47] AndyScherzinger commented on #10
Sweet! :tada:

[2016-06-13 20:00] AndyScherzinger commented on #7
@tobiasKaminsky @schiessle proposed "1 to develop" as one of the general set of labels. This one could also serve as an "approved" label. What do you think?

[2016-06-13 20:02] tobiasKaminsky commented on #7
"approved" should be an independent label to not confuse us ;)

[2016-06-13 20:16] AndyScherzinger commented on #7
What do you think about the guidelines on when changes should go into each release channel and the steps to prepare for stable releases?

[2016-06-13 20:37] tobiasKaminsky commented on #7
I do not fully understand the difference between "stable beta" and "beta". In beta every PR that is "ready to test" will be included by me.
And I thought the same is for "stable beta", but with the public beta test by google play store?

[2016-06-13 20:39] tobiasKaminsky commented on #11
I have translated the description to german.
Please check if this is fine for you?
cc @jancborchardt

[2016-06-13 20:43] bes1002t commented on #7
we have a documentation repo I thought, why do we not place the android documentation there as well?

Maybe we should use "alpha" and "beta" instead of "beta" and "stable beta"

[2016-06-13 20:44] tobiasKaminsky commented on #7
alpha is more unstable than beta, at least for me.
But I understand that "stable beta" and "beta" have the same code quality...?

[2016-06-13 21:07] AndyScherzinger commented on #7
Not imho. The stable beta is stuff we put on master but haven't released yet. That is what we then public in Google Play store as beta, if that survives for around two weeks without incidents we can release it as stable. Things we put on the master would imho be tested thoroughly already while things we put in the beta in F Droid wouldn't necessarily be.
The beta and stable in the Play store are t

[2016-06-13 21:08] AndyScherzinger commented on #7
So yes it is something like leading edge and bleeding edge

[2016-06-14 06:10] JSoko commented on #11
Looks good now! :-)

[2016-06-14 06:36] skymania commented on #7
Fancy seeing you all here :D mostly glad :+1:

[2016-06-14 06:49] mabkenar opened #15 "Two character password in Google Play screenshot"
### Actual behaviour
- In Google Play, the first screenshot of Nextcloud client shows a user 'hans' with a password of only two characters, as represented by '••'.

### Expected behaviour
- Nextcloud should never encourage users to set short passwords for their accounts, even implicitly. I suggest the example password in the screenshot to be at least 10 characters, like '••••••••••' or longer.

##

[2016-06-14 07:16] schiessle opened #16 "small setup screen improvement"
I just installed the Nextcloud app, great work from everybody!

When I start the app for the first time it ask for the usual stuff like URL, username and password. Below the input fields there is a "Do you know Nextcloud?" link (don't know the exact wording because I installed it on a German environment). This points to Nextcloud.com/news. Wouldn't it be better to link to Nextcloud.com/about? Migh

[2016-06-14 07:24] LukasReschke commented on #11
Thanks for the feedback! 🚀

[2016-06-14 07:24] #11 closed

[2016-06-14 07:39] AndyScherzinger commented on #15
Thanks for reporting this and yes we do not want to encourage user to use such short passwords. New screenshots has been uploaded, waiting for the caches to refresh. See also https://github.com/nextcloud/screenshots/pull/7

[2016-06-14 07:39] #15 closed

[2016-06-14 07:53] AndyScherzinger commented on #11
@LukasReschke IMHO this means we should also add the play store listing text to transifex to make sure we don't hit the same auto translated texts in the Play store :)

[2016-06-14 08:02] AndyScherzinger commented on #16
I am fine either way :) We could also just link to nextcloud.com or any other page you would like us to :)

@jospoortvliet what do you think from a communication/marketing/pr/whatever point of view?

[2016-06-14 08:19] AndyScherzinger commented on #7
Just mostely @skymania ? Should I send you a team invite? :)

[2016-06-14 08:29] AndyScherzinger commented on #7
@tobiasKaminsky I'll try to redefine my three terms :)

* stable = Play store and f-droid releases for the masses
* continuous release candidate = tested PRs, merged to to master between stable releases, published on the Play store beta channel
* beta = your awesome beta application that can be installed in parallel and contains PRs that are done in development but not necessarily to be considered

[2016-06-14 10:16] skymania commented on #7
@AndyScherzinger ok very glad ;) no need, already in :)

[2016-06-14 14:06] AndyScherzinger opened #17 "IndexOutOfBounds (reason unknown) via Play Store Console"
**App Version 1.0.0**

**Android version**
    Android 6.01
**Device**
    Xperia Z5 Compact (E5823) 1

[code]

[2016-06-14 14:57] AndyScherzinger opened #18 "NullPointerException in UploadFinishReceiver (reason unknown) via Play Store Console"
**App Version 1.0.0**

**Android version**
    Android 5.01

**Device**
    ZenFone 2 (ZE551ML) (Z00A)

[code]

[2016-06-14 16:01] ThomasSteinbach opened #19 "Allow 2-way-sync"
[enhancement]

When 'syncronizing' a folder in the nextCloud app, actually changes from the remote server become propagated on the mobile device. However changes on the mobile device aren't uploaded back to the remote server.

How the nextCloud app should behave:

- files added to a synchronized folder should be scanned/recognized
- changes to files (create, update, delete) of a synchronized folde

[2016-06-14 16:03] ThomasSteinbach opened #20 "Store files on SD card"
Currently all files synchronized by the app become stored on the internaml device memory. However it should be able to store files to the SD card instead.

A typically use case would be synchronizing a music library, which could exceed the internal storage by far and is ideally stored on a modern SD card.

PR: #92

[2016-06-14 16:12] ThomasSteinbach opened #21 "Allow arbitrary folders to be synchronized"
[enhancement]

Currently the nextCloud app will create a one to one folder representation of the remote server when synchronizing a directory. However it would be really helpful on a mobile device to map a device directory to a remote server directory.

A use case would be syncronizing a workspace directory of an app on the mobile device with a dedicated directory path on the remote server. For in

[2016-06-14 16:15] AndyScherzinger commented on #19
@przybylski @tobiasKaminsky can you take a look at this issue? I thought we already this (or have a branch for this) and also I thought we do this for files (but maybe not for folders yet).

[2016-06-14 16:19] AndyScherzinger commented on #20
Joint venture of @przybylski and @tobiasKaminsky

Work in Progress https://github.com/nextcloud/android/tree/externalSD2

Already available in the beta client (soon to be found on f-droid).

[2016-06-14 16:34] AndyScherzinger commented on #21
Afaik also a work in progress, by @tobiasKaminsky
Branch can be found here: https://github.com/nextcloud/android/tree/extendInstantUpload

It probably isn't a 100% fit to your description but this is what we try to achieve on the branch:

This can fix the problem of not using the correct NEW_PHOTO Action and it can also help to "backup" important folders (like WhatsApp Images).

So this issue is p

[2016-06-14 16:37] AndyScherzinger opened #22 "Slight design optimizations for the login screen"
As per discussion with @nextcloud/designers / @jancborchardt

- remove the card view (white hovering thingy)
- color of input fields to be white
- "Do you know Nextcloud?" to white, but semi-transparent at 50% which means #7fc0e3 (since we don't have transparency, or at least I couldn't find it for text, just backgrounds)

Development will be done on: https://github.com/nextcloud/android/tree/logi

[2016-06-14 18:10] krt16s opened #23 "GPLv2 vs Apache2 license"
This app is GPLv2 licensed but uses Apache2 style dependencies like Google's Android support libraries.  This might be problematic, e.g. see https://www.apache.org/licenses/GPL-compatibility.html . So iirc switching to GPLv2+ ( adding the "version 2 and later"option) or GPLv3 solves this, but I am not a lawyer...

[2016-06-14 18:21] tobiasKaminsky commented on #11
@AndyScherzinger I have changed this directly in the developer console.

[2016-06-14 19:23] tobiasKaminsky commented on #19
As far as I know there is no real 2 way sync yet.
I started to implement that any folder can be instant uploaded to server, but that is still an enhanced one way sync...

[2016-06-14 19:24] tobiasKaminsky commented on #20
@ThomasSteinbach this is something I personally want to have as soon as possible working 100%.
Meanwhile you can test it in the beta version on fdroid and report your experience.

[2016-06-14 20:23] GIJack commented on #10
awesome. I use owncloud app on F-Droid now. Its also great for people with custom roms that don't use google play. Especially good for secure installs that can't have google play.

[2016-06-14 20:44] AndyScherzinger commented on #23
I am no lawyer either and not an OSS license specialist, so @fkarlitschek or @jancborchardt or @LukasReschke can you answer this?

[2016-06-14 20:45] LukasReschke commented on #23
Summoning @schiessle as well on this. Go GNU/Björn 😉

[2016-06-14 21:34] GIJack opened #24 "Add contacts and calendar support to mobile"
The problem: I need three diffrent apps to sync all my data

owncloud, CalDav Sync Adapter and DAVDroid.

DAVdroid has the problem is you need two accounts, one for calendar, the other for contacts. It also chokes on my calendar.(a little large). It also needs a long not-obvious string that is mentioned nowhere in documentation except third party sites.

So, I would like calender and contact suppo

[2016-06-14 23:02] MorrisJobke commented on #22
Sounds great. Just for reference: this is how it looks nowadays: https://github.com/nextcloud/screenshots/blob/75f2376e9d1a413dde74f324e42c4372b9d81aab/android/phone/login.png

[2016-06-14 23:08] AndyScherzinger commented on #22
I know... I did that :P

[2016-06-14 23:37] ThomasSteinbach commented on #20
@tobiasKaminsky I am sorry to say that but currently I am short in time to experiment with. But I'll be the first using this feature when there's a stable version on the playstore.

[2016-06-14 23:44] ThomasSteinbach commented on #21
Would there be a persistent relationship between the 'instantly uploaded folder' on the mobile device and the target directory on the nextCloud server? Meaning that if I instatly upload the folder again, the app just consider the files that have changed since the last upload.

[2016-06-15 07:06] AndyScherzinger commented on #24
Thanks for the request @GIJack

CalDAV and also CardDAV are definitely on our radar and has been requested by several people, see also https://help.nextcloud.com/t/desktop-mobile-apps/129/15

Concept wise to be discussed though is how this feature(s) should work in the context of the app's multi account capabilities, so the question is then to which account should this be synced, should it be poss

[2016-06-15 07:17] AndyScherzinger opened #25 "Instant upload for the not-currently active account"
copied from the forum https://help.nextcloud.com/t/android-app-one-app-instance-for-each-account/605
As far as I understand the request the issue is that instant upload only works for the currently active account:

Looping in @jancborchardt for UX aspects and @przybylski and @tobiasKaminsky for general discussion/approval of the feature request

[2016-06-15 08:24] skymania commented on #22
A 16dp left and right padding and we have a winner ;)

[2016-06-15 08:43] AndyScherzinger commented on #22
Hmm, strange, will have to check that because I thought I did set a 16dp padding... 0_o
But yes, if this isn't the case the 16dp are going to be set :)

[2016-06-15 09:06] xenithorb commented on #10
Hi, please do this. I have become accustomed to using ownCloud's app through F-droid, so it would be nice to also see nextcloud here as well. That way we can truly phase-out ownCloud.

[2016-06-15 09:11] AndyScherzinger commented on #10
Hi @xenithorb as described above we are already in the making :rocket: So it shouldn't take too long for Nextcloud to pop up in f-droid.

[2016-06-15 09:13] xenithorb commented on #10
Excellent, you guys rock. Per the news about the new release I'm already reading the manual to move my server over! Thanks!

[2016-06-15 09:41] AndyScherzinger commented on #7
We now have the following labels, @ all - anything missing from your point of view?
1. to develop
2. developing
3. to review
4. to release
approved
beta
bug
design
enhancement
help wanted
hig
low
medium
need info
start issue

[2016-06-15 09:52] AndyScherzinger commented on #7
How do we want to progress here?

Just an idea

1. I update the guidelines according to the discussions we had so far and ping this thread here
2. Anyone willing and interested can do a review, we can discuss necessary changes and misunderstanding and update the guide lines
3. After we came to terms for an initial version 1.0 I will convert it to an md file and put it into the repo

It would then

[2016-06-15 10:40] MorrisJobke commented on #22
I just want to post it for reference for other people that maybe read this ;)

[2016-06-15 12:49] jasonbayton opened #26 "Move vs Copy are both disruptive - can it work like other apps?"
### Actual behaviour
When uploading, the options provided are to either move the file from it's location to the NC directory or make a copy of it.

For the former and especially in the case of photos traditionally kept in DCIM this leads to fragmentation of files in other places on the filesystem (and therefore harder to manage)

For the latter, copying doubles storage usage per file, with many ph

[2016-06-15 13:01] AndyScherzinger commented on #26
Don't be so negative @jasonbayton :wink:

As per my understanding the feature is is the extension of the instant upload as already been/being implemented by @tobiasKaminsky on the respective feature branch https://github.com/nextcloud/android/tree/extendInstantUpload

@tobiasKaminsky pleases correct me if I am wrong.

[2016-06-15 13:10] blackcrack opened #27 "F-Droid"
### Actual behaviour
-Tell us what happens
google apps only
### Expected behaviour
-Tell us what should happen
 should be also in F-Droid Markedplace

### Steps to reproduce
- no steps

### Environment data
Android version:
all ;)
Device model:
all ;)

(but the "muster/sample "  it's really good on the issue list :+1:  :)

best regards
Blacky

[2016-06-15 13:19] AndyScherzinger commented on #27
Hi @blackcrack thanks for reporting, this is already in the making, please see #10 thus closing this issue as duplicate

cheers
Andy

[2016-06-15 13:19] #27 closed

[2016-06-15 13:29] blackcrack commented on #27
eh ja, sorry, have this see in f-droit by this minute !
sorry for reporting as issue :\ *bG*
holy crap, do you be fast *bg*

best regards
Blacky

[2016-06-15 13:34] AndyScherzinger commented on #27
Joah, kein Stress :grin:

[2016-06-15 13:47] blackcrack commented on #27
hihi :) (man könnte ja meinen du bist ne AI \*bg\* wegen der Geschwindigkeit ..)
because f-droid, i have think me also something :)

best regards
Blacky

[2016-06-15 13:50] AndyScherzinger commented on #27
hehehe. I am not. Would be awesome since the AI would then also extend the apps functionality :D

[2016-06-15 14:07] AndyScherzinger commented on #10
@tobiasKaminsky the beta is now online, the stable is still missing. Not sure if there is still some issue though

[2016-06-15 14:11] blackcrack commented on #27
hihihi a buddy programming in "M" (MUMPS) and he have programming a AI in Puppy with M ..
so, it's also possible hehehe.. so.. well... humm.. a ai, self learning and user-supporting thing.. oh well, would be a suggestion .. and maybe in M .. or in # because the Reactos-webconnectivity.. if we thinking this further .. so.. just for fun .. a personally Bot with AI with a Girlvoice who be a "partner/

[2016-06-15 15:06] c0fe opened #28 "Bug: Freezes up on Uploading"
Server: OwnCloud 9.0.2
App: NextCloud
Server Host: HostGator

At random the files would not be uploading, or some do upload while the status shows 0% uploading.

This occurs on a Google Nexus 6P with all updates installed.

[2016-06-15 16:03] tobiasKaminsky commented on #10
Official app is still in progress...
I hope that it will be merged today.

[2016-06-15 16:41] bes1002t commented on #25
mh I don't know whether this is an good idea or not. In my opinion we should implement an account management system in our android application. That would be much cleaner than creating a new instance for every account.

[2016-06-15 16:56] tobiasKaminsky commented on #25
Multiple instances of the app are not possible.
I remember that there is a PR in ownCloud that, at least, shows to which account the instant upload is set.
Technical background: the instant upload is not always to the current accout, but to the account which was in use when the instant upload is defined.

So my proposal is to make the account to which instant upload is bound to easier to choose.
@

[2016-06-15 16:57] tobiasKaminsky commented on #25
https://github.com/owncloud/android/pull/1637
@LukeOwncloud maybe you want to help us here? I promise that your PR will be handled much faster :+1:

[2016-06-15 17:00] tobiasKaminsky commented on #26
@AndyScherzinger as far as I understand this is when uploading from within the app and therefore is independent of instant upload.

@jasonbayton what about a third option "just upload"? Then the file will stay on original position and will not be duplicated?

[2016-06-15 17:01] tobiasKaminsky commented on #28
Unfortunately this is too unspecific to fix this problem.
Can you try to find the reason? Similar file type? Slow internet? Wlan? Mobile?

[2016-06-15 17:07] jasonbayton commented on #26
Instant upload has the same options, though they're set once in settings rather than per upload.

I'd say "just upload" is how the other apps do it, so absolutely yes please!

[2016-06-15 17:07] tobiasKaminsky commented on #21
I am not sure if the android permission system allows this.
Imagine we take whatsapp folder to synchronise 2-way to server/whatsapp. If we delete files on the server this means that the files are also deleted in whatsapp folder by our app.

[2016-06-15 17:17] tobiasKaminsky commented on #26
@jancborchardt any idea how to add a third option?
- move file
- copy file
- just upload

![screenshot_20160615-191444](https://cloud.githubusercontent.com/assets/5836855/16089968/cbc9389e-332d-11e6-8d4e-721a62a392dc.png)

[2016-06-15 17:25] tobiasKaminsky opened #29 "add "sort by name descending" (Z-A) option"
https://github.com/owncloud/android/issues/1656

@jancborchardt I know we have discussed this back in the days I have implemented it, but it seems as it is demanded by some...

[2016-06-15 17:59] jasonbayton commented on #26
Wouldn't a just upload option render the copy obsolete? I don't see the use case as it feels more like a workaround than solution (where solution is just upload).

The move could then be considered "upload and delete from source" insomuch as I guess clearing down data in the app will also remove the moved copy (speculating, I don't know if that happens)

[2016-06-15 18:38] jgrete commented on #25
Hello,

I'm the OP from help.nextcloud.com.
I've learned multiple instances of an app are not possible. OK, an account managment would do also.
The following are just my thoughts:
- the active account should be visible all the time (maybe next to "Nextcloud" ?)
- choosing the active account is misplaced in the settings and would be better placed in the left
  menu at toplevel as a dropdown, so cha

[2016-06-15 19:23] tobiasKaminsky commented on #10
Aaaaaaaaaaand official client is merged.
Should be available tomorrow or the day after.

[2016-06-15 19:23] #10 closed

[2016-06-15 20:44] b1ggjoe opened #30 "Nextcloud Sync"
Team,

Following up on my post here:

https://help.nextcloud.com/t/learning-from-other-open-source-projects-like-syncthing/600?u=joe

Would it be a good idea to consider forking off this project, in order to create the ultimate 'Nextcloud Sync' app for Windoze, Apple OS, Linux as well as iOS and Android mobile?

Here's the project: https://syncthing.net/

Think of it, there's a whole community fol

[2016-06-15 21:45] c0fe commented on #28
Wireless, as I said Google Nexus phone. No wireless interference. And fast internet with 100mbps down and 12 mbps up. Doesn't matter file type. Can be XML or can be jpg

[2016-06-16 11:04] Bubu opened #31 "Removing file crashes app."
nextcloud fdroid beta, version 20160613
Trying to remove a file which is not synced locally produces the following result:

(Also I wanted to send the bug report generated by the app, but it doesn't provide an email address to send it to.)

[code]

[2016-06-16 14:10] testman86 opened #32 "Upload Nextcloud app to F-Droid not just the beta version"
Even if it's written in the description that the official Nextcloud Android app is on F-Droid, at the moment just the beta is available there. Would be nice to have it also on F-Droid and not just google play store.

[2016-06-16 14:14] LukasReschke commented on #32
That is in the process already :)

[2016-06-16 14:14] #32 closed

[2016-06-16 14:21] testman86 commented on #32
good to hear :-)

[2016-06-16 14:34] affanse commented on #24
Please add "notes" too. I'm a big note taker, if theres a possibilty it will be great.. Thanks..

[2016-06-16 17:50] jancborchardt commented on #29
Isn’t the real fix here to use the real EXIF date taken of the picture? Because if we just add that view, the files still have the wrong date. Photos should, when not edited, retain the »modified date« of when they were taken, not when they were uploaded.

[2016-06-16 17:51] jancborchardt commented on #26
But isn’t »just upload« the same as »copy file«? Seems just like a wording difference. That’s how it has been since the beginning, till we introduced the »move file« option.

[2016-06-16 18:04] jasonbayton commented on #26
No, because copy creates a duplicate on storage, turning 512mb of photos into a gig.

Dropbox, box, one drive, Gphotos don't cause this and they »just upload«

[2016-06-17 07:27] LukeOwncloud commented on #25
If I understant correctly, this should be handled by https://github.com/owncloud/android/pull/1637. @tobiasKaminsky Sorry, I cannot contribute in these days.

[2016-06-17 08:25] jancborchardt commented on #25
menu at toplevel as a dropdown, so changing an account is easier

@jgrete there is already a pull request for that and it will be in shortly I assume. :) cc @AndyScherzinger

[2016-06-17 08:27] jancborchardt commented on #26
Soo, what does »just upload« mean? It uploads it to the server but doesn’t copy it to the nextcloud data folder on Android? That’s actually what I assumed »copy« does. We shouldn’t introduce a third setting because that will just increase the confusion.

[2016-06-17 08:51] jasonbayton commented on #26
Yep! That's the functionality needed, then ideally the two options could be:

* Upload
* Upload & Delete

Rather than copy/move.

[2016-06-17 09:05] rhoeden commented on #31
Same issue here:

[code]

[2016-06-17 13:37] tobiasKaminsky commented on #32
And we are in!

[2016-06-17 13:41] tobiasKaminsky commented on #31
Thanks for reporting, I will have a look!

This is intentionally: the user should choose what he wants to do with the crash report.

[2016-06-17 13:46] tobiasKaminsky commented on #30
After a quick look the sync process seems to be completely independent from "our" system.
So this will not work...
Maybe we can get inspired by some ideas. Maybe you can help us here if you have insight on their app and can tell us what works better?

[2016-06-17 13:47] tobiasKaminsky commented on #28
hmm...IPv4 or 6?
Can you try it with "official" demo server of owncloud: demo.owncloud.org?

[2016-06-17 13:48] Bubu commented on #31
Thanks!

I've encountered similar behavior with OSMand and when I chose my email app as a target for the send bug-report intent it prefills an email address. So I can just review the report and hit send. Seemed easier than posting it to github from the phone :-).

[2016-06-17 13:49] tobiasKaminsky commented on #24
@affanse is there already an existing app? Please open for it a new issue.
Maybe we can co-op with the dev of this app.

[2016-06-17 13:50] tobiasKaminsky commented on #25
This seems a very easy PR, so adding it to next milestone.

[2016-06-17 13:52] tobiasKaminsky commented on #31
Maybe for the contributor :) But not for us maintainer as we then have to make a guess out of the crash dump what happened and create an issue.
But you are right that there should also be an email address. I will have a look what we can do.

[2016-06-17 13:56] c0fe commented on #28
Both, IPv4 and IPv6 I have used various wireless networks.

Is the login credentials, user: test password: test ?

[2016-06-17 13:57] tobiasKaminsky commented on #26
As I wrote this back in the old days...
For example we have a picture vacation.jpg in dcim:
Move: JPG is now in nextcloud folder *only*, still accessible in gallery with new path, accessible within nextcloud app
copy: duplicate file, directly accessible within nextcloud app
"just upload": new option: jpg remains in dcim, **not accessible within an nextcloud app -> if you want to open the image you

[2016-06-17 14:15] jasonbayton commented on #26
If you've uploaded it, why would you need to reopen it from the NC client? It'll already be available in the gallery for sharing elsewhere and a cached thumbnail should be enough to see the file is backed up.

There is definitely fragmentation as you're then managing photos both in DCIM and nextcloud if accessing via USB or looking for the photo to upload elsewhere via the files application.

Copy

[2016-06-17 14:16] tobiasKaminsky commented on #28
yes

[2016-06-17 14:19] tobiasKaminsky commented on #31
Fixed.
Will be tomorrow on fdroid or now in settings -> download latest beta version

[2016-06-17 14:20] tobiasKaminsky commented on #31
@Bubu please confirm and then close it.

[2016-06-17 14:21] c0fe commented on #28
Attempted, frozen up on the 9th photo that was being uploaded.

I tried reuploading the total of 14 photos a second time and it all went through fine.

[2016-06-17 16:02] tobiasKaminsky commented on #25
@LukeOwncloud the mentioned PR is only in your repository.
Can you push it to this repository.
Then I can have a look, update it and so on.

[2016-06-18 02:58] c0fe commented on #28
I believe I have solved the bug. What occurs is this. I didn't notice this because my previous phone was a Samsung Galaxy S3. But anyways, the files will upload apparently with no issue as long as the application is still visible in the recent pages section. On Google Nexus 6P there is a tab where it shows all the recent applications visited which also apparently means they are running in memory a

[2016-06-18 03:04] c0fe opened #33 "Feature Request: Add Wifi Only Options"
I like the ability to set a particular folder in which I would like Nextcloud to upload photos to, rather than trying to upload to all new folders it detects. But I would also like an option where it will only automatically upload the photos when the phone is in wireless network and doesn't use the data phone network.

Additionally to this I would like to request a feature in which you can have th

[2016-06-18 04:37] supportreq opened #34 "Search feature for the Android App"
Adding a search option at the top of the file list..

Ref : https://github.com/owncloud/android/issues/695

[2016-06-19 04:06] b1ggjoe commented on #30
Hello Tobias,

Sure, I would love to help in any way that I can. I'm not a coder nor do I
know the first thing about development...but I'd like to learn some day.
Yes, in the mean time...it's very interesting with 'Syncthing'.

At first, the concept of 'Syncthing' seems like competition to services
like Nextcloud, ownCloud, DropBox and etc. It did start out this way
actually, sort of.

When the li

[2016-06-19 04:34] b1ggjoe commented on #30
OBTW,

Although this is *slightly* dated, this is one of the best videos that I have ever seen on Syncthing. It's an excellent overview on Syncthing and the overall user experience:

[https://www.youtube.com/watch?v=ycVM5pdH3xg](url)

BJ.

[2016-06-19 10:42] tfl commented on #20
Would like to see this too - it always eats up my internal memory and I do not sync my mp3 library but only images.

[2016-06-19 10:48] mar1u5 commented on #34
cc @tobiasKaminsky @jancborchardt (because you participated in https://github.com/owncloud/android/issues/695)

[2016-06-19 16:33] tobiasKaminsky commented on #20
@tfl can you try the beta and report if it works?

[2016-06-19 18:01] tfl commented on #20
The last version I can get from f-droid is from June, 17. Does this version fit? And do I have to remove version 1.0.0?

[2016-06-19 18:04] tfl commented on #20
Sorry, I tried it anyway... But the install process failed with an unknown error. So... I can't test the beta at this point.

[2016-06-19 18:07] tfl commented on #20
Now, while trying to get a screenshot of the error the installation worked!

[2016-06-19 18:35] tfl commented on #20
Ok. Seems to work. The beta allowed me two different storage paths. I know what path on my G3 Motorola points to the external storage. I selected it and all the images I downloded afterwards went to the external sd card. Good. One suggestion: let the user select from "internal storage"  or "external storage". I know what a storage path is. I suspect others won't.

[2016-06-19 19:30] tobiasKaminsky commented on #20
@przybylski FYI

[2016-06-19 20:59] jasonbayton opened #38 "Fixed layout on Chromebook"
### Actual behaviour
- The app utilises a "portrait" view on the app installed on an Asus Chromebook Flip, leaving the rest of the window blank.
### Expected behaviour
- The app should make use of all available space
### Environment data

Android version:
6.0
Device model:
Asus Chromebook flip (Android framework runs within a container)
Stock or customized system:
... both?
Nextcloud app version:

[2016-06-19 21:13] AndyScherzinger commented on #38
@jasonbayton that is done on purpose since the landscape mode uses a split view, e.g. for mp3, video, etc. so will have the file lsit on the left and the files content on the right.

[2016-06-19 21:19] jasonbayton commented on #38
@AndyScherzinger it feels super cramped when exploring the folder contents, particularly when the grid layout is selected. It just seems like a lot of space dedicated to less
important information.

![screenshot 2016-06-19 at 22 17 27](https://cloud.githubusercontent.com/assets/3178412/16179883/bc9a1352-366b-11e6-89ff-9ca01b58c1b3.png)

![screenshot 2016-06-19 at 22 18 59](https://cloud.githubuser

[2016-06-19 21:21] AndyScherzinger commented on #24
DAVDroid can be found here https://github.com/bitfireAT/davdroid

[2016-06-19 21:34] AndyScherzinger commented on #38
Any comment @jancborchardt? UX is rather your area of expertise :)
This would somewhat get better to some extend when we are done / ready to bring filtering/search to the app.

[2016-06-19 21:58] Spacefish commented on #33
Actually this is how it behaves currently. Just go to Preference and enable "Instant photo upload" aswell as "only upload via wifi".

[2016-06-19 22:12] Spacefish commented on #30
Syncthing is some sort of p2p folder synchronisation script written in Go with a Web Frontend. They have some sort of "central" server which handles meta information and allows client discovery. The concept is different from Nextcloud.
P2P synchronisation would make sense imho, if you have your mobile connected to the same LAN on which a Nextcloud PC client resides. If someone in the network alrea

[2016-06-19 22:19] jasonbayton commented on #26
I've just opened the app this evening and noticed the options in camera upload have changed:

![screenshot 2016-06-19 at 23 18 57](https://cloud.githubusercontent.com/assets/3178412/16180146/430ff048-3674-11e6-85fb-4062fec91386.png)

This looks spot on!

[2016-06-20 08:09] elpraga opened #39 "Question: Nextcloud or ownclou beta?"
I can recognize some names, so would like to ask.

Is this nextcloud app still compatible with owncloud? Will it remain so?

What is the relationship between the apps? (meaning if you're going to continue to cooperate on both or are the apps going to diverge eventually..)

I was really fond of your work and I got used to using many features from the beta app (with the stable one serving as a back

[2016-06-20 08:24] elpraga opened #40 "Beta 20160617: nextcloud beta app changelog points to Owncloud beta changelog"
And thus is not updated.

[2016-06-20 09:24] Bubu opened #41 "Crash on sharing to app"
Version: `20160617` from fdroid
When sending a file from the file manager to nextcloud I get the following error:

[code]

[2016-06-20 09:25] Bubu commented on #31
Fixed in latest beta.

[2016-06-20 09:25] #31 closed

[2016-06-20 09:36] AndyScherzinger commented on #40
Thanks for reporting this @elpraga

@tobiasKaminsky any idea where to look for the in our code base?

[2016-06-20 09:43] AndyScherzinger commented on #39
The Nextcloud beta is compatible with ownCloud as of now. For how long it will stay compatible is hard to tell since this depends on the server side, so if Interfaces change or new features are added that won't work for ownCloud we will loose the compatibility. So for now both clients work, at some point in time my guess would be that the clients will be linked to the corresponding platform.

The

[2016-06-20 11:03] jasonbayton opened #42 "Feature request: watched folders"
I have several folders on my device that hold images; screenshots, whatsapp, DCIM, downloads, etc

With Google Photos I can select local directories outside of DCIM to watch and backup, can this functionality be added to the NC client also? We currently have autobackup for DCIM, but adding others to that list (and their respective locations on NC server) would be great.

[2016-06-20 14:35] blackcrack commented on #42
+1 and would be well, if can select folders and connect with folders on the Cloud,
like the DCIM folder, connect with Photos or Photos-Work/ Photos-Private on the NextCloud
and hold this every sync if the Android connect via [X] WLan  [x]GX or other

the same with Documents (Documents-work/Documents-Private),
Music and so on, if i move some songs up into Nextcloud to be it then later synced on my

[2016-06-20 18:51] tobiasKaminsky commented on #40
Will be in next beta!
Please verify and close then.

[2016-06-20 19:18] tobiasKaminsky commented on #41
@AndyScherzinger can you have a look here?

[2016-06-20 19:21] tobiasKaminsky commented on #26
There was no change recently...

[2016-06-20 19:32] jasonbayton commented on #26
No you're right, I just realised I have an old version of the owncloud app on my phone where I last saw the copy vs move and confused myself.

So the instant upload area was fixed at some point, but the standard uploads remain to be changed.

[2016-06-20 19:36] tobiasKaminsky commented on #29
Hmm, not really as this is an example, I guess.
What if you want to open the oldest file. You still have to scroll down the entire list.

[2016-06-20 19:37] tobiasKaminsky commented on #39
As I have not so much free time to spend for open source projects I have decided to help nextcloud and not maintain the owncloud beta app any longer.

[2016-06-20 19:39] tobiasKaminsky commented on #42
There is already a branch where I have started developing this.
It basically extends instant upload to any folder on the device and "links" this to a folder on the server.
So, stay tuned, this will come sooner or later

[2016-06-20 19:42] tobiasKaminsky commented on #26
So...What is the conclusion?
- just upload
- upload & move to nextcloud folder? / upload & delete? / move / ...?

@AndyScherzinger @jancborchardt

[2016-06-20 19:43] tobiasKaminsky commented on #28
I doubt that we can do something on this.
But I will investigate further.

[2016-06-20 19:51] tobiasKaminsky commented on #30
@Spacefish the idea with lan sync is something that is a great idea and should be opened as a new issue on /core.

Regarding the syncthing, as I said before I do not think that we can implement this.

[2016-06-20 19:51] #30 closed

[2016-06-20 19:55] tobiasKaminsky commented on #34
Can someone summarize what the conclusion is?

[2016-06-20 20:14] jasonbayton commented on #26
Presumably upload & move would be the same as upload & delete right? Ultimately if you removed the app everything you moved would be in a NC folder that could easily be cleared out without much thought anyway. I just can't fathom any reason why move would be necessary.

I'd vote for the options being "upload" and "upload & delete original"

Where upload leaves the data where it sits and upload & d

[2016-06-20 20:36] jasonbayton commented on #42
Amazing, I'll jump on it as soon as it lands on beta!

[2016-06-20 21:15] AndyScherzinger commented on #41
see https://github.com/nextcloud/android/commit/e43f9db36bd43b5e63b6c87e6705d7e0702ccc33
should be fixed in beta (tested on my device) and is also fixed on the feature branch.

Just FYI @tobiasKaminsky  for some reason account switching seems to be broken on the beta branch but works perfectly fine on the feature branch 0_o

[2016-06-20 22:25] AndyScherzinger commented on #41
Also happened for the internal upload view, see stack trace which only happened in the beta not on the feature branch https://github.com/nextcloud/android/commit/6afb5b6a01539b26c60b12b542c7d90dc4256866 This introduced the need of some more tests but I pushed the fix for now so it is present.

[code]

[2016-06-20 22:27] AndyScherzinger commented on #41
...so we might need yet another beta release in the near future :disappointed:

[2016-06-21 11:59] jancborchardt commented on #29
But that’s exactly what you do when you want to open an old file – scroll down the list. You don’t switch the sorting just for that.

Instead, that’s what the scrollbar dragger in the Contacts app is made for – do you know what I mean? Can we have that in our Android app as well?

[2016-06-21 12:08] c0fe commented on #28
I am curious if it be setup to operate like automatic backup does, at least I haven't noticed NextCloud app window when auto upload is enabled.

[2016-06-21 13:20] sjurtf opened #45 "App version 1.0.1 incompatible with 9.0.50"
### Actual behaviour
Android app v. 1.0.1
Server v 9.0.50
After the Android app got autoupdated on my phone the server view just tries to refresh but won't update.
Server works fine with OC desktop app on Mac OS X Maverics and NC web-app works fine.
Tried removing the profile in the app and add it back. When NC app tries to conenct to the server the app responds with "Unknown error occurred!" Test

[2016-06-21 19:00] tobiasKaminsky commented on #45
I know this is not a good answer, but I have tested it with an emulator and my own device and it works fine.
Soon we will have an official demo-server that can be used to test.

[2016-06-21 19:04] tobiasKaminsky commented on #29
You do not see me working with dolphin ;)
But the second part is the clue to this issue I guess: we need a fast scroll handler for the list.

[2016-06-21 19:12] tobiasKaminsky commented on #41
So I release a beta :+1:

[2016-06-21 19:13] tobiasKaminsky commented on #41
@Bubu please try it tomorrow and close if it works

[2016-06-21 19:22] tobiasKaminsky commented on #26
The problem with your idea is that if you upload it and keep the original file on the source directory you have to remember that you have uploaded it before you delete it.
But as this only affect the manual upload of a file I would be fine with this approach.
@jancborchardt @AndyScherzinger @przybylski

[2016-06-21 19:27] AndyScherzinger commented on #29
Yay for the fast scroll :)

[2016-06-21 19:28] tobiasKaminsky commented on #28
What do you mean? Normally this should be a background task that is started by the app.
There is no need to see an window when uploading, though you see an upload notification.

Do you have any task manager/battery optimizer/whatever running? Or maybe your phone has something build in...?

[2016-06-21 19:36] tobiasKaminsky opened #47 "Fast scroll list view"
Enable a handler that allows fast scrolling to easily scroll to the bottom, e.g. when navigate to the oldest file.

Bug:
- [ ] fast scroll vanishes after switching to subfolder

[2016-06-21 19:40] tobiasKaminsky commented on #29
Then I have created a new issue: #47 and therefore close this one.

[2016-06-21 19:40] #29 closed

[2016-06-21 19:47] tobiasKaminsky commented on #7
After an internal discussion with @AndyScherzinger we suggest to handle new PRs in this way:
(of course this is just a discussion base and is not fixed)
- every new PR where the developing is finished will be merged into f-droid beta by me
- release cycle
 - for each release we choose several PRs that will be included in the next release
 - these will be merged into master, tested heavily, maybe a

[2016-06-21 20:12] tobiasKaminsky commented on #25
To get a 1.1.0 a little quicker we postpone this to 1.2.0

[2016-06-21 20:14] tobiasKaminsky commented on #7
@LukasReschke regarding play store beta

[2016-06-21 21:00] sjurtf commented on #45
Ok. I've been getting a new error now as well: "The server took to long to respond". Some of the times the unknown error appears, and others I get the message above.

This new error message adds an entry in the nginx error logfile. I'll look more into that.
2016/06/21 22:57:52 [alert] 27920#0: worker process 11663 exited on signal 11

[2016-06-21 21:07] AndyScherzinger commented on #45
Hmmm, not sure about nginx, the only change which might but should not have an impact is the new soft cookie handling introduced in Nextcloud, so pinging @LukasReschke

[2016-06-21 21:09] AndyScherzinger commented on #39
So closing since the answer is: beta-wise we will only support Nextcloud

[2016-06-21 21:09] #39 closed

[2016-06-21 21:11] sjurtf commented on #45
Seems like there is a problem that causes nginx to segfault.
It might be related to this: https://trac.nginx.org/nginx/ticket/235.

I added: ssl_session_cache shared:SSL:50m; to http.conf and it I can now successfully connect with the server again. Don't know what in the new version of the app that are causing it though.

[2016-06-21 21:11] AndyScherzinger commented on #34
Especially with regards to filtering Vs. search and also if this is supposed to work within a folder (filtering) or throughout the complete file tree (rather a search)

[2016-06-21 21:15] AndyScherzinger commented on #45
My guess would be: https://github.com/nextcloud/android/commit/0e4243c9961821724581f2622c310fd2078773cd

[2016-06-21 21:23] #45 closed

[2016-06-21 21:41] przybylski opened #50 "What's new screen"
@AndyScherzinger @tobiasKaminsky @jancborchardt
Do we want it? Should introduce that PR here ?

[2016-06-21 22:03] AndyScherzinger commented on #50
:smiley: I would appreciate a screen like that, the question is do we want an "Introduction screen" or a "What's new"?

I would vote for a intro screen which only gets shown the very first time and never again, not even for updates. What's new would be nice too but would lead to extra work for every feature release since the core team developing new this right now is just the three of us I would a

[2016-06-21 22:06] przybylski commented on #50
Well, the code is ready and should work just fine it. Last time I tested it, it was working on first run and on update.
https://github.com/owncloud/android/pull/1375
Now with other beta version scheme it will be easier to add this to beta release as well.

[2016-06-21 22:07] AndyScherzinger commented on #50
Version theme?
We still have 2 themes one for the play store with proper versioning scheme and the f-droid beta which uses the release date. So it would work for the Play Store beta programm

[2016-06-21 22:10] przybylski commented on #50
version number scheme: https://github.com/nextcloud/android/wiki/Development-Guide#version-name-and-number

[2016-06-21 22:14] przybylski commented on #20
Accessing such information is highly restricted in android, in android 6 and later its even more limited. I need to research on how to do it.

[2016-06-21 22:17] AndyScherzinger commented on #50
...for stabe and release candidate (as in play sore beta), else for the Tobias' beta: https://github.com/nextcloud/android/wiki/Development-Guide#development-beta-release

[2016-06-21 22:19] przybylski commented on #50
damn, sorry for confusion.

[2016-06-21 22:21] jasonbayton commented on #26
That's no different to other apps, which I think users as a demographic are familiar with. Thumbnails or filenames in the NC app will quickly show what is and isn't uploaded.

[2016-06-21 22:24] AndyScherzinger commented on #50
No worries :)
Our Goal is to not need the hardcore beta anymore but to merge fast, test, feature freeze, release to Play beta programm for 2 week, release it as stable

[2016-06-22 04:08] supportreq commented on #34
@AndyScherzinger but for the time being we can atleast have the filter part..

[2016-06-22 06:54] AndyScherzinger commented on #34
@supportreq yes absolutely, not sure but I think @tobiasKaminsky might have started such an implementation a while ago. :)

[2016-06-22 08:52] mabkenar opened #53 "Link to a list of Nextcloud providers on the setup screen"
I bet many new users are unfamiliar to the concept of ownCloud/Nextcloud requiring URL/user/pass and not just user/pass.

To improve usability, I suggest that we put a link next to the server address box in the setup screen, saying: "Looking for a server? Get it here." And we link it to "https://owncloud.org/providers/" or the equivalent Nextcloud page when it is ready.

Apart from making it usabl

[2016-06-22 08:56] mabkenar commented on #53
This is very much related to #16

[2016-06-22 09:13] mabkenar commented on #19
The current situation is this: If you change a file in the phone, you have to open the Nextcloud app, go to the directory where the updated file resides, and drag down with your finger to force a refresh in that directory. Only then your changed file is uploaded to the server and appear on your other devices.

[2016-06-22 09:19] AndyScherzinger commented on #53
@mabkenar Thanks you for your input! :smiley:

@jospoortvliet and @jancborchardt would this be something you would like to be added? Personally I would vote against it to keep the login screen as minimal as possible but would implement it if you guys decide to have it in there.

[2016-06-22 09:31] mabkenar commented on #53
I made a mockup:
https://iffcloud.fz-juelich.de/index.php/s/Rv51TxWrjPwHT4O

[2016-06-22 09:39] AndyScherzinger commented on #19
@mabkenar Does this also happen, when you mark the file as a favorite?

[2016-06-22 09:58] AndyScherzinger commented on #19
@tobiasKaminsky is this a bug or a works as designed and needs an improvement?

[2016-06-22 11:56] fictitiousexistence opened #54 "Server based theming capabilities"
Will the nextcloud app eventually be able to visually look like the mobile web browser version? This way it can be themed just like our own installs are. Or Will its always have it's own design and look?

[2016-06-22 13:24] AndyScherzinger commented on #54
It will imho always have the same design and look which aligns with the Nextcloud theme in general but might differ here and there due to platform specific guidelines. Any theme changes on the server won't be reflected in the client as in the Android app, or a desktop client since it is a complete independent implementation and it is also a native one so no mobile web views.

Sorry for not having

[2016-06-22 14:54] jospoortvliet commented on #16
Yeah, that does make sense. Or even just to our front page...

[2016-06-22 16:14] mar1u5 commented on #54
Would be a nice idea taking colors etc. from the new theming app from the instance which is currently active in the app 🎨 https://github.com/nextcloud/server/pull/59 😉

cc @nextcloud/designers

[2016-06-22 16:17] mar1u5 commented on #16
Front page would make sense most I think 😉

[2016-06-22 16:38] AndyScherzinger commented on #54
@mar1u5 you rather need to include @nextcloud/android since this need some research if and how to do this besides the fact that is is way harder in the client think  multi user / server account switching scenario...

I am sure it is possible I am just not sure it is worth the effort right now since you need to implement the theming, you need an API to retrieve theming information, need to store an

[2016-06-22 17:15] AndyScherzinger commented on #16
Done, see #55 - need two maintainer :+1: to get merged :)

[2016-06-22 19:26] tobiasKaminsky commented on #53
For me nextcloud is all about *my* data on *my* server.
So adding links to providers that can host the server for me is exactly the opposite and would look more like advertisement for me and maybe scares new user?

[2016-06-22 19:31] tobiasKaminsky commented on #50
I think it is a good idea to show the biggest changes (if any) on every new release.
Mostly it is just a short text and an image, so it is not that much time and hopefully the PR author supports us.

[2016-06-22 19:31] tobiasKaminsky commented on #50
Otherwise e.g. multiselect is not immediately known to users

[2016-06-22 19:34] tobiasKaminsky commented on #34
Filter should be doable in a short time.
@jancborchardt is this ok for you?
Searching would then be after the search api is in /core?

[2016-06-22 19:35] tobiasKaminsky commented on #19
@mabkenar do you have enabled sync in android -> settings -> accounts -> nextcloud?
Only then the sync is working, AFAIR

[2016-06-22 20:44] tobiasKaminsky opened #56 "Automated testing"
To improve the quality of our app we should introduce automated testing.
@przybylski you said on IRC that you have experience with this?
What can you recommend?
ownCloud started with appium

[2016-06-23 07:43] ghost opened #57 "Synchronizing big folder problem / Download fails due to Doze"
### Actual behaviour

While synchronizing 34GB of PDFs split in varying sizes
When android locks the screen, some time later a synchronization error occurs
### Expected behaviour

synchronization of all files
### Steps to reproduce
1. use Nextcloud app to Synchronize folder
2. wait till android locks itself
3. sometime later the error will occur
### Environment data

Android version: 6.0.1

Device

[2016-06-23 09:06] #16 closed

[2016-06-23 10:22] jancborchardt commented on #23
Any info on this @schiessle @karlitschek? If this is a problem, then it’s an issue with the original code too and the relicense to GPLv2 from the previous GPLv2+ might have been not proper.

[2016-06-23 10:44] thorian93 commented on #28
Could it be an issue on how the app handles the upload?
Is it just one mechanism that manages automatic uploads and manual uploads?
Because @c0fe eliminated the server component as the problem because both his and the owncloud demo server won't work properly. Connectivity seems not the problem either because his wireless connections seems fine.

I recall having basically the same issue with an own

[2016-06-23 11:24] jancborchardt commented on #34
Yeah, just like in the web interface, it should be filtering the current view first. Search results from subfolders and other places can be shown later once we have it in core.

cc @LukasReschke regarding search API.

[2016-06-23 11:25] jancborchardt commented on #50
»What’s new« is only necessary on really big changes as you already said. A generic »changelog« screen is annoying and people generally don’t care as long as everything works. ;)

Didn’t we have a nice intro slideshow at some point, or was that only iOS?

[2016-06-23 11:29] jancborchardt commented on #53
I think this is a good point and we should make it easier to sign up to Nextcloud providers directly from the apps. It’s something @karlitschek @jospoortvliet and I talked a bunch about in the past.
It is very important that we cater to normal people as well, not only folks who can host their own server.

In the first iteration, we could make the »New to Nextcloud« text at the bottom slide up and

[2016-06-23 11:49] AndyScherzinger commented on #53
I have to say I am with @tobiasKaminsky on this, to me it feels like advertising but I get it with regards to user adoption even though I am not sure if the app is the entry point or the web and then people install die app afterwards, but yes it helps with conversions.
GMail also does this everytime you create an account it gives you a list of providers (Google, Yahoo, Outlook Mail, Exchange, own

[2016-06-23 11:52] AndyScherzinger commented on #50
@jancborchardt The what's new screen is actually implemented as a Intro slideshow :dancer:

[2016-06-23 12:10] jancborchardt commented on #53
Especially now that the app is non-paid, it will for sure become an entry-point even more. So we need to make it behave like one.

Why though? There is the option »own server«. And the rest just makes it much easier for the »normal« majority of people.

It’s close to impossible, but we should still try. We do the same with federated sharing, and not attempting would be foolish.

That’s the crucial

[2016-06-23 12:27] AndyScherzinger commented on #53
true, but like my other issue with dropbox etc. they all offer accounts for a service while in order to have it working the same way you would need to have a list of providers who do the same thing --> offer accounts to an existing Nextcloud instance but not the ordering of your own Nextcloud instance.
The later would mean
* open a browser
* order a Nextcloud instance (which might cost money, migh

[2016-06-23 12:37] przybylski commented on #50
In that case on the weekend I will import that PR here

[2016-06-23 13:07] mabkenar commented on #53
The idea of explicitly listing providers in the setup screen and also in-app account registration are both great. But those are not the main point of the issue that I first opened. My point is about a serious bug in the overall UX of Nextcloud.

People naturally expect this app to behave just like Dropbox/OneDrive etc. and I'm afraid they become very confused when they see the empty text field for

[2016-06-23 13:32] LukasReschke opened #59 "Remove mail_feedback"
There is the mail_feedback thingy implemented which goes to apps@nextcloud.com, this mail address is not routed at the moment.

I'd advise that we maybe link them to our bug tracker or a new category in our forum instead. Any thoughts?

cc @nextcloud/android

[2016-06-23 13:49] AndyScherzinger commented on #59
I would then probably go for the forum.

ATM it is named feedback so the forum seems to be more appropriate, barrier in comparison to mail though is the fact that you need to register (same would apply for GH) while you don't for mail.

[2016-06-23 14:17] LukasReschke commented on #59
Yeah. Though we support all kind of social logins… Twitter, Facebook, GitHub, Google etc. on our forums :-)

So let's change it to the https://help.nextcloud.com/c/feature then ?

[2016-06-23 14:36] AndyScherzinger commented on #59
Works for me, so yes let do that :)

[2016-06-23 14:38] AndyScherzinger commented on #41
@Bubu is this issue fixed for you with the latest beta release?

[2016-06-23 14:42] jancborchardt commented on #53
@AndyScherzinger oh there would of course need to be an API for this to streamline it. If we seriously want to add providers, then only those who offer this easy integrated signup will be considered for inclusion in the app listing.

The clear value is to get more people using Nextcloud who would otherwise not do it or have difficulties doing so. It’s easing the onboarding process. Those who want

[2016-06-23 14:50] Bubu commented on #41
Just tested it and it's fixed for me, thanks :-).

[2016-06-23 14:50] #41 closed

[2016-06-23 15:34] mabkenar commented on #53
I disagree. That link is too little too late. There need to be specific hint about the server, or generally about "how to make a Nexcloud account". Otherwise, I believe the first-time user gets lost. The "New to Nextcloud" link at the very bottom can still be reserved for general information about the project, the company, ways to contribute, etc.

Look, if I want to make my friend switch to own/N

[2016-06-23 15:47] AndyScherzinger commented on #41
Glad we could fix it for you (and others of course)! :)

[2016-06-23 16:06] AndyScherzinger commented on #53
Well there is another option which might help with your task @mabkenar and is slightly different, helping you to not having to describe everything but also making it easy for a user to get setup and running.

Idea:
What we can implement as what I would call namespaced URLs (as in app-"hyperlinks"). So we could popssibly create our own links with the necessary information, see http://www.techrepubl

[2016-06-23 16:08] c0fe commented on #28
@thorian93 @tobiasKaminsky https://www.dropbox.com/s/pu5ncyxmncc9pud/Screenshot_20160623-110622.png?dl=0

This is the screenshot of my phone's recent tab. You can see Chrome and Nextcloud App in it. If I swipe left, the tab would be closed. What this does with the app itself I am not sure, if it shuts it down entirely or just removes the tab. But that being said once i swipe it away the uploading

[2016-06-23 16:12] c0fe commented on #54
I honestly would like to see this implemented, at least on the web based portion where if you are sharing public documents/files you can just have your own theme installed whichever you prefer. This would be fairly unique.

[2016-06-23 16:14] AndyScherzinger commented on #28
@c0fe that is kind of a works as design at the moment. When you swipe the app away you basically terminate it and with it the uploading. Right now the app doesn't do any auto-resume during the next startup but expects the user to open the upload screen via the top left menu and hitting the resume (top right menu)

[2016-06-23 16:15] c0fe commented on #57
Confirmed using images of various sizes some being as little a few kilobytes and others being around hundred megabytes each. All JPEG, using Google Nexus 6P. NextCloud Version 1.0.1, Android 6.0.1, Android is not customized in anyway. Owncloud server: 9.0.2

[2016-06-23 16:17] c0fe commented on #28
@AndyScherzinger yeah i was thinking that might be it but wasn't sure since my other phone didn't do this. I thought that the uploading would be a background process separate from the app itself. So once it was concluded it would just shut down on its own.

[2016-06-23 16:17] AndyScherzinger commented on #54
@c0fe I think the web based part is already working on this, right @jancborchardt ?

[2016-06-23 16:19] AndyScherzinger commented on #28
Unfortunately I think it is something in between. @tobiasKaminsky One thing that doesn't fix this but would at least add some more automation would be that when the app starts and uploads weren't successful that the app in case of connectivity simply restarts the uploads. What do you think? cc @przybylski

[2016-06-23 16:21] AndyScherzinger commented on #57
Well the synchronisation error is yet unknown, but from the server logs it seems you are having a server side memory problem, so pinging @MorrisJobke @schiessle

[2016-06-23 16:42] thorian93 commented on #28
I just made a few steps into android app development yet, but wouldn't a background service for uploads be best? Because as a user I would assume, that a upload I trigger goes through, no matter what.

[2016-06-23 16:58] tobiasKaminsky commented on #59
This is ok, but the beta allows to send the crash report and some users suggested to have a predefined email address.
So this should be done, something like: android-app@nextcloud . com?

[2016-06-23 17:05] tobiasKaminsky opened #60 "Filter"
- Filter current files and folders (no subfolders) by typing.
- Search also in the middle of the name
- "search" icon next to three-dot menu as it is a very important task so it should be always visible

PR: #152

[2016-06-23 17:05] tobiasKaminsky commented on #34
So, keeping this open and opened a new issue for filter: #60

[2016-06-23 17:07] tobiasKaminsky commented on #60
https://github.com/owncloud/android/issues/695
https://github.com/owncloud/android/issues/696

[2016-06-23 20:22] AndyScherzinger commented on #60
I need to investigate this but if I am not mistaken there is a nice way to do it directly in the toolbar

[2016-06-23 20:24] AndyScherzinger commented on #59
@LukasReschke for the beta a good way would be to keep it, have the mail alias forwarding the mails to Tobias and me so we can check it out and open beta issues

[2016-06-23 20:26] AndyScherzinger commented on #28
Yes that would be best but we would still have to implement a restart resume mechanism due to the Android N doze function which terminates your app so the app needs to handle doze.

[2016-06-24 07:34] jgrete commented on #25
The latest beta2010621 works quite well - no crashes so far.
A minor bug seems to be that there is no "instant" update of the files list after choosing a different account from the dropdown. One have to wait until the screen gets locked. After unlocking the screen the files list is getting updated (caused by an event ?). Manually updating the account (via '...' menu) works well. In no case there's

[2016-06-24 09:33] mabkenar commented on #19
Oh I see. I never touched the sync setting after I added my Nextcloud account, and now I see that sync was disabled by default (This is strange. Is this a design decision?).

Now with sync enabled, when I change a file on the server, it only appears in Android if the file is "Set as available offline". For non-"Set as available offline" files, no sync happens.

For the reverse situation: only chan

[2016-06-24 09:42] karlitschek commented on #23
I think Apache dependencies are not a problem. But @schiessle is the expert here!

[2016-06-24 09:46] mabkenar commented on #19
The situation for non-available-as-offline files that changed from the server is problematic because while an older version of the files is downloaded to the client (say from 1 day ago), there is still a green tick mark next to the file that implies this file is up-to-date, and the client even says "last changed 10 minutes ago" (but this refers to the change in the server that has not been synced

[2016-06-24 10:05] mabkenar commented on #53
@AndyScherzinger As I mentioned [here](https://github.com/nextcloud/server/issues/211#issuecomment-228307179), this is impractical. And it also doesn't cover people who find the Nextcloud client on their own and want to try it.

[2016-06-24 10:22] mabkenar commented on #53
Let me clarify this proposal. We don't need to do any kind of endorsement or advertisement for the providers, hence no need for ranking/evaluation/etc. It's fine if it is merely a web link, with many (not just 3) providers listed. The list can be as neutral as the current list maintained by ownCloud [here](https://owncloud.org/providers/).

We may even warn the users that this list is compiled onl

[2016-06-24 10:45] thalman opened #63 "App doesn't remember cloud connection"
### Actual behaviour

-If mobile is restarted (I use planned switch-off/on during night) app asks for url, username and password
### Expected behaviour

-App should at least pre-fill last cloud URL and username or if it is not security issue save credentials and login automatically.
### Steps to reproduce
1. login into app
2. restart phone
3. start app
### Environment data

Android version: 4.2.1

[2016-06-24 10:50] mabkenar commented on #19
Oh before I confuse anyone, I am using [Nextcloud provided by F-Droid](https://f-droid.org/repository/browse/?fdid=com.nextcloud.client), and I don't have Google's non-free stuff installed on my device.

[2016-06-24 12:10] jancborchardt commented on #53
@mabkenar so I definitely agree we need to improve the flow. But a button directly next to the server address input I think is a bit confusing. Maybe a slideshow before just like on the iOS app, and then a choice of providers with »your own server« in it as well« is a good solution here.

[2016-06-24 13:04] jancborchardt commented on #60
Yeah, many other apps like Signal, Contacts, VLC etc put the search action directly in the toolbar cause it’s quite an important help to quickly find what you need. I’d do the same, and next to it put the 3-dot icon for the other actions.

[2016-06-24 13:07] jancborchardt commented on #54
@LukasReschke @schiessle @karlitschek how about an API for logo, color, name, slogan etc so we can push that out to the clients? That would be pretty cool if the app automatically changes to the values provided by the server.

(Would also be a _lot_ of work for the case where the web interface is themed though. ;)

[2016-06-24 13:23] mar1u5 commented on #54
@jancborchardt or we rewrite the **ownBrander** (which will be done in parts with the theming app) from the EE to theme the clients 😉

[2016-06-24 13:30] LukasReschke commented on #54
Oh god. You don't want to write THAT. The theming API stuff seems way more easy and reasonable 🙈

[2016-06-24 13:43] tobiasKaminsky commented on #25
@jgrete this is is a different issue so please report it as a new issue

[2016-06-24 13:46] tobiasKaminsky commented on #60
So we have a conclusion?
![4hoqo](https://cloud.githubusercontent.com/assets/5836855/16339399/bfc3cab8-3a22-11e6-9bfd-964e66b1ca66.png)

[2016-06-24 13:51] mabkenar commented on #53
@jancborchardt I've never seen the iOS app but I like the idea to show a slideshow the first time user runs the app. All the "education" part can be done in the slideshow, including a list (or a link to a list) of providers.

[2016-06-24 13:52] tobiasKaminsky commented on #63
This is/was a problem also of ownCloud and was fixed by an additional app https://play.google.com/store/apps/details?id=com.owncloud.android.workaround.accounts
But as far as we understood this is only needed for paid apps.
You can try to use this app, but I am unsure wether this helps...

[2016-06-24 13:53] tobiasKaminsky commented on #53
So, it is related to #50
Can you @jancborchardt make a mockup for @przybylski ?

[2016-06-24 15:31] AndyScherzinger commented on #60
Yes! :smiley: That would also be my choice on how to do this :+1:

[2016-06-24 15:38] AndyScherzinger commented on #54
@jancborchardt we can only do this to some extend on the client side since:

* You can't change the launcher icon
* Showing the login form you are lacking the info which server the user might type in so at that time you will have to show the Nextcloud logo (and the "New to Nextcloud?" text)
* You can't change the app's name

So other than that you can probably only change colors and you will have

[2016-06-24 16:36] tobiasKaminsky commented on #60
Uh, yeah "approved" is a cool label :+1:

[2016-06-24 16:49] AndyScherzinger commented on #60
Yeah,  I just need to check if we already documented this in our lean dev process

[2016-06-25 07:08] tobiasKaminsky commented on #7
We should really going on with this...

[2016-06-25 07:20] AndyScherzinger commented on #7
Absolutely!

[2016-06-25 07:43] tobiasKaminsky commented on #7
I'll do this now :+1:

[2016-06-25 07:54] tobiasKaminsky opened #65 "Translation via transifex"
Just a reminder: what is the current situation?

[2016-06-25 10:51] jasonbayton opened #67 "Feature Request: Prevent duplicate uploads"
## Wanted behaviour

When I attempt to upload a duplicate file, I'd like it to prompt me before it uploads. Maybe a message that states "x with that name and datestamp already exists. Upload another copy?"

In an ideal world it would be able to do this with several files in one go, rather than 1 by 1 so as to agree or disagree with duplicate uploads all at once, but anything would be acceptable at

[2016-06-25 11:05] mar1u5 commented on #67
@tobiasKaminsky

[2016-06-25 11:06] przybylski commented on #14
Coding convention I put together:
[nextCloud coding style.zip](https://github.com/nextcloud/android/files/333029/nextCloud.coding.style.zip)

[2016-06-25 11:24] tobiasKaminsky commented on #7
Let us discuss in the PR: #68

[2016-06-25 11:24] #7 closed

[2016-06-25 11:27] tobiasKaminsky commented on #14
Great, how can I apply this?
Best would be if this is automatically used by android studio

[2016-06-25 11:47] przybylski commented on #14
I'll have a look how to automatically apply this.
You can import it manually by copying the xml file to AndroidStudio preferences directory and codestyles subdir.
Eg on my mac i have it at: ~/Library/Preferences/AndroidStudio2.1/codestyles
restart android studio, go to Preferences > Editor > Code Style > Java .
And select nextCloud coding style from Scheme menu.

[2016-06-25 11:47] tobiasKaminsky opened #70 "Sending resized images"
If the image is not downloaded a resized image version is sent.
Should this be clarified by using "send resized image" and use "send original size" when downloaded?

[2016-06-25 11:49] tobiasKaminsky opened #71 "Resized images: zoom behaviour"
Idea to download the full sized image:
- Zooming a resized image with at least 2x (which can get blurry)
  - show snackbar "automatically download full image on zoom: yes"
  - Clicking "yes" after second time will offer option "always" to prevent showing the question.
- time out the snackbar the second time by just waiting will show "never download full image" -> "yes".
- after both show second sn

[2016-06-25 11:58] tobiasKaminsky opened #72 "Cache resized images on local deletion of an image"
When deleting an image locally on the phone the app should generate an resized image of it prior to deletion.
With that (if the cache is big enough) the images can still be shown by thumbnail/resized image without server interaction.

[2016-06-25 12:02] tobiasKaminsky commented on #67
The datestamp is not reliable on android so I suggest to only use the file name for comparison.
Just like any file browser it should be checked prior to upload if any conflicts occur:
- show a conflict side by side with thumbnail, file name (and file size)
- button: suggest new name (by adding (1,2)), overwrite, skip
- checkbox: do this for x pending conflicts

[2016-06-26 07:54] tobiasKaminsky commented on #14
https://stackoverflow.com/questions/22207920/what-is-githubs-character-limit-or-line-length-for-viewing-files-on-github

Line length 120 seems to work :)

[2016-06-26 10:14] AndyScherzinger commented on #14
So I would say we go for an 120 since it fits GH and also every modern display easily

[2016-06-26 11:15] tobiasKaminsky commented on #14
Then the remaining open question is how to force this for all of us automatically.

[2016-06-26 11:17] AndyScherzinger commented on #14
Since it requires manual configuration in Android Studio there probably isn't a way to enforce this except documenting it in out guidelines and check it in the code reviews. :(

[2016-06-26 20:44] thalman commented on #63
Thanks for hint, but unfortunately it doesn't work with nextcloud app. At least in my case.

[2016-06-26 21:09] AndyScherzinger opened #76 "Release 1.1.0"
- [x] Bump version name and version code in AndroidManifest.xml, see #80
- [x] Update CHANGELOG.md adding 1.1.0 features according to https://github.com/nextcloud/android/milestones/Nextcloud%20App%201.1.0, see #80
- [x] merge #80
- [x] Tag new version as rc-1.1.0-01 (27th June)
- [x] Tag new version as rc-1.1.0-02 (3rd July)
- [x] Verify that the new version number is shown in settings
- [x] Buil

[2016-06-26 21:11] AndyScherzinger commented on #76
pinging @przybylski @tobiasKaminsky @LukasReschke for this issue
The easiest way is probably to open a branch/PR with the above changes +1 it wait till everything is ready, merge it and build a release.

[2016-06-26 21:59] Spacefish opened #77 "Refactor: Create a ThumbImageView"
Thumbnails of images are currently shown in 3 different places. The uploadlist, the local file browser and the normal folder view of an nextcloud folder.

The code to generate a thumbnail / kickof the thumbnail generation is present in all of there places.

To unify this, i would like to propose a ThumbImageView class which subclases ImageView. This Class should handle all concern regarding File o

[2016-06-26 22:33] Bugsbane opened #78 "App crashes regularly (connecting to ownCloud 9.0.2 )"
### Actual behaviour
App crashes regularly

### Expected behaviour
App doesn't crash regularly

### Steps to reproduce
Unfortunately, I haven't found a consistent pattern for reproducing the problem yet. The last time it happened I was switching between detail to grid view.

### Environment data
Android version:
5.1.1

Device model:
Galaxy Grand Prime

Stock or customized system:

Nextcloud app ve

[2016-06-27 05:35] tobiasKaminsky commented on #76
Yes, a simple PR should be enough.

[2016-06-27 05:40] tobiasKaminsky commented on #14
https://www.jetbrains.com/help/idea/2016.1/configuring-code-style.html
with .editorconfig it seems to be possible

[2016-06-27 05:42] tobiasKaminsky commented on #14
https://androidbycode.wordpress.com/2015/02/14/applying-the-aosp-coding-style-in-android-studio/
Maybe we should not define our own code style but rather use the one from AOSP?

[2016-06-27 05:57] tobiasKaminsky commented on #77
This is a very good idea. As both Views do the same regarding the thumbnails I suggest to go with idea 1.
As far as I recall the cacheKey is not computed the same way. But it should be the same for a local file (File) and a file that is in nextcloud (OCFile). Also the upload queue seems to generate them in a third way (davivel from owncloud said something regarding this at least, I think).
So this

[2016-06-27 06:21] AndyScherzinger commented on #14
AOSP sounds good to me, square also has its own definition so there are probably enough good definitions out there.
Standard Android Studio + 120 character limit would imho be enough :)

[2016-06-27 08:07] tobiasKaminsky commented on #14
So this are two new options?
- square
- standard android studio + 120 line limit

[2016-06-27 08:15] AndyScherzinger commented on #77
I second @tobiasKaminsky vote here. This is a very good idea and would give us a general implementation do deal with this :) :+1:

[2016-06-27 08:25] AndyScherzinger commented on #14
Well that is up for discussion. I don't care to much about the details. The benefit is having a common configuration whichever that is. I'd probably go for >>standard android studio + 120 line limit<< since it is the simplest one to have.

[2016-06-27 10:21] jgrete opened #79 "No instant update of folder list when changing active account (Nextcloud beta Android-App 20160621)"
### Actual behaviour

No "instant" update of the files list after choosing a different account from the dropdown.

One have to wait until the screen gets locked. After unlocking the screen the files list is getting updated (caused by an event ?). Manually updating the account (via '...' menu) works well. In no case there's any visual feedback (except the changing files list) which might be subopti

[2016-06-27 12:02] AndyScherzinger commented on #76
PR has been created, see #80

[2016-06-27 13:11] jancborchardt commented on #53
It’s already in the branch `whatsNew`, see https://github.com/owncloud/android/pull/1375

[2016-06-27 13:31] Gomez commented on #53
@tobiasKaminsky This is only valid for servers at your home. If you rent a server somewhere its almost the same as you rent a nextcloud. And SaaS has many benefits, especially for private users.

[2016-06-27 16:53] mar1u5 commented on #22
Solved with #75 :muscle:

[2016-06-27 16:53] #22 closed

[2016-06-27 17:14] AndyScherzinger commented on #76
#75 has been merged prematurely but has been tested by me so we should leave it in since a revert is not worth the effort.
I'll update the changelog accordingly

[2016-06-27 17:27] tobiasKaminsky commented on #14
I did a reformat with default android studio and compared it to master for one class.
Looks good to me.
We should also use "optimize imports", but do not use "rearrange code" as this does too much, or?

[2016-06-27 17:29] tobiasKaminsky commented on #76
Ping me @AndyScherzinger when you are ready

[2016-06-27 17:31] tobiasKaminsky commented on #53
@Gomez you are right, it is just my personal opinion and it can be different for other users and for them such a list is a good idea.

[2016-06-27 17:32] AndyScherzinger commented on #14
Full Ack, sound good to me +1 for the organize imports

[2016-06-27 17:39] tobiasKaminsky commented on #14
Can you add this do contributing.md?
If @przybylski is fine with it

[2016-06-27 17:50] AndyScherzinger commented on #14
Do you know how to do it?

[2016-06-27 18:33] AndyScherzinger commented on #14
added: https://github.com/nextcloud/android/pull/80/commits/89bf3e20733b60e7b2a753420b2d23ebf787fe58

* Standard Android Studio
* Line length 120 characters (Settings->Editor->Code Style->Right margin(columns): 120)
* Auto optimize imports (Settings->Editor->Auto Import->Optimize imports on the fly)

[2016-06-27 19:34] AndyScherzinger commented on #76
DONE!

@LukasReschke you can release to the beta channel: https://github.com/nextcloud/android/releases/tag/rc-1.1.0-01 :rocket:

[2016-06-27 19:43] tobiasKaminsky commented on #14
:+1:

[2016-06-27 19:43] #14 closed

[2016-06-27 19:44] LukasReschke commented on #76
Pushed to the beta channel and also uploaded at https://download.nextcloud.com/android/

[2016-06-27 19:50] AndyScherzinger commented on #76
Awesome @LukasReschke !!! Great collaboration and incredible pace! :tada: :rocket:

[2016-06-27 19:53] tobiasKaminsky commented on #20
@przybylski browsing through the comments on play store this is a highly wanted feature.
Is there something I/we can help you with?

[2016-06-27 20:04] AndyScherzinger commented on #20
Like @tobiasKaminsky said, is there something we can help you with. Unfortunately I only have devices without an sd card.

[2016-06-27 22:03] Spacefish commented on #77
Regarding the hashkey, IMHO we should use the md5 (or so) hash of the file itself, that way, the same hash is generated for the same file on all systems (android, php application, upload list). Hashes generated on the android device should be cached (cachkey for hash generation: md5(filepath + mtime))

[2016-06-28 04:27] Bugsbane opened #81 "Grid view > back while folder is loading crashes app"
### Actual behaviour

If "Show grid view" and then the back arrow in the top left corner are clicked, while a folders contents are still loading, the nextcloud app crashes.
### Expected behaviour

The app should just go back to the previous folder without crashing.
### Steps to reproduce
1. Open a folder with many files (I used my instant upload folder, and tested with others)
2. While it's loadin

[2016-06-28 10:58] Spacefish commented on #67
Another reason to add a filehash in file_cache table inside the server side php script.. That way it´s possible to detect real duplicates, disregarding the filename or m/ctime

[2016-06-28 15:16] pierreozoux commented on #53
As a provider, I'm all for that also.

We (as FLOSS community) need to do better.

Imagine you managed to convince somebody that free software is the only way to make a world a better place.
Before he was using dropbox:
 - landing page
 - email/pass
 - bim, he got the service
You convinced him, he goes to Nextcloud:
 - landing page
 - call to action: "Download"

You lost, game over, we'll not conv

[2016-06-28 18:44] tobiasKaminsky commented on #77
Then we need a server guy over here, to help us.

[2016-06-28 18:55] aronovgj opened #82 "Scanning all files on first start needed?"
### Actual behaviour
- Scans all files in all subfolders
- Continues to do so even if in background
- The loading indicator constantly is moving
### Expected behaviour
1. Load files and folders in /
2. Nothing until you open a new folder
### Steps to reproduce
1. Open app with an accout having tens of thousands of files
### Environment data

Android version:
cm 12.1

Device model:
I9505

Stock or

[2016-06-28 19:23] przybylski commented on #20
For starters you can get me more time in a day :)
I'll try to put it on my schedule ASAP

[2016-06-28 21:03] AndyScherzinger commented on #82
@tobiasKaminsky is this to be considered a bug? It's a sync and needs to check the whole thing so it can detect changes for favorite files, doesn't it? Else we would have to implement a more fine grained sync but I would consider it an enhancement. One that makes sense but an enhancement nonetheless.

[2016-06-28 21:06] AndyScherzinger commented on #77
Pinging @nextcloud/developers

[2016-06-28 21:12] aronovgj commented on #82
If you ask me, if it drains my battery for an hour (and sends data back and forth, although it is not too much) while running in the background, I consider it a bug.

[2016-06-28 21:51] AndyScherzinger commented on #82
That is true since it should do that but that doesn't necessarily have to do with syncing the whole file tree info, not the files themselves though.
Yes draining the battery, sync taking an hour, I'd also consider that a bug.

[2016-06-29 07:20] przybylski commented on #82
This is expected behavior. When I was implementing this there was no way to tell is subtree modified. I don't know is it still true. If so, then it would be nice to introduce smarter way of refreshing mechanism.

[2016-06-29 07:20] przybylski commented on #82
To be clear it's not expected to drain battery but to refresh the entire file tree.

[2016-06-29 08:46] jancborchardt commented on #77
@AndyScherzinger please never ping that whole group, that’s sending out a notification to way too many people. ;)

I guess cc @LukasReschke @schiessle @oparoz are most relevant for this?

[2016-06-29 10:05] jancborchardt commented on #53
@pierreozoux great stuff, good thoughts! :) The only thing I would do a bit different is that the apps should not choose the provider, but ultimately there should be a short list so people can choose themselves. Just getting a random provider will not make you feel at home at the service or like you’re in control. :)

So @Gomez @pierreozoux as you are providers and also involved in the community,

[2016-06-29 10:16] mabkenar commented on #53
I agree. While we make it easy for the users to find a provider, they should always be explicitly informed that they do have a choice in picking one. Even if we include top N providers in the list (based on uptime, user rating, timezone, etc.) there should always be a (N+1)-th item for "Choose other providers..." and (N+2)-th item for "Use your own server...".

[2016-06-29 11:43] Gomez commented on #53
Count me in. @pierreozoux Will you help too?
First step will be to get the provider list back on the website.

[2016-06-29 12:15] AndyScherzinger commented on #82
@przybylski totally agree with you that's also what I tried to express with my comment, but you put it way clearer :+1:

[2016-06-29 12:17] AndyScherzinger commented on #77
@jancborchardt I wouldn't but I had to since we do have a Android group but I couldn't find "core" or "server" to ping so I went with the broadcast ;)

@LukasReschke @schiessle can you create a server group that can be pinged via "@"? :)

[2016-06-29 14:11] MorrisJobke commented on #77
I guess there is no "server group" ... and even then it would still be too many people :) Best would be to get some people in, that then mention more people if needed ;9

[2016-06-29 14:43] AndyScherzinger commented on #77
okay, works for me :+1:

[2016-06-30 08:34] AndyScherzinger commented on #59
@LukasReschke we now also have this as review in the play store

Should we then just use the forum link or:
* Help --> https://help.nextcloud.com/c/feature
* Feedback --> google@nextcloud.com (since this is also visible on the play store app page?)

Else we would have to go for just one item in the settings "Help / Feedback" which routes you to  https://help.nextcloud.com/c/feature

This is a bug

[2016-06-30 11:58] AndyScherzinger commented on #65
Has been implemented on transifex, @MorrisJobke is checking the auto push to the repo in combination with the LGTM checks.

[2016-06-30 23:11] aronovgj opened #85 "Auto-uploading pictures fails sometimes"
### Actual behaviour
- Only some pictures are uploaded (for example one of eight)
- Errors in Nextcloud log
- Client says upload failed
### Expected behaviour

Pictures should upload without problems
### Steps to reproduce
1. Set up auto-uploading pictures
2. Take some pictures

Happens sometimes. Couldn't see regularities. Sometimes it manages to upload everything
### Environment data

Android ve

[2016-07-01 13:20] jancborchardt commented on #54
@AndyScherzinger ok, good points. Then it does actually not make a lot of sense to put work in a theming API. Because if the core things like name and logo can’t be changed (which makes total sense :D) then it’s not really worth it. I guess branding could be offered as a service.

Closing hence.

[2016-07-01 13:25] AndyScherzinger commented on #54
As a service makes total sense and as soon as we are done with consolidating and merging all the feature branches I have "refactoring the theme definition" on my agenda, which should make branding via some kind of branding generator a lot easier :+1:

[2016-07-01 13:47] MorrisJobke commented on #54
Then we can close this. Thanks a lot for this nice discussion :)

[2016-07-01 13:47] #54 closed

[2016-07-01 13:49] tobiasKaminsky commented on #85
Are you suspending the app or swiping it out of the recent app list?

[2016-07-01 13:56] aronovgj commented on #85
No. The app also is not kicked out by lmk when this happens

[2016-07-01 15:07] tobiasKaminsky commented on #59
Solution (1) is fine for me.
Are you reading this forum? Ore do we should also include github issue tracker?

[2016-07-01 15:14] tobiasKaminsky commented on #59
Better email address is: android@nextcloud.com

[2016-07-01 15:19] tobiasKaminsky commented on #59
Talked with @LukasReschke: we get android@nextcloud.com which is maintained by him, @AndyScherzinger and me.

[2016-07-01 15:48] tobiasKaminsky commented on #59
Please see #86

[2016-07-01 16:37] tobiasKaminsky commented on #81
@AndyScherzinger please see #87

[2016-07-02 01:12] aronovgj commented on #85
Also happens on a stable Wlan connection.

[2016-07-02 06:32] tobiasKaminsky commented on #85
Can you try it with the demo server? demo.owncloud.org user/pass: test?

[2016-07-02 09:17] aronovgj commented on #85
Done

![screenshot_20160702-111500](https://cloud.githubusercontent.com/assets/10271770/16539533/8300735e-4046-11e6-9833-a76939d2a00d.png)

[2016-07-02 15:20] #59 closed

[2016-07-02 15:21] tobiasKaminsky commented on #40
@elpraga @AndyScherzinger please verify if this is fixed and then close.

[2016-07-02 17:07] AndyScherzinger commented on #81
Fixed by #87 - will be shipped with 1.1.0 RC2

[2016-07-02 17:29] gsurrel opened #90 "Crash on deleting three local+remote files with latestF-Droid beta release(20160621)"
### Actual behaviour
-Crash on deleting three local+remote files

### Expected behaviour
-Remove 3 files without crash rather than only two with a crash

### Environment data
Android version: 6.0.1

Device model: 1+1

Stock or customized system: official cyanogen

Nextcloud app version: 20160621 (beta)

Nextcloud server version: unsure (owncloud external provider)

### Logs
#### Web server error l

[2016-07-02 19:30] rfc2822 commented on #24
This is not true. If well-known URLs are set up correctly, you need only one account.

If there is a problem, please report it. DAVdroid synchronizes only the events of the last 90 days (+ future events) by default, so the set shouldn't be too large.

This is wrong. You just need to enter the `/remote.php/dav` entry point; or if well-known URLs are configured (very recommended), you only need to e

[2016-07-02 22:37] przybylski commented on #90
Something is not right with this report, or the released APK. Method which is causing problem doesn't exist for a long time now.

[2016-07-02 23:08] gsurrel commented on #90
The settings page says version 20160621 and the "Download latest beta version" confirms I'm running the latest. I'm running the f-droid version.

[2016-07-02 23:25] przybylski commented on #90
Beta release has an old version of responsible files, I'm guessing that @tobiasKaminsky can tell when next best will be available (if any).

[2016-07-03 07:55] tobiasKaminsky commented on #81
We should keep this open as the fix is mainly a workaround not a real bug fix.
But it is now not time critically.

[2016-07-03 09:14] AndyScherzinger commented on #81
Okay :+1:

[2016-07-03 14:38] tobiasKaminsky commented on #26
@jancborchardt @AndyScherzinger @przybylski do we want to go with the new idea?

[2016-07-03 14:51] AndyScherzinger commented on #26
What is the new idea exactly as in a complete description of all upload variants.
I am totally pro upload-only-co-copy-no-move option, since this would be what I would like to use on my phone since that provides a simple backup mechanism. I am unsure about the other options as in which make most sense and which one could or should be discarded.

[2016-07-03 16:25] tobiasKaminsky commented on #26
- just upload (only upload file to server, but keep original file in place)
- upload & delete -> upload to server and delete original file

[2016-07-03 18:02] aronovgj commented on #85
Was that of any help? I just saw that only fatal issues are logged on the demo server.

[2016-07-03 18:25] aronovgj commented on #85
That is a full log of uploading a file and failing. Please pay attention to the 404 which I did not have in the OP (maybe I simply did not see it).
`404 File with name pics\\\/IMG_20160703_202123.jpg could not be located`

[code]

[2016-07-03 19:51] AndyScherzinger commented on #26
Imho, yes. :)

[2016-07-03 20:01] jasonbayton commented on #26
I concur! If that means anything :)

Will the instant upload options change to match?

[2016-07-03 20:46] AndyScherzinger commented on #26
Of course it does @jasonbayton
The instant upload options would then change according to the two @tobiasKaminsky described, yes.

[2016-07-03 21:37] AndyScherzinger commented on #85
@aronovgj does this also happen with the current stable version 1.0.1? Just asking to see if this is a blocker for the release.

cc @MorrisJobke just to check if this could be server related.

[2016-07-03 21:40] AndyScherzinger commented on #81
@tobiasKaminsky should we then add a copy of the issue? So we can keep the issue but don't have an issue within a release we will most likely do before we have a proper fix instead of a workaround.

[2016-07-03 22:19] aronovgj commented on #85
Totally weird. So I uninstalled the RC and installed the stable but I couldn't reproduce the issue. Then I reinstalled the RC again and I'm still getting this:

[code]

But the uploads are not failing anymore. I took like a hundred pictures and it didn't fail even once while before it happened about every second or third time.

I'll report back if the issue returns...

[2016-07-04 06:39] Paviluf opened #93 "Updating Sync Capabilities"
Hello,

I don't know what the plan is between ownCloud and NextCloud but the sync feature have to be improved :

Updating Sync Capabilities on Mobile https://github.com/owncloud/android/issues/1677
Automatic download for already downloaded file when file updated? https://github.com/owncloud/android/issues/333

Thanks !

[2016-07-04 08:05] tobiasKaminsky commented on #81
To simplify it I just would remove the milestone and keep this issue open.
It is mentioned in this issue that there is a workaround available.

[2016-07-04 08:09] tobiasKaminsky commented on #26
Uhh?
I thought we are just talking about manually uploading files to nextcloud.
InstantUpload is a different thing. And at least for me I need this behaviour: move file to nextcloud folder. Reason: I want to make sure that the images are *really really* uploaded to server and to delete them if I do not have any space left.

So: for upload I agree that this is for backup (just upload, no delete) or

[2016-07-04 08:24] AndyScherzinger commented on #26
Totally fine with me, my point is that "just upload, no copy or move"  should be available for upload and instant upload.

[2016-07-04 08:32] AndyScherzinger commented on #81
Fine with me :+1:

[2016-07-04 15:18] AndyScherzinger commented on #85
Weird... @aronovgj should we close the issue then for now? The 404 could maybe, not sure, who knows be a database problem/hiccup since RC2 you can wipe the app's database (Android settings->Apps->Nextcloud->Manage...) which might help but will also remove any account etc. configured within the app.

[2016-07-04 15:43] aronovgj commented on #85
Yes, let's close this for now

[2016-07-05 07:24] AndyScherzinger opened #95 "State handling error - IllegalStateException"
Crash from the Google Play Developer Console:

[code]

[code]

[code]

[code]

[2016-07-05 07:28] AndyScherzinger opened #96 "NPE in OCFile.getRemotePath()"
Crash from the Google Play Developer Console:

[code]

Reported 3 times for 1.0.0 and 1.0.1 on Android 6.0, 5.0, 4.4

[2016-07-05 10:47] schiessle commented on #23
Yes, the Apache license and GPLv2 are not compatible because of the patent grant in the Apache license.

I'm not a Android expert, if the "Google's Android support libraries" are system libraries this shouldn't be a problem, because of the "system library exception" https://www.gnu.org/licenses/gpl-faq.html#SystemLibraryException

[2016-07-05 10:48] schiessle commented on #23
We can't change the license from GPLv2 only to GPLv2+ because we don't own the complete source code. But I would suggest to consider switching to GPLv2+ for every new code added to the android app. We do something similiar on the server (ownCloud code is AGPLv3 only but we add new code as AGPLv3+)

[2016-07-05 16:33] cwmke opened #97 "Add Trash Can Delete Option To Top Bar"
### Environment data
Android version: 6.0.1
Device model: Nexus 6p
Stock or customized system: customized
Nextcloud app version: fdroid Nextcloud beta version 20160621

I delete stuff fairly frequently and it seems like it would be more convenient (I believe) to have the standard trash can icon appear when files and/or folders are selected.  This is one of the little things that always bothered me

[2016-07-05 17:05] AndyScherzinger commented on #97
Hi @cwmke can you go a bit more into detail. There is a remove menu item, it is in the top right three-dot menu. It that what you meant?

[2016-07-05 17:19] cwmke commented on #97
Sure!  I am suggesting the 'remove' option be moved from the hamburger menu to a trash can icon in the upper bar as demonstrated in this F-droid screenshot.

![screensho](https://cloud.githubusercontent.com/assets/1923967/16593371/94063592-42aa-11e6-8704-3fc16c628cf4.png)

[2016-07-05 18:29] AndyScherzinger commented on #97
@jancborchardt you are the UI guru :) technically it is possible, question is which action show be explicitly put into the top bar during multi select and which should be put into the three dot menu.

Cc @tobiasKaminsky since you are the master of the multi select feature.

[2016-07-06 10:44] AndyScherzinger commented on #25
I moved Luke's changes to a branch within the nextcloud repo. I hope this is fine with you @LukeOwncloud ? --> #98

[2016-07-06 11:13] LukeOwncloud commented on #25
@AndyScherzinger Yes, of course! Thank you! @tobiasKaminsky Sorry for not pushing my changes. Too busy....

[2016-07-06 12:17] AvonSyr commented on #21
It should be work. Currently I'm using the Andoird app "FolderSync" to 2-way-sync multiple directories between Android and Nextcloud. Would be awesome if this functionality would be provided by the Nextcloud app itself.

[2016-07-06 12:24] jancborchardt commented on #97
We already have 3 actopms in the top right there:
- for single files: share, download, more
- for multiple: download, open with, more

Having a fourth there would be too much, especially a destructive action like delete right next to the others.

[2016-07-06 12:50] AndyScherzinger commented on #97
Thanks for the feedback @jancborchardt. I agree with the argument especially the destructive character of the action. Thus closing the issue. Sorry @cwmke :(

[2016-07-06 12:50] #97 closed

[2016-07-06 13:04] hitam4450 opened #99 "Multi Select on Files Operation"
Hi, I just downloaded Version 1.1 and I like it!
Especially I like the option to create Sub folders to be able  to organize files by year-month.
However, currently the option to select "multiple" files prior to take any selected action e.g. moving files "within the server" to a new location, is missing!
This option facilitates files operation considerably !

regards, hitam4450

[2016-07-06 13:59] hitam4450 opened #100 "Remenbering Last Folder"
Another UI Enhancement:

To facilitate repetitive actions e.g. file move or file copy...the last selected folder should be remembered !

regards, hitam4450

[2016-07-06 14:19] AndyScherzinger commented on #99
Hi @hitam4450 not sure I got it right so I just ask :)
My guess is you are looking for the multi select feature which we are planning to implement next #61. You can try it out with our beta which can be installed in parallel, see https://f-droid.org/repository/browse/?fdfilter=com.nextcloud&fdid=com.nextcloud.android.beta

[2016-07-06 15:17] hitam4450 commented on #99
Hi Andy! Thanks for your quick reply. I appreciated it vey much! I will follow your suggestion, and will test the beta version and will report back here !

regards, hitam4450

[2016-07-06 16:17] hitam4450 opened #101 "Beta 20160621 - Behaviour"
Hi Andy,
enclosed you'll find some details about a first, quick testrun!

On ANDROID 4.4.2 I do have the following issues:

  Mixed language (English, German) menu Description
  Does not show ALL Files, not even after refreshing
  Selecting Storage path:    Selecting External SD Card    Error while migrating

regards, hitam4450

PS. After selecting ALL Files in the (left side) menu panel, I could

[2016-07-06 16:19] hitam4450 commented on #99
Hi Andy,

see my first comments : https://github.com/nextcloud/android/issues/101
regards, hitam4450

[2016-07-06 16:42] hitam4450 opened #102 "Feature request: Select "ALL" Files within a folder"
Feature request:

Select "ALL" files within a folder for file operation e.g. copy, move, delete, etc.

regards, hitam4450

[2016-07-06 17:20] AndyScherzinger commented on #101
CC @przybylski and @tobiasKaminsky

The mixed language is simply due to the fact that English is the fallback so all features not being part of the upcoming stable release haven't been translated yet.

[2016-07-06 17:22] AndyScherzinger commented on #99
Hi @hitam4450
Thanks for all the feedback. Regarding the beta check, does the multi select you see in the beta fulfill the requirement described in this issue?

[2016-07-06 17:50] hitam4450 commented on #101
I like the app. e.g. moved a large number of images from SofortUpload to other folders ! With Multi Select feature, this is very easy and nice, since the number of files left are displayed and updated after each finished move!

Very nice, very user friendly!

Keep on Going NEXTCLOUD!

Regards, hitam4450

PS. Please notify me, if there is an updated beta version available! i am glad to help and tes

[2016-07-06 19:00] hitam4450 commented on #99
Yes, this fulfills the requirement and my idea, as well!  :)

regards, hitam4450

[2016-07-06 19:30] hitam4450 opened #103 "Beta 20160621 - (Sub)-Option missing"
Hi to Andy and ALL,

Below  the Option **Immediate Upload**  (SofortUpload).
I miss the Sub-option

Use Subfolders
_Store in subfolders based on year and month_

as being offered in the published Version 1.1!

I think this is a pretty neat feature to better organize the "sometimes huge number " of Uploads!

regards, hitam4450

[2016-07-06 21:32] cwmke commented on #97
@AndyScherzinger No problem!  I just thought I'd try. ;-)

[2016-07-06 21:51] AndyScherzinger commented on #97
Thanks! You are of course always welcome to try since we highly value any feedback and ideas. Even if they don't make it into the app we honor the time and thought put into it!

[2016-07-06 21:52] AndyScherzinger commented on #99
Glad to hear that and hopefully we can bake this in to the app in the near future!

[2016-07-07 07:08] AndyScherzinger opened #104 "f-droid doesn't pick up latest stable"
see subject, for some reason f-droid isn't picking up the latest stable :(

Can you have a look @tobiasKaminsky ? :)

[2016-07-07 07:16] AndyScherzinger opened #105 "NPE in OCFileListFragment.isGridViewPreferred"
From the Play store developer console.
### Environment data

Android version: 6.0 and 5.1

Device model: Swift, Nexus 7 (2012) (tilapia), Moto G (3rd Gen) (osprey_umts), Nexus 5X (bullhead), Galaxy S2 (GT-I9100)

Stock or customized system: -

Nextcloud app version: 1.1.0 stable

Nextcloud server version: -
### Logs
#### Nextcloud log (data/nextcloud.log)

[code]

[2016-07-07 07:18] #76 closed

[2016-07-07 07:22] AndyScherzinger commented on #104
I added a comment, not sure if that helps
https://gitlab.com/fdroid/fdroiddata/merge_requests/1464#note_12921969

[2016-07-07 07:36] przybylski commented on #101
Changing storage path is a complicated process and even though I tried to handle all exceptions some are displayed as "Error while migrating", those are errors which requires more insight in moving process.
Are you able to provide logs for this migration session?

[2016-07-07 09:08] jancborchardt opened #106 "Sort by recent should mix files and folders"
When sorting by recently modified, folders are shown first. It's quite cumbersome to need to scroll down to reach files.

The elements should be sorted by recently modified, files and folders mixed. This is also how we did it before.

PR: #135

[2016-07-07 09:11] jancborchardt opened #107 "Sort favorite files first in the list"
Favoriting is not very integrated at the moment. Only an indicator, we can do better here.

Better integration without needing to switch to a separate view would be to always sort the favorited items of a the current folder up top.

[2016-07-07 09:29] johnnygeling opened #108 "Android 6.0.1 connection error to internal server."
### Actual behaviour

-Tell us what happens
No connection made to owncloud server on internal network via internal wifi. Server is accessible with webdav client FolderSync and via browser.
Owncloud log and apache access log doesn't show any connection activity.
Using the connection over LTE, there is normal connection with the owncloud server.

Doing this on a android version 5.1, the access is no

[2016-07-07 13:36] AndyScherzinger opened #109 "Confirmation dialog before removing an account"
Review from the Google Play store. User wished to have a confirmation dialog before an account is removed.
If I remember correctly we had this discussion at some point and decided not to. But, yes delete is a tricky one. Any input on this @jancborchardt ?

TASK: Show an undo toast after removing an account.

[2016-07-07 13:44] AndyScherzinger opened #110 "Instant Upload broken on Android N"
With the release of Android N the instant upload feature doesn't work anymore. Most likely due to changes for background processing, doze etc. the instant upload simply doesn't get called anymore, see also the forums: https://help.nextcloud.com/t/direct-upload-photos-doesnt-work/1469

[2016-07-07 13:47] jancborchardt commented on #109
As usual, we should offer undo here. :) It’s similar as a confirmation dialog, with the exception that confirmation dialogs are often mindlessly clicked away. Undo, where the action is directly visible (account gone) but actually only carried out in the interface, is much more error-friendly.

[2016-07-07 13:56] AndyScherzinger commented on #109
I also though about adding an undo action here. Will have to check how to implement such a thing because this might be a delete & recreate, or a hide from list and delete in case undo hasn't been clicked whatever is technically possible.

Thanks for the feedback! :)

[2016-07-07 14:59] schiessle opened #111 "Support for "files drop" feature"
Nextcloud allows you to create public link shares where the users don't see the file listing but can only upload files. This is how it looks like in the web interface:

![filedrop](https://cloud.githubusercontent.com/assets/1589737/16657742/d103b50e-4463-11e6-8721-294b79818db0.png)

If a public link is created and the "Allow editing" permission was set a additional check box shows up, "Hide file l

[2016-07-07 16:09] AndyScherzinger commented on #104
DONE, Rule of thumb would be the next midnight plus 14+ hours

[2016-07-07 16:09] #104 closed

[2016-07-07 18:48] aronovgj commented on #85
It happens again. Now only 400 errors.
`{\"Message\":\"HTTP\\\/1.1 400 expected filesize...`

[2016-07-07 22:00] squiggie commented on #47
I'm a fairly new android developer and especially new to the nextcloud community. I would like to break in and contribute. I'd like to take a crack at this enhancement.

Are you talking about some kind of 'fast scroll' feature where the velocity of the scroll allows a user to quickly go up or down the list view? Something like faster the fling velocity on the list view the faster the scroll?

[2016-07-07 22:28] przybylski commented on #47
I think this is to introduce indexable scrolling like in contacts or using this: https://github.com/andraskindler/quickscroll

[2016-07-08 10:04] jancborchardt commented on #109
This is how undo generally works – just lying by removing it from the interface, and then actually deleting it when no undo has been clicked or the next action is performed.

[2016-07-08 11:13] jospoortvliet commented on #53
The provider list is on the website again. Please, @Gomez get me your details through https://nextcloud.com/providers/apply ;-)

We still have no way of rating providers, so a top-3 is hard. Yes, I'd vote for @Gomez but we'd need a transparent process imho and us picking here isn't really open or transparent ;-)

[2016-07-08 11:46] hitam4450 commented on #101
The problem as described is due to the ANDROID 4.4.2 bug - writing on external devices.

I installed the beat on an ANDROID 5.0.2 device (Galaxy Tab S 8.4) selecting the Ext-SD-Card was easy and without any complaints!

regards, hitam4450

[2016-07-08 12:34] Gomez commented on #53
thanks @jospoortvliet :) Done

A basic check for best practice installation could be that "Security & setup warnings" in the admin panel are all gone.

[2016-07-08 12:40] mar1u5 commented on #53
How do you want to check this 😁

[2016-07-08 14:00] squiggie commented on #47
Is a library wanted for this or is this something you want to implement on our own?

[2016-07-08 15:09] Marcwa19197 opened #112 "Server took to long to respond on IPv6"
### Actual behaviour

If im connected to my home wlan, setup with IPv4 and IPv6 the Login does not work. "Server took to long to respond" if i connect to my carrier, everything works (Only one private IPv4 from the carrier provided for my phone)
### Expected behaviour

Login should work, even with IPv6 setup.
### Steps to reproduce
1. Connect to some DHCP which gives IPv4 and IPv6
2. Open App, try

[2016-07-08 15:11] Marcwa19197 commented on #108
Maybe something like my issue? https://github.com/nextcloud/android/issues/112

[2016-07-08 17:58] johnnygeling commented on #108
Looks similar. I also connect through my want to my own server on the same network.

The test server on owncloud.org is accessible.

[2016-07-09 00:08] josh4trunks opened #113 "Downloads fail when Transfer-Encoding = chunked"
### Actual behaviour
- Download failed - Download of test.txt could not be completed
### Expected behaviour
- File should be downloaded successfully
### Steps to reproduce
1. Setup server environment where files will be served with `Transfer-Encoding = chunked`
2. Try downloading file using android app
### Environment data

Nextcloud app version:
1.1.0
####

This bug is also present is the ownClou

[2016-07-09 01:20] cwmke opened #114 "Per Directory Sort Instead of Globally"
### Approved idea

Store sort order folder based, with descending the order to subfolder.
(like list vs. grid view is doing it)
### Expected behaviour

If I change the sort option in one directory, it is remebered for that directory.  When I leave, the sort goes back to the default A-Z sort method.
### Environment data

Android version: 6.01

Device model: Nexus 6p

Stock or customized system: Cus

[2016-07-09 20:13] pcause opened #115 "nextcloud android client can't login but android webdev clients do"
I try to login using the nextcloud android client and it says wrong username/password.  i know the user name and password are correct.  an android webdave client has not issues logging in.  Using current nextcloud on server.  my server uses ssl self signed cert, port other than 443 and basic auth.

I am on Android 6 on a Samsung Note 5.

[2016-07-10 06:54] tobiasKaminsky commented on #47
Best would be if we need no external library, but I do not know if this is possible.
The scrollbar should either show the date or the first character while scrolling, depending on the chosen sort order.

[2016-07-10 07:27] tobiasKaminsky commented on #109
In contributing.md is said that we should use label "accepted" for issues and 1...5 only for PRs.
I also suggest to write a summary in the first post if a conclusion is made.
(I will demonstrate it on this issue).

[2016-07-10 13:07] AndyScherzinger commented on #47
I agree with @tobiasKaminsky we should not have to use a lib for such a small UI enhancement.

[2016-07-10 14:58] przybylski commented on #109
the undo is problematic on a lot of technical levels.
* If we cheat to delete account how long should we postpone until we really delete it?
* If user closes app immediately after "deleting" account we won't be able to respond to that and account will exists.
* Removing may fail if we quietly ignore it, account will exist after "deletion".

If user won't read warning dialog than it isn't our fault

[2016-07-10 15:04] przybylski opened #117 "Crash when last account is deleted"
### Actual behaviour
- App crashes when last account is removed

### Expected behaviour
- Account setup dialog should appear

### Steps to reproduce
1. Setup only account
2. Delete account
3. Press back

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log

[2016-07-10 18:19] cwmke commented on #24
[code]
While I agree with @rfc2822's statement to a certain extent, particularily since I'm not a developer and can't really speak about the difficulties of maintaining and building software, I do belive a single uniform app for nextCloud would be extremely desireable from a user's perspective.

I use Davdroid myself and have found it to be a wonderful solution.  If I needed to get someone with li

[2016-07-11 00:39] GregSutcliffe opened #118 "Instant Upload broken for CyanogenMod 13"
### Actual behaviour

Taking a photo with the stock Camera app results in "local file not found" in the Uploads section of the Nextcloud Android App
### Expected behaviour

Photo should be uploaded
### Steps to reproduce
- Install app, configure Instant Upload (if it matters - WiFi only, year/month subdirs, default location)
- Take a photo with Camera
- Nextcloud sees the photo, but upload fails w

[2016-07-11 03:54] GIJack commented on #24
What? this is a phone, this is not a UNIX application, and the year is not 1985. This really is how apps should work, and its how android works, and its part of the android methodology.  Its how google apps work with an android phone.

Speaking of which, I would really like to see nextcloud aim for feature parity in this regard with google apps. Adding a nextcloud account should be as easy as addi

[2016-07-11 10:01] jancborchardt commented on #109
What’s the default for that on Android, like for deleting pictures in Gallery? 5 seconds?

Isn’t there an exit-app hook?

Sure, but that’s exactly the same with a confirmation dialog. Warning needs to be shown either way when the deletion fails. Undo does not mean ignoring an error, but actually the opposite: Only requiring people to take action when there is something wrong.

Isn’t there a way to

[2016-07-11 14:58] c0fe opened #119 "UI Improvements"
I would like make some suggestions to change the uploading UI to be more similar as to how it is in Outlook and Dropbox Android apps.

For example, whenever you upload something you get a better display choice:

https://www.dropbox.com/s/t08de241e6b4435/Screenshot_20160711-095124.png?dl=0

Additionally when you select photos (for example) you get to see the various albums or areas where the photos

[2016-07-11 16:26] przybylski commented on #119
Looks like most of those things is now handled by DocumentProvider, as long as client app is supporting such

[2016-07-11 16:36] przybylski commented on #109
Yes there is but it isn't guaranteed that all procedures will run uniterrupted

Yes, snackbar supports onDismiss notification, but I don't know how it will behave when app will be closed.

---
Generally I would rather not insert "undo" button for account deletion, this operation is significant enough that user should be sure that he/she is 100% sure about the consequences.
If we will pretend that

[2016-07-11 17:29] c0fe commented on #119
I am not particular certain if that's the case but that being said it would be a good idea IMO to implement it.

[2016-07-11 22:12] GregSutcliffe commented on #118
For the record - this issue was present with the default Debian 8 self-signed cert, using an https URL in the Android app. Once I switch to a LetsEncrypt cert, the issue went away, and both manual and instant uploads are now fine.

If it's the cert at fault, might be worth notifying the user that this is the issue in some form (perhaps as OCReader does at login?)

[2016-07-12 09:23] LukasReschke opened #120 "User agent has changed"
I see that with https://github.com/nextcloud/android/commit/567375e860b456254a42d81f02b9ae8ee12fab01 the user-agent has changed to "nextcloud-android".

Can we change this back to "ownCloud-android"? There are regular expressions in the server that match for that :-)

[2016-07-12 09:23] LukasReschke commented on #120
cc @AndyScherzinger

[2016-07-12 11:03] affanse commented on #24
I agree with GIJack. It is better in anyway to have one account for multiple services. Like google of course. It is better in management and for future development of nextcloud.

[2016-07-12 11:20] affanse opened #121 "Integrated Services"
Too much setup like owncloud. Davdroid for cal, card, tasks. Notes and files is another sync adapter.

I'm a big note taker, everyday I'm using grauphel tomboy sync server to sync across multiple devices.

If there is any possibilities, please, please add one account for multiple services. Thanks.

[2016-07-12 12:32] felisucoibi commented on #121
agree, at least contacts, card and tasks would be nice to not have to install different apps like davdroid that is good anyway.

[2016-07-12 12:52] AndyScherzinger commented on #120
PR created

[2016-07-12 12:55] AndyScherzinger commented on #118
@LukasReschke can we have a server setup with the cert error somewhere to reproduce this behavior and notify the user? :)

[2016-07-12 18:09] tobiasKaminsky commented on #120
@LukasReschke is this something very urgent so that we have to create a new release quickly or can it wait until our next regular release?

[2016-07-12 18:16] LukasReschke commented on #120
Can wait. Mainly was used by the File Firewall (Enterprise feature in ownCloud) which we're also writing new (and of course open-sourcing!). But there is no code yet, so all fine :-)

[2016-07-12 18:20] tobiasKaminsky commented on #120
So, then closing :+1:

[2016-07-12 18:20] #120 closed

[2016-07-12 19:03] tobiasKaminsky commented on #109
I am unsure if this is the correct way to go @przybylski.
As far as I understand @jancborchardt has a different idea and instead of discussing it and coming to a conclusion you opened a PR. Please do not get me wrong, this should in no way be meant as an offence, but I think we should really keep the workflow: idea -> discussion -> conclusion -> PR.

[2016-07-12 19:17] AndyScherzinger commented on #109
How about a two step approach. First you the enhancement since it fixed the problem quickly and then work on the final solution. This way we can provide progress faster and evolutionary ;)

What do you guys think?

[2016-07-12 20:59] przybylski commented on #109
I can close that PR and forget about it but I still think that providing undo for account deletion is not the best way to go.
First of all it will significantly increase account handling code complexity, it will also put the app in "undefined" state when it is inconsistent with the rest of the system. And system unaware of such approach can perform operations on those account leading to corrupted

[2016-07-13 09:27] AndyScherzinger commented on #25
It seems one issue has been found with this one: If the user enables the instant upload and doesn't change the default folder, no account is saved as target account and the upload is not done. The broadcast receiver logs:

```07-13 11:07:55.544 14302-14302/com.owncloud.android W/com.owncloud.android.files.InstantUploadBroadcastReceiver: No account found for instant upload, aborting```

[2016-07-13 09:57] AndyScherzinger commented on #109
@LukasReschke and @jancborchardt any feedback on this one? @przybylski opened a PR for this #116 which is a simple confirmation dialog not the discussed solution here with the undo operation which is still in discussion from my point of view. Feedback would be regarding using the confirmation dialog as a quick solution which we can ship with the next release and than build the evolutionary next ve

[2016-07-13 11:45] LukasReschke commented on #109
I'm agreeing with @przybylski. I'd merge that PR.

[2016-07-13 12:02] AndyScherzinger commented on #109
Status:

- Merge: Bartosz, Lukas, Andy
- Don't merge: -
- Vote open: Jan, Tobias

[2016-07-13 16:51] cwmke opened #126 "In-App Text Editor"
I would be great to be able to edit text, html, css and other text files in the app.  Currently we can view the file but in order to edit, you need to share with a text editor.  Thanks for any consideration.

[2016-07-13 16:57] cwmke opened #127 "Allow Long Press Copy Options in Text Viewer"
### Actual behaviour
Open any text based document in nextCloud's Android app.  Long press on some text and nothing happens.

### Expected behaviour
When long pressing on text in most apps in Android, you are presented with the ability to select a certain amount of text.  Afterwards, you are then presented with options to select all, copy, or share.  Search could be another good option to have as a

[2016-07-13 17:13] przybylski commented on #126
Nextcloud android app is not all in one solution and it should stay that way. Beside it is at the core of Android ecosystem to make apps cooperate

[2016-07-13 17:55] cwmke commented on #126
I don't mean to imply that an entire app with a full suite of formating features should be implemented.  I just meant for a basic type, delete and save ability such as you can do in the nextCloud webapp.  The webapp doesn't implement any special features, it just makes it very convenient to make quick text corrections and additions.

I don't feel like that would make full featured editors any less

[2016-07-13 18:34] tobiasKaminsky commented on #109
Your approach is very good :+1: @AndyScherzinger
Short term: dialog
Long term: better UI as @jancborchardt wishes :)

[2016-07-13 19:40] AndyScherzinger commented on #126
I agree with both of you. As for easily editing of files a writable document provider might solve this to some extend. As for the in app editing I also get the point.
The problem might simply be the handling of edits since we most likely would have to deal with charsets and character encodings which is always a pain and leads to a lot of bug corrupting files until you finally have a properly worki

[2016-07-13 19:48] AndyScherzinger commented on #127
Calling @nextcloud/android for discussion and voting. I vote to approve this issue since it helps usability and should be a rather simple change complexity wise thus I also flagged it a starter issue.

Awaiting your comments 😃

[2016-07-13 20:03] AndyScherzinger commented on #109
@jancborchardt are you okay with this approach? Because then we would merge the dialog as a first step.

[2016-07-14 08:39] owndrive commented on #53
@jospoortvliet, @jancborchardt  @mar1u5 and others:
In our opinion, the long term providers of ownCloud should be given highest priority on the listing when they now also provide or migrate to NextCloud.
OwnDrive has been providing ownCloud for quite some time and as far as we can tell, we have been providing proper free plans to users from day one and still keep doing it. By proper i mean the fre

[2016-07-14 10:23] jospoortvliet commented on #53
@owndrive I agree we need some way of ranking, not based on who comes first. We have discussed this before, and the filtering on countries and free plans or not is a first step, something we could do easily as it is objective. The same goes for adding text, so providers can explain what they offer. But it gets more complicated with sorting providers. We've discussed picking a top-three but with wh

[2016-07-14 15:04] AndyScherzinger opened #129 "Provider authorities should be an absolute package name"
As already filed in the owncloud issue tracker https://github.com/owncloud/android/issues/1735 forks will have collisions with authorities, e.g. ```UsersAndGroupsSearchProvider``` as well as the ```ManageSpaceActivity```.

The later has been fixed (for us) by using the full qualified name of the class but I think it would be best, if we move these two (and any other that may need to be moved) to a

[2016-07-14 15:10] jancborchardt commented on #109
Ok, let’s do it! :)

[2016-07-14 15:11] jancborchardt commented on #127
For sure selecting text should be possible when viewing a text file! :)

(In the long term even editing should be possible, but that’s a separate issue. ;D

[2016-07-14 16:03] jancborchardt commented on #129
Sounds good, yeah.

[2016-07-14 19:26] tobiasKaminsky commented on #117
This is a must have for the next release!

[2016-07-14 20:38] AndyScherzinger commented on #117
I second that!

[2016-07-14 21:59] przybylski commented on #117
Ill have a look than over the weekend.

[2016-07-14 22:00] przybylski commented on #129
ok to me

[2016-07-14 22:02] LukasReschke commented on #118
So you need a system like "broken-ssl.cloud.wtf" that would have a self-signed SSL certificate? If yes  please write "YES" and I shall get you something 😉

[2016-07-14 22:04] AndyScherzinger commented on #129
Sweet let's when we find the time to do this. We either can get it into 1.2.0 or should maybe do a 1.2.1 depending on how long it'll take us to implement 1.3.0

[2016-07-14 22:06] AndyScherzinger commented on #118
YES

But it probably needs to be investigated by @przybylski or @tobiasKaminsky since the instant upload is broken in Android N Preview 4 and I haven't found the time to further look into this matter :(

[2016-07-14 22:07] przybylski commented on #118
I would love to fix that, but I have no android device :D maybe i'll borrow one from a friend and fix this ugly bug.

[2016-07-15 08:15] exokkk opened #131 "Requesting delta-sync in longterm"
Delta Sync would be great for my truecrypt/veracrypt huge files (~30-100gb). Without delta sync I must stay absent from this product.

Delta Sync would also provide you a feature to distinguish from owncloud

[2016-07-15 16:40] AndyScherzinger commented on #131
Hi @exokkk I get the idea but I am not sure if this is a use case for Android devices but rather desktop sync.

If so the best thing would be to open this issue in the desktop client's issues tracker.

[2016-07-15 17:42] exokkk commented on #131
Hi, woooops I didnt realize the "android" at all. Sorry.
Thanks for the reply, I'll move on ;-)

[2016-07-15 17:42] #131 closed

[2016-07-15 17:59] AndyScherzinger commented on #131
No worries, glad I could help clearing things up :+1:

[2016-07-16 06:14] tobiasKaminsky commented on #117
PR: #132

[2016-07-16 06:17] tobiasKaminsky opened #133 "Account is shown twice"
### Actual behaviour
- fresh installation
- adding account
- account is shown twice in account list

### Expected behaviour
- show account only once

### Steps to reproduce
1. fresh installation
2. adding account
3. account is shown twice in account list

[2016-07-16 07:10] tobiasKaminsky commented on #127
PR #134
For editing text file there is already an issue.

[2016-07-17 07:30] przybylski commented on #133
nextcloud and owncloud simultanously installed?

[2016-07-17 11:20] tobiasKaminsky commented on #127
Merged, will be in next release.

[2016-07-17 11:20] #127 closed

[2016-07-17 11:22] tobiasKaminsky commented on #133
No, it is an emulator with only nextcloud, but also nextcloud-beta.
Do you think this is a problem?

[2016-07-17 15:26] tobiasKaminsky commented on #106
I have no idea who/why it was changed. Are you sure that this already was in master and not in beta?
But...here is the PR: #135

[2016-07-17 15:30] tobiasKaminsky commented on #114
@jancborchardt your comment please.
Then the sort order would be folder based.
Should it auto descend to sub folders like the grid/list view is doing it currently?

[2016-07-17 15:31] #99 closed

[2016-07-18 05:37] tobiasKaminsky commented on #111
How is this "remove read permission" done:
https://doc.owncloud.org/server/8.2/developer_manual/core/ocs-share-api.html#create-a-new-share
1 = read; 2 = update; 4 = create; 8 = delete; 16 = share; 31 = all

are those values summed up like chmod (1, 2, 4)?
Or can I explicitly remove read?

[2016-07-18 05:40] tobiasKaminsky commented on #110
There is also an issue in owncloud regarding this.
When will Android N be released? By that date we need to have a solution.

[2016-07-18 05:42] tobiasKaminsky commented on #110
https://developer.android.com/preview/features/background-optimization.html

[2016-07-18 07:52] AndyScherzinger commented on #111
Besides the necessary app change we might then also need a library change to support this.

[2016-07-18 07:58] tobiasKaminsky commented on #111
I do not think as we can currently edit the permission value mentioned above.
So it is only a question to which value I have to change it and not how I can do it ;)

[2016-07-18 08:02] tobiasKaminsky commented on #119
@c0fe this is already in the app.
Please have a look and if it not fits your needs please explain them a little bit more.

[2016-07-18 09:10] AndyScherzinger commented on #117
Tested and being included in the upcoming 1.2.0

[2016-07-18 09:10] #117 closed

[2016-07-18 09:27] GregSutcliffe commented on #118
So this happened again, against my proper-SSL system. The scenario was that I re-installed my phone with latest Cyanogen (i9100 CM13 2016-07-17 nightly), which of course wiped out my user configs. Re-installed NextCloud, added my account, fine. Then:

* Took photo - instant-upload failed
* Tried manually uploading photo to InstantUpload/07 - failed
* Gave it a stern glare (this step optional :p)
*

[2016-07-18 10:26] jancborchardt commented on #127
@tobiasKaminsky aaawesome, that was quick! :) Great work

[2016-07-18 10:27] jancborchardt commented on #106
Maybe it was only in beta, but in any case the folders and files should be mixed. :) Thanks!

[2016-07-18 10:28] jancborchardt commented on #114
It should definitely work as before – remember the sort order for a folder, and apply that for all subfolders too.

[2016-07-18 10:56] Bugsbane commented on #26
I've read most of this thread, although I'll admit not every word. Originally the "move/copy" feature was largely introduced stemming from an issue I filed on the ownCloud app. It was closed because adding the move/copy option seemed to fulfil the need that caused me to post the issue. However, on actually using the move/copy feature, I discovered that it *doesn't* cover what I needed it to do, wh

[2016-07-18 12:58] AndyScherzinger opened #136 "Transifex Updates seem to not work"
@MorrisJobke @LukasReschke can you have a look at this? We only had 1 push into the repo a couple of days ago and whenever I open transifex the last update on _all_ languages is current day 12:32a.m. so it seems something is not functioning correctly :(

[2016-07-18 13:01] nickvergessen commented on #120
well we can also adjust the regex with the next major?

[2016-07-18 13:23] AndyScherzinger commented on #120
to late ;) Plus this way the app stays compatible with ownCloud.

[2016-07-18 13:24] MorrisJobke commented on #136
I will check that later. Thanks for the pointer.

[2016-07-18 13:30] MorrisJobke commented on #136
5ef50c6658a9a8767c65bda4f56306c4cec47c57

I adjusted the script to force pull translations (to always overwrite the local one, because a fresh clone always has a newer timestamp on the files 😵 )

[2016-07-18 13:30] #136 closed

[2016-07-18 13:34] AndyScherzinger commented on #136
That's true :smile:
So will the script also auto push the master (values/strings.xml) _TO_ transifex?

[2016-07-18 13:36] MorrisJobke commented on #136
Yes :)

See https://github.com/nextcloud/docker-ci/commit/eb8a06647c413dc1ebf8aad137a3a621e6a43e0d for the force pull and https://github.com/nextcloud/docker-ci/blob/master/translations/handleTranslations.sh is the script for the server - this is used with a different git URL for the android repo (and without the perl magic).

[2016-07-18 13:38] AndyScherzinger commented on #136
Sweet! :)
Thanks for all the infos and explanation :)

[2016-07-18 15:17] tobiasKaminsky commented on #118
There is logcat, which can be read with rooted apps.
This would be very helpful, if there is something related to it in the logs.

[2016-07-18 15:19] tobiasKaminsky commented on #114
There is no "as before".
Currently we are storing the sort order globally and the view state folder based with descending to sub-folders.
Then we will do it the same way.

[2016-07-18 15:36] tobiasKaminsky commented on #129
Merged

[2016-07-18 15:36] #129 closed

[2016-07-18 15:42] tobiasKaminsky commented on #103
Yeah, beta is currently out of sync as there are too many changes :/
I hope to get a real beta update soon.

[2016-07-18 17:48] tobiasKaminsky commented on #111
So this is working :)
I have just to do some minor UI things.

[2016-07-18 18:58] tobiasKaminsky commented on #56
Also we should have some kind of test plan for every new feature we are developing.
Does anyone has a best practice for this?

[2016-07-18 18:58] tobiasKaminsky commented on #56
@AndyScherzinger @jancborchardt @LukasReschke @przybylski

[2016-07-18 19:02] przybylski commented on #56
what sort of tests we want to have?
UT?
Monkey tests?
Other?

[2016-07-18 19:31] AndyScherzinger commented on #111
Happy to help with any kind of UI implementation necessary :)

[2016-07-19 08:54] AndyScherzinger commented on #136
@MorrisJobke can I get full access to the translations on transifex to fix user translation mistakes?
see: https://github.com/nextcloud/android/commit/7f9cf817a734c73b815351fadb1de25b8f665b38
The translators double escaped the Strings :disappointed:     ```\n``` --> ```\\n```

[2016-07-19 09:07] MorrisJobke commented on #136
Let me check that.

[2016-07-19 09:09] MorrisJobke commented on #136
Looks like a transifex bug:

<img width="575" alt="bildschirmfoto 2016-07-19 um 11 08 42" src="https://cloud.githubusercontent.com/assets/245432/16944496/348d43f6-4da1-11e6-88e4-a4f8a6dcf631.png">

[2016-07-19 09:12] MorrisJobke commented on #136
I reported it to transifex. Let's see what they answer.

[2016-07-19 09:22] AndyScherzinger commented on #136
Thanks! :smiley: :+1:

[2016-07-19 11:50] MorrisJobke commented on #136
To fix this the rich editor needs to be disabled (gear icon -> "Enable Rich/Raw editor" and then you have a switch visible that allows to turn of the Rich editor).

The weird thing is, that if you fix the \n, save it and switch back to the rich editor it looks exactly the same. I just wrote them this back and will post the answer then here:)

[2016-07-19 11:59] AndyScherzinger commented on #136
Thank you for your effort @MorrisJobke !

[2016-07-19 13:54] AndyScherzinger commented on #110
There is no official date yet, probably sometime around September.

[2016-07-19 14:24] MorrisJobke commented on #136
It seems that this is the only way to address the issue :( Every translator needs to be aware of this. @AndyScherzinger I will give you the rights to adjust the translations

[2016-07-20 14:58] AndyScherzinger commented on #133
Haven't had this behavior or at least didn't recognize it. Will have a look.
Is this a 1.2.0 thing or could we postpone it to 1.2.1 or 1.3.0 (or 1.2.0 after an RC1 for example)?

[2016-07-20 15:00] tobiasKaminsky commented on #133
currently master I guess.
We can fix it while doing RC1 as it is a minor bug

[2016-07-21 15:41] tobiasKaminsky opened #139 "Motivate more users for RC testing"
Show somewhere in the setting a direkt link to register for beta channel (RC) testing on play store.
@jancborchardt @AndyScherzinger

PR: #239

[2016-07-21 15:52] AndyScherzinger commented on #139
atm we have 197 registered testers in the Play store beta program

[2016-07-21 15:54] AndyScherzinger commented on #127
RC1 is out and contains this change for testing :)

[2016-07-21 16:00] AndyScherzinger opened #140 "instant upload bug - no account"
related to #25

It seems one issue has been found with this one: If the user enables the instant upload and doesn't change the default folder, no account is saved as target account and the upload is not done. The broadcast receiver logs:

[code]

[2016-07-21 16:31] tobiasKaminsky commented on #139
This is really great, but how many are reporting back to us?

[2016-07-21 18:13] tobiasKaminsky commented on #70
after #69

[2016-07-21 18:43] tobiasKaminsky opened #145 "Upload -> no possibility to go back"
When I select "Uploads" in main menu, tapping on "All files" or "Uploads" doesn't do anything.
Other than that, switching between the two works ok.

[2016-07-21 18:52] tobiasKaminsky commented on #145
@AndyScherzinger this is yours ;)

[2016-07-21 20:15] AndyScherzinger commented on #145
I'll have a look.

Big Thank you for reporting this!!! Sorry for any inconvenience caused!

[2016-07-21 20:18] AndyScherzinger commented on #145
Any info on device and Android version?

[2016-07-21 23:51] przybylski commented on #133
I cannot reliably reproduce, I did saw this issue once

[2016-07-22 09:36] AndyScherzinger commented on #139
I guess around 2-3? At least that is round about the number of people who have reported issues. Else I just check the d3ev console for any crashes and ANRs.

[2016-07-22 11:39] jospoortvliet commented on #53
At least, for starters, we could make it random.

[2016-07-22 12:35] jancborchardt commented on #56
@przybylski if you have experience with it, what do you recommend? :)

@AndyScherzinger @stoyicker @David-Development @zmatsuo @strugee do you have any experience with it?

[2016-07-22 13:22] stoyicker commented on #56
I have worked on writing tests for an SDK, and I would definitely recommend to thoroughly test android-library if it's not being done already, can't really remember.

As for the app itself however, that's going to be daunting - I don't think I recall this app using DI, and without that, injecting test data in non-trivial cases will be very hard or even impossible at times. https://github.com/JakeW

[2016-07-22 13:45] tobiasKaminsky commented on #139
Yeah, and this is the reason why I think that having more RC tester gets us more feedback ;-)
But maybe I am wrong and people are lazy ;)

[2016-07-22 13:47] tobiasKaminsky opened #147 "More developers"
Do you have any idea how to get more (community) developer to support us in enhancing the app?
Posting on help.nextcloud.org is maybe not the ideal way as there are many end users...?

[2016-07-22 13:48] AndyScherzinger commented on #56
Unfortunately I don't but would agree with @stoyicker that the library needs to be thoroughly tested since it is/might-be used by others which gives it some importance.

Since the implementation hasn't had the focus on testability up to now the automation (without using a real back end) will be tricky, complex or impossible in some situations.

But even just with a real backend which isn't perfect

[2016-07-22 13:51] AndyScherzinger commented on #147
I don't unfortunately...but yeas, having more Android developers would help quite a lot since most changes are done by 3 people which only gives us a certain speed where I think we could be _even_ faster than we are today with more people.

cc @jospoortvliet Any idea or channels at hand to attract more Android developers. Looking at the app store people seem to love what we do here but it is still

[2016-07-22 15:04] tobiasKaminsky commented on #145
I have reproduced it with an emulator and android 6.

[2016-07-22 16:12] exit91 opened #149 "DJVU files are not handled correctly"
### Actual behaviour
- NextCloud considers djvu files to be images, that is, if I click on one, NextCloud tries to show a preview (and fails to display it -- but that is another matter).

### Expected behaviour
- When clicking on a djvu file, nextcloud should provide me with a list of apps which can open this file.

### Environment data
Android version: 5.0

Device model: Samsung Galaxy Note 3

St

[2016-07-22 16:21] AndyScherzinger commented on #149
Hi @exit91 thanks for reporting this issue.
Can you provide us a sample djvu file and name an app that would be able to open such a file? That would help us to fix this quicker :)

[2016-07-23 07:10] supportreq commented on #60
@AndyScherzinger when will this be live?

[2016-07-23 07:33] AndyScherzinger commented on #60
Hi @supportreq none of us has started with this yet. So I can't give you any date yet. Cc @tobiasKaminsky @przybylski

[2016-07-23 08:42] tobiasKaminsky opened #150 "Release x.y.z - Roadmap"
- [ ] Bump version name and version code in AndroidManifest.xml
- [ ] Update CHANGELOG.md adding new features
- [ ] RC1: tag new version as rc-x.y.z-01 (YYYY-MM-DD)
 - [ ] Verify that the new version number is shown in settings
 - [ ] Build and release to Play Store as beta release and :shipit:
 - [ ] Publish it on f-droid as optional release: edit metadata and open new merge request on gitlab
- [

[2016-07-23 08:49] tobiasKaminsky opened #151 "Release 1.2.0"
- [x] Bump version name and version code in AndroidManifest.xml
- [x] Update CHANGELOG.md adding new features
-  RC1
 - [x] Verify that the new version number is shown in settings
 - [x] tag new version as rc-1.2.0-01 (2016-07-21)
 - [x] Build and release to Play Store as beta release and :shipit:
 - [x] Publish it on f-droid as optional release: edit metadata and open new merge request on gitlab

[2016-07-23 08:50] tobiasKaminsky commented on #150
Dummy roadmap used for all further releases.

[2016-07-23 11:14] tobiasKaminsky commented on #60
PR: #60

[2016-07-23 11:46] tobiasKaminsky commented on #149
PR: #153

[2016-07-23 16:14] GregSutcliffe commented on #118
I'm going to wipe my phone again for various reasons sometime next week - if I can reproduce it I'll grab the logcat output.

[2016-07-23 16:31] Xparx opened #154 "Client should respect metered WiFi networks"
### Actual behaviour
Photos and videos are uploaded on Metered WiFi networks even when the option "upload only on WiFi" is selected.

### Expected behaviour
The app should treat metered network as mobile networks.
 When options not to upload is selected no photos should be automatically uploaded.

### Steps to reproduce
1. Turn on upload photos.
2. Turn on metered networks in WiFi settings on Andr

[2016-07-23 21:54] michalmiddleton commented on #145
There issue was on Android 6.0.1 on Nexus 6p. Sorry for not being specific..

[2016-07-23 22:01] AndyScherzinger commented on #145
No worries @michalmiddleton, This is going to be fixed in the next release candidate :+1:

[2016-07-23 23:51] GregSutcliffe commented on #118
Ok, so I actually did this tonight, and I think I've got to the bottom of it....

The app correctly requests permission to access the filesystem when you first open it, but not all permissions get correctly set up. If I watch logcat when doing a manual upload, I get:

[code]

Which seems to imply it can't create a temporary file or something, from my limited understanding. However, I then went to

[2016-07-24 05:45] tobiasKaminsky commented on #145
This is now in RC2, available soon.

[2016-07-24 05:45] #145 closed

[2016-07-24 05:53] tobiasKaminsky commented on #154
Is there a way to see if a wifi is metered or not from within android?

[2016-07-24 08:32] AndyScherzinger commented on #154
AFAIK this should help

http://developer.android.com/reference/android/support/v4/net/ConnectivityManagerCompat.html#isActiveNetworkMetered(android.net.ConnectivityManager)

[2016-07-24 09:31] minils opened #155 "[RC1] Can't switch from "Uploads" to "All Files""
### Actual behaviour
- Using the left drawer to switch from "All Files" to "Uploads"
- App switches to the "Uploads" view
- After tapping "All Files" in the left drawer the app stays in the "Uploads" view

### Expected behaviour
- Using the left drawer to switch from "All Files" to "Uploads"
- App switches to the "Uploads" view
- After tapping "All Files" in the left drawer the app switches to the

[2016-07-24 09:34] minils commented on #155
Sorry this is a duplicate of https://github.com/nextcloud/android/issues/145.

[2016-07-24 09:59] tobiasKaminsky commented on #154
So there would be an additional option: "upload on metered wifi", which is off by default.
It will affect both instant upload: video and image.

cc: @jancborchardt @przybylski

[2016-07-24 10:01] tobiasKaminsky commented on #155
No problem, thanks for reporting :+1:
We will release a RC2 soon.

[2016-07-24 10:01] #155 closed

[2016-07-24 10:19] tobiasKaminsky opened #156 "Thumbnails: always load the current visible ones"
### Actual behaviour
- loading of current thumbnail takes very long
### Expected behaviour
- instant show current visible thumbnails
### Steps to reproduce
1. open folder with > 500 not yet loaded thumbnails
2. jump to several points in this folder
3. thumbnails are loaded in this order, the current thumbnails seem to be added to the end of the queue.

[2016-07-24 10:32] Xparx commented on #154
Thanks for taking the time to look at this.
The only other app I know that this has an effect on in relation to photo upload is Google photos. It will not upload when the WiFi is metered.
Alternativ solution would be to either only upload on specific WiFi or pause syncing for an extended period.

[2016-07-24 13:46] naseweis520 opened #157 "Wrong Federated-Cloud-ID displayed"
### Actual behaviour
App displays Federated-Cloud-ID by putting together entered username and host (= \<enteredUsername>@\<host>).

### Expected behaviour
Because I've set up a login backend based on [user_external](https://github.com/owncloud/apps/tree/master/user_external), my actual username and the entered username, thus the local-part of my Federated-Cloud-ID, differ. The app should request t

[2016-07-25 05:56] kintrupf opened #158 "Massive battery drainage and mobile data use after first usage"
I freshly installed the nextcloud app, connected it to my owncloud server and uploaded one small file of about 100 kb. Worked without any problems.
However, after a few hours I noticed that my phone has lost a lot more battery power than usual for the time span. According to the battery statistics the nextcloud app has used over 30% of the battery since I installed it a few hours ago. Furthermore,

[2016-07-25 15:49] tobiasKaminsky opened #159 "Resume chunked upload"
When failing to upload a really big file nextcloud app should resume and not start fresh with 0%.

[2016-07-25 21:17] strugee commented on #56
@jancborchardt unfortunately I don't. Don't have enough experience with Android :)

Good thing other people here do.

[2016-07-26 07:36] jancborchardt commented on #154
@tobiasKaminsky I’d definitely avoid a separate setting for that as it’s sooo specific. Most people will not even know what a »metered wifi« is (I sure didn’t). We should simply treat metered wifi networks as mobile networks as @Xparx said Google Photos does as well. Keep it simple.

[2016-07-26 08:39] AndyScherzinger commented on #154
I second treating metered wifi networks like cellular networks.

[2016-07-26 08:40] exit91 commented on #149
I am using "Document Viewer" (fork of EBookDroid) as DjVu viewer
(see [Google Play](https://play.google.com/store/apps/details?id=org.sufficientlysecure.viewer)
or [F-Droid](https://f-droid.org/repository/browse/?fdfilter=document+viewer&fdid=org.sufficientlysecure.viewer))

As for an example file, take the [DjVu3 reference](http://djvu.org/docs/DjVu3Spec.djvu).

[2016-07-26 08:56] AndyScherzinger commented on #149
(see https://play.google.com/store/apps/details?id=org.sufficientlysecure.viewer
or https://f-droid.org/repository/browse/?fdfilter=document+viewer&fdid=org.sufficientlysecure.viewer)

[2016-07-26 14:15] jancborchardt commented on #56
@stoyicker thanks! @strugee no worries. :)
Btw you were both added to the Nextcloud Android team, you just need to accept it at https://github.com/nextcloud to join. :rocket:

[2016-07-26 16:25] tobiasKaminsky commented on #154
Then we have a solution :+1:

[2016-07-26 16:41] tobiasKaminsky commented on #149
I have tested it.
The djvu file is now downloaded instead of treated as image and the ebook reader is part of the suggested apps (along with image apps)

[2016-07-26 16:44] AndyScherzinger commented on #149
Awesome :+1:

[2016-07-26 17:14] tobiasKaminsky commented on #26
So to get up to it again ;-)

I understand from all posts that
- the duplicating the file is useless.
- just upload is needed
- for backup: uploading & deleting from phone is wanted

For me the use case "upload & move to nextcloud app folder" is still valid, especially for images:
- I take a photo
- it gets uploaded and moved to nextcloud folder
- it is still in gallery app visible, so I need not

[2016-07-26 17:28] tobiasKaminsky opened #160 "Rename "Upload path""
https://help.nextcloud.com/t/nextcloud-android-phone-app-upload-path-problems/1882/7

rename "upload path" to "Instant upload folder"

cc @jancborchardt @AndyScherzinger

PR: #162

[2016-07-26 17:30] AndyScherzinger commented on #160
Perfect to me :+1:

[2016-07-26 17:31] AndyScherzinger commented on #160
Same applies for the video upload path

[2016-07-26 17:32] AndyScherzinger commented on #26
Great summary and sound right to me!

[2016-07-26 17:44] jasonbayton commented on #26
I'm ok with that

[2016-07-26 17:54] tobiasKaminsky commented on #154
I cannot test it, but the normal upload on wifi is working.
ref: #161

@Xparx when we have a 1.3.0 RC1 please help us testing this feature

[2016-07-26 17:57] tobiasKaminsky commented on #160
Good catch!

[2016-07-26 18:00] AndyScherzinger commented on #154
@tobiasKaminsky you should be able to for example by tagging your own private wifi as metered.
I can test that too as soon as I am feeling better.

[2016-07-26 18:05] AndyScherzinger commented on #154
Just got to settings, data usage, at the bottom you will find network restrictions :)

[2016-07-26 18:07] PanicDriven commented on #26
That would be awesome. But for manually uploading a file, when you say "only upload" that means the original file / files would remain in its current location on the device, or be deleted from the local storage?

I would be very happy with that system. But if it wouldn't be too much trouble. An option to have it delete the file/ files from local storage when they're successfully uploaded for manua

[2016-07-26 18:10] tobiasKaminsky commented on #154
Thanks, then the feature is working :)

[2016-07-26 18:12] AndyScherzinger commented on #154
Sweet, so to also tested with metered wifi now? :)

[2016-07-26 18:14] tobiasKaminsky commented on #26
only upload: just plain upload, original file will stay untouched in the original folder
third option is ok to me, I'll add it.

[2016-07-26 18:15] tobiasKaminsky commented on #154
Yes :+1:

[2016-07-26 18:17] AndyScherzinger commented on #154
Awesome!!!

[2016-07-26 18:17] tobiasKaminsky opened #163 "Changing back to "all files" should go to latest folder"
### Actual behaviour
- root folder is shown

### Expected behaviour

- folder A/B/C is shown

### Steps to reproduce
1. go to folder A/B/C
2. drawer -> on device
3. dawer -> all files

[2016-07-26 18:54] AndyScherzinger commented on #163
Can't you only switch between them in the root folder anyways?!

[2016-07-26 18:55] Xparx commented on #154
Wow, that was fast :)! Currently my server is down but I will test as soon as as I'm back home @tobiasKaminsky. It seems like you got it though. Really awesome!

[2016-07-26 18:57] AndyScherzinger commented on #154
@Xparx it will be scheduled for 1.3.0 though!

[2016-07-26 18:58] tobiasKaminsky commented on #163
A/B/C are subfolders or what do you mean?
I just wanted to point out that I am deep in the hierarchical file system and do not want to navigate back to this just because I have switched between on device / all files.

[2016-07-26 19:08] AndyScherzinger commented on #163
I meant that the switching is in the drawer which is only accessible in the root folder.

[2016-07-26 19:33] PanicDriven commented on #26
Awesome! Very excited about this. I'll test or contribute how ever I can.
.

[2016-07-26 19:37] Xparx commented on #154
Ah, perfect! @AndyScherzinger this is a big one for me. Really appreciate it.

[2016-07-26 19:40] strugee commented on #56
@jancborchardt cool! But I'm not sure why? I've never done that much more than file issues/suggest UX improvements from time to time.

[2016-07-26 19:41] AndyScherzinger commented on #154
Sure thing. I just wanted to provide some information on the release schedule to manage expectations here.  A final 1.3.0 might still be a month away,  a release candidate probably around 2-3 weeks.

[2016-07-26 19:44] tobiasKaminsky commented on #163
Damnit :/ :/
This is working.
What I meant is that if I am in a sub/sub/subfolder and switch to uploads and back to "all files" I am in the root folder.
But I figured out that I can click back when in uploads and then I am in the previous folder.

So...very confusing from me...and closing ;)

[2016-07-26 19:44] #163 closed

[2016-07-26 19:54] Xparx commented on #154
I figured something like that, as it was two version ticks off my version. No worries.

[2016-07-27 07:10] AndyScherzinger commented on #155
@minils did you already have a change to test the RC2 and if so can you confirm it is working now? :)

[2016-07-27 07:11] minils commented on #155
It's working 👍

[2016-07-27 09:59] jancborchardt commented on #154
@Xparx cool! :) Any input and especially help in reviewing pull requests is always appreciated.

[2016-07-27 10:00] jancborchardt commented on #56
@strugee which is very important :) not only devs are team members.

[2016-07-27 15:27] MorrisJobke commented on #65
It is live -> closing

[2016-07-27 15:27] #65 closed

[2016-07-27 15:28] MorrisJobke commented on #65
See 0626040e7bda0b6d3cc5542a07205a20fbb348bc for example :)

[2016-07-27 18:16] EDavidF commented on #24
I am not a coder, so apologies in advance, but could a script be written that would:

a) grab NextCloud, DavDroid, other apps from F-Droid;
b) take URL, login and password and pass them to all apps;
c) if needed, grab CAdroid for the many who use self-signed certs;
?

Maybe as an in-between until the many bits (pun intended) get combined...

[2016-07-27 19:51] tobiasKaminsky commented on #159
Hurray :)
I guess it is not exactly clear from the description above, but this allows us to resume broken uploads on exactly the same position and not to waste time / traffic!
This is now implemented and working :) :)
I will release a PR soon.

[2016-07-27 19:56] strugee commented on #56
Very true! :)

Thanks!

[2016-07-27 21:33] AndyScherzinger commented on #159
Awesome job @tobiasKaminsky :100:

[2016-07-28 07:54] AndyScherzinger commented on #105
Do you have any idea @tobiasKaminsky @przybylski? This has been reported 6 times in the last 7 days, so I guess it might happen even more often than that... :(

[2016-07-28 13:26] AndyScherzinger commented on #60
Hi @supportreq the feature has been implemented and is now in code review, so 1.3.0 is a quite save assumption. Thus around end of August, beginning of September :rocket:

[2016-07-28 13:54] AndyScherzinger commented on #139
we are now at 248 enrolled testers

[2016-07-28 14:10] jancborchardt opened #165 "Hide hidden folders & files in uploads view"
See https://github.com/nextcloud/android/pull/152#issuecomment-235889677

We should hide those by default. Maybe we can add a 3-dot menu with a checkbox entry »Show hidden files« to show them as we do in the web interface.

[2016-07-28 14:12] jancborchardt commented on #60
Which is damn awesome work by you folks by the way. We’re getting some really great useful & anticipated features in! :)

[2016-07-28 14:14] jancborchardt commented on #139
Starting with the stupid questions: Where is it possible for a user to enrol in the testers program when you use the normal app from the play store?

I would likely stay away from popovers, but for the beta we could add something like a more present sidebar entry next to »Settings« to »Send feedback«.

[2016-07-28 14:19] AndyScherzinger commented on #139
Just go here :) --> https://play.google.com/apps/testing/com.nextcloud.client and enroll :)

[2016-07-28 14:20] AndyScherzinger commented on #60
Thanks! :) Except for the "eierlegende Wollmilchsau", we are still missing that one :wink:

[2016-07-28 14:25] AndyScherzinger commented on #165
Some questions do get a better understanding of this... details ;)
* What characterizes a hidden file?
* Everything starting with a dot?
* Does this also apply for hidden folders (in case we have something like that) too?
* What is meant by uploads view: view to choose what to upload or view to choose where to upload to? (unfortunately both are called upload views at the moment, plus we have the u

[2016-07-28 15:12] jancborchardt commented on #165
Starting with dots, yes. What’s the logic on the server @Morris @schiessle?
And yes, both folders and files. And any view I would say. Even when browsing your own files. Then the »Show hidden files« could be in the 3-dot-menu in any view.

[2016-07-28 15:13] jancborchardt commented on #165
(Off by default, hidden files should be hidden of course.)

[2016-07-28 15:27] AndyScherzinger commented on #165
@jancborchardt so to be consistent with the server or rather with the web UI should we than just also put this into the settings instead of the menu on the different views?

[2016-07-28 15:32] schiessle commented on #165
@AndyScherzinger just to avoid confusions. It is not in the global setting menu (admin or personal settings) but in the files app setting at the bottom left:

![menu](https://cloud.githubusercontent.com/assets/1589737/17218747/34b29f1c-54e9-11e6-954d-6e062615a4a7.png)

I think it is important that the setting is at a place where people can access it easily to toggle the state without leaving the c

[2016-07-28 15:41] AndyScherzinger commented on #165
I'd say in the settings screen. Putting it in the menu seems like a too prominent place for an action you probably only use once, never or every couple of weeks/ months. @jancborchardt ?

[2016-07-28 16:13] tobiasKaminsky commented on #139
@jancborchardt can you make a suggestion?

[2016-07-28 16:31] tobiasKaminsky commented on #159
Library: https://github.com/nextcloud/android-library/pull/6
PR: https://github.com/nextcloud/android/pull/168

[2016-07-28 16:36] AndyScherzinger commented on #159
Code review done!

[2016-07-28 17:10] jancborchardt commented on #139
@tobiasKaminsky yeah, what do you think about what I said above?

[2016-07-28 18:49] tobiasKaminsky commented on #139
I guess my brain is overloaded...I do not get it...
In the drawer a new entry with...what? "Try our RC"?
And which beta? Beta in fdroid  is bleeding edge, whereas play store beta are our RCs...

[2016-07-30 11:16] tobiasKaminsky commented on #26
To show three options I would like to use a spinner: https://developer.android.com/guide/topics/ui/controls/spinner.html
Any better idea? :)

[2016-07-30 11:17] tobiasKaminsky commented on #26
The chosen setting will be remembered

[2016-07-30 14:04] tobiasKaminsky commented on #139
@jancborchardt
How about a new entry "Participate" in sidebar below "Settings".
This should be visible in regular app.
In it:

Help us testing.
We offer two different previews of the upcoming version:
**Beta version**
This includes all upcoming features and is very bleeding edge. Bugs/errors can occur and if so please report them back to us.
- Fdroid Beta Link

**RC candidate**
A release candidate

[2016-07-30 16:39] tobiasKaminsky opened #170 "Upload view: no thumbnail"
### Actual behaviour
- No thumbnail is shown
### Expected behaviour
- Show thumbnail
### Steps to reproduce
1.  Take a picture
2.  Go to upload view

Branch: master

[2016-07-30 17:30] tobiasKaminsky opened #172 "Check once a day for new beta version and show toast"

[2016-07-30 17:33] #40 closed

[2016-07-30 17:33] tobiasKaminsky commented on #78
This should be fixed both in beta and in official release.
@Bugsbane can you confirm?

[2016-07-30 17:35] tobiasKaminsky commented on #90
@gsurrel Can you update to the latest beta and try again?

[2016-07-30 17:36] tobiasKaminsky commented on #103
@hitam4450 please upgrade.
Now your desired feature and much more is available.

[2016-07-30 17:36] #103 closed

[2016-07-30 17:41] tobiasKaminsky opened #173 "Renaming in Preferences"
mPrefInstantUploadPathWiFi --> mPrefInstantUploadOnlyOnWiFi
Check if InstantUpload -> InstantPicture (will be in most cases, except upload behaviour)

[2016-07-30 17:56] tobiasKaminsky opened #174 "NPE in current Version"
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.io.File.getName()' on a null object reference
	at com.owncloud.android.ui.adapter.LocalFileListAdapter.getView(LocalFileListAdapter.java:113)
	at android.widget.AbsListView.obtainView(AbsListView.java:2347)
	at android.widget.ListView.makeAndAddView(ListView.java:1864)
	at android.widget.ListView.fillSpecific(L

[2016-07-30 17:57] tobiasKaminsky opened #175 "Local path must be an absolute path in the local file system"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.nextcloud.client/com.owncloud.android.ui.activity.UploadListActivity}: java.lang.IllegalArgumentException: Local path must be an absolute path in the local file system
    at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2464)
    at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2524

[2016-07-30 18:00] tobiasKaminsky opened #176 "android.os.TransactionTooLargeException"
java.lang.RuntimeException: Failure from system
    at android.app.ContextImpl.sendStickyBroadcast(ContextImpl.java:1021)
    at android.content.ContextWrapper.sendStickyBroadcast(ContextWrapper.java:509)
    at com.owncloud.android.syncadapter.FileSyncAdapter.sendLocalBroadcast(FileSyncAdapter.java:384)
    at com.owncloud.android.syncadapter.FileSyncAdapter.synchronizeFolder(FileSyncAdapter.java

[2016-07-30 19:16] tobiasKaminsky commented on #113
Can you help me and and explain where and what to set in the server environment to reproduce this behaviour?

[2016-07-30 20:30] tobiasKaminsky opened #177 "Download all thumbnails in one folder"
Download all thumbnails in one folder with one click -> three dots menu.
@jancborchardt should there be a notification for this which displays the progress?

[2016-07-30 21:42] AndyScherzinger commented on #173
Makes total sense! :+1:

[2016-07-30 21:57] jancborchardt commented on #177
That should be done automatically on entering the folder and not require an extra action. Or which thumbnails do you refer to?

[2016-07-30 23:03] Spacefish commented on #177
No, Thumbnails are only downloaded once you scroll down.. the disk cache has a limited size 8 Mbytes as far as I remember and the purge policy is LRU.  There might be folders which contain more than 8 MByte of thumbnails! Even if not, once you reach the 8 mb threshold, thumbs from other folders are evicted from the cache.

[2016-07-31 07:52] tobiasKaminsky commented on #177
This is a tricky one, I think...
As @Spacefish pointed out we have a limited (currently 10mb) cache with LRU.
In the next version it will be possible to resize the cache to any value.

The reason for the idea of downloading all thumbnails is that otherwise one have to scroll slowly through all images in one folder.
@jancborchardt proposal is problematic when you are on a limited network and it tak

[2016-07-31 09:25] tobiasKaminsky commented on #174
Happens when accessing an empty folder.
Fix is coming soon.

[2016-07-31 10:19] tobiasKaminsky commented on #26
PR: #178
everything in it as discussed, except when sharing a file to our app it remains only as copy with no option to move.
This is because a file could be shared from e.g. whatsapp and this file could not be deleted...

[2016-07-31 10:21] tobiasKaminsky opened #179 "Conference ToDo"
My personal wishes to getting done on the conference
- #50 / #84 (What's new screen)
- #34 (Search feature with /core Search API)
- Screenshot system: https://github.com/nextcloud/screenshots/pull/14 @stp-ip
- 2way sync / extend instand uploader
- how to deal with new owncloud content
- Bug hunting season
- start using new code style(?)

More ideas are welcome!

[2016-07-31 10:35] tobiasKaminsky commented on #174
PR: #180

[2016-07-31 10:37] tobiasKaminsky opened #181 "Empty local folder"
### Actual behaviour
- Folder name is shown as only item
### Expected behaviour
- "No content in here" should be shown.
### Steps to reproduce
1. Upload a file
2. choose an empty folder

Current master with applied #180

[2016-07-31 14:13] tobiasKaminsky opened #182 "Exception Handler: paste to github issue"
After crash make it possible to post the stacktrace directly to github.

[2016-07-31 15:42] Icantcodeatall commented on #147
You should tell people you are looking for developers, for example on the playstore or on twitter.
I'm sure people are willing to help but are not aware of what you need and what they can do, I may not be the smartest person on earth but I just figured out today that I could help with testing RCs...

[2016-07-31 15:50] tobiasKaminsky commented on #147
This is a draft which may be included in the navigation drawer as "Participate":
https://github.com/nextcloud/android/issues/139#issuecomment-236367059

But yes, writing on play store and twitter is the more direct way.
@jospoortvliet @jancborchardt

[2016-07-31 15:53] josh4trunks commented on #113
In my case chunking happens because I have Varnish in front of my nginx webserver compressing text files with gzip. I don't know how to reproduce this directly but maybe people in the owncloud bug know. possibly by enabling gzip chunked is used?

[2016-07-31 16:15] tobiasKaminsky commented on #113
I thought it is a supported server option...
With this I doubt that we can support this.

[2016-07-31 16:19] josh4trunks commented on #113
I believe there is a way to have chunked encoding without gzip enabled. It is part of the HTTP/1.1 specification.
But we can just wait till this is fixed in the ownCloud android client and apply the same changes.

[2016-07-31 23:29] PanicDriven commented on #26
@tobiasKaminsky Thank you, this looks amazing!

I'm fine without a delete option when sharing to the app.

[2016-08-01 05:46] tobiasKaminsky commented on #26
You can test it in the latest beta: https://github.com/nextcloud/android/tree/beta/apks

Regarding the move/delete option while sharing: I guess we can check if the file is writeable/deletable and only then show the option.

[2016-08-01 06:42] gsurrel commented on #90
I tried several times and at different moment (rebooted, fully synced...), I can't do a single write operation (delete file, folder not create one)

[2016-08-01 08:44] AndyScherzinger commented on #90
Hi @gsurrel can you try to update via f-droid using the latest published beta: 20160728 ? :smiley:

[2016-08-01 08:48] gsurrel commented on #90
It's the one I'm running, but nevermind, the host is down. I'll retry whenever they put the service back online.

[2016-08-01 09:08] AndyScherzinger commented on #90
Oh okay! Sorry to hear that :(

[2016-08-01 14:21] AndyScherzinger commented on #149
will be released with 1.3.0

[2016-08-01 14:21] #149 closed

[2016-08-01 16:54] corax205 commented on #20
I moved the data files with the beta from f-droid. It works fine! I moved ~5GB.

I like the Suggestion from tfl.
A bit more comfortable could it be, if the user can choose the complete storage path.

[2016-08-01 18:33] tobiasKaminsky opened #184 "Upload whole folder"
When uploading make it possible to choose the complete folder with all subfolder.

[2016-08-01 19:03] tobiasKaminsky commented on #26
Strange: even when I share a file with es file explorer the file is not writeable/deletable.
So this approach does not work.
--> It must stay the way it is now in beta.

[2016-08-01 19:14] #151 closed

[2016-08-01 19:16] tobiasKaminsky opened #185 "Upload view: switch to Grid view"
When choosing a file from within the app it should be possible to switch to grid view.

[2016-08-01 19:30] jasonbayton commented on #26
OK feedback:

Since we're changing things (yay!) can I ask for a few capital letters on these options? Little things I know, but makes a difference to me.

Default seems to be move over copy or just upload, on "first run" of the new selection interface should it maybe show a "Choose how to handle this file" type option?

Is there any way of making it look more like a selection menu? It seems rathe

[2016-08-01 19:51] tobiasKaminsky commented on #26
Thanks for your feedback @jasonbayton
The current status is more or less a proof of concept, so yeah design wise it is ugly as hell :/
This is something for @jancborchardt @AndyScherzinger

Open question:
- better wording
- which is default for very first upload
- better visibility of selection menu

Share from other app: it is not copying but only uploading it, so no duplicating.

[2016-08-01 19:53] jasonbayton commented on #26
OK well for PoC giant :+1:

Let's see what the others say :sunglasses:

[2016-08-01 21:03] AndyScherzinger commented on #26
Design wise Jan is the guru. The spinner seems right UI element wise.
Else we would need to have symbols representing these. Tricky and probably for a later version would be a spinner within the button but that is a tough task to get done since it is custom.

The default and initial value should imho be upload only.

[2016-08-02 05:18] strugee commented on #177
We should airways download all thumbnails on (non-metered?) WiFi. Otherwise I think the best design would be to download all thumbnails on screen, and a certain number off the bottom and top, in case the user scrolls.

@jancborchardt and others, thoughts?

[2016-08-02 05:48] childnode opened #186 "Unreliable / disfunctional (auto) sync with PIN code lock"
### Actual behavior
- File is not automatically updated if PIN/Code Lock is enabled
- File is not updated when opening app when marked for sync until you open the folder it is in
### Expected behavior
- You you setup Nextcloud/ownCloud without a PIN, all favorite files are downloaded when they change on Server
- File should update ... anyway... Enabling PIN / Code may not decline this function. Ev

[2016-08-02 06:27] strugee commented on #150
@tobiasKaminsky a better way to manage the changelog would be to just require that all major PRs include an entry under an "Unreleased" header. Then "update CHANGELOG.md above" becomes just "change 'Unreleased' to have a version number and date."

And, as a bonus, then people have a preview of what's already been implemented for the next release.

/cc @AndyScherzinger @przybylski

[2016-08-02 07:37] AndyScherzinger commented on #185
Good call, especially for the camera folder a quite useful feature! :+1:
Should put that in the three dot overflow menu imho.

[2016-08-02 07:46] AndyScherzinger commented on #177
## Download behavior
How about making it depend on the connection:
* metered wifi / cellular network: keep the actual download behavior for thumbnails
* unmetered wifi: download them all

## Cache size
Could we make this dynamic and choose a cache size during the first start of the app and maybe every once in a while?
* calculate cache size as: 5% of the available space but max 100MB?
* recalculat

[2016-08-02 07:51] AndyScherzinger commented on #186
@childnode I read two requirements here, please correct me if I am wrong:

* update all files marked for sync when you're in the app (as in right away) not when you navigate to the various folders these files might be located
* always update all files marked for sync as in don't treat PIN protected files differently

Any thoughts @tobiasKaminsky @jancborchardt ?

[2016-08-02 07:55] AndyScherzinger commented on #184
Sounds good to me!

I see two scenarios:
* select a folder: upload the folder and all its content including all sub folders (so the selected folder also gets created on the server)
* go into a folder with sub folders and choose "select all": no separate folder gets created, all selected files, folders, the content within the sub folders gets uploaded to the chosen location.

Any thought? @tobiasKa

[2016-08-02 08:04] AndyScherzinger commented on #150
@strugee makes sense process wise. We also discussed this vs. the all-in-one approach. Both have their up and downsides. Pro: people have a preview of what has already been implemented for the next release (and got merged) Con: All PRs will then have a merge conflict in the changelog when updating to latest master (can be prevented by doing the changelog part right before the merge). Already imple

[2016-08-02 14:55] strugee commented on #177
@AndyScherzinger sounds similar to what I said; +1

[2016-08-02 15:02] AndyScherzinger commented on #177
yes, I basically summed up the post and comments :)

[2016-08-02 15:05] jancborchardt commented on #177
@AndyScherzinger sounds good. No options, just automatic and fitting behavior. :)

[2016-08-02 15:05] jancborchardt commented on #177
@strugee @AndyScherzinger sounds good. No options, just automatic and fitting behavior. :)

[2016-08-02 15:06] Spacefish commented on #177
I wouldn't limit the Cachesize to 100mb. I would go with 5% and only if the
remaining free storage is <80% of the total device storage limit it to the
said 100mb.
If you look at the Google Fotos App, it will take multiple 100mb of Thumbs.

Am 02.08.2016 17:02 schrieb "Andy Scherzinger" <notifications@github.com>:

[2016-08-02 15:42] AndyScherzinger commented on #177
@jancborchardt @tobiasKaminsky I think the simpler version as described by @Spacefish by simply going for 5% as long as a certain device storage is still available would be best. I would change it a little and say:

* **>=40% of the total storage** are still available: set cache size to **5% of total storage size** of the device
* **< 40% of the total storage** are still available: set cache size

[2016-08-02 16:07] childnode commented on #186
@AndyScherzinger yes, that's correct

[2016-08-02 20:08] tobiasKaminsky commented on #26
So default on first start is "upload only", after that it is the last chosen value.

[2016-08-02 20:12] AndyScherzinger commented on #26
Awesome! :+1:

[2016-08-02 20:33] tobiasKaminsky opened #188 "Warning about possible incompatibility to ownCloud"
https://github.com/nextcloud/android/pull/141#issuecomment-236938290 @Spacefish

Good idea.
Should we, for now, mention the one and only thing (file drop) that is not compatible?

@jancborchardt @LukasReschke

[2016-08-02 20:35] tobiasKaminsky commented on #150
For me it does not matter.
The idea of @strugee has the advantage that we make sure that we do not forget something in the changelog.

[2016-08-02 20:38] AndyScherzinger commented on #150
If everything is properly assigned to a milestone we do have the list over there. That is what I used up to now to create the changelog entries.
But it doesn't matter to me neither.

[2016-08-02 20:39] AndyScherzinger commented on #188
I would go for it since it is a neat way to promote the Nc server in the app right in the context of the feature :)

[2016-08-03 02:29] Bugsbane commented on #78
Yep. I'm not seeing this regular crash any more.

[2016-08-03 07:22] AndyScherzinger commented on #78
@Bugsbane in beta, official or both? :smiley:

[2016-08-03 09:16] stonerl opened #189 "Background Syncing for the main account not working"
### Actual behaviour

I have two accounts added to the client. The main account (the one I have selected in the app) does not get synchronized. The second "inactive" does. See the pi

![tmp_18117-img_20160803_1800321529362149](https://cloud.githubusercontent.com/assets/2091312/17360362/3104a4ac-59a6-11e6-8758-0897512fca93.jpg)
### Expected behaviour

Both accounts should be synchronized.
### Steps

[2016-08-03 12:16] AndyScherzinger opened #190 "show/hide toolbar on scroll down/up"
Since we now have the toolbar in place (which replaced the legacy action bar) we can start implementing further material design thing like show/hide of the toolbar as described here: http://android-developers.blogspot.de/2014/10/material-design-on-android-checklist.html

If this general behavior is approved I would start working on an implementation on the main list which shows the files on server

[2016-08-03 14:10] AndyScherzinger commented on #160
merged already, so will be part of 1.3.0

[2016-08-03 14:11] #160 closed

[2016-08-03 15:00] tobiasKaminsky opened #191 "Chunked downlooad"
Investigate if and how chunked download is possible

[2016-08-03 15:09] tobiasKaminsky opened #192 "Release 1.3.0"
- [x] Bump version name and version code in ```AndroidManifest.xml```
- [x] Update ```CHANGELOG.md``` adding new features
-  **RC1**
 - [x] Verify that the new version number is shown in settings
 - [x] tag new version as rc-1.3.0-01 (2016-09-06) https://github.com/nextcloud/android/releases/tag/rc-1.3.0-01
 - [x] Build and release to Play Store as beta release and :shipit:
 - [x] Publish it on f-

[2016-08-03 15:39] childnode opened #193 "Allow cancel of pending upload in notification"
### Actual behaviour
- it is nearly unpossible to interrupt an upload
### Expected behaviour
- upload notification should be rich to get a cancel upload quick action
  -- canceling by 1. open the app, 2. enter the pin, 3. open hamburger menu, 4. tap uploads, 5. cancel upload by tapping (x) which (hopefully) works only on real fast devices, slow devices are busy by uploading and tapping does nothin

[2016-08-03 15:51] tobiasKaminsky commented on #190
This is a really cool feature :+1:
But let's wait for @jancborchardt ;)

[2016-08-03 15:53] tobiasKaminsky commented on #47
@squiggie are you still up to and want to contribute?
If you have any question you can just join #nextcloud-mobile on #freenode and ping me.

[2016-08-03 16:02] tobiasKaminsky commented on #78
Was only in beta, so closing  :)

[2016-08-03 16:02] #78 closed

[2016-08-03 16:03] tobiasKaminsky commented on #185
And the view should be saved and restored as the next view, just like everywhere else.

[2016-08-03 16:19] tobiasKaminsky commented on #177
Download behaviour is fine for me. But we have to ensure that it does not delay any other task, e.g. downloading a file or fetching a resized image.

Cache size: I would not set any limit, but increase it dynamically.
The cache size will also be adjustable with #144
So the current maximum should be displayed there with an information that it is increasing automatically.
If a user sets a value this

[2016-08-03 16:22] tobiasKaminsky commented on #184
:+1:

[2016-08-03 16:55] gsurrel commented on #90
It's working, indeed. It is really slow for my test folder of ~400 files (as in "Delete one, wait around 2 seconds, refresh displayed list, continue to next element to delete") but it works.
Thanks

[2016-08-03 17:15] AndyScherzinger commented on #154
Merged and will thus be part of the next feature release :rocket:

[2016-08-03 17:15] #154 closed

[2016-08-03 17:15] AndyScherzinger commented on #174
merged: 1.3.0

[2016-08-03 17:15] #174 closed

[2016-08-03 17:19] AndyScherzinger commented on #191
I vote to implement this feature, cc @nextcloud/android :+1:

[2016-08-03 18:01] tobiasKaminsky commented on #90
Can you please open a new issue for this, if you think it is not good enough?

[2016-08-03 18:01] #90 closed

[2016-08-03 18:04] AndyScherzinger commented on #177
There should imho also be a hard maximun, simply to be a good citizen on the phone. :smiley:

[2016-08-03 18:06] AndyScherzinger commented on #185
fine with me, yes :+1:

[2016-08-03 18:28] tobiasKaminsky commented on #177
How are other apps handling this? Dropbox, etc?

[2016-08-03 21:32] Paviluf commented on #93
Well https://github.com/owncloud/android/issues/333 is fixed thanks to the awesome work of @davivel !
It should be integrated in Nextcloud too I guess.

[2016-08-04 07:08] AndyScherzinger commented on #177
I don't know since this is an internal implementation, blackbox... :(

[2016-08-04 07:11] AndyScherzinger commented on #93
I should be integrated yes. Since we already did quite some changes to the app's code base we won't be able to simply merge it but will rather have to re-implement it.

What do you think @tobiasKaminsky @przybylski ?

[2016-08-04 13:43] tobiasKaminsky commented on #177
Na, I meant just be downloading lots of dropbox content and see the cache size ;)
I do not have a dropbox...

[2016-08-04 13:44] tobiasKaminsky commented on #93
Depends on the size of the PR from ownCloud...
We should try for 1.4.0.

[2016-08-04 15:09] tobiasKaminsky opened #195 "Show quota if set on navigation drawer"
Idea per email, seen on cirrus

![screenshot_2016-08-03-13-32-52](https://cloud.githubusercontent.com/assets/5836855/17406966/deff16fe-5a65-11e6-8fe4-bee8d4e45f14.jpg)

[2016-08-04 18:23] AndyScherzinger commented on #195
Nein items thumbs up, but for that we should integrate the existing library pr first :)

[2016-08-04 19:15] tobiasKaminsky commented on #195
What library PR?
This will probably be in 1.4.0, so no hurry ;)

[2016-08-04 19:21] AndyScherzinger commented on #195
There is a nextcloud android library PR to retrieve quota info :)  so that one should imho be used.
I would love to do the UI part and would hope you could do the server communication and caching part if that would be fine with you. :)

1.4.0 sounds fine.

[2016-08-04 20:11] tobiasKaminsky commented on #195
As far as I have read the code it is just a quick "/ocs/v1.php/cloud/users/" + user + "?format=json" and parsing the returning values.
But a proper caching, e.g. query only once an hour, is a good idea.
I would keep the UI very close to the screenshot.

[2016-08-04 22:23] AndyScherzinger commented on #195
Makes sense. As for the caching, we should also refresh after uploads are finished because a user would want to have the actual value.

[2016-08-05 07:04] AndyScherzinger commented on #195
This is the library PR I was referring to: https://github.com/nextcloud/android-library/pull/10

[2016-08-05 15:38] PanicDriven commented on #26
I've installed the beta and it looks good. But when trying to upload & delete or even to just upload nothing happens.  I understand this is a very early beta but I just wanted to make sure I wasn't the only one experiencing it.

[2016-08-05 15:54] jasonbayton commented on #26
It isn't just you

[2016-08-05 16:42] tobiasKaminsky commented on #26
Strange, this happens when you manually upload? Is the source file on an external sd card? I have tried it with an internal storage and it worked.

[2016-08-05 17:08] PanicDriven commented on #26
I'm using a OnePlus two (no micro SD). Not rooted or a custom ROM  completely stock.

Here's what's happening: https://saveitfor.me/index.php/s/dSpGC2adLDui50C

[2016-08-07 09:25] AndyScherzinger commented on #195
Cc @skymania :)

[2016-08-08 05:20] tobiasKaminsky commented on #195
Then we should do it with the library :+1:

[2016-08-08 05:27] tobiasKaminsky opened #196 "Shared link cannot be copied again"
### Actual behaviour
- no text/link to copy

### Expected behaviour
- Link should be copied

### Steps to reproduce
1. Create a shared link
2. Access it later via "get link"

### Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version:

Nextcloud server version:

### Logs
#### Web server error log
[code]

#### Nextcloud log (data/nextcloud.log)
[code]

[2016-08-08 08:08] tobiasKaminsky commented on #196
This fixes  oc 1562
It will be soon in beta.
@dva-re it would be cool, if you can test it?

[2016-08-08 08:26] AndyScherzinger commented on #60
PR is already on master and is thus part of the next release thus closing this issue.

[2016-08-08 08:26] #60 closed

[2016-08-08 11:06] AndyScherzinger opened #198 "IllegalArgumentException: Comparison method violates its general contract!"
### Actual behaviour

-Uploads view crashes
### Expected behaviour

-Uploads view shouldn't crash
### Steps to reproduce
1.  Open the Uploads view in the drawer
### Backround

This bug has been reported several times on the Play developer console.
This bug is present in oC and Nc.
Research shows it is likely related to a wrongly implemented comparator and Android's swicth to JDK 7 which leads to A

[2016-08-08 11:15] AndyScherzinger commented on #198
PR: #199 - please review

[2016-08-08 11:20] AndyScherzinger opened #200 "NPE in FileUploader.uploadFile"
Reported several times on the Play store developer console (unfortunately no comments)

### Environment data
Android version: 6

Device model: Xperia Z3 Compact (D5803)  / OnePlus One (A0001)

Stock or customized system: -

Nextcloud app version: 1.2.0

Nextcloud server version: -

### Logs
#### Nextcloud log (data/nextcloud.log)
[code]

[code]

[2016-08-08 11:23] AndyScherzinger opened #201 "NPE in ExpandableUploadListAdapter...setText"
Reported on the Play store developer console (unfortunately no comments)

### Environment data
Android version: 6

Device model: Xperia Z3 Compact (D5803)

Stock or customized system: -

Nextcloud app version: 1.2.0

Nextcloud server version: -

### Logs
#### Nextcloud log (data/nextcloud.log)
[code]

[2016-08-08 11:25] AndyScherzinger opened #202 "NPE in CheckAvailableSpaceTask.onPostExecute"
Reported on the Play store developer console (unfortunately no comments)

### Environment data
Android version: 6

Device model: Nexus 5 (hammerhead)

Stock or customized system: -

Nextcloud app version: 1.2.0

Nextcloud server version: -

### Logs
#### Nextcloud log (data/nextcloud.log)
[code]

[2016-08-08 15:42] AndyScherzinger commented on #195
PR with initial UI work has been opened: #204

[2016-08-08 17:34] tobiasKaminsky commented on #200
PR: #205

[2016-08-08 20:53] AndyScherzinger commented on #188
pinging @jancborchardt and @LukasReschke again for Feedback

[2016-08-08 21:24] AndyScherzinger commented on #200
Will be release with 1.3.0

[2016-08-08 21:24] #200 closed

[2016-08-08 21:25] AndyScherzinger commented on #198
Will be released with 1.3.0

[2016-08-08 21:30] AndyScherzinger commented on #111
@schiessle can you clearify https://github.com/nextcloud/android/issues/188 with @jancborchardt
and/or @LukasReschke this matter blocks this issue since the implementation is done and tested but this open question remains.

[2016-08-09 06:49] codethief commented on #21
I second @ThomasSteinbach's request. Along with proper 2-way sync, this is the #1 feature I am waiting for.

[2016-08-09 07:36] codethief opened #208 "[UX] Confusing terminology / icon: "Set as available offline" for files, refresh/sync icon for folders"
As of Nextcloud 1.2.0*, selecting a file makes an option "Set available offline" appear in the "…" menu on the top right. Selecting a folder, however, makes a refresh/sync icon appear on the top right. _(UX remark: I expected to see a "Set available offline" menu entry pop up for the folder as well. It took me a minute of going back and forth between folders and files to realize that there's that

[2016-08-09 08:18] AndyScherzinger commented on #208
Thank you for your report @codethief !
@jancborchardt and @tobiasKaminsky this is quite an issue imho without talking about features we do not have as of now but only about the given functionality.

File(s) Selected:
* Download (download arrow): basically downloads the file (end status is the green check mark)
* Set available offline (usually text, except some Samsung devices which display the ico

[2016-08-09 09:46] LukasReschke commented on #188
Mhm. Thoughts, @jospoortvliet @karlitschek? I do see that this makes sense for example we have the upload only sharing links which with ownCloud would not work (see https://github.com/nextcloud/android/issues/111)

[2016-08-09 09:48] karlitschek commented on #188
I think this makes sense. Do we have incompatibilities already?

[2016-08-09 09:48] LukasReschke commented on #188
Yes. The files drop upload implemented in https://github.com/nextcloud/android/pull/141

[2016-08-09 11:51] schiessle commented on #111
@AndyScherzinger As others say at #188 I think it is OK to show such a warning

[2016-08-09 11:52] schiessle commented on #188
I think such a warning is OK. I would keep it more general, which makes it also shorter and display space is always a issue on mobile devices. If you wish you could be more precise about the incompatibilities as part of the online documentation.

[2016-08-10 09:28] AndyScherzinger commented on #101
@hitam4450 thanks for the update. The latest beta is from 8th Aug. Can you reproduce the "Selecting Storage path: Selecting External SD Card Error while migrating" issue and send post the log from the app here (basically clean it before, reproduce the error, post the then created log). That would help us a lot to get a hold of this.

Thanks! Andy

[2016-08-11 15:43] LukeOwncloud commented on #191
Maybe you can keep chunked upload in mind, too, while you are at it! *thumbsup*

[2016-08-11 19:06] tobiasKaminsky commented on #188
For this it would be great if /status.php could provide something like "name" set to "nextcloud". When this is absent we can show the warning as a popup warning:
Please be aware that the app is designed to be used with Nextcloud. Fully compatibility to ownCloud cannot be guaranteed.

cc @jancborchardt for design/wording.

[2016-08-11 19:12] tobiasKaminsky commented on #191
Talked meanwhile to Lukas. He pointed me to http range get.
So server side this is possible and it can be developed soon :)

[2016-08-11 19:15] AndyScherzinger commented on #188
This is a tricky topic. Should we just show this once when login into an oC instance, or do we need to do this on a feature level?
My guess would be that not all users are aware of the servers features and might then misinterpred errors or crashed as an app issue which it is not. That might lead to bad votings. Thus I would show say we should show the popup in each context where a function is clic

[2016-08-11 19:18] AndyScherzinger commented on #191
Uuuuh, nice! :tada:

[2016-08-11 19:55] tobiasKaminsky commented on #188
Every time might be too much.
Still we do not have a real way to distinguish between oc and nc, or?

[2016-08-11 20:39] AndyScherzinger commented on #188
Don't know. Do you know if there is a way @LukasReschke?

[2016-08-12 04:44] maxaustria commented on #20
Hello guys, I would love to see this feature working but the current way how you implement it is not working for me, so I would like to describe my use case here, maybe you consider it in future releases or have an idea how to work around it. Basically I have confidential information (ids,medical records, etc) and big data (pictures, mp3) stored in my cloud yet. Of course it would be very useful t

[2016-08-12 06:03] LukeOwncloud commented on #159
Hurray! Available in beta?

[2016-08-12 07:02] AndyScherzinger commented on #159
@LukeOwncloud yes it is :)

[2016-08-12 08:36] blackcrack commented on #159
thank you for the hard work Andy :+1:
best regards
Blacky

[2016-08-12 09:54] AndyScherzinger commented on #159
You are welcome @blackcrack - Credit where credit is due, @tobiasKaminsky did the implementation :trophy:

[2016-08-12 10:51] maxaustria commented on #126
Another idea to this topic. Why not allow the user to manipulate the default opening behavior per file extension. An example: if I click on pictures I got shown the picture in the internal viewer. Maybe for some reason I don't like it and would love to open it by default with my favorite picture viewer. In the settings could be a map from file extension to opening behavior. That would solve all ki

[2016-08-12 11:14] jancborchardt commented on #188
I’d say this should be on a context basis as @AndyScherzinger says. Just like when a file type is not possible to be previewed. It’s only important when you actually want to do that.

»This functionality is not available with your ownCloud server. Update to Nextcloud for the full functionality. :)«

Something like that. Then with buttons to »Close« and »Learn more«, leading to the server install p

[2016-08-12 11:22] AndyScherzinger commented on #126
Hi @maxaustria,

thanks for your input. To some extend this is already working in the actual version(s)

That does already happen, but it opens in the pdf-viewer of your choice defined on the global/Android-OS level

That does also already happen, but it opens in the text-viewer of your choice defined on the global/Android-OS level. Difference to the pdfs is that you need to select the text file a

[2016-08-12 12:13] maxaustria commented on #126
Thanks for the feedback, I did some testing with NC 1.2 client on Android 4.4.4. Here is what I found. (Warning... I have to admit that I have not the best Android knowledge yet, so please don't punish me too hard if I ask wired questions ;))

PDF:
- I set default PDF app
- I try to open PDF in file commander -> opens on click in PDF viewer
- I try to open PDF in next cloud client -> it asks me wh

[2016-08-12 12:20] maxaustria opened #209 "Feature request: Restart broken Download s"
Right now I am in a rought network environment and maybe 30% of all downloads don't complete successfull. I would love to have an interface simmilar to upload for downloads or integrated both in the same with filters to restart broken downloads. Maybe it would be also helpful to restart all broken uploads or downloads at once.

[2016-08-12 13:57] tobiasKaminsky commented on #209
This is the same as #191.
I already have a rough idea how to do it.
Let's track it there.

Restarting all uploads is already possible: swipe left to the upload pane.

[2016-08-12 14:04] AndyScherzinger commented on #126
@maxaustria  thank you for the details and no worries, there are no weird questions!

PDF: you are right. I missed that details, b/c sometimes Android asks me if I always want tto use this app to open this file type (Android N). Here it doesn't. Needs to be investigated. :+1:

TXT: same issue imho

As for the responsiveness with images. That is strange indeed. Any idea/experience with this @tobias

[2016-08-12 15:13] AndyScherzinger commented on #159
PR has been merged (for release 1.3.0) thus closing the issue.

[2016-08-12 15:13] #159 closed

[2016-08-12 16:37] jancborchardt commented on #186
Totally agree with @childnode, good points!

[2016-08-12 16:38] jancborchardt commented on #193
Yeah, is it possible to make the notification interactive? @tobiasKaminsky @AndyScherzinger while uploading, cancel should be possible via x on the right of the notification.

[2016-08-12 16:54] AndyScherzinger commented on #193
Technically speaking yes. I'll do a mockup the next days but would suggest text instead of icon, since Android notifications dropped icons and went for text. You'll see when I post the mockup. :+1:

[2016-08-12 17:01] jancborchardt commented on #190
Yeah, this is also in place in Firefox and the Play Store. :) Let’s test out if it works nicely for us as well.

[2016-08-12 17:02] jancborchardt commented on #184
Yup, sounds good!

[2016-08-12 17:03] jancborchardt opened #210 "Use log in background image for background in top of sidebar"
In apps like Play Store and Pocket Casts you can see a very nice background image in the header of the sidebar (where you have the account switcher or app name). We should use the clouds background for that:
https://github.com/nextcloud/server/blob/master/core/img/background.jpg

PR to be found here: #213

[2016-08-12 17:04] jancborchardt commented on #177
@tobiasKaminsky just create a fakeaccount for testing purposes, that’s always recommended to check what others are doing. :)

[2016-08-12 18:02] AndyScherzinger commented on #210
Sounds good, I also thought about this. Will do :)

[2016-08-13 10:32] jancborchardt opened #211 "Search inside of text files"
For plain text and markup files like txt notes, code, markdown, rtf and anything like that it would be great to be able to search for specific words in the document when you have it open.

My main use-case is looking for content of Notes txt files when I want to send an email or look something up.
Together with »In-App Text Editor #126« it would be a big step to make the app usable for notes.

[2016-08-13 10:38] jancborchardt commented on #179
Something I’d love to get straight on the topic of server-app parity is the Favorites and that they are still different locally and on the server. We should make them sync. And then also add a sidebar entry to quickly access them.

Another point is better offline functionality, or improvement of behavior when the connection is bad. That is, carrying out upload, delete, favorite actions etc. no mat