[2018-02-17 12:54] Siggi0904 opened #2194 "Login won't work with "Couldn't found host" message"
### Actual behaviour
With Lineageos 7.1.2 on NC 11.0.1 and 3.0.1 the android app won't work.
In login window "Secured connection established" is shown und the domain. Then I input the password and after pressing the connect button Message "Couldn't found host" is shown. Both messages here in german, that means translation to english could not be exact the same.

Verified by others with same versio

[2018-02-17 14:32] tigernero79 opened #2195 "storage path"
I noticed that by default the folder where nextcloud saves the downloaded files is: "storage / emulated / 0"

if I change storage location in one Of the three options set by you

I can no longer choose the default "storage / emulated / 0 "

if not uninstalled and reinstalled android app

[2018-02-17 15:53] bazio101 commented on #2184
Things remain the same after upgrade to 3.0.1 version (f-droid). In addition to the above comment, app crashes if I'm on settings and I use device's back button to go back and then select upper left menu. It's fine only with app's back arrow.

[2018-02-17 16:05] mario commented on #2195
This is expected. /storage/emulated/0 is a "broken" configuration that exists only in legacy installs, and we do not encourage it really.

[2018-02-17 16:05] #2195 closed

[2018-02-17 16:15] AndyScherzinger commented on #2194
cc @tobiasKaminsky @mario this has also been reported on GPlay several times. @Siggi0904 any chance for upgrading the server? According to https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule Nc will be End-of-life by May 2018 so it is highly recommended to upgrade.

[2018-02-17 16:16] AndyScherzinger commented on #2193
cc @mario @tobiasKaminsky

@bloo90 any chance for upgrading the server? Nc10 is End-of-Life since last year and isn't supported anymore.

Closing since it is a Duplicate of #2194

[2018-02-17 16:16] #2193 closed

[2018-02-17 16:19] AndyScherzinger commented on #2191
@boingo-00 thanks for the report, all translations are handled via transifex: https://www.transifex.com/nextcloud/nextcloud/translate/#ru/android since none of the developers speaks Russian, could you fix the string over there? That would be really great, it'll then be automatically part of the next feature release 3.1.

[2018-02-17 16:19] #2191 closed

[2018-02-17 16:21] AndyScherzinger commented on #2190
@godfuture thanks for the report. Could you provide any screenshots please since I wasn't able to reproduce the behavior (yet)?

[2018-02-17 16:24] AndyScherzinger commented on #2188
@mario @tobiasKaminsky @nextcloud/designers What do you think?

As mentioned yes this would be possible for newer Android versions since I'd then vote to just support a dark theme via the day/night theming capabilities of actual Android versions to not pollute the code base with switches.

[2018-02-17 16:26] Siggi0904 commented on #2194
Hi Andy, upgrading is not a solution for this, because of firstly the server is not in my hand and second version 12 and 13 not stable enough that my admin will upgrade. In addition the upgrade process doesn't work pretty well, but other topic.

In these fact, it would be nice that newly released apps working with older NC version's.

[2018-02-17 16:33] AndyScherzinger commented on #2194
The app should work with Nc11, yes. Else it is a bug and this is one we need to look into and fix. Beware though that as soon as Nc11 is EOL it is likely that as soon as there is a breaking change the devs (including me) won't put extra effort in supporting a server version that isn't supported anymore itself.

What do you think @mario @tobiasKaminsky ?

[2018-02-17 16:58] Siggi0904 commented on #2194
Ok, I'll talk with my admin to upgrade to 12 or 13 of NC.

But would be nice that till of EOL all released apps are working with.
Ofter EOL, you are right, it could be that it doesn't work with but then the latest working version should be shown and documented at the apps website.

[2018-02-17 18:40] AndyScherzinger commented on #2194
Fully agree on that, so yes it is a bug!

[2018-02-17 18:42] thsnielsen commented on #1150
For your information. Allowing nextcloud to execute background also caught up with previously not sent photos.
Note that i had expert mode on, and under history of uploads had pressed "actualiser" (french version) at least once - not sure if it matters. But all the photos are arrived on the server - thank you :-)
Now onto the wife next quest - have some bot autotag the photos. I will google a bit,

[2018-02-17 18:43] thsnielsen commented on #1150
oups i hit the close and comment - not sure if it correct according to your procedures. Please tell me if i did wrong for future.

[2018-02-17 20:04] boingo-00 commented on #2191
No, your link is 404

[2018-02-17 20:12] bloo90 commented on #2194
After upgrade to 12->13 problem solved

[2018-02-17 21:12] Siggi0904 commented on #2194
http://paste.thedevstack.de/view/99ad3076 -> server log file (doubled from cache server)
http://paste.thedevstack.de/view/e5e21c76 -> nextcloud log file

Looks like login successed but the shows nothing.

I deleted the old account in the app after that the loading sign will shown every time.

[2018-02-17 21:36] Siggi0904 commented on #2194
In addition a screen with these loading circle.

![screenshot_20180217-223019](https://user-images.githubusercontent.com/4992106/36345836-e2baa9f6-1432-11e8-9bba-7fc767866d79.png)

[2018-02-17 22:12] AndyScherzinger commented on #2194
@tobiasKaminsky can you have a look at this one?

[2018-02-17 22:15] AndyScherzinger commented on #2191
Whoops https://www.transifex.com/nextcloud/nextcloud/android/

[2018-02-18 01:14] thebaron06 commented on #2194
I am pretty sure thats the same issue like mine: https://github.com/nextcloud/android/issues/2192
At least the behavior is exactly the same.

[2018-02-18 02:24] xXSTrikeXx opened #2196 "Missing Avatar fetch after update."
Hey,

after updating to v3.0.0 my profile avatar isnt fetching from the server. I think its only after upgrading to the new version and not for new app registrations. Im using Huawei Y6 2017.

[2018-02-18 11:41] Siggi0904 commented on #2194
If it is these nullpointer, can you please catch them and update it to the beta channel in Google play store? Then we can check that it is fixed before to release it as stable.

In beta with addition loggings for example.

[2018-02-18 12:42] johnwmail opened #2197 "Can not upload file to E2E folder on Android"
### Actual behaviour
-Tell us what happens
Upload file to E2E folder, then nextcloud show error message: forbidden

### Expected behaviour
-Tell us what should happen
 Success to upload file to E2E folder

### Steps to reproduce
1. encrypt E2E folder with "E2E encryption"
2. upload file to E2E folder
3. nextcloud show error message: forbidden

### Environment data
Debian, nginx, php7.2, redis

Dev

[2018-02-18 13:15] boingo-00 commented on #2191
Translated untranslated as I could

[2018-02-18 17:19] sysoppl opened #2198 "Duplicated images on external storage"
### Actual behaviour
When images are uploaded to external storage (ostack in my case), they are duplicated in gallery.

### Expected behaviour
Images should not be duplicated

### Steps to reproduce
1. Upload files to external storage:
![screenshot_2018-02-18-17-57-10](https://user-images.githubusercontent.com/30871217/36354642-c8779ef0-14d7-11e8-8e72-71afdf95a65e.png)

2. Open "photos" from menu

[2018-02-18 18:17] Django3 commented on #1835
No, it's not happening anymore in 3.0 :) Thank you guys!

[2018-02-18 18:17] #1835 closed

[2018-02-18 18:42] AndyScherzinger commented on #2191
Thanks a lot @boingo-00 ❤️

[2018-02-18 18:45] AndyScherzinger commented on #2198
Thanks for your report @sysoppl!

Im closing this issue as a duplicate in favor of #1698 since this is the case for images and favorites.

[2018-02-18 18:45] #2198 closed

[2018-02-18 20:32] janipewter commented on #2194
I have this issue too. Nextcloud app on Android 7.0.  When I input the URL it says secure connection established, but when I enter credentials and click connect it says could not find host.

Can't take a screenshot as app DRM seems to prevent it.

Nextcloud app version 3.0.1 from Play store
Android 7.0 on Samsung Galaxy S7
Owncloud server version 10.0.4 stable

[2018-02-18 23:41] godfuture commented on #2190
![screenshot_20180219-022555](https://user-images.githubusercontent.com/4669278/36358339-28d72308-150d-11e8-8fdf-3eb7e07168e3.png)
![screenshot_20180219-022845](https://user-images.githubusercontent.com/4669278/36358340-28fdfa78-150d-11e8-8fd1-01aa7cb846a6.png)
![gt143](https://user-images.githubusercontent.com/4669278/36358341-292714c6-150d-11e8-9687-e6990d83398e.png)

[2018-02-19 03:01] xXSTrikeXx opened #2199 "Visualise external storages"
In the windows client the external storages are easily showed with a network icon. In Android there is only a normal folder icon for external storage.

[2018-02-19 08:27] AndyScherzinger commented on #2190
@tobiasKaminsky any idea on why this might happen?

[2018-02-19 08:29] AndyScherzinger commented on #2199
@tobiasKaminsky I know that we had the external folder icon within our forked source but it hasn't been used by the app. Do you know how we can identify external storage/folders?

[2018-02-19 08:31] AndyScherzinger commented on #2192
cc @tobiasKaminsky @mario

[2018-02-19 09:57] xXSTrikeXx commented on #2192
Sry, but isnt v10.0.6 EOL?

[2018-02-19 12:02] AndyScherzinger commented on #2192
Nc10 is EOL since 08/2017 while the Quota itself is available via the services since Nc9 so the issue is still valid.

[2018-02-19 12:12] macau23 commented on #1974
@AndyScherzinger I recreated the folder and now the problem is gone.

[2018-02-19 12:14] asheesh-gupta-kranti commented on #413
I was facing the same issue with my app, what I do is use LocalBroadcastManager instead of context. Android documents also suggest using LocalBroadcastManager for sending in-app broadcast receivers.

//register your receiver like this
LocalBroadcastManager.getInstance(this).registerReceiver(mMessageReceiver,
          new IntentFilter("custom-event-name"));

// unregister  like this
LocalBroadcast

[2018-02-19 12:40] AndyScherzinger commented on #1974
@macau23 hmm, too bad. Is there anything that changed? Only thing I can think of is the timestamp of the creation date of the folder itself... :/

[2018-02-19 12:45] tobiasKaminsky commented on #2182
This is a document provider: any app can request/browse the content of an app, if this app provides a document provider.
Why do you think that the wrong activity is used? What do you expect instead?

[2018-02-19 13:26] macau23 commented on #1974
@AndyScherzinger The contents are identical (they are synced from elsewhere).

[2018-02-19 13:43] tobiasKaminsky commented on #2121
Do I understand correctly that in your first case the whole image is downloaded?

[2018-02-19 13:44] tobiasKaminsky commented on #2184
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-02-19 13:59] tobiasKaminsky commented on #2188
Do you know how this behaves with custom theming? E.g. if I have light blue or a very dark blue, how will both behave on a night/dark mode?
As for now I think the priorities are somewhere else, but if someone wants to pick this up, first discuss it with @nextcloud/designers and then feel free to implement it.

I fear that at least one switch is needed, which enables/disables theming on day/night.

[2018-02-19 14:01] tobiasKaminsky commented on #2196
Which server version do you use?
Do I understand you correctly that with an upgraded app (2.x -> 3.0) it is working, whereas a freshly installed app does not get the avatar?

[2018-02-19 14:05] tobiasKaminsky commented on #2190
What file type is this?
I saw this from time to time with png or svg...?

[2018-02-19 14:30] Django3 commented on #2121
Yes correct! I hope i will find today some time to make a few tests.

[2018-02-19 15:07] AndyScherzinger commented on #2188
No, not if we use Androids day/night system. :grin:

The theme won't chance much, it will basically chance the background color via the Android themes (to be written) and the Nc theming will stay the same. There are certain edge cases where this will be an issue like choosing white or black as Nc's main color where we already have checks to then jump to another color. @juliushaertl what do you thi

[2018-02-19 15:08] AndyScherzinger commented on #2190
According to the screenshots the file type is png

[2018-02-19 16:27] tigernero79 commented on #2197
discussion here already open
https://github.com/nextcloud/end_to_end_encryption/issues/60

[2018-02-19 16:41] juliushaertl commented on #2188
At least for the places where the theming color is used on a white background, we then need another fallback (besides the one for too bright colors). Otherwise we run into issues with dark theming colors while using the "night mode".

cc @skjnldsv since i remember you thought about a dark mode for accessibility in the server as well.

[2018-02-19 17:14] bazio101 commented on #2184
Logfile using CatLog

02-19 18:27:32.420 E/CursorLeakDetecter(32411): PossibleCursorLeak:content://org.nextcloud/arbitrary_data,QueryCounter:6
02-19 18:27:32.430 E/CursorLeakDetecter(32411): PossibleCursorLeak:content://org.nextcloud/arbitrary_data,QueryCounter:6
02-19 18:27:32.441 E/CursorLeakDetecter(32411): PossibleCursorLeak:content://org.nextcloud/arbitrary_data,QueryCounter:6
02-19 18:27:32.

[2018-02-19 17:44] mathiasconradt commented on #2182
I expect the same behaviour as with Dropbox or Google Drive here: being able to browse the remote documents on the server (and not only local ones that have been stored already) and select one (which then, in this example, gets loaded into DocuSign). Standard document picker functionality.

Just a guess. If you don't get to the document picker for remote documents but only able to pick local docum

[2018-02-19 18:07] amotl opened #2202 "Auto upload custom remote folder setup problem"
### Credits and intro
First things first: Thank you so much for conceiving and maintaining the grand Nextcloud project. You rock!

I am finally moving to mobile and obviously want to use Nextcloud instead of sharing my personal data with Google or others. Using DAVdroid for syncing contact information works perfectly already so i am now trying to tackle the automatic image upload feature by using

[2018-02-19 18:16] xXSTrikeXx commented on #2196
No. Exatcly inversely. I updated from v2.X android to 3.0.X and server to v13. And after that my profile account hasnt got any image. On friends mobile phone (Android 4, Galaxy S3 Neo) it is working, but he DOESN´T use an own avatar. There is only the standard avaratar with the first letter of his name. I tested new accounts adding to the app and it is working on my device (but I tested it with no

[2018-02-19 19:24] b-harper commented on #2188
My request very much a 'nice to have' and is no where near 'mission critical'.  Please prioritize as you see fit.

Regarding Android's day/night theming, I prefer to use applications with a dark theme no mater the time of day.

[2018-02-19 19:55] AndyScherzinger commented on #2202
@amotl did you set the remote and local folder within the dialog?

[2018-02-19 19:56] AndyScherzinger commented on #2188
@b-harper that can still be achived with the day/night feature since it has several variations (which you then could choose from) like yes, no, day/night. So you would basically set it to yes, which might be called "dark theme" within the app :grin:

[2018-02-19 21:06] asdil12 opened #2203 "Nextcloud isn't listed in android "open from" file selection dialog"
![](https://upload.kruton.de/files/1519073937/nc.png)

The left image shows the correct behaviour on my friends phone,
the right image shows the incorrect bahaviour on my phone.
Both use the same android and nextcloud version and the hardware is identical as well.

### Actual behaviour
- On the right image the nextcloud entry is missing.

### Expected behaviour
- There should be a nextcloud entry

[2018-02-19 21:08] amotl commented on #2202
Hey @AndyScherzinger,

thanks for your quick response. When setting both local **and** remote folders, the custom folder got added, thanks! I have to admit that by doing so, i finally recognized that this is about adding **new/different** folders to the synchronization besides the default ones.

While arriving as a new user to the application, i had the impression that these would be global settin

[2018-02-19 21:08] AndyScherzinger commented on #2203
@tobiasKaminsky @mathiasconradt see this issue, there seems indeed to be some issue with the document provider lately :/

[2018-02-19 21:14] AndyScherzinger commented on #2202
Happy I could help :) There is already an issue for this matter: #2034 I'll close this one in favor of the existing one

[2018-02-19 21:14] #2202 closed

[2018-02-19 21:29] mathiasconradt commented on #2203
Yep, same as https://github.com/nextcloud/android/issues/2182

[2018-02-19 22:04] amotl commented on #2202
Thank you so much and keep up the spirit!

[2018-02-19 22:08] AndyScherzinger commented on #2202
Happy to help ❤️

[2018-02-19 22:38] jdutsler commented on #2015
I am using nextclloud as one of the pre-built extensions on the latest stable release of nas4free.  After getting initial configuration and setting up the nextclloud app on my Android phone, I went to the photos directory in the nextclloud app and issued an instruction to upload all my phone pictures and delete them from the phone.  Upload worked fine but the nextclloud app now shoes duplicates of

[2018-02-19 22:49] pierre1977 opened #2204 "m3u File not open with VLC or other Mediaplayer"
since the new update 3.01 i cant open .m3u Files with othe Mediaplayer.
on older version is will be works.

### Environment data
Android version:
6.0

Device model:
LG G3 & ZTE A510

Stock or customized system:
no

Nextcloud app version:
3.01

Nextcloud server version:
OwnCloud 9.x

[2018-02-20 00:11] xXSTrikeXx commented on #2204
Is the old version 9.x of Owncloud cross compatible with nextcloud? @AndyScherzinger @tobiasKaminsky

[2018-02-20 00:17] xXSTrikeXx commented on #2203
I want to add that Huawei Y6 2017 also wont work 🗡
EMUI 4.1
Model: MYA-L41
Build: Maya-L41C432B140
Android 6.0

[2018-02-20 00:18] johnwmail commented on #2197
@tigernero79 thanks
So, I close this report.

[2018-02-20 00:18] #2197 closed

[2018-02-20 05:10] thebaron06 commented on #2194
@Siggi0904 i can just provide an untested fix for thatbecause i do not have the possibility to test that here as well as i do not have the build environment set up. I also do not know whats the impact of the change. I am a bit busy the next days but i will try my best to provide a mr.

[2018-02-20 06:02] mathiasconradt commented on #2203
Maybe there is some different behaviour on different Android systems (i.e. Huawei / EMUI), they way providers or intents are handled. Dropbox and Google Drive apps seem to behave pretty stable on all devices though in this regard. For reference I attach the manifests of both here as well, maybe something can be found in there in comparison.

[GoogleDrive_AndroidManifest.xml.txt](https://github.com

[2018-02-20 07:39] tobiasKaminsky commented on #2192
@thebaron06 thank you for your fix :+1:
I tested it and added one missing import. It will be in next version :-)

[2018-02-20 07:50] tobiasKaminsky commented on #2194
@Siggi0904
I tested 3.0.1 with latest NC11 and it is working for me.
The fix/bug from @thebaron06 should also not affect you as in NC11 we have a quota.

I suspect that something is wrong with server setup.
@Siggi0904 @janipewter
Can you create us a test account and send the credentials to android at nextcloud dot com with a reference to this issue?

[2018-02-20 07:50] tobiasKaminsky commented on #2194
This happens if you have pin protection enabled.

[2018-02-20 08:29] #2192 closed

[2018-02-20 08:33] AndyScherzinger commented on #2192
@tobiasKaminsky will this be 3.0.2 or 3.1.0 ?

[2018-02-20 08:38] AndyScherzinger commented on #2203
@mathiasconradt @xXSTrikeXx on the devices where Nc is showing up do you have any files downloaded via Nc and do the other installation don't have any files downloaded? Just asking since there are comments which might suggest it is only showing downloaded files. Just wanting to make sure this isn't the reason for the behavior.

[2018-02-20 08:39] tobiasKaminsky commented on #2203
I did a few tests with a fresh emulator (Android 7.0)
- first no provider was shown
- restarted a few times, still no provider
- download a file
- restarted again a few times
- then out of sudden a provider was shown

I still have no clue, why and when a provider is shown...

[2018-02-20 08:41] AndyScherzinger commented on #2204
Not sure if the client is still compatible since we don't test Oc server versions.

@pierre1977 can you check the path setting in the Nextcloud client settings screen?

There has been a change in the storage management so it might be that the files are now located in a secured file system area where other apps can't access them so you might have to change the location in the settings.

cc @tobiasK

[2018-02-20 08:44] mathiasconradt commented on #2203
@AndyScherzinger I have downloaded files within the NC app on my Huawei Mate 8, where NC is not showing up.

[2018-02-20 09:28] tobiasKaminsky commented on #2203
Once I had an nullpointer during document provider setup at:
getAppContext().getResources().getString(R.string.account_type) in MainApp.java

This then refuses the provider to work. But I am not sure, how to retrigger starting the provider...

[2018-02-20 09:30] tobiasKaminsky commented on #2204
Some more context, how @pierre1977 is doing this is needed.
If he clicks on the m3u file within our app, it should be independent from the storage settings.
We changed the way how to send/share a bit when we combined both. Maybe now m3u is not recognized correctly anylonger.

[2018-02-20 09:46] tobiasKaminsky commented on #2204
One quick test on 6.0.1 / 7.1.2:
- download a m3u file
- select open with
- select vlc
-> working

On both I first had to start VLC to allow access to storage.

[2018-02-20 09:47] tobiasKaminsky commented on #2192
Both, as the fix is in library and we do not have stable-3.0.x branch on library.

[2018-02-20 09:48] mathiasconradt commented on #2203
What's causing the NPE there then? Missing app context, resource string? I guess an NPE shouldn't be thrown in the first place though, not?

[2018-02-20 09:49] tobiasKaminsky commented on #2188
Where do I find these day/night settings? I am running LineageOS and searching within in settings (of android) does not show up anything related.

[2018-02-20 09:55] tobiasKaminsky commented on #413
What do you think @mario @AndyScherzinger? Currently we use
https://github.com/nextcloud/android/blob/948f3bd2f2d534a54bb2eb846aa870fbe3a71b17/src/main/java/com/owncloud/android/files/services/FileDownloader.java#L676-L676

to notify within the app.

[2018-02-20 10:04] AndyScherzinger commented on #2192
true :+1:

[2018-02-20 10:07] AndyScherzinger commented on #413
Not an expert on broad casts so would have to take a deeper look. @mario any ideas?

[2018-02-20 10:10] AndyScherzinger commented on #2188
@tobiasKaminsky that is not in the OS settings but an OS feature apps can implement so that the themeing can be asked if it is day/night where you provide a day and a night theme and the OS decides which one it picks. see https://medium.com/@chrisbanes/appcompat-v23-2-daynight-d10f90c83e94 for example

[2018-02-20 10:18] tobiasKaminsky commented on #2121
Strange, the complete image should never be downloaded automatically.

[2018-02-20 10:39] tobiasKaminsky commented on #2184
This unfortunately does not show the crash...

Some questions:
Do you have theming enabled?
Do you have a custom background?
Do you access via https?

[2018-02-20 10:47] #2190 closed

[2018-02-20 10:50] #2161 closed

[2018-02-20 10:52] tobiasKaminsky commented on #2184
For reference, this is the error, but for me on two devices (4.0.4 and 4.4.2) it only happens for the very first time:
[code]

[2018-02-20 11:44] Django3 commented on #2121
Hmm ... @tobiasKaminsky , i think we misunderstand each other. ;) Maybe i used a wrong word for something or misunderstand something.

- enter a folder with ~162 images
- fast swipe to a point where **no** **thumbnails** are **available**
- click on this image -> placeholder (low-res one skipped) -> wait a long moment -> image

In this case, user with a not so fast connection see the placeholder f

[2018-02-20 11:54] #1797 closed

[2018-02-20 12:53] bazio101 commented on #2184
Ok, thanks for help. This is the right part of log file:

02-20 13:49:58.671 E/AndroidRuntime(31633): FATAL EXCEPTION: main
02-20 13:49:58.671 E/AndroidRuntime(31633): java.lang.IllegalArgumentException: Invalid payload item type
02-20 13:49:58.671 E/AndroidRuntime(31633): 	at android.util.EventLog.writeEvent(Native Method)
02-20 13:49:58.671 E/AndroidRuntime(31633): 	at android.app.Activity.onMen

[2018-02-20 12:59] tobiasKaminsky commented on #2121
To clarify first the wording:
![case1](https://user-images.githubusercontent.com/33788078/36422119-330a8ade-163b-11e8-8f6d-1ec0448cce47.jpg)

left: file list with placeholder (dummy image icon) as thumbnails (little square images)
middle: shows thumbnail as long as it takes to load the resized/screen adapted image.  As you show on your second case, you see a real square image (thumbnail) if it is

[2018-02-20 13:06] tobiasKaminsky commented on #2196
@xXSTrikeXx on the drawer, what is the name before the "@"?
Does this match the username in user list when logged in as admin?

[2018-02-20 13:09] tobiasKaminsky commented on #2015
@jdutsler do you see the images double in the regular file list "all files" or at "photo" view (both on drawer)?

[2018-02-20 13:15] tobiasKaminsky commented on #2203
I assume that getAppContext() is somehow null.
Maybe this is due to some race condition, whereas the app is not yet started (no context available), but something tries to start document provider.

But as said, I had this only once. On other tries there was no exception, but still no provider.

[2018-02-20 13:21] tobiasKaminsky commented on #2182
As far as I remember this was implemented by @przybylski and on first iteration it was intended to have only already downloaded files shown.

[2018-02-20 13:37] tobiasKaminsky commented on #2184
I meant theming app within admin settings, to customize color and background image of nexctloud login page.

[2018-02-20 14:31] jancborchardt commented on #2034
How about radically simplifying the flow there? The only _really_ necessary thing is the local folder, right?

- The remote folder could be set to `Root → Name of local folder` by default
- Other settings are kept like default
- There’s an »Advanced settings« button which reveals the settings to be like the dialog shown above

That would make it absolutely clear you need to choose the local folder

[2018-02-20 14:36] tobiasKaminsky commented on #2189
Can you create us a test account and send the credentials to android at nextcloud dot com with a reference to this issue?

[2018-02-20 14:49] jancborchardt commented on #2188
Yeah, @skjnldsv is the dark theme expert here. :) We could have it in the settings, yes.

[2018-02-20 15:01] tigernero79 commented on #2189
tobias send email nero79@msn.com whit credenzial for test account

user= tobias
psw= send to email nero79@msn.com

url= https://www.pensierando.it/nextcloud

[2018-02-20 15:05] tigernero79 commented on #2189
@tobiasKaminsky

the reference is that once created the folder and encrypted with e2e inside I can not copy anything or create folders I do not have permission to do so says.

[2018-02-20 16:33] mathiasconradt commented on #2182
I see. Google Drive seems to behave similar (doesn't allow refreshing the file list via remote calls to the server while in the "document picker mode"), while Dropbox does that and also shows folder structures that you haven't entered before. Just tested it. Of course, the latter is a little bit nicer to have, if it's technically possible in NC.

[2018-02-20 16:53] AndyScherzinger commented on #2034
I like @jancborchardt's approach very much :+1:

[2018-02-20 16:54] AndyScherzinger commented on #2034
@jancborchardt so don't show the remote folder only as an »Advanced settings«? (Fine by me!)

[2018-02-20 17:26] xXSTrikeXx commented on #2196
The name before "@" is the same as the login name. It´s my name "Timo".

If I understand your 2nd question correctly its the same name as the name when editing users in the web ;)

[2018-02-20 17:59] bazio101 commented on #2184
Theming is enabled, default settings, no custom color or background image.
Nextcloud 12.0.2
Theming 1.3.0
Is this anyway related to app crash on android device?
By the way app syncs faster now on 3.* version.

[2018-02-20 18:02] godfuture commented on #1807
I have the same experience. I assumed I was doing something wrong and asked in the forum:
https://help.nextcloud.com/t/connectivity-issues-with-android-app/24758

But my issues persist on NC 13 and Android App 3.0. The app seems to have connections issues even being connected with strong wifi. Browser all fine.

[2018-02-20 18:46] mrlongshen commented on #2194
Im using nc 12 and nc apps 3.0.2 its not working.

[2018-02-20 18:51] mrlongshen commented on #2194
Typo nc 3.0.1

[2018-02-20 19:37] xXSTrikeXx commented on #2203
@AndyScherzinger
To clarify that I test now the right actual behavior:
1. Add test account to android.
2. Go to 'all files'
3. Press + Icon and choose the second one 'content of other apps'
4. Filemanager opens and for me now Nextcloud is now showing up with 2 Accounts. So its working for me.
So the expected behavior is working, but I recognize that now no avatar is loading. For a few days I creat

[2018-02-20 20:26] mathiasconradt commented on #2203
@xXSTrikeXx Just tried the same on my Huawei Mate 8, created a new account. Still, NC doesn't show when the filepicker menu shows.
(Also noted some Avatar issues today. Avatar only shows of 1 of my 3 accounts).

[2018-02-21 06:49] jdutsler commented on #2015
Hi Tobias,

As with most times I build something on Linux, I have kept pretty detailed
notes on how I built it as I will usually wipe and build a clean version
once I am done experimenting and learning through the challenges.  I am in
the middle of that wipe process right now to build my third (and hopefully
final) version of nas4free with nextcloud.  As soon as it comes back up (I
expect within 2

[2018-02-21 08:09] tobiasKaminsky commented on #2199
Done. We need a bit of files_external app change (done by @rullzer :+1: ), so it will take some time until we see the external folder icon.
I think it is bound to major releases, so it will be in NC14.

[2018-02-21 10:55] tobiasKaminsky opened #2208 "Log_OC.d(TAG, e.getMessage()) -> getMessage() can be null"
So this can be null and it seems that it happens some times, according to google play console.

To not have an exception here, best would be to put null check in each Log_OC methode.
Or do you see anything better?

[2018-02-21 11:03] AndyScherzinger commented on #2208
:+1: Nope, no better idea atm

[2018-02-21 13:31] tobiasKaminsky commented on #2034
I would show it, but have the above as a sane default

[2018-02-21 13:33] tobiasKaminsky commented on #2196
Strange...
The default avatar (Letter with color) can also be generated on device as a fallback, so this does not mean anything.
Can you create us a test account, test if the problem occurs also there and if so send the credentials to android at nextcloud dot com with a reference to this issue?

[2018-02-21 13:34] tobiasKaminsky commented on #1807
What do you see if this happens? Just a spinning wheel?
Or do you get some kind of other infos?

Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-02-21 13:37] tobiasKaminsky commented on #2142
This is then a different bug @PakhomGolynga.
The one we are talking about here is, that after selecting many many files and clicking upload, nothing happens.

Please open up a new issue for your bug.

[2018-02-21 13:45] jancborchardt commented on #2034
@AndyScherzinger yep, only show it in advanced settings. It's not necessary to show directly when it's automatically set, that would just be confusing again. :)

We should help people to focus on the absolute essentials, and in this case that's only the local folder.

[2018-02-21 13:51] tobiasKaminsky commented on #2034
This is only shown if people enable "expert mode" in settings.
Hiding now the remote folder behind an additional advanced setting is somekind of redudant for me.
And it is also not consistent to the "regular" synced folder where you see it directly:

![2018-02-21-145022](https://user-images.githubusercontent.com/5836855/36483478-8f6d33a4-1716-11e8-908f-48d0855451cb.png)

So I vote for "sane defaul

[2018-02-21 14:21] PakhomGolynga commented on #369
After update to MIUI Global 9.2 (from MIUI 8x) I have same problem. App upload only 7-10 files and stopping upload process.
Also I see into log file: "CopyAndUploadContentUrisTask : Not enough permissions to read source file content://com.miui.gallery.open/raw/"
[currentLog.txt](https://github.com/nextcloud/android/files/1744281/currentLog.txt)

Android version: Android 6.0.1
Device model: Xiaomi

[2018-02-21 14:21] PakhomGolynga commented on #2142
@tobiasKaminsky , I found a similar problem with my issue #369.

[2018-02-21 14:27] jancborchardt commented on #2034
To be honest, "Expert mode" is confusing. It's completely unclear what changes as a result of it.

Also, it doesn't matter if you are an expert or not – the UX in this case should be perfect. We shouldn't have a "Disable good design" mode in our app, so to speak.

It's much better to go for simple flow and advanced settings on a case-by-case basis as I proposed, rather than to have a mystery switc

[2018-02-21 14:38] jancborchardt opened #2212 "Combine Move and Copy in menu"
Just like in the server, we should have a single entry "Move or copy".

For that the current move/copy view just needs to be minimally adjusted:

- In the root view, header should have an "x" in the top left to cancel operation
- Header text in root view should be "Move <filename>" (not enough space to include "copy" here)
- Primary blue button on right should say "Move here", secondary grey left

[2018-02-21 14:40] jancborchardt opened #2213 "Remove "Select all" from the 3-dot-menu as that's already in the multiselect menu"
When there's no file selected, we don't need "Select all" in the 3-dot-menu.

[2018-02-21 14:51] jancborchardt opened #2214 "Already downloaded files take long to open (especially when offline)"
1. Download a file
2. Go offline, or simply bad connection (or even normal connection)
3. Open the file again

You get one toast and one blocking loading modal:
![](https://i.imgur.com/B6cJJAH.png)

Depending on your connection they stay pretty long (especially when offline) and are not cancellable. This makes the app seem slow and even a bit broken.
Funnily enough, files you did not download yet

[2018-02-21 15:56] mario commented on #2214
This was actually a client requirement.

On Wed, 21 Feb 2018 at 15:51, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2018-02-21 15:58] mario commented on #2034
Why not just set default instead? I agree with Tobi in this case.

On Wed, 21 Feb 2018 at 15:27, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2018-02-21 16:17] AndyScherzinger commented on #2034
:rofl: I'd guess everyone is right...

* the "advanced" settings would simply be hidden with an accordion like element have sane default set already (true for "normal" auto upload as well as "custom folder" auto upload)

The issue here is actually not the custom folder: there you only need to provide the local folder and we could (don't do this yet) have defaults for everything (only thing missing

[2018-02-21 16:50] jancborchardt opened #2215 "Activity icons are much too large"
The icons on the left here should not be so big:
![](https://i.imgur.com/NZ7Pwin.png)

Instead, they need to have the same size as the action icons in the header or file list. (The text alignment is good though, left-aligned with the title.)

[2018-02-21 16:57] jancborchardt opened #2216 "Activity date dividers design"
Currently the date dividers are a bit lost in the list:
![](https://i.imgur.com/YuFeay2.png)

2 things to improve:
- Add whitespace above them, around the height of one row of a normal entry.
- Make the header sticky when scrolling (alternatively: show the "5 days ago" instead of the header, or as a subheader)

[2018-02-21 17:38] jancborchardt commented on #2034
Again - even if this dialog is only shown to people who enabled "Expert mode", my suggestion still stands. Obviously the current design of just showing everything causes confusion.

[2018-02-21 17:43] jancborchardt commented on #2214
Would my proposed solution interfere with that? Because this absolutely breaks the UX.

[2018-02-21 19:06] aquaritus commented on #2023
I have the same problem when I try to upload files to a newly created encrypted folder. The app complains missing permissions to create the file. But the user can upload the same file to a normal, not encrypted folder. Already tried different new user, problem is still there. Also removed the app and installed it new from Play Store as well as F-Droid.

Android Version: 8.1
App Version: 3.0.1
Serv

[2018-02-21 19:23] aquaritus commented on #2023
Tried to make a logfile with logcat to help solving this issues. Hope this logifle is some kind of useful. The error was reproduced during the logging.

[logcatOutput.txt](https://github.com/nextcloud/android/files/1745416/logcatOutput.txt)

[2018-02-21 20:38] AndyScherzinger commented on #2034
True, while "just not showing it/hiding it" isn't a complete solution either ;) It is not the "Expert mode" that shows this dialog in contrast to the "normal mode" but that the "Expert mode" enabled custom folders which differ from "media folders" with regards to mandatory user input.

I'll see if I find the time to post some screenshot sicne my impression is that the actual situation isn't fully

[2018-02-21 21:03] mgoppold commented on #1175
Sorry for the late response. With nextcloud 13 on my server and app version 3.0.1 the directories were created as expected.

[2018-02-21 21:03] #1175 closed

[2018-02-21 21:31] AndyScherzinger commented on #2214
It can't be solved this way actually :/ This could be done for Text files or Images/Videos because they get opened in-app while any other file type will be send to another, external app and we can't ping that one about an updated file thus if we need to enforce an up-to-date file then we need to check before opening :/

What I don't know is how the check is actually done. ETag? Because that should

[2018-02-21 22:26] AndyScherzinger commented on #2215
PR is #2217

Is this fine by you size-wise @jancborchardt?
![device-2018-02-21-232331](https://user-images.githubusercontent.com/1315170/36509043-a076b77c-175e-11e8-8dae-532fc98c1b59.png)

[2018-02-21 22:33] AndyScherzinger commented on #2216
Thus not like the web UI?
![2018-02-21 23_32_16-activity - cloudbox](https://user-images.githubusercontent.com/1315170/36509315-90eef188-175f-11e8-9f31-62d980dee2fb.png)

[2018-02-21 23:03] jhf2442 commented on #2152
As far as I could trace it from my backups this must come from some very old owncloud setup.
Have checked - at least owncloud 8.0 recommends to have the 403 and 404 lines in the nginx config

[2018-02-22 07:10] xXSTrikeXx commented on #2196
Done. 👍

[2018-02-22 07:30] tobiasKaminsky opened #2219 "AppContent null?"
Google play console:
[code]
which is first line of:
https://github.com/nextcloud/android/blob/314526005489943cf8a35d8c4ace2f4db802922a/src/main/java/com/owncloud/android/ui/activity/DrawerActivity.java#L1143-L1144

We could change the first line to be like second line, but I do not know if this is  then crashing later, if contentResolver is null.

Unfortunately I cannot reproduce this :/

[2018-02-22 08:37] tobiasKaminsky commented on #369
Passing files from one app to another is done via content uri.
The sender app must give enough rights so that the receiver app can read it.
From your log it seems that miui gallery passes a content uri to the receiver app, but does not grant the access to it.
On Nextcloud there is nothing we can do here.

[2018-02-22 08:46] tobiasKaminsky commented on #2212
At least for me this is very uncommon in android. Also as this is no dialog it additionally would look/feel strange, I think.

This will depend heavily on screen size and language. On a recent (full hd) phone English might work with "Move/copy", but German "Verschieben/Kopieren" might not. But saying only move might confuse the user.
Maybe we find something more generic? Android will try to fit te

[2018-02-22 08:49] tobiasKaminsky commented on #2213
It is a short to select all ;-)
It will automatically enable multi-select mode and select all files.

I am unsure if this is important enough to keep it, but technically it is working ;-)

[2018-02-22 08:52] tobiasKaminsky commented on #2023
Have you setup encryption correctly? With 12 word pass phrase? Can you access existing files in an encrypted folder?

The error message indicates that somehow the server thinks that you access the encrypted folder without proper encryption keys and therefore blocks it.

[2018-02-22 09:06] aquaritus commented on #2023
Yes, since the update to 3.0.1 the setup of the encrypted folder works fine.
Didn't try to access files, because I only tried to upload files to the encrypted folder using the android app. Which unfortunately doesn't work.

Am 22. Februar 2018 09:52:33 MEZ schrieb Tobias Kaminsky <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-02-22 10:35] DagNygren commented on #2140
Seeing this on 3.0.0RC3 as well. VPN or not doesn't matter. The setting on autoupload was WiFi only when some photos were qued. Now these are stuck in the que seemingly forever. Turnig WiFI on/off doesn't work. Turning phone off/on doesn't work. Turning off 4G doesn't work. It just doesn't seem to pick up the changed status..I see that the bug report is closed. Does this mean that the issue is fix

[2018-02-22 10:45] tobiasKaminsky commented on #2214
This is done via SynchronizeFileOperation:
https://github.com/nextcloud/android/blob/a77c453941e640f4153193f4eb42a2e27c846a0a/src/main/java/com/owncloud/android/ui/helpers/FileOperationsHelper.java#L249-L269

So, let us think a bit about it:
On folder entry we do check for a changed etag, which then indicates that any of the folder content has changed. But we do *not* do anything with this informa

[2018-02-22 10:48] rullzer commented on #2214
Sounds very sane @tobiasKaminsky. Note that the desktop client does exactly the same. We check every 30 seconds. And only if we detect a change sync. So if a change happened a second later and you open it then you will read an out of date version.

Indicating a file is out of sync to the user is a good first step imo.

[2018-02-22 11:52] PakhomGolynga commented on #369
I tried several other applications "gallery" and with some of them there are no problems with unloading.
Thank you!

[2018-02-22 12:23] tobiasKaminsky commented on #1351
ServerTextColor is supported on NC12+, so we have to keep this until EOL of NC11.

https://github.com/nextcloud/android/blob/614d78ba58c34b75f4b796b9f9595d6e7f90267b/src/main/java/com/owncloud/android/utils/ThemeUtils.java#L140-L154

[2018-02-22 12:24] tobiasKaminsky commented on #1338
I did not see this on google play console and we also had no way to reproduce this.

[2018-02-22 12:24] #1338 closed

[2018-02-22 12:24] tobiasKaminsky commented on #1312
Is the above suggestion/workaround working?

[2018-02-22 12:26] tobiasKaminsky commented on #1271
As dicussed and agreed on, we do not plan with milestones.

[2018-02-22 12:32] AndyScherzinger commented on #1351
Fine by me while I'd still vote to support the fallback until 12 is EOL.

[2018-02-22 12:43] AndyScherzinger commented on #2140
@DagNygren can you please update to 3.0.1 to check if the issue persists

[2018-02-22 13:24] tobiasKaminsky opened #2220 "Only folders shown on copy/move"
![2018-02-22-142023](https://user-images.githubusercontent.com/5836855/36540682-99bb60e0-17db-11e8-9b19-39029e73d490.png) ![2018-02-22-142035](https://user-images.githubusercontent.com/5836855/36540680-99a07af0-17db-11e8-9eec-8ef5af7a9e18.png)

Left: source folder, file 1.txt is moved
Right: same folder as "target", but only folders are shown.

If you enter a folder with only files, it would show

[2018-02-22 14:18] AndyScherzinger commented on #2220
Yes the scenario you just mentioned move/copy ;) While I'd say we just shouldn't show this message here but have a nicer visualization of the folder being empty (as in no further folder hierarchy levels)

[2018-02-22 14:56] tobiasKaminsky commented on #2220
Hm. I assumed that it is important to see the files. As with the files you can see additionally check if you have chosen the right directory.

[2018-02-22 15:00] AndyScherzinger commented on #2220
Afair we explicitly changed this due to @jancborchardt's feedback but this was probably years ago....

[2018-02-22 15:16] DemoFreak commented on #1312
Sry, I changed the setting to "move to apps folder", so I can't say.

[2018-02-22 18:24] DagNygren commented on #2140
Did that now. No difference in behaviour..

[2018-02-22 18:27] DagNygren commented on #2140
The exact chain of events that triggered the problem was:
Set up to download only on WiFi
Go out and take a photo where there is no WiFi
Go back in and activate the WiFi connection and you still see the uploads queued in "Waiting for WiFi" state

[2018-02-22 20:56] skidelo commented on #2130
+1

[2018-02-23 05:32] xXSTrikeXx commented on #1412
Sry for the late update. Long absent, soon forgotten. I can observe this with latest v3.0.1.
Its not only external. I tested it now with a test account and its sample data. Its also in web ui. I've already sent test account to android email ;)

[2018-02-23 05:37] xXSTrikeXx commented on #2220
Duplicate of #1412

[2018-02-23 07:56] tobiasKaminsky commented on #2194
This is fixed via https://github.com/nextcloud/android-library/pull/127 and will be in 3.0.2

[2018-02-23 07:59] tobiasKaminsky commented on #1312
Ok, as you were the only one reporting this, I'll close it.
Thanks for responding.

[2018-02-23 07:59] #1312 closed

[2018-02-23 08:02] tobiasKaminsky commented on #1412
@xXSTrikeXx do those target folders only containt files?
Then this might be related to: #2220

[2018-02-23 08:04] tobiasKaminsky commented on #2220
At least the scenario I pointed out above is "self-made" on android as we explicitly say that we only want to show folders, which is confusing, even for me xD

[2018-02-23 08:06] AndyScherzinger commented on #1412
This sounds like the same issue appears in the webUI so the services probably can't sent usn any data that can't be shown in the webUI.

[2018-02-23 09:26] xXSTrikeXx commented on #1412
@tobiasKaminsky Yep, I already referenced to it :D
And Andy is probably right.

[2018-02-23 09:33] xXSTrikeXx commented on #2220
@tobiasKaminsky So you mean the bug is: Showing 'no files here' when there still exist some files?
And it is so intentionally based on performance reasons to show only the folders?
So the Fix will be to change the 'no files here' message to 'here are X files, in the case there are still files?
What do you think and plan? Showing all files will be a good ux, but more data consumption?

[2018-02-23 10:08] tobiasKaminsky opened #2223 "NPE: general enhancements"
From google play console:
[code]
which is
` getStorageManager().getFileByPath(mWaitingToSend.getRemotePath())`

This method can return null if the file does not exist in our database.

We could
- add @Nullable to method declaration
- throw IllegalArgumentException, which does not need to be handled
- throw FileNotFoundException, which needs to be handled

This is just an example, there are a lot m

[2018-02-23 10:14] eric4321 opened #2224 "Unable to add content to E2E encrypted folder."
### Actual behavior
Unable to create a folder in or upload a file to an E2E encrypted folder.

When trying to create a new folder a "You are not permitted to create this file." error appears.

When trying to upload a single file a notification appears with the error "You are not permitted to upload to this folder"

### Expected behaviour
-The folder should be created in the encrypted directory.
-T

[2018-02-23 10:33] tigernero79 commented on #2224
Problem already open here

https://github.com/nextcloud/android/issues/2189

[2018-02-23 10:41] mrlongshen commented on #2194
Thanks. Its work now ! Yehaaaaaaaaaaaaaaaaa 😁😍

[2018-02-23 11:12] tobiasKaminsky opened #2226 "getCurrentAccount can be null"
This function can be null.
https://github.com/nextcloud/android/blob/6820bf1dba3c65d722e4c0642e10b15f0c8602e5/src/main/java/com/owncloud/android/authentication/AccountUtils.java#L58-L58

It is used in 52 places and at some places this is not checked correctly, e.g:
https://github.com/nextcloud/android/blob/d12af2a34231ac5b85cedc0bf1f4d4b2f8ab5aa0/src/main/java/com/owncloud/android/ui/activity/Mana

[2018-02-23 11:21] Django3 commented on #2121
Ok, thanks a lot for this explanation.
Then i have a other problem if the resized image is really only about 100kb. Cause it takes in my case about 5 seconds (best case) to 40 seconds to load the resized image. The average time is about 25 seconds. With a 56k modem that should be faster. ;)

This is the reason why i thought, it is downloading the full (5-10MB) image ...

[2018-02-23 13:03] #2224 closed

[2018-02-23 13:35] tobiasKaminsky commented on #2194
How is this? There is no new release? ;-)

[2018-02-23 13:36] tobiasKaminsky commented on #2121
@Django3 the resized image first must be created by the server and this depends on the image size and how fast your computer is.
You can use preview generator, but this will consume a large amount of space, in trade of faster previews.

[2018-02-23 13:38] janipewter commented on #2194
What was the problem and when will the updated app be in Play store?

[2018-02-23 15:36] ConorIA commented on #2013
Not fixed as of 3.0.1 for me. Still getting the same errors in the logs:

[code]

[2018-02-23 15:43] ConorIA commented on #2134
Just thought I'd chip in here. I'm also experiencing issues trying to create keys for my admin account.

[code]

[2018-02-23 22:46] benpro commented on #2032
I have the same issue, I see this with logcat.

[code]

[2018-02-23 23:20] benpro commented on #1531
I'm still having this issues. Deleted using sqlite resolved the problem.

[2018-02-24 09:27] raphaotten commented on #2130
+1

[2018-02-24 14:53] micah opened #2227 "Malformed server configuration"
I'm able to connect my android device to my nextcloud server. It logs in, and is able to load the top-level folder list. I can view the files on the server.

If I try to make a new folder there, or upload files, I am given the error, "Malformed server configuration".

I can use the web interface, and create folders, and upload files, without any problem.

http://192.168.1.45/remote.php/webdav brin

[2018-02-25 10:37] knelro commented on #2023
Hi,
I have the same issue using the android client (v3.0.1).
From android client (Tested on 3 devices with android v4.4.4, 7.0 and 7.1.2):
- Setup encryption -> working
- Set an empty folder as encrypted -> working
- upload a file to an encrypted folder -> not working (errors as above stated)
- create a folder inside an encrypted folder -> not working (same as for uploads)
- list files already pre

[2018-02-25 11:16] Siggi0904 commented on #2194
Hi, is it now fixed?
When will be the 3.0.2 released at GooglePlay?
I'm at the beta channel but there is no testing stuff.

[2018-02-25 12:30] tigernero79 commented on #2227
in the config.php file under

'trusted_domains' =>
  array (
    0 => 'www.example.com,
    1 => '192.168.1.45',
  ),
did you enter local ip is public ip?

[2018-02-25 14:41] AndreasMettlen commented on #603
@mario let me know if you still need a test setup with client certificates enabled. In the meantime I will try to look into this (I haven't worked on android apps yet, but I can find my way around in php/java/python so I will give it a try)

[2018-02-25 16:33] mario commented on #603
@AndreasMettlen yes I do. Send me the required cert + url, server and pass to mario@nextcloud.com :)

[2018-02-25 16:37] micah commented on #2227
tigernero79 <notifications@github.com> writes:

no, my nextcloud server is on a local, non-public network.

[2018-02-25 21:31] tanvidadu commented on #2216
Is this issue up for grabs ? I will like to work on it . Thanks :)

[2018-02-25 21:34] AndyScherzinger commented on #2216
Hi @tanvidadu and welcome!

Yes, this issue is up for grabs. If you need any help, have any questions please feel free to ask.
@tobiasKaminsky @mario and me are here to help :)

[2018-02-25 21:36] tanvidadu commented on #2223
I can start working on this issue and add commit for each fix case by case

[2018-02-25 22:04] khandom commented on #2194
When will the 3.02 Android app be released?

[2018-02-25 23:12] jancborchardt commented on #2220
The files should absolutely be shown in this view. :) It gives a sense of orientation, and does not cause confusion as to if they are still there or not.

[2018-02-26 03:15] xXSTrikeXx commented on #2194
Hey folks, please have a look at the milestones:

https://github.com/nextcloud/android/milestones

There are many issues open and some pull request aren't pulled. So please be patient until the pr are merged and a beta can be build. :wink:

[2018-02-26 08:19] tobiasKaminsky opened #2229 "Remove "change password""
Change password is currently changing only the password with which the app authenticates to the server.
If this password is not valid anylonger, e.g. when the auth token is revoked, the user gets the Authenticator/Login screen presented. So this is all fine.

Currently when clicking on "change password" this just opens up AuthenticatorActivity / Weblogin flow, which can change the internal stored

[2018-02-26 08:31] tobiasKaminsky commented on #2223
Thanks @tanvidadu, but we should first clarify what do of the 3 options we use.
What would you prefer?

Sometimes it is even acceptable that no file exists already, e.g. in case of creating a folder...

[2018-02-26 08:31] CNeutron commented on #735
I have the same bug. My setup is a Sony X Compact with android 7.1
The Nextcloud App Data is on the SD. The picked up Pictures are on internal (i do a rename before to avoid the overwriting Problem, becaus of the strange behaviour of Sony Camera App)

As soon as the Picture is uploaded it gets moved correctly into the App Data Folder (checking with Total Commander).
If I go into the Folder in the

[2018-02-26 08:43] 80tf3262p8 commented on #2189
"Fixing" the user agent in 3.0.1 is probably what broke this. It works fine back in 3.0.0.
From the 3.0.1 notes: "New android lib, fixing wrong user agent"
From the server log, after updating Android client to 3.0.1:
"OCA\DAV\Connector\Sabre\Exception\Forbidden: client not allowed to access end-to-end encrypted content
/home/nextcloud/nextcloud/apps/end_to_end_encryption/lib/Connector/Sabre/LockPl

[2018-02-26 08:56] tobiasKaminsky opened #2230 "Roadmap 3.0.2"
Outstanding
- [x] merge https://github.com/nextcloud/android-library/pull/126
- [x] tag & use new library
- [x] backport https://github.com/nextcloud/android/pull/2205
- [x] backport https://github.com/nextcloud/android/pull/2200
- [x] backport https://github.com/nextcloud/android/pull/2186
- [x] update transifex #2237
- [x] Bump version name and version code in `build.gradle` files #2238

**Final

[2018-02-26 09:19] tobiasKaminsky commented on #2194
Plan is to release 3.0.2 today.
Please note that NC10 is end of life and therefore might not work in all cases.

[2018-02-26 09:20] tobiasKaminsky commented on #2189
We hope this is fixed in upcoming 3.0.2

[2018-02-26 09:25] DagNygren commented on #2140
Ok. Used the source ("Use the source, Luke!" and found that the upload on WiFi setting is not really an "Upload on WiFi" .... What it actually says is "Upload on unmetered networks only" . And as this is something you can turn on and off also on WiFi (in settings for Data Usage) it just happened to be in the On position for our internal network for some reason. Turning that setting off made the au

[2018-02-26 09:36] chrisueb opened #2232 "External Storage Folder not Visible"
Hello,
In der new Android App, i can't find the SMB External Storages.
In the old Version works the External Storage Folders.
Thx

[2018-02-26 10:08] tobiasKaminsky commented on #2220
PR is in #2233

[2018-02-26 10:13] tobiasKaminsky commented on #2140
Thanks for your help in debugging this! :tada:

I also think that we should change the name to "upload on unmetered wifi only".
Allowing the app to upload on any wifi is not a good idea.

@mario?

[2018-02-26 10:14] jancborchardt commented on #2216
@AndyScherzinger:the whitespace is like in the web interface. The stickiness or setting it as subheading helps further. :)

[2018-02-26 10:14] tobiasKaminsky commented on #2232
This is strange, as we did not changed that, we rely on the results from server.
Did you also upgraded the server?

Can you create us a test account, test if the problem occurs also there and if so
send the credentials to android at nextcloud dot com with a reference to this issue?

[2018-02-26 11:19] DagNygren commented on #2140
No problem.Glad I could help a bit. Thanks to you guys for creating this and  using Open Source - It makes debugging sooo much easier :-)

[2018-02-26 11:45] skjnldsv commented on #2188
Ahaha :D
Yes, it's a feature that should be shipped in 14 :)

[2018-02-26 11:55] AndyScherzinger commented on #2230
Nope, sounds good to me :+1:

[2018-02-26 12:00] AndyScherzinger commented on #2229
Nice catch for UX :+1:

[2018-02-26 13:19] avanc opened #2236 "Error message is not shown completely and not fully understandable"
### Actual behaviour
- Open Nextcloud App
- Go to "Benachrichtigungen" (Notifications?)
- Note is shown:

https://github.com/nextcloud/android/blob/1e5924d611a69bbe8b17dd54d1b09449c215bf29/src/main/res/values-de-rDE/strings.xml#L658

- However, the text is not fully visible on the screen. Only in Landscape Mode.
- In addition, some further information would be helpful. Do I really have to remove t

[2018-02-26 18:26] tanvidadu commented on #2213
I can work on this issue. It would help me get familiarized with the code base a little.

[2018-02-26 18:31] tanvidadu commented on #2223
I prefer option FileNotFoundException as it will allow us to take appropriate action as an when required like display an alert etc.

[2018-02-26 19:49] tanvidadu commented on #2213
I can start working on this issue. it will help me get familiarized with code base.

[2018-02-26 20:59] Grmume commented on #1067
I still have this problem with version 3.0.1. My server is reachable using a browser on my phone, but the app is stuck at Testing Connection. The server uses ipv6.

[2018-02-27 06:23] tobiasKaminsky commented on #2223
Here we use the null check on purpose...
But for me a real FileNotFoundException is also the best.

https://github.com/nextcloud/android/blob/b6e84b66fd72e2dd86caae00cb3788036fd12008/src/main/java/com/owncloud/android/operations/CreateFolderOperation.java#L100-L102

@mario @AndyScherzinger your opinions?
If we all agree on this, then @tanvidadu can start :-)

[2018-02-27 06:24] tobiasKaminsky commented on #2213
Great that you want to help us :+1:
If you have any question @tanvidadu, please do not hesitate to ask, either in this issue or on #nextcloud-mobile on irc.

[2018-02-27 06:24] tobiasKaminsky commented on #1067
Can you create us a test account and send the credentials to android at nextcloud dot com with a reference to this issue?

[2018-02-27 06:50] Grmume commented on #1067
I'm sorry the problem only exists when connected to WiFi(on the same network as the server). I will open a new issue. Thanks for the fast Response.

[2018-02-27 08:13] AndyScherzinger commented on #2223
I also agree with you @tanvidadu @tobiasKaminsky -> `FileNotFoundException` is the appropriate one :+1:

[2018-02-27 08:39] lupetalo commented on #2032
Same issue!

[2018-02-27 08:39] AndyScherzinger commented on #2214
This has also been reported to the forums recently: https://help.nextcloud.com/t/getting-newest-version-of-file/28051

[2018-02-27 08:41] mario commented on #2214
We could disable checking for updated file when offline. IHMO, that's the best solution.

[2018-02-27 08:42] AndyScherzinger commented on #2214
I second that, checks shouldn't happen when offline :+1:

[2018-02-27 09:03] tobiasKaminsky commented on #2223
@tanvidadu if you want to start with this, I am happy to help you.
As you said it is the best to have one commit for each case, so in doubt we can just kill one commit.

[2018-02-27 09:07] tobiasKaminsky commented on #2214
Good point, but then we should also have a snackbar warning, that it is maybe an outdated file.

What about my other idea:

After this we can use the blocking "check for changes" as it is now.
As @rullzer said, this is also done on desktop client.

Of course this is only meaningful with the other idea:

On file click we then know that the file is out of sync and can sync it (either up- or download

[2018-02-27 09:14] mario commented on #2230
👍

[2018-02-27 09:19] AndyScherzinger commented on #2214
Also makes a lot of sense in my opinion and I think both solutions would work nicely being implemented

[2018-02-27 09:29] lars-vom-mars-x opened #2239 "Host not found! basic authentication scheme selected"
### Actual behaviour
Host not found!

### Steps to reproduce
1. start nextcloud client
2. put server address: "http://myowncloud.local.net/owncloud/"
3. receive success message "Host found"
4. put user and password
5. click "connect"
6. receive error message "Host not found"

### Environment data
Android version: LineageOS 14.1-20180208

Device model: m8

Nextcloud app version: 3.0.1

server versi

[2018-02-27 09:41] MorrisJobke commented on #2239
Just a little hint: You can easily migrate to Nextcloud with our migration script: https://nextcloud.com/migration/ 😉

[2018-02-27 09:41] AndyScherzinger commented on #2239
@lars-vom-mars-x thanks for the report. The upcoming 3.0.2 (soon to be released) will fix the issue you reported (error on loading Quota info) via https://github.com/nextcloud/android-library/releases/tag/1.0.39

---
Beware that we do not officially support ownCloud _and_ v8.x is not even supported by ownCloud anymore (since 02/2017) so either way I'd strongly suggest to update the server version

[2018-02-27 09:42] AndyScherzinger commented on #2239
@lars-vom-mars-x please let us know it you still have issues after the 3.0.2 update has been released. For now I'll close the issue since 3.0.2 should ship the fix.

[2018-02-27 09:42] #2239 closed

[2018-02-27 09:46] AndyScherzinger commented on #2230
@tobiasKaminsky I updated the list to reflect the release todos.

[2018-02-27 09:54] tobiasKaminsky opened #2240 "Check for unsupported server & warn"
On login / first start after an upgrade the app should warn the user if an unsupported server is detected and recommend to upgrade to latest stable version.

Login: for every new account
first start after upgrade: this way we can notify existing users about EOL servers.

@jospoortvliet, @MorrisJobke, @rullzer

[2018-02-27 10:12] MorrisJobke commented on #2240
:+1: This is fine for every user on the system - something like: "Please be aware that you run this against an ownCloud server which doesn't support all of the features that this app provides - for a better experience ask you admin to migrate to Nextcloud"

I would say, that this should only shown to admin users, because normal users can't do much here. It would be annoying for them to always see

[2018-02-27 10:15] tobiasKaminsky commented on #2240
"always": exactly one time after an upgrade of the app ;-)
While I understand that users cannot do anything directly, they still can contact the admin and maybe they should also be warned that an EOL server may have security risks...

[2018-02-27 10:24] leandro-lucarella-sociomantic opened #2241 "[regression v3] Upload: Files that are not found anymore have wrong error "Waiting for WiFi""
### Actual behaviour
I have auto-upload for camera pictures and I have the upload only enabled on WiFi.
When I take a picture and I don't like and I remove it before the WiFi was available (so the picture is not uploaded yet), then after the WiFi is available the file is wrongly marked as failed with reason "Waiting for WiFi".

### Expected behaviour
The error shouold be "Local file not found" ins

[2018-02-27 10:47] tobiasKaminsky opened #2242 "Check if E2E is still available"
- fresh installation
- have encrypted folders in account
- disable e2e app
- click on encrypted folder
-> tries to generate & upload keys

Instead app should warn and do not enter folder.
(This should not happen and if it is a "fault" of the admin, but let us be safe here)

[2018-02-27 11:18] rullzer commented on #2240
I think this is a great idea. Even worded correctly. Users that might not be able to fix it directly could contact their admin.

[2018-02-27 12:37] dxj728 opened #2243 "There seems to be something wrong with the sidebar"
### Actual behaviour
When you collect a folder, open the sidebar, select your favorites option, then find your favorite folder in the interface, then click enter the folder, it seems that everything looks normal, but when you return, But found that the previous directory shows all the files, not the original collection of those files, but the sidebar options still remain in the collection interfac

[2018-02-27 12:44] dxj728 opened #2244 "It seems that the search results are incorrect"
### Actual behaviour
When you click on the upload on your phone, there is a search option in the pop-up screen, but when you search for a file or a strange character, it gets the results, but it's not correct.

### Expected behaviour
Get the right results

### Steps to reproduce
1. Click on the main interface to upload the file
2. Click search in the open screen and search for a non-existent file

[2018-02-27 13:08] lars-vom-mars-x commented on #2239
@AndyScherzinger very thanks. I'll inform you with 3.0.2.
@MorrisJobke very thanks. Migration to nextcloud after test 3.0.2, okay?

[2018-02-27 13:15] MorrisJobke commented on #2239
Perfect 👍

[2018-02-27 15:43] AndyScherzinger commented on #2194
Last remaining PR has been merged. Thus I close the issue for now. Please re-open in case you still experience this issue after a 3.0.2 updated (which you shouldn't of course).

[2018-02-27 15:43] #2194 closed

[2018-02-27 16:51] mario commented on #2045
Glad to have this fixed ;)

[2018-02-27 17:37] olenz commented on #780
I also must confirm, since 3.0.1, upload seems to drain battery. Problem with android 8.1 on Nexus 6p.

[2018-02-27 17:42] mario commented on #780
Upload or the notification that's persistently there?

[2018-02-27 18:04] tobiasKaminsky commented on #2189
This is fixed with 3.0.2, tested with a clean installation with an existing user and with a fresh one.
If this happens again, please re-open.

[2018-02-27 18:04] #2189 closed

[2018-02-27 18:15] tobiasKaminsky commented on #2230
3.0.2 is now released.

[2018-02-27 18:21] tobiasKaminsky commented on #2243
Can you do some screenshots for the steps you mentioned as I unfortunately do not understand the problem.

[2018-02-27 18:22] tobiasKaminsky commented on #2244
I tried it and I guess it tries to get the closest possible result, which is still wrong, but maybe explain why and which files are presented...

[2018-02-27 18:24] tobiasKaminsky commented on #2239
While the error above is fixed, refreshing a folder with oC10 results in a login screen with 3.0.2...So this will not help very much.

[2018-02-27 19:39] gorn opened #2245 "Contacts backup failing with "upload permission error""
### Actual behaviour
- Contacts backup fails with "Permission error"

### Expected behaviour
- Contacts backup should happen succesfully and automatically on daily basis.

### Steps to reproduce
1. In  "Settings" (Nastavení) switch ON  "Contacts backup" (Zálohování kontaktů).
2. In "Uploads" (Nahrání) I see lots of Failed uploads. One of them looks like this

[code]

3. The backup never happens.

[2018-02-27 19:40] xXSTrikeXx commented on #2196
![screenshot_2018-02-27-20-36-14](https://user-images.githubusercontent.com/1523741/36750562-20d9b0c4-1bfe-11e8-8221-10caddc86412.png)

Updating Libraries (3.0.2) don't resolve the problem. I'm the only one who have this behavior? When this is the case I will reinstall the app and close the issue ;)

[2018-02-27 19:58] AndyScherzinger commented on #2196
Never had the issue strangely you don't see any avatar,not even a fallback. That is extremely strange...

[2018-02-27 20:49] tigernero79 opened #2246 "App 3.0.2 bug on file deletion with e2e and server-side encryption enabled"
nextcloud application 3.0.2 with server-side encryption and active encryption and 2e does not allow you to delete files in unencrypted folders. we can upload files but do not delete them

![screenshot_20180227-215309](https://user-images.githubusercontent.com/35575744/36754232-ba06072a-1c08-11e8-95ee-006d5f4d7b50.png)

![screenshot_20180227-215319](https://user-images.githubusercontent.com/3557574

[2018-02-27 21:06] tux-rampage commented on #1807
Since App version 3.0 this problem is gone for me.

[2018-02-27 21:10] tigernero79 commented on #2246
I had to disable e2e again because with the server-side encryption enabled and with e2e running via nextcloud 3.0.2 it is not possible to remove files in unencrypted folders. this is serious.

[2018-02-27 21:12] tigernero79 commented on #2230
I had to disable e2e again because with the server-side encryption enabled and with e2e running via nextcloud 3.0.2 it is not possible to remove files in unencrypted folders. this is serious.

https://github.com/nextcloud/android/issues/2246

[2018-02-27 21:28] AndyScherzinger commented on #2246
cc @tobiasKaminsky for e2e implementation :)

[2018-02-27 21:31] AndyScherzinger commented on #2245
@gorn does this still happen with v3.0.2
cc @tobiasKaminsky for contact backup issues

[2018-02-27 21:31] tigernero79 commented on #2246
the proletariat is Poe on normal folders not e2e where I can not delete files but only uplodate. while electronic folders e2e can delete files is uplodate. the problem is either in normal folders when both server-side and client-side e2e encryption is enabled

[2018-02-27 21:33] AndyScherzinger commented on #2236
@tobiasKaminsky I think this needs a fix in transifex translations while I can't exactly say what it should say then. Any ideas?

[2018-02-27 22:58] khandom commented on #2194
Your patch seems to have fixed our issue. I will continue to test the
functionality with intentions of upgrading from OC to NC. Thank you very
much :) I left a 5 star review on the google play store.

On Tue, Feb 27, 2018 at 10:43 AM, Andy Scherzinger <notifications@github.com

[2018-02-27 23:04] AndyScherzinger commented on #2194
Hi @khandom, thank you very much for your feedback and of course for the 5 star rating! Happy we could fix the issue :)

[2018-02-27 23:19] janipewter commented on #2194
The update seems to have fixed the problem for me too. Thanks for your hard work guys...will give you a 5 star review on Google Play.

[2018-02-28 01:05] johnwmail opened #2247 "Still have write permission to E2E folder problem, after upgrade android client to 3.0.2"
### Actual behaviour
-Tell us what happens
Upload file to E2E folder, then nextcloud show error message: forbidden
### Expected behaviour
-Tell us what should happen
 Success to upload file to E2E folder
### Steps to reproduce
1. encrypt E2E folder with "E2E encryption"
2. upload file to E2E folder
3. nextcloud show error message: forbidden

### Environment data
Android version:

Device model:

St

[2018-02-28 01:24] johnwmail commented on #2247
My nextcloud End-to-End Encryption apps is show me version 1.0.2,
and https://apps.nextcloud.com/apps/end_to_end_encryption show us,
then last version is 1.0.2, but when I click the link,
I actually downloaing end_to_end_encryption-1.0.3.tar.gz

So, what is the last update to date, end_to_end_encryption release version?
1.0.2 or 1.0.3?   or both is the same?
Thanks

[2018-02-28 02:04] dxj728 commented on #2244
@tobiasKaminsky Will you fix the problem? After all, it was wrong.

[2018-02-28 02:09] dxj728 commented on #2243
When you click from the sidebar's favorites screen to enter a folder you've collected, and then go back to the previous interface to the root directory, you'll find that the root directory shows all the files, not just the ones you used to collect.

[2018-02-28 02:23] dxj728 commented on #2243
This is the correct collection display interface
![screenshot_1519784142](https://user-images.githubusercontent.com/18740322/36766374-9188090c-1c70-11e8-9354-fe3798d911dd.png)
![screenshot_1519784148](https://user-images.githubusercontent.com/18740322/36766390-a6daf954-1c70-11e8-80c4-e77b50085d78.png)
When you click on the folder of this collection, and then exit the folder, it seems that the coll

[2018-02-28 02:24] dxj728 commented on #2243
![screenshot_1519784168](https://user-images.githubusercontent.com/18740322/36766596-825baf00-1c71-11e8-8515-ad09cd713fa0.png)

[2018-02-28 06:20] tobiasKaminsky commented on #2246
I tried it on my NC13 test server with both enabled server side (SSE) and client side encryption (E2E):
- upload a file to a normal folder -> content is encrypted (SSE)
- delete this file worked without a problem
- upload a file to an E2E folder -> complete file is encrypted
- delete this file worked without a problem

I remember you gave us test credentials. Can you test if this problem also occu

[2018-02-28 06:30] tobiasKaminsky commented on #2196
@xXSTrikeXx thanks for your email with test credentials.
For me it worked without a problem:
- first letter T on green background
- changing avatar on web ui
- waiting a bit
- new avatar on drawer

As you said in your email, I'll provide you some test credentials on my server.

[2018-02-28 06:32] tigernero79 commented on #2246
User=tobias
Psw= send to android@nextcloud.com

URL= https://www.pensierando.it/Nextcloud

[2018-02-28 06:34] #1807 closed

[2018-02-28 06:38] tobiasKaminsky commented on #2245
I tested it with NC13 and 3.0.2 and it worked without a problem.

Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-02-28 06:42] tigernero79 commented on #2246
@tobiasKaminsky
OCA\DAV\Connector\Sabre\Exception\Forbidden: client not allowed to access end-to-end encrypted content
/web/htdocs/www.pensierando.it/home/Nextcloud/apps/end_to_end_encryption/lib/Connector/Sabre/LockPlugin.php - line 124: OCA\EndToEndEncryption\Connector\Sabre\LockPlugin->checkUserAgent('Mozilla/5.0 (An...', '/Test/andftp.xm...')
[internal function] OCA\EndToEndEncryption\Connecto

[2018-02-28 06:51] tobiasKaminsky commented on #2236
The text is indeed to long, but also have no idea how to get it shorter...

[2018-02-28 06:52] tobiasKaminsky commented on #2244
Yes, this will be fixed, but I cannot estimate when as it is not a high rated bug.

[2018-02-28 07:03] PravinsinghWaghela commented on #251
I am facing this issue on Android 6.0 with LG G Stylo device. Is there is any fix for this HeaderViewListAdapter.java:164 of list view which is causing indexOutOfBoundException.

[2018-02-28 07:23] tobiasKaminsky commented on #251
#2039 will replace the current implementation with the newer recyclerlist, so at least this particular error cannot happen anylonger.

[2018-02-28 07:24] #2230 closed

[2018-02-28 07:37] AndyScherzinger commented on #2247
cc @tobiasKaminsky for e2e

[2018-02-28 08:10] tigernero79 commented on #2246
@tobiasKaminsky

in your nextcloud to test the server-side encryption voice in addition to enable it you also checked the square that encrypts the main archive? because I have it enabled

[2018-02-28 09:07] AndyScherzinger commented on #2194
Thanks for the feeback and the 5 star rating @janipewter. Both is highly appreciated.

[2018-02-28 10:30] karottenbaum opened #2248 "Sharing: app icons are not sized equally"
### Actual behaviour
The app icons in the sharing menu are not equally sized, instead they are displayed in their original size.
2 screenshots:
![screenshot_20180228-110941](https://user-images.githubusercontent.com/6024426/36782507-75877680-1c79-11e8-84c0-65b8731be35c.png)
![screenshot_20180228-112346](https://user-images.githubusercontent.com/6024426/36782710-0c33b1ac-1c7a-11e8-8046-f19d02339961

[2018-02-28 10:55] avanc commented on #2236
But do I really have to delete my account on that device and start from scratch?

[2018-02-28 11:50] tobiasKaminsky commented on #2087
Is in #2039, so closing

[2018-02-28 11:50] #2087 closed

[2018-02-28 12:20] tobiasKaminsky commented on #2248
This needs to be fixed for next release.
If anyone wants to pick it up, please feel free.
Otherwise I'll do it close to feature freeze.

[2018-02-28 12:23] tobiasKaminsky commented on #2236
If you want to have push notifications, then yes.
The reason for this is that you need a new authentication token created by the new weblogin flow. Only with this you have a unique id and can receive notifications.

If you do not need push notifications you can still open up "notifications" on drawer and see the recent ones.

[2018-02-28 12:34] AndyScherzinger commented on #2248
@tobiasKaminsky I am not even sure what the correct size is. Looking at Twitter and Tumbler they are the same and both ship the Android 8 defined launcher icon sizes. But yeah should probably be smaller for the moment but we might have to enlarge it again at a later point in time in case more apps support Android 8 icons.

[2018-02-28 12:37] tobiasKaminsky commented on #2248
Without looking at the code, I assume that a defined size is missing, e.g. 32dp.

[2018-02-28 13:01] CrippinNRW opened #2249 "Auto Upload does not work."
### Actual behaviour
Auto Upload does not work.
Manual Upload works. But if I take a Picture I get a Message with connection Problems

### Environment data
Android version: 7.0

Device model:

Huawei Mate 10 Lite RNE-L21

Stock or customized system:

stock

Nextcloud app version:

3.0.2

Nextcloud server version:

13

[2018-02-28 14:43] tobiasKaminsky commented on #2223
So this is happening quite some time according to google play console:

https://github.com/nextcloud/android/blob/c1fe52bbf81f374803fd94fe071c3b905b67167f/src/main/java/com/owncloud/android/operations/RefreshFolderOperation.java#L358-L364

mLocalFolder is null and we did not check this...

[2018-02-28 15:00] tobiasKaminsky commented on #2223
https://github.com/nextcloud/android/blob/d12af2a34231ac5b85cedc0bf1f4d4b2f8ab5aa0/src/main/java/com/owncloud/android/ui/activity/ManageAccountsActivity.java#L116-L116

This functions also needs to be handled better :-)

[2018-02-28 15:01] tobiasKaminsky commented on #2223
And this...

https://github.com/nextcloud/android/blob/b0586ee9daeddea59d03108a72e128cd22f01829/src/main/java/com/owncloud/android/ui/activity/FileActivity.java#L561-L572

[2018-02-28 15:26] mario commented on #1293
@tobiasKaminsky ^_^

[2018-02-28 15:29] mario commented on #2249
Manual upload is pretty much the same as auto upload. So dunno where that's come from :( Only guess is you have Huawei and you haven't enabled background tasks for Nextcloud app?

[2018-02-28 15:30] mario commented on #2241
This is because it's never retried so it's not given a chance to update the status.

[2018-02-28 15:33] xXSTrikeXx commented on #2249
I have this problem not so often, but at least on one file. I'll keep an eye on it ;)

[2018-02-28 15:38] xXSTrikeXx commented on #2248
I will look into it and try my best ;)

[2018-02-28 15:39] mario commented on #2241
I hopefully have a fix here: https://github.com/nextcloud/android/pull/2254

[2018-02-28 15:47] mario commented on #2011
Please use 3.0 and let me know.

[2018-02-28 15:57] Moarc commented on #2011
For me, everything started working flawlessly after the 3.0 release.

[2018-02-28 15:59] tanvidadu commented on #2223
I will start working on the issue. Is there specific action that needs to be taken while handling exception ?

[2018-02-28 16:01] mario commented on #2011
Thanks! :)

[2018-02-28 16:01] #2011 closed

[2018-02-28 16:03] mario commented on #1510
I now this is a device-specific issue. You need to ignore battery optimizations on certain phones in order for this to work. So closing.

[2018-02-28 16:03] #1510 closed

[2018-02-28 16:03] mario commented on #1726
Should not happen due to crc32 introduction.

[2018-02-28 16:03] #1726 closed

[2018-02-28 16:03] mario commented on #1726
Should not happen due to crc32 introduction.

[2018-02-28 16:04] mario commented on #1666
Implemented.

[2018-02-28 16:04] #1666 closed

[2018-02-28 16:10] Siggi0904 commented on #2133
Here these bug still exists.
With 3.0.2 the login windows still occours.

Please reopen these bug and check what happend there.

[2018-02-28 16:11] Siggi0904 commented on #2194
Login window popup every time with 3.0.2 too.
See https://github.com/nextcloud/android/issues/2133

[2018-02-28 16:21] AndyScherzinger commented on #2194
Just dropped you an email. If you can provide us with a test account than we can debug the issue with your server.

[2018-02-28 16:27] xXSTrikeXx commented on #2133
@Siggi0904
Please check your table of bruteforce attempts. Maybe this results the behavior. What happens when you use a different device?

[2018-02-28 16:47] sysoppl opened #2256 "'Locked' error after uploading files to e2e folder"
### Actual behaviour
- After uploading some files (about 15) into e2e encrypted folder it shows up 'Locked' error

I cannot:
 - reupload files that failed to upload (locked error)
 - open uploaded files (they're showing as encrypted or something, picture 1)
 - upload new files to the folder (locked error)
 - delete files (server is unavailable error)

When I try to open/delete files I get "this fi

[2018-02-28 16:51] Siggi0904 commented on #2194
I answered your mail.

[2018-02-28 17:25] Siggi0904 commented on #2133
Brute force table cleaned. Same behavior.

[2018-02-28 18:17] tigernero79 commented on #2247
I updated the e2e module to the 1.0.4 release and I solved the problem

[2018-02-28 18:17] tigernero79 commented on #2246
I updated the e2e module to the 1.0.4 release and I solved the problem

[2018-02-28 18:17] #2246 closed

[2018-02-28 19:04] avanc commented on #2236
I removed the account an started over again. But I get the message again. Do I have to do something special while signing in? Or some configuration on the backend needed ?

[2018-02-28 20:05] ironicx commented on #2131
I see exactly the same behaviour here.

### Environment data

Android version:
6.0.1

Device model:
Fairphone 2

Stock or customized system:
Fairphone OS

Nextcloud app version:
3.0.1 (Fdroid)

Nextcloud server version:
13.0.0

[2018-02-28 21:12] janipewter commented on #2133
I have this behaviour too. The 3.0.2 update fixed the "could not find host" error but now I constantly get the login box. Put password in and hit OK, logs in, but as soon as I touch any button it goes back to login box.

ownCloud server v10.0.4
NextCloud Android app 3.0.2
Android version 7.0
Samsung Galaxy S7

I can provide a test account. Please let me know where to send the details

[2018-02-28 22:56] Wikinaut opened #2258 "Implementation of the StorageProvider interface"
According to the answer to my issue https://github.com/bitcoin-wallet/bitcoin-wallet/issues/519 it seems that Nextcloud Android is not yet compliant to https://github.com/googlesamples/android-StorageProvider .

Please can someone have a look into this issue, thanks.

[2018-03-01 00:05] sethc432 opened #2259 "Nextcloud App Download Error F-Droid"
### Actual behaviour
Displays message "The requested file was not found. https://f-droid.org/repo/com.nextcloud.client_20000199.apk"

### Expected behaviour
The app should be downloaded and installed.

### Steps to reproduce
1. Use Copperhead OS OPM3.171019.014.2018.02.18.00
2. Use F-Droid 1.0.2
3. Install Nextcloud App (non-dev)

### Environment data
Android version:8.1.0

Device model: Huwaei Ne

[2018-03-01 00:39] johnwmail commented on #2247
After upgrade e2e app to 1.0.4, I still have problem, the nextcloud.log show us.

#7 {main}\",\"File\":\"\\\/var\\\/www\\\/apps\\\/end_to_end_encryption\\\/lib\\\/Connector\\\/Sabre\\\/LockPlugin.php\",\"Line\":170}","userAgent":"Mozilla\/5.0 (Android) ownCloud-android\/3.0.2","version":"13.0.0.14"}

[2018-03-01 02:52] dxj728 commented on #2243
@tobiasKaminsky Hello, I have provided a screenshot, please reconfirm this question.

[2018-03-01 06:11] tigernero79 commented on #2247
what's your problem now? it seems you simply have locked files.
to avoid this, insert the entry
`'filelocking.enabled' => false`
in the config.txt file and delete the files in question.
if the file is in an e2e folder,
remove the encryption before deleting the file.
done this eliminates the entry from the config.txt file

[2018-03-01 06:16] johnwmail commented on #2247
@tigernero79
What are you talking about?
Where is config.txt?
Why do you think, it is file locking problem?
I don't think so.

[2018-03-01 06:30] tigernero79 commented on #2247
Directory Nextcloud/configurazioni/configurazioni.txt

Edit this file, insert the entry

Test

[2018-03-01 06:42] tobiasKaminsky commented on #2223
I think it depends on the case
- some, like creating folder, are needed checks, so they are rather easy
- some are NPE can be silently catched and ignored
- some NPE cannot be resolved and should be presented somehow to the user, e.g. if you receive a shared file and a NPE happens (just an example, not sure if this could happen)

If you are unsure, just ask here :+1:

[2018-03-01 07:13] johnwmail commented on #2247
No, same error message
No matter 'filelocking.enabled' => false or true.

Again, why do you think this?

[2018-03-01 07:27] tobiasKaminsky commented on #692
This is not done yet, or?
Fresh checked out repo is 306Mb:
- src 12Mb
- all other < 1Mb
- .git: 285Mb

[2018-03-01 07:32] tobiasKaminsky commented on #2236
On login you see the "new login" with "grant access"? Or can you directly type username/password in?

[2018-03-01 07:42] tobiasKaminsky commented on #2258
We already have a DocumentProvider.
It needs to be clarified if StorageProvider can replace DocumentProvider, how it behaves on <4.4 devices.

[2018-03-01 07:45] tobiasKaminsky commented on #2259
Fdroid seems to have only the latest 3 versions:
3.0.1
3.0.0
3.0.0RC3

For every other fdroid related question, please open up a ticket on froid.

[2018-03-01 07:45] #2259 closed

[2018-03-01 07:58] tigernero79 commented on #2247
for this error

/ Saber \ /LockPlugin.php

try on terminal digit

`sudo chown -R www-data:www-data /var/www/nextcloud`

where / var / www / Nextcloud you need to set the directory of your nextcloud

[2018-03-01 07:58] AndyScherzinger commented on #692
Don't think so. Fresh checkout is extremely large regarding the git folder :(

[2018-03-01 08:00] mario commented on #692
Ah I will check.

[2018-03-01 08:01] johnwmail commented on #2247
@tigernero79

#7 {main}","File":"\/var\/www\/apps\/end_to_end_encryption\/lib\/Connector\/Sabre\/LockPlugin.php","Line":170}","userAgent":"Mozilla/5.0 (Android) ownCloud-android/3.0.2","version":"13.0.0.14"}

Please read / Saber \ /LockPlugin.php line170

The problem is useragent

[2018-03-01 08:02] tobiasKaminsky commented on #2247
@tigernero79 you are mixing things up and thus this cannot help:
LockPlugin has nothing to do with filelocking although the name suggests this.
Filelocking is a global server concept, whereas LockPlugin is only for E2E. On upload the target directory gets first locked so that no-other can write into it, until the client uploaded file and metadata and unlocked the folder.

Changing chown should als

[2018-03-01 08:03] tobiasKaminsky commented on #2247
Indeed @johnwmail, the problem is again useragent, while I do not get this...All E2E related calls are with new user agent...

[2018-03-01 08:08] tobiasKaminsky commented on #692
[code]

But I doubt that this are all apks?

[2018-03-01 08:12] Wikinaut commented on #2258
@tobiasKaminsky Thanks for swift reply. Perhaps you contact the https://github.com/bitcoin-wallet/bitcoin-wallet/issues/519 developer to check what needs to be changed and where. Otherwise, currently, it is not possible to select Nextcloud as destination for a wallet-security backup - which was possible earlier.

[2018-03-01 08:50] johnwmail commented on #2247
Any idea, how to fix it?

[2018-03-01 09:15] pixiandreas commented on #2249
Hello
Same problem here
Samsung S7 with nextcloud 3.0.2

Before the app update 2018-02-28 everything works as it should.
But  the manual update and Web works but not the autoupload
The error message is "Could no complete operation. Server unavailable"

I have try to restart the server and the app but still the same error.

Andreas H

[2018-03-01 09:16] jaark commented on #2249
I am seeing this exact same problem with a Galaxy S6.

The uploads still fail if you manually click to retry but a 'normal' manual upload works fine.

[2018-03-01 09:25] jaark commented on #2249
I've got what looks like a relevant snippet from the client log file (nothing seems to happen on the server though I could be missing something)

Does this help any?

[2018-03-01 09:29] jospoortvliet commented on #2249
@mario my galaxy S7 also gives 'server unavailable' and that is using cloud.nextcloud.com for testing ;-) ping me if you need me to test/check anything.

[2018-03-01 09:34] rikmeijer opened #2261 "InstantUpload fail with "Could not complete operation. Server unavailable""
### Actual behaviour
-Take picture
- wait for nextcloud
- see error "Could not complete operation. Server unavailable" appear

Normal uploads do work!!

Apparently a HOST_NOT_AVAILABLE result is being returned, but I am unable to determine if this is caused by an InvalidHostException or a RuntimeException. I suspect a RuntimeException, but am unable to debug any further.

### Expected behaviour
-

[2018-03-01 09:51] DoubleODave commented on #2245
I have the same issue, although in English and message is 'Connection error' rather than 'Permission error'. App v3.0.2 and NC 13, both freshly installed this week.

Logcat contains:

03-01 09:35:21.279  5234  5254 E VCardComposer: Cursor#moveToNext() returned false
03-01 09:35:21.284 14559 26882 D ContactsBackupJob: Storing: 2018-03-01_09-35-21.vcf
03-01 09:35:21.316 14559 14559 D FileUploader: S

[2018-03-01 09:57] rikmeijer commented on #2261
Just noticed  #2249, looks the same

[2018-03-01 09:58] rikmeijer commented on #2249
Having the same problem, although nothing relevant appears in my log files

[2018-03-01 10:03] #2261 closed

[2018-03-01 10:45] digorgonzola commented on #2249
Same issue here on a MotoG but the following seemed to fix it.

Uploaded two files manually: worked a treat

Went back to the upload queue and retried failed uploads. New message "waiting to exit powersave mode" (just happened to have pretty low battery).

Plugged in charger and hey presto it worked!

Took some more photos just to make sure it wasn't a fluke and it did work.

[2018-03-01 10:58] jaark commented on #2249
The message for me has always been "Failed/pending restart".

Plugging in the power cable made no difference.

[2018-03-01 10:59] avanc commented on #2236
Yes, I got the grant access (Zugriff gewähren) dialog.
But I didn't select the Option talking about app token.

[2018-03-01 11:00] mario commented on #2249
So auto upload has two jobs:
- schedule upload
- auto-retry

It looks like that parts are working.

Then it performs regular upload, so did you all try (including @jospoortvliet) if regular upload is working? Maybe related to agent changes @tobiasKaminsky ?

[2018-03-01 11:03] jaark commented on #2249
Yes, regular file upload works fine.

[2018-03-01 11:10] rikmeijer commented on #2249
@mario Yes, regular uploads work

[2018-03-01 11:36] FoXFTW commented on #2249
Having the same problem.
Device: Galaxy S8
Version: 3.0.2

Manual Upload works fine

[2018-03-01 11:41] #2140 closed

[2018-03-01 11:46] #2241 closed

[2018-03-01 11:54] wvxx commented on #2249
Same issue since yesterday's update.
Device: Xiaomi Mi 5
Version: 3.0.2

Tested as well on Huawei Mediapad x2  - same issue
Manual upload works in both cases.

[2018-03-01 12:07] okaestne opened #2263 "Too many queries in the background?"
### Actual behaviour

The app fires so many queries to the status.php and /index.php/204 that my apache's mod_evasive blocks it. This happens in the background, when the app isn't in use, even at nights. ~BUT this only seems to happen when my smartphone is connected via cellular networks, NOT when connected via WLAN.~

### Expected behaviour
- Less queries

### Steps to reproduce
1. Connect smartp

[2018-03-01 12:30] gorn commented on #2245
Where can I get 3.0.2? Latest on F-droid is 3.0.1

[2018-03-01 12:39] tobiasKaminsky commented on #2249
Is manually resuming a broken, scheduled by auto upload, one working?
(I tried it with 3.0.2, and NC13 and it is working).

[2018-03-01 12:43] jaark commented on #2249
No, manually retrying the upload fails.

[2018-03-01 12:45] wvxx commented on #2249
In my case it doesn't even look like it's retrying anything. Progress bar pops up for literally a few miliseconds, then the same error comes back.

[2018-03-01 12:47] jaark commented on #2249
Mine seems just like the above, I do not notice anything in the Apache logs when retrying the upload either..

[2018-03-01 12:57] mathiasconradt commented on #2182
@tobiasKaminsky @AndyScherzinger No idea what has changed, but today when I needed the file picker in some app, all my Nextcloud accounts are showing up properly on my Huawei device where they previously never showed before.

I see that the latest app version 3.0.2 just got released on Feb 27. Maybe the update included a fix for this as well.

[2018-03-01 13:00] xraMsamohT commented on #2249
Same here with Android 6 device with 3.0.2 client.
I tried the **Force new scan** (German: Neuen Scan erzwingen) menu entry within Uploads and it seems that Auto Upload of new files (Screenshots) works now.
I'll keep an eye on it.

[2018-03-01 13:02] wvxx commented on #2249
Force rescan does not work for me, sadly.

[2018-03-01 13:18] AndyScherzinger commented on #2182
No idea.... 3.0.2 didn't have any changes for the document provider implementation...

[2018-03-01 13:19] AndyScherzinger commented on #2245
3.0.2 is available on GPlay and we are waiting for f-droid to also do a build&publish for it

[2018-03-01 13:39] HardcoreWR commented on #2249
Unfortunately both my wife and me have the exact same issue.
Manual upload works, but auto upload schedules the files to be upload but all fail with 'Connection error'

My phone: Galaxy S8
Nextcloud app version: 3.0.2

Wife's phone: Galaxy A5 (2017)
Nextcloud app version: 3.0.2

[2018-03-01 13:51] Layiap commented on #2249
Same problem here.
Galaxy S8
Android 8.0.0
Nextcloud app version: 3.0.2
Server v 13.0.0

[2018-03-01 14:14] lukas2511 commented on #2249
Same here.
OnePlus 5T
Android 8.0.0
Nextcloud app version: 3.0.2
Server v 13.0.0

[2018-03-01 14:25] cmot-weasel commented on #2249
Same here on two different Nextcloud server instances:

Personal setup:
* Nextcloud Server v13.0.0 (just upgraded, same effect on 12.0.4, 12.0.5)
* 2x Huawei P10 (both Android 7.0)
* App version 3.0.2

Work Setup:
* Nextcloud server v13.0.0
* multiple Samsung Xcover 3 (Android 5.1.1)
* App version 3.0.2

Summary:
* Manual "upload file" works fine
* Auto-upload fails with "Connection Error", manual

[2018-03-01 14:26] rikmeijer commented on #2249
Just added a brand new account to my nextcloud android client, problem persists for auto uploads under that account

[2018-03-01 14:27] lukas2511 commented on #2249
@mario Could this be the issue? https://github.com/nextcloud/android/commit/38dc41ad3bd3ffe3bdd4746e75dce2a1145209c8

The commit message indicates that the code should have been removed, but instead it has been re-activated. And it's exactly at the line mentioned in @jaark's log snippet.

[2018-03-01 14:33] mario commented on #2249
@tobiasKaminsky any idea about those lines? I think they were just temporarily commented out before, right?

@lukas2511 same code is used for regular upload so if that works...

[2018-03-01 14:57] AlexanderKgr commented on #2249
I had the same problem. I thought that the only things they have changed from yesterday was the app update and....the month. I manually added the folder 03 under the 2018 folder and the auto upload finished without any problem. I think that the problem is the new app and the change of the month

[2018-03-01 14:58] mario commented on #2249
Well then the grant folder thing could indeed be at fault. But is it needed
for e2e?

On Thu, 1 Mar 2018 at 15:57, AlexanderKgr <notifications@github.com> wrote:

[2018-03-01 17:05] xraMsamohT commented on #2249
Exactly the same here. That's it!

[2018-03-01 17:19] jaark commented on #2249
Hmm, after reading @xraMsamohT 's reply, I went to check mine and though I don't have the monthly folder change set up, I had noticed that the upload folder has changed from /InstantUpload/ to /InstantUpload/Camera/

This is a different default behaviour from previous versions and, of course I do not have a Camera folder under InstantUpload. Changing this to upload to InstantUpload makes automatic

[2018-03-01 17:34] wvxx commented on #2249
This does not seem to be the only case. I tried autouploading a photo from another device which didn't have latest version installed. It worked well and the folder was created, yet retrying failed upload on my phone (or trying a new one) is still impossible.

[2018-03-01 18:25] rikmeijer commented on #2249
Too bad, manually creating a 03 folder did not solve it.

[2018-03-01 18:27] mario commented on #2249
Let's see if https://github.com/nextcloud/android/pull/2265 fixes it :)

[2018-03-01 18:49] rikmeijer commented on #2249
I'd be willing to test if I knew how 😊

[2018-03-01 18:53] xraMsamohT commented on #2249
2nd test with Camera folder. After manually creating the 03 folder the restart of uploading works. Afterwards the Auto Upload works as aspected.

[2018-03-01 19:38] gorn commented on #2245
Thanks ... I will wait when its published and test. I hestitate with logcat - my device is not rooted and I use it everyday + dunno how risky rooting is.

[2018-03-01 23:41] Memphizzz commented on #2249
I can also confirm this. After creating a folder called "03" in my AutoUploads folder using the web interface, then going back to the app and see that folder appear, AutoUploads work. I guess its just that the app "forgets" to create the new directory.

[2018-03-02 02:03] digorgonzola commented on #2249
I also had to manually create the new folder for this month "03"On 2 Mar. 2018 10:41, MemphiZ <notifications@github.com> wrote:I can also confirm this. After creating a folder called "03" in my AutoUploads folder using the web interface, then going back to the app and see that folder appear, AutoUploads work. I guess its just that the app "forgets" to create the new directory.

—You are receiving

[2018-03-02 02:09] m3lloa commented on #2249
Creating the month folder didn't fix it for me.

NC v. 13.0.0
FreeBSD 11.1 VM on a FreeBSD 11.1 Host
Apache version 2.4.29
MySQL version 10.1.31
PHP Version: 7.1.13
Android Client: 3.0.2
LG G5 Android 7.0

[2018-03-02 02:28] paour commented on #1780
I had the same thing happen to me. The cause send to be that I had set auto upload to create year/month folders, and the client failed to auto create a folder for the new month.

[2018-03-02 02:31] sumnerboy12 commented on #1780
@paour I was having the same problem, and after your comment realised it only started happening post 1st March. When I manually created the `upload\2018\03` folder the uploads started working again. Thanks for the tip!

[2018-03-02 03:09] FunkyLoveCow commented on #2249
I ran into this problem running 3.0.2 on a Pixel 2 on 2018-03-01 as well. Normally, a new directory would be automatically created at the start of each month, but for some reason it was not during the auto-upload process this month.

I have no relevant logs on the failure in either the client or the server. Only the message "Could not complete operation. Server unavailable" from the client when it

[2018-03-02 03:35] m3lloa commented on #2249
Not on my setup. Created 03 folder and issue remains. It says could not complete operation, server unavailable.
When you check the upload on the ap, the status is connection error.
________________________________
From: FunkyLoveCow <notifications@github.com>
Sent: Thursday, March 1, 2018 10:09:24 PM
To: nextcloud/android
Cc: m3lloa; Comment
Subject: Re: [nextcloud/android] Auto Upload does not wo

[2018-03-02 04:08] bryantech commented on #2249
dev app 20180208 and 3.02 from Google. ZTE 981

No auto upload or manaul upload. I have restarted Nextcloud 3 times.

[2018-03-02 07:13] augin commented on #2249
+1

[2018-03-02 07:34] hal3993 commented on #2249
I had the same issue since 1st March. Here is my workaround (like some others before me also wrote):

- Use the web interface and create a new folder named "03" in your AutoUpload folder.
- Use the Android client, browse to your auto upload folder and refresh. Make sure you can see the empty folder "03".
- Use the Android client, go to the "Uploads" section and tap on the failed uploads.
- Now it

[2018-03-02 07:48] augin commented on #2249
It's work for me. Thanks. Xiaomi Mi6, Xiaomi Mi Note3

[2018-03-02 08:30] rikmeijer commented on #2249
Apparently I created the folder under the wrong directory. Following @hal3993 instructions fixed it fir me! Thanks!

[2018-03-02 08:39] jdkruzr commented on #2249
Creating the 03 folder worked for me on a OnePlus 3T with a custom ROM. Obviously I didn't have to do this for February.

[2018-03-02 08:46] jospoortvliet commented on #2249
@hal3993 that worked for me!

[2018-03-02 09:06] tigernero79 opened #2266 "nextcloud android does not install apk from unknown sources Oreo Samsung s8"
With introduction of oreo each application must be specified if it has permission to install apk from unknown sources, this with nougat had to be done by enabling installation from unknown sources, in oreo must be done for each application, but when I try to click on an apk file that is in my nextcloud does not start installing and asks me if I want to authorize installation of apk from unknown so

[2018-03-02 09:17] tigernero79 commented on #2266
Practically with oreo Nextcloud is not detected among programs that can install unknown applications

[2018-03-02 09:44] derseeli commented on #2249
After creating several 03 folders it works for every autoupload.

OnePlus 3T
Android 8.0.0
Nextcloud app version: 3.0.2
Server v 13.0.0

And Huawei Nova 2 (Android 7?)

[2018-03-02 09:49] salomonisch opened #2267 "[3.0.2] Login Loop"
### Actual behaviour
-Login Loop

### Expected behaviour
- Login without asking again and again

### Steps to reproduce
1. Reboot / Force to Stop and Start App Again
2. Wait for Login Prompt
3. Login (with correct data and active nextcloud server) -> Login Prompt Again

### Environment data
Android version:
7.0

Device model:
LG G5 (LG-H850)

Stock or customized system:
Stock

Nextcloud app versio

[2018-03-02 10:02] wvxx commented on #2249
hal3993's solution works for me as well. Thanks mate!

[2018-03-02 12:34] tigernero79 opened #2269 "the open function with , does not work in Oreo for apk files"
@tobiasKaminsky
the open function with does not work in Oreo for apk files

[2018-03-02 12:42] tigernero79 commented on #2269
https://github.com/nextcloud/android/issues/2266

[2018-03-02 15:35] albertlepinski opened #2270 "Desktop view on Android app"
### Actual behaviour
-Tell us what happens
When I log in using my Android app it is showing me the view my desktop gets when using a web browser to connect and not the one I expect in the Android App

### Expected behaviour
-Tell us what should happen
 I should see the Android app as it was meant to be.

### Steps to reproduce
1. Just login
2.
3.

### Environment data
Android version:
7.1.2

Devic

[2018-03-02 16:26] xXSTrikeXx commented on #2270
Can you provide us a screenshot of the view?

[2018-03-02 16:37] albertlepinski commented on #2270
![screenshot_20180302-113151](https://user-images.githubusercontent.com/3074447/36910173-fcb6dbc4-1e0d-11e8-8f5e-a3b7845e39ad.png)
gladly...thanks

[2018-03-02 16:39] albertlepinski commented on #2270
once in a while i'll get a prompt on the button to log in the old way...when i do i get a glimpse of the App as i expect ( where i can set up my auto upload folders and such ) but then this forces it self over the top in a moment or two.

[2018-03-02 16:40] albertlepinski commented on #2270
also oddly enough it worked fine on my HTC M8...I just upgrade to an HTC 10 and that is when this issue started.  Both running LineageOS

[2018-03-02 16:44] ssqstone opened #2271 "Battery Usage"
background service is really battery consuming--I cannot effectively charge unless force quit nextcloud

[2018-03-02 16:48] janipewter commented on #2133
I have migrated to Nextcloud server instead. No idea why I wasn't using it in the first place, but now everything works perfectly.

Thanks

[2018-03-02 16:50] mario commented on #2271
I think I fixed this, so will be in one of the future bigger releases.

[2018-03-02 16:58] evanrich commented on #2249
@hal3993 saves the day

[2018-03-02 17:19] AndyScherzinger commented on #2270
Outch, that should not happen (the web-login is correct, seeing the content afterwards isn't...)

Calling @tobiasKaminsky to the rescue! :)

[2018-03-02 17:54] albertlepinski commented on #2270
If I can provide anything more to help please let me know.

[2018-03-02 18:15] guoyunhe commented on #2249
Same problem.

[2018-03-02 18:33] Frank1967 commented on #2249
Confirmed on my Samsung S5 as well: creating the "03" upload directory fixes the problem for the Android 3.0.2 version.

Also confirmed that the problem does not exist in the 3.0.1 version of the client (just checked on a phone with automatic updates disabled).

[2018-03-02 18:39] guoyunhe commented on #2267
Maybe the same issue on my Moto G 5. Try to login but spinner rolling forever. I have cleaned cache and reinstalled the app for several times. No effects.

Nextcloud 3.0.2

Android 7.0

Nextcloud server 13.0.0

[2018-03-03 00:08] xXSTrikeXx commented on #2267
Can you check your bruteforce table in the MySQL? Maybe this is a relict of previous errors.

[2018-03-03 00:13] Railsimulatornet commented on #2249
same problem on galaxy s8 Oreo

[2018-03-03 01:50] timeggleston commented on #2249
Same issue and resolution on a Pixel 2 with Android 8.1.0, creating the 03 directory fixes the issue and allows the failed uploads to be retried successfully.

[2018-03-03 06:31] dsiminiuk commented on #2249
Moto G5 Plus NC v3.0.2
Autouploading

"Upload Failed"
"Could not complete operation, Server unavailable"

But I can browse the store manually.

[2018-03-03 09:10] fyah opened #2272 "3.0.2 auto upload with subfolder ==> fails new subfolder not created"
### Actual behaviour
-when new subfoder needs to be created (i.e 03 under 2018) it is not created and auto upload fails

### Expected behaviour
-when new subfolder is needed, it shall be created (it was before)

### Steps to reproduce
1. enable auto upload for a folder, enable the subfolder option
2. wait for month to change
3. new subfolder for new month is not created, upload fails with reason s

[2018-03-03 09:39] bes1967 commented on #2272
Same here. Even after manual creating directory autoupload fails with connection error. Everything was ok till 28 february.

[2018-03-03 10:17] ppoetsma commented on #2249
Same auto upload issue here on Android 7 devices with latest Nextcloud app 3.0.2. Devices are Motorola Moto G5S Plus and Samsung Galaxy S7. Creating the 2018 and 03 folders do not help. Browsing the files and downloading them works fine, it's just the auto upload of photo's and probably also videos.

Auto upload works fine on Apple iPhone 5S.

[2018-03-03 10:23] DAveShillito commented on #2133
After the 3.0.2 upgrade this problem has returned for me as well.

Android client 3.0.2
Wileyfox Spark+
Android 7.0

I'm connecting to Nextcloud 11.0.3 running on a Raspberry Pi2.
I do intend to update to Nextcloud 13 when possible, but when I tried updating to 12.0.5 I was not able to access Nextcloud from the web interface at all so I had to revert back to the pre-upgrade backup.

[2018-03-03 11:00] llucax commented on #2272
I can confirm this. I got "Connection error" for all March uploads. I couldn't figure out what was going on as any other service with my server worked (even within the Nextcloud app). Server logs said nothing (only `/status.php` was hit in apache logs when I used the "Retry failed" option, but not when hitting a single file). Also no logs produced when retrying uploads in the App logs.

Besides fi

[2018-03-03 11:04] rtfmjoey commented on #2272
Same here, creating the 03 folder manually solved the upload issue for now.

[2018-03-03 11:06] wlp7s0 commented on #2272
Same here. Manually creating subfolder doesn't help, fails with connection error.
Workaround is to disable "Use subfolders" option in parameters. Actually, according to server logs, connection is never requested. Manual upload to the same subfolder of the same file works.
Nextcloud server: 13.0.0
Nextcloud app: 3.0.2

Android app logs (not very usefull):

[2018-03-03 11:49] llucax commented on #2272
I have the feeling you might be experiencing a different (but maybe connected) issue, because I got nothing in the logs about any upload failing and manually creating the folder fixed the issue for the other people too.

[2018-03-03 11:55] wlp7s0 commented on #2272
@bes1967 in the second comment reported the same issue. Dunno if you are right, but disabling subfolder usage solved connection issue )

[2018-03-03 12:36] cowai commented on #1780
Same here.
It only started after 1th of march. It got fixed by creating the "03" folder my self. Strange bug.

[2018-03-03 14:02] chujionglie opened #2273 "Auto-sync doesn't work"
### Actual behavior
-Tell us what happens: When I upload files in the app or make changes on my computer, it immediately shows the same behavior in the app. But for the folders I've switched to Auto-sync, nothing happened to them.

### Expected behavior
-Tell us what should happen: Please tell me what should I doto make it work. I just wanna automatically backup pics on my phone to the server.

##

[2018-03-03 14:08] chujionglie commented on #2273
Thank you for providing such  a good program, it helps a lot.

[2018-03-03 15:04] holocronweaver commented on #285
Assuming work hasn't begun, can I implement increment 3? Just need some broad strokes on what changes need to be made.

[2018-03-03 16:13] mario commented on #285
First to clarify that we'll (hopefully) never support touching outside folders (e.g. we won't delete or replace things outside the Nextcloud data folder) via 2-way-sync.

That being said, increment 3 has in part started by doing this via this PR: https://github.com/nextcloud/android/pull/2253

The next step would be to completely remove the need for Sync adapter (check the code in syncadapter fold

[2018-03-03 16:16] pfinardi commented on #2272
Manually creating subfolder works for me.
Nextcloud server: 13.0.0
Nextcloud app: 3.0.2

[2018-03-03 16:59] janipewter commented on #2272
Same problem here. Also "upload only when charging" and "upload only on WiFi" settings are not respected. Nextcloud immediately attempts to upload files even when not charging or on WiFi and fails with "connection error".

Creating the 03 folder manually is a successful workaround for me. But I'm still curious as to why I am getting "connection error" when it should not even be trying to upload.

[2018-03-03 17:16] janipewter opened #2274 "PHP errors (libpng)"
### Actual behaviour
Nextcloud logs show loads of these errors:

imagecreatefrompng(): gd-png: fatal libpng error: invalid block type at /var/www/nextcloud/lib/private/legacy/image.php#582

### Expected behaviour
Not this error

### Steps to reproduce
1. Upload png files
2. ???
3. Profit

### Environment data
Android version: 7.0

Device model: Samsung Galaxy S7

Stock or customized system: Stock

[2018-03-03 17:29] lindhe commented on #2273
I get a notification that the server was not available (even though it aught to be). Do you also get that error? Or just nothing?

Have you tried going to "Uploads" in the main menu, and choosing "Force rescan" in the context menu (three dots in the upper right hand corner)?

[2018-03-03 17:32] lindhe commented on #2273
There seems to be an issue open already, with more detailed discussions going on. If you think it is the same issue, please close this issue and join that thread instead.

https://github.com/nextcloud/android/issues/2249

[2018-03-03 17:36] Wikinaut commented on #2249
Creating the "03" folder "solved" the issue.

#### Regression!
Now the question remains: why is the "03" not automatically created? This was the case earlier.

[2018-03-03 17:46] Superkikim commented on #2267
Hello.

Fairphone 2.0 Android 6.01, Server 11.03.

I had this problem with 3.0. 3.0.1 fixed it, 3.0.2 brought it back.

I upgraded the server to 12.0.5, and now it works.

[2018-03-03 17:52] chujionglie commented on #2273
thank you, I've tried the methods mentioned, but they don't work for me neither. And I'll close this issue and watch that one.
best regards.

[2018-03-03 17:52] #2273 closed

[2018-03-03 17:52] mario commented on #2249
Like @tobiasKaminsky mentioned, we hope to have this fixed in 3.0.3, aka soon.

[2018-03-03 18:09] freelock commented on #2249
I did try creating the "03" directory in the web interface, but it still failed to work... until I browsed there in Android and refreshed... Once Android "saw" the directory, auto uploading worked again...

[2018-03-03 21:13] detly commented on #1780
Clarification: @GitHubUser4234's issue probably has a different cause (I'm not using encryption). @paour's is also likely different (doesn't matter if upload folder exists or not).

[2018-03-03 21:23] OlivierS1 commented on #2249
This was not working for me either but then reading on the above comment I came to a fix on mine:

Creating the 03 folder from within the web interface to my Nextcloud account under my Instant upload folder within the 2018 folder.
This looks like this:

instantupload/camera/2018/03

Trying to upload failed uploads from my phone was still unsuccesful.
However, doing the following did fix the issue:

[2018-03-03 23:32] marvinwankersteen commented on #2017
I have the same issue:

Output from logcat:
[code]

Output from nextcloud server log:
`{"reqId":"xY3GrxMlOKpwOHC5E7uK","level":4,"time":"2018-03-03T23:25:09+00:00","remoteAddr":"10.42.24.8","user":"38EA6665-F9AB-4173-830B-B7C73E68A1EF","app":"webdav","method":"PUT","url":"\/remote.php\/webdav\/Videos\/Handy\/Kamera\/\/2018\/03\/VID_20180303_165949.mp4-chunking-1829038743-154-11","message":"Excepti

[2018-03-03 23:51] chujionglie commented on #2249
I have this problem too. But it's maybe not the fault of App version 3.0.2. Because after I installed a 3.0.0 version, it does not work neither.

[2018-03-04 03:05] xXSTrikeXx opened #2275 "Strange autoupload behavior when no autoupload is set"
Device: Huawei Y6 2017 Android 6
Core: 13.0.0
App: 3.0.2 (beta in playstore)

Steps do reproduce:
- deinstall app
- Reinstall from playstore
- Login and dont do anything:
No upload, no download, dont set anything in autoupload.

Periodicly it opens a notification which says files upload. Im asking myself, why it stands there when nothing has to be done by autouploader.
![img_20180304_042151](https

[2018-03-04 03:26] xXSTrikeXx commented on #2273
Nextcloud server version: 2.3.2

I suggest to update your server version ;)

[2018-03-04 03:55] xXSTrikeXx commented on #2275
I think #2253 will fix it, but as enhancement there should be a check if autoupload or "keep file offline" are set. Just want to give the note in this issue.
I want also give the hint, after I reinstalled it my avatar is there. But before I reinstalled it there wasn't such a notification. I will test later the behaviour on updating from v2.X. Maybe the update was the fault for my missing avatar.

[2018-03-04 04:06] xXSTrikeXx commented on #2248
@tobiasKaminsky
Can you explain me how the images are set there without an "<ImageView/>"
The library for that is still there, but never declared. I waysted a lot of time (confused about the 2nd system share layout [pr exist] and the missing ImageView, but the library is -loading for some reason and its unnecessary in the code) on friday.
Maybe you can give me a hint and I can learn more about and

[2018-03-04 05:17] chujionglie commented on #2273
@xXSTrikeXx Thank you. I've mistaken the linux client version for the server version. The correct server version should be 12.0.5snap1 (5132).

[2018-03-04 07:41] alainbebe commented on #2267
Idem
Moto G 5.
Nextcloud 3.0.2
Android 7.0
Nextcloud server 12.0.0

[2018-03-04 08:03] arundhati24 opened #2276 "Add confirmation before exit"
### Actual behaviour

Currently the app closes if the user hits the back button.

### Expected behaviour

The user should be prompted for exit if s/he hits the back button because the user might happen to hit the back button by chance which leads to an unintended exit form the app.
 A toast could be displayed, say "Press again to exit', so as to avoid unintended exit from the app.

### Steps to re

[2018-03-04 08:38] arundhati24 commented on #2276
As I am new to this community, could anybody please let me know if I want to work on an issue what am I supposed to do i.e. wait for approval of the project maintainers/mentors or should I directly send a PR for this issue. It would be really helpful if somebody could help me get started here. :slightly_smiling_face:

[2018-03-04 09:19] gqgunhed commented on #2249
Nextcloud app 3.0.2 on Sony Xperia Z1 with Android 7.1.2, instantupload with subfolders enabled:
What worked for me is:
- manually create the subfolder "03" within your "2018" folder
- make sure that your nextcloud mobile client shows this newly created folder by browsing/refreshing the sync folders
- if the "03" is visible on the mobile client
- got to "Uploads"
- restart your pending uploads
- s

[2018-03-04 10:08] cluelessperson opened #2277 "Improve Folder Sync Configuration"
Remove the auto scan feature and allow users to define folders with basic options.

Folder
 - Local
 - Remote
 - When to Sync
 - TwoWay / Upload Only / Download Only
 - Recursive or Not
 - Include Hidden Files or Not

[2018-03-04 10:46] tiberiust commented on #1780
Same issue here from 1st March. I have auto upload subdirs for photos, videos and separate ones for WhatsApp media also. I had to first create the subdirs '03' in all head dirs and then also manually upload a file into those folders using Files in the Nextcloud client. Then autoupload started working again.
Server 13.0.0, nginx ; Android 3.0.2 ; MIUI 9.2, Photos etc are stored on External SD Card.

[2018-03-04 11:36] tribut opened #2278 "Auto-upload fails with connection error"
### Actual behaviour

Files are "stuck" in the upload queue. The files exist, but when retrying the App reports a "connection error". From the device log:

[code]

Manually uploading the same file works.

![screenshot_20180304-122427-censored](https://user-images.githubusercontent.com/719105/36945056-9a8dcf1a-1fa8-11e8-98e2-6465231ac861.png)

### Expected behaviour

Files in the auto-upload queue

[2018-03-04 12:29] macemoneta commented on #2278
Same issue here. OnePlus5 Nextcloud 13.0.0 server, 3.0.2 app.

[2018-03-04 12:57] borekon commented on #2272
Same here. Creating folders by hand solves the problem

[2018-03-04 13:22] TeaspoonDD commented on #2278
Had the same issue.  Samsung A5 2017 / Android 7.0 / App 3.0.2 / nextcloudpi v0.46.34 with Nextcloud 12.0.4

Made the month folder "03" in "SofortUpload"  manually. The next picture auto upload worked fine.

[2018-03-04 13:27] tribut commented on #2278
Can confirm the workaround by @TeaspoonDD: After creating `SofortUpload/2018/03` (but not `SofortUpload/{Snapseed, WhatsApp Images}/2018/03` the two images that are supposed to end up in `SofortUpload/2018/03` went through and the others did not.

[2018-03-04 14:00] macemoneta commented on #2278
Confirmed; manually creating the monthly directory allows the uploads to proceed.

[2018-03-04 14:45] metafarion opened #2279 "New login method using incorrect server path"
When logging into my server, the nextcloud app is looking for a nonexistent file path /nextcloud/nextcloud/index.php/login/flow/redirect and getting a Not Found error.  If I select "Revert to old login method", then login succeeds, but the credentials are not saved and I have to repeat the process shortly thereafter.  I also have no issue using the nextcloud web interface, so it definitely has som

[2018-03-04 14:54] AndyScherzinger commented on #2277
@cluelessperson you can create custom folder in that view in case you activated the "expert mode" in the app's settings

[2018-03-04 15:15] leafcutterant commented on #2249
For me it "auto"-uploaded instantly only after I went to Uploads and forced a rescan.

Without that, I had to wait ~15 minutes for the sync to happen.

[2018-03-04 15:16] AndyScherzinger commented on #2274
@janipewter this sounds rather like a server issue imho

[2018-03-04 15:18] leafcutterant opened #2280 "Auto upload folder path isn't visible past 2 lines"
### Actual behaviour
When doing a custom folder setup in Auto Upload, after selecting the path of the local folder, the displayed path is visible only as far as the two lines flow on the screen, the rest is clipped. For me, it usually clipped it at the end of a folder name, so it made the impression that it's always a parent folder selected, and never the exact folder I selected in the explorer. O

[2018-03-04 15:25] leafcutterant commented on #2277
@AndyScherzinger I have expert mode activated, but I'm not sure which view you refer to.

Right now I want to achieve that a specific server-side folder won't even appear in the folder list (and neither sync), but I can't make it disappear, not even by a local-only delete.

[2018-03-04 15:27] leafcutterant opened #2281 "Te list of outo upload"
I sent this by accident. Please delete this issue.

[2018-03-04 15:28] #2281 closed

[2018-03-04 15:36] leafcutterant opened #2282 "A newly created auto upload setup isn't displayed in the list if I don't navigate away then come back"
### Actual behaviour
After creating a custom auto upload folder, the new setup isn't displayed in the list of auto upload folders, only after going somewhere else in the app ( for me, that was "All files"), then coming back.

### Expected behaviour
The new auto upload setup should be displayed instantly after it is created.

### Environment data
Android version: 5

Nextcloud app version: v3.0.2

N

[2018-03-04 16:26] sukosevato commented on #2133
I can confirm that I had this issue as well with the 3.0.2 nextcloud client for android (with 12.0.x as server). After upgrading to nextcloud 13.0 serverside the issue is gone.

[2018-03-04 16:29] mario commented on #2276
Ah, this is not a bad thing. I guess you can work on this, yes :)

[2018-03-04 16:37] arundhati24 commented on #2276
@mario Thanks.. Would soon send a PR. :smiley:

[2018-03-04 17:00] prlj13 commented on #2278
I'm having the same problem. I manually created the missing (monthly) directories, and then had to manually navigate and view the created directories in the app before the auto uploads started working again. I had manually created the directories in the nextcloud web interface, which alone doesn't fix the problem.

[2018-03-04 17:52] mase76 commented on #1495
I don't see a sync in the account settings for several days. I sync manually from time to time. There is only an automatic sync, when a file changed locally.
I am on Omnirom 8.1.0 and the stable client from F-droid. No Gapps.

[2018-03-04 18:45] xXSTrikeXx commented on #2273
Then I would suggest to wait until 3.0.3 ships some changes on autouploader ;) For some people it helps to update to 13. But lets wait ;)

[2018-03-04 18:47] xXSTrikeXx commented on #2196
@tobiasKaminsky  I deinstalled the app and reinstalled. Do I have to delete all old files before reinstalling it? Because I become the same behavior after a while after reinstalling the app.

[2018-03-04 20:21] caco3 commented on #2249
I had the same issue.
Android 7.1.2,
Nextcloud App 3.0.2
The fix was to create the folder 03 manually on the server, load the folder on the android app, then retriggered the upload.

[2018-03-04 21:09] ftoledo commented on #2272
i'm create all 03 subfolder into Camera,Facebook,Screenshots etc.. and work.

[2018-03-04 21:29] An3eljo opened #2284 "Login loop"
### Actual behaviour
Again, since the last update of the nextcloud app, a relogin-page will be shown repeatedly. This bug occured recently too, but it was fixed by an update. Now he's turned up again

### Expected behaviour
- Re-login-page should not appear

### Steps to reproduce
1. Open Nextcloud-App

### Environment data
Android version: 7.0

Device model: UMIDIGI Z1 Pro

Stock or customized sy

[2018-03-04 22:25] detly commented on #1780
@paour @sumnerboy12 @GitHubUser4234 @cowai @tiberiust You are definitely describing a different bug to the one I opened this issue for. You should open a new issue, otherwise when the original issue gets fixed, yours will be forgotten about.

[2018-03-04 22:28] mist0706 commented on #2278
Same issue here on SGS8. Created folder manually in web interface (logging into console and creating the directory didn't work) and then visited the folder on on the phone.

[2018-03-04 23:16] despens opened #2285 ""Upload failed: Could not complete operation. Server unavailable.""
### Actual behaviour
Photos are not uploaded to the Nextcloud instance via Auto Upload. Instead, a notification stating "Upload failed: Could not complete operation. Server unavailable." is generated each time an upload is attempted.
Ironically I am using the Nextcloud android app to upload the app's log to the exact Nextcloud instance it doesn't upload the photos to. :smile:

### Expected behavio

[2018-03-05 07:05] dim2on commented on #2284
same here

[2018-03-05 07:06] dim2on commented on #2267
same on 10+ samsung tablets

[2018-03-05 08:10] tribut commented on #2285
This is probably a duplicate of #2278, possible workaround in https://github.com/nextcloud/android/issues/2278#issuecomment-370229046

[2018-03-05 09:31] mclois commented on #2267
I am experiencing the same issue with Nextcloud 3.0.2. If I uninstall the app and reinstall it clean, it asks the server URL, login name and password once and works ok for a while, until it breaks again. I don't know what makes it break.

I have a Xiaomi Redmi 4X, with Android 7.1.2 y MIUI 9.2.3.0. The server is OwnDrive, 11.0.2, based on NextCloud.

[2018-03-05 09:39] tobiasKaminsky opened #2287 "Release x.y.Z - Roadmap"
**Planned RC1: every second month in last week so that release is in first week of month / replace with date**
**Planned Release date:**

- [ ] Bump version code in ```build.gradle``` file
- [ ] release new library if needed
- [ ] release new SSO if needed
- [ ] Verify that the new version number is shown in settings
- [ ] Verify that logging is enabled
- [ ] add $version.txt to /fastlane/metadata

[2018-03-05 09:39] tobiasKaminsky opened #2288 "Release 3.0.3"
- [x] Bump version name and version code in build.gradle files
- [x] update Changelog.md
- [x] Verify that the new version number is shown in settings
- [x] Verify that logging is disabled
- [ ] ~~update translations from transifex~~
- [x] Test that what's new is shown correctly on upgrade
- [x] Tag new version as `stable-x.y.z`
- [x] Build and release to Play Store as stable release and :shipit:

[2018-03-05 09:57] enoch85 commented on #2278
I have the same issue. @AndyScherzinger @mario @tobiasKaminsky I suppose this will be fixed in 3.0.3?

[2018-03-05 09:58] mario commented on #2278
Hopefully yes @enoch85 :)

[2018-03-05 10:20] enoch85 commented on #2285
Same here @mario :) Looking forward to a fix.

[2018-03-05 11:11] RayOfLight1 commented on #2284
try upgradin nextcloud server version

[2018-03-05 11:18] tigernero79 commented on #2288
@tobiasKaminsky

Unfortunately with Android Oreo the problem of not opening apk files from application continues to be there.

https://github.com/nextcloud/android/issues/2269

[2018-03-05 11:27] sebw commented on #2249
Same here.

Stopped working on March 2nd.

Moto G5 Plus.
Nextcloud 3.0.2.

[2018-03-05 11:42] despens commented on #2285
I did create the new folder `/InstantUploads/2018/03` as suggested in #2278, but my photos are still not uploading with the same error.

[2018-03-05 11:58] AndyScherzinger commented on #2280
@mario @tobiasKaminsky @nextcloud/designers what do you think?
We could either to as described in the issue (show as many lines a necessary) or move from a end-ellipsizing to a middle-ellipsizing.

My personal vote would be to go for middle-ellipsizing since showing the whole path can get messy layouting wise

[2018-03-05 12:08] skjnldsv commented on #2280
Agree with the middle, what about a long press to display a toast as well just in case?

[2018-03-05 12:09] jancborchardt commented on #2280
Yes, middle-ellipsizing is a proper solution here. :)

[2018-03-05 12:12] wlp7s0 commented on #2272
3.0.3 subfolder uploads works again.
Thank you!

[2018-03-05 12:36] AndyScherzinger commented on #2280
@skjnldsv Toast are also limited to 2 lines by the OS itself so that won't help ;) Nice idea though!

[2018-03-05 12:36] AndyScherzinger commented on #2280
So middle-ellipsizing it is :)

[2018-03-05 12:37] AndyScherzinger commented on #2280
@arundhati24 maybe you want to take this one? -> middle-ellipsizing

[2018-03-05 12:40] wouterverduin commented on #2278
Would like to confirm and show what worked for me:
1: Manually create 03 folder
2: Navigate there in app
3: Take new picture

After step 3 it started to upload all other photo's aswell :)

[2018-03-05 12:41] jospoortvliet commented on #2249
So 3.0.3 fixes it? Great, thanks!!! Of course it can only really be tested at the beginning of next month :hankey:

[2018-03-05 12:44] tribut commented on #2285
Did you try and navigate to the folder in the Nextcloud App? If its the same bug, the app will not contact the server at all unless it "knows" the folder exists.

[2018-03-05 12:50] AndyScherzinger commented on #2249
Nope you just need to activate the monthly folder option for a folder where you didn't had it activated before ;)

[2018-03-05 13:00] xXSTrikeXx commented on #2284
Nextcloud 10.06 is EOL.
Have a look at release schedules: https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule

[2018-03-05 13:00] #2284 closed

[2018-03-05 13:03] xXSTrikeXx commented on #2267
@mclois I suggest to update the server core, because 11.0.2 will be EOL.

[2018-03-05 13:33] xXSTrikeXx commented on #2272
Since @wlp7s0 tested it, closing this issue. Feel free to reopen, when you have problems with subfolders, but version 3.0.3 should fix it.

[2018-03-05 13:33] #2272 closed

[2018-03-05 13:36] xXSTrikeXx commented on #2285
@despens Can you try latest version 3.0.3?

[2018-03-05 13:46] xXSTrikeXx commented on #2278
@wouterverduin try out latest 3.0.3

[2018-03-05 13:56] xXSTrikeXx commented on #2288
@tigernero79 changelog in this version is to create automaticly subdirectories, not to open applications. Feel free to contribute or wait until someone else investigate. ;)

[2018-03-05 13:58] xXSTrikeXx commented on #2275
cc @mario Will your PR fix it, so I can close this issue? :P :)

[2018-03-05 14:16] harshika-arya commented on #2280
@AndyScherzinger Can I take this one up ?

[2018-03-05 14:27] AndyScherzinger commented on #2280
@harshika-arya sure, absolutely :heart: If you have any questions please don't hesitate to ask, @tobiasKaminsky, @mario and me.

[2018-03-05 15:06] xraMsamohT commented on #2196
I can confirm that an upgraded app does not load any custom avatar. Neither in the head of the sidebar nor in the account settings of the app. Clearing the app cache does not solve the issue.

[2018-03-05 15:13] harshika-arya commented on #2280
@AndyScherzinger I have setup the project locally and it builds successfully. Upon first launch the application demands for the "server address". Can you please tell me what to add in there ?
Thanks.

[2018-03-05 15:14] mario commented on #2275
Yes

On Mon, 5 Mar 2018 at 14:58, xXSTrikeXx <notifications@github.com> wrote:

[2018-03-05 15:37] harshika-arya opened #2290 "Refactor: Replace all anonymous classes with lambdas"
### Actual behaviour
Right now, we have a lot of anonymous classes in the project.

### Expected behaviour
They can and should be converted to lambdas.

### Steps to reproduce
Eg. In method ```getFileList``` of ```SyncedFolderActivity``` we have two such cases.

### Environment data
Android version: NA

Device model: NA

Stock or customized system: NA

Nextcloud app version: NA

Nextcloud server v

[2018-03-05 15:44] #2275 closed

[2018-03-05 15:46] xXSTrikeXx commented on #2196
@xraMsamohT Thanks for confirming this bug. I already reinstalled without clearing the cache.

FYI on Talk the Avatar is displayed correct!

[2018-03-05 15:49] enoch85 commented on #2285
This is fixed in 3.0.3 just tested myself.

Please reopen if you think I'm wrong.

[2018-03-05 15:49] #2285 closed

[2018-03-05 15:49] enoch85 commented on #2278
This is fixed in 3.0.3 just tested myself.

Please reopen if you think I'm wrong.

[2018-03-05 15:49] #2278 closed

[2018-03-05 16:30] AndyScherzinger commented on #2290
@harshika-arya sound good to me :+1:

@tobiasKaminsky @mario what do you think?

@harshika-arya beware that @tobiasKaminsky is rewriting `ListViews` to `RecyclerViews` at the moment so code that is related to `ListViews` can be ignored since that'll change anyways :)

[2018-03-05 16:32] AndyScherzinger commented on #2280
@harshika-arya well, you need a server (either by running one yourself) or by creating an instant demo server via http://demo.nextcloud.com/ (webUI for creating demo servers) and use the created instance (which will be deleted after an hour...)

[2018-03-05 16:45] OlivierS1 commented on #2249
You can rename the 2018 folder and see if the fix works.

[2018-03-05 16:53] arundhati24 opened #2291 "Non-uniformity in app bar titles"
### Actual behaviour

Currently, for some activities the app bar displays the title of the activity while for others the title remains Nextcloud.

### Expected behaviour

Either the title for all activities should be Nextcloud or it should be the name of respective activities for all (with the home activity app bar bearing the title Nextcloud).

### Steps to reproduce
1. Open the app or log into y

[2018-03-05 16:53] AndyScherzinger commented on #2277
That isn't possible at the moment afaik

[2018-03-05 16:55] arundhati24 commented on #2291
@tobiasKaminsky @mario @AndyScherzinger Could you please have a look at this issue and reflect upon whether it needs to be addressed?  :)

[2018-03-05 16:58] AndyScherzinger commented on #2291
Should imho be addressed while this one is rather tricky to solve to to the incorporation of the eventbus framework.

[2018-03-05 17:13] xXSTrikeXx commented on #2291
I appreciate it as approved enhancement :D

[2018-03-05 17:16] xXSTrikeXx commented on #2249
sebw tested it and now with latest version 3.0.3 it is working. I close this issue now, feel free to reopen ;)

[2018-03-05 17:16] #2249 closed

[2018-03-05 17:20] danut2006 opened #2292 "Nextcloud Androi app don't work"
### Actual behaviour
-The Nextcloud android app don't work after update from android 7 to android 8 (the phone is huawei P10 VTR-L29.
Before upgrade the app work very wheel, the auto-upload work great. Now she don't upload the file (photos,video) even i restart the phone the app don't see the new photos to upload on nextcloud server.

### Expected behaviour
-Would be awesome if the app it wheel be

[2018-03-05 17:28] xXSTrikeXx commented on #2292
Can you provide more infos?
Not working is, like a car is not working. There it could be a broken exhaust pipe or a broken clutch.
Nothing in Nextcloud Logs or in the web server logs?

[2018-03-05 17:29] arundhati24 commented on #2291
@AndyScherzinger So would it be possible for me to correct this? I don't have much idea about how to work on it but would like to fix it if you could guide me a bit. :)

[2018-03-05 17:35] xraMsamohT commented on #2196
@xXSTrikeXx Galaxy Note 4 with stock Android 6.0.1.

Nextcloud 12.0.5
Android app 2.x -> 3.0.0 ... 3.0.3

[2018-03-05 17:48] arundhati24 opened #2293 "Non-uniform functionality of back button for different activities"
### Actual behaviour

Currently, if we press back button while on a particular activity, the back functionality for different set of activities is different.

### Expected behaviour

The behaviour of back button should be uniform across all activities.

### Steps to reproduce
1. Open the app or log into the app
2. Open Activities from the navigation drawer. Then press back button. This takes us to

[2018-03-05 17:49] arundhati24 commented on #2293
@mario @AndyScherzinger @tobiasKaminsky Please have a look at this issue. Do we need to work on it? :)

[2018-03-05 17:50] xXSTrikeXx commented on #2196
It seeems, that it is an Android 6.x error. Any ideas?
@tobiasKaminsky @AndyScherzinger @mario :)

[2018-03-05 17:53] xXSTrikeXx commented on #2293
I will appreciate it, exspecially for external sites. ;)

[2018-03-05 18:16] AndyScherzinger commented on #2291
@arundhati24 sure thing while @mario & @tobiasKaminsky might be right folks to talk to in this case :)

[2018-03-05 18:20] arundhati24 commented on #2291
Thanks @AndyScherzinger . Would seek guidance from them. :)
@mario  and @tobiasKaminsky  Would you please reflect upon this issue a bit? :)

[2018-03-05 18:23] mario commented on #2291
@arundhati24 some screens are basically handled by EventBus events. I suggest you take a look at onMessageEvent(SearchEvent) in OCFileList fragment, but please be aware that is PROBABLY not all there is to it :)

Also lifecycle has to be taken into consideration, restarts, etc.

[2018-03-05 18:30] arundhati24 commented on #2291
@mario Thanks :) Will check that out and will also consider activity lifecycle.  :)

[2018-03-05 18:39] danut2006 commented on #2292
in web server logs there are nothing to see, and on the phone (I hope I did not get it wrong) but on the phone i didn't find  data/nextcloud.log
when i say the app is not work i'm talking about the auto-upload don't work like before the upgrade.

pls help me whit details how to get you the right information.

[2018-03-05 18:50] aborsu opened #2294 "InstantUpload no longer works if using sub folders"
### Actual behaviour
-Tell us what happens
I've noticed that my phone stopped uploading  pictures since the end of february. No pictures have been uploaded in march.

I tried re-installing the application, re-creating an account to no avail.
After debugging a little, it appears that when I disable using subfolders, the uploads work again.

### Steps to reproduce
Take a picture, go to the `send his

[2018-03-05 18:52] AndyScherzinger commented on #2294
Did you update to the latest version 3.0.3 released today? That one should fix the subfolder issue we experienced.

[2018-03-05 18:57] xXSTrikeXx commented on #2292
@danut2006  what is the error msg, when the autouploader tries to upload files to the server?
For data/nextcloud.log you have to look in you webserver in the directory at /nextcloud/data/nextcloud.log. The log is in the data structure on web server :D

Another hint can be to look into the android app under settings in the protocol.

[2018-03-05 19:03] #2276 closed

[2018-03-05 19:32] DAveShillito commented on #2267
I too am experiencing this issue.

Android client 3.0.2
Wileyfox Spark+
Android 7.0

I'm connecting to Nextcloud 11.0.3 running on a Raspberry Pi2.
I do intend to update to Nextcloud 13 when possible, but when I tried updating to 12.0.5 I was not able to access Nextcloud from the web interface at all so I had to revert back to the pre-upgrade backup.

It looks to be the same issue as this https://

[2018-03-05 19:33] bazio101 commented on #2184
Everything work as they should again with 3.0.2 version. Great work.

[2018-03-05 19:33] #2184 closed

[2018-03-05 20:11] aborsu commented on #2294
Hello,

I saw the update about 5 minutes after I posted this. Worked like a charm thank you

[2018-03-05 20:11] #2294 closed

[2018-03-05 22:04] ghost opened #2295 "0"
0

[2018-03-05 23:08] xXSTrikeXx commented on #2295
Try latest v. 3.0.3 ;)

[2018-03-06 00:06] procyon12lotor commented on #2295
Just upgraded to 3.0.2. I'll have to wait until 3.0.3 drops in F-Droid, but this issue persists in 3.0.2

[2018-03-06 00:41] xraMsamohT commented on #2196
I reanimated my old Nexus S with CyanogenMod 11 (Android 4.4.4). No problem with the avatars. 😉

[2018-03-06 06:55] xXSTrikeXx commented on #2196
@xraMsamohT year, I don't have any problems on new/other devices. AVD shows me and all works fine. It has to do with the updates ;)

[2018-03-06 10:10] MarkusH1975 opened #2296 "Contacts Backup: Introduce Time Intervall for backups"
### Actual behaviour
- Daily backup of contacts is done right now

### Expected behaviour
- Possibility to configure time intervall for backups
   May be I want to have a backup only weekly or monthly
   Beacause normally I don't change a lot.

- Another good thing would be to automatically delete old backups
   May be older than 3 month or what else

Nextcloud app version:
V3.0.3

Nextcloud serve

[2018-03-06 11:51] luiscruz commented on #2130
I'm curious on this one. Any ideas?

[2018-03-06 11:53] mario commented on #2130
Because they did their implementation differently and we inherited a legacy codebase.

But I've removed this and it will be in the next larger release.

[2018-03-06 12:03] luiscruz commented on #1803
So, in the end, does #1527 fix the issue? I.e., can we detect power save mode while the device is charging?

[2018-03-06 12:04] mario commented on #1803
@luiscruz it should. Did you try 3.0.3? :)

[2018-03-06 12:14] luiscruz commented on #1803
I haven't 🙈😕
Anyway, shall we close this issue?

[2018-03-06 12:14] mario commented on #1803
@luiscruz not until you try it :P

[2018-03-06 13:52] jancborchardt commented on #2276
Sorry, only saw this now, as @tobiasKaminsky made me aware of it. He mentioned this might be an anti-pattern: https://www.androiddesignpatterns.com/2012/08/exit-application-dialogs-are-evil-dont.html

And I agree. Other established apps like Gmail and Netflix (etc) do not do this as it hijacks user input. @AndyScherzinger @mario or is this some kind of Android standard I’m not aware of?

[2018-03-06 13:56] mario commented on #2276
Well to be perfectly honest we don't show a dialog. Just a warning that if you click once more you'll exit.

For example, I remember that at one point in time you needed something like this if you wanted to be listed in the Samsung App store.

Dunno. Don't have a strong opinion on this.

[2018-03-06 14:02] madsiman opened #2298 ""Could not save keys, please try again later" message after "set up encryption""
### Actual behaviour
Getting the error message:
Could not save keys, please try again later
### Expected behaviour
Keys should get stored
I should be able to enter they folder.

### Steps to reproduce
create a folder via the app on my cloud.
Setting it to encrypted in App.
trying to enter it in app - problem
trying to enter folder on Server - not possible.

### Environment data
Android version:
7.

[2018-03-06 14:10] jancborchardt commented on #2276
That’s the thing though: Every other app just exits directly. Hence we interrupt people’s flow and expectation. Design-wise, we should not have this (sorry @arundhati24 :)

If there’s indeed specific environments like Samsung which require this, we should have a conditional only for them, and only if it’s absolutely required. But not break everyone’s experience.

[2018-03-06 14:12] mario commented on #2276
We're not in the Samsung store though :P

Fine with removing if that's your wish here. :) cc @AndyScherzinger thoughts?

[2018-03-06 14:20] khaosjrm commented on #2295
I think the bug goes beyond. My Android phone got updated to version Android 7 and autoupload does not work for me, neither wifi, internet, vpn or whatever :( I thought it was a Nextcloud version issue, so I updated my server to 13.0 and still same issue. It looks it's an App problem.

[2018-03-06 14:22] arundhati24 commented on #2276
@jancborchardt I checked some of the standard apps. I agree that most of the standard apps do not follow this. But, it would be great if you could reflect a bit on how it hijacks user input. :)
If that's the case, I would like to know about it because there are other projects that I have been working on and they use this. I tried to read about it but couldn't find such a case.

[2018-03-06 14:24] arundhati24 commented on #2276
In case this is a security breach I would like to check all the other projects that I have been working on as well for this.

[2018-03-06 14:25] jancborchardt commented on #2276
@arundhati24 sure, some clarification :)
- I mean hijacking in the sense that it breaks the user expectation. It’s not a security breach. :)
- Normally the back button in this case is exactly for that: Exiting the app. When you just opened the app but it was the wrong one, you want to be able to use the back button to get out.
- Popular apps like Netflix, Dropbox, Google Mail etc etc do not have t

[2018-03-06 14:27] jancborchardt commented on #2276
And sorry that I only saw this now, normally we always have design discussions before we have the pull request, and that would have been caught. We are very welcoming to contributors and in this case we should have discussed it a bit more. :) Sorry

[2018-03-06 14:27] khaosjrm commented on #2295
I had the same problem, confirmed it worked fine again with 3.0.3...pheeewww!!!

[2018-03-06 14:28] mario commented on #2295
VPN is probably a known issue and reported elsewhere already. Will fix when I get to it.

[2018-03-06 14:37] arundhati24 commented on #2276
It's okay @jancborchardt :)  Thanks for the clarification. I learnt something from this a NOT TO DO. :D
 And yes I checked that most of the standard apps from Google too don't use this.
But I would love to discuss on other issues too with you all and I hope it would be a great place for me to learn. :)

[2018-03-06 14:48] xpilgrim commented on #2249
But, now I'm facing a strange login failure of the desktop (linux) client! According to the nextclod (13) server log, the desktop client is unable to login **directly** after updating the android app on my phone.

[2018-03-06 14:59] xXSTrikeXx commented on #2249
@xpilgrim Open a new Issue in the right repo. You are here at Android ;)

[2018-03-06 15:00] xXSTrikeXx commented on #2298
cc @tobiasKaminsky for E2E ;)

[2018-03-06 15:05] amas01 commented on #2032
This seems to be the same as #1531

To fix, the following steps need to be taken as outlined by @notmyrealhandle :

1. Move the nextcloud app from external storage to internal storage.
2. Put the device into recovery mode
3. Use adb to extract /data/system_ce/0/accounts_ce.db:
   `adb pull  /data/system_ce/0/accounts_ce.db`
4. Edit the sqlite database you just extracted deleting the entries referr

[2018-03-06 15:07] jancborchardt commented on #2276
@arundhati24 yup! :) Also just added you to the Nextcloud organization, so welcome again!

[2018-03-06 15:07] lupetalo commented on #2032
I don't want to do that. I want the app to work.

[2018-03-06 15:10] amas01 commented on #2032
After completing this the app should work. The error seems to be because it is stored on external storage. Until I carried out the outlined steps, I could not get the app working again. But after doing this, I have not experienced this issue again.

[2018-03-06 15:11] lupetalo commented on #2032
You are missing the point. Nobody should need to do what you proposed.

[2018-03-06 15:13] amas01 commented on #2032
No, I completely understand that you should not 'need' to do this, however, after this bug takes effect there does not seem to be a way out other than completing the above.

[2018-03-06 15:25] xXSTrikeXx commented on #2276
@jancborchardt Maybe we can improve the UX with an option in the settings ;) Just as suggestion ;)

[2018-03-06 15:26] hajika commented on #2032
what about fixing the code? I don't want to address you, because I guess you are not responsible, but I would like to have a word from a maintainer what is going on here and why its not working and what is the problem why it can't be fixed.

I bet, there are a other people out there having this problem and do not jump in here.

[2018-03-06 16:05] lupetalo commented on #2032
I agree with @hajika completely. And I will add that if dev team needs data or testing, that I am avealable...

[2018-03-06 16:08] m3lloa commented on #2249
@xXSTrikeXx - can't make it work on my S5. Will do more tests and open another case if needed. (My LG G5 works fine :( )

[2018-03-06 16:09] arundhati24 commented on #2276
@jancborchardt Thanks for adding me to the Nextcloud organization. :)

[2018-03-06 16:22] ShapeShifter499 opened #2300 "'Backup contacts' is failing to upload contacts"
### Actual behaviour
Under Settings > More tapping "backup contacts initates a backup with a timestamped vcf file but then fails with "connection error".

### Expected behaviour
Selecting the "backup contacts" should result in successful upload

### Steps to reproduce
1. Go to settings in nextcloud
2. tap on backup contacts
3. see a connection error under uploads

### Environment data
Android vers

[2018-03-06 16:56] xXSTrikeXx commented on #2032
@hajika @lupetalo
I think amas01 just wanted to debug this behavior and wanted to give a quick workaround about this issue to solve it finally.
Feel free to contribute to solve the issue ;)

[2018-03-06 16:59] xXSTrikeXx commented on #2300
Could you test latest 3.0.3?

[2018-03-06 17:42] fozters commented on #2249
Yep, fixed issue for me creating the 03 month folder under the camera folder! So it seems that the use subfolders option is unable to create needed folder!

[2018-03-06 17:46] fozters commented on #2249
Oh this was closed as 3.0.3 should fix it. Didn't notice there was update and didn't notice this thread was closed! Sorry and thanks! :)

[2018-03-06 18:03] holocronweaver commented on #285
Yeah, that sounds like asking for trouble. Though maybe we could support creating symlinks for users so they get the same effect?

As for removing dependence on Sync adapter, I will start looking at the code this week and will try to get out a PR this weekend.

[2018-03-06 18:05] danut2006 commented on #2292
@xXSTrikeXx maybe i look like a stupid guy, i check the nextcloud server (/nextcloud/data/nextcloud.log) and there is no file nextcloud.log. (picture atache)
on the phone i try to find in the app setting the protocol section bat there is nothing there(picture atache)
haw i say in the first post, the app work, bat upload the photos/video only if i open the nextcloud app, she don't auto-upload the m

[2018-03-06 18:13] xXSTrikeXx commented on #2292
ll? is that an alias? ls -l should list the directory ;)

And nextcloud android protocoll is not findable in the system settings, rather in the app itself under settings and protocol:

![screenshot_2018-03-06-19-11-56](https://user-images.githubusercontent.com/1523741/37049838-7b21c0a2-2172-11e8-85f3-0b04415d7e22.png)

[2018-03-06 18:58] ShapeShifter499 commented on #2300
As of writting, Nextcloud Android app 3.0.3 isn't available in F-Droid. I'll gladly test when it's available.

[2018-03-06 19:01] danut2006 commented on #2292
ok i found.
[currentLog.txt](https://github.com/nextcloud/android/files/1786296/currentLog.txt)

[2018-03-06 19:54] gorn commented on #2245
Ok, F-droid updated me to 3.0.2 and the problem still persist. The only visible difference is that now the error in "Uploads" is **Chyba připojení (Connection error)** and the application log is not empty. It is attached (I have only replaced my domain by example.com)

[currentLog.txt](https://github.com/nextcloud/android/files/1786493/currentLog.txt)

server log is still empty (not really, but do

[2018-03-06 20:02] xXSTrikeXx commented on #2292
@danut2006 Can you explain where your data directory is? There should be all files in with personal data of all users.
There should be sth like this:

drwxr-xr-x 12 www-data www-data      4096 Feb  8 04:31 appdata_oc6dfsafe3
drwxrwxrwx 10 www-data www-data      4096 Aug  7  2017 appdata_oc6dfsafe3
drwxrwxrwx  2 www-data www-data      4096 Aug  6  2017 dataBackup
drwxr-xr-x  2 www-data www-data

[2018-03-06 20:07] mario commented on #2245
3.0.3 should fix this :)

[2018-03-06 20:29] ardevd opened #2301 "Push notifications disabled due to depedencies on proprietary Google Play Services"
When I launch the Notifications Activity a persistent SnackBar appears at the bottom saying that Push notifications are disabled due to dependencies on proprietary Google Play Services.

Looking at the code, the message is triggered here in NotificationsActivity line 154.

[code]

The push_server_url string is hardcoded as `https://push-notifications.nextcloud.com` so I cant quite see the connecti

[2018-03-06 20:35] mario commented on #2301
Hmmm ... how did you login? You need to login using login flow in order to have push.

[2018-03-06 20:48] ardevd commented on #2301
I logged in the only way I thought was possible. Still doesn't explain the error message though which gives the impression that Google Play services are missing, which is not the case.

[2018-03-06 20:59] mario commented on #2301
You're right. @tobiasKaminsky is the latest release gplay flavour?

[2018-03-06 21:16] chk1 opened #2302 ""Improve Nextcloud" notification is cut off and not expandable"
### Actual behaviour
I am unable to read longer notifications within the Nextcloud app, specifically [this one](https://github.com/nextcloud/survey_client/blob/master/lib/Notifier.php#L64) which appears after upgrading the server while anonymized data sharing is turned off.

I tried to tap on it (nothing happens) or swipe down to expand it (reloads notifications).

[Link to screenshot](https://use

[2018-03-06 21:42] TheCod-e commented on #285
I wait for this better auto upload feature for some time. Currently I use **FolderSync Pro** **for 2-way-sync** of important images and data which is handy somehow, but makes it necessary to have two separate applications and also is not free software.

What I am not sure about so far, if you also considered to not just sync media files, but also any other folder with files (like chat backup files

[2018-03-06 21:56] mario commented on #285
@TheCod-e you can already sync custom folders if you enable expert mode in settings.

As for why I don't want to touch outside folders - it's a bad, bad thing :D Android is going the way of restricting access to your own folder (which will happen sooner or later), and it's increasingly hard to manage outside folders.

[2018-03-06 22:33] leafcutterant opened #2303 "A-Z (alphabetical) sorting doesn't work"
For me, A-Z ascending kind of clusters together the files that start with the same letter (not completely consistent), but it scrambles the clusters all over the place.

This is from a folder with ~200 items.

![0](https://user-images.githubusercontent.com/7106231/37062425-b231ed64-2196-11e8-980b-7522351bb81d.png) ![1](https://user-images.githubusercontent.com/7106231/37062426-b43cd9e8-2196-11e8-8

[2018-03-06 22:39] leafcutterant opened #2304 "A-Z sorting preference is not remembered"
It reverts back to the same strange sorting I described in #2303. The preference seems to be retained with all the other sorting options.

### Environment data

Nextcloud app version: 3.0.2

Nextcloud server version: 13.0.0

[2018-03-06 22:51] leafcutterant opened #2305 "[Feature request] Offer file name ellipsizing options"
I work with long-named files and it would be more important to see as much of the beginning of the file name as possible as the end of it offers little informational value.

Could we have different options for file name ellipsizing? I would be totally okay with it as a hidden expert option.

My ideas for the options:

* ellipsize the beginning of the file name
* ellipsize the middle of the file na

[2018-03-06 22:59] louwers opened #2306 "Crash on login"
### Actual behaviour
After logging in (pressing the button after putting credentials) the application says "redirecting" then crashes.

### Expected behaviour
It should show me my files.

### Steps to reproduce
This is probably a server bug or incompatibility. Still, the app shouldn't crash.

### Environment data
Android version: 7.1.2

Device model: ONE E1003

Stock or customized system: Using Li

[2018-03-06 23:38] TheCod-e commented on #285
@mario thanks for the tip with expert options

ok you say no touching of outside folders - but is there maybe another way of avoiding redundancy of files? just believe it will be confusing to manage files twice (on the phone) and (in nextcloud)

[2018-03-07 02:39] hkyq commented on #2267
I was getting this as well on NextCloudPi 12.xx on my Google Pixel 1 with latest on Play Store. After I updated NCP to 13.00, I no longer get the issue.

[2018-03-07 06:36] AndyScherzinger commented on #2304
Hi @leafcutterant,
just to be sure. Do you mean you "loose" the sorting option you chose? The sorting option is on a per folder basis, so when you choose a sorting option it will only be active for the current folder. The default is always A-Z though.

[2018-03-07 06:38] AndyScherzinger commented on #2303
@tobiasKaminsky any idea?

@leafcutterant is it possible to provide a list of the file names?

[2018-03-07 07:14] LiamHD opened #2307 "App crashes when scanning qr code with provisioning link"
### Actual behaviour
I created a qr-code containing a provisioning link like this:
nc://login/user:test?server:docs.myserver.de
When the qr code is scanned android ask if I want to open this url with nextcloud. After saying yes to that question the nextcloud app crashes.

If I have the provisioning link in a HTML-Link <a href="...">..</a>. The app does not crash.

### Expected behaviour
App should

[2018-03-07 07:25] LiamHD opened #2308 "User and password in provisioning link not working"
### Actual behaviour
I start the nextcloud app via a provisioning link like
nc://login/user:test&password:secret&server:docs.myserver.de
The nextcloud app is started. The server's address is correctly taken over. Then a screen comes up where the server ask for Account access: "You are about to grant %s access to your %s account."
When I accept this the login page comes up but username and password

[2018-03-07 07:27] lars-vom-mars-x commented on #2239
@AndyScherzinger: NC-Client 3.0.2: not working, sorry. :-(
The client ends without any messages.
- is there an issue with AccountManagerService? logcat: `skipping since the account already exists`
- `AccountManagerService: insertAccountIntoDatabase: Account {name=name@myowncloud.local.net/owncloud, type=nextcloud}, skipping since the account already exists`
- But i can not found any NC Account?!
-

[2018-03-07 09:15] GLLM opened #2309 "E2E encryption : not able to re-enable a folder as E2E encrypted"
### Actual behaviour
I've set a folder as being E2E encrypted (from Windows client). It worked.
I have some random files (testing the tech now, not using it) in there.

Yesterday, from my Android 8 phone, I set the folder as Not Encrypted :
* files remain encrypted in the folder ... is it expected ?
* I cannot set it back to E2E encrypted folder on Android ... had to do it again from the Windows c

[2018-03-07 09:28] d-sko opened #2310 "uploading to external storage folder not working"
### Actual behaviour
- Uploading files to external storage folder (WebDAV with encryption activated) is not working from the app, but works fine on the website. I only get a upload failed notification and sometimes (but not always) unreadable files in the folder.

### Expected behaviour
- should upload to the external storage folder

### Steps to reproduce
1. as admin: setup external storage suppo

[2018-03-07 10:15] tobiasKaminsky commented on #2274
@janipewter it might be that android is triggering this when you upload a png / create a thumbnail on server for a png file.
Afterall this is a server side error, so please open up a new issue at: https://github.com/nextcloud/server/issues/new

[2018-03-07 10:15] #2274 closed

[2018-03-07 10:51] ardevd commented on #2301
I realize now that the push_server_url string is not in strings.xml. It's found in two places:

gplay/res/values/setup.xml and main/res/values/setup.xml. The latter is an empty string and the primary is https://push-notifications.nextcloud.com.

A bit confused as to how you've designed this.

[2018-03-07 11:18] ardevd commented on #2269
I've created a PR that fixes this issue.

[2018-03-07 11:23] ardevd commented on #2266
@tigernero79 Why did you open this issue and then #2269?

[2018-03-07 11:29] leafcutterant commented on #2303
I can provide you with a list in email. Can you give me an address of yours?

[2018-03-07 11:31] tigernero79 commented on #2269
Good ardevd

[2018-03-07 11:36] tigernero79 commented on #2266
to indicate that it is clicking on the file and then going into the open menu with the same error.

surely it is due to the same bug. that you solved in pr

[2018-03-07 11:42] LiamHD commented on #2308
Why is this an "enhancement". According to https://nextcloud.com/blog/nextcloud-android-client-1.4.0-has-been-released/ this should work. Even though this blog post says that the url-scheme is "nextclound" and not "nc".

[2018-03-07 11:44] leafcutterant commented on #2304
Yes, I lose it.

To make it clearer: A-Z sorting is the default, but for me, it realizes in this strange "clustered" ordering I described in #2303. When I explicitly set A-Z ascending sorting, it becomes somewhat better: the folders in the folder become truly alphabetically ordered, and the files take up an order that resembles an alphabetical one more, but there is still a degree of this quirky c

[2018-03-07 12:24] xXSTrikeXx commented on #2303
android(at)nextcloud.com ;)

[2018-03-07 12:29] LiamHD commented on #2308
What is tricky and only working in firefox?

[2018-03-07 12:31] xXSTrikeXx commented on #2308
In Chrome it opens for me the google search :D So there should be an improvement in the code to be able to do it also in chrom ;) That was the tricky one on my testing purpose :D

[2018-03-07 12:32] xXSTrikeXx commented on #2307
In the end a duplicate of #2308.
But this shouldnt crash the app. Could you provide us the nextcloud android app (settings->protocol) which includes the crash?

[2018-03-07 12:34] LiamHD commented on #2308
I just put a link to an html link element <a href="...">..</a>

[2018-03-07 12:43] LiamHD commented on #2308
I just put the link in the href attribute of an html <a> element. Chrome on Android correctly launches the nextcloud app.

[2018-03-07 12:46] LiamHD commented on #2307
settings->protocol unfortunately does not include any entry for the crash

[2018-03-07 12:54] mario commented on #2301
It's designed this way in order to support building both push-enabled Google Play release and push-disabled F-Droid release. Anyway, let's wait to see what @tobiasKaminsky says if he built a gplay release.

[2018-03-07 13:05] LiamHD commented on #2307
I just get this error dialog in the QR-code scanner app:
![image](https://user-images.githubusercontent.com/6286072/37093699-94081028-2210-11e8-9d49-95f353b2a37d.png)

[2018-03-07 14:19] xXSTrikeXx commented on #2307
Other method:
https://github.com/nextcloud/android#with-a-computer

[2018-03-07 14:46] xXSTrikeXx commented on #2292
@danut2006 It comes to mind:
Have you set nextcloud to allow power consumption? Since Android 6 (or maybe  already 5) the apps needs to be added to a list, which are allowed to be running in background. Otherwise every app will be closed to reduce power consumption ;) Maybe this is your solution ;)

[2018-03-07 14:51] xXSTrikeXx commented on #1738
@soloam Is it now working for you with latest v3.0.3, so we can close the issue ;)

[2018-03-07 14:57] karloluiten commented on #1738
Just tested with the latest update from f-droid, still have the problem/ I have not been able to use the app for weeks now.

[2018-03-07 15:03] xXSTrikeXx commented on #1738
@karlitschek  latest version in f-droid is 3.0.2 (in hours it will be 3.0.3)
This issue is about Nextcloud app version: Latest 2.0.0.
Please create a new issue ;)
Hint: many users have solve it to update to latest v 13 server version and app version 3.0.3

[2018-03-07 17:04] tigernero79 commented on #2309
can you test with android application nextcloud 3.0.3 and let me know if you have the same problem?

[2018-03-07 17:23] xXSTrikeXx commented on #2306
@louwers Excuse me, but what server version do you use? Nextcloud server version: v0.26c?
The latest is v13. ;)

[2018-03-07 17:23] GLLM commented on #2309
Hi @tigernero79 !
I will as soon as it is available on F-Droid  :-)
Thanks

[2018-03-07 17:29] xXSTrikeXx commented on #2309
@GLLM That I was guessing to, I was close to write it for @tigernero79 XD
Well surprise me, if 3.0.3 works :) :D

[2018-03-07 17:53] schiessle opened #2314 "End to End Encryption - Wrong user agent string"
Tested with the Android App 3.0.2 from F-Droid.

Steps to reproduce:

1. Mark a folder as e2ee
2. upload a file
3. download a file (until now it works, but maybe it is still cached on the client)
4. restart the android client
5. navigate to the e2ee folder
6. try to open the file again (I see a message at the bottom that the file can't be synced, then it opens the cached version)

On the server lo

[2018-03-07 18:20] danut2006 commented on #2292
Hello,

i think you may have right, i make changes on the phone to allow power consumption and it look the auto-upload works. i will monitoring the app tomorrow and i came back whit an answer about the app.
tks very much for your help to resolve that issue.

[2018-03-07 18:28] tigernero79 commented on #2314
What reason does it make to use nextcloud on f-droid stopped all a3.0.2 compared to 3.0.3 of the Google play store?

[2018-03-07 18:33] louwers commented on #2306
@xXSTrikeXx It's actually 12.0.5! Sorry, my bad.

I will try the new version once it's in F-Droid.

[2018-03-07 18:34] xXSTrikeXx commented on #2292
Yes, thats Huawei, mario and me loves it 🙄

[2018-03-07 18:36] xXSTrikeXx commented on #2314
@tigernero79 F-Droid needs 24 hours to validate the app. So it takes a day or more ;)

[2018-03-07 18:40] #2292 closed

[2018-03-07 18:44] tigernero79 commented on #2314
I understand, but why not then download version 3.0.3 in the meantime from the google play store and test it?

[2018-03-07 18:50] xXSTrikeXx commented on #2314
@tigernero79 Because some people want to go away from world biggest data collector google.
DE: https://f-droid.org/de/docs/Inclusion_How-To/
English: https://f-droid.org/en/docs/Inclusion_How-To/
<details><summary>Quote</summary>
What to Expect

When your application metadata is approved and accepted into the fdroiddata git repository on GitLab, it won’t immediately appear in the main F-Droid repo

[2018-03-07 18:55] AndyScherzinger commented on #2304
Cc @tobiasKaminsky any ideas?

[2018-03-07 18:56] tigernero79 commented on #2314
@xXSTrikeXx It is a battle already lost at the start, I understand the reasons but I do not share personally.
However, it was enough to ask some friends who trust in google :-D the apk file is to install it from resource management of your smartphone. so as not to wait for 48 hours of f-droid.
I repeat, I understand, but it seems very stupid to me to fight a giant like google.

Thanks anyway for t

[2018-03-07 19:13] xXSTrikeXx commented on #2314
@tigernero79 You could also think about Dropbox this way. But now there is Onedrive Google Drive and so on. I think having monopolies in the world would be the biggest loss in terms of privacy and freedom. So yes of course, I don´t share it, too. But today google is no longer what it used to do. Today it´s selling products by the way you can use it costless. But you have to think about it what the

[2018-03-07 19:41] schiessle commented on #2314
Sometimes it can be worth to be a little bit stupid... See the success of Free Software over the last 35 years or what we achieve with Nextcloud by "fighting" against the giants like Google, iCloud, Dropbox & Co.... anyway let's stick to the topic here. The forum is a better place for general discussions

[2018-03-08 06:20] tobiasKaminsky commented on #2288
@tigernero79 so called "dot releases" 3.0.[1-3] are only for bug fixing.
Meanwhile we include new stuff in master, which then will become 3.1.0 (and then again for bug fixing 3.1.[1-x].

[2018-03-08 06:20] #2288 closed

[2018-03-08 06:46] tobiasKaminsky commented on #2245
Fdroid still have some hiccups, but this is not in our hand.
Please re-open once 3.0.3 tested an it did not fixed this.

[2018-03-08 06:53] rullzer opened #2315 "Wrong account displayed on notification"
1. Have 2 accounts setup  in the android app, `Account A` and `Account B`
2. Switch to `Account B` in the client
3. Close the app (probably also work when it stays open but I didn't test)
4. Get a notification in `Account A`
5. Click on the notification

Now:
App is opened on `Account B`'s notification screen and you see an empty list

Expected:
App is opened on `Account A`'s notification screen a

[2018-03-08 07:54] egeu5 commented on #1803
I tested it and it is not working.
Settings: Auto Upload only on wifi, only while charging, use subdir and leave original untouched.
The phone was in power-safe mode (battery was at 13% and die power-safe mode messaged appeard). The phone started to upload the pictures immediately after connecting to the charger.

[2018-03-08 08:24] tobiasKaminsky commented on #2315
Additionally we should also switch completely to account A. If the user wants to do something with the notification (e.g. download file), it is better to be in the correct account directly.

[2018-03-08 08:25] mario commented on #2315
This will be fixed once notifications are improved.

[2018-03-08 08:58] tobiasKaminsky commented on #2263
204 is used on newer server versions.

In general, we should think if we can enhance this.
Checking the connection state is only needed if
- connection changed
- first start

So maybe it is possible to keep track of the current state globally and access the info prior network usage?

[2018-03-08 09:23] tobiasKaminsky commented on #2182
3.0.2 and 3.0.3 did not touched these code parts.
We should keep this open as it happens also on emulator that the accounts are not showing up.

[2018-03-08 09:24] tobiasKaminsky commented on #2271
@mario do you have a PR number for this?

[2018-03-08 09:40] tobiasKaminsky commented on #2270
@rullzer have you experienced this?
We listen if the returned URL starts with "nc://login/".
Do you have an idea when and how this can fail server side?

[2018-03-08 09:43] tobiasKaminsky commented on #2017
@rullzer do you have an idea here?
It seems that the last(?) chunk or maybe assembling the chunks result in an exception, which is then wrongly shown to the user.

Can this be related to HAproxy or it is a timeout somewhere?

[2018-03-08 09:48] tobiasKaminsky commented on #2279
Can you create us a test account and send the credentials to tobias at nextcloud dot com with a reference to this issue?

[2018-03-08 09:54] LiamHD commented on #2307
`03-08 10:51:55.070 23428-23428/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: com.nextcloud.client, PID: 23428
                                                   java.lang.RuntimeException: Unable to start activity ComponentInfo{com.nextcloud.client/com.owncloud.android.authentication.ModifiedAuthenticatorActivity}: java.lang.NullPointerExcep

[2018-03-08 09:56] mario commented on #2271
@tobiasKaminsky https://github.com/nextcloud/android/pull/2253

[2018-03-08 10:08] tobiasKaminsky commented on #2243
Now I got it, then this will be fixed with #1272

[2018-03-08 11:33] tobiasKaminsky commented on #2290
I would say that this can be done when we touch the code, I do not see a reason for doing this in a separate PR.
What can & should be done instead is to extract inner private classes:
`../../../src/main/java/com/owncloud/android/ui/activity/ActivitiesListActivity.java:395: This AsyncTask class should be static or leaks might occur (anonymous android.os.AsyncTask)`

This happens 16x and is shown in

[2018-03-08 11:33] xXSTrikeXx commented on #2307
ping @AndyScherzinger @tobiasKaminsky

[2018-03-08 12:06] rullzer commented on #2017
It seems like a chunk is missing...

```expected filesize 1024000 got 933888```

[2018-03-08 12:28] rullzer commented on #2270
I guess stuffcould go wrong but it should trigger an error then i guess.

@albertlepinski is there anything in your nextcloud.log file?

[2018-03-08 12:59] benpro opened #2316 "InstantUpload corrupt JPEG pictures"
### Actual behaviour

- I synchronize my SnapSeed folder with InstantUpload, and some pictures got corrupted while transferred on my Nextcloud instance.
- https://pics.benpro.fr/TIADhO5q/X5fhbyfb.jpeg
- My guess is that InstantUpload send the picture before the picture was successfully written by SnapSeed/Android.

### Expected behaviour

- No corruption

### Steps to reproduce

1. Install SnapSee

[2018-03-08 13:04] tobiasKaminsky commented on #2280
Creating and using an own server locally is, in my opinion, the better option.
While it is a bit more work, you can do much more testing / debugging when you use a local server.

[2018-03-08 13:06] tobiasKaminsky commented on #2277
What you describe is roughly our 2 way sync #285, but this is not yet done.
If you think this meets your idea, please close.

[2018-03-08 13:12] tobiasKaminsky commented on #2293
Currently "All files / any view with server side files" is our "top" view. If you click back on this, it will close the app.
All other activities (settings, notifications, ...) will return back to the "top" view.

I like the idea. :+1:
In addition the settings activity should also have a slider and behave the same like the other activities.

Let's wait for another feedback and then it can get appr

[2018-03-08 13:18] tobiasKaminsky commented on #2291
Yeah, this is a real good enhancement.
Displaying the root folder (top most folder) of server side file list should show the name of the server instance.
But all other activities should get the right name. :+1:

[2018-03-08 13:37] infernocs commented on #1458
I have this same problem, running the server under freenas and using latest android version and oneplus 5.

[2018-03-08 13:43] tobiasKaminsky commented on #2196
@xXSTrikeXx can you try the failing app with a new account?
I am unsure if we talked about this, but I can create you a test account on a different server.
Can you provide us additional infos via logcat? https://github.com/nextcloud/android/blob/master/README.md#getting-debug-info-via-logcat

[2018-03-08 13:50] tobiasKaminsky commented on #2296
I am unsure if a job can run this few (once per week / month). If the app is terminated/phone restarted, the job will queued again and starting again waiting a week/month. Therefore I would keep it this way.

Internally there is already the possibility to expire.
So this will mainly need a UI.

![2018-03-08-144842](https://user-images.githubusercontent.com/5836855/37154329-ede6496e-22df-11e8-9df7-

[2018-03-08 13:51] tobiasKaminsky commented on #2130
PR is #2253

[2018-03-08 13:54] tobiasKaminsky commented on #2295
So this can be closed as it is working for @khaosjrm?

[2018-03-08 13:55] tobiasKaminsky commented on #2298
Which e2e server app version do you use?
Please upgrade to the latest and try again.

[2018-03-08 13:56] mario commented on #2295
Nah can't. VPN really doesn't work.

[2018-03-08 14:19] hoellen commented on #2298
Same here. I get an invalid CSR error in log.

Nextcloud log:
[code]
Android App: Dev 20180302
E2E Server App: 1.0.4

[2018-03-08 14:31] tobiasKaminsky commented on #2032
Somehow the app can be moved from internal storage to external storage.
There is a specific setting for this is AndroidManifest: https://developer.android.com/guide/topics/data/install-location.html

We never had this set. Starting from 2.2.18 we set this explicitly to "internalOnly", as it was pointed out that this is needed on specific devices.

There are known problems if an app is moved to ext

[2018-03-08 14:36] tobiasKaminsky commented on #2300
There is unfortunately nothing we can do to speed up fdroid as this is done automatically.

[2018-03-08 14:48] tobiasKaminsky commented on #2302
The problem is that the TextView displaying the message is limited to 3 rows.
This should be changed so that text of any length can be shown.

It is not related to anonymized data stuff.
You can just log into server and fire a long notification with
`
php /var/www/nextcloud/occ  notification:generate test "test" -l "iaeiaeaiefgiae9fvchvfg4c5nrt243ns324fdg234h234svaisdte vfg iagesvhgf viahge siaeia

[2018-03-08 14:58] tobiasKaminsky commented on #2305
![2018-03-08-155802](https://user-images.githubusercontent.com/5836855/37157579-82239fec-22e9-11e8-9e57-3f011bb963a1.png)

@nextcloud/designers do you have an idea how to solve this?
Adding another option, alongside with more code, is something I would like to avoid.

As far as I remember we chose ellipsizing it this way as the more important info is at the end, e.g. if you upload a file twice, it

[2018-03-08 15:01] tobiasKaminsky commented on #285
As far as I know we never really talked about this, so please do not rush and let us talk about the overall sync concept before trying to start implementing things.

[2018-03-08 15:03] tobiasKaminsky commented on #2239
@lars-vom-mars-x yes, this is unfortunately the only known solution.
Background can be found here: https://github.com/nextcloud/android/issues/2032#issuecomment-371503315

[2018-03-08 15:04] tobiasKaminsky commented on #2310
Which encryption do you use?

@rullzer @MorrisJobke @schiessle @blizzz for server side

[2018-03-08 15:09] AndyScherzinger commented on #2308
@LiamHD The issue is basically that this worked until pre-3.0.

@tobiasKaminsky any change to get this fixed as in transffering the user/password within the new web login? Since this feature has been build long before the web login via the app has been implemented.

[2018-03-08 15:11] AndyScherzinger commented on #2307
Would need to check the code but I guess there is some issue with the data being transferred to the activity (well, in this case not being transferred.

[2018-03-08 15:14] holocronweaver commented on #285
@tobiasKaminsky @mario To clarify, this has nothing to do with increment 3, which I am working on, right? Seems like an increment 4+ issue.

[2018-03-08 15:15] mario commented on #285
@tobiasKaminsky we talked about this between you, @AndyScherzinger and me months ago. Or did I mistake this for something else? cc @AndyScherzinger

[2018-03-08 15:16] mario commented on #285
@holocronweaver it doesn't. While removing sync adapter isn't a real requirement for stage 3 either, it helps with cleaning up overall sync code.

[2018-03-08 15:17] xXSTrikeXx commented on #2196
@tobiasKaminsky As you can see in my last screenshot I´ve already added a new account to my failing app.
And yes we´ve already talked about this, and you have already send me account credentials to your E2E server 😉 . I think I´ve answered directly to your email 😃 .
Search for:
03-08 15:15:46.522 20042 20503 D OwnCloudClient #9: Creating OwnCloudClient
There i Readded my test account ;)
Please hav

[2018-03-08 16:40] amas01 commented on #2306
Looks like the same as these other issues: #1531 #2032

See if the solution posted here solves the problem for you: [#2032 comment](https://github.com/nextcloud/android/issues/2032#issuecomment-370811027).

[2018-03-08 16:50] xXSTrikeXx opened #2318 "Crash after renaming directory on server"
### Actual behaviour
-Crash on reloading server files

### Expected behaviour
-No Crash

### Steps to reproduce
1. Create Autoupload folder for some other apps (e.g. Facebook, Tumblr or sth. else where you downlaod funny pictures)
2. File uploading works well
3. Decide to rename the folder in the serverUI to make it invisible. E.g. `.Facebook`
4. Open App -> 3 dots -> choose first layer: Refresh a

[2018-03-08 17:19] xXSTrikeXx opened #2319 "Allow to see / sync hidden folders"
In autoupload settings in the 3 dot layer there should be added a new layer  'see hidden folders' to allow also to sync to hidden folders.

In the settings of the app there should be an option to display all files, even hidden, or not 😉

ref bug: #2318

[2018-03-08 17:20] AndyScherzinger commented on #2319
In the settiings of the app there is an option to display/hide hidden files... ;)

[2018-03-08 17:26] #2319 closed

[2018-03-08 17:48] procyon12lotor commented on #2295
Cool. It's not a big deal as you can set Nextcloud as an excluded app.

Just FYI. It DID work in Lineage 14.1 (Android 7.1) and the same setup (Always on OpenVPN imported from .ovpn with default settings) no longer works when I upgraded to 15.1. The only problem is that Nextcloud doesn't know that WiFi+VPN is still WiFi. If you turn off "only upload on WiFi", it uploads as it should.

What's with

[2018-03-08 18:06] mario commented on #285
Btw. to clarify ... even one part of increment 4 is already implemented - we already support folder hierarchies in MASTER.

[2018-03-08 18:40] albertlepinski commented on #2270
![screenshot_20180308-131953](https://user-images.githubusercontent.com/3074447/37169285-834a826e-22d5-11e8-93c4-fa1b168cce62.png)
I do get this on the bottom after a few minutes. "Revert to old login method".  when do that then it's like the two screens are overlapping and I can "back" to the view I expect  but the wrong view pops up over it almost immediately.
For the log file should I paste a n

[2018-03-08 18:49] rullzer commented on #2270
What would be best I guess:

1. clear the file
2. Try to login with the android app again
3. Post the whole file

[2018-03-08 19:41] leafcutterant commented on #2305
I can understand that more user options introduce extra complexity.

How about these solutions?

* Swiping left/right is not yet associated with any action. Swiping left would (after a bit of a delay) display the beginning of the name without any ellipsizing, and one could "scroll" the name all the way to its end with the swiping movements. The same with swiping right, only it would start from the

[2018-03-08 20:15] d-sko commented on #2310
I'm using the default encryption module.

[2018-03-08 20:40] gorn commented on #2245
Will be checking. No trace of 3.0.3 of F-droid yet :)

[2018-03-08 20:43] albertlepinski commented on #2270
here it is.  thanks!
[nextcloud.log](https://github.com/nextcloud/android/files/1794726/nextcloud.log)

[2018-03-08 21:48] louwers commented on #2306
@amas01 That worked! Closing this as a duplicate.

[2018-03-08 21:48] #2306 closed

[2018-03-08 22:15] d-sko commented on #2310
I did some more testing and noticed different behavior:
- file is uploaded and is readable from website and app, but the app shows an upload failed notification anyways
- file is uploaded and not readable and the app shows an upload failed notification
- file is not uploaded at all and the app shows an upload failed notification
- a combination of one of the first three cases together with a uploa

[2018-03-09 00:49] xXSTrikeXx commented on #2270
First looking it seems that you had set some permissions wrong. Please check your server file permissions :)

[2018-03-09 00:57] xXSTrikeXx commented on #2319
I thought now about this a little while. What about my first sentence as suggestion/enhancement? I think not everyone want enable to view hidden files all the time. This layer would improve the UX that they can quick set up hidden folders/files for syncing in autouploader settings. Think about it and lets discuss. 👍  😉
@AndyScherzinger @nextcloud/designers

[2018-03-09 01:16] xXSTrikeXx commented on #2293
Added design label since it is for the UX. Ping @nextcloud/designers

[2018-03-09 02:18] dxj728 opened #2320 "Some of the functions of the Android side after accessing the ldap service are not available"
### Actual behaviour
When you access the ldap server and log in using ldap users, not only is it slower, but the favorites and pictures in the drawer bar have been sharing these features all the time, but no matter how long they are, they won't show the result.

### Expected behaviour
 display normal results after loading

### Steps to reproduce
1. Correctly configure the ldap account on the serve

[2018-03-09 02:57] albertlepinski commented on #2270
What would those be?
We have a stock LG G4 that works fine with this server and my previous HTC m8 did too.  Issue started with the HTC 10.

[2018-03-09 03:54] arundhati24 commented on #2293
sure @tobiasKaminsky thanks :)

[2018-03-09 03:57] arundhati24 commented on #2291
Thanks @tobiasKaminsky . I would work on it. :)

[2018-03-09 04:22] arundhatigupta opened #2321 "Improper text wrapping in the grid view of All files activity"
### Actual behaviour

Currently, the height of the text contents in the text view is greater than the height of the view itself. Due to this a fraction of the height of the text strings becomes invisible.

### Expected behaviour

The text needs to be wrapped properly within the text view.

### Steps to reproduce

1. Open the app and log into your account.
2.  Open the All files activity
3. Choose

[2018-03-09 04:26] arundhati24 commented on #2321
@nextcloud/designers Would you please have a look at this issue? :) I think this is not a big issue, but still this should be fixed. :)

[2018-03-09 06:11] infernocs commented on #1242
This sucks, since the last update my oneplus5 keeps asking for the password all the time.

[2018-03-09 08:21] AndyScherzinger commented on #2319
I don't have a strong opinion on this but get the idea to be able to sync to hidden folders, while that would just mean showing them in the remote folder chooser and maybe also show them in the local folder chooser for custom folders. What I don't know is if this should be optional or just the default since adding a setting screen or general auto upload settings adds a layer of complexity where I'

[2018-03-09 10:33] MorrisJobke commented on #2310
cc @icewind1991 & @nextcloud/encryption

[2018-03-09 11:20] rullzer commented on #2310
If you are using only server side encryption this can't be an issue of the android app (as I doesn't know or care it just uploads).

Do you have the same issue when using the webui?

[2018-03-09 11:25] vincentadultman commented on #2314
Having tested with 3.0.3 from the google play store, this is unfortunately still happening.

[2018-03-09 11:49] d-sko commented on #2310
No, it's working fine when using the webui.

[2018-03-09 12:10] d-sko commented on #2310
Now I had the same issue in the webui too:
![image](https://user-images.githubusercontent.com/5774313/37207006-4435fb1e-239b-11e8-970e-4df6bde9bc56.png)

[2018-03-09 12:16] AndyScherzinger commented on #2314
cc @tobiasKaminsky

[2018-03-09 13:21] mannp commented on #2314
@schiessle I cannot tell if your change is working as I have too many locked files, and nc clients are complaining at 12 files being locked which are not part of E2EE.

Until I understand why they have not gotten locked I cannot issolate this one issue out.

It seems it may be a wider issue I am having with E2EE interferring in none E2EE syncs?

[#8756](https://github.com/nextcloud/server/issues/8

[2018-03-09 16:46] xXSTrikeXx commented on #2320
Can you update to latest v3.0.3 and give it a try? 😃

[2018-03-09 16:49] xXSTrikeXx commented on #2321
@arundhati24 It is the same or associated with #2305 ?

[2018-03-09 17:31] jancborchardt commented on #2321
Yeah, good point.

The filetype icons could be a bit smaller here, they are very big. (Image previews should retain size thought.) Then the text has more space and can move up a bit.

[2018-03-09 19:10] AndyScherzinger commented on #2321
I agree with Jan and no, has nothing to do with #2305 imho

[2018-03-09 19:14] macemoneta opened #2323 "RFE: Allow setting a delay before auto upload"
### Actual behaviour
-Tell us what happens

Set auto upload to delete after upload. Take a photo. Go to show it to someone in the on-device gallery, and it's gone. Go to edit it on device, it's gone. Go to email/text it, it's gone.

### Expected behaviour
-Tell us what should happen

It's very convenient to have photos auto uploaded, and deleting them after successful upload helps manage device sp

[2018-03-09 22:19] gruhland commented on #2133
I also have this issue with a Motorola Moto Z (Android 7.1.1) and Nextcloud app 3.0.3. Server version is 11.02.

[2018-03-10 03:20] arundhati24 commented on #2321
@xXSTrikeXx As @AndyScherzinger mentioned, it is not the same as #2305  :)

[2018-03-10 08:26] Seferi commented on #2296
This is definitely a needed feature.. I have tons off contacts backup in the hidden folder and deleting then manually is a pain..

[2018-03-10 11:30] lars-vom-mars-x commented on #2239
very thanks! it works.
- That's stupid with the sdcard as "internal storage". At this point all apps will be installed on sdcard, without warnings.
- > Another solution is to use a different server address if possible.

Sometimes you don't get the simplest things. Thanks again! :-)

[2018-03-10 12:43] timmersr commented on #2323
I would prefer a delay too. The current partial work-around is to set 'Only upload when charging'.

[2018-03-10 12:56] timmersr opened #2324 "REQ: clear the history of the "Uploaded" section."
Actual behaviour

-Tell us what happens

The "Uploaded" section has hunderds of succesful uploads with small previews listed over the last year. (In my case) the originals of these pictures have been automatically deleted via Auto-Upload.

-Tell us what should happen

The possibility to select the whole or individual entries in the "Uploaded" section and delete them.
After seeing that the upload h

[2018-03-10 18:32] Bugsbane commented on #2323
@timmersr Rather than adding a "me too" comment, try adding a "thumbs up" reaction to the original post. This way the developers dob't get overwhelmed with comments that don't further define the problem/solution, and they can see how many people want the feature, right in a number on the original post.

[2018-03-10 18:55] Bugsbane commented on #553
Neither is it user frierndly to have to wade through 1000 options to get the same result that most other people want.

[2018-03-10 19:06] Bugsbane commented on #2019
Possibly. I have this issue and have my camera app set to store on external sd card...

[2018-03-10 19:10] mario commented on #2019
I also use sdcard @tobiasKaminsky when testing. @Bugsbane using 3.0.3?

[2018-03-10 19:11] Bugsbane commented on #2323
By the way, we seem to have quite a few requests for "delay before uploading/deleting" functionality. Just from I quick search, I see:
https://github.com/nextcloud/android/issues/1167
https://github.com/nextcloud/android/issues/1445
https://github.com/nextcloud/android/issues/1803
https://github.com/nextcloud/android/issues/1899

...in addition to this issue. The most common usecase between these

[2018-03-10 19:13] Bugsbane commented on #2019
Currently, yes, however I've had this issue through quite a few upgrades. From memory though it did work somewhere around the 2.0 release.

[2018-03-10 19:25] Bugsbane opened #2325 "Auto upload ignores files already in auto-upload folders beforehand"
### Steps to reproduce
1. Install the NC 3.0.3 app. Switch on auto upload for one of the folders already detected by auto-upload, or add a new folder maually and switch sync on. Notice that files are shown in that folder in "Auto uploads"
2. Go to "Uploads"
3. Notice that it finds and uploads  nothing uploads until a new file is added, and even then everything but the new files are ignored.

### E

[2018-03-10 20:04] Bugsbane opened #2326 "Feature Request: 2 click authorization for apps to use NC account"
Currently I have the following apps all installed accessing my Nextcloud server:

- Nextcloud
- Nextcloud dev
- Tasks (new caldav branch)
- Davdroid
- Simpletask Nextcloud
- Notes for Nextcloud
- Advanced Call Recorder
- Davdroid
- Nextcloud News
- Nextcloud Bookmarks

...and a couple I don't even remember the name of (like the FOSS app I use to track my car expenses, which syncs over Nextcloud).

[2018-03-11 03:28] xXSTrikeXx commented on #2325
At the moment it´s not implemented. But it´s a longer goal to implement it in the future. Have a loog at #285 This is the roadmap to the final app. Feel also free to contribute 😉
Atm only recently taken files will be uploaded after enabling autouploader for these files 😃

[2018-03-11 03:28] #2325 closed

[2018-03-11 03:35] xXSTrikeXx commented on #2324
You can already clear all recently uploads in the 3 dot menu 😉

[2018-03-11 03:37] xXSTrikeXx commented on #2296
@Seferi A suggestion for deletion: Select all and then deselect the latest which you want to keep 😉

[2018-03-11 07:00] mario commented on #2324
To clarify, you need to enable expert mode in settings to do that.

[2018-03-11 07:01] #2324 closed

[2018-03-11 08:52] maxmeyer opened #2327 "Backup Contacts to selected Nextcloud Instance"
### Actual behaviour
- Backup of contacts is enabled
- The app is configured to use to separate accounts - one which is internal (local LAN) and one is external (internet)
- The app is configured to upload a backup of my contacts
- The app uploads the contact backup to the external nextcloud only although the internal account was selected before activating the contact backup
- When I switch to "Se

[2018-03-11 09:10] AndyScherzinger commented on #2321
@arundhati24 since Jan from designers and me from dev perspective are fine with the issue and Jan proposed a way to do it I think it is good to go 👍

[2018-03-11 09:14] MarkusH1975 commented on #2296
@tobiasKaminsky prefixed values sounds good.

Interval for Backups:
"every day, every week, every 2 weeks, every month, every 2 month, every 3 month"

I personally wound not go to more than 3 month. I think at some point it makes no sense any more.

@Seferi, @xXSTrikeXx , what about prefixed values for deletion:
Number of backups to keep:
"1, 2, 3, 5, 10, 20, 30, 50,100, all"

Since the backups ha

[2018-03-11 16:27] thdrmz opened #2328 "unable to add cloud account"
### Actual behaviour
Upgrade to Server Version 13

### Expected behaviour
unable to login with android app

### Steps to reproduce
do have any problems on cloud server version 12

### Environment data
Android version:
7.1
Device model:
Samsung S5 - SM-G901F

Stock or customized system:
linage os
Nextcloud app version:
current version in app store
Nextcloud server version:
13
### Logs
#### Web serv

[2018-03-11 18:01] d-sko commented on #2310
Short update: I'm not sure anymore that the app has a problem. Even the desktop client can't sync this folder. To be more specific: it is able to sync the folder structure, but not the files.

[2018-03-11 20:38] marmeladema opened #2329 "Crash loop when showing upload history"
### Actual behaviour
When i start the application, unlock it with my fingerprint and try to show the upload history, it crashes. Ii then restarts by itself and if I unlock it again, it crashes directly, i guess because it try to directly show upload history.
For the record, i was abroad without internet for a few days and took photos. There should be around 240 photos waiting in failure state beca

[2018-03-11 20:59] pedrxd commented on #2295
For me still not working, using vpn can't auto-upload. Using vpn is the unique way for connect to my server. Any solution?

[2018-03-12 01:06] 80tf3262p8 commented on #2314
I'm not sure if it's related, but 3.0.3 fixed the basic inability to interact with encrypted folders and view the files inside, for me. That said, I still have the "file is locked" issue you linked to that makes E2EE unusable the vast majority of the time.

[2018-03-12 07:15] #2213 closed

[2018-03-12 07:22] tobiasKaminsky commented on #2132
TODO

Library
- [ ] review & merge all [outstanding PRs](https://github.com/nextcloud/android-library/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+label%3A%222.+to+review%22)
- [ ] tag new release

App
- [ ] review & merge all [outstanding PRs](https://github.com/nextcloud/android/pulls?page=1&q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+milestone%3A%22Nextcloud+App+3.1.0%22+label%3A%222.+to+review%22

[2018-03-12 08:42] tobiasKaminsky commented on #2132
I went through all PRs that have "to review" label.
Most of them have already an approval by @AndyScherzinger, so they only need some approval by either @mario or @przybylski.
I will have a look into those PRs that require an approval by me this week.

Ideally we can merge the PRs soon so they are some time in dev version until RC1 is done next week on thursday.

[2018-03-12 10:14] tobiasKaminsky opened #2333 "Do not show conflict dialog if app is in background"
Following up discussion from https://github.com/nextcloud/android/pull/2253#discussion_r173728945:

Currently (with old and new sync implementation) a dialog showing a conflicting file can be shown even if the app is in background, which should be avoided as it distracts the user.

In my opinion there are three possible solutions
- show a notification once the conflict appears
- show conflicting d

[2018-03-12 11:12] AndyScherzinger opened #2334 "Improve Notification screen layout handling"
Actual situation with #2322
Before & after:
![2018-03-12-081147](https://user-images.githubusercontent.com/5836855/37269950-0c948cbe-25cd-11e8-8dcd-c6d56d6c0b0c.png) ![2018-03-12-081118](https://user-images.githubusercontent.com/5836855/37269951-0cae1e54-25cd-11e8-8edc-5a892b8b2caa.png)

Imho we should handle this similar to how the OS handles longer notifications by showing a shortened (ellipsize